<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

    <div th:fragment="bandPopup">

        <div id="confirmDialog">
            <div id="bandPopupBackground"
                style="position: absolute; left: 0px; top: 0px; width: 100%; z-index: 1000; display: none;"></div>
            <div class="bandPopup">
                <div class="bandPopupMessage"></div>
                <div class="bandPopupButton"></div>
            </div>
        </div>

        <div id="infoDialog">
            <div
                th:if="!${result.getMessageInfo().isEmptyFlashMessages()}">
                <div class="bandPopup">
                    <div class="bandPopupMessage">
                        <div th:each="msg : ${result.getMessageInfo().getFlashMessages()}" th:utext="${msg}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>