<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

    <!-- Change Property Multiple Close -->
    <div th:fragment="multiplecloseComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason">
            <div class="actionCheck clearfix">
                <div class="actionCheckUnit">
                    <h2>
                        <span
                            th:text="#{ChangePropertyList.titleBox.text}">変更管理情報を一括クローズする</span>
                        <span class="helpBtn inline"><a th:href="#{ChangePropertyClosed.help.url}"
                                                        target="_blank"><i class="fa fa-question"></i></a></span>
                    </h2>
                    <p>
                        <span
                            th:text="#{ChangePropertyList.comment.text}">コメント</span>
                    </p>
                    <textarea class="form-control" rows="3"
                        name="reason" style="resize: vertical;"></textarea>
                </div>
                <nav class="actionCheckNav">
                    <ul>
                        <li><a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="closeComment();"> <span
                                th:text="#{ChangePropertyList.cancel.text}">キャンセル</span>
                        </a></li>
                        <li><a href="javascript:void(0);"
                            onClick="submitMultipleCloseService('FlowChangePropertyMultipleCloseService'); return false;"
                            class="btn btn-default strong commentSubmitButtons">
                                <span
                                th:text="#{ChangePropertyList.submitBulkClose.text}">一括クローズする</span>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Change Property Removal -->
    <div th:fragment="removalComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowChangePropertyRemovalService" method="POST"
                th:action="@{/chgproperty/remove}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="ChangePropertyDetails" /> <input
                    type="hidden" name="forward"
                    value="ChangePropertyList" /> <input type="hidden"
                    name="pjtId"
                    th:value="${result.param.selectedPjtId}" />  <input type="hidden" 
                    name="referer" value="ChangePropertyDetails"/> <input type="hidden" 
                    name="forward" value="ChangePropertyList"/>
                <div class="actionCheck clearfix">	
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{ChangePropertyDetails.changeRemoval.text}">変更管理情報を削除する</span>
                            <span class="helpBtn inline"><a th:href="#{ChangePropertyRemoval.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span
                                th:text="#{ChangePropertyDetails.comment.text}">コメント</span>
                        </p>
                        <textarea class="form-control" rows="3"
                            name="reason" style="resize: vertical;"></textarea>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{ChangePropertyDetails.cancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                               	th:onClick="'submitReasonDialog(\'FlowChangePropertyRemovalService\', \'' 
   									+ #{ChangePropertyDetails.confirmationRemoval.text} 
   									+ '\', \'' + #{ChangePropertyDetails.yes.text} 
   									+ '\', \'' + #{ChangePropertyDetails.no.text} 
   									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{ChangePropertyDetails.remove.text}">削除する</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- Change Property Test Completion -->
    <div th:fragment="testCompletionComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowChangePropertyTestCompletionService"
                method="POST" th:action="@{/chgproperty/testcomplete}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="ChangePropertyDetails" /> <input
                    type="hidden" name="forward"
                    value="ChangePropertyList" /> <input type="hidden"
                    name="pjtId"
                    th:value="${result.param.selectedPjtId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{ChangePropertyDetails.testCompletion.text}">変更管理情報をテスト完了にする</span>
                            <span class="helpBtn inline"><a th:href="#{ChangePropertyTestComplete.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span
                                th:text="#{ChangePropertyDetails.comment.text}">コメント</span>
                        </p>
                        <textarea class="form-control" rows="3"
                            name="reason" style="resize: vertical;"></textarea>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{ChangePropertyDetails.cancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                onClick="submitTestCompletionService('FlowChangePropertyTestCompletionService'); return false;"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{ChangePropertyDetails.testComplete.text}">テスト完了にする</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- Change Property Close -->
    <div th:fragment="closeComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowChangePropertyCloseService" method="POST"
                th:action="@{/chgproperty/close}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="ChangePropertyDetails" /> <input
                    type="hidden" name="forward"
                    value="ChangePropertyList" /> <input type="hidden"
                    name="pjtId"
                    th:value="${result.param.selectedPjtId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{ChangePropertyDetails.changeClose.text}">変更管理情報をクローズする</span>
                            <span class="helpBtn inline"><a th:href="#{ChangePropertyClosed.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span
                                th:text="#{ChangePropertyDetails.comment.text}">コメント</span>
                        </p>
                        <textarea class="form-control" rows="3"
                            name="reason" style="resize: vertical;"></textarea>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{ChangePropertyDetails.cancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                onClick="submitCloseService('FlowChangePropertyCloseService'); return false;"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{ChangePropertyDetails.changeClose.text}">クローズする</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- Removal Request Cancellation -->
    <div th:fragment="removalRequestCancellationComment">
   		<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form
                id="FlowRemovalRequestApprovalPendingCancellationService"
                method="POST" th:action="@{/removal/cancel}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="RemovalRequestDetails" /> <input
                    type="hidden" name="forward"
                    value="RemovalRequestList" /> <input type="hidden"
                    name="areqId"
                    th:value="${result.param.selectedAreqId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{RemovalReqDetails.cancelRemovalReq.text}">削除申請を取り下げる</span>
                            <span class="helpBtn inline"><a th:href="#{ResourceRemovalRequestCancellation.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span> <span
                                th:text="#{RemovalReqDetails.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control  validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{RemovalReqDetails.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{RemovalReqDetails.cancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                onClick="if (validateOnSubmit()) submitCancellationService('FlowRemovalRequestApprovalPendingCancellationService'); return false;"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{RemovalReqDetails.cancelRemovalReq.text}">削除申請を取り下げる</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- Checkin Request Cancellation -->
    <div th:fragment="checkinRequestCancellationComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
            <div id="replace_reason" style="display: none;">
                <div class="actionCheck clearfix">
               		<form id="FlowCheckinRequestApprovalPendingCancellationService"
            			method="POST" th:action="@{/checkin/cancel}">
            			<input type="hidden" name="RequestType"
                		value="submitChanges" /> <input type="hidden"
                		name="referer" value="CheckinRequestDetails" /> <input
                		type="hidden" name="forward"
                		value="CheckInOutRequestList" /> <input
                		type="hidden" name="areqId"
                		th:value="${result.param.selectedAreqId}" />
	                    <div class="actionCheckUnit">
	                        <h2>
	                            <span
	                                th:text="#{ChkInReqDetails.cancelChkInReq.text}">取り下げる</span>
	                            <span class="helpBtn inline"><a th:href="#{CheckInRequestCancellation.help.url}"
                                                                target="_blank"><i class="fa fa-question"></i></a></span>
	                        </h2>
	                        <p>
	                            <span class="required">*</span> <span
	                                th:text="#{ChkInReqDetails.comment.text}">コメント</span>
	                        </p>
	                        <div style="position: relative;">
	                            <textarea class="form-control validation" rows="3"
	                                name="reason" style="resize: vertical;"></textarea>
	                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{ChkInReqDetails.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
	                        </div>
	                    </div>
                    </form>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{ChkInReqDetails.return.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowCheckinRequestApprovalPendingCancellationService\', \'' 
									+ #{ChkInReqDetails.confirmCancellation.text} 
									+ '\', \'' + #{ChkInReqDetails.yes.text} 
									+ '\', \'' + #{ChkInReqDetails.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{ChkInReqDetails.submit.text}">返却申請を取り下げる</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
    </div>

    <!-- ChangeRequestApprovalPendingDetails -->
    <div th:fragment="changeRequestApprovalPendingAprovalComment">
   		 <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <div class="actionCheck clearfix">
                <div class="actionCheckUnit">
                    <h2>
                        <span
                            th:text="#{ChangeReqPendingApproval.titleboxApprove.text}">変更申請を承認する</span>
                        <span class="helpBtn inline"><a th:href="#{ChangeRequestApproval.help.url}"
                                                        target="_blank"><i class="fa fa-question"></i></a></span>
                    </h2>
                    <p>
                        <span class="required">*</span> <span
                            th:text="#{ChangeReqPendingApproval.comment.text}">コメント</span>
                    </p>
                    <div style="position: relative;">
                        <textarea class="form-control validation" rows="3"
                            name="reason" style="resize: vertical;"></textarea>
                        <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{ChangeReqPendingApproval.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                        </div>
                    </div>
                </div>
                <nav class="actionCheckNav">
                    <ul>
                        <li><a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="closeComment();"> <span
                                th:text="#{ChangeReqPendingApproval.buttonCancel.text}">キャンセル</span>
                        </a></li>
                        <li><a href="javascript:void(0);"
                            onClick="if (validateOnSubmit()) submitApprovalService('FlowChangeRequestApprovalPendingApprovalService'); return false;"
                            class="btn btn-default strong commentSubmitButtons">
                                <span
                                th:text="#{ChangeReqPendingApproval.buttonSubmitApprove.text}">変更申請を承認する</span>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- LotClose -->
    <div th:fragment="lotClose">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowLotCloseService" method="POST"
                th:action="@{/lot/close}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="LotDetails" /> <input
                    type="hidden" name="forward" value="DashBoard" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span th:text="#{LotDetails.lotClose.text}">ロットをクローズする</span>
                            <span class="helpBtn inline"><a th:href="#{LotClose.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span><span
                                th:text="#{LotDetails.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{LotDetails.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{LotDetails.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                onClick="if (validateOnSubmit()) submitCloseService('FlowLotCloseService'); return false;"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{LotDetails.buttonClose.text}">クローズする</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- LotRemoval -->
    <div th:fragment="lotRemoval">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowLotRemovalService" method="POST"
                th:action="@{/lot/remove}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="LotDetails" /> <input
                    type="hidden" name="forward" value="Dashboard" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{LotDetails.lotRemoval.text}">ロットを削除する</span>
                            <span class="helpBtn inline"><a th:href="#{LotRemoval.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span><span
                                th:text="#{LotDetails.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{LotDetails.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{LotDetails.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                onClick="if (validateOnSubmit()) submitRemovalService('FlowLotRemovalService'); return false;"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{LotDetails.buttonRemove.text}">削除する</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- Return to Pending (ChangeRequestApprovalApprovedDetails) -->
    <div th:fragment="returnToPending">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form
                id="FlowChangeRequestApprovalApprovedReturnToPendingService"
                method="POST"
                th:action="@{/chgproperty/approved/returnToPending}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer"
                    value="ChangeRequestApprovalApprovedDetails" /> <input
                    type="hidden" name="forward"
                    value="ChangeRequestApprovalList" /> <input
                    type="hidden" name="pjtId"
                    th:value="${result.param.selectedPjtId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{ChangeReqApproved.submitReturnToPending.text}">承認を取り消す</span>
                            <span class="helpBtn inline"><a th:href="#{ChangeRequestApprovalCancellation.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span> <span
                                th:text="#{ChangeReqApproved.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{ChangeReqApproved.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{ChangeReqApproved.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowChangeRequestApprovalApprovedReturnToPendingService\', \'' 
									+ #{ChangeReqApproved.confirmationReturnToPending.text} 
									+ '\', \'' + #{ChangeReqApproved.yes.text} 
									+ '\', \'' + #{ChangeReqApproved.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{ChangeReqApproved.submitReturnToPending.text}">承認を取り消す</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- MergeCommit -->
    <div th:fragment="mergeCommit">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowMergeCommitService" method="POST"
                th:action="@{/merge/commit}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="Merge" /> <input
                    type="hidden" name="forward" value="MergeLotList" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{Merge.mergeCreation.text}">承認を取り消す</span>
                            <span class="helpBtn inline"><a th:href="#{Merge.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span> <span
                                th:text="#{Merge.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{Merge.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{Merge.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowMergeCommitService\', \'' 
									+ #{Merge.confirmationMergeCreation.text} 
									+ '\', \'' + #{Merge.yes.text} 
									+ '\', \'' + #{Merge.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{Merge.mergeCreation.text}">マージを実行する</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- Build Package Cancellation -->
    <div th:fragment="buildPackageRemovalComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowBuildPackageRemovalService" method="POST"
                th:action="@{/build/remove}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="BuildPackageDetails" /> <input
                    type="hidden" name="forward"
                    value="BuildPackageList" /> <input type="hidden"
                    name="bpId" th:value="${result.param.selectedBpId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{BPDetails.titleRemove.text}">ビルドパッケージを取り消す</span>
                            <span class="helpBtn inline"><a th:href="#{BuildPackageCancellation.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span> <span
                                th:text="#{BPDetails.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{BPDetails.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{BPDetails.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if(validateOnSubmit()) submitReasonDialog(\'FlowBuildPackageRemovalService\', \'' 
									+ #{BPDetails.removal.text} 
									+ '\', \'' + #{BPDetails.yes.text} 
									+ '\', \'' + #{BPDetails.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{BPDetails.submitCancelCreation.text}">取り消す</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- Build Package Close -->
    <div th:fragment="buildPackageCloseComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <div class="actionCheck clearfix">
                <div class="actionCheckUnit">
                    <h2 th:unless="${result.confirmView.isWarning()}">
                        <span th:text="#{BPClose.titleClosePkg.text}">クローズする</span>
                        <span class="helpBtn inline"><a th:href="#{BuildPackageClose.help.url}"
                                                        target="_blank"><i class="fa fa-question"></i></a></span>
                    </h2>
                    
                    <h2 id="commentMessages" th:if="${result.confirmView.isWarning()}">
                    	<img src="../../images/trinity/common/icon_error.png" th:src="@{/resources/images/common/icon_error.png}" height="20px"/>
                    	<span th:text="#{BPClose.messageClosePkgWarning.text}">ビルドパッケージをクローズする</span>
                    </h2>
                        
                    <div th:if="${result.confirmView.isWarning()}" style="position: relative;" id="vlidateMessagePositionOfAgreement">
                        <span class="required">*</span>
                        
                        <input type="checkbox" name="submitAgreement" class="validation validationMessagePosition validationMessageId validationCustomPattern" value="true" 
                                data-validationMessagePosition="vlidateMessagePositionOfAgreement"
                                data-validationMessageId="formError_agreement"
                                data-validationCustomPattern="checkbox_atLeastOne"/>
                        
                        <font size="2" style="color:#0000ff">
                            <th:block th:text="${result.confirmView.agreementMessage}"></th:block>
                        </font>
                        
                        <font size="2" th:each="res : ${result.confirmView.warningMessages}">
                             <br/><br/><br/>
                             <th:block th:text="${res}"></th:block>
                        </font>
                        
                        <div id="formError_agreement" class="formError commentFormError" style="display: none;">
	                        <span th:text="#{BPClose.validationErrorOfAgreementCheckbox.text}">チェックボックスは必須項目です</span>
	                    </div>
                    </div>
                    
                    <span th:if="${result.confirmView.isWarning()}">
                         <br/><br/><br/>
                    </span>
                    
                    <p>
                        <span class="required">*</span> <span
                            th:text="#{BPClose.comment.text}">コメント</span>
                    </p>
                    <div style="position: relative;">
                        <textarea class="form-control validation" rows="3"
                            name="reason" style="resize: vertical;"></textarea>
                        <div class="formError commentFormError" style="display: none;">
                            <span th:text="#{BPClose.comment.text}">コメント</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <nav class="actionCheckNav">
                    <ul>
                        <li><a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="closeComment();"> <span
                                th:text="#{BPClose.buttonCancel.text}">キャンセル</span>
                        </a></li>
                        <li><a href="javascript:void(0);"
                            th:onClick="'setActionToForm(\'FlowBuildPackageCloseService\', \'' + @{/build/close} + '\');  setParamsToForm(\'FlowBuildPackageCloseService\', {\'RequestType\' : \'submitChanges\'}); if (validateOnSubmit()) submitReasonDialog(\'FlowBuildPackageCloseService\', \'' 
								+ #{BPClose.confirmClosePkg.text} 
								+ '\', \'' + #{BPClose.yes.text} 
								+ '\', \'' + #{BPClose.no.text} 
								+ '\' ); return false;'"
                            class="btn btn-default strong commentSubmitButtons">
                                <span
                                th:text="#{BPClose.submitClosePkg.text}">クローズする</span>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Release Package Removal -->
    <div th:fragment="releasePackageRemovalComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form id="FlowReleasePackageRemovalConfirmService" method="POST"
                th:action="@{/release/remove}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="ReleasePackageDetails" /> <input
                    type="hidden" name="forward"
                    value="ReleasePackageList" /> <input
                	type="hidden" name="rpId"
                	th:value="${result.param.selectedRpId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{RPDetails.titleCancel.text}">リリースパッケージを取り消す</span>
                            <span class="helpBtn inline"><a th:href="#{ReleasePackageCancellation.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span> <span
                                th:text="#{RPDetails.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{BPDetails.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{RPDetails.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowReleasePackageRemovalConfirmService\', \'' 
									+ #{RPDetails.confirmationRemoval.text} 
									+ '\', \'' + #{RPDetails.yes.text} 
									+ '\', \'' + #{RPDetails.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{RPDetails.submitCancelCreation.text}">取り消す</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>

    <!-- ConflictCheck -->
    <div th:fragment="conflictCheckComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <div class="actionCheck clearfix">
                <div class="actionCheckUnit">
                   	<h2 th:unless="${result.confirmView.isWarning()}">
                        <span
                            th:text="#{ConflictCheck.conflictCheckCreation.text}">コンフリクトチェックを実行する</span>
                        <span class="helpBtn inline"><a th:href="#{ConflictCheck.help.url}"
                                                        target="_blank"><i class="fa fa-question"></i></a></span>
                    </h2>
                    <h2 id="commentMessages" th:if="${result.confirmView.isWarning()}">
                    	<img src="../../images/trinity/common/icon_error.png" th:src="@{/resources/images/common/icon_error.png}"
                    		 height="20px"/>
                    	<span th:text="#{ConflictCheck.conflictCheckCreation.text}">コンフリクトチェックを実行する</span>
                   	</h2>
                        
                    <div th:if="${result.confirmView.isWarning()}" style="position: relative;" id="vlidateMessagePositionOfAgreement">
                        <span class="required">*</span>
                        
                        <input type="checkbox" name="submitAgreement" class="validation validationMessagePosition validationMessageId validationCustomPattern" value="true" 
                                data-validationMessagePosition="vlidateMessagePositionOfAgreement"
                                data-validationMessageId="formError_agreement"
                                data-validationCustomPattern="checkbox_atLeastOne"/>
                        
                        <font size="2" style="color:#0000ff">
                            <th:block th:text="${result.confirmView.agreementMessage}"></th:block>
                        </font>
                        
                        <font size="2" th:each="res : ${result.confirmView.warningMessages}">
                             <br/><br/><br/>
                             <th:block th:text="${res}"></th:block>
                        </font>
                        
                        <div id="formError_agreement" class="formError commentFormError" style="display: none;">
	                        <span th:text="#{BPClose.validationErrorOfAgreementCheckbox.text}">チェックボックスは必須項目です</span>
	                    </div>
                    </div>
                    
                    <span th:if="${result.confirmView.isWarning()}">
                         <br/><br/><br/>
                    </span>
                    
                    <p>
                        <span class="required">*</span><span
                            th:text="#{ConflictCheck.comment.text}">コメント</span>
                    </p>
                    <div style="position: relative;">
                        <textarea class="form-control validation" rows="3"
                           name="reason" style="resize: vertical;"></textarea>
                        <div class="formError commentFormError" style="display: none;">
                           <span th:text="#{ConflictCheck.comment.text}">コメント</span>
                           <span
                               th:text="#{Validation.isRequired.text}">is
                               required.</span>
                        </div>
                    </div>
                </div>
                <nav class="actionCheckNav">
                    <ul>
                        <li><a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="closeComment();"> <span
                                th:text="#{ConflictCheck.buttonCancel.text}">キャンセル</span>
                        </a></li>
                        <li><a href="javascript:void(0);"
                            th:onClick="'setActionToForm(\'FlowConflictCheckService\', \'' + @{/merge/conflictcheck} + '\');  setParamsToForm(\'FlowConflictCheckService\', {\'RequestType\' : \'submitChanges\', \'selectedLotBlId\' : $(\'input[name=selectedLotVerTag]:checked\').val(), \'WindowsId\' : $(\'#windowId\').val()}); if (validateOnSubmit()) submitReasonDialog(\'FlowConflictCheckService\', \'' 
								+ #{ConflictCheck.confirmationConflictCheck.text} 
								+ '\', \'' + #{ConflictCheck.yes.text} 
								+ '\', \'' + #{ConflictCheck.no.text} 
								+ '\' ); return false;'"
                            class="btn btn-default strong commentSubmitButtons">
                                <span
                                th:text="#{ConflictCheck.buttonSubmit.text}">実行する</span>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- changeApprovalServiceMultipleApproval -->
    <div th:fragment="changeApprovalServiceMultipleApprovalComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <div class="actionCheck clearfix">
                <div class="actionCheckUnit">
                    <h2>
                        <span
                            th:text="#{ChangeReqApprovalList.bulkApprove.text}">変更申請を承認する</span>
                        <span class="helpBtn inline"><a th:href="#{ChangeRequestApproval.help.url}"
                                                        target="_blank"><i class="fa fa-question"></i></a></span>
                    </h2>
                    <p>
                        <span class="required">*</span> <span
                            th:text="#{ChangeReqPendingApproval.comment.text}">コメント</span>
                    </p>
                    <div style="position: relative;">
                        <textarea class="form-control validation" rows="3"
                            name="reason" style="resize: vertical;"></textarea>
                        <div class="formError commentFormError" style="display: none;">
                            <span th:text="#{ChangeReqPendingApproval.comment.text}">コメント</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <nav class="actionCheckNav">
                    <ul>
                        <li><a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="closeComment();"> <span
                                th:text="#{ChangeReqPendingApproval.buttonCancel.text}">キャンセル</span>
                        </a></li>
                        <li><a href="javascript:void(0);"
                            onClick="if (validateOnSubmit()) submitMultipleApprovalService('FlowChangeRequestApprovalPendingMultipleApproval'); return false;"
                            class="btn btn-default strong commentSubmitButtons">
                                <span
                                th:text="#{ChangeReqPendingApproval.buttonSubmitApprove.text}">変更申請を承認する</span>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- changeApprovalPendingReturnToSubmitterComment -->
    <div th:fragment="changeApprovalPendingReturnToSubmitterComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <div class="actionCheck clearfix">
                <div class="actionCheckUnit">
                    <h2>
                        <span
                            th:text="#{ChangeReqPendingApproval.returnToSubmitter.text}">差し戻し</span>
                        <span class="helpBtn inline"><a th:href="#{ChangeRequestApprovalReturnToSubmitter.help.url}"
                                                        target="_blank"><i class="fa fa-question"></i></a></span>
                    </h2>
                    <p>
                        <span class="required">*</span> <span
                            th:text="#{ChangeReqPendingApproval.comment.text}">コメント</span>
                    </p>
                    <div style="position: relative;">
                        <textarea class="form-control validation" rows="3"
                            name="reason" style="resize: vertical;"></textarea>
                        <div class="formError commentFormError" style="display: none;">
                            <span th:text="#{BPDetails.comment.text}">コメント</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <nav class="actionCheckNav">
                    <ul>
                        <li><a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="closeComment();"> <span
                                th:text="#{ChangeReqPendingApproval.buttonCancel.text}">キャンセル</span>
                        </a></li>
                        <li><a href="javascript:void(0);"
                            onClick="if (validateOnSubmit()) ajaxReturnToSubmitter();"
                            class="btn btn-default strong commentSubmitButtons">
                                <span
                                th:text="#{ChangeReqPendingApproval.returnToSubmitter.text}">差し戻し</span>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
     <!-- Return to Pending (ReleaseRequestApprovalApprovedDetails) -->
    <div th:fragment="releaseRequestApprovedReturnToPending">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form
                id="FlowReleaseRequestApprovedReturnToPendingService"
                method="POST"
                th:action="@{/release/request/approved/returnToPending}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer"
                    value="ReleaseRequestApprovedDetails" /> <input
                    type="hidden" name="forward"
                    value="ReleaseRequestList" /> <input
                    type="hidden" name="raId"
                    th:value="${result.param.selectedRaId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{RRApprovalApprovedDetails.approvalCancelBoxTitle.text}">承認を取り消す</span>
                            <span class="helpBtn inline"><a th:href="#{ReleaseRequestApprovalCancellation.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span> <span
                                th:text="#{ChangeReqApproved.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{ChangeReqApproved.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{ChangeReqApproved.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowReleaseRequestApprovedReturnToPendingService\', \'' 
									+ #{RRApprovalApprovedDetails.cancelConfirm.text} 
									+ '\', \'' + #{RRApprovalApprovedDetails.yes.text} 
									+ '\', \'' + #{RRApprovalApprovedDetails.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{RRApprovalApprovedDetails.approvalCancellation.text}">承認を取り消す</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>
    
    <div th:fragment="releaseRequestApprovedClose">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <div id="replace_reason" style="display: none;">
            <form
                id="FlowReleaseRequestApprovedCloseService"
                method="POST"
                th:action="@{/release/request/close}">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer"
                    value="ReleaseRequestApprovedDetails" /> <input
                    type="hidden" name="forward"
                    value="ReleaseRequestList" /> <input
                    type="hidden" name="raId"
                    th:value="${result.param.selectedRaId}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
		                    <h2>
		                        <span
		                            th:text="#{RRApprovalApprovedDetails.closeReleaseReq.text}">リリース申請をクローズをする</span>
		                        <span class="helpBtn inline"><a th:href="#{ReleaseRequestClose.help.url}"
                                                                target="_blank"><i class="fa fa-question"></i></a></span>
		                    </h2>
		                    <p>
		                        <span class="required">*</span> <span
		                            th:text="#{RRApprovalApprovedDetails.comment.text}">コメント</span>
		                    </p>
                            <div style="position: relative;">
                                <textarea class="form-control validation" rows="3"
                                    name="reason" style="resize: vertical;"></textarea>
                                <div class="formError commentFormError" style="display: none;">
                                    <span th:text="#{RRApprovalApprovedDetails.comment.text}">コメント</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
		                </div>
		                <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{RRApprovalApprovedDetails.buttonCancel.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowReleaseRequestApprovedCloseService\', \'' 
									+ #{RRApprovalApprovedDetails.closeConfirm.text} 
									+ '\', \'' + #{RRApprovalApprovedDetails.yes.text} 
									+ '\', \'' + #{RRApprovalApprovedDetails.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{RRApprovalApprovedDetails.buttonClose.text}">承認を取り消す</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </form>
        </div>
    </div>
    
      <!-- Checkin Request Removal -->
    <div th:fragment="checkinRequestRemoveComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
      <div id="replace_reason" style="display: none;">
        <form id="FlowCheckinRequestApprovalPendingRemoveService"
            method="POST" th:action="@{/checkin/remove}">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="referer" value="CheckinRequestDetails" /> <input
                type="hidden" name="forward"
                value="CheckInOutRequestList" /><input
                type="hidden" name="areqId"
                th:value="${result.getParam().getSelectedAreqId()}" />
                <div class="actionCheck clearfix">
                    <div class="actionCheckUnit">
                        <h2>
                            <span
                                th:text="#{ChkInReqDetails.removeChkInReq.text}">取り下げる</span>
                            <span class="helpBtn inline"><a th:href="#{ReleaseRequestRemoval.help.url}"
                                                            target="_blank"><i class="fa fa-question"></i></a></span>
                        </h2>
                        <p>
                            <span class="required">*</span> <span
                                th:text="#{ChkInReqDetails.comment.text}">コメント</span>
                        </p>
                        <div style="position: relative;">
                            <textarea class="form-control validation" rows="3"
                                name="reason" style="resize: vertical;"></textarea>
                            <div class="formError commentFormError" style="display: none;">
                                <span th:text="#{ChkInReqDetails.comment.text}">コメント</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <nav class="actionCheckNav">
                        <ul>
                            <li><a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="closeComment();"> <span
                                    th:text="#{ChkInReqDetails.return.text}">キャンセル</span>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowCheckinRequestApprovalPendingRemoveService\', \'' 
									+ #{ChkInReqDetails.confirmRemove.text} 
									+ '\', \'' + #{ChkInReqDetails.yes.text} 
									+ '\', \'' + #{ChkInReqDetails.no.text} 
									+ '\' ); return false;'"
                                class="btn btn-default strong commentSubmitButtons">
                                    <span
                                    th:text="#{ChkInReqDetails.submit.text}">返却申請を取り下げる</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
	        </form>
         </div>
    </div>
    
    
    <div th:fragment="deploymentJobRemovalComment">
    	<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
      <div id="replace_reason" style="display: none;">
        <form id="FlowDeploymentJobRemovalService"
            method="POST" th:action="@{/job/deploy/remove}">
            <input type="hidden" name="RequestType"
                value="submitChanges" />
            <input type="hidden" name="mgtVer"
                th:value="${result.param.selectedMgtVer}" />
            <input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
                
                <div class="actionCheck clearfix">
				    <div class="actionCheckUnit">
				        <h2>
				            <span
				                th:text="#{DeploymentDetails.deploymentRemoval.text}">リリース連携を削除する</span><span
				                class="helpBtn inline"><a th:href="#{DeploymentJobRemoval.help.url}"
                                                          target="_blank"><i class="fa fa-question"></i></a></span>
				        </h2>
				        <p>
				            <span class="required">*</span><span
				                th:text="#{DeploymentDetails.comment.text}">コメント</span>
				        </p>
				        <div style="position: relative;">
				            <textarea class="form-control validation" rows="3" name="comment" style="resize: vertical;"></textarea>
				            <div class="formError commentFormError" style="display: none;">
	                            <span th:text="#{DeploymentDetails.comment.text}">コメント</span>
	                            <span
	                                th:text="#{Validation.isRequired.text}">is
	                                required.</span>
	                        </div>
	                    </div>
				    </div>
				    <nav class="actionCheckNav">
				        <ul>
				            <li><a href="javascript:void(0);"
	                                class="btn btn-default"
	                                onClick="closeComment();"><span
				                    th:text="#{DeploymentDetails.buttonCancel.text}">キャンセル</span></a></li>
				            <li><a href="javasrcipt:void(0);"
				                class="btn btn-default strong commentSubmitButtons"
				                th:onClick="'if (validateOnSubmit()) submitReasonDialog(\'FlowDeploymentJobRemovalService\',\'' 
								 	+ #{DeploymentList.confirmCancel.text} 
									+ '\', \'' + #{DeploymentList.yes.text} 
									+ '\', \'' + #{DeploymentList.no.text} 
									+ '\' ); return false;'">
				                    <span
				                    th:text="#{DeploymentDetails.buttonRemove.text}">削除する</span>
				            </a></li>
				        </ul>
				
				    </nav>
				</div>
	        </form>
         </div>
    </div>
	
</body>
</html>