<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">

<div th:fragment="GlobalHeader_RecentlyViewedWiki">
    <li id="GlobalHeader_RecentlyViewedWiki" data-role="dropdown">
        <form id="FormDispatchGlobalHeader3" th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> 
            <input type="hidden" name="submitMode" value="details" />
            <input type="hidden" name="dataAttribute" value="Wiki" />
            <input type="hidden" name="dataId" value="" />
        </form>
        <form id="RecentlyViewedWikiService" method="POST"
              th:action="@{/project/recently/wiki}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="GlobalHeaderSearchViewWiki" /> <input
                type="hidden" name="forward" value="LotDetails" /> <input
                type="hidden" name="lotId" value="" /> <input
                type="hidden" name="isRedirectWiki" value="true" /> <input
                type="hidden" name="wikiId" value="" />
        </form> <a href="javascript:void(0);" onClick="openGlobalMenu('RecentlyViewedWikiService', 'GlobalHeader_RecentlyViewedWiki'); return false;"> <span
            th:text="#{GlobalBar.recentlyViewedWiki.text}">最近見たロット</span>
    </a>
        <div id="globalNavLotContainer"
            class="globalNavDropdownContainer">
            <div class="globalNavJointWrap">
                <div id="globalNavWikiContainerJoint"
                    class="globalNavJoint"></div>
            </div>

            <div class="globalNavDropdownSearchBox searchBox">
                <dl>
                    <form id="KeywordRecentlyViewedWikiService"
                        method="POST" action="/project/recently/wiki"
                        th:action="@{/project/recently/wiki}">
                        <input type="hidden" name="RequestType"
                            value="onChange" /> <input
                        	type="hidden" name="selectedPageNo"
                        	th:value="${pagination.selectPageNo}" />
                        <dl>
                            <dt>
                                <input id="searchRecentlyViewWiki"
                                    type="text"
                                    class="globalNavDropdownSearchField"
                                    name="keyword"
                                    th:placeholder="#{GlobalBar.recentlyViewedWiki.text}"
                                    onkeyup="searchBox('searchRecentlyViewWiki', 'KeywordRecentlyViewedWikiService'); return false;" />
                            </dt>
                            <dd>
                                <button id="btn_lot_clear"
                                    class="clearFilterButton"
                                    onclick="clearTextThenFocus('searchRecentlyViewWiki', 'KeywordRecentlyViewedWikiService');return false;">
                                    <span></span>
                                </button>
                            </dd>
                        </dl>
                    </form>
                </dl>
            </div>

            <div class="globalNavSearchResult"
                id="globalNavSearchResult_wiki">
                <div id="globalNavSearchResultContainer"
                    class="globalNavSearchResultLoading"
                    style="display: none;">
                    <div class="globalNavSearchResultLoadingMessage">
                        <p>
                            <i class="fa fa-refresh fa-spin"></i>
                        </p>
                    </div>
                </div>

                <ul class="globalNavSearchResultContainer"
                    th:each="res : ${result.wikiView}">
                    <li
                        class="resultItem searchFilterResultItem clearfix">
                        <span class="searchFilterIcon resultItemIcon">
                            <img
                            src="../../images/trinity/common/icon_wiki.png"
                            th:src="@{/resources/images/common/icon_wiki.png}" />
                    </span> <span class="resultItemTitle"> <a
                            href="javascript:void(0);"
                            th:onClick="'javascript:dispatchGlobalHeader3(\'' + ${res.wikiId} + '\');return false;'">
                                <span
                                th:text="'(' + ${res.lotId} + ') ' + ${res.wikiNm}"></span>
                        </a> <br />
                    </span>
                    </li>
                </ul>
                
                <div th:if="${result.wikiView.size() > 0}"
                        class="globalNavDropdownPagination">
                        <span class="paginationPrevious"
                            th:styleappend="${!pagination.isPrev()} ? 'visibility: hidden;'">
                            <a href="javascript:void(0);" class="ajax"
                            th:onClick="'pagingGlobalMenu(\'KeywordRecentlyViewedWikiService\', \'GlobalHeader_RecentlyViewedWiki\', \'' + ${pagination.selectPageNo - 1} + '\' ); return false;'">
                                <img
                                src="../../images/trinity/common/icon_pagination_previous.png"
                                th:src="@{/resources/images/common/icon_pagination_previous.png}" />
                                <span
                                th:text="#{GlobalBarDropDown.prev.text}">前へPrev</span>
                        </a>
                        </span> <span class="paginationnNext"
                            th:styleappend="${!pagination.isNext()} ? 'visibility: hidden;'">
                            <a href="javascript:void(0);" class="ajax"
                            th:onClick="'pagingGlobalMenu(\'KeywordRecentlyViewedWikiService\', \'GlobalHeader_RecentlyViewedWiki\', \'' + ${pagination.selectPageNo + 1} + '\' ); return false;'">
                                <span
                                th:text="#{GlobalBarDropDown.next.text}">次へNext</span>
                                <img
                                src="../../images/trinity/common/icon_pagination_next.png"
                                th:src="@{/resources/images/common/icon_pagination_next.png}" />
                        </a>
                        </span>
                    </div>
            </div>
        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/
        function dispatchGlobalHeader3(dataId) {
            form = document.getElementById('FormDispatchGlobalHeader3');
            form.dataId.value = dataId;
            safeSubmit('FormDispatchGlobalHeader3', {'validation':false});
        }
        /*]]>*/
        </script>
    </li>
</div>
</html>






