<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:replace="__${view}__::titleHtml"></title>
</head>

<body>
    <header id="globalHeader" th:fragment="globalHeader">
        <input type="hidden" id="windowId" name="windowId" th:value="${result.header.windowsId}" />
        <input type="hidden" id="contextPath" name="contextPath" th:value="@{/}" />
        <input type="hidden" id="refreshed" value="no"/>
        <div id="errorcontainer"></div>

        <!-- 帯ポップアップ/bandPopup-->
        <div th:replace="common/BandPopup::bandPopup">BandPopup</div>
        
        <form id="FlowDashboardService" method="POST"
            th:action="@{/dashboardV3}"></form>

        <nav id="globalNav" th:fragment="globalMenu">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><span class="projectIcon"
                    th:if="${result.header.projectIconPath == null}">
                        <a href="javascript:void(0);"
                        onClick="safeSubmit('FlowDashboardService', {validation: false});return false;">
                            <img
                            src="images/common/icon_globalHeaderIcon.png"
                            th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                            alt="" style="width: 36px" />
                    </a>
                </span> <span class="projectIcon"
                    th:if="${result.header.projectIconPath != null}">
                        <a href="javascript:void(0);"
                        onClick="safeSubmit('FlowDashboardService', {validation: false});return false;">
                            <img
                            th:src="${result.header.projectIconPath}"
                            alt="プロジェクト名" style="width: 36px" />
                    </a>
                </span></li>

                <li><a href="javascript:void(0);"
                    onClick="safeSubmit('FlowDashboardService', {validation: false});return false;">
                        <span th:text="#{GlobalBar.dashboard.text}">ダッシュボード</span>
                </a></li>
                
            </ul>
        </nav>
        <script src="resources/js/words_en.js"
	        th:src="@{/resources/js/words_en.js}"
	        th:if="${result.getLanguage()}=='en'"></script>
	    <script src="resources/js/words_en.js"
	        th:src="@{/resources/js/words_ja.js}"
	        th:if="${result.getLanguage()}=='ja'"></script>
    </header>

</body>
</html>