<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">

<div th:fragment="GlobalHeader_RecentlyViewedRequests">
    <li id="GlobalHeader_RecentlyViewedRequests" data-role="dropdown">
        <form id="FormDispatchGlobalHeader2" th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> 
            <input type="hidden" name="submitMode" value="details" />
            <input type="hidden" name="dataAttribute" value="" />
            <input type="hidden" name="dataId" value="" />
        </form>
        <form id="FlowCheckoutRequestDetailsService" method="POST"
            th:action="@{/checkout/details}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="GlobalHeaderSearchViewLot" /> <input
                type="hidden" name="forward" value="CheckoutDetails" />
            <input type="hidden" name="areqId" value="" />
        </form>
        <form id="FlowCheckinRequestDetailsService" method="POST"
            th:action="@{/checkin/details}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="GlobalHeaderSearchViewLot" /> <input
                type="hidden" name="forward" value="CheckinDetails" /> <input
                type="hidden" name="areqId" value="" />
        </form> <a href="javascript:void(0);" onClick="openGlobalMenu('RecentlyViewedRequestsService', 'GlobalHeader_RecentlyViewedRequests'); return false;"> <span
            th:text="#{GlobalBar.recentlyViewedRequest.text}">最近見た変更資産</span>
    </a>

        <div id="globalNavAssetContainer"
            class="globalNavDropdownContainer">
            <div class="globalNavJointWrap">
                <div id="globalNavAssetContainerJoint"
                    class="globalNavJoint"></div>
            </div>

            <div class="globalNavDropdownSearchBox searchBox">
                <form id="RecentlyViewedRequestsService" method="POST"
                    action="/project/recently/requests"
                    th:action="@{/project/recently/requests}">
                    <input type="hidden" name="showAllByRequest" value="false" />
                    <input type="hidden" name="asc" value="true" />
                    <input type="hidden" name="recentlyView" value="true" />
                    <input type="hidden" name="selectedPageNo" th:value="${pagination.selectPageNo}" />
                    <dl>
                        <dt>
                            <input id="searchRecentlyViewRequest"
                                type="text"
                                class="globalNavDropdownSearchField"
                                name="requestSearch"
                                th:placeholder="#{GlobalBar.recentlyViewedRequest.text}"
                                onkeyup="searchBox('searchRecentlyViewRequest', 'RecentlyViewedRequestsService'); return false;" />
                        </dt>
                        <dd>
                            <button class="clearFilterButton"
                                onclick="clearTextThenFocus('searchRecentlyViewRequest', 'RecentlyViewedRequestsService');return false;">
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>

            <div class="globalNavSearchResult"
                id="globalNavSearchResult_request">
                <div id="globalNavSearchResultContainer"
                    class="globalNavSearchResultLoading"
                    style="display: none;">
                    <div class="globalNavSearchResultLoadingMessage">
                        <p>
                            <i class="fa fa-refresh fa-spin"></i>
                        </p>
                    </div>
                </div>

                <ul class="globalNavSearchResultContainer">
                    <li
                        class="resultItem searchFilterResultItem clearfix"
                        th:each="res : ${result.areqViews}">
                        <span class="searchFilterIcon resultItemIcon">
                            <img
                            src="../../images/trinity/common/icon_request_add.png"
                            th:src="@{/resources/images/common/icon_request_add.png}" />
                        </span> 
                        <span class="resultItemTitle">
                           <a href="javascript:void(0);"
                              th:text="'[' + ${res.pjtId} + ' ( ' + ${res.areqId} + ' )] ' + ${res.pjtSubject}"
                              th:onClick="'javascript:dispatchGlobalHeader2(\''+${res.areqId}+'\', \'CheckOutRequest\');return false;'"></a>
                        </span>
                        <div class="actions">
                            <a th:if="${res.isCheckinEnabled()}"
                                href="javascript:void(0);"> <span
                                class="lendingCopyIcon assetResultItem resultItemIcon copyButton ">
                                    <img
                                    src="../../images/trinity/common/icon_copy_lending.png"
                                    style="height: 24px;"
                                    class="globalheader_clipboard_checkout"
                                    th:src="@{/resources/images/common/icon_copy_lending.png}"
                                    th:attr="data-clipboard-text=${res.checkoutPath}" />
                            </span>
                            </a> <a th:if="${res.isCheckinEnabled()}"
                                href="javascript:void(0);"> <span
                                class="returnCopyIcon assetResultItem resultItemIcon copyButton ">
                                    <img
                                    src="../../images/trinity/common/icon_copy_return.png"
                                    style="height: 24px;"
                                    class="globalheader_clipboard_checkin"
                                    th:src="@{/resources/images/common/icon_copy_return.png}"
                                    th:attr="data-clipboard-text=${res.checkinPath}" />
                            </span>
                            </a>
                        </div>
                    </li>
                </ul>
                
                <div th:if="${result.areqViews.size() > 0}"
                     class="globalNavDropdownPagination">
                     <span class="paginationPrevious"
                         th:styleappend="${!pagination.isPrev()} ? 'visibility: hidden;'">
                         <a href="javascript:void(0);" class="ajax"
                         th:onClick="'pagingGlobalMenu(\'RecentlyViewedRequestsService\', \'GlobalHeader_RecentlyViewedRequests\', \'' + ${pagination.selectPageNo - 1} + '\' ); return false;'">
                             <img
                             src="../../images/trinity/common/icon_pagination_previous.png"
                             th:src="@{/resources/images/common/icon_pagination_previous.png}" />
                             <span
                             th:text="#{GlobalBarDropDown.prev.text}">前へPrev</span>
                     </a>
                     </span> <span class="paginationnNext"
                         th:styleappend="${!pagination.isNext()} ? 'visibility: hidden;'">
                         <a href="javascript:void(0);" class="ajax"
                         th:onClick="'pagingGlobalMenu(\'RecentlyViewedRequestsService\', \'GlobalHeader_RecentlyViewedRequests\', \'' + ${pagination.selectPageNo + 1} + '\' ); return false;'">
                             <span
                             th:text="#{GlobalBarDropDown.next.text}">次へNext</span>
                             <img
                             src="../../images/trinity/common/icon_pagination_next.png"
                             th:src="@{/resources/images/common/icon_pagination_next.png}" />
                     </a>
                     </span>
                 </div>
            </div>

        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/
        function dispatchGlobalHeader2(dataId, dataAttribute) {
            form = document.getElementById('FormDispatchGlobalHeader2');
            form.dataId.value = dataId;
            form.dataAttribute.value = dataAttribute;
            safeSubmit('FormDispatchGlobalHeader2', {'validation':false});
        }
        /*]]>*/
        </script>
    </li>
</div>
</html>