<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <div th:fragment="GlobalMenu_SearchFilter">
        <li id="GlobalMenu_SearchFilter" data-role="dropdown">
        	<form id="SubmitSearchFilter" th:action="@{/dispatch}" method ="POST" >
        		<input type="hidden" name="RequestType" value="init" /> 
        		<input type="hidden" name="submitMode" value="searchFilter" />
        		<input type="hidden" name="dataId" value="" />
        	 </form>
        
            <form id="SearchFilterService" method="POST"
                action="/searchfilter" th:action="@{/searchfilter}">
                <input type="hidden" name="RequestType" value="onChange" />
                <input type="hidden" name="keyword" value="" /> <input
                    type="hidden" id="selectedPageNo"
                    name="selectedPageNo"
                    th:value="${pagination.selectPageNo}" />
            </form> <a href="javascript:void(0);"> <span
                th:text="#{GlobalBar.searchFilter.text}">検索フィルタ</span>
        </a>
            <div id="globalNavSearchFilterContainer"
                class="globalNavDropdownContainer">
                <div class="globalNavJointWrap">
                    <div id="globalNavSearchFilterContainerJoint"
                        class="globalNavJoint"></div>
                </div>
                <div class="globalNavDropdownSearchBox searchBox">
                    <form>
                        <dl>
                            <dt>
                                <input type="text"
                                    class="globalNavDropdownSearchField"
                                    name="search" value=""
                                    th:onKeyup="'searchBoxGlobalMenu(\'' + @{/searchfilter} + '\', \'GlobalMenu_SearchFilter\' ); return false;'" />
                            </dt>
                            <dd>
                                <button class="clearFilterButton"
                                    th:onClick="'searchBoxGlobalMenu(\'' + @{/searchfilter} + '\', \'GlobalMenu_SearchFilter\', \'1\' ); return false;'">
                                    <span></span>
                                </button>
                            </dd>
                        </dl>
                    </form>
                </div>
                <div class="globalNavSearchResult">
                    <div th:if="${result.filterViews.size() == 0}"
                        class="globalNavSearchNoResultMessage">
                        <p
                            th:text="#{GlobalBarSearchFilter.noresult1.text}">保存している検索フィルタはありませんThere
                            are no saved search filter.</p>
                        <p
                            th:text="#{GlobalBarSearchFilter.noresult2.text}">検索で保存したフィルタの一覧がここに表示されますSearch
                            filters you saved will be shown here.</p>
                    </div>
                    <div class="globalNavSearchResultLoading"
                        style="display: none;">
                        <div class="globalNavSearchResultLoadingMessage">
                            <p>
                                <i class="fa fa-refresh fa-spin"></i>
                            </p>
                        </div>
                    </div>
                    <ul th:each="res : ${result.filterViews}"
                        class="globalNavSearchResultContainer">
                        <li
                            class="resultItem searchFilterResultItem clearfix">
                            <span
                            class="searchFilterIcon resultItemIcon">
                                <img
                                src="../../images/trinity/common/icon_searchcondition.png"
                                th:src="@{/resources/images/common/icon_searchcondition.png}" />
                        </span> <span class="resultItemTitle"> 
                                <a
                                href="javascript:void(0);"
                                th:onClick="'submitSearchFilter(\'' + ${res.filterId} + '\'); return false;'"><span
                                    style="display: inline-block; width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                    class="resultItemTitleText"
                                    th:title="${res.filterNm}"
                                    th:text="${res.filterNm}">filterNm</span></a>
                                <form class="resultItemEditForm"
                                    style="display: none">
                                    <input type="text"
                                        th:value="${res.filterNm}"
                                        class="searchFilterEditField input-sm form-control"
                                        th:id="'searchFilter-' + ${res.filterId}" />
                                    <input type="hidden"
                                        name="serviceId"
                                        th:value="${res.serviceId}" />
                                    <input type="button" value="保存Save"
                                        th:value="#{GlobalBarDropDown.save.text}"
                                        class="saveButton btn btn-xs"
                                        th:onClick="'editSearchFilter(\'' + @{/searchfilter/edit} + '\', \'' + ${res.filterId} + '\', $(\'#searchFilter-' + ${res.filterId} +'\').val()); return false;'" />
                                </form>
                        </span>
                            <div class="actions deleteActions"
                                style="display: none">
                                <input class="realDeleteButton"
                                    type="button"
                                    value="削除実行ExecuteRemoval"
                                    th:value="#{GlobalBarDropDown.execremove.text}"
                                    th:onClick="'removeSearchFilter(\'' + @{/searchfilter/remove} + '\', \'' + ${res.filterId} + '\'); return false;'" />
                            </div>
                            <div class="actions defaultActions" style="width: 92px;">
                                <a class="editButton"
                                    href="javascript:void(0);"
                                    th:text="#{GlobalBarDropDown.edit.text}">編集Edit</a>
                                | <a class="deleteButton"
                                    href="javascript:void(0);"
                                    th:onClick="'removeSearchFilter(\'' + @{/searchfilter/remove} + '\', \'' + ${res.filterId} + '\', \'' + #{GlobalBarDropDown.removeFilterConfirmation.text(${res.filterNm})} + '\'); return false;'"
                                    th:text="#{GlobalBarDropDown.remove.text}">削除Remove</a>
                            </div>
                            <div class="actions cancelActions"
                                style="display: none">
                                <a class="cancelButton"
                                    href="javascript:void(0);"
                                    th:text="#{GlobalBarDropDown.cancel.text}">キャンセルCancel</a>
                            </div>
                        </li>
                    </ul>
                    <div th:if="${result.filterViews.size() > 0}"
                        class="globalNavDropdownPagination">
                        <span class="paginationPrevious"
                            th:styleappend="${!pagination.isPrev()} ? 'visibility: hidden;'">
                            <a href="javascript:void(0);" class="ajax"
                            th:onClick="'pagingGlobalMenu(\'SearchFilterService\', \'GlobalMenu_SearchFilter\', \'' + ${pagination.selectPageNo - 1} + '\' ); return false;'">
                                <img
                                src="../../images/trinity/common/icon_pagination_previous.png"
                                th:src="@{/resources/images/common/icon_pagination_previous.png}" />
                                <span
                                th:text="#{GlobalBarDropDown.prev.text}">前へPrev</span>
                        </a>
                        </span> <span class="paginationnNext"
                            th:styleappend="${!pagination.isNext()} ? 'visibility: hidden;'">
                            <a href="javascript:void(0);" class="ajax"
                            th:onClick="'pagingGlobalMenu(\'SearchFilterService\', \'GlobalMenu_SearchFilter\', \'' + ${pagination.selectPageNo + 1} + '\' ); return false;'">
                                <span
                                th:text="#{GlobalBarDropDown.next.text}">次へNext</span>
                                <img
                                src="../../images/trinity/common/icon_pagination_next.png"
                                th:src="@{/resources/images/common/icon_pagination_next.png}" />
                        </a>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </div>
</body>
</html>