<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">

<div th:fragment="GlobalHeader_RecentlyViewedLots">
    <li id="GlobalHeader_RecentlyViewedLots" data-role="dropdown"
    onClick="openGlobalMenu('RecentlyViewedLotsService', 'GlobalHeader_RecentlyViewedLots'); return false;">
        <form id="FormDispatchGlobalHeader1" th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> 
            <input type="hidden" name="submitMode" value="list" />
            <input type="hidden" name="lotId" value="" />
            <input type="hidden" name="serviceId" value="" />
        </form>
        <form id="FlowLotDetailsService" method="POST"
            th:action="@{/lot}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="GlobalHeaderSearchViewLot" /> <input
                type="hidden" name="forward" value="LotDetails" /> <input
                type="hidden" name="lotId" value="" />
        </form> <a href="javascript:void(0);"> <span
            th:text="#{GlobalBar.recentlyViewedLot.text}">最近見たロット</span>
    </a>
        <div id="globalNavLotContainer"
            class="globalNavDropdownContainer">
            <div class="globalNavJointWrap">
                <div id="globalNavLotContainerJoint"
                    class="globalNavJoint"></div>
            </div>

            <div class="globalNavDropdownSearchBox searchBox">
                <dl>
                    <form id="RecentlyViewedLotsService" method="POST"
                        action="/project/recently/lots"
                        th:action="@{/project/recently/lots}">
                        <input type="hidden" name="showAllByLot"
                            value="false" /> <input type="hidden"
                            name="lotStatus" value="0" /> <input
                            type="hidden" name="recentlyView"
                            value="true" /> <input type="hidden" 
                            name="selectedPageNo" 
                            th:value="${pagination.selectPageNo}" />
                        <dl>
                            <dt>
                                <input id="searchRecentlyViewLot"
                                    type="text"
                                    class="globalNavDropdownSearchField"
                                    name="lotSearch"
                                    th:placeholder="#{GlobalBar.recentlyViewedLot.text}"
                                    onkeyup="searchBox('searchRecentlyViewLot', 'RecentlyViewedLotsService'); return false;" />
                            </dt>
                            <dd>
                                <button id="btn_lot_clear"
                                    class="clearFilterButton"
                                    onclick="clearTextThenFocus('searchRecentlyViewLot', 'RecentlyViewedLotsService');return false;">
                                    <span></span>
                                </button>
                            </dd>
                        </dl>
                    </form>
                </dl>
            </div>

            <div class="globalNavSearchResult"
                id="globalNavSearchResult_lot">
                <div id="globalNavSearchResultContainer"
                    class="globalNavSearchResultLoading"
                    style="display: none;">
                    <div class="globalNavSearchResultLoadingMessage">
                        <p>
                            <i class="fa fa-refresh fa-spin"></i>
                        </p>
                    </div>
                </div>

                <ul class="globalNavSearchResultContainer"
                    th:each="res : ${result.lotListBean.lotViews}">
                    <li
                        class="resultItem lotResultItem clearfix">
                        <span th:if="${res.lotIconPath == null}"
                        	class="lotIcon resultItemIcon">
                            <img th:src="@{/resources/images/common/icon_lot.png}" />
                    	</span> 
                    	
                    	<span th:if="${res.lotIconPath!= null}"
                        	class="lotIcon resultItemIcon">
                            <img th:src="${res.lotIconPath}" />
                    	</span> 
                    
                    	<span class="resultItemTitle"> 
                    		<a href="javascript:void(0);"
                            	th:onClick="'javascript:submitLotDetailsService(\'' + ${res.lotId} + '\');return false;'">
                                <span th:text="${res.lotId} + '(' + ${res.lotSubject} + ')' "></span>
                        	</a> 
                        	<br /> 
                        	<span class="lotLinks"> <a href="javascript:void(0)"
                                th:onClick="'dispatchGlobalHeader1(\'' + ${res.lotId} + '\', \'FlowChangePropertyListService\')'"
                                th:text="#{Dashboard.lots.link.resources.text}" class="lotLink">Manage
                                    Assets</a> | <a href="javascript:void(0)"
                                th:onClick="'dispatchGlobalHeader1(\'' + ${res.lotId} + '\', \'FlowBuildPackageListService\')'"
                                th:text="#{Dashboard.lots.link.releases.text}" class="lotLink">Manage
                                    Releases</a> | <a href="javascript:void(0)"
                                th:onClick="'dispatchGlobalHeader1(\'' + ${res.lotId} + '\', \'FlowReportListService\')'"
                                th:text="#{Dashboard.lots.link.reports.text}" class="lotLink">Output
                                    Report</a> | <a href="javascript:void(0)"
                                th:onClick="'dispatchGlobalHeader1(\'' + ${res.lotId} + '\', \'FlowWikiListService\')'"
                                th:text="#{Dashboard.lots.link.wiki.text}" class="lotLink">Wiki</a>
                                | <a href="javascript:void(0)"
                                th:onClick="'dispatchGlobalHeader1(\'' + ${res.lotId} + '\', \'FlowGanttChartService\')'"
                                th:text="#{Dashboard.lots.link.schedule.text}" class="lotLink">Schedule</a>
                        	</span>
                        	<div class="actions">
                            </div>
                    	</span>
                    </li>
                </ul>
                
                <div th:if="${result.lotListBean.lotViews.size() > 0}"
                     class="globalNavDropdownPagination">
                     <span class="paginationPrevious"
                         th:styleappend="${!pagination.isPrev()} ? 'visibility: hidden;'">
                         <a href="javascript:void(0);" class="ajax"
                         th:onClick="'pagingGlobalMenu(\'RecentlyViewedLotsService\', \'GlobalHeader_RecentlyViewedLots\', \'' + ${pagination.selectPageNo - 1} + '\' ); return false;'">
                             <img
                             src="../../images/trinity/common/icon_pagination_previous.png"
                             th:src="@{/resources/images/common/icon_pagination_previous.png}" />
                             <span
                             th:text="#{GlobalBarDropDown.prev.text}">前へPrev</span>
                     </a>
                     </span> <span class="paginationnNext"
                         th:styleappend="${!pagination.isNext()} ? 'visibility: hidden;'">
                         <a href="javascript:void(0);" class="ajax"
                         th:onClick="'pagingGlobalMenu(\'RecentlyViewedLotsService\', \'GlobalHeader_RecentlyViewedLots\', \'' + ${pagination.selectPageNo + 1} + '\' ); return false;'">
                             <span
                             th:text="#{GlobalBarDropDown.next.text}">次へNext</span>
                             <img
                             src="../../images/trinity/common/icon_pagination_next.png"
                             th:src="@{/resources/images/common/icon_pagination_next.png}" />
                     </a>
                     </span>
                 </div>
            </div>
        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/
        function dispatchGlobalHeader1(lotId, serviceId) {
            form = document.getElementById('FormDispatchGlobalHeader1');
            form.lotId.value = lotId;
            form.serviceId.value = serviceId;
            safeSubmit('FormDispatchGlobalHeader1', {'validation':false});
        }
        /*]]>*/
        </script>
    </li>
</div>
</html>






