<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:replace="__${view}__::titleHtml"></title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>
    <header id="globalHeader" th:fragment="globalHeader">
        <input type="hidden" id="windowId" name="windowId"
            th:value="${result.header.windowsId}" />
        <input type="hidden" id="contextPath" name="contextPath" th:value="@{/}" />
        <input type="hidden" id="refreshed" value="no"/>
        <div id="errorcontainer"></div>

        <!-- 帯ポップアップ/bandPopup-->
        <div th:replace="common/BandPopup::bandPopup">BandPopup</div>
        
        <form id="FlowDashboardService" method="POST"
            th:action="@{/dashboard}"></form>
        <form id="FlowMemberListService" method="POST"
        	th:action="@{/project/member}"></form>
        <form id="FlowGlobalSearchService" method="POST"
        	th:action="@{/project/search}"></form>

        <nav id="globalNav" th:fragment="globalMenu">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><span class="projectIcon"
                    th:if="${result.header.projectIconPath == null}">
                        <a href="javascript:void(0);"
                        onClick="safeSubmit('FlowDashboardService', {validation: false});return false;">
                            <img
                            src="images/common/icon_globalHeaderIcon.png"
                            th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                            alt="" style="width: 36px; height: 36px" />
                    </a>
                </span> <span class="projectIcon"
                    th:if="${result.header.projectIconPath != null}">
                        <a href="javascript:void(0);"
                        onClick="safeSubmit('FlowDashboardService', {validation: false});return false;">
                            <img
                            th:src="${result.header.projectIconPath}"
                            alt="プロジェクト名" style="width: 36px; height: 36px" />
                    </a>
                </span></li>

                <li><a href="javascript:void(0);"
                    onClick="safeSubmit('FlowDashboardService', {validation: false});return false;">
                        <span th:text="#{GlobalBar.dashboard.text}">ダッシュボード</span>
                </a></li>
                <li id="GlobalHeader_RecentlyViewedLots"
                    data-role="dropdown"><a
                    href="javascript:void(0);"
                    onClick="openGlobalMenu('RecentlyViewedLotsService', 'GlobalHeader_RecentlyViewedLots'); return false;">
                        <span
                        th:text="#{GlobalBar.recentlyViewedLot.text}">最近見たロット</span>
                </a>

                    <div id="globalNavLotContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div id="globalNavLotContainerJoint"
                                class="globalNavJoint"></div>
                        </div>

                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <dl>
                                <form id="RecentlyViewedLotsService"
                                    method="POST"
                                    action="/project/recently/lots"
                                    th:action="@{/project/recently/lots}">
                                    <input type="hidden"
                                        name="showAllByLot" value="false"></input>
                                    <input type="hidden"
                                        name="lotStatus" value="0"></input>
                                    <input type="hidden"
                                        name="recentlyView" value="true"></input>
                                    <dl>
                                        <dt>
                                            <input id="search_lot"
                                                type="text"
                                                class="globalNavDropdownSearchField"
                                                name="lotSearch"
                                                th:placeholder="#{GlobalBar.recentlyViewedLot.text}"
                                                disabled="disabled" />
                                        </dt>
                                        <dd>
                                            <button id="btn_lot_clear"
                                                class="clearFilterButton">
                                                <span></span>
                                            </button>
                                        </dd>
                                    </dl>
                                </form>
                            </dl>
                        </div>
                        <div class="globalNavSearchNoResultMessage"
                            style="display: none;">
                            <p
                                th:text="#{GlobalBarDropDown.commerror.text}">communication
                                error.</p>
                        </div>
                        <div id="globalNavSearchResultLoading"
                            class="globalNavSearchResultLoading">
                            <div
                                class="globalNavSearchResultLoadingMessage">
                                <p>
                                    <i class="fa fa-refresh fa-spin"></i>
                                </p>
                            </div>
                        </div>
                    </div></li>

                <li id="GlobalHeader_RecentlyViewedRequests"
                    data-role="dropdown"><a
                    href="javascript:void(0);"
                    onClick="openGlobalMenu('RecentlyViewedRequestsService', 'GlobalHeader_RecentlyViewedRequests'); return false;">
                        <span
                        th:text="#{GlobalBar.recentlyViewedRequest.text}">最近見た変更資産</span>
                </a>

                    <div id="globalNavAssetContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div id="globalNavAssetContainerJoint"
                                class="globalNavJoint"></div>
                        </div>

                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <form id="RecentlyViewedRequestsService"
                                method="POST"
                                action="/project/recently/requests"
                                th:action="@{/project/recently/requests}">
                                <input type="hidden"
                                    name="showAllByRequest" value="false"></input>
                                <input type="hidden" name="sortKey"
                                    value="prj"></input> <input
                                    type="hidden" name="asc"
                                    value="true"></input> <input
                                    type="hidden" name="recentlyView"
                                    value="true"></input>
                                <dl>
                                    <dt>
                                        <input type="text"
                                            class="globalNavDropdownSearchField"
                                            name="requestSearch"
                                            th:placeholder="#{GlobalBar.recentlyViewedRequest.text}"
                                            disabled="disabled" />
                                    </dt>
                                    <dd>
                                        <button
                                            class="clearFilterButton">
                                            <span></span>
                                        </button>
                                    </dd>
                                </dl>
                            </form>
                        </div>

                        <div class="globalNavSearchNoResultMessage"
                            style="display: none;">
                            <p>communication error.</p>
                        </div>
                        <div id="globalNavSearchResultLoading"
                            class="globalNavSearchResultLoading">
                            <div
                                class="globalNavSearchResultLoadingMessage">
                                <p>
                                    <i class="fa fa-refresh fa-spin"></i>
                                </p>
                            </div>
                        </div>

                    </div></li>

                <li id="GlobalHeader_RecentlyViewedWiki"
                    data-role="dropdown"><a
                    href="javascript:void(0);"
                    onClick="openGlobalMenu('RecentlyViewedWikiService', 'GlobalHeader_RecentlyViewedWiki'); return false;">
                        <span
                        th:text="#{GlobalBar.recentlyViewedWiki.text}">最近見たWiki</span>
                </a>
                    <div id="globalNavWikiContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div id="globalNavWikiContainerJoint"
                                class="globalNavJoint"></div>
                        </div>
                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <form id="RecentlyViewedWikiService"
                                method="POST"
                                action="/project/recently/wiki"
                                th:action="@{/project/recently/wiki}">
                                <dl>
                                    <dt>
                                        <input type="text"
                                            class="globalNavDropdownSearchField"
                                            name="search" value=""
                                            disabled="disabled" />
                                    </dt>
                                    <dd>
                                        <button
                                            class="clearFilterButton">
                                            <span></span>
                                        </button>
                                    </dd>
                                </dl>
                            </form>
                        </div>
                        <div class="globalNavSearchNoResultMessage"
                            style="display: none;">
                            <p>communication error.</p>
                        </div>
                        <div class="globalNavSearchResultLoading">
                            <div
                                class="globalNavSearchResultLoadingMessage">
                                <p>
                                    <i class="fa fa-refresh fa-spin"></i>
                                </p>
                            </div>
                        </div>
                    </div></li>

                <li id="GlobalMenu_SearchFilter" data-role="dropdown">
                    <form id="SearchFilterService" method="POST"
                        action="/searchfilter"
                        th:action="@{/searchfilter}">
                        <input type="hidden" name="RequestType"
                            value="init" /> <input type="hidden"
                            name="keyword" value="" />
                    </form> <a href="javascript:void(0);"
                    onClick="openGlobalMenu('SearchFilterService', 'GlobalMenu_SearchFilter'); return false;">
                        <span th:text="#{GlobalBar.searchFilter.text}">検索フィルタ</span>
                </a>
                    <div id="globalNavSearchFilterContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div
                                id="globalNavSearchFilterContainerJoint"
                                class="globalNavJoint"></div>
                        </div>
                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <form>
                                <dl>
                                    <dt>
                                        <input type="text"
                                            class="globalNavDropdownSearchField"
                                            name="search" value=""
                                            disabled="disabled" />
                                    </dt>
                                    <dd>
                                        <button
                                            class="clearFilterButton">
                                            <span></span>
                                        </button>
                                    </dd>
                                </dl>
                            </form>
                        </div>
                        <div class="globalNavSearchNoResultMessage"
                            style="display: none;">
                            <p>communication error.</p>
                        </div>
                        <div class="globalNavSearchResultLoading">
                            <div
                                class="globalNavSearchResultLoadingMessage">
                                <p>
                                    <i class="fa fa-refresh fa-spin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text"
                                class="globalNavSearchField"
                                name="search" value=""
                                th:placeholder="#{GlobalBar.keyword.text}"
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button class="clearSearchButton">
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>

                <div id="globalNavSearchContainer"
                    class="globalNavDropdownContainer"
                    style="display: none;">
                    <div class="globalNavJointWrap">
                        <div id="globalNavSearchContainerJoint"
                            class="globalNavJoint"></div>
                    </div>
                    <ul class="globalNavSearchResultSwitch clearfix" style="height: 50px;">
                        <li data-target="#assetsResults">変更資産<span
                            class="num">(10)</span></li>
                        <li data-target="#releaseResults">リリース<span
                            class="num">(5)</span></li>
                        <li data-target="#wikiResults">Wiki<span
                            class="num">(2)</span></li>
                        <li data-target="#userResults">ユーサ?<span
                            class="num">(2)</span></li>
                    </ul>
                    <div class="globalNavSearchResult">
                        <ul id="assetsResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">

                            <li class="resultItem assetResultItem clearfix"><span
                                class="assetIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request_add.png"
                                    th:src="@{/resources/images/common/icon_request_add.png}" />
                            </span> <span class="resultItemTitle">[ PJT
                                    採番 ( 変更管理番号 )] Long title long title
                                    申請件名 申請件名 申請件名 申請件名 申請件名</span>
                                <div class="actions">
                                    <span
                                        class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img class="clipboard_checkout"
                                        src="images/common/icon_copy_lending.png"
                                        th:src="@{/resources/images/common/icon_copy_lending.png}" />
                                    </span> <span
                                        class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img class="clipboard_checkin"
                                        src="images/common/icon_copy_return.png"
                                        th:src="@{/resources/images/common/icon_copy_return.png}" />
                                    </span>
                                </div></li>

                            <li class="resultItem assetResultItem clearfix"><span
                                class="assetIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request_add.png"
                                    th:src="@{/resources/images/common/icon_request_add.png}" />
                            </span> <span class="resultItemTitle">[ PJT
                                    採番 ( 変更管理番号 )] Long title long title
                                    申請件名 申請件名 申請件名 申請件名 申請件名</span>
                                <div class="actions">
                                    <span
                                        class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_lending.png"
                                        th:src="@{/resources/images/common/icon_copy_lending.png}" />
                                    </span> <span
                                        class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_return.png"
                                        th:src="@{/resources/images/common/icon_copy_return.png}" />
                                    </span>
                                </div></li>

                            <li class="resultItem assetResultItem clearfix"><span
                                class="assetIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request_remove.png"
                                    th:src="@{/resources/images/common/icon_request_remove.png}" />
                            </span> <span class="resultItemTitle">[ PJT
                                    採番 ( 変更管理番号 )] Long title long title
                                    申請件名 申請件名 申請件名 申請件名 申請件名</span>
                                <div class="actions"></div></li>

                            <li class="resultItem assetResultItem clearfix"><span
                                class="assetIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request_add.png"
                                    th:src="@{/resources/images/common/icon_request_add.png}" />
                            </span> <span class="resultItemTitle">[ PJT
                                    採番 ( 変更管理番号 )] Really long title
                                    here should truncate Long title long
                                    title 申請件名 申請件名 申請件名 申請件名 申請件名</span>
                                <div class="actions">
                                    <span
                                        class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_lending.png"
                                        th:src="@{/resources/images/common/icon_copy_lending.png}" />
                                    </span> <span
                                        class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_return.png"
                                        th:src="@{/resources/images/common/icon_copy_return.png}" />
                                    </span>
                                </div></li>
                        </ul>

                        <ul id="releaseResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li
                                class="resultItem releaseResultItem clearfix"><span
                                class="releaseIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request.png"
                                    th:src="@{/resources/images/common/icon_request.png}" />
                            </span> <span class="resultItemTitle">[ TMP
                                    採番 ][PJT 採番 ( 変更管理番号 )] 申請件名</span></li>

                            <li
                                class="resultItem releaseResultItem clearfix"><span
                                class="releaseIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request.png"
                                    th:src="@{/resources/images/common/icon_request.png}" />
                            </span> <span class="resultItemTitle">[ TMP
                                    採番 ][PJT 採番 ( 変更管理番号 )] 申請件名</span></li>

                            <li
                                class="resultItem releaseResultItem clearfix"><span
                                class="releaseIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request.png"
                                    th:src="@{/resources/images/common/icon_request.png}" />
                            </span> <span class="resultItemTitle">[ TMP
                                    採番 ][PJT 採番 ( 変更管理番号 )] 申請件名</span></li>
                        </ul>

                        <ul id="wikiResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem wikiResultItem clearfix"><span
                                class="wikiIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_wiki.png"
                                    th:src="@{/resources/images/common/icon_wiki.png}" />
                            </span> <span class="resultItemTitle">ヘ?ーシ?タイトル</span>
                            </li>

                            <li class="resultItem wikiResultItem clearfix"><span
                                class="wikiIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_wiki.png"
                                    th:src="@{/resources/images/common/icon_wiki.png}" />
                            </span> <span class="resultItemTitle">ヘ?ーシ?タイトル</span>
                            </li>
                        </ul>

                        <ul id="fileResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem fileResultItem clearfix"><span
                                class="fileIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_sourcefile.png"
                                    th:src="@{/resources/images/common/icon_sourcefile.png}" />
                            </span> <span class="resultItemTitle">ファイル名
                                    . 拡張子</span></li>

                            <li class="resultItem fileResultItem clearfix"><span
                                class="fileIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_sourcefile.png"
                                    th:src="@{/resources/images/common/icon_sourcefile.png}" />
                            </span> <span class="resultItemTitle">ファイル名
                                    . 拡張子</span></li>

                            <li class="resultItem fileResultItem clearfix"><span
                                class="fileIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_sourcefile.png"
                                    th:src="@{/resources/images/common/icon_sourcefile.png}" />
                            </span> <span class="resultItemTitle">ファイル名
                                    . 拡張子</span></li>
                        </ul>

                        <ul id="userResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem userResultItem clearfix"><span
                                class="userIcon resultItemIcon"><img
                                    src="../../images/trinity/common/icon_obake.png"
                                    th:src="@{/resources/images/common/icon_obake.png}" /></span>
                                <span class="resultItemTitle">Jim
                                    Cruz</span></li>

                            <li class="resultItem userResultItem clearfix"><span
                                class="userIcon resultItemIcon"><img
                                    src="../../images/trinity/common/icon_obake.png"
                                    th:src="@{/resources/images/common/icon_obake.png}" /></span>
                                <span class="resultItemTitle">Jakie
                                    Singleton</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <span id="progressNotification" style="display: none;"
                    th:text="${result.header.progressNotification}"></span>
                <span id="reloadInterval" style="display: none;"
                    th:text="${result.header.reloadInterval}"></span>
                <form id="FlowProgressNotificationService_countOfUnread"
                    th:action="@{/notification/count}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="onChange" /> <input type="hidden"
                        name="requestOption" value="count" />
                </form>
                <li class="globalNavIcon count">
                    <form id="FlowProgressNotificationService"
                        th:action="@{/notification}" method="POST">
                        <input type="hidden" name="RequestType"
                            value="onChange" /> <input type="hidden"
                            name="requestOption" value="" />
                    </form> <span id="countOfUnread" class="countNumber"
                    style="display: none;"></span> <span
                    class="countBell"> <img
                        src="images/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div id="progressNotificationWindow"
                        class="popupWindow">
                        <h4 class="popupWindowHeader"
                            th:text="#{ProgressNotification.title.text}">通知</h4>
                        <div class="popupWindowBody">
                            <div class="globalNavSearchResultLoading">
                                <div
                                    class="globalNavSearchResultLoadingMessage"
                                    style="color: #333333;">
                                    <p>
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="" onClick="safeSubmit('FlowMemberListService', {'validation':false});return false;">
                <span th:text="#{GlobalBar.members.text}">メンバー</span></a></li>
                <li><a href="" onClick="safeSubmit('FlowGlobalSearchService', {'validation':false});return false;" 
                th:class="( ${selectedMenu} == 'globalSearch' ) ? 'active'"><span
                        th:text="#{GlobalBar.globalSearch.text}">全体検索</span></a></li>
            </ul>
        </nav>
        <script src="resources/js/words_en.js"
	        th:src="@{/resources/js/words_en.js}"
	        th:if="${result.getLanguage()}=='en'"></script>
	    <script src="resources/js/words_en.js"
	        th:src="@{/resources/js/words_ja.js}"
	        th:if="${result.getLanguage()}=='ja'"></script>
    </header>

</body>
</html>