<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LogIn.title.text}">trinity | Log In</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/jquery-ui.css"
    th:href="@{/resources/css/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" 
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body class="loginBody">

    <!-- ログインヘッダー -->
    <header th:replace="template/LoginHeader::LoginHeader">

    </header>

    <!-- コンテンツ -->

    <article class="contents" id="loginArticle">
        <h1>
            <span class="projectIcon"> <img
                src="../../images/trinity/common/icon_globalHeaderIcon.png"
                th:src="${result.header.projectIconPath}" alt="プロジェクト名" />
            </span> <span th:text="${result.projectName} ? ${result.projectName} : ${result.header.projectName}">プロジェクト名</span>
        </h1>


        <section class="loginSection">
            <nav class="loginSectionNav"></nav>
            <div class="loginFormUnit">
                <!-- if error -->
                <div th:if="${authError}">
                    <div class="spacer30"></div>
                    <div class="loginFormUnitError center"
                        th:text="#{LogIn.message.error.authFailure}">ユーザIDかメールアドレスが間違っています</div>
                </div>

                <div th:unless="${authError}">
                    <div class="spacer50"></div>
                </div>

                <form id="FlowLoginForgetPassword" method="POST"
                    th:action="@{/login/passwordrecovery}"></form>

                <form class="login-box__form" id="FlowLogInService"
                    th:action="@{/j_spring_security_check}"
                    method="POST">

                    <input class="loginForm loginFormUser" type="text"
                        th:placeholder="#{LogIn.userID.placeholder}"
                        id="userid" name="j_username"
                        placeholder="UserId" /> <input
                        class="loginForm loginFormPassword"
                        type="password"
                        th:placeholder="#{LogIn.password.placeholder}"
                        id="password" name="j_password"
                        placeholder="password" /> <input type="hidden"
                        name="referer" value="LogIn" /> <input
                        type="hidden" name="forward" value="DashBoard" />
                    <div class="loginFormUnitBtn">
                        <a href="#" class="btn btn-default strong"
                            onClick="login('FlowLogInService', {'validation':false});return false;"
                            th:text="#{LogIn.loginButton.text}">Log
                            In</a>
                    </div>
                    <!--                         <div class="loginFormRememberForgot"> -->
                    <!--                             <label> -->
                    <!--                                 <input type="checkbox" value="0" name="remember_me"/> -->
                    <!--                                 <span th:text="#{LogIn.rememberMe.text}">ログイン状態を保存する</span> -->
                    <!--                             </label> -->
                    <!--                         </div> -->
                    <input type="submit" 
						style="position: absolute; left: -9999px; width: 1px; height: 1px;"
						tabindex="-1" />
                </form>
            </div>
            <div class="loginFormForgot">
                <img src="../../../images/trinity/icon_nav-help1.png"
                    th:src="@{/resources/images/icon_nav-help1.png}"
                    alt="" height="15" width="15" class="login-box__img" />
                <a href="javascript:void(0);"
                    onClick="safeSubmit('FlowLoginForgetPassword', {'validation':false});"
                    th:text="#{LogIn.forgetPassword.text}"
                    style="vertical-align: middle;">Forgot your
                    password</a>
            </div>

        </section>


        <div id="popoverContents">
            <h2>パスワードの条件</h2>
            <p>
                パスワードに指定できる文字は、<br /> 半角英数(a-z、A-Z、0-9)、
                ダッシュ(-)、アンダースコア(_)、ピリオド(.)のみです。
            </p>
            <h2>パスワードの強度</h2>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-check-circle"></i>文字以上を含む</li>
                <li><i class="fa-li fa fa-check-circle"></i>英大文字と英小文字両方を含む</li>
                <li><i class="fa-li fa fa-check-circle"></i>数字を含む</li>
            </ul>

            <p class="popoverAlerts">同じ文字が多数連続して入力されています。</p>
        </div>

    </article>

    <!-- フッター -->

    <footer id="globalFooter" th:replace="template/Footer::Footer">
        <small><span th:text="#{Footer.copyright1.text}">trinity
                V4 Copyright&copy;</span> <i class="fa fa-copyright"></i><span
            th:text="#{Footer.copyright2.text}"> 2016- by
                Blueship. All rights reserved.</span></small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a target="_blank" th:href="#{Header.contactus.url}"><span
                        th:text="#{Footer.contact.us.text}">お問い合わせ</span></a></li>
                <!--<li><a href=""><span th:text="#{Footer.faq.text}">よくあるご質問FAQ</span></a></li>-->
                <li><a target="_blank" th:href="#{Header.help.url}"><span
                        th:text="#{Footer.help.text}">ヘルプ</span></a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="resources/js/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script>
        </script>
</body>
</html>