<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>

<body>
<div>

<div id="projectHeader" th:fragment="lotHeader" th:with="isLotPage = true">

<h1>
  <span class="projectIcon"
        th:if="${result.header.headerIconPath == null}">
      <img src="images/common/icon_globalHeaderIcon.png"
           th:src="@{/resources/images/common/icon_lot.png}"
           alt="プロジェクト名" />
  </span>
  <span class="projectIcon"
        th:if="${result.header.headerIconPath != null}">
      <img th:src="${result.header.headerIconPath}"
           alt="プロジェクト名" />
  </span>
  <span th:if="${result.header.selectedLot.enabled} == false" th:text="'[' + #{Header.lotClosed.text} + ']'">[Closed]</span>
  <span th:text="${result.header.headerName}">ロット名</span>
</h1>

<div th:replace="common/ProfileHeader::profileHeader"></div>

</div>

</div>
</body>
</html>