<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:replace="__${view}__::titleHtml"></title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<!-- favicon -->
<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>

    <header id="lotMenu" th:fragment="lotMenu">

        <form id="MenuFlowLotDetailsService" method="POST"
            th:action="@{/lot/details}"></form>
        <form id="MenuFlowCheckInOutRequestListService" method="POST"
            th:action="@{/checkinout/}"></form>
        <form id="MenuFlowBuildPackageListService" method="POST"
            th:action="@{/build/}"></form>
        <form id="MenuFlowReportsListService" method="POST"
            th:action="@{/reports/}"></form>
        <form id="MenuFlowWikiHomeService" method="POST"
            th:action="@{/lot/wiki/}"></form>
        <form id="MenuFlowFilesListService" method="POST"
            th:action="@{/files/}"></form>
        <form id="MenuFlowGanttChartService" method="POST"
            th:action="@{/lot/gantt/}"></form>

        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="#"
                    th:class="( ${selectedMenu} == lotMenu )? select"
                    onClick="safeSubmit('MenuFlowLotDetailsService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.lot.text}">ロット</span>
                </a></li>
                <li><a href="#"
                    th:class="( ${selectedMenu} == changeMenu )? select"
                    onClick="safeSubmit('SubMenuFlowChangePropertyListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.changeManagement.text}">変更管理</span>
                </a></li>

                <li><a href="#"
                    th:class="( ${selectedMenu} == releaseMenu )? select"
                    onClick="safeSubmit('MenuFlowBuildPackageListService', {'validation':false});return false;">
                        <span
                        th:text="#{MenuBar.releaseManagement.text}">リリース管理</span>
                </a></li>

                <li><a href="#"
                    th:class="( ${selectedMenu} == reportsMenu )? select"
                    onClick="safeSubmit('MenuFlowReportsListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.reports.text}">レポート機能</span>
                </a></li>

                <li><a href="#"
                    th:class="( ${selectedMenu} == wikiMenu )? select"
                    onClick="safeSubmit('MenuFlowWikiHomeService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.wiki.text}">Wiki</span>
                </a></li>

                <li><a href="#"
                    th:class="( ${selectedMenu} == calendarMenu )? select"
                    onClick="safeSubmit('MenuFlowGanttChartService', {'validation':false});return false;"><span
                        th:text="#{MenuBar.calendar.text}">カレンダー</span></a></li>
            </ul>
            <div class="searchBox">
                <form id="lotMenuSearchForm" action="javascript:void(0)">
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                id="lotMenuSearchLot"
                                th:placeholder="#{MenuBar.searchLot.text}"></input>
                        </dt>
                        <dd>
                            <button onClick="clearSearchLotInput()">
                                <span id="lotMenuSearchLotClear"></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>

        <form id="SubMenuFlowLotDetailsService" method="POST"
            th:action="@{/lot/details}"></form>
       	<form id="SubMenuFlowLotResourceListService" method="POST"
            th:action="@{/lot/resource/list}"></form>
        <form id="SubMenuFlowChangePropertyListService" method="POST"
            th:action="@{/chgproperty/}"></form>

        <form id="SubMenuFlowCheckInOutRequestListService" method="POST"
            th:action="@{/checkinout/}"></form>
        <form id="SubMenuFlowRemovalRequestListService" method="POST"
            th:action="@{/removal/}"></form>
        <form id="SubMenuFlowChangeRequestApprovalListService"
            method="POST" th:action="@{/chgproperty/pending/list}"></form>
        <form id="SubMenuFlowMergeListService" method="POST"
            th:action="@{/merge}"></form>

        <form id="SubMenuFlowBuildPackageListService" method="POST"
            th:action="@{/build/}"></form>
        <form id="SubMenuFlowReleaseRequestListService" method="POST"
            th:action="@{/release/request}"></form>
        <form id="SubMenuFlowReleasePackageListService" method="POST"
            th:action="@{/release/}"></form>
        <form id="SubMenuFlowDeploymentJobListService" method="POST"
            th:action="@{/job/deploy}"></form>

        <nav id="lotSubNav" th:if="${selectedSubMenu}">
            <ul class="lotSubNavUl" th:if="${selectedMenu} == lotMenu">
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == lotSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowLotDetailsService', {'validation':false});return false;"><span
                        th:text="#{MenuBar.lotInfo.text}">ロット情報</span></a></li>
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == lotResourceListSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowLotResourceListService', {'validation':false});return false;"><span
                        th:text="#{MenuBar.lotResourceList.text}">ロット情報</span></a></li>
            </ul>
            <ul class="lotSubNavUl"
                th:if="${selectedMenu} == changeMenu">
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == changeSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowChangePropertyListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.changeProperty.text}">変更管理情報</span>
                </a></li>
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == checkinoutSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowCheckInOutRequestListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.checkinout.text}">資産の貸出と返却</span>
                </a></li>
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == resourcesSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowRemovalRequestListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.removal.text}">資産の削除</span>
                </a></li>
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == approvalSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowChangeRequestApprovalListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.approval.text}">変更資産の承認</span>
                </a></li>
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == mergeSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowMergeListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.merge.text}">マージ</span>
                </a></li>
            </ul>
            <ul class="lotSubNavUl"
                th:if="${selectedMenu} == releaseMenu">
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == buildpackSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowBuildPackageListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.buildPackage.text}">ビルドパッケージ</span>
                </a></li>
                <li th:if="${result.header.releaseRequestEnabled}"><a
                    href="#"
                    th:class="( ${selectedSubMenu} == releasereqSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowReleaseRequestListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.release.text}">リリース申請</span>
                </a></li>
                <li><a href="#"
                    th:class="( ${selectedSubMenu} == releasepackageSubmenu )? select"
                    onClick="safeSubmit('SubMenuFlowReleasePackageListService', {'validation':false});return false;">
                        <span th:text="#{MenuBar.releasePackage.text}">リリースパッケージ</span>
                </a></li>
                
                <li><a href="#" th:class="( ${selectedSubMenu} == deployjobSubmenu )? select"
                    th:if="${result.header.dmActive}"
                	onClick="safeSubmit('SubMenuFlowDeploymentJobListService', {'validation':false});return false;">
                	<span th:text="#{MenuBar.deploy.text}">リリース連携</span></a></li>
		                	
            </ul>
        </nav>
    </header>

</body>
</html>