<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <div th:fragment="message">
        <div id="message">
            <div th:if="!${result.isEmptyMessages()}"
                class="errorMessage">
                <div class="errorMessageHeader">
                    <span> <img
                        src="../../images/trinity/common/icon_error.png"
                        th:src="@{/resources/images/common/icon_error.png}"
                        alt="" />
                    </span> <span
                        th:text="#{ErrorMessage.count.text( ${result.messages.size()} )}">エラーが
                        - 件あります</span>
                </div>
                <div th:if="${result.messages.size()} > 5"
                    class="errorMessageNav">
                    <span class="showMoreErrorMessages"> <i
                        class="fa fa-caret-right"></i> <span
                        th:text="#{ErrorMessage.showAll.text}">すべて表示</span>
                    </span> <span class="hideMoreErrorMessages"> <i
                        class="fa fa-caret-down"></i> <span
                        th:text="#{ErrorMessage.reduceShowing.text}">表示件数を減らす</span>
                    </span>
                </div>
                <dl class="dl-horizontal dl-errormsg">
                    <span th:each="res : ${result.messages}">
                        <dt class="zero"></dt>
                        <dd th:text="${res}" class="zero" style="display: block; float: none;"
                            th:classappend="${resStat.count > 5} ? 'more'"
                            th:styleappend="${resStat.count > 5} ? 'display: none;'">error
                            message here</dd>
                    </span>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>