<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <!-- ChangePropertyOverview -->
    <div th:fragment="changePropertyOverview">
        <div class="popupWindow"
            style='position: absolute; display: none'>
            <h4 class="popupWindowHeader">
                <span
                    th:text="#{ChangePropertyOverview.changeProperty.text}">変更管理情報</span>
                <span th:text="${result.getParam().getSelectedPjtId()}">PJT-XXXXXXX</span>
            </h4>
            <div class="popupWindowBody">
                <div class="row">
                    <dl class="dl-horizontal col-sm-12">
                        <dt>
                            <span
                                th:text="#{ChangePropertyOverview.changeSummary.text}">変更概要</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSummary()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChangePropertyOverview.status.text}">ステータス</span>
                        </dt>
                        <dd>
                            <span
                                th:text="#{Constants.amStatus.__${result.getDetailsView().getStsId()}__.text}"
                                class="label label-large"
                                th:classappend="'amStatus'+${result.getDetailsView().getStsId()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChangePropertyOverview.submitter.text}">登録者</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubmitterNm()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChangePropertyOverview.submittedDate.text}">登録日</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getCreatedTime()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChangePropertyOverview.referenceID.text}">変更要因番号</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getReferenceId()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChangePropertyOverview.referenceCategory.text}">変更要因分類</span>
                        </dt>
                        <dd>
                            <span
                                th:text="#{Constants.referenceId.__${result.getDetailsView().getReferenceCategoryNm()}__.text}"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- CheckinoutRequestOverview -->
    <div th:fragment="checkinoutRequestOverview">
        <div class="popupWindow"
            style='position: absolute; display: none'>
            <h4 class="popupWindowHeader">
                <span th:text="#{ChkInOutReqOverview.chkInOutReq.text}">貸出返却申請</span>
                <span th:text="${result.getParam().getSelectedAreqId()}">LND-XXXXXX</span>
            </h4>
            <div class="popupWindowBody">
                <div class="row">
                    <dl class="dl-horizontal col-sm-12">
                        <dt>
                            <span
                                th:text="#{ChkInOutReqOverview.subject.text}">申請件名</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubject()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChkInOutReqOverview.status.text}">ステータス</span>
                        </dt>
                        <dd>
                            <span
                                th:text="#{Constants.amStatus.__${result.getDetailsView().getStsId()}__.text}"
                                class="label label-large"
                                th:classappend="'amStatus'+${result.getDetailsView().getStsId()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChkInOutReqOverview.submitter.text}">申請者</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubmitterNm()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChkInOutReqOverview.reqDate.text}">申請日</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getCheckinTime()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{ChkInOutReqOverview.chkInOutDueDate.text}">返却日/返却予定日</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getCheckinDueDate()}"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- RemovalRequestOverview -->
    <div th:fragment="removalRequestOverview">
        <div class="popupWindow"
            style='position: absolute; display: none'>
            <h4 class="popupWindowHeader">
                <span th:text="#{RemovalReqOverview.removalReq.text}">削除申請</span>
                <span th:text="${result.getParam().getSelectedAreqId()}">MSD-XXXXXXX</span>
            </h4>
            <div class="popupWindowBody">
                <div class="row">
                    <dl class="dl-horizontal col-sm-12">
                        <dt>
                            <span
                                th:text="#{RemovalReqOverview.subject.text}">申請件名</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubject()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{RemovalReqOverview.status.text}">ステータス</span>
                        </dt>
                        <dd>
                            <span
                                th:text="#{Constants.amStatus.__${result.getDetailsView().getStsId()}__.text}"
                                class="label label-large"
                                th:classappend="'amStatus'+${result.getDetailsView().getStsId()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{RemovalReqOverview.submitter.text}">申請者</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubmitterNm()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{RemovalReqOverview.reqDate.text}">申請日</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getRequestTime()}"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- BuildPackageOverview -->
    <div th:fragment="buildPackageOverview">
        <div class="popupWindow"
            style='position: absolute; display: none'>
            <h4 class="popupWindowHeader">
                <span th:text="#{BPOverview.buildPackage.text}">ビルドパッケージ</span>
                <span th:text="${result.getParam().getSelectedBpId()}">BLD-XXXXXXX</span>
            </h4>
            <div class="popupWindowBody">
                <div class="row">
                    <dl class="dl-horizontal col-sm-12">
                        <dt>
                            <span
                                th:text="#{BPOverview.packageName.text}">パッケージ名</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubject()}"></span>
                        </dd>
                        <dt>
                            <span th:text="#{BPOverview.status.text}">ステータス</span>
                        </dt>
                        <dd>
                            <span
                                th:text="#{Constants.rmStatus.__${result.getDetailsView().getStsId()}__.text}"
                                class="label label-large"
                                th:classappend="'rmStatus'+${result.getDetailsView().getStsId()}"></span>
                        </dd>
                        <dt>
                            <span th:text="#{BPOverview.submitter.text}">作成者</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getCreatedBy()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{BPOverview.createdDate.text}">作成日</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getStartTime()}"></span>
                        </dd>
                        <dt>
                            <span th:text="#{BPOverview.bldType.text}">ビルド分類</span>
                        </dt>
                        <dd>
                            <span th:text="${result.getDetailsView().isBuildDiff()} ? #{BPOverview.diff.text} : #{BPOverview.full.text}"
                                >差分</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- ReleasePackageOverview -->
    <div th:fragment="releasePackageOverview">
        <div class="popupWindow"
            style='position: absolute; display: none'>
            <h4 class="popupWindowHeader">
                <span th:text="#{RPOverview.releasePackage.text}">リリースパッケージ</span>
                <span th:text="${result.getParam().getSelectedRpId()}">REL-XXXXXXXXX</span>
            </h4>
            <div class="popupWindowBody">
                <div class="row">
                    <dl class="dl-horizontal col-sm-12">
                        <dt>
                            <span
                                th:text="#{RPOverview.packageName.text}">パッケージ名</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubject()}"></span>
                        </dd>
                        <dt>
                            <span th:text="#{RPOverview.status.text}">ステータス</span>
                        </dt>
                        <dd>
                            <span
                                th:text="#{Constants.rmStatus.__${result.getDetailsView().getStsId()}__.text}"
                                class="label label-large"
                                th:classappend="'rmStatus'+${result.getDetailsView().getStsId()}"></span>
                        </dd>
                        <dt>
                            <span th:text="#{RPOverview.submitter.text}">作成者</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getCreatedBy()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{RPOverview.createdDate.text}">作成日</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getStartTime()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{RPOverview.releaseEnv.text}">リリース環境</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getEnvNm()}"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ReleaseRequestOverview -->
    <div th:fragment="releaseRequestOverview">
        <div class="popupWindow"
            style='position: absolute; display: none'>
            <h4 class="popupWindowHeader">
                <span th:text="#{RROverview.releaseRequest.text}">リリースパッケージ</span>
                <span th:text="${result.getParam().getSelectedRaId()}">RA-XXXXXXXXX</span>
            </h4>
            <div class="popupWindowBody">
                <div class="row">
                    <dl class="dl-horizontal col-sm-12">
                        <dt>
                            <span
                                th:text="#{RROverview.requestName.text}">パッケージ名</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getSubject()}"></span>
                        </dd>
                        <dt>
                            <span th:text="#{RROverview.status.text}">ステータス</span>
                        </dt>
                        <dd>
                            <span
                                th:text="#{Constants.rmStatus.__${result.getDetailsView().getStsId()}__.text}"
                                class="label label-large"
                                th:classappend="'rmStatus'+${result.getDetailsView().getStsId()}"></span>
                        </dd>
                        <dt>
                            <span th:text="#{RROverview.submitter.text}">作成者</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getCreatedBy()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{RROverview.createdDate.text}">作成日</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getStartTime()}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{RROverview.closedDate.text}">リリース環境</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.getDetailsView().getEndTime()}"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</body>
</html>