<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <div th:fragment="Top">
        <div id="pageTop">
            <dl class="sectionNavPager">
                <dt>
                    <span
                        th:text="#{Pagination.displayCount.text( ${pagination.maxRows}, ${pagination.viewRangeFrom} , ${pagination.viewRangeTo})}">全<span>38</span>件中<span>1件〜20件</span>を表示
                    </span>
                </dt>
                <dd>
                    <ul>
                        <li th:if="${pagination.isPrev()}" class="prev"><a
                            href="javascript:void(0);" class="pageNavi"
                            th:attr="data-pageNum=${pagination.selectPageNo-1}"><span
                                th:text="#{Pagination.back.text}">前へ</span></a></li>
                        <li th:if="${pagination.isPrev()}" class=""><a
                            class="pageNavi" href="javascript:void(0);"
                            th:attr="data-pageNum=${pagination.selectPageNo-1}"><span
                                th:text="${pagination.selectPageNo-1}">1</span></a></li>
                        <li class="current"><a class="pageNavi"
                            href="javascript:void(0);"
                            th:attr="data-pageNum=${pagination.selectPageNo}"><span
                                th:text="${pagination.selectPageNo}">2</span></a></li>
                        <li th:if="${pagination.isNext()}" class=""><a
                            class="pageNavi" href="javascript:void(0);"
                            th:attr="data-pageNum=${pagination.selectPageNo+1}"><span
                                th:text="${pagination.selectPageNo+1}">3</span></a></li>
                        <li th:if="${pagination.isNext()}" class="next"><a
                            href="javascript:void(0);" class="pageNavi"
                            th:attr="data-pageNum=${pagination.selectPageNo+1}"><span
                                th:text="#{Pagination.next.text}">次へ</span></a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

    <div th:fragment="Bottom">
        <div id="pageBottom">
            <dl class="sectionNavPager">
                <dt>
                    <span
                        th:text="#{Pagination.displayCount.text( ${pagination.maxRows}, ${pagination.viewRangeFrom} , ${pagination.viewRangeTo})}">全<span>38</span>件中<span>1件〜20件</span>を表示
                    </span>
                </dt>
                <dd>
                    <ul>
                        <li th:if="${pagination.isPrev()}" class="prev"><a
                            href="javascript:void(0);" class="pageNavi"
                            th:attr="data-pageNum=${pagination.selectPageNo-1}"><span
                                th:text="#{Pagination.back.text}">前へ</span></a></li>
                        <li th:if="${pagination.isPrev()}" class=""><a
                            class="pageNavi" href="javascript:void(0);"
                            th:attr="data-pageNum=${pagination.selectPageNo-1}"><span
                                th:text="${pagination.selectPageNo-1}">1</span></a></li>
                        <li class="current"><a class="pageNavi"
                            href="javascript:void(0);"
                            th:attr="data-pageNum=${pagination.selectPageNo}"><span
                                th:text="${pagination.selectPageNo}">2</span></a></li>
                        <li th:if="${pagination.isNext()}" class=""><a
                            class="pageNavi" href="javascript:void(0);"
                            th:attr="data-pageNum=${pagination.selectPageNo+1}"><span
                                th:text="${pagination.selectPageNo+1}">3</span></a></li>
                        <li th:if="${pagination.isNext()}" class="next"><a
                            href="javascript:void(0);" class="pageNavi"
                            th:attr="data-pageNum=${pagination.selectPageNo+1}"><span
                                th:text="#{Pagination.next.text}">次へ</span></a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

</body>
</html>