<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>

<body>

<div id="myProfile" th:fragment="profileHeader">
  <form id="MenuFlowLotSettingsService"
        method="POST"
        th:action="@{/lot/settings/theme}">
  </form>
  <form id="MenuLogout"
        method="POST"
        th:action="@{/logout}">
  </form>
  <form id="MenuPersonalSettingsService"
        method="POST"
        th:action="@{/personal/}">
  </form>
  <form id="MenuAdminSettingsService"
        method="POST"
        th:action="@{/admin}">
  </form>
  <form id="FlowProfileDetailsService"
        th:action="@{/personal/profile}"
        method="POST">
    <input type="hidden" name="RequestType" value="init" />
    <input type="hidden" name="userId" th:value="${result.userId}" />
    <input type="hidden" name="RequestType" value="init" />
  </form>
  
  <div id="sayHello" class="user">
    <a href="javascript:void(0)" onClick="safeSubmit('FlowProfileDetailsService', {'validation':false});return false;">
      <img  src="images/common/icon_obake.png"
            th:src="${result.header.userIconPath}"
            alt="Tommy Robinsonさんのプロフィールへ"
            class="userImg" />
    </a>
    <span th:text="#{Header.welcomeMessage.text(${result.userName})}"
          onClick="safeSubmit('FlowProfileDetailsService', {'validation':false});return false;" 
          style="cursor:pointer; color:#036EB7;">Tommy Robinsonさん、こんにちは</span>
  </div>
  <nav id="profileNav">
    <ul>
      <li id="dashboardGlobal"
          th:if="${isLotPage}">
        <a href=""
           onClick="safeSubmit('MenuFlowLotSettingsService', {'validation':false});return false;">
          <span th:text="#{Header.lotSettings.text}">ロット設定</span>
        </a>
      </li><li>
        <a href=""
           onClick="safeSubmit('MenuAdminSettingsService', {'validation':false});return false;">
          <span th:text="#{Header.admin.settings.text}">管理者設定</span>
        </a>
      </li><li>
        <a href="">
          <span th:text="#{Header.personal.settings.text}"
                onClick="safeSubmit('MenuPersonalSettingsService', {'validation':false});return false;">個人設定</span>
        </a>
      </li><li>
        <a target="_blank" th:href="#{Header.help.url}">
          <span th:text="#{Header.help.text}">ヘルプ</span>
        </a>
      </li><li>
        <a href="">
          <span th:text="#{Header.logout.text}"
                onClick="logout('MenuLogout', {'validation':false});return false;">ログアウト</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>