<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>

<body>

<div id="myProfile" th:fragment="profileHeader">
  <form id="MenuLogout"
        method="POST"
        th:action="@{/logout}">
  </form>
  <form id="FlowProfileDetailsService"
        th:action="@{/personal/lookandfeelV3}"
        method="POST">
  </form>
  
  <form id="FlowProfileDetailsServiceAdmin"
        th:action="@{/admin/lookandfeelV3}"
        method="POST">
  </form>

  <div id="sayHello" class="user">
    <a href="javascript:void(0)" style="cursor:default;">
      <img  src="images/common/icon_obake.png"
            th:src="${result.header.userIconPath}"
            alt="Tommy Robinsonさんのプロフィールへ"
            class="userImg" />
    </a>
    <span th:text="#{Header.welcomeMessage.text(${result.userName})}" style=" color:#036EB7;">
          Tommy Robinsonさん、こんにちは</span>
  </div>
  <nav id="profileNav">
    <ul>
      <li>
        <a href="javascript:void(0)" onClick="safeSubmit('FlowProfileDetailsServiceAdmin', {'validation':false});return false;">
          <span th:text="#{Header.admin.settings.text}">管理者設定</span>
        </a>
      </li><li>
        <a href="javascript:void(0)" onClick="safeSubmit('FlowProfileDetailsService', {'validation':false});return false;">
          <span th:text="#{Header.personal.settings.text}">個人設定</span>
        </a>
      </li>
      <li>
        <a target="_blank" th:href="#{Header.help.url}">
          <span th:text="#{Header.help.text}">ヘルプ</span>
        </a>
      </li><li>
        <a href="">
          <span th:text="#{Header.logout.text}"
                onClick="logout('MenuLogout', {'validation':false});return false;">ログアウト</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>