<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<div>
    <li class="globalNavIcon count">
        <form id="FlowProgressNotificationService"
            th:action="@{/notification}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="requestOption" value="" />
        </form> <span class="countNumber" style="display: none;">10</span> <span
        class="countBell"> <img src="images/common/icon_bell.png"
            th:src="@{/resources/images/common/icon_bell.png}" alt="" />
    </span>
        <div id="progressNotificationWindow" class="popupWindow">
            <h4 class="popupWindowHeader"
                th:text="#{ProgressNotification.title.text}">通知</h4>
            <div id="progressNotificationWindow_popupWindowBody" style="max-height: calc(100vh - 100px);"
                class="popupWindowBody">
                <div th:each="res : ${result.notificationViews}">
                    <div style="cursor: pointer;"
                        th:onclick="'submitProgressNotificationLink(\'' + @{/dispatch} + '\', \'' + ${res.lotId} + '\', \'' + ${res.serviceId} + '\');'"
                        class="popupWindowBodyUnit inprosess"
                        th:classappend="${res.isActive()} ? 'inprosess' : (${res.isCompleted()} ? 'finished' : (${res.isError()} ? 'error' : (${res.isWarning()}? 'checkme' : 'waiting')))">
                        <div class="popupWindowBodyUnitHeader">
                            <h5 th:text="${res.infoMessage}">コンフリクトチェックを実行しています</h5>
                            <p class="date"
                                th:text="${res.isActive()} ? #{ProgressNotification.started.text(${res.startDate})} : ${res.endDate}">2016/01/15開始</p>
                        </div>
                        <div class="popupWindowBodyUnitBody">
                            <div class="popupWindowBodyUnitBodyIcon">
                                <span> <img
                                    th:if="${res.isActive()}"
                                    src="http://placehold.jp/64x64.png"
                                    th:src="@{/resources/images/common/icon_notice_lot_run.png}"
                                    alt="" /> <img
                                    th:if="${res.isError()}"
                                    src="http://placehold.jp/64x64.png"
                                    th:src="@{/resources/images/common/icon_notice_lot_error.png}"
                                    alt="" /> <img
                                    th:if="${res.isCompleted()}"
                                    src="http://placehold.jp/64x64.png"
                                    th:src="@{/resources/images/common/icon_notice_lot_complete.png}"
                                    alt="" /> <img
                                    th:if="${res.isWarning()}"
                                    src="http://placehold.jp/64x64.png"
                                    th:src="@{/resources/images/common/icon_notice_lot_warning.png}"
                                    alt="" />
                                </span>
                            </div>
                            <div class="popupWindowBodyUnitBodyStatus">
                                <p class="statusTitle"
                                    th:text="${res.subject}">ロットA
                                    20160115_マージコミット</p>
                                <div class="progress">
                                    <div class="progress-bar"
                                        th:classappend="${res.isActive()} ? 'progress-bar-striped active' : (${res.isError()} ? 'progress-bar-striped progress-bar-danger')"
                                        role="progressbar"
                                        aria-valuenow="60"
                                        th:attr="aria-valuenow=${res.bar.value}"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 60%"
                                        th:style="'width: ' + ${res.bar.value} + '%;'">
                                        <span class="sr-only"
                                            th:text="${res.bar.value} + '% Complete'">60%
                                            Complete</span>
                                    </div>
                                </div>
                                <p class="status"
                                    th:text="${res.isActive()} ? #{ProgressNotification.completionRate.text(${res.bar.value}, ${res.remainingTime})} : ${res.resultMessage}">65%完了
                                    - 約２時間37分</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</div>
</body>
</html>