<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>

<body>
<div>

<div id="projectHeader" th:fragment="projectHeader" th:with="isLotPage = false">

<h1 th:fragment="projectHeader">
  <span class="projectIcon"
        th:if="${result.header.projectIconPath == null}">
      <img src="images/common/icon_globalHeaderIcon.png"
           th:src="@{/resources/images/common/icon_lot.png}"
           alt="プロジェクト名" />
  </span>
  <span class="projectIcon"
        th:if="${result.header.projectIconPath != null}">
      <img th:src="${result.header.projectIconPath}"
           alt="プロジェクト名" />
  </span>
  <span th:text="${result.header.projectName}">プロジェクト名</span>
</h1>

<div th:replace="common/ProfileHeaderV3::profileHeader"></div>

</div>

</div>
</body>
</html>