<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title th:text="#{ErrorPage.title.text}">trinity | System Error</title>

        <!-- CSS -->
        <link rel="stylesheet"
              href="../../css/trinity/bootstrap.min.css"
              th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/font-awesome.min.css"
              th:href="@{/resources/css/font-awesome.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/trinity.css"
              th:href="@{/resources/css/trinity.css}" />

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/trinity/favicons/apple-touch-icon-57x57.png" th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/trinity/favicons/apple-touch-icon-60x60.png" th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/trinity/favicons/apple-touch-icon-72x72.png" th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/trinity/favicons/apple-touch-icon-76x76.png" th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/trinity/favicons/apple-touch-icon-114x114.png" th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/trinity/favicons/apple-touch-icon-120x120.png" th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/trinity/favicons/apple-touch-icon-144x144.png" th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/trinity/favicons/apple-touch-icon-152x152.png" th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/trinity/favicons/apple-touch-icon-180x180.png" th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-32x32.png" th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-194x194.png" th:href="@{/resources/images/favicons/favicon-194x194.png}" sizes="194x194" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-96x96.png" th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/android-chrome-192x192.png" th:href="@{/resources/images/favicons/android-chrome-192x192.png}" sizes="192x192" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-16x16.png" th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
        <link rel="manifest" href="../../images/trinity/favicons/manifest.json" th:href="@{../../images/trinity/favicons/manifest.json}" />
        <link rel="mask-icon" href="../../images/trinity/favicons/safari-pinned-tab.svg" th:href="@{/resources/images/favicons/safari-pinned-tab.svg}" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-TileImage" content="../../images/trinity/favicons/mstile-144x144.png" th:content="@{/resources/images/favicons/mstile-144x144.png}" />
        <meta name="theme-color" content="#ffffff" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
    </head>
    <body class="loginBody">
    
        <input type="hidden" id="contextPath" name="contextPath" th:value="@{/}" />

        <!-- ログインヘッダー -->
          <header th:replace="template/LoginHeader::LoginHeader">

			</header>

        <!-- コンテンツ -->
        <article class="contents" id="loginArticle">
            <h1>
				<span class="projectIcon"> <img
					src="../../images/trinity/common/icon_globalHeaderIcon.png"
					th:src="${result.header.projectIconPath}" alt="プロジェクト名" />
				</span> <span
					th:text="${result.header.projectName}">プロジェクト名</span>
			</h1>


            <section class="loginSection">
                <nav class="loginSectionNav">
                     <div class="loginReturn">
					<img src="../../../images/trinity/icon_nav-back.png"
						th:src="@{/resources/images/icon_nav-back.png}"
						alt="" height="15" width="15" class="login-box__img" />
					<a href="javascript:void(0);"
						onClick="safeSubmit('FlowReturnLogin', {'validation':false});"
						th:text="#{LogIn.returnToLogin.text}"
						style="vertical-align: middle;">Forgot your
						password</a>
					</div>
                </nav>
                
                <div class="sectionError">
                      <div id="message">
		            <div th:if="${errorCode != null}" class="errorMessage">
							   <dl class="dl-systemErrorHeader">
									<dt><img src="../../images/trinity/common/icon_error.png" th:src="@{/resources/images/common/icon_error.png}" alt="" /></dt>
									 <dd><font th:utext="#{LogIn.errorHeader.text}">An unexpected error in the trinity was issued. </font>
									 	<font th:text=" ${errorMessage}" />
									 </dd>
								</dl>
							<div class="errorMessageNav">
								<span class="showMoreErrorMessages"> <i
									class="fa fa-caret-right"></i> <span
									th:text="#{ErrorMessage.showAll.text}">すべて表示</span>
								</span> <span class="hideMoreErrorMessages"> <i
									class="fa fa-caret-down"></i> <span
									th:text="#{ErrorMessage.reduceShowing.text}">表示件数を減らす</span>
								</span>
							</div>
							<dl class="dl-horizontal dl-errormsg">
								<dt class="zero"></dt>
								<span th:each="res : ${errorFullStackTrace}">
									<dd th:text="${res}" class="zero"
										th:classappend="${resStat.count > 5} ? 'more'"
										th:styleappend="${resStat.count > 5} ? 'display: none;'">error
										message here</dd> <!-- <dt class="zero"></dt>
									<dd th:text="${errorMessage}" class="zero">error message here</dd> -->
								</span>
							</dl>
						</div>
					</div>
                </div>
                
                <div class="loginFormForgot">
                     <img src="../../../images/trinity/icon_nav-help1.png"
                    th:src="@{/resources/images/icon_nav-help1.png}"
                    alt="" height="15" width="15" class="login-box__img" />
					<a target="_blank" th:href="#{Header.contactus.url}"
						th:text="#{LogIn.contactSupportDesk.text}"
						style="vertical-align: middle;">Forgot your
						password</a>

                </div>

					<form id="FlowReturnLogin" method="POST"
                    th:action="@{/logout}"></form>
            </section>

        </article>




        <!-- フッター -->

        <footer id="globalFooter" th:replace="template/Footer::Footer">
			<small><span th:text="#{Footer.copyright1.text}">trinity
					V4 Copyright&copy;</span> <i class="fa fa-copyright"></i><span
				th:text="#{Footer.copyright2.text}"> 2016- by
					Blueship. All rights reserved.</span></small>
			<nav id="globalFooterNav">
				<ul class="globalFooterNavUl" id="globalFooterNavUl01">
					<li><a href="" th:href="#{Header.contactus.url}"><span
							th:text="#{Footer.contact.us.text}">お問い合わせ</span></a></li>
					<!--<li><a href=""><span th:text="#{Footer.faq.text}">よくあるご質問FAQ</span></a></li>-->
					<li><a href="" th:href="#{Header.help.url}"><span
							th:text="#{Footer.help.text}">ヘルプ</span></a></li>
				</ul>
				<ul class="globalFooterNavUl" id="globalFooterNavUl02">
					<li><a href="" target="_blank"><span><img
								src="images/common/logo_blueship.svg"
								th:src="@{/resources/images/common/logo_blueship.svg}"
								alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
					<li><a href="" target="_blank"><span><img
								src="images/common/logo_trinity.png"
								th:src="@{/resources/images/common/logo_trinity.png}"
								alt="trinity" class="logo_trinity" /></span></a></li>
				</ul>
			</nav>
		</footer>


        <!-- JS -->
   <script src="resources/js/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    </body>
</html>