<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{UserList.title.text}" th:fragment="titleHtml">trinity | Admin Settings
    - User List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>
    <!-- コンテンツ -->
    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>
    <article class="contents"
        style="width: auto; margin-left: 48px; margin-right: 48px;">
        <div class="contentsHeader">
            <h1 th:text="#{AdminSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>管理者設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{AdminSettings.desc.text}">管理者設定ではtrinity全体に対する設定を行います</p>
        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/category/list}"></form>\
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/milestone/list}"></form>
        <section class="section sectionConfig" style="width: auto;">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{AdminSettings.globalSettings.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>全体設定
                </h2>
                <ul>
                    <li><a href="AdminSettingsProjectEdit.html"
                        th:href="#"> <span
                            th:text="#{AdminSettings.project.text}">プロジェクト</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsLanguageTimezone.html"
                        th:href="#"> <span
                            th:text="#{AdminSettings.locale.text}">言語と時刻</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsProjectNotification.html"
                        th:href="#"> <span
                            th:text="#{AdminSettings.notification.text}">お知らせ</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.userManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_user.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>ユーザ
                </h2>
                <ul>
                    <li><a href="AdminSettingsUserList.html"
                        th:href="#" class="current"> <span
                            th:text="#{AdminSettings.user.text}">ユーザ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsDepartmentList.html"
                        th:href="#"> <span
                            th:text="#{AdminSettings.department.text}">部署設定</span>
                    </a></li>
                    <li><a href="AdminSettingsGroupList.html"
                        th:href="#"> <span
                            th:text="#{AdminSettings.group.text}">グループ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsRoleList.html"
                        th:href="#"> <span
                            th:text="#{AdminSettings.role.text}">ロール設定</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.systemManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>システム管理
                </h2>
                <ul>
                    <li><a href="AdminSettingsProductLicense.html"
                        th:href="#"> <span
                            th:text="#{AdminSettings.productLicense.text}">製品ライセンス情報</span>
                    </a></li>
                </ul>
            </nav>
            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{UserList.header.text}">ユーザの一覧</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsUserList.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>
                <div>
                    <div th:replace="common/Messages::message">Messages</div>
                </div>
                <form id="FlowUserCreationService" method="POST"
                      th:action="@{/admin/user/create}"></form>
                <form id="FlowBatchUpdateService" method="POST"
                      th:action="@{/admin/user/batchupdate}"></form>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li style="float: left;"><a
                            class="underline" th:href="#{Common.anchor}"
                            onClick="safeSubmit('FlowUserCreationService', {'validation':false});return false;"> <span><img
                                    src="../../images/trinity/common/icon_user.png"
                                    th:src="@{/resources/images/common/icon_user.png}"
                                    alt="" /></span> <span
                                th:text="#{UserList.createSingleUser.text}">ユーザの新規登録</span>
                        </a></li>
                        <li style="float: left;">
                            <a class="underline" th:href="#{Common.anchor}"
                               onClick="safeSubmit('FlowBatchUpdateService', {'validation':false});return false;">
                                <span><img th:src="@{/resources/images/common/icon_setting_multiple.png}" /></span>
                                <span th:text="#{UserList.batchUserUpdate.text}">ユーザの一括新規登録</span>
                            </a>
                        </li>
                        <li style="float: right;">
                            <a class="underline" href="javascript:void(0)"
                               onclick="downloadFile();return false;">
                                <span><img th:src="@{/resources/images/common/icon_sourcefile.png}" /></span>
                                <span th:text="#{UserList.downloadUserList.text}">ユーザの新規登録</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <form id="FlowUserEditingService"
                    th:action="@{/admin/user/edit}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="inUserId" value="" />
                </form>
                <form th:action="@{/admin/user/export/file}" method="post" id="downloadFile">
                    <input type="hidden" name="RequestType" value="submitChanges" />
                </form>

                <div class="form-inline text-center"
                    style="min-height: 40px; background: #CCCCCC; vertical-align: top; padding-top: 4px; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; margin-top: 4px; margin-left: -15px; margin-right: -15px;">
                    <div class="row" style="margin: 0px;">
                        <div class="form-group">
                            <span
                                style="font-size: 120%; font-weight: bold; margin-right: 4px;"
                                th:text="#{UserList.filterUser.text}">ユーザの絞り込み</span>
                        </div>
                        <div class="form-group">
                            <input type="text"
                                class="form-control input-sm ellipsis"
                                placeholder="ユーザID、ユーザ名、メールアドレスからキーワードで検索"
                                th:placeholder="#{UserList.inputDesc.text}"
                                style="text-overflow: ellipsis; width: 300px;"
                                id="searchKeyword" />
                        </div>
                        <div class="form-group">
                            <select id="roleId"
                                class="form-control input-sm">
                                <option value=""
                                    th:text="#{UserList.filterByRole.text}">ロールの選択</option>
                                <option
                                    th:each="role : ${result.param.searchCondition.roleViews}"
                                    th:value="${role.value}"
                                    th:text="${role.label}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="groupId"
                                class="form-control input-sm">
                                <option value=""
                                    th:text="#{UserList.filterByGroup.text}">グループの選択</option>
                                <option
                                    th:each="group : ${result.param.searchCondition.groupViews}"
                                    th:value="${group.value}"
                                    th:text="${group.label}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="departmentId"
                                class="form-control input-sm">
                                <option value=""
                                    th:text="#{UserList.filterByDept.text}">部署の選択</option>
                                <option
                                    th:each="department : ${result.param.searchCondition.departmentViews}"
                                    th:value="${department.value}"
                                    th:text="${department.label}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form name="userList" method="post"
                        id="FlowUserListService">
                        <input type="hidden" name="oldSortOrder" /> <input
                            type="hidden" name="newSortOrder" /> <input
                            type="hidden" name="selectedUserId" />

                        <table class="table table-bordered"
                            th:fragment="userList" id="tableSorter2">
                            <thead>
                                <tr>
                                    <th width="10%"
                                        th:text="#{UserList.tableUserID.text}">ユーザID</th>
                                    <th width="12%"
                                        th:text="#{UserList.tableUsername.text}">ユーザ名</th>
                                    <th width="14%"
                                        th:text="#{UserList.tableEmail.text}">メールアドレス</th>
                                    <th width="10%"
                                        th:text="#{UserList.tableGroup.text}">グループ</th>
                                    <th width="10%"
                                        th:text="#{UserList.tableLanguage.text}">言語</th>
                                    <th width="10%"
                                        th:text="#{UserList.tableTimezone.text}">タイムゾーン</th>
                                    <th width="10%"
                                        th:text="#{UserList.tableLastLogin.text}">最終ログイン</th>
                                    <th width="10%"
                                        th:text="#{UserList.tableCreated.text}">登録日</th>
                                    <th width="10%"
                                        th:text="#{UserList.tableUpdated.text}">更新日</th>
                                    <th width="4%"
                                        th:text="#{UserList.tableRemove.text}">削除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${result.userViews}"
                                    th:id="${user.userId}">
                                    <td th:title="${user.userId}"
                                    	class="user ellipsis">
										<img th:src="${user.iconPath}"
											class="userImg" />
                                        <div>
                                            <a
                                                th:href="#{Common.anchor}"
                                                th:text="${user.userId}"
                                                th:onClick="'javascript:submitEditingService(\'' + ${user.userId} + '\');return false;'"
                                                class="underline"></a>
                                        </div>
                                    </td>
                                    <td th:title="${user.userNm}" class="ellipsis" th:text="${user.userNm}"></td>
                                    <td th:title="${user.mailAddress}" class="ellipsis" th:text="${user.mailAddress}"></td>
                                    <td>
                                    	<p th:each="group : ${user.groupNm}"
                                            th:text="${group}"></p></td>
                                    <td th:title="${user.language}" class="ellipsis" th:text="${user.language}"></td>
                                    <td th:title="${user.timezone}" class="ellipsis" th:text="${user.timezone}"></td>
                                    <td th:title="${user.lastLogInTime}" class="ellipsis" th:text="${user.lastLogInTime}"></td>
                                    <td th:title="${user.createdDate}" class="ellipsis" th:text="${user.createdDate}"></td>
                                    <td th:title="${user.updDate}" class="ellipsis" th:text="${user.updDate}"></td>
                                    <td class="btns"><a
                                        href="javascript:void(0)"
                                        class="delete"
                                        th:onClick="'javascript:confirmDelete(\'' + ${user.userId} + '\', \'' + ${user.userNm} + '\');return false;'">
                                        <i class="fa fa-times-circle"></i></a></td>
                                </tr>
                            </tbody>

                        </table>
                    </form>
                </div>
            </div>
        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
        function submitEditingService(userId) {
            form = document.getElementById('FlowUserEditingService');
            form.inUserId.value = userId;
            safeSubmit('FlowUserEditingService', {'validation':false});
        }
    		
        $(document).ready(function () {
        	bindSearchCriteria();
        	addSorter();
        	getTriLayer("flashMessage").show();
			
		});

		function addSorter() {
			$("#tableSorter2").addClass("tableSorter");
	           $("#tableSorter2").tablesorter({
	               headers: {
	                   0: {sorter:false},
	                   4: {sorter:false},
	                   5: {sorter:false},
	                   6: {sorter:false},
	                   8: {sorter:false},
	                   9: {sorter:false}
	               }
			});
		}

		function bindSearchCriteria() {
			$("#searchKeyword").unbind().on("change paste keyup", function(event) {
				ajax_search();
			});
			$("#roleId").unbind().on("change", function(event){
				ajax_search();
			});
			$("#groupId").unbind().on("change", function(event){
				ajax_search();
			});
			$("#departmentId").unbind().on("change", function(event){
				ajax_search();
			});
		}

		function ajax_delete(deletedUserId) {
            var timeOut = null;
            var url = /*[[ @{/admin/user/remove} ]]*/'/admin/user/remove';
            var $windowId = $('#windowId').val();
            timeOut = setTimeout(function() {
                $.post(url, $.param({
                    'deletedUserId' : deletedUserId, 'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                    	var messageHtml = $(data).find("#infoDialog").find(".bandPopup");
                    	if(messageHtml.text()) {
							$("#infoDialog").html(messageHtml);
							getTriLayer("flashMessage").show();
							
							ajax_refresh();
						} else {
                            console.error("ajax_delete failed")
                        }
                    	$("#message").html($(data).find("#message").html());
                }, "json").fail(function(XMLHttpRequest, status, errorThrown) {
                });
            }, 500);
        }

		function ajax_refresh() {
			var $keyword = $("#searchKeyword").val();
			var $roleId = $("#roleId").val(); 
			var $groupId = $("#groupId").val(); 
			var $departmentId = $("#departmentId").val();
            var timeOut = null;
            var url = /*[[ @{/admin/user} ]]*/'/admin/user';
            var $windowId = $('#windowId').val();
            timeOut = setTimeout(function() {
                $.post(url, $.param({
					'keyword' : $keyword, 'roleId' : $roleId, 'groupId' : $groupId,
					'departmentId' : $departmentId,
					'WindowsId' : $windowId
				})).done(
                    function(data, status, xhr) {
                        $("#tableSorter2").html($(data).find("table").html());
                        bindSearchCriteria();
                    	addSorter();
                    }).fail(function(XMLHttpRequest, status, errorThrown) {
                });
            }, 500);
        }

		function ajax_search() {
			var $keyword = $("#searchKeyword").val();
			var $roleId = $("#roleId").val(); 
			var $groupId = $("#groupId").val(); 
			var $departmentId = $("#departmentId").val();
			var timeOut = null;
			var url = /*[[ @{/admin/user/search} ]]*/ '/admin/user/search';
			var $windowId = $('#windowId').val();

			getTriLayer("mask").startWaiting('tableSorter2');
			
			timeOut = setTimeout(function() {
				$.post(url, $.param({
					'keyword' : $keyword, 'roleId' : $roleId, 'groupId' : $groupId,
					'departmentId' : $departmentId, 'WindowsId' : $windowId
				}), true).done(function(data, status, xhr) {
						$("#tableSorter2").html($(data).html());
						getTriLayer("mask").endWaiting('tableSorter2');
						addSorter();
						bindSearchCriteria();
					}, "json").fail(function(XMLHttpRequest, status, errorThrown){
							console.log("fail ajax_search");
							getTriLayer("mask").endWaiting('tableSorter2');
						});
			}, 500);
		}

		function confirmDelete(id, name) {
			openBandPopup({
				message		: messageReplace( [[#{UserList.confirmRemove.text}]] , name ),
				btn1Text	:[[#{UserList.yes.text}]],
				btn2Text	:[[#{UserList.no.text}]],
				btn1Func	:function() {
								ajax_delete(id);
							 },
				btn2Func	:function() {}
			});
		}

		function downloadFile() {
		    var url = /*[[ @{/admin/user/export/validate} ]]*/ '/admin/user/export/validate';
			var $windowId = $('#windowId').val();

		    $.post(url, $.param({'WindowsId' : $windowId}), true)
		        .done(function(data, status, xhr) {
				    $("#message").html($(data).find("#message").html());
				    if(!$("#message").html().trim()) {
				        var form = document.getElementById('downloadFile');
                        appendWindowId(form);
                        form.submit();
				    }
                });
		}
        /* ]]> */
	</script>
</body>
</html>