<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{DeptList.title.text}" th:fragment="titleHtml">trinity | Admin Settings
    - Department List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>

    <!-- 帯ポップアップ/bandPopup-->
    <div class="bandPopup">
        <div class="bandPopupMessage">
            <!--spacer-->
            <!-- <span>「(マイルストーン名)」を削除してもよろしいですか？この操作は元に戻せません</span> -->
        </div>

        <div class="bandPopupButton">
            <!--spacer-->
            <!-- <span><a href="" class="btn btn-default" onClick="">はい</a></span>
<span><a href="" class="btn btn-default" onClick="">いいえ</a></span> -->
        </div>
    </div>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span> <span
                    class="countBell"> <img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">
                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader" class="separator">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- 設定画面ヘッダー -->
    <header id="settingsHeader"></header>


    <!-- コンテンツ -->
    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>
    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{AdminSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>管理者設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{AdminSettings.desc.text}">管理者設定ではtrinity全体に対する設定を行います</p>
        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/category/list}"></form>
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/milestone/list}"></form>
        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{AdminSettings.globalSettings.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>全体設定
                </h2>
                <ul>
                    <li><a href="AdminSettingsProjectEdit.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.globalSettings.text}">プロジェクト</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsLanguageTimezone.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.locale.text}">言語と時刻</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsProjectNotification.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.notification.text}">お知らせ</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.userManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_user.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>ユーザ
                </h2>
                <ul>
                    <li><a href="AdminSettingsUserList.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.user.text}">ユーザ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsDepartmentList.html"
                        th:href="#{Common.anchor}" class="current">
                            <span
                            th:text="#{AdminSettings.department.text}">部署設定</span>
                    </a></li>
                    <li><a href="AdminSettingsGroupList.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.group.text}">グループ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsRoleList.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.role.text}">ロール設定</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.systemManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>システム管理
                </h2>
                <ul>
                    <li><a href="AdminSettingsProductLicense.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.productLicense.text}">製品ライセンス情報</span>
                    </a></li>
                </ul>
            </nav>


            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{DeptList.header.text}">部署の一覧</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsDepartmentList.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>


                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>


                <form id="FlowDepartmentCreationService" method="POST"
                    th:action="@{/admin/department/create}"></form>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavRight">
                        <li><a
                            href="AdminSettingsDepartmentCreation.html"
                            th:href="#{Common.anchor}" class="underline"
                            onClick="safeSubmit('FlowDepartmentCreationService', {'validation':false});return false;">
                                <span><img
                                    src="../../images/trinity/common/icon_category.png"
                                    th:src="@{/resources/images/common/icon_category.png}"
                                    alt="" /></span> <span
                                th:text="#{DeptList.createDept.text}">部署の新規作成</span>
                        </a></li>
                    </ul>
                </nav>

                <form id="FlowDepartmentEditingService"
                    th:action="@{/admin/department/edit}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="departmentId" value="" />
                </form>

                <form name="departmentList" method="post"
                    id="FlowDepartmentListService">
                    <input type="hidden" name="oldSortOrder" /> <input
                        type="hidden" name="newSortOrder" /> <input
                        type="hidden" name="selectedDepartmentId" />

                    <table class="table table-bordered sortable"
                        th:fragment="departmentList"
                        id="result_department">
                        <thead>
                            <tr>
                                <th class="checkboxHead"></th>
                                <th
                                    th:text="#{DeptList.tableDeptName.text}">部署名</th>
                                <th
                                    th:text="#{DeptList.tableRemove.text}">削除</th>
                            </tr>
                        </thead>
                        <tbody class="ui-sortable" id="sortable">
                            <tr
                                th:each="res,status  : ${result.departmentViews}"
                                th:for="${status.index}"
                                th:id="${res.deptId}">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td><a href="javascript:void(0)" th:text="${res.deptNm}"
                                    th:onClick="'javascript:submitEditingService(\'' + ${res.deptId} + '\');return false;'"></a></td>
                                <td class="btns">
                                	<a href="javascript:void(0)"
	                                    class="delete"
	                                    th:onClick="'javascript:confirmDelete(\'' + ${res.deptId} + '\', \'' + ${res.deptNm} + '\');return false;'">
	                                    <i class="fa fa-times-circle"></i>
	                                </a>
	                           	</td>
                            </tr>
                            <!-- for designer's review -->
                            <tr th:remove="all">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td><a
                                    href="AdminSettingsDepartmentEdit.html"
                                    class="underline">企画部</a></td>
                                <td class="btns"><a
                                    href="javascript:void(0)"
                                    class="delete"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td>システム部</td>
                                <td class="btns"><a
                                    href="javascript:void(0)"
                                    class="delete"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td>ライブラリ管理部</td>
                                <td class="btns"><a
                                    href="javascript:void(0)"
                                    class="delete"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td>あいうえお</td>
                                <td class="btns"><a
                                    href="javascript:void(0)"
                                    class="delete"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td>かきくけこ</td>
                                <td class="btns"><a
                                    href="javascript:void(0)"
                                    class="delete"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td>さしすせそ</td>
                                <td class="btns"><a
                                    href="javascript:void(0)"
                                    class="delete"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row"><i
                                    class="fa fa-bars handle"></i></th>
                                <td>たちつてと</td>
                                <td class="btns"><a
                                    href="javascript:void(0)"
                                    class="delete"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <p class="sectionConfigContentsNavLead">
                    <span th:text="#{DeptList.dragDesc1.text}">並び順を変更するには</span>
                    <i class="fa fa-bars"></i> <span
                        th:text="#{DeptList.dragDesc2.text}">をドラッグしてください。</span>
                </p>

            </div>

        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
            /*<![CDATA[*/
            var oldPosition;
            function submitEditingService(departmentId) {
                form = document.getElementById('FlowDepartmentEditingService');
                form.departmentId.value = departmentId;
                safeSubmit('FlowDepartmentEditingService', {'validation':false});
            }
            function ajax_delete(deletedDepartmentId) {
                var timeOut = null;
                var url = /*[[ @{/admin/department/remove} ]]*/'/admin/department/remove';
                var $windowId = $('#windowId').val();
                timeOut = setTimeout(function() {
                    $.post(url, $.param({
                        'deletedDepartmentId' : deletedDepartmentId, 'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                            var messageHtml = $(data).find("#infoDialog").find(".bandPopup");
                            if(messageHtml.text()) {
    							$("#infoDialog").html(messageHtml);
    							getTriLayer("flashMessage").show();
    							
    						}
                            $("#message").html($(data).find("#message").html());
                            ajax_refresh();
                    }, "json").fail(function(XMLHttpRequest, status, errorThrown) {
                        console.log("fail ajax_delete");
                    });
                }, 500);
            }

            function ajax_refresh() {
                var timeOut = null;
                var url = /*[[ @{/admin/department} ]]*/'/admin/department';
                timeOut = setTimeout(function() {
                    $.post(url, serializeWindowId('FlowDepartmentListService')).done(
                        function(data, status, xhr) {
                            $("#result_department").html($(data).find("table").html());
                            sortOrderFunction();
                        }).fail(function(XMLHttpRequest, status, errorThrown) {
                    });
                }, 500);
            }

            function ajax_sort(oldPosition, newPosition, selectedDepartmentId) {
                var timeOut = null;
                var url = /*[[ @{/admin/department/changesort} ]]*/'/admin/department/changesort';
                form = document.getElementById('FlowDepartmentListService');
                form.oldSortOrder.value = oldPosition;
                form.newSortOrder.value = newPosition;
                form.selectedDepartmentId.value = selectedDepartmentId;

                timeOut = setTimeout(function() {
                    $.post(url, serializeWindowId('FlowDepartmentListService')).done(
                        function(data, status, xhr) {
                            $("#result_department").html(data);
                            sortOrderFunction();
                        }).fail(function(XMLHttpRequest, status, errorThrown) {
                    });
                }, 500);
            }
            
            function confirmDelete(id, name) {
				openBandPopup({
					message		: messageReplace( [[#{DeptList.confirmRemove.text}]] , name ),
					btn1Text	:[[#{DeptList.yes.text}]],
					btn2Text	:[[#{DeptList.no.text}]],
					btn1Func	:function() {
									ajax_delete(id);
								 },
					btn2Func	:function() {}
				});
			}
            function sortOrderFunction() {
                $( ".sortable tbody" ).sortable({
                    start: function(event, ui) {
                        oldPosition = ui.item.index() + 1;
                    },
                    update: function( event , ui ){
                        var selectedDepartmentId = ui.item.attr('id');
                        var newPosition = ui.item.index() + 1;
                        ajax_sort(oldPosition, newPosition, selectedDepartmentId);
                    }
                });
            }
            $(function() {
                sortOrderFunction();

                getTriLayer("flashMessage").show();
                
            });
            /* ]]> */
        </script>
</body>
</html>