<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{GroupEdit.title.text}" th:fragment="titleHtml">trinity | Admin
    Settings - Edit Group</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>

    <!-- 帯ポップアップ/bandPopup-->
    <div class="bandPopup">
        <div class="bandPopupMessage">
            <!--spacer-->
            <!-- <span>「(マイルストーン名)」を削除してもよろしいですか？この操作は元に戻せません</span> -->
        </div>

        <div class="bandPopupButton">
            <!--spacer-->
            <!-- <span><a href="" class="btn btn-default" onClick="">はい</a></span>
<span><a href="" class="btn btn-default" onClick="">いいえ</a></span> -->
        </div>
    </div>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span> <span
                    class="countBell"> <img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">
                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader" class="separator">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- 設定画面ヘッダー？ -->
    <header id="settingsHeader"></header>


    <!-- コンテンツ -->
    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>
    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{AdminSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>管理者設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{AdminSettings.desc.text}">管理者設定ではtrinity全体に対する設定を行います</p>
        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/category/list}"></form>
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/milestone/list}"></form>
        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{AdminSettings.globalSettings.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>全体設定
                </h2>
                <ul>
                    <li><a href="AdminSettingsProjectEdit.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.project.text}">プロジェクト</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsLanguageTimezone.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.locale.text}">言語と時刻</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsProjectNotification.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.notification.text}">お知らせ</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.userManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_user.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>ユーザ
                </h2>
                <ul>
                    <li><a href="AdminSettingsUserList.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.user.text}">ユーザ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsDepartmentList.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.department.text}">部署設定</span>
                    </a></li>
                    <li><a href="AdminSettingsGroupList.html"
                        th:href="#{Common.anchor}" class="current">
                            <span th:text="#{AdminSettings.group.text}">グループ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsRoleList.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.role.text}">ロール設定</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.systemManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>システム管理
                </h2>
                <ul>
                    <li><a href="AdminSettingsProductLicense.html"
                        th:href="#{Common.anchor}"> <span
                            th:text="#{AdminSettings.productLicense.text}">製品ライセンス情報</span>
                    </a></li>
                </ul>
            </nav>


            <div class="sectionConfigContents matchHeight" style="min-height: 750px;"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{GroupEdit.header.text}">グループの編集</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsGroupEdit.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <form id="FlowGroupListService" method="POST"
                    th:action="@{/admin/group}"></form>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li><a href="AdminSettingsGroupList.html"
                            th:href="#{Common.anchor}" class="underline"
                            onClick="safeSubmit('FlowGroupListService', {'validation':false});return false;">
                            <span><img
                                    src="../../images/trinity/common/icon_return.png"
                                    th:src="@{/resources/images/common/icon_return.png}"
                                    alt="" /></span>
                            <span
                                th:text="#{GroupEdit.returnToGroupList.text}">グループの一覧にもどる</span></a>
                        </li>
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>

                <form class="form-horizontal" id="FlowGroupEditService"
                    th:action="@{/admin/group/edit}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" />
                    <input type="hidden"
                        name="referer" value="GroupEdit" />
                    <input
                        type="hidden" name="forward" value="GroupEdit" />
                    <input type="hidden" id="hiddenGroupId" name="groupId"
                        th:value="${groupId}" /> <input type="hidden"
                        th:value="${userViews}" id="userViews" />

                    <section class="section sectionRadius" id="sectionAddRole">
                        <h2 th:text="#{GroupEdit.groupInfo.text}">グループ情報</h2>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                <span class="required">*</span><span
                                th:text="#{GroupEdit.groupName.text}">グループ名</span>:
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control first validation"
                                    value="制限グループ" name="groupNm"
                                    th:value="${result.param.inputInfo.groupNm}"
                                    maxlength="140" />
                                <div class="formError"
                                    style="display: none;">
                                    <span
                                        th:text="#{GroupEdit.groupName.text}">グループ名</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                <span
                                th:text="#{GroupEdit.groupRole.text}">ロールの割り当て</span>:
                            </label>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <h4 th:text="#{GroupEdit.groupRoleDesc.text}">このグループに割り当てるロールを選択してください</h4>
                                    <input type="text"
                                        class="form-control"
                                        id="magicsuggest1" />
                                </div>
                            </div>

                        </div>

                    </section>

                    <section class="section sectionRadius" id="sectionAddUser">
                        <h2 th:text="#{GroupEdit.addGroupUser.text}">グループユーザの追加</h2>

                        <h4 th:text="#{GroupEdit.groupUser.text}">このグループに参加させるユーザを選択してください</h4>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control"
                                    id="magicsuggest2" />
                            </div>
                        </div>


                    </section>

                </form>
                <div class="sectionConfigContentsSpacer"></div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <!-- <a href="" class="btn btn-default" onClick="safeSubmit('FlowGroupEditService', {'validation':false});return false;" -->
                        <a href="javascript:void(0)"
                            class="btn btn-default"
                            onClick="submitEdit('FlowGroupEditService');"
                            id="groupEdit" th:lang="${lang}"> <span
                            th:text="#{GroupEdit.submit.text}">登録</span></a>
                    </div>
                </div>

                <p class="contentsHeaderLead"
                    th:text="#{GroupEdit.tableDesc.text}">グループに参加中のユーザ（5人）</p>

                <table class="table table-bordered sortable"
                    id="tableSorter2" th:fragment="categoryList">
                    <thead>
                        <tr>
                            <th
                                th:text="#{GroupEdit.tableUserName.text}">ユーザ名</th>
                            <th th:text="#{GroupEdit.tableEmail.text}">メールアドレス</th>
                            <th th:text="#{GroupEdit.tableRemove.text}">削除</th>
                        </tr>
                    </thead>
                    <tbody class="ui-sortable" id="sortable">
                        <tr th:each="user,status : ${result.userViews}"
                            th:for="${status.index}"
                            th:id="${user.userId}">
                            <td>
								<img src="../../images/trinity/common/icon_obake.png"
			                        th:src="${user.iconPath}"
			                        alt="Tommy Robinson" height="13px"
			                        class="userImg" />
									
		                        <span th:text="${user.userNm}">Tommy Robinson</span>
							</td>
                            <td th:text="${user.mailAddress}"></td>
                            <td class="btns"><a
                                href="javascript:void(0)" class="delete"><i
                                    class="fa fa-times-circle"></i></a></td>
                            <input type="hidden" name="userIds"
                                th:value="${user.userId}" />
                        </tr>
                        <!-- for designer's review -->
                        <tr th:remove="all">
                            <td>First Last1</td>
                            <td>mailaddress@domainname.TLD1</td>
                            <td class="btns"><a
                                href="javascript:void(0)" class="delete"><i
                                    class="fa fa-times-circle"></i></a></td>
                        </tr>
                        <tr th:remove="all">
                            <td>First Last2</td>
                            <td>mailaddress@domainname.TLD4</td>
                            <td class="btns"><a
                                href="javascript:void(0)" class="delete"><i
                                    class="fa fa-times-circle"></i></a></td>
                        </tr>
                        <tr th:remove="all">
                            <td>First Last30</td>
                            <td>mailaddress@domainname.TLD5</td>
                            <td class="btns"><a
                                href="javascript:void(0)" class="delete"><i
                                    class="fa fa-times-circle"></i></a></td>
                        </tr>
                        <tr th:remove="all">
                            <td>First Last23</td>
                            <td>mailaddress@domainname.TLD42</td>
                            <td class="btns"><a
                                href="javascript:void(0)" class="delete"><i
                                    class="fa fa-times-circle"></i></a></td>
                        </tr>
                        <tr th:remove="all">
                            <td>First Last52</td>
                            <td>mailaddress@domainname.TLD12</td>
                            <td class="btns"><a
                                href="javascript:void(0)" class="delete"><i
                                    class="fa fa-times-circle"></i></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
            /*<![CDATA[*/
            
            // how to use: http://nicolasbize.com/magicsuggest/doc.html
             var jsonData1 = /*[[ ${result.param.inputInfo.roleViews} ]]*/;
             var jsonData1Value = /*[[ ${result.param.inputInfo.roleIdSet} ]]*/;
   	 		 var jsonData2 = /*[[ ${result.param.inputInfo.userViews} ]]*/;

   	 		 var ms1;
   	 		 var ms2;
            
             /* function  magicsuggestClear(){
                $(function() {
                    $("#magicsuggest1").magicSuggest().clear(true);
                    $("#magicsuggest2").magicSuggest().clear(true);
                });
            }; */
            
            
            /* function  expand1(){
                $(function() {
                    $("#magicsuggest1").magicSuggest().expand();
                });
            };
            function  expand2(){
                $(function() {
                    $("#magicsuggest2").magicSuggest().expand();
                });
            }; */
            
            $(document).ready(function() {
                ms1 = $("#magicsuggest1").magicSuggest({
                    data: jsonData1,
                    value: jsonData1Value,
                    valueField: 'roleId',
                    useZebraStyle: true,
                    placeholder: [[#{GroupEdit.pleaseSelect.text}]],
                    sortOrder: 'roleNm',
                    editable: false,
                    expandOnFocus: true,
                    maxSelection: null,
                    isSilent: true,
                    renderer: function( data )
                    {
                        return data.roleNm;
                    },
                    selectionRenderer: function( data )
                    {
                        return '<input type="hidden" name="roleIds" value="' + data.roleId + '"/>' + data.roleNm;
                    }
                });

                ms2 = $("#magicsuggest2").magicSuggest({
                    data: jsonData2,
                    valueField: 'userId',
                    useZebraStyle: true,
                    placeholder: [[#{GroupEdit.pleaseSelect.text}]],
                    sortOrder: 'userNm',
                    editable: false,
                    expandOnFocus: true,
                    maxSelection: null,
                    renderer: function( data )
                    {
                        return '<img src="'+data.iconPath+'" height="16px" style="padding-top:5px; margin-right:4px;" />' + data.userNm;
                    },
                    selectionRenderer: function( data )
                    {
                        return '<img src="'+data.iconPath+'" height="16px" style="padding-top:5px; margin-right:4px;" /><input type="hidden" name="userIds" value="' + data.userId + '"/>' + data.userNm;
                    }
                });

                $(ms1).on('selectionchange', function(e,m){
                    changeWindowHeight();
                });

                $(ms2).on('selectionchange', function(e,m){
                    changeWindowHeight();
                });
                
                addTableSorter();
                deleteFunction();               
            });

            function addTableSorter() {
            	$("#tableSorter2").addClass("tableSorter");
                $("#tableSorter2").addClass("sorter");
                $("#tableSorter2").tablesorter({
	                headers: {
	                    2: {sorter:false}
	                }
                });
			}

            function deleteFunction() {
                $(".delete").unbind().click(function() {
                	var deleteElement = $(this).parent().parent();
                	openBandPopup({
        				message		: [[#{GroupEdit.removeUserConfirmation.text}]],
        				btn1Text	: [[#{GroupEdit.removeUserConfirmation.yes.text}]],
        				btn2Text	: [[#{GroupEdit.removeUserConfirmation.no.text}]],
        				btn1Func	:function() {
        								ajax_delete(deleteElement);
        							 },
        				btn2Func	:function() {}
        			});
                });
            }

            function ajax_delete(element) {
                var url = /*[[ @{/admin/group/edit/excludeuser} ]]*/'/admin/group/edit/excludeuser';
                var $excludeUserId = $(element).attr('id');
                var $groupId = $("#hiddenGroupId").val();
                var $windowId = $('#windowId').val();
                $.post(url, $.param({
                    'excludeUserId' : $excludeUserId, 'groupId' : $groupId, 'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                    $("#message").html($(data).find("#message").html());
                    if(!$("#message").html().trim()) {
                        ajax_refresh();
                    } else {
                        deleteFunction();
                        addTableSorter();
                        changeWindowHeight();
                    }
                }, "json");
			}

            function ajax_refresh() {
				var timeOut = null;
				var $requestType = $("input[name='RequestType']");
				$requestType.val("onChange");
				
				var url = /*[[ @{/admin/group/edit} ]]*//'/admin/group/edit';
				timeOut = setTimeout(function() {
					$.post(url, serializeWindowId('FlowGroupEditService')).done(
						function(data, status, xhr) {
							$("#tableSorter2").html($(data).find("table").html());
							jsonData2 = ($(data).find('#userViews')).val();
							ms2.setData(JSON.parse(jsonData2));
							$requestType.val("submitChanges");
							deleteFunction();
							addTableSorter();
						}).fail(function(XMLHttpRequest, status, errorThrown){
					});
				}, 500);
			}
 
           	function submitEdit(serviceName) {
               var $userIds = $("#tableSorter2 input:hidden[name=userIds]");
               $("#FlowGroupEditService").append($userIds);
               
               safeSubmit(serviceName,{'validation':true});
           	}

            function changeWindowHeight() {
                var mainSection = $('.sectionConfig'),
                    mainHeight = mainSection.height(),
                    navSection = $('.sectionConfigNav'),
                    navHeight = navSection.height();

                var newHeight = 500 + $('#message').height() + $('#sectionAddUser').height() + $('#sectionAddRole').height() + $("#tableSorter2").height();
                mainSection.height(mainHeight).animate({height: newHeight}, 200);
                navSection.height(navHeight).animate({height: newHeight}, 200);
            }

		/* ]]> */ 
        </script>
</body>
</html>