<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{Admin.LookAndFeel.title.text}" th:fragment="titleHtml"></title>
</head>

<body>
    <article class="contents">
        <section class="section sectionConfig">
            <div class="sectionConfigContents matchHeight" th:fragment="innerHtml">
                
                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>
                
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{Admin.LookAndFeel.header.text}"></h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsLookAndFeel.help.url}"
                            target="_blank"><i class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <form class="form-horizontal" id="FormLookAndFeel" th:action="@{/admin/lookandfeelV3}" method="POST">
                    <input type="hidden" name="RequestType" value="submitChanges" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{Admin.LookAndFeel.uiSwitching.text}"></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control" style="width: 400px;" name="lookAndFeel">
                                    <option
                                        th:each="item : ${result.param.lookAndFeelEditInputInfo.lookAndFeelViews}"
                                        th:text="#{Admin.LookAndFeel.__${item.label}__.text}"
                                        th:value="${item.value}"
                                        th:selected="${item.value} == ${result.param.lookAndFeelEditInputInfo.lookAndFeel.value()}"></option>
                                </select>
                            </div>
                            <div style="margin-top: 10px;">
                                <span th:text="#{Admin.LookAndFeel.note.text}"></span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="sectionConfigContentsSpacer"></div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <a href="" class="btn btn-default"
                            onClick="safeSubmit('FormLookAndFeel', {'validation':false});return false;">
                            <span th:text="#{Admin.LookAndFeel.submit.text}">登録</span>
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </article>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(function() {
				getTriLayer("flashMessage").show();
				
			});
		/* ]]> */
	</script>
</body>
</html>