<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ProductLicense.title.text}" th:fragment="titleHtml">trinity | Admin
    Settings - Product License</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/SourceCodePro.css"
    th:href="@{/resources/css/SourceCodePro.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />


<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span> <span
                    class="countBell"> <img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">
                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader" class="separator">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- 設定画面ヘッダー？ -->
    <header id="settingsHeader"></header>


    <!-- コンテンツ -->
    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>
    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{LotSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>管理者設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{LotSettings.configureSettings.text}">管理者設定ではtrinity全体に対する設定を行います</p>
        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/category/list}"></form>
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/milestone/list}"></form>
        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{************.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>全体設定
                </h2>
                <ul>
                    <li><a href="AdminSettingsProjectEdit.html"
                        th:href="#"> <span
                            th:text="#{************.text}">プロジェクト</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsLanguageTimezone.html"
                        th:href="#"> <span
                            th:text="#{************.text}">言語と時刻</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsProjectNotification.html"
                        th:href="#"> <span
                            th:text="#{************.text}">お知らせ</span>
                    </a></li>
                </ul>

                <h2 th:text="#{************.text}">
                    <span><img
                        src="../../images/trinity/common/icon_user.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>ユーザ
                </h2>
                <ul>
                    <li><a href="AdminSettingsUserList.html"
                        th:href="#"> <span
                            th:text="#{************.text}">ユーザ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsDepartmentList.html"
                        th:href="#"> <span
                            th:text="#{************.text}">部署設定</span>
                    </a></li>
                    <li><a href="AdminSettingsGroupList.html"
                        th:href="#"> <span
                            th:text="#{************.text}">グループ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsRoleList.html"
                        th:href="#"> <span
                            th:text="#{************.text}">ロール設定</span>
                    </a></li>
                </ul>

                <h2 th:text="#{************.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>システム管理
                </h2>
                <ul>
                    <li><a href="AdminSettingsProductLicense.html"
                        th:href="#" class="current"> <span
                            th:text="#{************.text}">製品ライセンス情報</span>
                    </a></li>
                </ul>
            </nav>

            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{ProductLicense.header.text}">製品ライセンス情報</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsProductLicense.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <th:block th:each="productId : ${result.detailsViewBeans.keySet()}"
                          th:with="detailsView = ${result.detailsViewBeans.get(productId)},
                                     inputInfo = ${result.param.inputBeans.get(productId)}">

                    <div class="sectionConfigContentsHeader" th:if="${!productIdStat.first}">
                        <div class="sectionConfigContentsHeaderHelp">
                    <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsProductLicense.help.url}"
                            target="_blank"><i
                            class="fa fa-question"></i></a></span>
                        </div>
                    </div>

                    <form method="POST" class="form-horizontal"
                          th:id="|${productId}FlowProductLicenseEdit|" th:action="|@{/admin/license}#${productId}FlowProductLicenseEdit|">

                    <input type="hidden" name="RequestType" value="submitChanges"/>
                    <input type="hidden" th:name="|${productId}Submit|" value="true"/>

                    <p th:text="#{ProductLicense.__${productId}__.desc.text}">
                        ※以下の項目は、trinity本体とtrinityAgentを使用する際に必要な登録となります。</p>
                    <br/><br/>

                    <nav class="sectionNav sectionConfigContentsNav" th:if="${inputInfo.submit}">
                        <ul class="sectionNavLeft">
                            <li>
                                <div th:replace="common/Messages::message">Messages</div>
                            </li>
                        </ul>
                    </nav>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                            th:text="#{ProductLicense.productID.text}">プロダクトID</label>
                        <div class="col-sm-9">
                            <p class="form-control-static"
                                style="font-family: 'Source Code Pro';"
                                th:text="${productId}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                            th:text="#{ProductLicense.computerName.text}">コンピュータ名</label>
                        <div class="col-sm-9">
                            <p class="form-control-static"
                                style="font-family: 'Source Code Pro';"
                                th:text="${detailsView.cpNm}"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                            th:text="#{ProductLicense.serialNumber.text}">シリアルナンバー</label>
                        <div class="col-sm-9">
                            <p class="form-control-static"
                                style="font-family: 'Source Code Pro';"
                                th:text="${detailsView.serialNumber}"></p>
                        </div>
                    </div>
                    <div class="form-group" th:if="${inputInfo.rm}">
                        <label class="col-sm-3 control-label"
                            th:text="#{ProductLicense.agentNumber.text}">Agent数</label>
                        <div class="col-sm-9">
                            <p class="form-control-static"
                                style="font-family: Source Code' Pro';"
                                th:text="${detailsView.numberOfAgent}"></p>
                        </div>
                    </div>
                        <div class="form-group" th:if="${inputInfo.rm}">
                        <label class="col-sm-3 control-label"
                            th:text="#{ProductLicense.expiration.text}">使用期限</label>
                        <div class="col-sm-9">
                            <p class="form-control-static"
                                th:text="${detailsView.expiration} == 'unlimited' ? #{ProductLicense.expirationUnlimited.text} : ${detailsView.expiration}"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                            th:text="#{ProductLicense.comment.text}">コメント</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" maxlength="40"
                                th:name="|${productId}Comment|"
                                th:text="${inputInfo.comment}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="required">*</span><span
                                th:text="#{ProductLicense.productKey.text}">プロダクトキー</span></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}ProductKey1|" th:name="|${productId}ProductKey1|"
                                    size="8"
                                    th:value="${inputInfo.productKey.key1}" />
                                <span class="input-group-addon"
                                    style="padding: 0 4px;">-</span> <input
                                    type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}ProductKey2|" th:name="|${productId}ProductKey2|"
                                    size="8"
                                    th:value="${inputInfo.productKey.key2}" />
                                <span class="input-group-addon"
                                    style="padding: 0 4px;">-</span> <input
                                    type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}ProductKey3|" th:name="|${productId}ProductKey3|"
                                    size="8"
                                    th:value="${inputInfo.productKey.key3}" />
                                <span class="input-group-addon"
                                    style="padding: 0 4px;">-</span> <input
                                    type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}ProductKey4|" th:name="|${productId}ProductKey4|"
                                    size="8"
                                    th:value="${inputInfo.productKey.key4}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group" th:if="${inputInfo.rm}">
                        <label class="col-sm-3 control-label"
                            th:text="#{ProductLicense.agentLicense.text}">Agentライセンス</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}AgentKey1|" th:name="|${productId}AgentKey1|"
                                    size="8"
                                    th:value="${inputInfo.agentKey.key1}" />
                                <span class="input-group-addon"
                                    style="padding: 0 4px;">-</span> <input
                                    type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}AgentKey2|" th:name="|${productId}AgentKey2|"
                                    size="8"
                                    th:value="${inputInfo.agentKey.key2}" />
                                <span class="input-group-addon"
                                    style="padding: 0 4px;">-</span> <input
                                    type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}AgentKey3|" th:name="|${productId}AgentKey3|"
                                    size="8"
                                    th:value="${inputInfo.agentKey.key3}" />
                                <span class="input-group-addon"
                                    style="padding: 0 4px;">-</span> <input
                                    type="text"
                                    style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                    class="form-control input-sm"
                                    th:id="|${productId}AgentKey4|" th:name="|${productId}AgentKey4|" 
                                    size="8"
                                    th:value="${inputInfo.agentKey.key4}" />
                            </div>
                        </div>
                    </div>

                </form>

                <div class="sectionConfigContentsSpacer"></div>

                <div class="row">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <a href="javascript:void(0)" class="btn btn-default"
                           th:onClick="|safeSubmit('${productId}FlowProductLicenseEdit');return false;|">
                            <span th:text="#{ProductLicense.submit.text}">登録</span>
                        </a>
                    </div>
                </div>

                </th:block>
            </div>

        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
    /* <![CDATA[ */
            var inputKeySel = 'input[type=text][name*=Key]';
            $(inputKeySel).on('focus', function () {
                this.select();
            }).on('input', function () {
                var inputs = $(this).closest('form').find(inputKeySel);
                var next = inputs.eq(inputs.index(this) + 1);
                if (this.value.length >= 8) {
                    next.focus();
                    if (this.value.length > 8) {
                        next.val(this.value.substring(8)).trigger('input');
                        this.value = this.value.substring(0, 8);
                    }
                }
            });

            $(function() {
            	getTriLayer("flashMessage").show();
    			
    		});
        /* ]]> */
        </script>
</body>
</html>