<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{UserCreate.title.text}">trinity
    | Admin Settings - Create User</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />


<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>
    <!-- コンテンツ -->
    <article class="contents">
        <section class="section sectionConfig">
            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{UserCreate.header.text}">ユーザーの新規登録</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsUserCreation.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>
                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li><a href="#" class="underline"
                            onClick="safeSubmit('MenuFlowUserListService', {'validation':false});return false;">
                            <span><img
                                    src="../../images/trinity/common/icon_return.png"
                                    th:src="@{/resources/images/common/icon_return.png}"
                                    alt="" /></span>
                            <span
                                th:text="#{UserCreate.returnToUserList.text}">ロールの一覧にもどる</span></a>
                        </li>
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>

                <form class="form-horizontal"
                    id="FlowUserCreationService"
                    th:action="@{/admin/user/create}" method="POST"
                    autocomplete="off">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="referer" value="UserCreation" /> <input
                        type="hidden" name="forward"
                        value="UserCreation" />


                    <section class="section sectionRadius">
                        <h2 th:text="#{UserCreate.boxUserInfo.text}">ユーザ情報</h2>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserCreate.userID.text}">ユーザID</span></label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control first validation"
                                    name="inUserId"
                                    th:value="${result.param.inputInfo.userId}"
									maxlength="20" />
                                <div class="formError"
                                    style="display: none;">
                                    <span
                                        th:text="#{UserCreate.userID.text}">ユーザID</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserCreate.username.text}">ユーザ名</span></label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control validation"
                                    name="inUserName"
                                    th:value="${result.param.inputInfo.userNm}"
									maxlength="80" />
                                <div class="formError"
                                    style="display: none;">
                                    <span
                                        th:text="#{UserCreate.username.text}">ユーザ名</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserCreate.email.text}">メールアドレス</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                    name="mailAddress"
                                    th:value="${result.param.inputInfo.mailAddress}"
									maxlength="128" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserCreate.dept.text}">部署</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select class="form-control"
                                        name="deptId">
                                        <option value=""
                                            th:text="#{UserCreate.pleaseSelect1.text}">
                                            -------選択してください-------</option>
                                        <option
                                            th:each="res : ${result.param.inputInfo.deptViews}"
                                            th:text="${res.label}"
                                            th:value="${res.value}"
                                            th:selected="${res.value}== ${result.param.inputInfo.deptId}">1</option>
                                    </select>

                                </div>
                                <span
                                    th:text="#{UserCreate.deptSelectDesc.text}">部署選択を行うには「部署設定」から部署を登録してください。</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserCreate.icon.text}">アイコン</span></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select class="form-control"
                                        name="iconPath" id="iconSelect">
                                        <option
                                            th:each="res, iter : ${result.param.inputInfo.iconViews}"
                                            th:text="${res.label}"
                                            th:value="${res.value}"
                                            th:selected="${res.value} == ${result.param.inputInfo.iconPath}">icons/00_default_p.gif</option>
                                    </select> <img id="user-icon-path"
                                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                                        th:src="${not #strings.isEmpty(result.param.inputInfo.iconPath)} ? ${result.param.inputInfo.iconPath} : ${result.param.inputInfo.iconViews.get(0).value}"
                                        alt="" height="32px" /> <a
                                        href="" class="underline"
                                        th:text="#{UserCreate.chooseIcon.text}"
                                        data-toggle="modal"
                                        data-target="#SaveIcon">アイコン選択画面を開く</a>

                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserCreate.emailSetting.text}">メール設定</label>
                            <div class="col-sm-9">
                                <input type="checkbox"
                                    name="isReceiveMail"
                                    th:checked="${result.param.inputInfo.isReceiveMail()}" /><label
                                    th:text="#{UserCreate.receiveEmail.text}">メールを受信する</label>
                            </div>
                        </div> -->
                    </section>

                    <section class="section sectionRadius">
                        <h2 th:text="#{UserCreate.boxPassword.text}">パスワード</h2>

                        <div class="form-group">

                            <div class="col-sm-4"></div>
                            <div class="col-sm-8"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserCreate.password.text}">パスワード</span></label>
                            <div class="col-sm-9">
                                <div class="form-group"
                                    style="margin-left: 0; margin-right: 36px;">
                                    <div class="newPassword">
                                        <input
                                            class="form-control newPasswordPopover validation validationMessagePosition"
                                            data-validationMessagePosition="refresh"
                                            type="password"
                                            placeholder="新しいパスワード"
                                            name="password"
                                            th:placeholder="#{Password.newPassword.text}"
                                            id="password" />
                                        <div class="formError"
                                            style="display: none;">
                                            <span
                                                th:text="#{UserCreate.password.text}">パスワード</span>
                                            <span
                                                th:text="#{Validation.isRequired.text}">is
                                                required.</span>
                                        </div>
                                        <div id="refresh">
                                            <div
                                                class="newPasswordIndicator"
                                                th:classappend="${levelClass}">
                                                <span class="bar01"></span>
                                                <span class="bar02"></span>
                                                <span class="bar03"></span>
                                            </div>
                                            <div
                                                class="newPasswordIndicator"
                                                th:classappend="${levelClass}">
                                                <span class="bar01"></span>
                                                <span class="bar02"></span>
                                                <span class="bar03"></span>
                                            </div>
                                        </div>
                                        <div id="popoverContents">
                                            <h3>
                                                <span
                                                    th:text="#{UserCreate.passwordConditional.text}">パスワードの条件</span>
                                            </h3>
                                            <p>
                                                <span
                                                    th:text="#{UserCreate.passwordtext.text}">パスワードに指定できる文字は、<br />
                                                    半角英数(a-z、A-Z、0-9)、
                                                    ダッシュ(-)、アンダースコア(_)、ピリオド(.)のみです。
                                                </span>
                                            </p>
                                            <h3>
                                                <span
                                                    th:text="#{UserCreate.passwordStrength.text}">パスワードの強度</span>
                                            </h3>
                                            <div id="refreshCondition">
                                                <ul class="fa-ul">
                                                    <li id="length"
                                                        class="invalid"
                                                        th:class="${result.detailsView.password.moreThan8characters}? 'valid'"><i
                                                        class="fa-li fa fa-check-circle"></i><span
                                                        th:text="#{UserCreate.eightCharacters.text}">8文字以上を含む</span></li>
                                                    <li id="capital"
                                                        class="invalid"
                                                        th:class="${result.detailsView.password.containsUppercaseAndLowercase()}? 'valid'"><i
                                                        class="fa-li fa fa-check-circle"></i><span
                                                        th:text="#{UserCreate.capitalLetter.text}">英大文字と英小文字両方を含む</span></li>

                                                    <li id="number"
                                                        class="invalid"
                                                        th:class="${result.detailsView.password.containsNumerals()}? 'valid'"><i
                                                        class="fa-li fa fa-check-circle"></i><span
                                                        th:text="#{UserCreate.oneNumber.text}">数字を含む</span></li>

                                                </ul>
                                                <div
                                                    th:style="${result.detailsView.password.isSameCharacterLessThan3Times()}? 'display:block':'display:none;'  ">
                                                    <p
                                                        class="popoverAlerts"
                                                        th:text="#{UserCreate.sameCharacter.text}">同じ文字が多数連続して入力されています。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span
                                    th:text="#{UserCreate.passwordDesc.text}">半角英字(a-z,A-Z)、半角数字(0-9)、ダッシュ(-)、アンダースコア(_)、ピリオド(.)
                                    が使用できます</span>
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-sm-3 control-label" style="padding-left: 0px;"><span
                                class="required">*</span><span
                                th:text="#{UserCreate.confirmPassword.text}">パスワード<br />（確認）
                            </span></label>
                            <div class="col-sm-9">

                                <div class="form-group"
                                    style="margin-left: 0; margin-right: 36px;">
                                    <div class="newPassword">
                                        <input
                                            class="form-control validation"
                                            type="password"
                                            placeholder="新しいパスワード（確認）"
                                            name="confirmPassword"
                                            th:placeholder="#{Password.confimPassword.text}" />
                                        <div class="formError"
                                            style="display: none;">
                                            <span
                                                th:text="#{UserCreate.confirmPassword.text}">パスワード（確認）</span>
                                            <span
                                                th:text="#{Validation.isRequired.text}">is
                                                required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserCreate.passwordExpiry.text}">パスワード期限</span></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select
                                        class="form-control validation"
                                        name="passwordExpiration">
                                        <option value=""
                                            th:text="#{UserCreate.pleaseSelect2.text}">---選択してください---</option>
                                        <th:block
                                            th:each="res: ${result.param.inputInfo.passwordExpirationViews}"
                                            th:switch="${res.value}">
                                            <option th:case="-1"
                                                th:text="#{Password.neverExpire.text}"
                                                th:value="${res.value}"
                                                th:selected="${res.value}== ${result.param.inputInfo.passwordExpiration}">1</option>
                                            <option th:case="0"
                                                th:text="#{Password.changeAtNextLogin.text}"
                                                th:value="${res.value}"
                                                th:selected="${res.value}== ${result.param.inputInfo.passwordExpiration}">1</option>
                                            <option th:case="*"
                                                th:text="#{Password.days.text(${res.value})}"
                                                th:value="${res.value}"
                                                th:selected="${res.value}== ${result.param.inputInfo.passwordExpiration}">1</option>
                                        </th:block>
                                    </select>
                                    <div class="formError"
                                        style="display: none;">
                                        <span
                                            th:text="#{UserCreate.passwordExpiry.text}">パスワード期限</span>
                                        <span
                                            th:text="#{Validation.isRequired.text}">is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="section sectionRadius">
                        <h2 th:text="#{UserCreate.group.text}">参加グループ</h2>
                        <span th:text="#{UserCreate.groupDesc.text}">このユーザを参加させるグループを選択してください</span>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control"
                                    id="magicsuggest" />
                            </div>
                        </div>
                    </section>
                    <section class="section sectionRadius">
                        <h2
                            th:text="#{UserCreate.boxLanguageAndTimezone.text}">言語とタイムゾーンの設定</h2>

                        <div class="form-group">

                            <div class="col-sm-4"></div>
                            <div class="col-sm-8"></div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserCreate.language.text}">言語</label>
                            <div class="col-sm-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control"
                                        name="userLanguage">
                                        <option value=""
                                            th:text="#{Personal.Locale.langDesc.text(${result.detailsView.defaultLanguage.label})}">
                                            	ブラウザの設定を使う（未対応言語の場合は管理者設定の言語：日本語）
                                        </option>
                                        <option
                                            th:each="res : ${result.param.inputInfo.languageViews}"
                                            th:text="${res.label}"
                                            th:value="${res.value}"
                                            th:selected="${res.value}== ${result.param.inputInfo.language}">ブラウザの設定を使う（未対応言語の場合は管理者設定の言語：日本語）</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserCreate.timezone.text}">タイムゾーン</label>
                            <div class="col-sm-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control"
                                        name="userTimeZone">
                                        <option value=""
                                            th:text="#{Personal.Locale.timezoneDesc.text(${result.detailsView.defaultTimeZone.label})}">管理者の設定を使う：（GMT+09:00）Asia/Tokyo</option>
                                        <option
                                            th:each="res : ${result.param.inputInfo.timeZoneViews}"
                                            th:text="${res.label}"
                                            th:value="${res.value}"
                                            th:selected="${res.value}== ${result.param.inputInfo.timeZone}">管理者の設定を使う：（GMT+09:00）Asia/Tokyo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="sectionConfigContentsSpacer"></div>


                    <div class="row">
                        <div
                            class="col-sm-offset-5 col-sm-2 text-center">
                            <a href="" class="btn btn-default"
                                onClick="createUser(); return false;">
                                <span
                                th:text="#{UserCreate.submit.text}">登録</span>
                            </a>
                        </div>
                    </div>


                </form>

                <div class="modal fade" tabindex="-1" role="dialog"
                    id="SaveIcon">
                    <div class="modal-dialog searchDialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"
                                    th:text="#{UserCreate.icon.text}"></h4>
                            </div>
                            <form
                                class="form-horizontal searchFilterForm">
                                <div class="modal-body">
                                    <div
                                        class="modal-error searchFilterNameError"
                                        style="display: none;"
                                        th:text="#{SearchThisLot.saveFilterError.text}">フィルタ名を入力してください</div>
                                    <div class="form-group">
                                   	
                                    <a href="#" th:each="res, iter : ${result.param.inputInfo.iconViews}">
                                            <div class="col-sm-2">
                                                <img th:id="${'icon-' + iter.index}"
                                                    th:onclick="'selectIcon(\'' + ${'icon-' + iter.index} + '\'); return false;'"
                                                    style="width: 80px; height: 80px; margin: 0px 0px 10px 0px;"
                                                    th:src="${res.value}"
                                                    alt="" />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		// <![CDATA[
			
            var jsonData = /*[[${result.param.inputInfo.groupViews}]]*/;
			var selectedGroupId = /*[[${result.param.inputInfo.groupIdSet}]]*/;

			function createUser() {
				if ( !validateOnSubmit() ) return;
				submitChanges('FlowUserCreationService');
				return false;
			}
			
            $(document).on('ready',function(){
                var ms = $("#magicsuggest").magicSuggest(
                    {
                        data: jsonData,
                        useZebraStyle: true,
                        placeholder: [[#{UserCreate.pleaseSelect2.text}]],
                        editable: false,
						value: selectedGroupId,
						valueField: 'groupId',
                        expandOnFocus: true,
                        maxSelection: null,
                        renderer: function( data )
                        {
                            return '<img src="../../resources/images/common/icon_setting_group.png" height="16px" style="padding-top:5px; margin-right:4px;" />' + data.groupNm +'(' + data.count +')';
                        },
                        selectionRenderer: function( data )
                        {
                            return '<img src="../../resources/images/common/icon_setting_group.png" height="16px" style="padding-top:5px; margin-right:4px;" /><input type="hidden" name="groupIds" value="' + data.groupId +'" />' + data.groupNm +'(' + data.count +')';
                        },
                    });
                    
                // 	156 is gap between form's height and outer div's height
                    
                $(ms).on('selectionchange', function(e,m){
					//var formHeight = document.getElementById('FlowUserCreationService').offsetHeight + 156;
                    //document.getElementsByClassName('sectionConfigNav matchHeight')[0].style.height = formHeight + "px";
					//document.getElementsByClassName('sectionConfigContents matchHeight')[0].style.height = formHeight + "px";
                	$.fn.matchHeight._maintainScroll = true;
					$('.matchHeight').css('height', '');
					$('.matchHeight').matchHeight();
               	});
            });

            $(document).ready(function() {
				$("#password").on( "keyup change paste", validatePassword);
				$("#password").on("click", function() {
					if(!($(".popover.fade.bottom.in").is(":visible"))) {
						validatePassword();
					}
				});
				$("#password").on("blur", function(){
					$(".newPasswordPopover").popover("hide");
				});		
            });
            
            function validatePassword() {
                var timeOut = null;
	            form = document.getElementById('FlowUserCreationService');
	            form.RequestType.value = 'onChange';
	            var url = /*[[ @{/admin/user/create/validate} ]]*/'/admin/user/create/validate';
	            timeOut = setTimeout(function() {
			    	$.post(url, serializeWindowId('FlowUserCreationService')).done(
			        	    function(data, status, xhr) {
			             	  $("#refresh").html($(data).find("#refresh").html());
			             	  $("#refreshCondition").html($(data).find("#refreshCondition").html());
	       	        	    }).fail(function(XMLHttpRequest, status, errorThrown) {
	       	         	    });
		         	    }, 500);
            }

            function closeModal() {
    			$(".modal").modal("hide");
    		}

           	$("#iconSelect").change(function() {
       			$("#user-icon-path").attr("src", $(this).val());
           	});
            
    		function selectIcon(icon) {
    			var iconPath = $("#" + icon).attr("src");
    			$("#user-icon-path").attr("src", iconPath);
    			$("#iconSelect option[value='" + iconPath + "']").prop("selected", true);
    			closeModal();
    		}
		// ]]>
        </script>
</body>
</html>