<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{UserEdit.title.text}">trinity
    | Admin Settings - Create User</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />


<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>

    <!-- 帯ポップアップ/bandPopup-->
    <div class="bandPopup">
        <div class="bandPopupMessage">
            <!--spacer-->
            <!-- <span>「(マイルストーン名)」を削除してもよろしいですか？この操作は元に戻せません</span> -->
        </div>

        <div class="bandPopupButton">
            <!--spacer-->
            <!-- <span><a href="" class="btn btn-default" onClick="">はい</a></span>
<span><a href="" class="btn btn-default" onClick="">いいえ</a></span> -->
        </div>
    </div>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span> <span
                    class="countBell"> <img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">
                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader" class="separator">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- 設定画面ヘッダー？ -->
    <header id="settingsHeader"></header>


    <!-- コンテンツ -->
    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{AdminSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>管理者設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{AdminSettings.desc.text}">管理者設定ではtrinity全体に対する設定を行います</p>
        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{AdminSettings.globalSettings.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>全体設定
                </h2>
                <ul>
                    <li><a href="AdminSettingsProjectEdit.html"
                        th:href="AdminSettingsProjectEdit.html"> <span
                            th:text="#{AdminSettings.project.text}">プロジェクト</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsLanguageTimezone.html"
                        th:href="AdminSettingsLanguageTimezone.html">
                            <span th:text="#{AdminSettings.locale.text}">言語と時刻</span>
                    </a></li>
                    <li><a
                        href="AdminSettingsProjectNotification.html"
                        th:href="AdminSettingsProjectNotification.html">
                            <span
                            th:text="#{AdminSettings.notification.text}">お知らせ</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.userManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_user.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>ユーザ
                </h2>
                <ul>
                    <li><a href="AdminSettingsUserList.html"
                        th:href="AdminSettingsUserList.html"
                        class="current"> <span
                            th:text="#{AdminSettings.user.text}">ユーザ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsDepartmentList.html"
                        th:href="AdminSettingsDepartmentList.html">
                            <span
                            th:text="#{AdminSettings.department.text}">部署設定</span>
                    </a></li>
                    <li><a href="AdminSettingsGroupList.html"
                        th:href="AdminSettingsGroupList.html"> <span
                            th:text="#{AdminSettings.group.text}">グループ設定</span>
                    </a></li>
                    <li><a href="AdminSettingsRoleList.html"
                        th:href="AdminSettingsRoleList.html"> <span
                            th:text="#{AdminSettings.role.text}">ロール設定</span>
                    </a></li>
                </ul>

                <h2 th:text="#{AdminSettings.systemManagement.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>システム管理
                </h2>
                <ul>
                    <li><a href="AdminSettingsProductLicense.html"
                        th:href="AdminSettingsProductLicense.html">
                            <span
                            th:text="#{AdminSettings.productLicense.text}">製品ライセンス情報</span>
                    </a></li>
                </ul>
            </nav>
            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{UserEdit.header.text}">ユーザーの新規登録</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsUserEdit.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>
                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li><a href="#" class="underline"
                            onClick="safeSubmit('MenuFlowUserListService', {'validation':false});return false;">
                            <span><img
                                    src="../../images/trinity/common/icon_return.png"
                                    th:src="@{/resources/images/common/icon_return.png}"
                                    alt="" /></span>
                            <span
                                th:text="#{UserEdit.returnToUserList.text}">ロールの一覧にもどる</span></a>
                        </li>
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>




                <form class="form-horizontal" id="FlowUserEditService"
                    th:action="@{/admin/user/edit}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="referer" value="UserEdit" /> <input
                        type="hidden" name="forward" value="UserEdit" />
                    <input type="hidden" name="inUserId"
                        th:value="${result.param.inputInfo.userId}" />
                    <input type="hidden" name="iconPath" th:value="${result.param.inputInfo.iconPath}"/>

                    <section class="section sectionRadius">
                        <h2 th:text="#{UserEdit.boxUserInfo.text}">ユーザ情報</h2>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><img
                                src="../../images/trinity/common/icon_write_protect.png"
                                th:src="@{/resources/images/common/icon_write_protect.png}"
                                alt="" height="14px" /><span
                                th:text="#{UserEdit.userID.text}">ユーザID</span></label>
                            <div class="col-sm-9">
                                <span class="form-control" style="cursor: not-allowed" 
                                    th:text="${result.param.inputInfo.userId}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserEdit.username.text}">ユーザ名</span></label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control validation"
                                    name="inUserName"
                                    th:value="${result.param.inputInfo.userNm}" />
                                <div class="formError"
                                    style="display: none;">
                                    <span
                                        th:text="#{UserEdit.username.text}">ユーザ名</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
							<label class="col-sm-3 control-label">
								<img th:if="${result.param.inputInfo.userId} == 'admin'"
									src="../../images/trinity/common/icon_write_protect.png"
									th:src="@{/resources/images/common/icon_write_protect.png}"
									alt="" height="14px" />
								<span th:text="#{UserEdit.email.text}">メールアドレス</span>
							</label>
                            <div class="col-sm-9">
								<span th:if="${result.param.inputInfo.userId} == 'admin'"
									class="form-control" style="cursor: not-allowed" 
                                    th:text="${result.param.inputInfo.mailAddress}"></span>
                                    
                                <input th:if="${result.param.inputInfo.userId} == 'admin'"
                                	type="hidden" name="mailAddress"
                        			th:value="${result.param.inputInfo.mailAddress}" />
                        			
                        		<input th:if="${result.param.inputInfo.userId} != 'admin'"
									class="form-control" name="mailAddress" type="text"
                                    th:value="${result.param.inputInfo.mailAddress}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserEdit.dept.text}">部署</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select class="form-control"
                                        name="deptId">
                                        <option value=""
                                            th:text="#{UserEdit.pleaseSelect1.text}">
                                            -------選択してください-------</option>
                                        <option
                                            th:each="res : ${result.param.inputInfo.deptViews}"
                                            th:text="${res.label}"
                                            th:value="${res.value}"
                                            th:selected="${res.value}== ${result.param.inputInfo.deptId}">1</option>
                                    </select>

                                </div>
                                <span
                                    th:text="#{UserEdit.deptSelectDesc.text}">部署選択を行うには「部署設定」から部署を登録してください。</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserEdit.icon.text}">アイコン</span></label>
                            <div class="col-sm-9 user">
                                <img
                                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                                    th:src="${result.param.inputInfo.iconPath}"
                                    alt="" class="userImg" id="iconImage" />
                                <div class="radio">
                                    <label> <input
                                        type="radio" id="defaultIcon"
                                        name="iconOption"
                                        value="DEFAULT"
                                        th:checked="${result.param.inputInfo.iconOption.toString()} == 'DefaultImage'" />
                                        <span
                                        th:text="#{UserEdit.defaultIcon.text}">標準の画像</span><br />
                                        <a href=""
                                        th:text="#{UserEdit.chooseIcon.text}"
                                        data-toggle="modal"
                                        data-target="#SaveIcon"
                                        class="underline">アイコン選択画面を開く<i
                                            class="fa fa-clone"></i>
                                    </a>
                                    </label>
                                    <br />
                                    <br />
                                    <label> <input
                                        type="radio" id="customIcon"
                                        name="iconOption" value="CUSTOM"
                                        th:checked="${result.param.inputInfo.iconOption.toString()} == 'CustomImage'" />
                                        <span
                                        th:text="#{UserEdit.uploadOwnIcon.text}">オリジナルの画像</span>
                                        <dd>
                                            <input type="file"
                                                   style="width: 100%"
                                                    id="inputIconFile"
                                                    accept="image/*" />
                                        </dd>
                                        <dd
                                            th:text="#{UserEdit.iconDesc.text}">オリジナル画像のサイズが32×32を超える場合は縮小されます</dd>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserEdit.emailSetting.text}">メール設定</label>
                            <div class="col-sm-9">
                                <input type="checkbox"
                                    name="isReceiveMail"
                                    th:checked="${result.param.inputInfo.isReceiveMail()}" /><label
                                    th:text="#{UserEdit.receiveEmail.text}">メールを受信する</label>
                            </div>
                        </div> -->
                    </section>

                    <section class="section sectionRadius">
                        <h2 th:text="#{UserEdit.boxPassword.text}">パスワード</h2>

                        <div class="form-group">

                            <div class="col-sm-4"></div>
                            <div class="col-sm-8"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                th:text="#{UserEdit.password.text}">パスワード</span></label>
                            <div class="col-sm-9">
                                <div class="form-group"
                                    style="margin-left: 0; margin-right: 36px;">
                                    <div class="newPassword">
                                        <input
                                            class="form-control newPasswordPopover"
                                            type="password"
                                            placeholder="新しいパスワード"
                                            name="password"
                                            th:placeholder="#{Password.newPassword.text}"
                                            id="password" />
                                        <div id="refresh">
                                            <div
                                                class="newPasswordIndicator"
                                                th:classappend="${levelClass}">
                                                <span class="bar01"></span>
                                                <span class="bar02"></span>
                                                <span class="bar03"></span>
                                            </div>
                                            <div
                                                class="newPasswordIndicator"
                                                th:classappend="${levelClass}">
                                                <span class="bar01"></span>
                                                <span class="bar02"></span>
                                                <span class="bar03"></span>
                                            </div>
                                        </div>
                                        <div id="popoverContents">
                                            <h3>
                                                <span
                                                    th:text="#{UserEdit.passwordConditional.text}">パスワードの条件</span>
                                            </h3>
                                            <p>
                                                <span
                                                    th:text="#{UserEdit.passwordtext.text}">パスワードに指定できる文字は、<br />
                                                    半角英数(a-z、A-Z、0-9)、
                                                    ダッシュ(-)、アンダースコア(_)、ピリオド(.)のみです。
                                                </span>
                                            </p>
                                            <h3>
                                                <span
                                                    th:text="#{UserEdit.passwordStrength.text}">パスワードの強度</span>
                                            </h3>
                                            <div id="refreshCondition">
                                                <ul class="fa-ul">
                                                    <li id="length"
                                                        class="invalid"
                                                        th:class="${result.detailsView.password.moreThan8characters}? 'valid'"><i
                                                        class="fa-li fa fa-check-circle"></i><span
                                                        th:text="#{UserEdit.eightCharacters.text}">8文字以上を含む</span></li>
                                                    <li id="capital"
                                                        class="invalid"
                                                        th:class="${result.detailsView.password.containsUppercaseAndLowercase()}? 'valid'"><i
                                                        class="fa-li fa fa-check-circle"></i><span
                                                        th:text="#{UserEdit.capitalLetter.text}">英大文字と英小文字両方を含む</span></li>

                                                    <li id="number"
                                                        class="invalid"
                                                        th:class="${result.detailsView.password.containsNumerals()}? 'valid'"><i
                                                        class="fa-li fa fa-check-circle"></i><span
                                                        th:text="#{UserEdit.oneNumber.text}">数字を含む</span></li>

                                                </ul>
                                                <div
                                                    th:style="${result.detailsView.password.isSameCharacterLessThan3Times()}? 'display:block':'display:none;'  ">
                                                    <p
                                                        class="popoverAlerts"
                                                        th:text="#{UserEdit.sameCharacter.text}">同じ文字が多数連続して入力されています。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span
                                    th:text="#{UserEdit.passwordDesc.text}">半角英字(a-z,A-Z)、半角数字(0-9)、ダッシュ(-)、アンダースコア(_)、ピリオド(.)
                                    が使用できます</span>
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-sm-3 control-label"><span
                                th:text="#{UserEdit.confirmPassword.text}">パスワード<br />（確認）
                            </span></label>
                            <div class="col-sm-9">

                                <div class="form-group"
                                    style="margin-left: 0; margin-right: 36px;">
                                    <div class="newPassword">
                                        <input class="form-control"
                                            type="password"
                                            placeholder="新しいパスワード（確認）"
                                            name="confirmPassword"
                                            th:placeholder="#{Password.confimPassword.text}" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                th:text="#{UserEdit.passwordExpiry.text}">パスワード期限</span></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select
                                        class="form-control"
                                        name="passwordExpiration"
                                        id="passwordExpiration">
                                        <option value="" th:if="${result.param.inputInfo.originalPasswordExpiration.isEmpty()}"
                                                th:text="#{UserEdit.keepCurrentPasswordExpirationNeverExpirate.text}">---選択してください---</option>
                                        <option value="" th:if="!${result.param.inputInfo.originalPasswordExpiration.isEmpty()}"
                                            th:text="#{UserEdit.keepCurrentPasswordExpiration.text(${result.param.inputInfo.originalPasswordExpiration})}">---選択してください---</option>
                                        <th:block
                                            th:each="res: ${result.param.inputInfo.passwordExpirationViews}"
                                            th:switch="${res.value}">
                                            <option th:case="-1" th:selected="${result.param.inputInfo.passwordExpiration}==${res.value}"
                                                th:text="#{Password.neverExpire.text}"
                                                th:value="${res.value}">1</option>
                                            <option th:case="0" th:selected="${result.param.inputInfo.passwordExpiration}==${res.value}"
                                                th:text="#{Password.changeAtNextLogin.text}"
                                                th:value="${res.value}">1</option>
                                            <option th:case="*" th:selected="${result.param.inputInfo.passwordExpiration}==${res.value}"
                                                th:text="#{Password.days.text(${res.value})}"
                                                th:value="${res.value}">1</option>
                                        </th:block>
                                    </select>
                                    <div class="formError"
                                        style="display: none;">
                                        <span
                                            th:text="#{UserEdit.passwordExpiry.text}">パスワード期限</span>
                                        <span
                                            th:text="#{Validation.isRequired.text}">is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="section sectionRadius">
                        <h2 th:text="#{UserEdit.group.text}">参加グループ</h2>
                        <span th:text="#{UserEdit.groupDesc.text}">このユーザを参加させるグループを選択してください</span>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control"
                                    id="magicsuggest" />
                            </div>
                        </div>
                    </section>
                    <section class="section sectionRadius">
                        <h2
                            th:text="#{UserEdit.boxLanguageAndTimezone.text}">言語とタイムゾーンの設定</h2>

                        <div class="form-group">

                            <div class="col-sm-4"></div>
                            <div class="col-sm-8"></div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserEdit.language.text}">言語</label>
                            <div class="col-sm-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control"
                                        name="userLanguage">
                                        <option value=""
                                            th:text="#{Personal.Locale.langDesc.text(${result.detailsView.defaultLanguage.label})}">ブラウザの設定を使う（未対応言語の場合は管理者設定の言語：日本語）</option>
                                        <option
                                            th:each="res : ${result.param.inputInfo.languageViews}"
                                            th:text="${res.label}"
                                            th:value="${res.value}"
                                            th:selected="${res.value}== ${result.param.inputInfo.language}">ブラウザの設定を使う（未対応言語の場合は管理者設定の言語：日本語）</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{UserEdit.timezone.text}">タイムゾーン</label>
                            <div class="col-sm-9">
                                <div class="input-group" style="width: 100%;">
                                    <select class="form-control"
                                        name="timeZone">
                                        <option value=""
                                            th:text="#{Personal.Locale.timezoneDesc.text(${result.detailsView.defaultTimeZone.label})}">管理者の設定を使う：（GMT+09:00）Asia/Tokyo</option>
                                        <option
                                            th:each="res : ${result.param.inputInfo.timeZoneViews}"
                                            th:text="${res.label}"
                                            th:value="${res.value}"
                                            th:selected="${res.value}== ${result.param.inputInfo.timeZone}">管理者の設定を使う：（GMT+09:00）Asia/Tokyo</option>
                                    </select>
                                </div>
                            </div>
                        </div>



                    </section>

                    <div class="sectionConfigContentsSpacer"></div>


                    <div class="row">
                        <div
                            class="col-sm-offset-5 col-sm-2 text-center">
                            <a href="javascript:void(0);"
                                class="btn btn-default"
                                th:onClick="'javascript:submitChanges(\'FlowUserEditService\');'">
                                <span th:text="#{UserEdit.submit.text}">登録</span>
                            </a>
                        </div>
                    </div>


                </form>
                
                <div class="modal fade" tabindex="-1" role="dialog"
                    id="SaveIcon">
                    <div class="modal-dialog searchDialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"
                                    th:text="#{UserEdit.icon.text}"></h4>
                            </div>
                            <form
                                class="form-horizontal searchFilterForm">
                                <div class="modal-body">
                                    <div
                                        class="modal-error searchFilterNameError"
                                        style="display: none;"
                                        th:text="#{SearchThisLot.saveFilterError.text}">フィルタ名を入力してください</div>
                                    <div class="form-group">
                                   	
                                    <a href="#" th:each="res, iter : ${result.param.inputInfo.iconViews}">
                                            <div class="col-sm-2">
                                                <img th:id="${'icon-' + iter.index}"
                                                    th:onclick="'selectDefaultIcon(\'' + ${'icon-' + iter.index} + '\'); return false;'"
                                                    style="width: 80px; height: 80px; margin: 0px 0px 10px 0px;"
                                                    th:src="${res.value}"
                                                    alt="" />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <div class="footerPageTop">
        <a href="" th:text="#{Footer.backToTop.text}">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		// <![CDATA[
			//Set icon path
			var iconType = /*[[${result.param.inputInfo.iconOption.name()}]]*/;
			var emptyIconPath = /*[[@{/resources/images/common/icon_empty.gif}]]*/'/trinity/resources/images/common/null-20.gif';
			var defaultIconPath = /*[[ ${not #lists.isEmpty(result.param.inputInfo.iconViews)} ? ${result.param.inputInfo.iconViews.get(0).value}]]*/;
			var customIconPath = "";
			$(function() {
				if(iconType === 'DefaultImage') {
					defaultIconPath = $('input[name=iconPath]').val();
				} else if(iconType === 'CustomImage') {
					customIconPath = $('input[name=iconPath]').val();
				}
			});

			var jsonData = /*[[${result.param.inputInfo.groupViews}]]*/;
			var selectedGroupId = /*[[${result.param.inputInfo.groupIdSet}]]*/;
			
            $(document).on('ready',function(){
                var icons = [[${result.param.inputInfo.iconViews}]];
                console.log(icons);
                $("#magicsuggest").magicSuggest(
                    {
                        data: jsonData,
                        useZebraStyle: true,
                        placeholder: [[#{UserEdit.pleaseSelect1.text}]],
                        editable: false,
						value: selectedGroupId,
						valueField: 'groupId',
                        expandOnFocus: true,
                        maxSelection: null,
                        renderer: function( data )
                        {
                            return '<img src="../../resources/images/common/icon_setting_group.png" height="16px" style="padding-top:5px; margin-right:4px;" />' + data.groupNm +'(' + data.count +')';
                        },
                        selectionRenderer: function( data )
                        {
                            return '<img src="../../resources/images/common/icon_setting_group.png" height="16px" style="padding-top:5px; margin-right:4px;" /><input type="hidden" name="groupIds" value="' + data.groupId +'" />' + data.groupNm +'(' + data.count +')';
                        },
                    });
            });

            $(document).ready(function() {
				$("#password").on( "keyup change paste", validatePassword);
				$("#password").on("click", function() {
					if(!($(".popover.fade.bottom.in").is(":visible"))) {
						validatePassword();
					}
				});
				$("#password").on("blur", function(){
					$(".newPasswordPopover").popover("hide");
				});		
            });

            function validatePassword() {
                var timeOut = null;
	            form = document.getElementById('FlowUserEditService');
	            form.RequestType.value = 'onChange';
	            var url = /*[[ @{/admin/user/edit/validate} ]]*/'/admin/user/edit/validate';
	            timeOut = setTimeout(function() {
			    	$.post(url, serializeWindowId('FlowUserEditService')).done(
			        	    function(data, status, xhr) {
			             	  $("#refresh").html($(data).find("#refresh").html());
			             	  $("#refreshCondition").html($(data).find("#refreshCondition").html());
	       	        	    }).fail(function(XMLHttpRequest, status, errorThrown) {
	       	         	    });
		         	    }, 500);
            }

			//Disable button to select custom icon if current icon type - default. Show popup.
			$(function() {
	            if($("#defaultIcon").prop('checked')) {
	           		$('#inputIconFile').prop('disabled', true);
	            }

	           //Hide image if icon path is empty.
		       if(! $("#iconImage").attr("src").trim() ) {
		    	   $("#iconImage").attr("src", emptyIconPath);
		       }
	            
		       getTriLayer("flashMessage").show();
	            
	       });

		   //Change user icon after select(upload) custom/default icon.
	       function changeUserIcon(iconPath) {
		       $('input[name=iconPath]').val(iconPath);
		       $("#iconImage").attr("src", iconPath);
		       if( !iconPath.trim() ) {
		    	   $("#iconImage").attr("src", emptyIconPath);
		       }
	       }

	       //Enable to select custom icon after choosing radio button.
	       $(function() {
	        	$("#customIcon").change(function() {
	       			$('#inputIconFile').prop('disabled', false);
		           	changeUserIcon(customIconPath);
	           });
	       });

	        //Upload custom icon.
	        $(function() {
	            $("#inputIconFile").change(function() {
	                ajax_upload();
	            });          
	        });
	        
	        $(function() {
	            $("#defaultIcon").change(function() {
					$('#inputIconFile').prop('disabled', true);
					changeUserIcon(defaultIconPath);
	            });
	        });
	        
			function selectDefaultIcon(icon) {
				defaultIconPath = $("#" + icon).attr("src");
				$("#defaultIcon").prop("checked", true);
				$('#inputIconFile').prop('disabled', true);
				changeUserIcon(defaultIconPath)
				closeModal();
			}

			function closeModal() {
    			$(".modal").modal("hide");
    		}
    		
    		function ajax_upload() {
    			var urlUpload = /*[[ @{/admin/user/edit/upload} ]]*/'/trinity/admin/user/edit/upload';
    			
    			var formData = new FormData();
    			formData.append('icon', $('input[type=file]#inputIconFile')[0].files[0]);
    			formData.append("WindowsId", $('#windowId').val());
    			formData.append("RequestType", "onChange");
    			$.ajax({
    			      url: urlUpload,
    			      type: "POST",
    			      data:  formData,
    			      contentType: false,
    			      processData: false,
    			      success: function(data, textStatus) {
    				      customIconPath = data;
    				      changeUserIcon(customIconPath);
    			      },
    			      fail: function(data, textStatus) {
        			      console.log("ajax_upload fail");
       			      }
    	      	});
            }
		// ]]>
        </script>
</body>
</html>