<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{RoleCreate.title.text}">trinity
    | Admin Settings - Create Role</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>

    <!-- 帯ポップアップ/bandPopup-->
    <div class="bandPopup">
        <div class="bandPopupMessage">
            <!--spacer-->
            <!-- <span>「(マイルストーン名)」を削除してもよろしいですか？この操作は元に戻せません</span> -->
        </div>

        <div class="bandPopupButton">
            <!--spacer-->
            <!-- <span><a href="" class="btn btn-default" onClick="">はい</a></span>
<span><a href="" class="btn btn-default" onClick="">いいえ</a></span> -->
        </div>
    </div>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span> <span
                    class="countBell"> <img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">
                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader" class="separator">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- 設定画面ヘッダー？ -->
    <header id="settingsHeader"></header>


    <!-- コンテンツ -->
    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{AdminSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>管理者設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{AdminSettings.desc.text}">管理者設定ではtrinity全体に対する設定を行います</p>
        <form id="SubMenuFlowRoleListService" method="POST"
            th:action="@{/admin/role}"></form>
        <section class="section sectionConfig">
            <div class="sectionConfigContents matchHeight" style="min-height: 750px"
                th:fragment="innerHtml" id="sectionId">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{RoleList.createRole.text}">ロールの新規作成</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{AdminSettingsRoleCreation.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <form id="FlowRoleListService" method="POST"
                    th:action="@{/admin/role}"></form>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li><a href="AdminSettingsRoleList.html"
                            class="underline"
                            onClick="safeSubmit('FlowRoleListService', {'validation':false});return false;"><span>
                                    <img
                                    src="../../images/trinity/common/icon_return.png"
                                    th:src="@{/resources/images/common/icon_return.png}"
                                    alt="" /></span>
                             <span
                                th:text="#{RoleCreate.returnToRoleList.text}">ロールの一覧にもどる</span></a>
                        </li>
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>

                <form class="form-horizontal"
                    id="FlowRoleCreationService"
                    th:action="@{/admin/role/create}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="referer" value="RoleCreation" /> <input
                        type="hidden" name="forward"
                        value="RoleCreation" />

                    <section class="section sectionRadius">
                        <h2 th:text="#{RoleCreate.boxRoleInfo.text}">ロール情報</h2>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                <span class="required">*</span><span
                                th:text="#{RoleCreate.roleName.text}">ロール名</span>:
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control first validation"
                                    name="roleSubject"
                                    th:value="${result.param.inputInfo.roleNm}" 
                                    maxLength="140"/>
                                <div class="formError"
                                    style="display: none;">
                                    <span
                                        th:text="#{RoleCreate.roleName.text}">ロール名</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="roleList_validationMessagePosition">
                            <label class="col-sm-3 control-label" >
                              <span class="required">*</span><span
                                th:text="#{RoleCreate.availableFunction.text}">アクション </span></label>
                            <div class="col-sm-9">
                                <p class="form-control-static" 
                                    th:text="#{RoleCreate.functionsDesc.text}">（ロールに設定したいアクションを選択してください。trinityの機能を使用するには、ロールを設定する必要があります。）</p>
                            </div>
                            
                            
                        </div>
							<div class="formError" id="formError_roleList"
			                    style="display: none;">
			                    <span th:text="#{RoleEdit.availableFunction.text}">vailable Functions</span><br/>
			                    <span th:text="#{Validation.isRequired.text}">is
			                        required.</span>
	                		</div>

                        <!-- ここにロール選択のツリーが入る -->
                        <div class="form-group">
                            <div id="roleTree" class="col-sm-offset-3">
                            </div>
                        </div>
                        <div>
                            <input type="hidden"
                                th:value="${actionSelection}"
                                id="actionSelectionView" />
                        </div>
                    </section>

                    <section class="section sectionRadius" id="sectionGroup">
                        <h2 th:text="#{RoleCreate.assignGroup.text}">グループの割り当て</h2>

                        <h4
                            th:text="#{RoleCreate.selectGroupAssignedToRole.text}">このロールに割り当てるグループを選択してください</h4>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control"
                                    id="magicsuggest" />
                            </div>
                        </div>

                    </section>

                </form>
                <div class="sectionConfigContentsSpacer"></div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="safeSubmit('FlowRoleCreationService',{'validation':true}); return false;"
                            id="roleCreation" th:lang="${lang}"> <span
                            th:text="#{RoleCreate.submit.text}">登録</span></a>
                    </div>
                </div>

            </div>

        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
		// <![CDATA[

		// As other browsers already fire the change event,
        // only bind the listener for IE.
        $(function(){
            $(document).on('mouseup keyup', 'input', function( e ){
                if ( this.indeterminate && (e.type !== 'keyup' || e.keyCode === 32)  ) {
                    if(window.navigator.userAgent.indexOf('Trident') >= 0 ) {
                        $(this).trigger('click');
                    }
                }
            });
        });

		$(document).on('ready',function(){
				
                function makeTreeView(actionData, openFolder) {
					
                    var html = '<ul class="treeviewContainer" id="roleTree">';
					var actionName = actionData.name;
					var display = 'none';
					
					if (actionData.path == '/') {
						actionName = /*[[#{RoleCreate.allAction.text}]]*/ 'All Action';
					}
					
					if (openFolder) {
						display = 'inline-block';
					}
                    if (typeof actionData === "object"){
                        var padding_left = "14px";
                        if(actionData.folders.length == 0) {
                            padding_left = "28px";
                        }
                        html += '\n<li style="padding-left:' + padding_left + '; padding-top:2px; padding-bottom:2px; display: '+ display+ '; ">';
						
						var name = 'actionIds';
						
						if (actionData.folders.length > 0) {
							if (actionData.openFolder) {
								html +=  '<i class="fa fa-caret-down" style="cursor: pointer; width:14px;"></i>';
								html += '<i class="fa fa-caret-right" style="cursor: pointer; width:14px; display: none; "></i>';
							} else {
								html +=  '<i class="fa fa-caret-down" style="cursor: pointer; width:14px; display: none; "></i>';
								html += '<i class="fa fa-caret-right" style="cursor: pointer; width:14px;"></i>';
							}
							name = '';
							
						}
						
						var actionId = actionData.path.split('/').join('');
						if ('' == actionId) {
							actionId = 'rootAction';
						}
						
						var dataValue = actionData.path.split('/').pop();
				
						html += '<input type="checkbox" value="' + dataValue + '" id="'+ actionId +'" style="width:14px;" name="'+ name + '"' +
						'class="validation validationMessageId validationMessagePosition validationCustomPattern"' +
		                'data-validationMessageId="formError_roleList"' +
		                'data-validationMessagePosition="roleList_validationMessagePosition"' +
		                'data-validationCustomPattern="checkbox_atLeastOne"></input>';
						html += '<label for="'+ actionId +'">'+actionName+'</label>\n' ;
						
						$.each(actionData.folders,function(index,obj){
							html += makeTreeView(obj, actionData.openFolder);
						});
                        html += '\n</li>';
                    }
                    html += '\n</ul>';
                    return html;
                };

                var rolesJSON = JSON.parse($('#actionSelectionView').val());
			    var roles = makeTreeView(rolesJSON, true);
			    $(roles).appendTo("#roleTree");
			    setSelectedAction(rolesJSON);
				
                function setSelectedAction(json) {
					var indeterminate = false;
					var checked = false;
					var actionId = json.path.split('/').join('');
					
					if ('' == actionId) {
						actionId = 'rootAction';
					}
					
					if (json.checkedState == 'Checked') {
						
						checked = true;
						
					} else if (json.checkedState == 'Mixed') {
						
						indeterminate = true;
						checked = true;
					}
					
					$('#' + actionId).prop({
						indeterminate: indeterminate,
						checked: checked
					});
					
					$.each(json.folders,function(index, obj){
						setSelectedAction(obj);
					});
				}

                $('i.fa-caret-down').click(function () {
                    var sub = $(this).parent().children('ul');
                    $(sub).hide();
					$(sub).children('li').hide();
                    $(this).parent().children('i.fa-caret-right').show();
                    $(this).hide();
					changeWindowHeight();
                });

                $('i.fa-caret-right').click(function () {
                    var sub = $(this).parent().children('ul');
                    $(sub).show();
					$(sub).children('li').show();
                    $(this).parent().children('i.fa-caret-down').show();
                    $(this).hide();
					changeWindowHeight();
                });

				var checked;
				var container;
                $('input[type="checkbox"]').change(function(e) {

                    var checked = $(this).prop("checked"),
                        container = $(this).parent().parent(),
                        siblings = container.siblings('ul');
					
                    container.find('input[type="checkbox"]').prop({
                        indeterminate: false,
                        checked: checked
                    });

                    function checkSiblings(el) {
                        var parent = el.parent().parent(),
                            all = true;
						if (typeof(parent) == 'undefined' || null == parent || !parent.is("ul")) {
							return;
						}
                        el.siblings('ul').each(function() {
                            return all = ($(this).children('li').children('input[type="checkbox"]').prop("checked") === checked
                            		&& $(this).children('li').children('input[type="checkbox"]').prop("indeterminate") === false);
                        });

                        if (all && checked) {
                            parent.children('li').children('input[type="checkbox"]').prop({
                                indeterminate: false,
                                checked: checked
                            });

                            checkSiblings(parent);

                        } else if (all && !checked) {
                            parent.children('li').children('input[type="checkbox"]').prop("checked", checked);
                            parent.children('li').children('input[type="checkbox"]').prop("indeterminate", (parent.children('li').find('input[type="checkbox"]:checked').length > 0));
                            checkSiblings(parent);

                        } else {
                            el.parents("li").children('input[type="checkbox"]').prop({
                                indeterminate: true,
                                checked: false
                            });

                        }

                    }
                    if( $(this).prop("id") != "rootAction") {
                        checkSiblings(container);
                    }
                });
            });

        function changeWindowHeight() {
            var mainSection = $('.sectionConfig'),
                mainHeight = mainSection.height(),
                navSection = $('.sectionConfigNav'),
                navHeight = navSection.height();

            var newHeight = document.getElementById('sectionId').scrollHeight + 10;
            mainSection.height(mainHeight).animate({height: newHeight}, 200);

            navSection.height(navHeight).animate({height: newHeight}, 200);

        }

            var jsonData = /*[[${result.param.inputInfo.groupViews}]]*/;
            var selectedGroupId = /*[[${result.param.inputInfo.groupIdSet}]]*/;

            $(document).on('ready',function(){
                var ms = $("#magicsuggest").magicSuggest(
                    {
                        data: jsonData,
                        useZebraStyle: true,
                        placeholder: [[#{RoleCreate.pleaseSelect.text}]],
                        sortOrder: 'grpNm',
                        editable: false,
                        value: selectedGroupId,
                        valueField: 'grpId',
                        expandOnFocus: true,
                        maxSelection: null,
                        maxDropHeight: 160,
                        renderer: function( data )
                        {
                            return '<img src="../../resources/images/common/icon_setting_group.png" height="16px" style="padding-top:5px; margin-right:4px;" />' + data.grpNm +'(' +data.count +')';
                        },
                        selectionRenderer: function( data )
                        {
                            return '<img src="../../resources/images/common/icon_setting_group.png" height="16px" style="padding-top:5px; margin-right:4px;" /><input type="hidden" name="groupIds" value="' + data.grpId +'" />' + data.grpNm +'(' +data.count +')';
                        },
                    });

                $(ms).on('selectionchange', function(e,m){
                    changeWindowHeight();
                });
            });
			// ]]>
	</script>

</body>
</html>


