<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{Admin.Locale.title.text}" th:fragment="titleHtml">trinity | Admin
    Settings - Language and Timezone</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>
    <!-- 帯ポップアップ/bandPopup-->
    <div class="bandPopup">
        <div class="bandPopupMessage">
            <!--spacer-->
            <!-- <span>「(マイルストーン名)」を削除してもよろしいですか？この操作は元に戻せません</span> -->
        </div>

        <div class="bandPopupButton">
            <!--spacer-->
            <!-- <span><a href="" class="btn btn-default" onClick="">はい</a></span>
				<span><a href="" class="btn btn-default" onClick="">いいえ</a></span> -->
        </div>
    </div>




    <article class="contents">

        <section class="section sectionConfig">
            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <form id="FlowUserMultipleCreationService"
                      th:action="@{/admin/user/batchupdate}" method="POST">
                    <input type="hidden" name="RequestType" value="submitChanges" />
                </form>

                <div class="popupInstructionWindow" id="popupInstructionWindow"
                     style="display: none;">
                    <h4 class="popupInstructionWindowHeader"
                        id="popupInstructionWindowHeader"
                        th:text="#{UserBatchUpdate.instruction.header.text}">
                        ユーザの一括登録手順<a href="#"
                                      onclick="popupInstructionWindowClose();"><i
                            class="fa fa-times-circle"></i></a>
                    </h4>
                    <div class="popupInstructionWindowBody">
                        <dl class="dl-horizontal">
                            <dt>
                                <span>1</span>
                            </dt>
                            <dd>
                                <span th:text="#{UserBatchUpdate.instruction.1.1.text}"></span>
                                <br />
                                <span th:text="#{UserBatchUpdate.instruction.1.2.text}"></span>
                            </dd>
                            <dt>2</dt>
                            <dd>
                                <span th:text="#{UserBatchUpdate.instruction.2.text}"></span>
                            </dd>
                            <dt>3</dt>
                            <dd>
                                <span th:text="#{UserBatchUpdate.instruction.3.1.text}"></span>
                                <br />
                                <span th:text="#{UserBatchUpdate.instruction.3.2.text}"></span>
                            </dd>
                            <dt>4</dt>
                            <dd>
                                <span th:text="#{UserBatchUpdate.instruction.4.text}"> </span>
                            </dd>
                        </dl>
                    </div>
                    <div class="popupInstructionWindowBottom">
                        <a href="#" class="btn btn-default"
                           onclick="popupInstructionWindowClose();"
                           th:text="#{UserBatchUpdate.instruction.close.text}">閉じる</a>
                    </div>
                </div>
                
                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>
                
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{UserBatchUpdate.header.text(${result.maxUploadUser})}">
                        ユーザの一括登録<span style="font-size: 75%;">(一度に追加できるユーザは100名までです)</span>
                    </h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a th:href="#{AdminSettingsBatchUserUpdate.help.url}"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li><a href="#" class="underline"
                               onClick="safeSubmit('MenuFlowUserListService', {'validation':false});return false;"><span> <img
                                    src="../../images/trinity/common/icon_return.png"
                                    th:src="@{/resources/images/common/icon_return.png}"
                                    alt="" /></span> <span
                                th:text="#{UserBatchUpdate.returnToUserList.text}">ユーザ一覧にもどる</span></a>
                        </li>
                    </ul>
                </nav>

                <section class="section sectionRadius" id="uploadSection">
                    <h2
                        th:text="#{UserBatchUpdate.boxUploadFile.text}">一括追加CSVアップロード</h2>
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   th:text="#{UserBatchUpdate.csvFileForCreateMultiple.text}">ユーザ一括追加CSV</label>
                            <div class="col-sm-8">

                                <div class="form-group">
                                    <button id="bulkUserFile"
                                            class="btn btn-default btn-sm"
                                            type="button"
                                            th:text="#{UserBatchUpdate.selectFileButton.text}"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="attachedFiles">
                                <div id="preview-template" style="display: none;">
                                    <div class="uploadedFile">
                                        <span class="filename" data-dz-name="data-dz-name" style="width: 300px"></span>
                                        <span class="label label-auto labelRed"
                                              data-dz-errormessage="data-dz-errormessage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-bordered" id="csvResultTable"
                                   th:style="${result.userViews.size()}== 0 ? 'display:none;' : ''">
                                <thead>
                                    <tr>
                                        <th class="checkboxHead"></th>
                                        <th
                                            th:text="#{UserBatchUpdate.row.text}">行</th>
                                        <th
                                            th:text="#{UserBatchUpdate.userID.text}">ユーザーID</th>
                                        <th
                                            th:text="#{UserBatchUpdate.username.text}">ユーザー名</th>
                                        <th
                                            th:text="#{UserBatchUpdate.email.text}">メールアドレス</th>
                                        <th
                                            th:text="#{UserBatchUpdate.password.text}">パスワード</th>
                                        <th
                                            th:text="#{UserBatchUpdate.passwordExpiration.text}">パスワード有効期限</th>
                                        <th
                                            th:text="#{UserBatchUpdate.command.text}">Command</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${result.userViews}">
                                        <th scope="row"><i
                                            class="fa fa-check"></i></th>
                                        <td th:text="${user.lineNo}">2</td>
                                        <td th:title="${user.userId}" class="ellipsis" th:text="${user.userId}">USER1</td>
                                        <td th:title="${user.userNm}" class="ellipsis" th:text="${user.userNm}">username1</td>
                                        <td th:title="${user.mailAddress}" class="ellipsis" th:text="${user.mailAddress}">user1@somedomain.com</td>
                                        <td th:title="${user.password}" class="ellipsis" th:text="${user.password}">password1</td>
                                        <th:block th:switch="${user.passwordExpiredPolicy}">
                                            <td th:case="-1" th:text="#{Password.neverExpire.text}">YYYY/MM/DD</td>
                                            <td th:case="0" th:text="#{Password.changeAtNextLogin.text}">YYYY/MM/DD</td>
                                            <td th:case="''" ></td>
                                            <td th:case="*" th:text="#{Password.days.text(${user.passwordExpiredPolicy})}">YYYY/MM/DD</td>
                                        </th:block>
                                        <td th:text="${user.command}">add</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" id="submitBtn">
                            <div class="text-center">
                                <a href="#" class="btn btn-default"
                                   onClick="updateMultipleUser(); return false;"
                                   th:disabled="${result.userViews.size() == 0}">
                                    <i class="fa fa-check" th:if="${result.userViews.size() > 0}"></i>
                                    <span th:text="#{UserBatchUpdate.submit1.text}"></span>
                                    <span class="round" th:text="${result.userViews.size()}" th:if="${result.userViews.size() > 0}">3</span>
                                    <span th:text="#{UserBatchUpdate.submit2.text}"></span>
                                </a>
                            </div>
                        </div>
                    </form>
                </section>

                <section class="section sectionRadius" id="instructionSection">
                    <h2
                        th:text="#{UserBatchUpdate.createProcedure.text}">ユーザの一括追加手順</h2>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <img
                                src="../../images/trinity/common/icon_exprt_CSV.png"
                                th:src="@{/resources/images/common/icon_exprt_CSV.png}"
                                alt="" height="16px" />
                            <a th:href="@{/admin/user/batchupdate/download/template}"
                               href="/admin/user/batchupdate/download/template"
                                class="underline"
                                style="font-weight: bold;"
                                th:text="#{UserBatchUpdate.csvTemplate.text}">ユーザ一括追加用CSVテンプレート</a>
                            <p style="margin: 4px;"
                                th:text="#{UserBatchUpdate.csvTemplateDesc.text}">上記CSVをダウンロードしてください。各項目を変更しCSVファイルを登録してください。</p>
                            <a href="javascript:void(0);"
                                class="btn btn-default strong"
                                onclick="popupInstructionWindowOpen();"
                                th:text="#{UserBatchUpdate.newProcedure.text}">詳しい手順はこちらをご覧下さい。<i
                                class="fa fa-clone"></i></a>

                        </div>
                        <div class="form-group">
                            <p style="font-weight: bold;"
                                th:text="#{UserBatchUpdate.csvExplaination.text}">ユーザ一括追加用CSVファイル説明</p>
                            <br />
                            <div style="line-height: 1.3">
                                <span
                                    th:text="#{UserBatchUpdate.mandatory.text}">・各項目は必須です。</span><br />
                                <span
                                    th:text="#{UserBatchUpdate.choosePasswordExpiration.text}">パスワード有効期限は以下から選択してください。</span><br />
                                <span
                                    th:utext="#{UserBatchUpdate.passwordExpirationChoice.text}">180日間/有効期限なし/初回ログイン時に変更</span>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
            /*<![CDATA[*/
            /* ]]> */
            $(document).on('ready',function(){
                //var c = Math.round($(this).outerHeight() / 2;
                var difference = -($("#popupInstructionWindow").outerHeight()/2 - $("#popupInstructionWindowHeader").outerHeight()/2)+10;
                
                
                $("#popupInstructionWindow").draggable({
                    handle: 'h4',
                    opacity: 0.5,
                    //appendTo: 'parent',
                    //cursorAt: {top: -130},
                    cursorAt: {top: difference},
                    containment: "parent",
                    //scroll: false,

                });
            });
            
            function checkboxCounter() {
                var n = $('#csvResultTable tr').length;;
                if(n>0){
                    $("#checkedUserCount").html(n);
                    $("#checkedUserCount").parent().removeClass("disabled");
                }else{
                    $("#checkedUserCount").html("0");
                    $("#checkedUserCount").parent().addClass("disabled");
                }
            };
            
            function popupInstructionWindowOpen(){
                $("#popupInstructionWindow").show();
            };
            function popupInstructionWindowClose(){
                $("#popupInstructionWindow").hide();
                $("#popupInstructionWindow").css({
                    'left': $("#popupInstructionWindow").data('originalLeft'),
                    'top': $("#popupInstructionWindow").data('origionalTop')
                });
            };
            
            $("#popupInstructionWindow").data({
                'originalLeft': $("#popupInstructionWindow").css('left'),
                'origionalTop': $("#popupInstructionWindow").css('top')
            });

            function changeWindowHeight() {
                var mainSection = $('.sectionConfig'),
                mainHeight = mainSection.height(),
                navSection = $('.sectionConfigNav'),
                navHeight = navSection.height();

                var newHeight = document.getElementById('uploadSection').scrollHeight + document.getElementById('instructionSection').scrollHeight
                    + document.getElementById('message').scrollHeight + 200 ;
                mainSection.height(mainHeight).animate({height: newHeight}, 200);

                navSection.height(navHeight).animate({height: newHeight}, 200);
            }


            var uploadDropzone;
            Dropzone.autoDiscover = false;
            var currentFile = null;

            $(document).ready(function () {

                var urlUpload = /*[[ @{/admin/user/batchupdate/upload} ]]*/'/admin/user/batchupdate/upload';

                uploadDropzone = new Dropzone("#bulkUserFile", {
                    previewsContainer: ".attachedFiles",
                    paramName: "userFile",
                    url: urlUpload,
                    params: { "RequestType" : "onChange", "requestOption" : "fileUpload", "WindowsId" : $('#windowId').val() },
                    maxFilesize: 10,
                    uploadmultiple: false,
                    parallelUploads: 1,
                    previewTemplate: document.getElementById('preview-template').innerHTML,
                    autoProcessQueue: true,
                    clickable: "#bulkUserFile",
                    dictFileTooBig: /*[[#{ChkOutReqCreate.attachedSize.text}]]*/
                });

                uploadDropzone.on("success", function(file, response) {
                    $("#message").html("");
                    $("#message").html($(response).find("#message").html());
                    $("#csvResultTable").html($(response).find("#csvResultTable").html());
                    $("#csvResultTable").css("display", $(response).find("#csvResultTable").css("display"));
                    $("#submitBtn").html($(response).find("#submitBtn").html());
                    checkboxCounter();
                    changeWindowHeight();
                });

                uploadDropzone.on("addedfile", function(file) {
                  if (currentFile) {
                    this.removeFile(currentFile);
                  }
                  $("#preview-label").show();

                  currentFile = file;
                });
            });

            function updateMultipleUser() {
                if($("#csvResultTable tr").length > 1) {
                    submitChanges('FlowUserMultipleCreationService');
                }
            }

            // to prevent double open dialogue window when use Dropzone.clickable with input[type=file].
            $("#bulkUserFile").on("click", function(e) {
                e.preventDefault();
                e.stopPropagation();
            });
        </script>
</body>
</html>