<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<head>
    <title th:text="#{StorageInfo.title.text}" th:fragment="titleHtml">trinity | サーバ容量使用状況</title>
</head>
<body>
<article class="contents">
    <section class="section sectionConfig">
        <div class="sectionConfigContents matchHeight" th:fragment="innerHtml">
            <div class="sectionConfigContentsHeader">
                <h2 th:text="#{StorageInfo.header.text}">容量使用状況の確認</h2>
                <div class="sectionConfigContentsHeaderHelp"><span class="helpBtn inline"><a th:href="#{AdminSettingsServerCapacity.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span></div>
            </div>
            <style>
                #capacityResultPolling {
                    border: 1px #036EB7 dashed;
                    padding: 20px;
                    text-align: center;
                }

                #capacityResultPolling .fa {
                    color: #036EB7;
                    padding: 3px;
                    vertical-align: middle;
                }

                #capacityResultPolling span {
                    vertical-align: middle;
                }

                #capacityResult, #capacityResultDone, #capacityResultPolling, .capacity-info, .detail {
                    font-size: 1.3rem;
                    width: 90%;
                    margin: auto;
                }

                #capacityResult h1 {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                #capacityResult h2 {
                    padding: 10px 0;
                }

                .progress {
                    margin-bottom: 10px;
                }

                .capacity-info, #capacityResultPolling {
                    margin-top: 20px;
                }

                .detail .notes {
                    font-size: 1.1rem;
                    text-align: center;
                }

                .detail .notes div {
                    width: 15px;
                    height: 15px;
                    vertical-align: middle;
                    display: inline-block;
                }

                .detail .notes span {
                    vertical-align: middle;
                }
            </style>
            <div id="capacityResult">
                <h1 th:text="#{StorageInfo.server.text}">trinity 本体サーバ</h1>
                <div id="capacityResultDone" th:if="${result.done}">
                    <div class="capacity-info" th:each="info : ${result.spaceInfo}">
                        <h1 th:text="#{StorageInfo.drive.text(${info.root})}">C:\ ドライブ</h1>
                        <div class="detail">
                            <h2 th:text="#{StorageInfo.free.text(${info.freeText}, ${info.totalText})}">空き容量
                                126GB/500GB</h2>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"
                                     th:style="${'width:' + info.publicPercent + '%'}" style="width: 30%"></div>
                                <div class="progress-bar progress-bar-warning"
                                     th:style="${'width:' + info.privatePercent + '%'}" style="width: 30%"></div>
                                <div class="progress-bar progress-bar-info"
                                     th:style="${'width:' + info.otherPercent + '%'}" style="width: 30%"></div>
                            </div>
                            <div class="notes">
                                <div class="progress-bar-success"></div>
                                <span th:text="#{StorageInfo.public.text(${info.publicText})}">公開領域使用量 (100GB)</span>
                                <div class="progress-bar-warning"></div>
                                <span th:text="#{StorageInfo.private.text(${info.privateText})}">非公開領域使用量 (80GB)</span>
                                <div class="progress-bar-info"></div>
                                <span th:text="#{StorageInfo.other.text(${info.otherText})}">その他 (20GB)</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="capacityResultPolling" th:if="${!result.done}">
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <span th:text="#{StorageInfo.loading.text}">trinity 本体サーバの情報を取得しています。少しお待ちください。</span>
                </div>
            </div>
        </div>
    </section>
</article>

<script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
    var url = /*[[ @{/admin/storage?polling} ]]*/'/admin/storage?polling';
    if ($("#capacityResultDone").length === 0) {
        var pollingInterval = setInterval(function () {
            $.post(url).done(
                function (data) {
                    var capacityResult = $(data).find("#capacityResult");
                    $("#capacityResult").replaceWith(capacityResult);
                    if ($("#capacityResultDone").length > 0) {
                        clearInterval(pollingInterval);
                    }
                });
        }, 5000);
    }
    /* ]]> */
</script>
</body>
</html>