<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{BPList.title.text}" th:fragment="titleHtml">trinity
    | Build Package - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>


    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <!-- 帯ポップアップ/bandPopup-->
        <div class="bandPopup">
            <div class="bandPopupMessage"></div>

            <div class="bandPopupButton"></div>
        </div>
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>


    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html" class="select">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="BuildPackageList.html" class="select">ビルドパッケージ</a></li>
                <li><a href="ReleaseRequestList.html">リリース申請</a></li>
                <li><a href="ReleasePackageList.html">リリースパッケージ</a></li>
                <li><a href="DeploymentJobList.html">リリース連携</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_BP.png"
                    th:src="@{/resources/images/common/icon_BP.png}"
                    alt="" />
                </span> <span th:text="#{BPList.header.text}">ビルドパッケージ一覧</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{BuildPackageList.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv');return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls');return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0);"
                    onClick="submitPrintBuildPackageListService();return false;"><span
                        th:text="#{BPList.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <!-- 検索条件 -->
        <section class="section searchSection">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{BPList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"><span
                            th:text="#{BPList.saveSearchFilter.text}">検索条件を保存</span></a></li>
                </ul>
            </div>

            <div class="modal fade saveFilterDialog" tabindex="-1"
                role="dialog" id="saveFilterDialog">
                <div class="modal-dialog searchDialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"
                                th:text="#{SearchFilter.saveFilterTitle.text}">検索フィルタ</h4>
                        </div>
                        <form class="form-horizontal searchFilterForm">
                            <div class="modal-body">
                                <div
                                    class="modal-error searchFilterNameError"
                                    style="display: none;"
                                    th:text="#{SearchFilter.saveFilterError.text}">フィルタ名を入力してください</div>
                                <div class="form-group">
                                    <label for="searchFilterName"
                                        class="col-sm-2 control-label"
                                        th:text="#{SearchFilter.saveFilterName.text}">フィルタ名</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                            class="form-control input-sm searchFilterName"
                                            id="searchFilterName"
                                            placeholder="" />
                                    </div>
                                </div>

                                <div class="form-group"
                                    style="min-height: 100px;">
                                    <label
                                        class="col-sm-2 control-label"
                                        th:text="#{SearchFilter.saveFilterCond.text}">検索条件</label>
                                    <div class="col-sm-10">
                                        <table
                                            class="searchQueryInfoTable">
                                            <thead>
                                                <tr>
                                                    <td
                                                        style="min-width: 100px;"></td>
                                                    <td></td>
                                                </tr>
                                            </thead>

                                            <tbody
                                                id="searchQueryInfoTableBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <input type="submit"
                                    class="btn btn-default btn-xs"
                                    value="検索条件を保存"
                                    th:value="#{SearchFilter.saveFilterSubmit.text}"
                                    th:onClick="'saveSearchFilter( \'' + @{/build/filter/save} + '\' ); return false;'" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table>
                        <tr>
                            <th><span
                                th:text="#{BPList.condStatus.text}">ステータス</span></th>
                            <td>
                                <ul class="searchCond" id="condStatus">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condStatus"
                                        data-value=""><span
                                            th:text="#{BPList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.statusViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condStatus"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="#{Constants.rmStatus.__${res.value}__.text}">未設定</span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><span
                                th:text="#{BPList.condCategory.text}">カテゴリー</span></th>
                            <td>
                                <ul class="searchCond" id="condCategory">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condCategory"
                                        data-value=""><span
                                            th:text="#{BPList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.ctgViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condCategory"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">未設定</span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><span
                                th:text="#{BPList.condMilestone.text}">マイルストーン</span></th>
                            <td>
                                <ul class="searchCond"
                                    id="condMilestone">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condMilestone"
                                        data-value=""><span
                                            th:text="#{BPList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condMilestone"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">未設定</span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{BPList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">

                                <form th:action="@{/build/export/file}"
                                    method="post" id="downloadFile">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="submitChanges" /> <input
                                        type="hidden" name="table" /> <input
                                        type="hidden"
                                        name="submitOption" />
                                </form>

                                <form id="FlowBuildPackageListService"
                                    th:action="@{/build/search}"
                                    method="POST">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="onChange" /> <input
                                        type="hidden" name="serviceId"
                                        value="" /> <input
                                        type="hidden" id="condStatus"
                                        name="condStatus"
                                        th:value="${result.param.searchCondition.stsId}" />
                                    <input type="hidden"
                                        id="condCategory"
                                        name="condCategory"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden"
                                        id="condMilestone"
                                        name="condMilestone"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden"
                                        id="selectedPageNo"
                                        name="selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <dl>
                                        <dt>
                                            <input id="searchKeyword"
                                                type="text"
                                                name="searchKeyword"
                                                value=""
                                                th:value="${result.param.searchCondition.keyword}"
                                                th:placeholder="#{BPList.keyword.text}" />
                                        </dt>
                                        <dd>
                                            <input id="btn-searching"
                                                class="btn btn-default"
                                                type="hidden"
                                                th:value="#{BPList.buttonSearching.text}"
                                                disabled="disabled" />
                                            <input id="btn-search"
                                                class="btn btn-default"
                                                type="button"
                                                th:value="#{BPList.buttonSearch.text}" />
                                        </dd>
                                    </dl>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section style="display: none;">
            <table class="table tableSearchResults table-bordered"
                id="issues_table" th:fragment="resultTable">
                <thead>
                    <th data-column="title"
                        th:text="#{BPList.tablePackageID.text}">件名</th>
                    <th data-column="status"
                        th:text="#{BPList.tablePackageName.text}">ステータス</th>
                    <th data-column="contact"
                        th:text="#{BPList.tableSubmitter.text}">担当者</th>
                    <th data-column="group"
                        th:text="#{BPList.tableCreatedDate.text}">担当グループ</th>
                    <th data-column="dateStart"
                        th:text="#{BPList.tableStatus.text}">最終更新日</th>

                </thead>
                <tbody>
                    <tr th:each="res : ${result.buildPackageViews}">
                        <td data-column="lot" th:text="${res.bpId}">Aロット(LOT-1512310001)</td>
                        <td data-column="title" th:text="${res.subject}">#1006
                            24時間を超えると表示 が0に戻る</td>
                        <td data-column="status"
                            th:text="${res.createdBy}">マージ済み</td>
                        <td data-column="contact"
                            th:text="${res.createdDate}">Tommy
                            Robinson</td>
                        <td data-column="group" th:text="${res.stsId}">運用保守グループ</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- 表 -->
        <section class="section tableSection">
            <nav class="sectionNav">

                <div th:replace="common/Pagination::Top"></div>

                <form id="FlowBuildPackageCreationService" method="post"
                    th:action="@{/build/create}"></form>
                <form id="FlowBuildPackageCloseService" method="post"
                    th:action="@{/build/close}"></form>
                <form id="FlowBuildPackageProgressService" method="post"
                    th:action="@{/build/progress}"></form>
                    
                    

                <ul class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                    <li><a th:if="${#lists.isEmpty(result.buildPackageViews)}" href="#"
                        class="underline" th:styleappend=" 'cursor: not-allowed;' "> <span><img
                                src="../../images/trinity/common/icon_status_inquiry.png"
                                th:src="@{/resources/images/common/icon_status_inquiry.png}"
                                alt="" /></span> <span
                            th:text="#{BPList.viewProgress.text}">作成状況をみる</span></a>
                        <a th:if="not ${#lists.isEmpty(result.buildPackageViews)}" href="#"
                        	onClick="safeSubmit('FlowBuildPackageProgressService', {'validation':false}); return false;"
                        	class="underline"> <span><img
                                src="../../images/trinity/common/icon_status_inquiry.png"
                                th:src="@{/resources/images/common/icon_status_inquiry.png}"
                                alt="" /></span> <span
                            th:text="#{BPList.viewProgress.text}">作成状況をみる</span></a></li>
                    <li><a href="#"
                        onClick="safeSubmit('FlowBuildPackageCloseService', {'validation':false}); return false;"
                        class="underline"> <span><img
                                src="../../images/trinity/common/icon_BP_close.png"
                                th:src="@{/resources/images/common/icon_BP_close.png}"
                                alt="パッケージクローズする" /></span> <span
                            th:text="#{BPList.packageClose.text}">パッケージクローズする</span></a>
                    </li>
                    <li><a href="#"
                        onClick="safeSubmit('FlowBuildPackageCreationService', {'validation':false});return false;"
                        class="underline"> <span><img
                                src="../../images/trinity/common/icon_BP_add.png"
                                th:src="@{/resources/images/common/icon_BP_add.png}"
                                alt="新規作成をする" /></span> <span
                            th:text="#{BPList.createNew.text}">新規作成をする</span></a>
                    </li>
                </ul>
            </nav>
 				<form id="submitDetailsService"
                    th:action="@{/build/details}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="referer"
                        value="BuildPackageList" /> <input
                        type="hidden" name="forward"
                        value="BuildPackageDetails" /> <input
                        type="hidden" name="bpId" value="" />
                </form>
            <table class="table table-bordered" id="result_list">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{BPList.tablePackageID.text}">ビルドパッケージ番号</span></th>
                        <th><span
                            th:text="#{BPList.tablePackageName.text}">パッケージ名</span></th>
                        <th><span
                            th:text="#{BPList.tableSubmitter.text}">作成者名</span></th>
                        <th><span th:text="#{BPList.tableStartTime.text}">作成日</span></th>
                        <th><span th:text="#{BPList.tableEndTime.text}">作成日</span></th>
                        <th><span
                            th:text="#{BPList.tableStatus.text}">ステータス</span></th>
                        <th th:if="${result.header.selectedLot.enabled}"><span
                            th:text="#{BPList.tableAction.text}">アクション</span></th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr th:each="res : ${result.buildPackageViews}"
                        th:id="${res.bpId}">

                        <td><a href="javascript:void(0)"
                            th:text="${res.bpId}"
                            th:onClick="'javascript:submitDetailsService(\''+${res.bpId}+ '\' );return false;'">aaa</a></td>
                        <td class="ellipsis"><span th:text="${res.subject}"></span></td>
                        <td class="user"><img
                            src="images/common/icon_obake.png"
                            th:src="${res.createdByIconPath}"
                            class="userImg" /><span
                            th:text="${res.createdBy}"></span></td>
                        <td><span th:text="${res.startTime}"></span></td>
                        <td><span th:text="${res.endTime}"></span></td>
                        <td class="labels"><span
                            class="label label-justify"
                            th:classappend="'rmStatus'+${res.stsId}"
                            th:text="#{Constants.rmStatus.__${res.stsId}__.text}"></span></td>
                        <td class="btns" th:if="${result.header.selectedLot.enabled}"><a
                            href="javascript:void(0)"
                            th:onClick="'javascript:submitRemoveService(\''+${res.bpId}+'\',\''+${res.subject}+'\');return false;'"><i
                                class="fa fa-times-circle"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div
                th:style="${result.buildPackageViews.size()}== 0 ? 'display:block;' : 'display:none;'"
                class="emptySearchResults" id="emptyResultsMessage">
                <i class="fa fa-warning"></i> <span
                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
            </div>

            <nav class="sectionNav">
                <div th:replace="common/Pagination::Bottom"></div>
            </nav>
            
            
        </section>
        
        <form id="FlowBuildPackageRemovalCommentService"
            method="POST" th:action="@{/build/remove/validate}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="bpId" />
        </form>
        

        <form id="FlowBuildPackageRemovalService"
            th:action="@{/build/remove/validate}" method="POST">
            <input type="hidden" name="RequestType" value="validate" />
            <input type="hidden" name="referer" value="BuildPackageList" />
            <input type="hidden" name="forward" value="BuildPackageList" />
            <input type="hidden" name="bpId" value="" /> <input
                type="hidden" name="bpName" value="" />
        </form>

        <form id="FlowPrintBuildPackageListService"
            th:action="@{/build/list/print}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="condStatus"
                th:value="${result.param.searchCondition.stsId}" /> <input
                type="hidden" name="condCategory"
                th:value="${result.param.searchCondition.ctgId}" /> <input
                type="hidden" name="condMilestone"
                th:value="${result.param.searchCondition.mstoneId}" />
            <input type="hidden" name="searchKeyword"
                th:value="${result.param.searchCondition.keyword}" />
        </form>
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">

	        var formId = 'FlowBuildPackageListService';
			$(document).ready(function(){
				updateSearchFilterQuery(formId);
				updateSearchConditionView(formId);
			});

			$(document).ready(function() {
				getTriLayer("flashMessage").show();
				
			});
    		function submitDetailsService(bpId){
    			form = document.getElementById('submitDetailsService');
    			form.bpId.value = bpId;
    			safeSubmit('submitDetailsService', {'validation':false});
    		}

            function submitRemoveService(bpId,bpName) {
            	var formId = 'FlowBuildPackageRemovalCommentService';
            	setParamsToForm(formId, {"bpId" : bpId});
				removeCommentContainer();
            	var right = $("#result_list td:last").width()/2 - 8;
            	var bottom_border = $( "#result_list tr:last" ).attr('id') == bpId ? ' border-bottom-color: #fff; ' : '';
        	
	        	var html = '<tr id="comment_container_temp">'
	            	+ '<td colspan="8" style="border-left-color: #fff; border-right-color: #fff;'
	            	+ bottom_border
	                + 'padding: 0px 0px 10px 0px; background-color:white;color: inherit">'
	    			+ '<div style="position:relative">'
	    			+ '<div class="fukidashiHeader" style="right: '
	    			+ right + 'px; top: -2px; display: none;" id="removeFukidashiHeader"></div></div>'
	   				+ '<div id="replace_reason"></div></td></tr>'
	   				+ '<tr id="comment_container_after"></tr>';

   				$('#' + bpId).after(html);
   	        	$('#replace_reason').click(function(event) {
   	        		event.stopPropagation();
   	        	});
	   	        	
            	toggleComment(formId,'remove');
            }
            
            function deleteFunction(bpId,bpName) {
	            var formId = 'FlowBuildPackageRemovalService';
				$("#" + formId).attr("action", /*[[@{/build/remove}]]*/);
				setParamsToForm(formId, {"RequestType" : "submitChanges"});
				setParamsToForm(formId, {"bpId" : bpId});
				setParamsToForm(formId, {"bpName" : bpName});
				$("#message").html("");
				var form = $("#" + formId);
				var _url = form.attr("action");
				appendWindowId(form);
				var _data = form.serialize();
				$.ajax({
					type: "POST",
					url: _url,
					data: _data,
					global: false,
					success: function(data) {

						$("#infoDialog").html($(data).find("#infoDialog").html());
						getTriLayer("flashMessage").show();
						

						 $("#message").html($(data).find("#message").html());
						
						if ($(".errorMessage")[0] != null) {
							timeOut = setTimeout(function() {
								$("html, body").animate({scrollTop:$('#message').offset().top-$("nav#globalNav").height()});
								$(".sectionErrorMessage").show();
							}, 200);
						} else {
							ajaxSearch(null, null);
						}
					},
					error: function(XMLHttpRequest, status, errorThrown) {
					},
					complete: function() {
					},
				});
            }

            function ajax_refresh() {
                var timeOut = null;
                var url = /*[[ @{/build} ]]*/'/build';
                timeOut = setTimeout(function() {
    		    	$.post(url, serializeWindowId('FlowBuildPackageListService')).done(
    		        	    function(data, status, xhr) {
    		             	   $("#result_list").html($(data).find("#result_list").html());
    		             	   $("#pageTop").html($(data).find("#pageTop").html());
      						   $("#pageBottom").html($(data).find("#pageBottom").html());
      						   $("#FlowBuildPackageListService").html($(data).find("#FlowBuildPackageListService").html());
      						   $("#FlowPrintBuildPackageListService").html($(data).find("#FlowPrintBuildPackageListService").html());
           	        	    }).fail(function(XMLHttpRequest, status, errorThrown) {
           	         	    });
    	         	    }, 500);
            }

            $(document).on("click", ".pageNavi", function(){
    			var val = $(this).attr("data-pageNum");
    			ajaxSearch("selectedPageNo",val);
    		});

            //send ajax
    		function ajaxSearch( key, val ){
    			getTriLayer("mask").startWaiting('result_list');
        		
    			var timeOut = null;
    			var url = /*[[ @{/build/search} ]]*/'/build/search';
    			form = document.getElementById('FlowBuildPackageListService');
    		
    			//debug
                console.log($('url').serialize());
    			console.log($('form[id="FlowBuildPackageListService"]').serialize());
    
    			$('#FlowBuildPackageListService input[name="'+key+'"]').val( val );
    			updateSearchFilterQuery(formId);
    			
    			//send
    			timeOut = setTimeout(function() {
    				 $.post(url, serializeWindowId('FlowBuildPackageListService')).done(
    					function(data, status, xhr) {
    						$("#result_list").html($(data).find("#result_list").html());
    						$("#submitDetailsService").html($(data).find("#submitDetailsService").html());
    						$("#pageTop").html($(data).find("#pageTop").html());
    						$("#pageBottom").html($(data).find("#pageBottom").html());
    						$("#FlowBuildPackageListService").html($(data).find("#FlowBuildPackageListService").html());
   							$("#FlowPrintBuildPackageListService").html($(data).find("#FlowPrintBuildPackageListService").html());
    						$("#message").html($(data).find("#message").html());
    						$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
    						getTriLayer("mask").endWaiting('result_list');
    						
    					}).fail(function(XMLHttpRequest, status, errorThrown) {
    						console.log("fail");
    						getTriLayer("mask").endWaiting('result_list');
    					});
    					
    			 }, 500);
    			updateSearchConditionView(formId);
    		}
			
			function exportToFile(extension) {

			    var validateURL = /*[[ @{/build/export/validate} ]]*/ '/build/export/validate';
                var $windowId = $('#windowId').val();

                $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                    $("#message").html($(data).find("#message").html());
                    if(!$("#message").html().trim()) {
                        var _url = /*[[@{/build/export}]]*/'/build/export';
                        var form = document.getElementById("FlowBuildPackageListService");
                        appendWindowId(form);
                        var _data = $(form).serialize()
                        $.ajax({
                            type: "POST",
                            url: _url,
                            data: _data,
                            global: false,
                            success: function(data) {
                                downloadFile($(data).html(), extension);
                            },
                        });
                    }
                });
			}

			function downloadFile(table, extension) {
				var form = document.getElementById('downloadFile');
				if (extension == 'xls') {
					form.submitOption.value = "ExportToExcel";
				} else if (extension == 'csv') {
					form.submitOption.value = "ExportToCsv";
				}
				form.table.value = encodeURI(table);
				appendWindowId(form);
				form.submit();
				return;
			}
    		$(document).on("click", ".searchCondItem", function(){
    			
    			//switch button
    			$("#btn-search").attr("type","hidden");
    			$("#btn-searching").attr("type","button");

    			//change selected label
    			var obj = $(this).parents(".searchCond").children("li").children("a.select");
    			obj.removeClass("select");
    			$(this).addClass("select");
    		
    			//collection
    			var key = $(this).attr("data-key");
    			var val = $(this).attr("data-value");
    			$('input[name='+key+']').val(val);

    			//do search
    			ajaxSearch(key,val);
    		
    			//switch button
    		 	$("#btn-search").attr("type","button");
    			$("#btn-searching").attr("type","hidden");
    		});

    		$(function() {
    			//block "enterkey" keypress in input form (searchKeyword)
    			$(document).on("keypress", "input#searchKeyword", function(event) {
    				return event.which !== 13;
    			});
    		});
    		
    		//keyword search
    		$(document).on("click", "input#btn-search", function(){
    			//switch button
    			$("#btn-search").attr("type","hidden");
    			$("#btn-searching").attr("type","button");

    			//collection
    			var key = "searchKeyword";
    			var val = $("input#searchKeyword").val();

    			//do search
    			ajaxSearch(key,val);
    		
    			//switch button
    		 	$("#btn-search").attr("type","button");
    			$("#btn-searching").attr("type","hidden");
    		});

    		$(document).ready(function(){
    			$('#FlowPrintBuildPackageListService').submit(function() {
    				var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
    				this.target = 'Popup_Window';
    			});
    		});
			
    		function submitPrintBuildPackageListService() {
    			submit('FlowPrintBuildPackageListService');
    		}
        </script>
</body>
</html>