<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{BPCreate.title.text}" th:fragment="titleHtml">trinity
    | Build Package - Create New</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>


    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html" class="select">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="BuildPackageList.html" class="select">ビルドパッケージ</a></li>
                <li><a href="ReleaseRequestList.html">リリース申請</a></li>
                <li><a href="ReleasePackageList.html">リリースパッケージ</a></li>
                <li><a href="DeploymentJobList.html">リリース連携</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowCategoryCreationService"
            th:action="@{/lot/settings/category/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/checkout/create/refreshCategory" /> <input
                type="hidden" name="categorySubject" value="" />
        </form>
        <form id="FlowMilestoneCreationService"
            th:action="@{/lot/settings/milestone/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/checkout/create/refreshMilestone" /> <input
                type="hidden" name="milestoneSubject" value="" />
        </form>

        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_BP_add.png"
                    th:src="@{/resources/images/common/icon_BP_add.png}"
                    alt="" /></span><span th:text="#{BPCreate.header.text}">ビルドパッケージの新規作成</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{BuildPackageCreation.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>
        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <form class="form-horizontal"
            id="FlowBuildPackageCreationService"
            th:action="@{/build/create}" method="POST">
            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{BPCreate.basicInfo.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{BuildPackageCreation.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>

                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="BuildPackageCreation" /> <input
                    type="hidden" name="forward"
                    value="BuildPackageList" />

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{BPCreate.pkgName.text}">パッケージ名</span></label>
                    <div class="col-sm-10">
                        <input type="text"
                            class="form-control validation" id="subject"
                            placeholder="" required="required"
                            name="subject"
                            th:value="${result.param.inputInfo.subject}"
                            maxLength="140" />
                        <div class="formError" style="display: none;">
                            <span th:text="#{BPCreate.pkgName.text}">パッケージ名</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{BPCreate.summary.text}">パッケージ概要</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control validation"
                            name="summary" id="summary" rows="3"
                            required="required"
                            th:text="${result.param.inputInfo.summary}"></textarea>
                        <div class="formError" style="display: none;">
                            <span th:text="#{BPCreate.summary.text}">パッケージ概要</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{BPCreate.bldType.text}">ビルド分類</span></label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label class="col-sm-2"> <input
                                type="radio"
                                class="changePropertyListSection"
                                name="build" value="buildDiff"
                                checked="checked" /> <span
                                th:text="#{BPCreate.BPDiff.text}">差分ビルド</span>
                            </label> <label class="col-sm-2"> <input
                                type="radio"
                                class="changePropertyListSection"
                                name="build" value="buildFull" /> <span
                                th:text="#{BPCreate.BPFull.text}">全量ビルド</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{BPCreate.category.text}">カテゴリー</span></label>
                    <div class="col-sm-10 form-inline">

                        <div class="input-group">
                            <select class="form-control" id="ctgId"
                                name="ctgId">
                                <option value=""
                                		th:text="#{BPCreate.pleaseSelect.text}">
                                		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.ctgViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.param.inputInfo.ctgId}"></option>
                            </select>
                            <div class="input-group-btn">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>

                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{BPCreate.addCategory.text}">カテゴリーを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="categorySubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addCategory('FlowBuildPackageCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="ctgButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{BPCreate.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="categoryList">
                                                <dt
                                                    th:text="#{BPCreate.existing.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.ctgViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{BPCreate.milestone.text}">マイルストーン</span></label>
                    <div class="col-sm-10 form-inline">
                        <div class="input-group">
                            <select class="form-control" id="mstoneId"
                                name="mstoneId">
                            	<option value=""
                            		th:text="#{BPCreate.pleaseSelect.text}">
                            		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.param.inputInfo.mstoneId}">
                                </option>
                            </select>
                            <div class="input-group-btn">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>
                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{BPCreate.addMilestone.text}">マイルストーンを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="milestoneSubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addMilestone('FlowBuildPackageCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="mstoneButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{BPCreate.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="mstoneList">
                                                <dt
                                                    th:text="#{BPCreate.existing.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="changePropertyListSection" id="buildDiff">
                <section class="section sectionRadius">
                    <h2>
                        <span class="required">*</span> <span
                            th:text="#{BPCreate.changePropertyList.text}">変更管理一覧</span>
                        <span class="helpBtn inline"><a th:href="#{BuildPackageCreation.help.url}"
                                                        target="_blank"><i class="fa fa-question"></i></a></span>
                    </h2>
                    <table class="table table-bordered">
                        <thead id="changePropertyList_validationMessagePosition">
                            <tr>
                                <th class="checkboxHead"><input
                                    type="checkbox" class="allCheck" /></th>
                                <th><span
                                    th:text="#{BPCreate.tableChangeID.text}">変更管理番号</span></th>
                                <th><span
                                    th:text="#{BPCreate.tableReferenceID.text}">変更要因番号</span></th>
                                <th><span
                                    th:text="#{BPCreate.tableSubject.text}">申請件名</span></th>
                                <th><span
                                    th:text="#{BPCreate.tableSubmitter.text}">申請者名</span></th>
                                <th><span
                                    th:text="#{BPCreate.tableApproved.text}">承認日</span></th>
                                <th><span
                                    th:text="#{BPCreate.tableComment.text}">備考</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                th:each="res : ${result.changePropertyViews}"
                                th:id="${res.pjtId}">
                                <td><input type="checkbox"
                                    name="selectedPjtIds"
                                    th:value="${res.pjtId}"
                                    th:checked="${res.selected}"
                                    class="validation validationMessageId validationMessagePosition validationCustomPattern itemCheckbox"
                                    data-validationMessageId="formError_changePropertyList"
	                                data-validationMessagePosition="changePropertyList_validationMessagePosition"
	                                data-validationCustomPattern="checkbox_atLeastOne" /></td>
                                <td><span th:text="${res.pjtId}"></span>
                                	<a href="javascript:void(0);"
	                                    th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${res.pjtId} + '\'}); return false;'">
	                                        <i class="fa fa-clone"></i>
	                                </a> <span class="overviewPopup"></span></td>
                                <td><span
                                    th:text="${res.referenceId}"></span></td>
                                <td><span th:text="${res.summary}"></span></td>
                                <td class="user"><img
                                    src="../../images/trinity/common/icon_obake.png"
                                    th:src="${res.submitterIconPath}"
                                    class="userImg" /> <span
                                    th:text="${res.submitterNm}"></span>
                                </td>
                                <td><span
                                    th:text="${res.approvedTime}"></span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="formError" id="formError_changePropertyList"
	                    style="display: none;">
	                    <span th:text="#{BPCreate.changePropertyList.text}">ビルド環境設定</span>
	                    <span th:text="#{Validation.isRequired.text}">is
	                        required.</span>
	                </div>
                </section>
            </div>
        </form>

        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <ul class="sectionNavRight">
                    <li><a href="javascript:void(0);"
                        class="btn btn-default strong"
                        th:text="#{BPCreate.submitCreate.text}"
                        onClick="beforeSubmit(); return false;">作成する</a></li>
                </ul>
            </nav>
        </section>

    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
            $(function() {
                $( "#tabs" ).tabs();
            });
            $('.itemCheckbox').change(function() {
                updateHeadCheckbox('allCheck','itemCheckbox');
            });

            $(function() {
                $("input.changePropertyListSection").click(function () {
                    $("div.changePropertyListSection").hide();
                    var id = $(this).val();
                    $("div#"+id).show();
                    if(id == "buildDiff") {
                    	$("input[name='selectedPjtIds']").addClass("validation");
                    } else if(id == "buildFull") {
                    	$("input[name='selectedPjtIds']").removeClass("validation");
                    }
                });
            });
            $('.allCheck').click(function () {
                $('tbody tr td input:checkbox:not(:disabled)').prop('checked', $(this).prop('checked'));
            });

            function beforeSubmit() {
            	if ( !validateOnSubmit() ) return;
            	openBandPopup({
    				message		: [[#{BPCreate.confirmCreate.text}]],
    				btn1Text	: [[#{BPCreate.yes.text}]],
    				btn2Text	: [[#{BPCreate.no.text}]],
    				btn1Func	:function() { safeSubmit('FlowBuildPackageCreationService'); },
    				btn2Func	:function() {}
    			});
            }
		/* ]]> */ 
	</script>
</body>
</html>