
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{BPClose.title.text}" th:fragment="titleHtml">trinity
    | Build Package - Close</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
	<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
	<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <!-- 帯ポップアップ/bandPopup-->
        <div class="bandPopup">
            <div class="bandPopupMessage"></div>

            <div class="bandPopupButton"></div>
        </div>
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html" class="select">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="BuildPackageList.html" class="select">ビルドパッケージ</a></li>
                <li><a href="ReleaseRequestList.html">リリース申請</a></li>
                <li><a href="ReleasePackageList.html">リリースパッケージ</a></li>
                <li><a href="DeploymentJobList.html">リリース連携</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="JumpToDetails" action="" method="post">
            <input type="hidden" name="referer"
                value="BuildPackageClose" /> <input type="hidden"
                name="forward" value="" /> <input type="hidden"
                name="RequestType" value="init" />
        </form>
        <form class="form-horizontal" id="FlowBuildPackageCloseService"
            th:action="@{/build/close/validate}">
            <input type="hidden" name="RequestType" value="validate" />
            <input type="hidden" name="referer"
                value="BuildPackageClose" /> <input type="hidden"
                name="forward" value="BuildPackageList" />

            <div class="contentsHeader">
                <h1>
                    <span><img
                        src="../../images/trinity/common/icon_BP_close.png"
                        th:src="@{/resources/images/common/icon_BP_close.png}"
                        alt="" /></span><span th:text="#{BPClose.header.text}">ビルドパッケージのクローズ</span>
                </h1>
                <div class="contentsHeaderHelp helpBtn">
                    <a th:href="#{BuildPackageClose.help.url}"
                        target="_blank"><i class="fa fa-question"></i></a>
                </div>
            </div>
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>


            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{BPClose.basicInfo.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{BuildPackageClose.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{BPClose.baselineTagName.text}">ベースラインタグ名</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control"
                            id="baseLineTag" placeholder=""
                            name="baseLineTag"
                            th:value="${result.param.inputInfo.baseLineTag}" />
                    </div>
                </div>
            </section>

            <section class="section sectionRadius">
                <h2>
                    <span class="required">*</span><span
                        th:text="#{BPClose.bldPkgSelect.text}">ビルドパッケージ</span><span
                        class="helpBtn inline"><a th:href="#{BuildPackageClose.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="checkboxHead"><input
                                type="checkbox" class="allCheck" /></th>
                            <th><span
                                th:text="#{BPClose.bldPkgID.text}">ビルドパッケージ番号</span></th>
                            <th><span
                                th:text="#{BPClose.pkgName.text}">パッケージ名</span></th>
                            <th><span
                                th:text="#{BPClose.releasePkgID.text}">リリースパッケージ番号</span></th>
                            <th><span
                                th:text="#{BPClose.creator.text}">作成者名</span></th>
                            <th><span
                                th:text="#{BPClose.createdTime.text}">作成日</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="res : ${result.closableViews}"
                            th:id="${res.bpId}">
                            <td class="checkboxHead"><input
                                type="checkbox" th:name="selectedBpIds"
                                th:value="${res.bpId}" class="itemCheckbox"/></td>
                            <td><span th:text="${res.bpId}"></span>
                                	<a href="javascript:void(0);"
	                                    th:onClick="'openOverviewInNewWindow(\'commonFlowBuildPackageDetailsService\', {\'bpId\': \'' + ${res.bpId} + '\'}); return false;'">
	                                        <i class="fa fa-clone"></i>
	                                </a> <span class="overviewPopup"></span></td>
                            <td><span th:text="${res.subject}"></span></td>
                            <td><span th:each="rp : ${res.rpIds}"
                                th:id="${rp}"> <a
                                    href="javascript:void(0)"
                                    th:text="${rp}"
                                    th:onClick="'javascript:JumpToDetails(\''+${rp}+'\', \'rp\'); return false;'"></a>
                            </span></td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                th:src="${res.createdByIconPath}"
                                class="userImg" /> <span
                                th:text="${res.createdBy}"></span></td>
                            <td><span th:text="${res.createdTime}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <dl class="sectionNavRight">
                        <dd class="commentButtons">
                            <a href="javascript:void(0);"
                                class="btn btn-default"
                                onClick="beforeToggleComment('FlowBuildPackageCloseService', 'close');">
                                <span class="commentButtonWaiting"
                                id="closeCommentButtonWaiting"
                                style="display: none;"><i
                                    class="fa fa-circle-o-notch fa-spin"
                                    aria-hidden="true"></i></span> <span
                                th:text="#{BPClose.buttonClosePkg.text}">クローズする</span>
                                <div class="fukidashiHeader"
                                    id="closeFukidashiHeader"
                                    style="display: none;"></div>
                            </a>
                        </dd>
                    </dl>
                </nav>
                <div id="replace_reason"></div>
            </section>
        </form>
    </article>

    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>

    <script th:inline="javascript" th:fragment="js">
	        /*<![CDATA[*/
	$('.itemCheckbox').change(function() {
        updateHeadCheckbox('allCheck','itemCheckbox');
     });
	        
	$('.allCheck').click(function () {
		$('tbody tr td input:checkbox:not(:disabled)').prop('checked', $(this).prop('checked'));
	});

	function JumpToDetails(Id,jumpto) {
		 form = document.getElementById('JumpToDetails');
		 if (jumpto == 'bp'){
			var element = document.createElement('input');
			element.setAttribute('type', 'hidden');
			element.setAttribute('name', 'bpId');
			form.appendChild( element );
			form.forward.value='BuildPackageDetails';
			form.bpId.value=Id;
			form.action=/*[[ @{/build/details} ]]*/'/build/details';
		}else if(jumpto == 'rp'){
			var element = document.createElement('input');
			element.setAttribute('type', 'hidden');
			element.setAttribute('name', 'RpId');
			form.appendChild( element );
			form.forward.value='ReleasePackageDetails';
			form.RpId.value=Id;
			form.action=/*[[ @{/release/details} ]]*/'/release/details';
		}
		safeSubmit('JumpToDetails', {'validation':false});
	}

	        /*
	function validateClosable(requestStatus) {
	    var timeOut = null;
	    var	form = document.getElementById('FlowBuildPackageCloseService');
		
	    timeOut = setTimeout(function() {
	    	form.RequestType.value = requestStatus;
	    	form.forward.value = "BuildPackageClose";
	    	form.action = //[[ @{/build/close/validate} ]]//'/build/close/validate'
	    	var url =  //[[ @{/build/close/validate} ]]//'/build/close/validate';
	            $.post(url, $('form[id="FlowBuildPackageCloseService"]'), true).done(function(data, status, xhr) {
	    	   
	            	safeSubmit('FlowBuildPackageCloseService', {'validation':false});
	    	   

	            	//FlowBuildPackageCloseService();
				$("#message").html($(data).find("#message").html());               
				$("#replace_out").html($(data).find("#replace_in").html());
				
	        }).fail(function(XMLHttpRequest, status, errorThrown) {
	        });
	    },500);
	    alert("!!");
	}
	*/
	//close button cancel
	function openBPCComment(){
		/*
		<form class="form-horizontal" id="FlowBuildPackageCloseService"
			action="">
			<input type="hidden" name="referer" value="BuildPackageClose" />
			<input type="hidden" name="forward" value="" />
			<input type="hidden" name="RequestType" value="" />
				*/
		var	form = document.getElementById('FlowBuildPackageCloseService');
		form.action=/*[[ @{/build/close/validate} ]]*/'/build/close/validate';
		form.forward.value="BuildPackageClose";
		form.RequestType.value="validate";
		var timeOut = null;
		var url = /*[[ @{/build/close/validate} ]]*/'/build/close/validate';
		//send
		timeOut = setTimeout(function() {
			 $.post(url, serializeWindowId('FlowBuildPackageCloseService')).done(
				function(data, status, xhr) {
					$("#message").html($(data).find("#message").html());
					$("#replace_reason").html($(data).find("#replace_reason").html());
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
				});
				
		 }, 500);
	}

	function beforeToggleComment(formId, id_prefix) {
		setActionToForm(formId,/*[[ @{/build/close/validate} ]]*/'/build/close');
		setParamsToForm(formId, {'RequestType' : 'validate'});
		var	form = document.getElementById('formId');
		toggleComment(formId, id_prefix);
	}
	
	function closeBPCComment(){
	}
	
	function submitBPCComment(){
		/*
		<form class="form-horizontal" id="FlowBuildPackageCloseService"
			action="">
			<input type="hidden" name="referer" value="BuildPackageClose" />
			<input type="hidden" name="forward" value="" />
			<input type="hidden" name="RequestType" value="" />
				*/
		var	form = document.getElementById('FlowBuildPackageCloseService');
		form.action=/*[[ @{/build/close} ]]*/'/build/close';
		form.forward.value="BuildPackageList";
		form.RequestType.value="submitChanges";
		var timeOut = null;
		var url = /*[[ @{/build/close} ]]*/'/build/close';
		//send
		submit ('FlowBuildPackageCloseService');
		timeOut = setTimeout(function() {
			 $.post(url, serializeWindowId('FlowBuildPackageCloseService')).done(
				function(data, status, xhr) {
					$("#message").html($(data).find("#message").html());
					$("#replace_reason").html($(data).find("#replace_reason").html());
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
				});
		 }, 500);
	}
	
	
	
	
	/*
	function comBoxButton(num) {
		if(num == 0){
			FlowBuildPackageCloseService
			document.getElementById("commentBox").style.display="none";
			$('textarea').val("");  
		}
	}
	*/
	/*
	function FlowBuildPackageCloseService(requestStatus){
		var	form = document.getElementById('FlowBuildPackageCloseService');
		form.RequestType.value = requestStatus;
		if(requestStatus == 'validate'){
			form.action =
			form.forward.value = "BuildPackageClose";
			safeSubmit('FlowBuildPackageCloseService', {'validation':false});
		}else if(requestStatus == "submitChanges"){
			form.action = 
			form.forward.value = BuildPackageList;
		}
	}
	*/
	 
	            $(function() {
	                $( "#tabs" ).tabs();
	            });
	            
	/*
	            function submitListService() {
	                form = document.getElementById('FlowBuildPackageListService');
	                safeSubmit('FlowBuildPackageListService', {'validation':false});
	            }
	  */          
	  /*
	            function submitCloseService(bpIds) {
	            	openBandPopup({
	                    message     : messageReplace( [[#{BPClose.confirmClosePkg.text}]] , bpIds ),
	            		btn1Text	:[[#{BPClose.yes.text}]],
	            		btn2Text	:[[#{BPClose.no.text}]],               
	                    btn1Func    :function(){
	                    				$("#bandPopup").find(".bandPopup").fadeOut(500);
	                                   	closeFunction(pjtId);
	                                 },     
	                    btn2Func    :function(){ 
	                    				$("#bandPopup").find(".bandPopup").fadeOut(500);
	                                 }
	                });
	            }
	    */        
	    /*
	    
	            function closeFunction(pjtId) {
	                var timeOut = null;
	            	var url =  //[[ @{/build/close} ]]//'/build/close';
	                timeOut = setTimeout(function() {
	                    $.post(url, $('form[id="FlowBuildPackageCloseService"]'), true).done(function(data, status, xhr) {    
	    					$("#message").html($(data).find("#message").html());               
	    					$("#bandPopup").html($(data).find("#bandPopup").html());
	    				
	                    	//文字設定 messageが空の場合(.bandpopupが書き変わったとき)のみ
	                    	$("#bandPopup").find(".bandPopup .bandPopupMessage:empty").parent().fadeIn(500);
	                    	$("#bandPopup").find(".bandPopup .bandPopupMessage:empty").html(messageReplace( [[#{BPClose.messageClosePkg.text}]] , bpIds ));
	                    	
	                    	//ポップアップ削除
	                    	$("#bandPopup").find(".bandPopup").delay(2000).fadeOut(500);
	
	                    	submitListService();
	    					
	                    }).fail(function(XMLHttpRequest, status, errorThrown) {
	                    });
	                },500);
	            }
	          */  
	    	    
	/*
	    		//close button cancel
	    		function closeCommentCancel(){
	    			var timeOut = null;
	    			var url = //[[ @{/build/close} ]]//'/build/close';
	
	    			//send
	    			timeOut = setTimeout(function() {
	    				 $.post(url, $('form[id="FlowBuildPackageCloseService"]').serialize()).done(
	    					function(data, status, xhr) {
	    						$("#close_button").html($(data).find("#close_button").html());
	    						$("#replace_reason").html($(data).find("#replace_reason").html());
	    					}).fail(function(XMLHttpRequest, status, errorThrown) {
	    						console.log("fail");
	    					});
	    					
	    			 }, 500);
	    		}
	*/
				
	            /*
	            //close button
	    		$(document).on("click", "a#btn-close", function(){
	    			buildPackageClose();
	    		});
	
	    		//close button Cancel
	    		$(document).on("click", "a#btn-closeCancel", function(){
	    			closeCommentCancel();
	    		});


	    		*/
	        /* ]]> */
	        </script>
</body>
</html>