<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{BPDetails.title.text}" th:fragment="titleHtml">trinity | Build Package
    - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html" class="select">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="BuildPackageList.html" class="select">ビルドパッケージ</a></li>
                <li><a href="ReleaseRequestList.html">リリース申請</a></li>
                <li><a href="ReleasePackageList.html">リリースパッケージ</a></li>
                <li><a href="DeploymentJobList.html">リリース連携</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowBuildPackageCancellationCommentService"
            method="POST" th:action="@{/build/remove/validate}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="bpId"
                th:value="${result.detailsView.bpId}" />
        </form>

        <form id="FlowPrintBuildPackageService"
            th:action="@{/build/printDetails}" method="POST">
            <input type="hidden" name="bpId"
                th:value="${result.detailsView.bpId}" />
        </form>
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_BP.png"
                    th:src="@{/resources/images/common/icon_BP.png}"
                    alt="" /></span><span th:text="#{BPDetails.header.text}">ビルドパッケージの詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{BuildPackageDetails.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'BuildPackageDetailsService\');return false;'"
                    th:text="#{BPDetails.newWindow.text}">別ウインドウに複製</a></li>
                <li><span style="vertical-align: middle;"><img
                        src="../../images/trinity/common/icon_report.png"
                        th:src="@{/resources/images/common/icon_report.png}"
                        alt="" height="14px" /></span><a
                    href="javascript:void(0)"
                    onClick="ajax_create_report()"
                    th:text="#{BPDetails.report.text}">レポート出力</a></li>
                <li><i class="fa fa-print"></i> <a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printBuilcPackageDetails();return false;'"
                    th:text="#{BPDetails.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <form id="FlowReportCreation" method="post"
            th:action="@{/reports/create/buildPackage}">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="selectedId" />
        </form>

        <form id="FlowReportsList" method="post" th:action="@{/reports}">
            <input type="hidden" name="RequestType" value="init" />
        </form>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.basicInfo.text}">基本情報</span><span
                    class="helpBtn inline"><a th:href="#{BuildPackageDetails.help.url}"
                                              target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <dl class="dl-horizontal">
                <dt th:text="#{BPDetails.bldPkgID.text}">ビルドパッケージ番号</dt>
                <dd>
                    <span th:text="${result.detailsView.bpId}">BLD-1511240001</span>
                    <span class="label labelGreen"
                        th:text="#{Constants.rmStatus.__${result.detailsView.stsId}__.text}">作成完了</span>
                </dd>
                <dt th:text="#{BPDetails.pkgName.text}">パッケージ名</dt>
                <dd th:text="${result.detailsView.subject}">20151120_リリース</dd>
                <dt th:text="#{BPDetails.pkgCreator.text}">パッケージ作成者</dt>
                <dd th:text="${result.detailsView.createdBy}">Tommy
                    Robinson</dd>
                <dt th:text="#{BPDetails.startTime.text}">パッケージ作成開始日時</dt>
                <dd th:text="${result.detailsView.startTime}">2016/04/01
                    12:00</dd>
                <dt th:text="#{BPDetails.endTime.text}">パッケージ作成終了日時</dt>
                <dd th:text="${result.detailsView.endTime}">2016/04/01
                    14:00</dd>
                <dt th:text="#{BPDetails.summary.text}">パッケージ概要</dt>
                <dd th:text="${result.detailsView.summary}">0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース</dd>
                <dt th:text="#{BPDetails.bldType.text}">ビルド分類</dt>
                <dd>
                    <span
                        th:if="${result.detailsView.buildDiff == true}">
                        <span th:text="#{BPDetails.diffBuild.text}"></span>
                    </span> <span
                        th:if="${result.detailsView.buildFull == true}">
                        <span th:text="#{BPDetails.fullBuild.text}"></span>
                    </span>
                </dd>
                <dt th:text="#{BPDetails.category.text}">カテゴリー</dt>
                <dd th:text="${result.detailsView.ctgNm}">テスト</dd>
                <dt th:text="#{BPDetails.milestone.text}">マイルストーン</dt>
                <dd th:text="${result.detailsView.mstoneNm}">○○のバグ修正</dd>
            </dl>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.totalResources.text}">総資産数</span><span
                    class="helpBtn inline"><a th:href="#{BuildPackageDetails.help.url}"
                                              target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th th:text="#{BPDetails.tableChkOut.text}">貸出資産数</th>
                            <th
                                th:text="#{BPDetails.tableChkInChanged.text}">返却資産数（変更）</th>
                            <th
                                th:text="#{BPDetails.tableChkInRemoved.text}">返却資産数（削除）</th>
                            <th
                                th:text="#{BPDetails.tableChkInCreated.text}">返却資産数（新規）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td
                                th:text="${result.detailsView.totalResources.checkoutResources}">2</td>
                            <td
                                th:text="${result.detailsView.totalResources.changedResources}">2</td>
                            <td><span
                                th:text="#{BPDetails.ascii.text}">（資産）</span>
                                <span
                                th:text="${result.detailsView.totalResources.deletedAsciiResources}">1</span>
                                <br /> <span
                                th:text="#{BPDetails.binary.text}">>（バイナリ）</span>
                                <span
                                th:text="${result.detailsView.totalResources.deletedBinaryResources}">1</span>
                            </td>
                            <td
                                th:text="${result.detailsView.totalResources.addedResources}">2</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>
        <form id="JumpToChangePropertyDetails"
            th:action="@{/chgproperty/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer" value="BuildPackageDetails" />
            <input type="hidden" name="forward"
                value="ChangePropertyDetails" /> <input type="hidden"
                name="pjtId" value="" />
        </form>
        <form id="JumpToCheckinRequestDetails"
            th:action="@{/checkin/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer" value="BuildPackageDetails" />
            <input type="hidden" name="forward"
                value="CheckinRequestDetails" /> <input type="hidden"
                name="areqId" value="" />
        </form>
        
        <form id="JumpToRemovalRequestDetails"
            th:action="@{/removal/details}" method="POST">
           <input type="hidden" name="referer" value="BuildPackageDetails" />
           <input type="hidden" name="RequestType" value="init" />
           <input type="hidden" name="forward"
           value="RemovalRequestDetails" /> <input
           type="hidden" name="areqId" value="" />
                
        </form>
        
        <form id="BuildPackageDetailsService"
            th:action="@{/build/details}" method="POST"
            target="CloneWindow">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="bpId"
                th:value="${result.detailsView.bpId}" />
        </form>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.changeProperty.text}">変更管理情報</span>
                <span class="helpBtn inline"><a th:href="#{BuildPackageDetails.help.url}"
                                                target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <div id="changepropertyloop"
                th:each="CP : ${result.detailsView.changeProperties}">
                <span> <a href="javascript:void(0)"
                    class="underline"
                    th:onClick="'javascript:JumpToChangePropertyDetails(\''+${CP.pjtId}+'\');return false;'"
                    th:text="${CP.pjtId}">PJT-15110400011</a> （<span
                    th:text="#{BPDetails.referenceID.text}">変更要因番号</span>
                    <span th:text="${CP.referenceId}">RFC−00000000</span>）
                </span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th
                                th:text="#{BPDetails.tableRequestType.text}">申請区分</th>
                            <th
                                th:text="#{BPDetails.tableRequestID.text}">申請情報番号</th>
                            <th th:text="#{BPDetails.tableChkOut.text}">貸出資産数</th>
                            <th
                                th:text="#{BPDetails.tableChkInChanged.text}">返却資産数（変更）</th>
                            <th
                                th:text="#{BPDetails.tableChkInRemoved.text}">返却資産数（削除）</th>
                            <th
                                th:text="#{BPDetails.tableChkInCreated.text}">返却資産数（新規）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="request : ${CP.resources}">
                            <td class="labels"><span
                                class="label"
                                th:classappend="'kindLabel'+${request.areqType}"
                                th:text="#{Constant.requestType.__${request.areqType}__.text}">返却</span></td>
                            <td><a
                            	th:if="${request.isCheckinRequest()}"
                                href="CheckInRequestDetails.html"
                                class="underline"
                                th:onClick="'javascript:JumpToCheckinRequestDetails(\''+${request.areqId}+'\' );return false;'"
                                th:text="${request.areqId}">LND-15110400011</a>
                                <a
                            	th:if="${request.isRemovalRequest()}"
                                href="CheckInRequestDetails.html"
                                class="underline"
                                th:onClick="'javascript:JumpToRemovalRequestDetails(\''+${request.areqId}+'\');return false;'"
                                th:text="${request.areqId}">LND-15110400011</a>
                            </td>
                            <td th:text="${request.checkoutResources}">2</td>
                            <td th:text="${request.changedResources}">2</td>
                            <td
                                th:text="${request.deletedAsciiResources}">0</td>
                            <td th:text="${request.addedResources}">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.tableProcResult.text}">処理結果（概要）</span>
                <span class="helpBtn inline"><a th:href="#{BuildPackageDetails.help.url}"
                                                target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th
                                th:text="#{BPDetails.tableSequence.text}">処理順序</th>
                            <th
                                th:text="#{BPDetails.tableProcessName.text}">処理名</th>
                            <th th:text="#{BPDetails.tableResults.text}">処理結果</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="process : ${result.detailsView.processResults}">
                            <td th:text="${process.sequenceNo}">000100</td>
                            <td th:text="${process.processNm}">初期処理</td>
                            <th scope="row"><span
                                th:if="${process.active == true}">
                                    <i class="fa fa-check"></i>
                            </span> <span th:if="${process.completed == true}">
                                    <i class="fa fa-check"></i>
                            </span> <span th:if="${process.error == true}">
                                    <i class="fa fa-check"></i>
                            </span></th>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr th:remove="all">
                            <td>000800</td>
                            <td>アーカイブ</td>
                            <th scope="row"><i class="fa fa-check"></i></th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr th:remove="all">
                            <td>000900</td>
                            <td>終了処理</td>
                            <th scope="row"><i class="fa fa-check"></i></th>
                        </tr>
                    </tbody>
                </table>

            </form>
        </section>

        <section class="section sectionRadiusWidth" th:if="${result.header.selectedLot.enabled}">
            <nav class="sectionNav">
                <dl class="sectionNavRight">
                    <dd class="commentButtons">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowBuildPackageCancellationCommentService', 'cancellation');">
                            <span class="commentButtonWaiting"
                            id="cancellationCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{BPDetails.buttonCancelCreation.text}">取り消す</span>
                            <div class="fukidashiHeader"
                                id="cancellationFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                    </dd>
                </dl>
            </nav>
            <div id="replace_reason"></div>
        </section>
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">

	$(document).ready(function(){
		$('#FlowPrintBuildPackageService').submit(function() {
			var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
			this.target = 'Popup_Window';
		});
	});

	function printBuilcPackageDetails() {
		submit("FlowPrintBuildPackageService");
	}
	
	function JumpToChangePropertyDetails(pjtId) {
		form = document.getElementById('JumpToChangePropertyDetails');
		form.pjtId.value = pjtId;
		safeSubmit('JumpToChangePropertyDetails', {'validation':false});
		}; 
	function JumpToCheckinRequestDetails(areqId) {
		
				form = document.getElementById('JumpToCheckinRequestDetails');	
				form.areqId.value = areqId;
				safeSubmit('JumpToCheckinRequestDetails', {'validation':false});
		};
		
	function JumpToRemovalRequestDetails(areqId) {
			
			form = document.getElementById('JumpToRemovalRequestDetails');	
			form.areqId.value = areqId;
			safeSubmit('JumpToRemovalRequestDetails', {'validation':false});
	}; 	

	$(function() {
		$( "#tabs" ).tabs();
	});

	function ajax_create_report() {
        var timeout = null;
        var reportId = /*[[${result.detailsView.bpId}]]*/;
    	var form = document.getElementById('FlowReportCreation');
    	form.selectedId.value = reportId;
    	appendWindowId(form);
    	var url = $(form).attr("action");
    	
            $.post(url, $(form).serialize()).done(function(data, status, xhr) {
            	$("#infoDialog").html($(data).find("#infoDialog").html());
            	getTriLayer("flashMessage").show();
				$("#message").html($(data).find("#message").html());
				
				if ($(".errorMessage")[0] != null) {
					timeOut = setTimeout(function() {
						$("html, body").animate({scrollTop:$('#message').offset().top-$("nav#globalNav").height()});
						$(".sectionErrorMessage").show();
					}, 200);
				}
				
                }).fail(function(data, status, xhr) {
					console.log("ajax_create_report fail " + url)
                });
    }                 
            
        </script>
</body>
</html>