<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ChangeReqPendingApproval.title.text}"
    th:fragment="titleHtml">trinity | Change Request - Pending
    Approval - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header th:replace="common/Global::lot"></header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowChangeApprovalPendingDetailsService"
            th:action="@{/chgproperty/pending/details}" method="POST"
            target="CloneWindow">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId"
                th:value="${result.getParam().getSelectedPjtId()}" />
        </form>
        <form id="FlowRemovalRequestDetailsService"
            th:action="@{/removal/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="forward"
                value="RemovalRequestDetails" /> <input type="hidden"
                name="areqId" value="" />
        </form>
        <form id="FlowCheckoutRequestDetailsService"
            th:action="@{/checkout/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="CheckinOutRequestList" /> <input type="hidden"
                name="areqId" value="" />
        </form>
        <form id="FlowCheckinRequestDetailsService"
            th:action="@{/checkin/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="CheckinOutRequestList" /> <input type="hidden"
                name="areqId" value="" />
        </form>
        <form id="FlowChangeApprovalPendingReturnToSubmitterService"
            th:action="@{/chgproperty/pending/returnToSubmitter}"
            method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="areqId" value="" /> <input type="hidden"
                name="pjtId"
                th:value="${result.getParam().getSelectedPjtId()}" /> <input
                type="hidden" name="reason" value="" />
        </form>
        <form
            id="FlowChangeRequestApprovalPendingApprovalCommentService"
            method="POST"
            th:action="@{/chgproperty/pending/approve/validate}">
            <input type="hidden" name="RequestType" value="init" />
            <div th:each="res : ${result.approvalPendingRequestViews}"
                th:remove="tag">
                <input type="hidden" name="areqIds"
                    th:value="${res.areqId}" />
            </div>
        </form>
        <form id="FlowPrintChangeApprovalPendingDetailsService"
            th:action="@{/chgproperty/pending/details/print}"
            method="POST">
            <input type="hidden" name="pjtId"
                th:value="${result.getParam().getSelectedPjtId()}" />
        </form>
        <form
            id="FlowChangeApprovalPendingReturnToSubmitterCommentService"
            th:action="@{/chgproperty/pending/returnToSubmitter/validate}"
            method="POST">
            <input type="hidden" name="areqId" value="" />
        </form>



        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_request_info.png"
                    th:src="@{/resources/images/common/icon_request_info.png}"
                    alt="" />
                </span> <span th:text="#{ChangeReqPendingApproval.header.text}">変更承認の詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ChangeRequestApprovalPendingApprovalDetails.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowChangeApprovalPendingDetailsService\');return false;'"
                    th:text="#{ChangeReqPendingApproval.newWindow.text}">別ウインドウに複製</a></li>
                <li><i class="fa fa-print"></i> <a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printChangeApprovalPendingDetails();return false;'"
                    th:text="#{ChangeReqPendingApproval.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{ChangeReqPendingApproval.basicInfo.text}">基本情報</span>
                <span class="helpBtn inline"><a th:href="#{ChangeRequestApprovalPendingApprovalDetails.help.url}"
                                                target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>

            <dl class="dl-horizontal">
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.changeID.text}">変更管理番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.pjtId}">PJT-15110400011</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.referenceID.text}">変更要因番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.referenceId}">RFC-12345</span>&nbsp;
                    <span class="label"
                        th:classappend="'amStatus'+${result.detailsView.stsId}"
                        th:text="#{Constants.amStatus.__${result.detailsView.stsId}__.text}">変更進行中</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.referenceCategory.text}">変更要因分類</span>
                </dt>
                <dd>
                    <span th:text="#{Constants.referenceId.__${result.detailsView.referenceCategoryNm}__.text}">開発</span>
                </dd>
                <dt class="userLabel">
                    <span
                        th:text="#{ChangeReqPendingApproval.submitter.text}">申請者</span>
                </dt>
                <dd class="user">
                    <img
                        th:src="${result.detailsView.submitterIconPath}"
                        alt="Jim Cruz" class="userImg" /> <span
                        th:text="${result.detailsView.submitterNm}">Robinson</span>
                </dd>
                <dt class="userLabel">
                    <span
                        th:text="#{ChangeReqPendingApproval.assignee.text}">担当者</span>
                </dt>
                <dd class="user">
                    <img
                        th:if="not ${#strings.isEmpty(result.detailsView.assigneeIconPath)}"
                        th:src="${result.detailsView.assigneeIconPath}"
                        alt="Jim Cruz" class="userImg" /> <span
                        th:text="${result.detailsView.assigneeNm}">Robinson</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.submittedDate.text}">登録日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.createdTime}">2015/11/24</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.updated.text}">変更日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.updTime}">2015/11/24</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.subject.text}">変更概要</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.summary}">別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.contents.text}">変更内容</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.contents}">別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.categoryNm}">テスト</span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqPendingApproval.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                </dd>
            </dl>
        </section>

        <form id="FlowChangeRequestApprovalPendingApprovalService"
            th:action="@{/chgproperty/pending/approve}"
            method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="referer"
                value="ChangeRequestApprovalPendingApproval" /> <input
                type="hidden" name="forward" value="ChangeApprovedList" />
            <section class="section sectionRadius" id="result_list">
                <h2>
                    <span
                        th:text="#{ChangeReqPendingApproval.requestInfo.text}">申請情報</span>
                    <span class="helpBtn inline"><a th:href="#{ChangeRequestApprovalPendingApprovalDetails.help.url}"
                                                    target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <span
                    th:text="#{ChangeReqPendingApproval.currentRequest.text}">本申請での申請内容</span>
                <table class="table table-bordered" id="pending_table">
                    <thead>
                        <tr>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableRequestType.text}">申請区分</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableRequestID.text}">申請情報番号</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableSubject.text}">申請件名</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableRequestTime.text}">申請日時</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableSubmitter.text}">申請者</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.submitterGroup.text}">申請グループ</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableStatus.text}">ステータス</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.returnToSubmitter.text}">差し戻し</span></th>
                        </tr>
                    </thead>
                    <tbody
                        th:each="res : ${result.approvalPendingRequestViews}">
                        <tr th:id="${res.areqId}">
                            <input type="hidden" name="areqIds"
                                th:value="${res.areqId}" />
                            <td><span
                            class="label"
                            th:classappend="'kindLabel'+${res.areqType}"
                                th:text="#{Constant.requestType.__${res.areqType}__.text}"></span></td>
                            <td th:switch="${res.areqType.value()}">
                                <a th:case="'40'"
                                href="javascript:void(0);"
                                class="underline"
                                th:text="${res.areqId}"
                                th:onClick="'javascript:submitCheckoutRequestDetailsService(\''+${res.areqId}+'\');return false;'"><span
                                    th:text="${res.areqId}">LND-15110400011</span></a>
                                <a th:case="'50'"
                                href="javascript:void(0);"
                                class="underline"
                                th:text="${res.areqId}"
                                th:onClick="'javascript:submitCheckinRequestDetailsService(\''+${res.areqId}+'\');return false;'"><span
                                    th:text="${res.areqId}">LND-15110400011</span></a>
                                <a th:case="'60'"
                                href="javascript:void(0);"
                                class="underline"
                                th:text="${res.areqId}"
                                th:onClick="'javascript:submitRemovalRequestDetailsService(\''+${res.areqId}+'\');return false;'"><span
                                    th:text="${res.areqId}">LND-15110400011</span></a>
                            </td>
                            <td><span th:text="${res.subject}">バグ修正のため資産貸出</span></td>
                            <td><span th:text="${res.requestTime}">2015/11/12
                                    15:30</span></td>
                            <td class="user"><img
                                    th:src="${res.submitterIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${res.submitterNm}">Tommy
                                        Robinson</span></td>
                            <td><span th:text="${res.groupNm}">運用保守</span></td>
                            <td class="labels"><span class="label"
                                th:classappend="'amStatus'+${res.stsId}"
                                th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span></td>
                            <td class="btns"><a
                                href="javascript:void(0)"
                                class="retrunToSubmitterBtn"
                                th:attr="data-value=${res.areqId}"
                                th:onClick="'javascript:returnToSubmitter(\'' + ${res.areqId} + '\');return false;'">
                                    <span class="commentButtonWaiting"
                                    id="returnCommentButtonWaiting"
                                    style="display: none;"> </span> <img
                                    src="../../images/trinity/common/icon_remand.png"
                                    th:src="@{/resources/images/common/icon_remand.png}"
                                    alt="" class="" height="20px" />
                            </a></td>
                        </tr>
                    </tbody>
                </table>
                <br /> <span
                    th:text="#{ChangeReqPendingApproval.pastRequest.text}">過去に処理済みの申請内容</span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableRequestType.text}">申請区分</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableRequestID.text}">申請情報番号</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableSubject.text}">申請件名</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableRequestTime.text}">申請日時</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableSubmitter.text}">申請者</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.submitterGroup.text}">申請グループ</span></th>
                            <th><span
                                th:text="#{ChangeReqPendingApproval.tableStatus.text}">ステータス</span></th>
                        </tr>
                    </thead>
                    <tbody
                        th:each="res : ${result.approvedRequestViews}">
                        <tr>
                        	<td><span
                        		class="label"
                        		th:classappend="'kindLabel'+${res.areqType}"
                        		th:text="#{Constant.requestType.__${res.areqType}__.text}"></span></td>
                            <td th:switch="${res.areqType.value()}">
                                <a th:case="'40'"
                                href="javascript:void(0);"
                                class="underline"
                                th:text="${res.areqId}"
                                th:onClick="'javascript:submitCheckoutRequestDetailsService(\''+${res.areqId}+'\');return false;'"><span
                                    th:text="${res.areqId}">LND-15110400011</span></a>
                                <a th:case="'50'"
                                href="javascript:void(0);"
                                class="underline"
                                th:text="${res.areqId}"
                                th:onClick="'javascript:submitCheckinRequestDetailsService(\''+${res.areqId}+'\');return false;'"><span
                                    th:text="${res.areqId}">LND-15110400011</span></a>
                                <a th:case="'60'"
                                href="javascript:void(0);"
                                class="underline"
                                th:text="${res.areqId}"
                                th:onClick="'javascript:submitRemovalRequestDetailsService(\''+${res.areqId}+'\');return false;'"><span
                                    th:text="${res.areqId}">LND-15110400011</span></a>
                            </td>
                            <td><span th:text="${res.subject}">バグ修正のため資産貸出</span></td>
                            <td><span th:text="${res.requestTime}">2015/11/12
                                    15:30</span></td>
                            <td class="user"><img
                                    th:src="${res.submitterIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${res.submitterNm}">Tommy
                                        Robinson</span></td>
                            <td><span th:text="${res.groupNm}">運用保守</span></td>
                            <td class="labels"><span class="label"
                                th:classappend="'amStatus'+${res.stsId}"
                                th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span></td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <dl class="sectionNavRight">
                        <dt></dt>
                        <dd class="commentButtons">
                            <a href="javascript:void(0);"
                                class="btn btn-default strong"
                                onClick="approvalRequest();"
                                id="btnApprovalRequest">
                                <span class="commentButtonWaiting"
                                id="approvalCommentButtonWaiting"
                                style="display: none;"><i
                                    class="fa fa-circle-o-notch fa-spin"
                                    aria-hidden="true"></i></span> <span
                                th:text="#{ChangeReqPendingApproval.buttonApprove.text}">承認する</span>
                                <div class="fukidashiHeader"
                                    id="approvalFukidashiHeader"
                                    style="display: none;"></div>
                            </a>
                        </dd>
                    </dl>
                </nav>
                <div id="replace_reason"></div>
            </section>
        </form>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
	    $(document).ready(function(){
			$('#FlowPrintChangeApprovalPendingDetailsService').submit(function() {
	   			var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
	   			this.target = 'Popup_Window';
			});
			
			getTriLayer("flashMessage").show();
	        
		});
	
	    function printChangeApprovalPendingDetails() {
			submit("FlowPrintChangeApprovalPendingDetailsService");
	    }
	         
		function submitApprovalService(formId) {
			openBandPopup({
				message		:[[#{ChangeReqPendingApproval.confirmationApproval.text}]],
				btn1Text	:[[#{ChangeReqPendingApproval.yes.text}]],
				btn2Text	:[[#{ChangeReqPendingApproval.no.text}]],
				btn1Func	:function() {
								safeSubmit(formId);
							},
				btn2Func    :function() {
							},
			});
		}
	
		function ajaxReturnToSubmitter(){
			openBandPopup({
				message		:[[#{ChangeReqPendingApproval.confirmationReject.text}]],
				btn1Text	:[[#{ChangeReqPendingApproval.yes.text}]],
				btn2Text	:[[#{ChangeReqPendingApproval.no.text}]],
				btn1Func	:function() {
								safeSubmit('FlowChangeApprovalPendingReturnToSubmitterService', false);
							},
				btn2Func    :function() {
							},
			});
			
		}
		
		function returnToSubmitter(areqId) {
			formComment = document.getElementById('FlowChangeApprovalPendingReturnToSubmitterCommentService');
			formComment.areqId.value = areqId;
			
			form = document.getElementById('FlowChangeApprovalPendingReturnToSubmitterService');
			form.areqId.value = areqId;

			removeCommentContainer();
			removeApprovalCommentContainer();
			
        	var right = $("#pending_table td:last").width()/2 - 8;
        	var bottom_border = $( "#pending_table tr:last" ).attr('id') == areqId ? ' border-bottom-color: #fff; ' : '';
    	
        	var html = '<tr id="comment_container_temp">'
            	+ '<td colspan="8" style="border-left-color: #fff; border-right-color: #fff;'
            	+ bottom_border
                + 'padding: 0px 0px 10px 0px; background-color:white;color: inherit">'
    			+ '<div style="position:relative">'
    			+ '<div class="fukidashiHeader" style="right: '
    			+ right + 'px; top: -2px; display: none;" id="returnFukidashiHeader"></div></div>'
   				+ '<div id="replace_reason"></div></td></tr>'
   				+ '<tr id="comment_container_after"></tr>';

				$('#' + areqId).after(html);
	        	$('#replace_reason').click(function(event) {
	        		event.stopPropagation();
	        	});
			
			toggleComment('FlowChangeApprovalPendingReturnToSubmitterCommentService', 'return');
		}

		function approvalRequest() {
			removeCommentContainer();
			removeApprovalCommentContainer();
			
			addApprovalCommentContainer();
			toggleComment('FlowChangeRequestApprovalPendingApprovalCommentService', 'approval');
		}

		function removeApprovalCommentContainer() {
			$("#btnApprovalRequest").remove("#approvalFukidashiHeader");
			$("#replace_reason").remove();
		}

		function addApprovalCommentContainer() {
			var approvalFukidashiHeader = '<div class="fukidashiHeader" id="approvalFukidashiHeader" style="display: none;"></div>';
			var replace_comment = '<div id="replace_reason"></div>';
			$('#btnApprovalRequest').append(approvalFukidashiHeader);
			$('#btnApprovalRequest').closest( "nav" ).after(replace_comment);
			$('#replace_reason').click(function(event) {
	        	event.stopPropagation();
	        });
		}

		function submitRemovalRequestDetailsService(areqId){
			form = document.getElementById('FlowRemovalRequestDetailsService');
			form.areqId.value = areqId;
			safeSubmit('FlowRemovalRequestDetailsService', {'validation':false});
		}
		
		function submitCheckoutRequestDetailsService(areqId) {
			form = document.getElementById('FlowCheckoutRequestDetailsService');
			form.areqId.value = areqId;
			safeSubmit('FlowCheckoutRequestDetailsService', {'validation':false});
		}

		function submitCheckinRequestDetailsService(areqId) {
			form = document.getElementById('FlowCheckinRequestDetailsService');
			form.areqId.value = areqId;
			safeSubmit('FlowCheckinRequestDetailsService', {'validation':false});
		}
		/* ]]> */
		</script>
</body>
</html>
