<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<title th:fragment="titleHtml"
    th:text="#{ChangePropertyCreate.title.text}">trinity |
    Change Property - Create New</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="images/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="images/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="images/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="images/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="ThemeView.html">ロット設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotInfoView.html" class="select">ロット</a></li>
                <li><a href="AssetManagementList.html">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="LotInfoView.html">ロット情報</a></li>
                <li><a href="ChangeManagementList.html"
                    class="select">変更管理情報</a></li>
            </ul>
        </nav>
    </header>





    <!-- コンテンツ -->


    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_ChangeManegementInfomation_add.png"
                    th:src="@{/resources/images/common/icon_ChangeManegementInfomation_add.png}"
                    alt="" /></span> <span
                    th:text="#{ChangePropertyCreate.header.text}">変更管理情報の登録</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ChangePropertyCreation.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section sectionRadius">
            <h2 th:text="#{ChangePropertyCreate.titleBox.text}">
                基本情報<span class="helpBtn inline"><a th:href="#{ChangePropertyCreation.help.url}"
                                                    target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>

            <form id="FlowCategoryCreationService"
                th:action="@{/lot/settings/category/create}"
                method="POST">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="redirectUrl"
                    value="redirect:/chgproperty/create/refreshCategory" />
                <input type="hidden" name="categorySubject" value="" />
            </form>
            <form id="FlowMilestoneCreationService"
                th:action="@{/lot/settings/milestone/create}"
                method="POST">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="redirectUrl"
                    value="redirect:/chgproperty/create/refreshMilestone" />
                <input type="hidden" name="milestoneSubject" value="" />
            </form>
            <form class="form-horizontal"
                id="FlowChangePropertyCreationService"
                th:action="@{/chgproperty/create}" method="POST">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="ChangePropertyCreate" /> <input
                    type="hidden" name="forward"
                    value="ChangePropertyList" />

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{ChangePropertyCreate.referenceID.text}">変更要因番号</span></label>
                    <div class="col-sm-10">
                        <input type="text"
                            class="form-control validation"
                            id="referenceId" placeholder=""
                            name="referenceId"
                            th:value="${result.param.inputInfo.referenceId}"
                            maxlength="30" />
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ChangePropertyCreate.referenceID.text}">変更要因番号</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{ChangePropertyCreate.referenceCategory.text}">変更要因分類</span></label>
                    <div class="col-sm-10">
                        <select class="form-control validation"
                            id="referenceCategoryId"
                            name="referenceCategoryId">
                            <option value=""><span
                                    th:text="#{ChangePropertyCreate.pleaseSelect.text}">---Please
                                    Select---</span></option>
                            <option
                                th:each="res : ${result.param.inputInfo.referenceCategoryViews}"
                                th:text="#{Constants.referenceId.__${res.value}__.text}"
                                th:value="${res.value}"
                                th:selected="${res.value}== ${result.param.inputInfo.referenceCategoryId}"></option>
                        </select>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ChangePropertyCreate.referenceCategory.text}">変更要因分類</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{ChangePropertyCreate.summary.text}">変更概要</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control validation"
                            name="summary" id="summary" rows="3"
                            th:text="${result.param.inputInfo.summary}"></textarea>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ChangePropertyCreate.summary.text}">変更概要</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{ChangePropertyCreate.contents.text}">変更内容</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control validation"
                            name="contents" id="contents" rows="3"
                            th:text="${result.param.inputInfo.contents}"></textarea>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ChangePropertyCreate.contents.text}">変更内容</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                        th:text="#{ChangePropertyCreate.submitter.text}">申請者</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
	                        <div class="user">
	                            <img
	                                th:src="${result.detailsView.submitterIconPath}"
	                                alt="Jim Cruz" class="userImg" /> <span
	                                th:text="${result.detailsView.submitterNm}">Tommy
	                                Robinson</span>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                        th:text="#{ChangePropertyCreate.assignee.text}">担当者</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control" id="assigneeId"
                                name="assigneeId">
                                <option value=""><span
                                        th:text="#{ChangePropertyCreate.pleaseSelect.text}">---Please
                                        Select---</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.assigneeViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}== ${result.param.inputInfo.assigneeId}"></option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                        th:text="#{ChangePropertyCreate.category.text}">カテゴリー</label>
                    <div class="col-sm-10  form-inline">
                        <div class="input-group">
                            <select class="form-control" id="ctgId"
                                name="ctgId">
                                <option value=""><span
                                        th:text="#{ChangePropertyCreate.pleaseSelect.text}">---Please
                                        Select---</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.categoryViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.param.inputInfo.ctgId}">
                                </option>
                            </select>
                            <div class="input-group-btn"
                                id="addCategory">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>

                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader"
                                            th:text="#{ChangePropertyCreate.addCategory.text}">カテゴリーを追加します</h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="categorySubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addCategory('FlowChangePropertyCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="ctgButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{ChangePropertyCreate.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="categoryList">
                                                <dt>
                                                    <span
                                                        th:text="#{ChangePropertyCreate.descCategory.text}">登録済み</span>
                                                </dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.categoryViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>

                                    </div> </span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                        th:text="#{ChangePropertyCreate.milestone.text}">マイルストーン</label>
                    <div class="col-sm-10 form-inline">
                        <div class="input-group">
                            <select class="form-control" id="mstoneId"
                                name="mstoneId">
                                <option value=""><span
                                        th:text="#{ChangePropertyCreate.pleaseSelect.text}">---Please
                                        Select---</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}== ${result.param.inputInfo.mstoneId}"></option>
                            </select>
                            <div class="input-group-btn"
                                id="addMilestone">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>

                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader"
                                            th:text="#{ChangePropertyCreate.addMilestone.text}">マイルストーンを追加します</h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="milestoneSubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addMilestone('FlowChangePropertyCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="mstoneButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{ChangePropertyCreate.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="mstoneList">
                                                <dt>
                                                    <span
                                                        th:text="#{ChangePropertyCreate.descCategory.text}">登録済み</span>
                                                </dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>

                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <ul class="sectionNavRight">
                    <li><a href="javascript:void(0);"
                        class="btn btn-default strong"
                        th:text="#{ChangePropertyCreate.submit.text}"
                        onClick="safeSubmit('FlowChangePropertyCreationService',{'validation':true}); return false;">登録する</a></li>
                </ul>
            </nav>
        </section>
    </article>



    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	/* ]]> */
	</script>
</body>
</html>
