<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml"
    th:text="#{ChangeReqApprovalList.title.text}">trinity |
    Resource Change - View Approval List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/jquery-ui.css"
    th:href="@{/resources/css/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html"
                    class="select">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowChangeApprovedDetailsService"
            th:action="@{/chgproperty/approved/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="ChangeApprovedDetails" /> <input type="hidden"
                name="forward" value="ChangeApprovedDetails" /> <input
                type="hidden" name="pjtId" value="" />
        </form>
        <form th:action="@{/chgproperty/pending/export/file}"
            method="post" id="downloadPendingFile">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="table" /> <input type="hidden" name="submitOption" />
        </form>
        <form th:action="@{/chgproperty/approved/export/file}"
            method="post" id="downloadApprovedFile">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="table" /> <input type="hidden" name="submitOption" />
        </form>
        <form id="FlowChangeApprovalPendingDetailsService"
            th:action="@{/chgproperty/pending/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="ChangeApprovalPendingDetails" /> <input
                type="hidden" name="forward"
                value="ChangeApprovalPendingDetails" /> <input
                type="hidden" name="pjtId" value="" />
        </form>
        <form id="FlowCheckinOutRequestOverviewService"
            th:action="@{/checkinout/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId" value="" />
        </form>
        <form id="FlowPrintChangeApprovalPendingListService"
            th:action="@{/chgproperty/pending/list/print}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden"
                name="pending_condCategory"
                th:value="${result.param.searchCondition.ctgId}" /> <input
                type="hidden"
                name="pending_condMilestone"
                th:value="${result.param.searchCondition.mstoneId}" />
            <input type="hidden"
                name="pending_searchKeyword"
                th:value="${result.param.searchCondition.keyword}" />
        </form>
        <form id="FlowPrintChangeApprovedListService"
            th:action="@{/chgproperty/approved/list/print}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden"
                name="approved_condCategory"
                th:value="${result.param.searchCondition.ctgId}" /> <input
                type="hidden"
                name="approved_condMilestone"
                th:value="${result.param.searchCondition.mstoneId}" />
            <input type="hidden"
                name="approved_searchKeyword"
                th:value="${result.param.searchCondition.keyword}" />
        </form>
        <form
            id="FlowChangeRequestApprovalPendingMultipleApprovalComment"
            th:action="@{/chgproperty/pending/multipleapproval/validate}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" />
            <div th:each="res : ${result.changePropertyViews}"
                th:if="${tabName == 'Pending'}" th:remove="tag">
                <div th:each="areq : ${res.areqViews}"
                    th:name="${res.pjtId}">
                    <input type="hidden" name="selectedAreqIds"
                        th:value="${areq.areqId}" />
                </div>
            </div>
        </form>

        <section style="display: none">
            <table class="table tableSearchResults table-bordered"
                id="issues_table" th:fragment="resultTable">
                <thead>
                    <tr>

                        <th><span
                            th:text="#{ChangeReqApprovalList.changeID.text}">変更管理番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.referenceID.text}">変更要因番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.requestType.text}">申請区分</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.requestID.text}">申請情報番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.submitter.text}">申請者</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.assignee.text}">担当者</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.submittedDate.text}">申請日</span></th>
                    </tr>
                </thead>

                <tbody th:each="res : ${result.changePropertyViews}">
                    <tr th:each="areq,rowStat : ${res.areqViews}"
                        th:id="${areq.areqId}">
                        <td th:text="${res.pjtId}"></td>
                        <td th:text="${res.referenceId}"></td>
                        <td th:text="${areq.areqType}"></td>
                        <td th:text="${areq.areqId}"></td>
                        <td th:text="${areq.submitterNm}"></td>
                        <td th:text="${areq.assigneeNm}"></td>
                        <td th:text="${areq.requestDate}"></td>

                    </tr>
                </tbody>
            </table>

            <table class="table tableSearchResults table-bordered"
                id=" issues_tableresultApprovedTable"
                th:fragment="resultApprovedTable">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{ChangeReqApprovalList.changeID.text}">変更管理番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.referenceID.text}">変更要因番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.requestType.text}">申請区分</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.requestID.text}">申請情報番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.submitter.text}">申請者</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.assignee.text}">担当者</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.submittedDate.text}">申請日</span></th>
                        <th><span
                            th:text="#{ChangeReqApprovalList.tableStatus.text}">ステータス</span></th>

                    </tr>
                </thead>

                <tbody th:each="res : ${result.changePropertyViews}">
                    <tr th:each="areq,rowStat : ${res.areqViews}"
                        th:id="${areq.areqId}">
                        <td th:text="${res.pjtId}"></td>
                        <td th:text="${res.referenceId}"></td>
                        <td th:text="${areq.areqType}"></td>
                        <td th:text="${areq.areqId}"></td>
                        <td th:text="${areq.submitterNm}"></td>
                        <td th:text="${areq.assigneeNm}"></td>
                        <td th:text="${areq.requestDate}"></td>
                        <td
                            th:text="#{Constants.amStatus.__${areq.stsId}__.text}"></td>
                    </tr>
                </tbody>

            </table>
        </section>
        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_stamp.png"
                    th:src="@{/resources/images/common/icon_stamp.png}"
                    alt="" />
                </span><span th:text="#{ChangeReqApprovalList.header.text}">変更承認の一覧</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ChangeRequestApprovalList.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>>
            </div>
            <ul class="contentsHeaderMenu" id="exportPending">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv');return false;"><span
                        th:text="#{ChangeReqApprovalList.csv.text}">CSV</span></a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls');return false;"><span
                        th:text="#{ChangeReqApprovalList.excel.text}">Excel</span></a></li>
                <li><i class="fa fa-print"></i> <a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printChangeApprovalPendingList();return false;'">
                        <span
                        th:text="#{ChangeReqApprovalList.print.text}">印刷用ページ</span>
                </a></li>
            </ul>

            <ul class="contentsHeaderMenu" id="exportApproved"
                style="display: none;">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportApprovedToFile('csv');return false;"><span
                        th:text="#{ChangeReqApprovalList.csv.text}">CSV</span></a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportApprovedToFile('xls');return false;"><span
                        th:text="#{ChangeReqApprovalList.excel.text}">Excel</span></a></li>
                <li><i class="fa fa-print"></i><a href="javascript:void(0)"
                	th:onClick="'javascript:printChangeApprovedList(); return false;'"><span
                        th:text="#{ChangeReqApprovalList.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>
        <!-- #tabs-1承認待ち / #tabs-2承認済み　共通の検索条件 -->
        <div class="modal fade saveFilterDialog" tabindex="-1"
            role="dialog" id="saveFilterDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchFilter.saveFilterTitle.text}">検索フィルタ</h4>
                    </div>
                    <form class="form-horizontal searchFilterForm">
                        <div class="modal-body">
                            <div
                                class="modal-error searchFilterNameError"
                                style="display: none;"
                                th:text="#{SearchFilter.saveFilterError.text}">フィルタ名を入力してください</div>
                            <div class="form-group">
                                <label for="searchFilterName"
                                    class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterName.text}">フィルタ名</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control input-sm searchFilterName"
                                        id="searchFilterName"
                                        placeholder="" />
                                </div>
                            </div>

                            <div class="form-group"
                                style="min-height: 100px;">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterCond.text}">検索条件</label>
                                <div class="col-sm-10">
                                    <table class="searchQueryInfoTable">
                                        <thead>
                                            <tr>
                                                <td
                                                    style="min-width: 100px;"></td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody
                                            id="searchQueryInfoTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <input type="submit"
                                class="btn btn-default btn-xs"
                                value="検索条件を保存"
                                th:value="#{SearchFilter.saveFilterSubmit.text}"
                                id="save-search-filter-btn" />
                            <!-- 									th:onClick="'saveSearchFilter( \'' + @{/chgproperty/approved/filter/save} + '\' ); return false;'" /> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <section class="section searchSection"
            id="pending_searchCondition">

            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{ChangeReqApprovalList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"> <span
                            th:text="#{ChangeReqApprovalList.saveSearchFilter.text}">検索条件を保存</span></a>
                    </li>
                </ul>
            </div>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table>
                        <tr>
                            <th><span
                                th:text="#{ChangePropertyList.condCategory.text}">カテゴリー</span></th>
                            <td><ul class="searchPendingCond"
                                    id="pending_condCategory">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchPendingCondItem select"
                                        data-key="pending_condCategory"
                                        data-value=""><span
                                            th:text="#{ChangePropertyList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.ctgViews}">
                                        <a href="javascript:void(0);"
                                        class="searchPendingCondItem"
                                        data-key="pending_condCategory"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">カテゴリー名</span></a>
                                    </li>
                                </ul></td>
                        </tr>
                        <tr>
                            <th><span
                                th:text="#{ChangePropertyList.condMilestone.text}">マイルストーン</span></th>
                            <td><ul class="searchPendingCond"
                                    id="pending_condMilestone">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchPendingCondItem select"
                                        data-key="pending_condMilestone"
                                        data-value=""><span
                                            th:text="#{ChangePropertyList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchPendingCondItem"
                                        data-key="pending_condMilestone"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">マイルストーン名</span></a>
                                    </li>
                                </ul></td>
                        </tr>
                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{ChangeReqApprovalList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">
                                <form
                                    id="FlowChangeApprovalPendingListService"
                                    th:action="@{/chgproperty/pending/search}"
                                    method="POST">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="onChange" />
                                    <input
                                        type="hidden" name="serviceId"
                                        value="" />
                                    <input type="hidden" name="pending" value="true" />
                                    <input
                                        type="hidden"
                                        name="pending_condCategory"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden"
                                        name="pending_condMilestone"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden"
                                        name="pending_selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                id="pending_searchKeyword"
                                                name="pending_searchKeyword"
                                                th:value="${result.param.searchCondition.keyword}"
                                                th:placeholder="#{ChangeReqApprovalList.keyword.text}" />
                                        </dt>
                                        <dd>
                                            <input
                                                id="pending-btn-searching"
                                                class="btn btn-default"
                                                type="hidden"
                                                th:value="#{ChangeReqApprovalList.seaching.text}"
                                                disabled="disabled" />
                                            <input
                                                id="pending-btn-search"
                                                class="btn btn-default"
                                                type="button"
                                                th:value="#{ChangeReqApprovalList.search.text}" />
                                        </dd>
                                    </dl>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="section searchSection"
            id="approved_searchCondition" style="display: none;">

            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{ChangeReqApprovalList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"> <span
                            th:text="#{ChangeReqApprovalList.saveSearchFilter.text}">検索条件を保存</span></a>
                    </li>
                </ul>
            </div>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table style="min-width: 550px;">
                        <tr>
                            <th><span
                                th:text="#{ChangePropertyList.condCategory.text}">カテゴリー</span></th>
                            <td><ul class="searchApprovedCond">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchApprovedCondItem select"
                                        data-key="approved_condCategory"
                                        data-value=""><span
                                            th:text="#{ChangePropertyList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.ctgViews}">
                                        <a href="javascript:void(0);"
                                        class="searchApprovedCondItem"
                                        data-key="approved_condCategory"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">カテゴリー名</span></a>
                                    </li>
                                </ul></td>
                        </tr>
                        <tr>
                            <th><span
                                th:text="#{ChangePropertyList.condMilestone.text}">マイルストーン</span></th>
                            <td><ul class="searchApprovedCond">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchApprovedCondItem select"
                                        data-key="approved_condMilestone"
                                        data-value=""><span
                                            th:text="#{ChangePropertyList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchApprovedCondItem"
                                        data-key="approved_condMilestone"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">マイルストーン名</span></a>
                                    </li>
                                </ul></td>
                        </tr>
                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{ChangeReqApprovalList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">
                                <form id="FlowChangeApprovedListService"
                                    th:action="@{/chgproperty/approved}"
                                    method="POST">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="init" />
                                    <input type="hidden" name="approved" value="true" />
                                    <input
                                        type="hidden"
                                        id="approved_condCategory"
                                        name="approved_condCategory"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden"
                                        id="approved_condMilestone"
                                        name="approved_condMilestone"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden"
                                        id="approved_selectedPageNo"
                                        name="approved_selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                id="approved_searchKeyword"
                                                name="approved_searchKeyword"
                                                th:value="${result.param.searchCondition.keyword}"
                                                th:placeholder="#{ChangeReqApprovalList.keyword.text}" />
                                        </dt>
                                        <dd>
                                            <input
                                                id="approved-btn-searching"
                                                class="btn btn-default"
                                                type="hidden"
                                                th:value="#{ChangeReqApprovalList.seaching.text}"
                                                disabled="disabled" />
                                            <input
                                                id="approved-btn-search"
                                                class="btn btn-default"
                                                type="button"
                                                th:value="#{ChangeReqApprovalList.search.text}" />
                                        </dd>
                                    </dl>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="section tableSection">
            <div id="tabs">
                <nav class="sectionNav sectionNavTab">
                    <dl class="sectionNavPager">
                        <ul>
                            <li><a href="#tabs-1" 
                                id="pendingTab"><span
                                    th:text="#{ChangeReqApprovalList.pending.text}">承認待ち</span></a></li>
                            <li><a href="#tabs-2" 
                                id="approvedTab"><span
                                    th:text="#{ChangeReqApprovalList.approved.text}">承認済み</span></a></li>
                        </ul>
                    </dl>
                </nav>

                <div id="tabs-1">
                    <form
                        id="FlowChangeRequestApprovalPendingMultipleApproval"
                        th:action="@{/chgproperty/pending/multipleapproval}"
                        method="POST">
                        <input type="hidden" name="RequestType"
                            value="submitChanges" />
                        <nav class="sectionNav pendingPage"
                            id="pendingPageTop">
                            <dl class="sectionNavPager">
                                <div th:replace="common/Pagination::Top"></div>
                            </dl>
                        </nav>
                        <table class="table table-bordered "
                            id="pendingResultList">
                            <thead>
                                <tr>
                                    <th class="checkboxHead" th:if="${result.header.selectedLot.enabled}"><input
                                        class="allCheck" type="checkbox"/></th>
                                    <th><span
                                        th:text="#{ChangeReqApprovalList.changeID.text}">変更管理番号</span></th>
                                    <th><span
                                        th:text="#{ChangeReqApprovalList.referenceID.text}">変更要因番号</span></th>
                                    <th><span
                                        th:text="#{ChangeReqApprovalList.requestType.text}">申請区分</span></th>
                                    <th><span
                                        th:text="#{ChangeReqApprovalList.requestID.text}">申請情報番号</span></th>
                                    <th><span
                                        th:text="#{ChangeReqApprovalList.submitter.text}">申請者</span></th>
                                    <th><span
                                        th:text="#{ChangeReqApprovalList.assignee.text}">担当者</span></th>
                                    <th><span
                                        th:text="#{ChangeReqApprovalList.submittedDate.text}">申請日</span></th>
                                </tr>
                            </thead>

                            <tbody
                                th:each="res : ${result.changePropertyViews}"
                                th:id="${res.pjtId}"
                                class="multirows changePropertyView"
                                th:if="${tabName == 'Pending'}">
                                <tr
                                    th:each="areq,rowStat : ${res.areqViews}"
                                    th:id="${areq.areqId}">
                                    <td scope="row"
                                        th:rowspan="${#lists.size(res.areqViews)}"
                                        th:if="${rowStat.index == 0 and result.header.selectedLot.enabled}">
                                        <input
                                        class="selectedIdCheckBox"
                                        type="checkbox"
                                        name="selectedPjtIds"
                                        th:value="${res.pjtId}"
                                        th:checked="${res.selected}" 
                                        onchange="disableEnableButton()" />
                                    </td>
                                    <td scope="row"
                                        th:rowspan="${#lists.size(res.areqViews)}"
                                        th:if="${rowStat.index == 0}">
                                        <a href="javascript:void(0)"
                                        th:text="${res.pjtId}"
                                        th:onClick="'javascript:submitPendingDetailsService(\''+${res.pjtId}+ '\' );return false;'"></a>
                                        <a href="javascript:void(0);" 
	                                    	th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${res.pjtId} + '\'}); return false;'">
	                                        <i class="fa fa-clone"></i>
	                                	</a>
                                    </td>
                                    <td
                                        th:rowspan="${#lists.size(res.areqViews)}"
                                        th:if="${rowStat.index == 0}">
                                        <span
                                        th:text="${res.referenceId}"></span>
                                    </td>
                                    <td class="labels"><span
                                    class="label"
                                    th:classappend="'kindLabel'+${areq.areqType}"
                                        th:text="#{ChangeReqApprovalList.requestType.__${areq.areqType}__.text}"></span></td>
                                    <td><span
                                        th:text="${areq.areqId}"
                                        class="checkinoutOverview"
                                        th:attr="requestType=${areq.isCheckinRequest() ? 'checkin' : 'removal'}"></span><span
                                        class="overviewPopup"></span></td>
                                    <td class="user"><img
                                        th:src="${areq.submitterIconPath}"
                                        alt="Jim Cruz" class="userImg" />
                                        <span
                                        th:text="${areq.submitterNm}"></span>
                                    </td>
                                    <td class="user"><img
                                        th:if="not ${#strings.isEmpty(areq.assigneeIconPath)}"
                                        th:src="${areq.assigneeIconPath}"
                                        alt="Jim Cruz" class="userImg" />
                                        <span
                                        th:text="${areq.assigneeNm}"></span>
                                    </td>
                                    <td><span
                                        th:text="${areq.requestDate}"></span></td>
                                    <input class="selectedAreqIds"
                                        type="hidden"
                                        name="selectedAreqIds"
                                        th:value="${areq.areqId}" />
                                </tr>
                            </tbody>
                        </table>
                        
                        <div
			                th:style="${result.changePropertyViews.size()}== 0 ? 'display:block;' : 'display:none;'"
			                class="emptySearchResults" id="emptyResultsPendingMessage">
			                <i class="fa fa-warning"></i> <span
			                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
			            </div>

                        <nav class="sectionNav pendingPage"
                            id="pendingPageBottom">
                            <dl class="sectionNavPager">
                                <div
                                    th:replace="common/Pagination::Bottom"></div>
                            </dl>

                            <nav class="sectionNav" th:if="${result.header.selectedLot.enabled}">
                                <dl class="sectionNavRight" id="actions" th:style="not ${#lists.isEmpty(result.changePropertyViews)} ? 'display:block;' : 'display:none;'">
                                    <dt>
                                        <span
                                            th:text="#{ChangeReqApprovalList.thisChangeRequest.text}">チェックした変更承認を</span>
                                    </dt>
                                    <dd class="commentButtons">
                                        <a href="javascript:void(0)"
                                            class="btn btn-default strong"
                                            onClick="checkSelectedPjt(); toggleComment('FlowChangeRequestApprovalPendingMultipleApprovalComment', 'approval');">
                                            <span
                                            class="commentButtonWaiting"
                                            id="approvalCommentButtonWaiting"
                                            style="display: none;"><i
                                                class="fa fa-circle-o-notch fa-spin"
                                                aria-hidden="true"></i></span>
                                            <span
                                            th:text="#{ChangeReqApprovalList.bulkApprove.text}">一括承認する</span>
                                            <div class="fukidashiHeader"
                                                id="approvalFukidashiHeader"
                                                style="display: none;"></div>
                                        </a>
                                    </dd>
                                </dl>
                            </nav>
                            <div id="replace_reason"></div>
                        </nav>
                    </form>
                </div>

                <div id="tabs-2">
                    <nav class="sectionNav approvedPage"
                        id="approvedPageTop">
                        <dl class="sectionNavPager">
                            <div th:replace="common/Pagination::Top"></div>
                        </dl>
                    </nav>
                    <table class="table table-bordered"
                        id="approvedResultList">
                        <thead>
                            <tr>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.changeID.text}">変更管理番号</span></th>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.referenceID.text}">変更要因番号</span></th>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.requestType.text}">申請区分</span></th>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.requestID.text}">申請情報番号</span></th>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.submitter.text}">申請者</span></th>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.assignee.text}">担当者</span></th>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.submittedDate.text}">申請日</span></th>
                                <th><span
                                    th:text="#{ChangeReqApprovalList.tableStatus.text}">ステータス</span></th>

                            </tr>
                        </thead>

                        <tbody
                            th:each="res : ${result.changePropertyViews}"
                            th:id="${res.pjtId}"
                            class="multirows changePropertyView"
                            th:if="${tabName == 'Approved'}">
                            <tr
                                th:each="areq,rowStat : ${res.areqViews}"
                                th:id="${areq.areqId}">
                                <td scope="row"
                                    th:rowspan="${#lists.size(res.areqViews)}"
                                    th:if="${rowStat.index == 0}">
                                    <a href="javascript:void(0)"
                                    th:text="${res.pjtId}"
                                    th:onClick="'javascript:submitApprovedDetailsService(\'' + ${res.pjtId} + '\');return false;'"></a>
                                    <a href="javascript:void(0);" 
	                                   	th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${res.pjtId} + '\'}); return false;'">
	                                	<i class="fa fa-clone"></i>
	                               	</a>
                                </td>
                                <td
                                    th:rowspan="${#lists.size(res.areqViews)}"
                                    th:if="${rowStat.index == 0}">
                                    <span th:text="${res.referenceId}"></span>
                                </td>
                                <td class="labels"><span
                                class="label"
                                th:classappend="'kindLabel'+${areq.areqType}"
                                    th:text="#{ChangeReqApprovalList.requestType.__${areq.areqType}__.text}"></span></td>
                                <td><span th:text="${areq.areqId}"
                                    class="checkinoutOverview"></span><span
                                    class="overviewPopup"></span></td>
                                <td class="user"><img
                                    th:src="${areq.submitterIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${areq.submitterNm}"></span>
                                </td>
                                <td class="user"><img
                                    th:if="not ${#strings.isEmpty(areq.assigneeIconPath)}"
                                    th:src="${areq.assigneeIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${areq.assigneeNm}"></span>
                                </td>
                                <td><span
                                    th:text="${areq.requestDate}"></span></td>
                                <td class="labels"><span
                                    class="label"
                                    th:classappend="'amStatus'+${areq.stsId}"
                                    th:text="#{Constants.amStatus.__${areq.stsId}__.text}"></span></td>
                            </tr>
                        </tbody>

                    </table>
                    
                    <div
		                th:style="${result.changePropertyViews.size()}== 0 ? 'display:block;' : 'display:none;'"
		                class="emptySearchResults" id="emptyResultsApprovedMessage">
		                <i class="fa fa-warning"></i> <span
		                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
		            </div>
                   

                    <nav class="sectionNav" id="approvedPageBottom">
                        <dl class="sectionNavPager approvedPage">
                            <div th:replace="common/Pagination::Bottom"></div>
                        </dl>
                    </nav>
                </div>
            </div>

        </section>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
		function submitMultipleApprovalService(formId) {
			openBandPopup({
				message		:[[#{ChangeReqApprovalList.confirmationMultipleApproval.text}]],
				btn1Text	:[[#{ChangeReqApprovalList.yes.text}]],
				btn2Text	:[[#{ChangeReqApprovalList.no.text}]],
				btn1Func	:function() {
								safeSubmit(formId);
							},
				btn2Func    :function() {
							},
			});
		}
		
            var formId = 'FlowChangeApprovalPendingListService';
    	

            function submitPendingDetailsService(pjtId) {
				form = document.getElementById('FlowChangeApprovalPendingDetailsService');
				form.pjtId.value = pjtId;
				safeSubmit('FlowChangeApprovalPendingDetailsService', {'validation':false});	
            }
            
            function submitApprovedDetailsService(pjtId) {
				form = document.getElementById('FlowChangeApprovedDetailsService');
				form.pjtId.value = pjtId;
				safeSubmit('FlowChangeApprovedDetailsService', {'validation':false});	
            }
            
          	//send ajax
    		function ajaxPendingSearch( key, val ){
    			var resultTable = 'pendingResultList';
        		
    			if(key) {
    				getTriLayer("mask").startWaiting(resultTable);
				}
        		
    			var timeOut = null;
    			var url = /*[[ @{/chgproperty/pending/search} ]]*/'/chgproperty/pending/search';
    			form = document.getElementById('FlowChangeApprovalPendingListService');
    		
    			//debug
    			console.log($('form[id="FlowChangeApprovalPendingListService"]').serialize());
    			
    			$('#FlowChangeApprovalPendingListService input[name="'+key+'"]').val( val );
    			updateSearchFilterQuery(formId);
    			
    			//send
    			timeOut = setTimeout(function() {
    				 $.post(url, serializeWindowId('FlowChangeApprovalPendingListService')).done(
    					function(data, status, xhr) {
    						getTriLayer("mask").endWaiting(resultTable);
    						
    						$("#pendingResultList").html($(data).find("#pendingResultList").html());
    						$("#pendingPageTop #pageTop").html($(data).find("#pendingPageTop #pageTop").html());
    						$("#pendingPageBottom #pageBottom").html($(data).find("#pendingPageBottom #pageBottom").html());
    						$("#FlowChangeApprovalPendingListService").html($(data).find("#FlowChangeApprovalPendingListService").html());
    						$("#emptyResultsPendingMessage").replaceWith($(data).find("#emptyResultsPendingMessage"));
    						$("#actions").replaceWith($(data).find("#actions"));
    						
    						$("#message").html($(data).find("#message").html());

        				}).fail(function(XMLHttpRequest, status, errorThrown) {
        					getTriLayer("mask").endWaiting(resultTable);
    						console.log("fail");
    					});
    					
    			 }, 500);
    			updateSearchConditionView(formId);

    		}
          	
          	//send ajax
    		function ajaxApprovedSearch( key, val ){
    			var resultTable = 'approvedResultList';
    			if(key) {
    				getTriLayer("mask").startWaiting(resultTable);
				}

    			var timeOut = null;
    			var url = /*[[ @{/chgproperty/approved} ]]*/'/chgproperty/approved/';
    			form = document.getElementById('FlowChangeApprovedListService');
    			//debug
    			console.log($('form[id="FlowChangeApprovedListService"]').serialize());
    			
    			$('#FlowChangeApprovedListService input[name="'+key+'"]').val( val );
    			updateSearchFilterQuery(formId);
    			
    			//send
    			timeOut = setTimeout(function() {
    				 $.post(url, serializeWindowId('FlowChangeApprovedListService')).done(
    					function(data, status, xhr) {
    						getTriLayer("mask").endWaiting(resultTable);
        					
    						$("#approvedResultList").html($(data).find("#approvedResultList").html());
    						$("#approvedPageTop #pageTop").html($(data).find("#approvedPageTop #pageTop").html());
							$("#resultApprovedTable").html($(data).find("#resultApprovedTable").html());
    						$("#approvedPageBottom #pageBottom").html($(data).find("#approvedPageBottom #pageBottom").html());
    						$("#FlowChangeApprovedListService").html($(data).find("#FlowChangeApprovedListService").html());
    						$("#emptyResultsApprovedMessage").replaceWith($(data).find("#emptyResultsApprovedMessage"));
    						$("#message").html($(data).find("#message").html());
    					}).fail(function(XMLHttpRequest, status, errorThrown) {
    						getTriLayer("mask").endWaiting(resultTable);
    						console.log("fail");
    					});
    					
    			 }, 500);
    			updateSearchConditionView(formId);

    		}
          	
    		$("#pendingTab").on("click",function(){
    			$("#approved_searchCondition").css("display","none");
    			$("#pending_searchCondition").css("display","block");
				$("#exportApproved").css("display","none");
				$("#exportPending").css("display","block");
    			ajaxPendingSearch();
    			formId = 'FlowChangeApprovalPendingListService';
    			updateSearchFilterQuery(formId);
    			updateSearchConditionView(formId);
    		});
    		
    		$("#approvedTab").on("click",function(){
    			$("#pending_searchCondition").css("display","none");
    			$("#approved_searchCondition").css("display","block");
				$("#exportApproved").css("display","block");
				$("#exportPending").css("display","none");
    			ajaxApprovedSearch();
    			formId = 'FlowChangeApprovedListService';
    			updateSearchFilterQuery(formId);
    			updateSearchConditionView(formId);
    		});
    		
    		//block "enterkey" keypress in input form (searchKeyword)
    		$(document).on("keypress", "input#pending_searchKeyword", function(event) {
    			return event.which !== 13;
    		});

    		$(document).on("keypress", "input#approved_searchKeyword", function(event) {
    			return event.which !== 13;
    		});
    		
    		$(document).on("click", ".pageNavi", function(){
    			var val = $(this).attr("data-pageNum");
    			var pageId = $(this).parents("nav:first").attr("id");
    			if (pageId == 'pendingPageTop'
    				|| pageId == 'pendingPageBottom') {
    				ajaxPendingSearch("pending_selectedPageNo",val);
    			} else if (pageId == 'approvedPageTop'
    				|| pageId == 'approvedPageBottom') {
    				setParamsToForm("FlowChangeApprovedListService", {"RequestType" : "onChange"});
    				ajaxApprovedSearch("approved_selectedPageNo", val);
    			}
    			
    		});
    		
    		function checkinoutOverviewPopup(areqId,selector){
    	        var timeOut = null;
    	        var url =  /*[[ @{/checkinout/overview} ]]*/'/checkinout/overview';
    	        if('removal' == selector.getAttribute("requesttype")) {
    	        	url =  /*[[ @{/removal/overview} ]]*/'/removal/overview';
            	}
            	
    			form = document.getElementById('FlowCheckinOutRequestOverviewService');
    			form.areqId.value = areqId;

    	        timeOut = setTimeout(function() {
    	            $.post(url, serializeWindowId('FlowCheckinOutRequestOverviewService')).done(
    					function(data, status, xhr) {  

    						$("#message").html($(data).find("#message").html());  
    						$(selector).parents("td").find(".overviewPopup").html($(data).html());
    						$(selector).parents("td").find(".popupWindow").fadeIn(300);
    						
    					}).fail(function(XMLHttpRequest, status, errorThrown) {
    				});
    			},200);
    		}
			
    		$(document).on("click", ".searchPendingCondItem", function(){
    			//switch button
    			$("#pending-btn-search").attr("type","hidden");
    			$("#pending-btn-searching").attr("type","button");

    			//change selected label
    			var obj = $(this).parents(".searchPendingCond").children("li").children("a.select");
    			obj.removeClass("select");
    			$(this).addClass("select");
    		
    			//collection
    			var key = $(this).attr("data-key");
    			var val = $(this).attr("data-value");
    			$('input[name='+key+']').val(val);

    			//do search
    			ajaxPendingSearch(key,val);
    		
    			//switch button
    		 	$("#pending-btn-search").attr("type","button");
    			$("#pending-btn-searching").attr("type","hidden");
    		});

    		$(document).on("click", "#save-search-filter-btn", function() {
        		var approvedFilter = /*[[ @{/chgproperty/approved/filter/save} ]]*/'/trinity/chgproperty/approved/filter/save';
        		var pendingFilter = /*[[ @{/chgproperty/pending/filter/save} ]]*/'/trinity/chgproperty/pending/filter/save';
        		
    			if (formId === 'FlowChangeApprovedListService') {
    				saveSearchFilter(approvedFilter);
    			} 
    			if (formId === 'FlowChangeApprovalPendingListService') {
    				saveSearchFilter(pendingFilter);
    			}
    			
    			return false;
    		});
			
    		$(document).on("click", ".searchApprovedCondItem", function(){
    			//switch button
    			$("#approved-btn-search").attr("type","hidden");
    			$("#approved-btn-searching").attr("type","button");

    			//change selected label
    			var obj = $(this).parents(".searchApprovedCond").children("li").children("a.select");
    			obj.removeClass("select");
    			$(this).addClass("select");
    		
    			//collection
    			var key = $(this).attr("data-key");
    			var val = $(this).attr("data-value");
    			$('input[name='+key+']').val(val);
				
    			setParamsToForm("FlowChangeApprovedListService", {"RequestType" : "onChange"});
    			//do search
    			ajaxApprovedSearch(key,val);
    		
    			//switch button
    		 	$("#approved-btn-search").attr("type","button");
    			$("#approved-btn-searching").attr("type","hidden");
    		});
    		
    		$(document).on("click", "input#pending-btn-search", function(){
    			//switch button
    			$("#pending-btn-search").attr("type","hidden");
    			$("#pending-btn-searching").attr("type","button");

    			var key = "searchPendingKeyword";
    			var val = $("input#searchPendingKeyword").val();
    			ajaxPendingSearch(key,val);
    			
    			$("#pending-btn-search").attr("type","button");
    			$("#pending-btn-searching").attr("type","hidden");
    		});
    		
    		$(document).on("click", "input#approved-btn-search", function(){
    			//switch button
    			$("#approved-btn-search").attr("type","hidden");
    			$("#approved-btn-searching").attr("type","button");

    			var key = "searchApprovedKeyword";
    			var val = $("input#searchApprovedKeyword").val();
    			setParamsToForm("FlowChangeApprovedListService", {"RequestType" : "onChange"});
    			ajaxApprovedSearch(key,val);
    			
    			$("#approved-btn-search").attr("type","button");
    			$("#approved-btn-searching").attr("type","hidden");
    		}); 

    		//overview popup
    		$(document).on({
    			'mouseenter':function(){
    				var areqId = $(this).html();
    				var selector = this;

    				$(".overviewPopup").html("");
    				
    				sethover = setTimeout(function(){
    					checkinoutOverviewPopup(areqId,selector);
    				},300);
    			},
    			'mouseleave':function(){
    				$(".overviewPopup").html("");
    				clearTimeout(sethover);
    			}
    		},'.checkinoutOverview');

			function exportToFile(extension) {
				var validateURL = /*[[ @{/chgproperty/pending/export/validate} ]]*/ '/chgproperty/pending/export/validate';
                var $windowId = $('#windowId').val();

                $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                    $("#message").html($(data).find("#message").html());
                    if(!$("#message").html().trim()) {
                        var _url = /*[[@{/chgproperty/pending/export}]]*/'/chgproperty/pending/export';
                        var form = document.getElementById("FlowChangeApprovalPendingListService");
                        appendWindowId(form);
                        var _data = $(form).serialize()
                        $.ajax({
                            type: "POST",
                            url: _url,
                            data: _data,
                            global: false,
                            success: function(data) {
                                downloadPendingFile($(data).html(), extension);
                            },
                        });
                    }
                });
			}
			
			function exportApprovedToFile(extension) {
				var validateURL = /*[[ @{/chgproperty/approved/export/validate} ]]*/ '/chgproperty/approved/export/validate';
                var $windowId = $('#windowId').val();

                $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                    $("#message").html($(data).find("#message").html());
                    if(!$("#message").html().trim()) {
                        var _url = /*[[@{/chgproperty/approved/export}]]*/'/chgproperty/approved/export';
                        var form = document.getElementById("FlowChangeApprovedListService");
                        appendWindowId(form);
                        var _data = $(form).serialize()
                        $.ajax({
                            type: "POST",
                            url: _url,
                            data: _data,
                            global: false,
                            success: function(data) {
                                downloadApprovedFile($(data).html(), extension);
                            },
                        });
                    }
                });
			}

			function downloadPendingFile(table, extension) {
				var form = document.getElementById('downloadPendingFile');
				if (extension == 'xls') {
					form.submitOption.value = "ExportToExcel";
				} else if (extension == 'csv') {
					form.submitOption.value = "ExportToCsv";
				}
				form.table.value = encodeURI(table);
				appendWindowId(form);
				form.submit();
				return;
			}
				
			function downloadApprovedFile(table, extension) {
				var form = document.getElementById('downloadApprovedFile');
				if (extension == 'xls') {
					form.submitOption.value = "ExportToExcel";
				} else if (extension == 'csv') {
					form.submitOption.value = "ExportToCsv";
				}
				form.table.value = encodeURI(table);
				appendWindowId(form);
				form.submit();
				return;
			}
				
			$(document).ready(function(){
				$('#FlowPrintChangeApprovalPendingListService').submit(function() {
		    		var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    		this.target = 'Popup_Window';
				});
				$('#FlowPrintChangeApprovedListService').submit(function() {
		    		var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    		this.target = 'Popup_Window';
				});
				getTriLayer("flashMessage").show();
		        
			});
	        
            function printChangeApprovalPendingList() {
        		submit("FlowPrintChangeApprovalPendingListService");
            }
            function printChangeApprovedList() {
        		submit("FlowPrintChangeApprovedListService");
            }
            function checkSelectedPjt()
            {
				var form = document.getElementById('FlowChangeRequestApprovalPendingMultipleApproval');
				var form_post = document.getElementById('FlowChangeRequestApprovalPendingMultipleApprovalComment');
				$("input[name=selectedAreqIds_bk]").each(function() {
					$(this).attr("name","selectedAreqIds");
				});
			
				if ( form.selectedPjtIds ){
					for( i=0; i<form.selectedPjtIds.length; i++ ) {
						checkSeletedAreqId( form.selectedPjtIds[i], form_post ); 
					}
					checkSeletedAreqId(form.selectedPjtIds, form_post);
				}
            }

			function checkSeletedAreqId( pjt, form_post ) {
				if( pjt.checked ) {
				} else {
					for( j=form_post.childNodes.length-1; j>=0; j-- ) {
						var pjtObj = form_post.childNodes[j];
						if( pjtObj.nodeType!=1 ) continue;
						if( pjtObj.getAttribute("name") === pjt.value ) {
							if( pjtObj.children.length == 1 ) {
								pjtObj.children[0].name = "selectedAreqIds_bk";
								$("input[name=selectedAreqIds]").each(function() {
									if( $(this).val() === pjtObj.children[0].value ) {
										$(this).attr("name","selectedAreqIds_bk");
									}
								});
							}
						}
					}
				}
			}
            
        	$(document).ready(function(){
        		
        		disableEnableButton();
        	});
        	
        	function disableEnableButton() {
        		checkSelectedPjt();
        		$(".checkboxHead .allCheck").prop('checked', false);
        		
        		if($('.selectedIdCheckBox:checked').length == $('.selectedIdCheckBox').length){
        			$(".checkboxHead .allCheck").prop('checked', true);
        		}
        		
        		var enabled = false;
        		$("#FlowChangeRequestApprovalPendingMultipleApprovalComment input").each(function() {
        			if ( $(this).attr("name") == "selectedAreqIds"){
        				enabled = true;
        			}
        		});
        		
        		approveButton(enabled);
        	}
        	
        	function approveButton(condition) {
        		if (condition) {
        			$(".commentButtons a").css('background-color', '#FFFFFF');
                    $(".commentButtons").css('cursor', 'auto');
                    $(".commentButtons a").css('pointer-events', 'auto');
        		} else {
        			$(".commentButtons a").css('background-color', '#B8B8B8 !important');
    	            $(".commentButtons").css('cursor', 'not-allowed');
    				$(".commentButtons a").css('pointer-events', 'none');
        		}
        	}
        	$(document).on("click", ".checkboxHead .allCheck", function(){
        		var checked = $(".checkboxHead .allCheck").is(':checked');
        		'use strict';
        		$('tbody tr th input[type="checkbox"]').prop('checked', $(this).prop('checked'));
        		$('tbody tr td input[type="checkbox"]').prop('checked', $(this).prop('checked'));
        		approveButton(checked);
        	});
        	
        	$(document).ready(function(){

    			$( "#tabs" ).tabs();
    			
    			var selectedTabId = /*[[${selectedTabId}]]*/null;
    			if(selectedTabId != null && selectedTabId > 0){
    				formId = 'FlowChangeApprovedListService';
    				$("#approvedTab").trigger( "click" );
    				
    			}else {
    				formId = 'FlowChangeApprovalPendingListService'
    				$("#pendingTab").trigger( "click" );
    			}
    			
    			
    		});
    	/* ]]> */
        </script>
</body>
</html>