
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}" lang="ja">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml"
    th:text="#{ChangePropertyList.title.text}">trinity | Change
    Property - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <!-- 帯ポップアップ/bandPopup-->
        <div id="confirmDialog">
            <div class="bandPopup">
                <div class="bandPopupMessage"></div>
                <div class="bandPopupButton"></div>
            </div>
        </div>

        <div id="infoDialog">
            <div
                th:if="!${result.getMessageInfo().isEmptyFlashMessages()}">
                <div class="bandPopup">
                    <div class="bandPopupMessage"
                        th:text="${result.getMessageInfo().getFlashMessages()}"></div>
                </div>
            </div>
        </div>
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="images/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索"></input>
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell">
                        <img src="images/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="images/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="images/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="ThemeView.html">ロット設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotInfoView.html" class="select">ロット</a></li>
                <li><a href="AssetManagementList.html">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索"></input>
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="LotInfoView.html">ロット情報</a></li>
                <li><a href="ChangeManagementList.html"
                    class="select">変更管理情報</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowChangePropertyMultipleCloseCommentService"
            method="POST"
            th:action="@{/chgproperty/multipleclose/validate}">
            <input type="hidden" name="RequestType" value="init" />
        </form>
        
        <form id="FlowChangePropertyMultipleCloseService"
                method="POST"
                th:action="@{/chgproperty/multipleclose/validate}">
                <input type="hidden" name="RequestType" value="validate" />
                <input type="hidden" name="referer"
                    value="ChangePropertyList" /> <input type="hidden"
                    name="forward" value="ChangePropertyList" />
        </form>
        <form id="FlowChangePropertyDetailsService"
            th:action="@{/chgproperty/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer" value="ChangePropertyList" />
            <input type="hidden" name="forward"
                value="ChangePropertyList" /> <input type="hidden"
                name="pjtId" value="" />
        </form>
        <form id="FlowChangePropertyRemovalCommentService" method="POST"
            th:action="@{/chgproperty/remove/validate}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId" />
        </form>
        <form id="FlowPrintChangePropertyListService"
            th:action="@{/chgproperty/list/print}" method="POST">
            <input type="hidden" name="RequestType" /> <input
                type="hidden" name="serviceId" /> <input type="hidden"
                id="condStatus" name="condStatus" /> <input
                type="hidden" id="condCategory" name="condCategory" /> <input
                type="hidden" id="condMilestone" name="condMilestone" />
            <input type="hidden" id="searchKeyword" name="searchKeyword" />
        </form>

        <table class="table tableSearchResults table-bordered"
            id="issues_table" th:fragment="resultTable"
            style="display: none">
            <thead>
                <th data-column="title"
                    th:text="#{ChangePropertyList.changePropertyID.text}">件名</th>
                <th data-column="status"
                    th:text="#{ChangePropertyList.referenceID.text}">ステータス</th>
                <th data-column="contact"
                    th:text="#{ChangePropertyList.referenceCategory.text}">担当者</th>
                <th data-column="group"
                    th:text="#{ChangePropertyList.summary.text}">担当グループ</th>
                <th data-column="dateStart"
                    th:text="#{ChangePropertyList.submitter.text}">最終更新日</th>
                <th data-column="attachment"
                    th:text="#{ChangePropertyList.assignee.text}">開始日</th>
                <th data-column="attachment"
                    th:text="#{ChangePropertyList.created.text}">開始日</th>
                <th data-column="attachment"
                    th:text="#{ChangePropertyList.updated.text}">開始日</th>
                <th data-column="attachment"
                    th:text="#{ChangePropertyList.status.text}">開始日</th>

            </thead>
            <tbody>
                <tr th:each="res : ${result.changePropertyViews}">
                    <td data-column="lot" th:text="${res.pjtId}">Aロット(LOT-1512310001)</td>
                    <td data-column="trinityNum"
                        th:text="${res.referenceId}"></td>
                    <td data-column="title"
                        th:text="#{Constants.referenceId.__${res.referenceCategoryNm}__.text}">
                        が0に戻る</td>
                    <td data-column="status" th:text="${res.summary}">マージ済み</td>
                    <td data-column="contact"
                        th:text="${res.submitterNm}">Tommy Robinson</td>
                    <td data-column="group" th:text="${res.assigneeNm}">運用保守グループ</td>
                    <td data-column="group" th:text="${res.createdDate}">運用保守グループ</td>
                    <td data-column="group" th:text="${res.updDate}">運用保守グループ</td>
                    <td data-column="group" th:text="${res.stsId}">運用保守グループ</td>

                </tr>
            </tbody>
        </table>
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_ChangeManegementInfomation.png"
                    th:src="@{/resources/images/common/icon_ChangeManegementInfomation.png}"
                    alt="" /></span><span
                    th:text="#{ChangePropertyList.header.text}">変更管理情報の一覧</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ChangePropertyList.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0);"
                    onclick="exportToFile('csv');return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0);"
                    onclick="exportToFile('xls');return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    onclick="printChangePropertyList();return false;"><span
                        th:text="#{ChangePropertyList.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <section class="section searchSection">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i> <span
                        th:text="#{ChangePropertyList.searchConditions.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"><span
                            th:text="#{ChangePropertyList.saveCondition.text}">検索条件を保存</span></a></li>
                </ul>
            </div>

            <div class="modal fade saveFilterDialog" tabindex="-1"
                role="dialog" id="saveFilterDialog">
                <div class="modal-dialog searchDialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"
                                th:text="#{SearchFilter.saveFilterTitle.text}">検索フィルタ</h4>
                        </div>
                        <form class="form-horizontal searchFilterForm">
                            <div class="modal-body">
                                <div
                                    class="modal-error searchFilterNameError"
                                    style="display: none;"
                                    th:text="#{SearchFilter.saveFilterError.text}">フィルタ名を入力してください</div>
                                <div class="form-group">
                                    <label for="searchFilterName"
                                        class="col-sm-2 control-label"
                                        th:text="#{SearchFilter.saveFilterName.text}">フィルタ名</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                            class="form-control input-sm searchFilterName"
                                            id="searchFilterName"
                                            placeholder="" />
                                    </div>
                                </div>

                                <div class="form-group"
                                    style="min-height: 100px;">
                                    <label
                                        class="col-sm-2 control-label"
                                        th:text="#{SearchFilter.saveFilterCond.text}">検索条件</label>
                                    <div class="col-sm-10">
                                        <table
                                            class="searchQueryInfoTable">
                                            <thead>
                                                <tr>
                                                    <td
                                                        style="min-width: 100px;"></td>
                                                    <td></td>
                                                </tr>
                                            </thead>

                                            <tbody
                                                id="searchQueryInfoTableBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <input type="submit"
                                    class="btn btn-default btn-xs"
                                    value="検索条件を保存"
                                    th:value="#{SearchFilter.saveFilterSubmit.text}"
                                    th:onClick="'saveSearchFilter( \'' + @{/chgproperty/filter/save} + '\' ); return false;'" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <form th:action="@{/chgproperty/export/file}" method="post"
                id="downloadFile">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="table" /> <input type="hidden"
                    name="submitOption" />
            </form>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table id="tableSearchCondition">
                        <tr>
                            <th><span
                                th:text="#{ChangePropertyList.condStatus.text}">ステータス</span></th>
                            <td><ul class="searchCond"
                                    id="condStatus">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condStatus"
                                        data-value=""><span
                                            th:text="#{ChangePropertyList.condAll.text}">すべて</span></a></li>

                                    <li
                                        th:each="res : ${result.param.searchCondition.statusViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condStatus"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="#{Constants.amStatus.__${res.value}__.text}">ステータス</span></a>
                                    </li>
                                </ul></td>
                        </tr>

                        <tr>
                            <th><span
                                th:text="#{ChangePropertyList.condCategory.text}">カテゴリー</span></th>
                            <td><ul class="searchCond"
                                    id="condCategory">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condCategory"
                                        data-value=""><span
                                            th:text="#{ChangePropertyList.condAll.text}">すべて</span></a></li>
                                    <!--
														<li><a href="javascript:void(0);"
													class="searchCondItem" data-key="condCategory"
													data-value=""><span
														th:text="#{Constants.amStatus.0000.text}">未記入</span></a></li>
														-->
                                    <li
                                        th:each="res : ${result.param.searchCondition.categoryViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condCategory"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">カテゴリー名</span></a>
                                    </li>
                                </ul></td>
                        </tr>
                        <tr>
                            <th><span
                                th:text="#{ChangePropertyList.condMilestone.text}">マイルストーン</span></th>
                            <td><ul class="searchCond"
                                    id="condMilestone">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condMilestone"
                                        data-value=""><span
                                            th:text="#{ChangePropertyList.condAll.text}">すべて</span></a></li>
                                    <!--
														<li><a href="javascript:void(0);"
													class="searchCondItem" data-key="condMilestone"
													data-value=""><span
														th:text="#{Constants.amStatus.0000.text}">未記入</span></a></li>
														-->
                                    <li
                                        th:each="res : ${result.param.searchCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condMilestone"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">マイルストーン名</span></a>
                                    </li>
                                </ul></td>
                        </tr>
                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{ChangePropertyList.searchKeyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">
                                <form id="FlowChangePropertyListService"
                                    th:action="@{/chgproperty/search}"
                                    method="POST">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="onChange" /> <input
                                        type="hidden" name="serviceId"
                                        value="" /> <input
                                        type="hidden" id="condStatus"
                                        name="condStatus"
                                        th:value="${result.param.searchCondition.stsId}" />
                                    <input type="hidden"
                                        id="condCategory"
                                        name="condCategory"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden"
                                        id="condMilestone"
                                        name="condMilestone"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden"
                                        id="selectedPageNo"
                                        name="selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <span id="selectedIdCheckBoxs"
                                        style="display: none"> </span>
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                id="searchKeyword"
                                                name="searchKeyword"
                                                value=""
                                                th:value="${result.param.searchCondition.keyword}"
                                                placeholder="全体からキーワード検索"
                                                th:placeholder="#{ChangePropertyList.searchKeywords.text}" />
                                        </dt>
                                        <dd>
                                            <input id="btn-searching"
                                                class="btn btn-default"
                                                type="hidden"
                                                value="検索中..."
                                                th:value="#{ChangePropertyList.searching.text}"
                                                disabled="disabled" />
                                            <input id="btn-search"
                                                class="btn btn-default"
                                                type="button" value="検索"
                                                th:value="#{ChangePropertyList.search.text}" />
                                        </dd>
                                    </dl>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="section tableSection" id="refreshSection">
            <nav class="sectionNav">

                <div th:replace="common/Pagination::Top"></div>

                <form id="FlowChangePropertyCreateService" method="POST"
                    th:action="@{/chgproperty/create}"></form>

                <ul class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                    <li><a href="#"
                        onClick="safeSubmit('FlowChangePropertyCreateService', {'validation':false});return false;">
                            <span><img
                                src="../../images/trinity/common/icon_ChangeManegementInfomation_add.png"
                                th:src="@{/resources/images/common/icon_ChangeManegementInfomation_add.png}"
                                alt="" /></span> <span
                            th:text="#{ChangePropertyList.createNew.text}">変更管理情報を登録</span>
                    </a></li>
                </ul>
            </nav>

            
                <table class="table table-bordered"
                    id="changePropertyListTable">
                    <thead>
                        <tr>
                            <th th:if="${result.header.selectedLot.enabled}" class="checkboxHead "><input
                                id="allCheck" type="checkbox"/></th>
                            <th><span
                                th:text="#{ChangePropertyList.changePropertyID.text}">変更管理番号</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.referenceID.text}">変更要因番号</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.referenceCategory.text}">変更要因分類</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.summary.text}">変更概要</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.submitter.text}">登録者</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.assignee.text}">担当者</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.created.text}">登録日</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.updated.text}">更新日</span></th>
                            <th><span
                                th:text="#{ChangePropertyList.status.text}">ステータス</span></th>
                            <th th:if="${result.header.selectedLot.enabled}"><span
                                th:text="#{ChangePropertyList.remove.text}">削除</span></th>
                        </tr>
                    </thead>
                    <tbody id="result_list">
                        <tr
                            th:each="res : ${result.changePropertyViews}"
                            th:id="${res.pjtId}">
                            <td th:if="${result.header.selectedLot.enabled}" scope="row"><input type="checkbox"
                                name="selectedPjtIds"
                                class="selectedIdCheckBox itemCheckbox"
                                th:value="${res.pjtId}"
                                th:checked="${res.isSelected()}"
                                th:disabled="${!res.isCloseEnabled()}" 
                                onchange="disableEnableButton();"/></td>
                            <td><a href="javascript:void(0)"
                                th:text="${res.pjtId}"
                                th:onClick="'javascript:submitDetailsService(\''+${res.pjtId}+ '\' );return false;'">aaa</a></td>
                            <td class="ellipsis"><span th:text="${res.referenceId}"></span></td>
                            <td><span
                                th:text="#{Constants.referenceId.__${res.referenceCategoryNm}__.text}"></span></td>
                            <td class="ellipsis"><span th:text="${res.summary}"></span></td>
                            <td class="user"><img
                                th:src="${res.submitterIconPath}"
                                alt="Jim Cruz" class="userImg" /> <span
                                th:text="${res.submitterNm}"></span></td>
                            <td class="user"><img
                                th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
                                th:src="${res.assigneeIconPath}"
                                alt="Jim Cruz" class="userImg" /> <span
                                th:text="${res.assigneeNm}"></span></td>
                            <td><span th:text="${res.createdDate}"></span></td>
                            <td><span th:text="${res.updDate}"></span></td>
                            <td class="labels"><span
                                    class="label label-justify"
                                    th:classappend="'amStatus'+'__${res.stsId}__'"
                                th:text="#{Constants.amStatus.__${res.stsId}__.text}"></span></td>
                            <td th:if="${result.header.selectedLot.enabled}" class="btns"><a
                                href="javascript:void(0)"
                                th:onClick="'submitRemoveService(\''+${res.pjtId}+'\'); return false;'">
                                    <i class="fa fa-times-circle"></i>
                            </a></td>
                        </tr>
                    </tbody>
                </table>
                
                <div
	                th:style="${result.changePropertyViews.size()}== 0 ? 'display:block;' : 'display:none;'"
	                class="emptySearchResults" id="emptyResultsMessage">
	                <i class="fa fa-warning"></i> <span
	                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
	            </div>

                <div th:fragment="bulkClose">
                    <nav class="sectionNav">
                        <div th:replace="common/Pagination::Bottom"></div>
                        <!-- Bulk Close -->
                        <dl class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                            <dt>
                                <span
                                    th:text="#{ChangePropertyList.selectedChangeProperties.text}">チェックした変更管理情報を</span>
                            </dt>
                            <dd class="commentButtons">
                                <a href="javascript:void(0);"
                                    class="btn btn-default"
                                    id="btnMultipleClose"
                                    onClick="toggleCommentMultipleClose();">
                                    <span class="commentButtonWaiting"
                                    id="multipleCloseCommentButtonWaiting"
                                    style="display: none;"><i
                                        class="fa fa-circle-o-notch fa-spin"
                                        aria-hidden="true"></i></span> <span
                                    th:text="#{ChangePropertyList.bulkClose.text}">一括クローズ</span>
                                    <div class="fukidashiHeader"
                                        id="multipleCloseFukidashiHeader"
                                        style="display: none;"></div>
                                </a>
                            </dd>
                        </dl>
                    </nav>
                </div>
            <div id="replace_reason"></div>
        </section>
    </article>
	
    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>
    

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="resources/js/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
		
		var formId = 'FlowChangePropertyListService';

		$(document).ready(function(event) {
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
			getTriLayer("flashMessage").show();
		});

		$(document).ready(function(){
			$('#FlowPrintChangePropertyListService').submit(function() {
			    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
			    this.target = 'Popup_Window';
			});
		});

        function printChangePropertyList() {
			var formSrc = document.getElementById("FlowChangePropertyListService");
			var formDest = document.getElementById("FlowPrintChangePropertyListService");
			form2form(formSrc, formDest);
			submit('FlowPrintChangePropertyListService');
	    }

		function form2form(formSrc, formDest) {
		    $(':input[name]', formSrc).each(function() {
		        $('[name=' + $(this).attr('name') +']', formDest).val($(this).val())
		    })
		}

		function submitDetailsService(pjtId){
			form = document.getElementById('FlowChangePropertyDetailsService');
			form.pjtId.value = pjtId;
			safeSubmit('FlowChangePropertyDetailsService', {'validation':false});
		}

		function submitRemoveService(pjtId) {
			var formId = 'FlowChangePropertyRemovalCommentService';
			setParamsToForm(formId, {"pjtId" : pjtId});

			removeCommentContainer();
			removeMultipleCloseCommentContainer();
			
        	var right = $("#changePropertyListTable td:last").width()/2 - 8;
        	var bottom_border = $( "#changePropertyListTable tr:last" ).attr('id') == pjtId ? ' border-bottom-color: #fff; ' : '';
    	
        	var html = '<tr id="comment_container_temp">'
            	+ '<td colspan="11" style="border-left-color: #fff; border-right-color: #fff;'
            	+ bottom_border
                + 'padding: 0px 0px 10px 0px; background-color:white;color: inherit">'
    			+ '<div style="position:relative">'
    			+ '<div class="fukidashiHeader" style="right: '
    			+ right + 'px; top: -2px; display: none;" id="removeFukidashiHeader"></div></div>'
   				+ '<div id="replace_reason"></div></td></tr>'
   				+ '<tr id="comment_container_after"></tr>';

				$('#' + pjtId).after(html);
	        	$('#replace_reason').click(function(event) {
	        		event.stopPropagation();
	        	});

				
			toggleComment(formId, 'remove');
		}

		function removeMultipleCloseCommentContainer() {
			$("#btnMultipleClose").remove("#multipleCloseFukidashiHeader");
			$("#replace_reason").remove();
		}

		function addMultipleCloseCommentContainer() {
			var multipleCloseFukidashiHeader = '<div class="fukidashiHeader" id="multipleCloseFukidashiHeader" style="display: none;"></div>';
			var replace_reason = '<div id="replace_reason"></div>';
			$('#btnMultipleClose').append(multipleCloseFukidashiHeader);
			$('#btnMultipleClose').closest( "nav" ).after(replace_reason);
			$('#replace_reason').click(function(event) {
        		event.stopPropagation();
        	});
		}

		function submitMultipleCloseService(formId) {
			
			openBandPopup({
				message		:[[#{ChangePropertyList.confirmBulkClose.text}]],
				btn1Text	:[[#{ChangePropertyList.yes.text}]],
				btn2Text	:[[#{ChangePropertyList.no.text}]],
				btn1Func	:function() {
								multiplecloseFunction(formId);
							 },
				btn2Func	:function() {}
			});
		}
		
		function toggleCommentMultipleClose() {
			removeCommentContainer();
			removeMultipleCloseCommentContainer();
			
			addMultipleCloseCommentContainer();

			checkSelectedPjt();
			toggleComment('FlowChangePropertyMultipleCloseCommentService', 'multipleClose');
		}

		function multiplecloseFunction(formId) {
			$("#" + formId).attr("action", /*[[@{/chgproperty/multipleclose}]]*/);
			setParamsToForm(formId, {"RequestType" : "submitChanges"});
			var selectedPjtIds = [];
			$('.selectedIdCheckBox:checkbox:checked').each(function() {
				selectedPjtIds.push($(this).val());
			});
			setParamsToForm(formId, {"selectedPjtIds" : selectedPjtIds.join(':')});
			
			var beforeFunc = function() {
				$("#message").html("");
			};
			var successFunc = function(data) {
				$("#infoDialog").html($(data).find("#infoDialog").html());
				$("#message").html($(data).find("#message").html());
				$("#replace_button").html($(data).find("#replace_button").html());
				$("#replace_reason").html($(data).find("#replace_reason").html());
				$("#refreshSection").html($(data).find("#refreshSection").html());
				clearIsCommentChangedFlagFlag();
				if ($(".errorMessage")[0] != null) {
					timeOut = setTimeout(function() {
						$("html, body").animate({scrollTop:$('#message').offset().top-$("nav#globalNav").height()});
						$(".sectionErrorMessage").show();
					}, 200);
				}
				getTriLayer("flashMessage").show();
			};
			var params = {
				formId: formId,
				timeout: 1000,
				beforeFunc: beforeFunc,
				successFunc: successFunc,
			};
			ajaxXHRSafeSend(params);
		}
		
		//send ajax
		function ajaxSearch( key, val ){
			getTriLayer("mask").startWaiting('changePropertyListTable');

			var url = /*[[ @{/chgproperty/search} ]]*/'/chgproperty/search';
			form = document.getElementById('FlowChangePropertyListService');
		
			//addSelectedIdCheckBox
			$("#selectedIdCheckBoxs").append($(".selectedIdCheckBox").clone())
			
			$('#FlowChangePropertyListService input[name="'+key+'"]').val( val );
			updateSearchFilterQuery(formId);
			
			//send
			timeOut = setTimeout(function() {
			 $.post(url, serializeWindowId('FlowChangePropertyListService')).done(
				function(data, status, xhr) {
					$("#result_list").html($(data).find("#result_list").html());
					$("#pageTop").html($(data).find("#pageTop").html());
					$("#pageBottom").html($(data).find("#pageBottom").html());
					$("#FlowChangePropertyListService").html($(data).find("#FlowChangePropertyListService").html());
					$("#message").html($(data).find("#message").html());
					$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
					updateSearchConditionView(formId);
					getTriLayer("mask").endWaiting('changePropertyListTable');
					
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
					getTriLayer("mask").endWaiting('changePropertyListTable');
				});
			}, 100);
		}

		$(document).on("click", ".pageNavi", function(){
			var val = $(this).attr("data-pageNum");
			ajaxSearch("selectedPageNo",val);
		});
		
		$(document).on("click", ".searchCondItem", function(){
		
			//switch button
			$("#btn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			//change selected label
			var obj = $(this).parents(".searchCond").children("li").children("a.select");
			obj.removeClass("select");
			$(this).addClass("select");
		
			//collection
			var key = $(this).attr("data-key");
			var val = $(this).attr("data-value");
			$('input[name='+key+']').val(val);

			//do search
			ajaxSearch(key,val);
		
			//switch button
		 	$("#btn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});

		//block "enterkey" keypress in input form (searchKeyword)
		$(document).on("keypress", "input#searchKeyword", function(event) {
			return event.which !== 13;
		});

		//keyword search
		$(document).on("click", "input#btn-search", function(){
			//switch button
			$("#btn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			//collection
			var key = "searchKeyword";
			var val = $('#FlowChangePropertyListService input[name="searchKeyword"]').val();;

			//do search
			ajaxSearch(key,val);
		
			//switch button
		 	$("#btn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});

		function exportToFile(extension) {
			var validateURL = /*[[ @{/chgproperty/export/validate} ]]*/ '/chgproperty/export/validate';
			var $windowId = $('#windowId').val();

		    $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                $("#message").html($(data).find("#message").html());
                if(!$("#message").html().trim()) {
                    var _url = /*[[@{/chgproperty/export}]]*/'/chgproperty/export';
                    var form = document.getElementById("FlowChangePropertyListService");
                    appendWindowId(form);
                    var _data = $(form).serialize()
                    $.ajax({
                        type: "POST",
                        url: _url,
                        data: _data,
                        global: false,
                        success: function(data) {
                            downloadFile($(data).html(), extension);
                        },
                    });
                }
            });

		}
		function downloadFile(table, extension) {
			var form = document.getElementById('downloadFile');
			if (extension == 'xls') {
				form.submitOption.value = "ExportToExcel";
			} else if (extension == 'csv') {
				form.submitOption.value = "ExportToCsv";
			}
			form.table.value = encodeURI(table);
			appendWindowId(form);
			form.submit();
			return;
		}
		
		function checkSelectedPjt()
        {
			//var form = document.getElementById('FlowChangePropertyMultipleCloseService');
			var form_post = document.getElementById('FlowChangePropertyMultipleCloseCommentService');
			var selectedPjtIds = $('.selectedIdCheckBox:checkbox:checked');
			if ( selectedPjtIds ){
				$(form_post).empty();
				//$(form).empty();
				for( i=0; i < selectedPjtIds.length; i++ ) {
					var tmpNode = selectedPjtIds[i].cloneNode();
					tmpNode.type = 'hidden';
	                form_post.appendChild(tmpNode.cloneNode());
	                //form.appendChild(tmpNode.cloneNode());
				}
			}
        }

    	$(document).ready(function(){
    		closeButton(false);
    	});
    	
    	function disableEnableButton() {
    		checkSelectedPjt();
    		$(".checkboxHead #allCheck").prop('checked', false);
    		var enabled = false;
    		$("#FlowChangePropertyMultipleCloseCommentService input").each(function() {
    			if ( $(this).attr("name") == "selectedPjtIds"){
    				enabled = true;
    			}
    		});
    		
    		closeButton(enabled);
    	}
    	
    	function closeButton(condition) {
    		if (condition) {
    			$(".commentButtons a").css('background-color', '#FFFFFF');
                $(".commentButtons").css('cursor', 'auto');
                $(".commentButtons a").css('pointer-events', 'auto');
    		} else {
    			$(".commentButtons a").css('background-color', '#B8B8B8 !important');
	            $(".commentButtons").css('cursor', 'not-allowed');
				$(".commentButtons a").css('pointer-events', 'none');
    		}
    	}
    	
    	$("#allCheck").click(function () {
    	    var checked = false;
			$("#result_list input[name=selectedPjtIds]").each(function() {
				if (!$(this).is(":disabled")) {
					$(this).prop('checked', $("#allCheck").prop('checked'));
					if ($("#allCheck").prop('checked')) {
						checked = true;
					}
				}
			});
			
    	    closeButton(checked);
    	});

    	$(".itemCheckbox").change(function() {
    	    if ($('.itemCheckbox:checkbox:enabled').not(':checked').length == 0){
                $("#allCheck").prop('checked', true);
            }else {
                $("#allCheck").prop('checked', false);
            }
    	});
		/* ]]> */
	</script>
</body>
</html>