<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{ChangeReqApproved.title.text}">trinity
    | Change Request - Approved - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html"
                    class="select">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <form
            id="FlowChangeRequestApprovalApprovedReturnToPendingCommentService"
            method="POST"
            th:action="@{/chgproperty/approved/returnToPending/validate}">
            <input type="hidden" name="RequestType" value="validate" /> <input
                type="hidden" name="pjtId"
                th:value="${result.detailsView.pjtId}" />
        </form>
        <form id="FlowChangeApprovedDetailsCloneWindowService"
            method="POST" th:action="@{/chgproperty/approved/details}"
            target="CloneWindow">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId"
                th:value="${result.detailsView.pjtId}" />
        </form>
        <form id="FlowPrintChangeApprovedDetailsService"
            th:action="@{/chgproperty/approved/details/print}"
            method="POST">
            <input type="hidden" name="pjtId"
                th:value="${result.getParam().getSelectedPjtId()}" />
        </form>

        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_request_info.png"
                    th:src="@{/resources/images/common/icon_request_info.png}"
                    alt="" />
                </span> <span th:text="#{ChangeReqApproved.header.text}">変更承認の詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ChangeRequestApprovalApprovedDetails.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowChangeApprovedDetailsCloneWindowService\');return false;'">
                        <span
                        th:text="#{ChangeReqApproved.newWindow.text}">別ウインドウに複製</span>
                </a></li>
                <li><i class="fa fa-print"></i> <a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printChangeApprovedDetails();return false;'">
                        <span th:text="#{ChangeReqApproved.print.text}">印刷用ページ</span>
                </a></li>
            </ul>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{ChangeReqApproved.basicInfo.text}">基本情報</span>
                <span class="helpBtn inline"><a th:href="#{ChangeRequestApprovalApprovedDetails.help.url}"
                                                target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>

            <dl class="dl-horizontal">
                <dt>
                    <span th:text="#{ChangeReqApproved.changeID.text}">変更管理番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.pjtId}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqApproved.referenceID.text}">変更要因番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.referenceId}"></span>&nbsp;
                    <span class="label"
                        th:classappend="'amStatus'+${result.detailsView.stsId}"
                        th:text="#{Constants.amStatus.__${result.detailsView.stsId}__.text}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqApproved.referenceCategory.text}">変更要因分類</span>
                </dt>
                <dd>
                    <span th:text="#{Constants.referenceId.__${result.detailsView.referenceCategoryNm}__.text}"></span>
                </dd>
                <dt class="userLabel">
                    <span th:text="#{ChangeReqApproved.submitter.text}">申請者</span>
                </dt>
                <dd class="user">
                    <img
                        th:src="${result.detailsView.submitterIconPath}"
                        alt="Jim Cruz" class="userImg" /> <span
                        th:text="${result.detailsView.submitterNm}"></span>
                </dd>
                <dt class="userLabel">
                    <span th:text="#{ChangeReqApproved.assignee.text}">担当者</span>
                </dt>
                <dd class="user">
                    <img
                        th:if="not ${#strings.isEmpty(result.detailsView.assigneeIconPath)}"
                        th:src="${result.detailsView.assigneeIconPath}"
                        alt="Jim Cruz" class="userImg" /> <span
                        th:text="${result.detailsView.assigneeNm}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqApproved.submittedDate.text}">登録日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.createdTime}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.updated.text}">変更日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.updTime}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.subject.text}">変更概要</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.summary}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.contents.text}">変更内容</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.contents}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.categoryNm}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mstoneNm}"></span>
                </dd>
            </dl>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{ChangeReqApproved.requestInfo.text}">申請情報</span>
                <span class="helpBtn inline"><a th:href="#{ChangeRequestApprovalApprovedDetails.help.url}"
                                                target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{ChangeReqApproved.tableRequestType.text}">申請区分</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableRequestID.text}">申請情報番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubject.text}">申請件名</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubmittedTime.text}">申請日時</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubmitter.text}">申請者</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubmitterGroup.text}">申請グループ</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableStatus.text}">ステータス</span></th>
                    </tr>
                </thead>
                <tbody th:each="res : ${result.approvedRequestViews}">
                    <tr>
                    	<td><span
                    		class="label"
                    		th:classappend="'kindLabel'+${res.areqType}"
                    		th:text="#{Constant.requestType.__${res.areqType}__.text}"></span></td>
                        <td><a th:href="@{/dispatch(dataAttribute='CheckInRequest',dataId=${res.areqId})}"
                            class="underline"> <span
                                th:text="${res.areqId}"></span>
                        </a></td>
                        <td><span th:text="${res.subject}"></span></td>
                        <td><span th:text="${res.requestTime}"></span></td>
                        <td class="user"><img
                                th:src="${res.submitterIconPath}"
                                alt="Jim Cruz" class="userImg" /> <span
                                th:text="${res.submitterNm}"></span> </td>
                        <td><span th:text="${res.groupNm}"></span></td>
                        <td class="labels"><span
                            class="label label-justify"
                            th:classappend="'amStatus'+'__${res.stsId}__'"
                            th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{ChangeReqApproved.approvalHistory.text}">承認履歴</span>
                <span class="helpBtn inline"><a th:href="#{ChangeRequestApprovalApprovedDetails.help.url}"
                                                target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{ChangeReqApproved.tableDate.text}">日時</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableApprovalType.text}">承認の種別</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableApprover.text}">申請/取消者</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableComments.text}">コメント</span></th>
                    </tr>
                </thead>
                <tbody th:each="res : ${result.approvedHistoryViews}">
                    <tr>
                        <td><span th:text="${res.updTime}"></span></td>
                        <td><span class="label label-justify"
                            th:classappend="'amStatus'+${res.stsId}"
                            th:text="#{Constants.amStatus.__${res.stsId}__.text}"></span></td>
                        <td class="user"><img
                                th:src="${result.detailsView.submitterIconPath}"
                                alt="Jim Cruz" class="userImg" /> <span
                                th:text="${res.submitterNm}"></span></td>
                        <td><span th:text="${res.comment}"></span></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="section sectionRadiusWidth" th:if="${result.header.selectedLot.enabled}">
            <nav class="sectionNav">
                <dl class="sectionNavRight">
                    <dd class="commentButtons">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowChangeRequestApprovalApprovedReturnToPendingCommentService', 'returnToPending');">
                            <span class="commentButtonWaiting"
                            id="returnToPendingCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{ChangeReqApproved.titleboxReturnToPending.text}">承認を取り消す</span>
                            <div class="fukidashiHeader"
                                id="returnToPendingFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                    </dd>
                </dl>
            </nav>
            <div id="replace_reason"></div>
        </section>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
    $(document).ready(function(){
		$('#FlowPrintChangeApprovedDetailsService').submit(function() {
   			var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
   			this.target = 'Popup_Window';
		});
	});

    function printChangeApprovedDetails() {
		submit("FlowPrintChangeApprovedDetailsService");
    }
    
	function submitReturnToPendingService(formId) {
		openBandPopup({
			message		:[[#{ChangeReqApproved.titleboxReturnToPending.text}]],
			btn1Text	:[[#{ChangeReqApproved.yes.text}]],
			btn2Text	:[[#{ChangeReqApproved.no.text}]],
			btn1Func	:function() {
							safeSubmit(formId);
						},
			btn2Func    :function() {
						},
		});
	}

	/* ]]> */        
	</script>


</body>
</html>
