<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml"
    th:text="#{ChangePropertyDetails.title.text}">trinity |
    Change Property - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->


</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <!-- 帯ポップアップ/bandPopup-->
        <div class="bandPopup">

            <div class="bandPopupMessage"></div>

            <div class="bandPopupButton"></div>
        </div>
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="images/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="images/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="images/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="images/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="ThemeView.html">ロット設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotInfoView.html" class="select">ロット</a></li>
                <li><a href="AssetManagementList.html">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="LotInfoView.html">ロット情報</a></li>
                <li><a href="ChangeManagementList.html"
                    class="select">変更管理情報</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowPrintChangePropertyDetailsService"
            th:action="@{/chgproperty/details/print}" method="POST">
            <input type="hidden" name="pjtId"
                th:value="${result.changePropertyDetailsView.pjtId}" />
        </form>
        <form id="FlowChangePropertyEditService" method="POST"
            th:action="@{/chgproperty/edit}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId"
                value="${result.changePropertyDetailsView.pjtId}" />
        </form>
        <form id="FlowChangePropertyListService" method="POST"
            th:action="@{/chgproperty}">
            <input type="hidden" name="RequestType" value="init" />
        </form>
        <form id="FlowChangePropertyDetailsService" method="POST"
            th:action="@{/chgproperty/details}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId"
                th:value="${result.changePropertyDetailsView.pjtId}" />
        </form>
        <form id="FlowChangePropertyRemovalCommentService" method="POST"
            th:action="@{/chgproperty/remove/validate}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId"
                th:value="${result.changePropertyDetailsView.pjtId}" />
        </form>
        <form id="FlowChangePropertyTestCompletionCommentService"
            method="POST"
            th:action="@{/chgproperty/testcomplete/validate}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId"
                th:value="${result.changePropertyDetailsView.pjtId}" />
        </form>
        <form id="FlowChangePropertyCloseCommentService" method="POST"
            th:action="@{/chgproperty/close/validate}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId"
                th:value="${result.changePropertyDetailsView.pjtId}" />
        </form>

        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_ChangeManegementInfomation_info.png"
                    th:src="@{/resources/images/common/icon_ChangeManegementInfomation_info.png}"
                    alt="" /></span> <span
                    th:text="#{ChangePropertyDetails.header.text}">変更管理情報の詳細</span>
            </h1>

            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ChangePropertyDetails.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowChangePropertyDetailsService\');return false;'"
                    th:text="#{ChangePropertyDetails.newWindow.text}">別ウインドウに複製</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printChangePropertyDetails();return false;'"
                    th:text="#{ChangePropertyDetails.printablePage.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <section class="section sectionRadius">
            <h2 th:text="#{ChangePropertyDetails.titleBox.text}">
                基本情報<span class="helpBtn inline"><a th:href="#{ChangePropertyDetails.help.url}"
                                                    target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>

            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt th:text="#{ChangePropertyDetails.changeID.text}">変更管理番号</dt>
                    <dd>
                        <span
                            th:text="${result.changePropertyDetailsView.pjtId}">PJT-1604150003</span>&nbsp;
                        <span class="label label-auto"
                            th:classappend="'amStatus'+${result.changePropertyDetailsView.stsId}"
                            th:text="#{Constants.amStatus.__${result.changePropertyDetailsView.stsId}__.text}">変更進行中</span>
                    </dd>
                    <dt
                        th:text="#{ChangePropertyDetails.referenceID.text}">変更要因番号</dt>
                    <dd>
                        <span
                            th:text="${result.changePropertyDetailsView.referenceId}">PJT-1511020001</span>
                    </dd>
                    <dt
                        th:text="#{ChangePropertyDetails.referenceCategory.text}">変更要因分類</dt>
                    <dd
                        th:text="#{Constants.referenceId.__${result.changePropertyDetailsView.referenceCategoryId}__.text}">開発</dd>
                    <dt th:text="#{ChangePropertyDetails.summary.text}">変更概要</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.summary}">この時傍点の頃そうした自信はあなたごろが比べるたかと大森さんを掴みでです、原因の前うというご区別ないないないて、召使の以上に金力に今までの人に事実尊ぶてならて、そうの前をもってそのためを至極参りますたとしましのないのに</dd>
                    <dt th:text="#{ChangePropertyDetails.contents.text}">変更内容</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.contents}">この時傍点の頃そうした自信はあなたごろが比べるたかと大森さんを掴みでです、原因の前うというご区別ないないないて、召使の以上に金力に今までの人に事実尊ぶてならて、そうの前をもってそのためを至極参りますたとしましのないのに</dd>
                    <dt class="userLabel"
                        th:text="#{ChangePropertyDetails.submitter.text}">申請者</dt>
                    <dd class="user">
                        <img
                            th:src="${result.changePropertyDetailsView.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${result.changePropertyDetailsView.submitterNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt class="userLabel" th:text="#{ChangePropertyDetails.assignee.text}">担当者</dt>
                    <dd class="user">
                        <img
                            th:if="not ${#strings.isEmpty(result.changePropertyDetailsView.assigneeIconPath)}"
                            th:src="${result.changePropertyDetailsView.assigneeIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${result.changePropertyDetailsView.assigneeNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt th:text="#{ChangePropertyDetails.category.text}">カテゴリー</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.categoryNm}">Tommy
                        Robinson</dd>
                    <dt
                        th:text="#{ChangePropertyDetails.milestone.text}">マイルストーン</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.mstoneNm}">Tommy
                        Robinson</dd>
                    <dt th:text="#{ChangePropertyDetails.created.text}">登録日</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.createdTime}">yyyy/mm/dd/hh/mm/ss</dd>
                    <dt th:text="#{ChangePropertyDetails.updated.text}">変更日</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.updTime}">yyyy/mm/dd/hh/mm/ss</dd>

                </dl>
            </div>
        </section>
        <section class="section sectionRadiusWidth" th:if="${result.header.selectedLot.enabled}">
            <nav class="sectionNav">
                <dl class="sectionNavRight">
                    <dt>
                        <span
                            th:text="#{ChangePropertyDetails.thisChangeProperty.text}">この変更管理情報を</span>
                    </dt>
                    <dd>
                        <a href="javascript:void(0)"
                            class="btn btn-default"
                            th:onClick="'javascript:submitEditService(\''+${result.param.selectedPjtId}+'\');return false;'">
                            <span
                            th:text="#{ChangePropertyDetails.edit.text}">編集する</span>
                        </a>
                    </dd>
                    <dd class="commentButtons">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowChangePropertyRemovalCommentService', 'removal');">
                            <span class="commentButtonWaiting"
                            id="removalCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{ChangePropertyDetails.remove.text}">削除する</span>
                            <div class="fukidashiHeader"
                                id="removalFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                    </dd>
                    <dd class="commentButtons" th:if="${result.changePropertyDetailsView.testCompletionEnabled == true}">
                        <!-- show testComplete for debug -->
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowChangePropertyTestCompletionCommentService', 'testComplete');">
                            <span class="commentButtonWaiting"
                            id="testCompletionCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{ChangePropertyDetails.testComplete.text}">テスト完了にする</span>
                            <div class="fukidashiHeader"
                                id="testCompleteFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                    </dd>
                    <dd class="commentButtons">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowChangePropertyCloseCommentService', 'close');">
                            <span class="commentButtonWaiting"
                            id="closeCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{ChangePropertyDetails.close.text}">クローズする</span>
                            <div class="fukidashiHeader"
                                id="closeFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                    </dd>
                </dl>
            </nav>
            <div id="replace_reason"></div>
        </section>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/

	function submitListService() {
		form = document.getElementById('FlowChangePropertyListService');
		safeSubmit('FlowChangePropertyListService', {'validation':false});
	}

	function submitEditService(pjtId) {
		form = document.getElementById('FlowChangePropertyEditService');
		form.pjtId.value = pjtId;
		safeSubmit('FlowChangePropertyEditService', {'validation':false});
	}

	function submitRemovalService(formId) {
		openBandPopup({
			message		:[[#{ChangePropertyDetails.confirmationRemoval.text}]],
			btn1Text	:[[#{ChangePropertyDetails.yes.text}]],
			btn2Text	:[[#{ChangePropertyDetails.no.text}]],
			btn1Func	:function() {
							safeSubmit(formId);
						},
			btn2Func    :function() {
						},
		});
	}

	function submitTestCompletionService(formId) {
		openBandPopup({
			message     :[[#{ChangePropertyDetails.confirmationTestCompletion.text}]],
			btn1Text	:[[#{ChangePropertyDetails.yes.text}]],
			btn2Text	:[[#{ChangePropertyDetails.no.text}]],
			btn1Func    :function() {
							safeSubmit(formId);
						},
			btn2Func    :function() {
						},
		});
	}

	function submitCloseService(formId) {
		openBandPopup({
			message		:[[#{ChangePropertyDetails.confirmationClose.text}]],
			btn1Text	:[[#{ChangePropertyDetails.yes.text}]],
			btn2Text	:[[#{ChangePropertyDetails.no.text}]],
			btn1Func	:function() {
							safeSubmit(formId);
						},
			btn2Func	:function() {
						},
		});
	}

	$(document).ready(function(){
		$('#FlowPrintChangePropertyDetailsService').submit(function() {
		    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    this.target = 'Popup_Window';
		});
		
		getTriLayer("flashMessage").show();
	});

	function printChangePropertyDetails() {
		submit("FlowPrintChangePropertyDetailsService");
    }
	/* ]]> */
	</script>
</body>
</html>