<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="${result.detailsView.isDraft()} ? #{ChkOutReqDraft.title.text} : #{ChkOutReqEdit.title.text}" th:fragment="titleHtml">trinity
    | Checkout Request - Editing</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html"
                    class="select">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">

        <div class="bandPopup">
            <div class="bandPopupMessage"></div>


            <div class="bandPopupButton"></div>
        </div>

        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_request_add.png"
                    th:src="@{/resources/images/common/icon_request_add.png}"
                    alt="" /></span><span
                    th:text="${result.detailsView.isDraft()} ? #{ChkOutReqDraft.header.text} : #{ChkOutReqEdit.header.text}">貸出申請の新規申請</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{CheckOutRequestEdit.help.url}"
                   target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        
        <div style="display:none">
        	<ul id="selectedFileList">
        		<li th:each="res : ${result.param.resourceSelection.selectedFileSet}"
        			th:value="${res}">
        		</li>
        	</ul>
        </div>

        <form id="FlowCategoryCreationService"
            th:action="@{/lot/settings/category/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/checkout/edit/refreshCategory" /> <input
                type="hidden" name="categorySubject" value="" />
        </form>
        <form id="FlowMilestoneCreationService"
            th:action="@{/lot/settings/milestone/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/checkout/edit/refreshMilestone" /> <input
                type="hidden" name="milestoneSubject" value="" />
        </form>

        <form id="FlowCheckoutRequestRemovalService"
            th:action="@{/checkout/remove}" method="POST">
            <input type="hidden" name="RequestType" value="submitChange" />
            <input type="hidden" name="referer"
                value="CheckinOutRequestList" /> <input type="hidden"
                name="forward" value="CheckinOutRequestList" /> <input
                type="hidden" name="areqId"
                th:value="${result.result.areqId}" />
        </form>
        
         <form id="FlowResourceListSort" 
        	th:action="@{/checkout/edit/sortfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckOutRequestCreate" /> <input type="hidden"
                name="forward" value="CheckinOutRequestList" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="columnName" value="" /> <input
                type="hidden" name="sortOrder" value="" /> 
                
        </form>
        
            <form id="FlowResourceSingleSelection" 
        	th:action="@{/checkout/edit/singleSelection}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckOutRequestEdit" /> <input type="hidden"
                name="forward" value="CheckOutRequestEdit" /> <input
                type="hidden" name="submitMode" value="" /> <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="requestOption" value="" /> <input
                type="hidden" name="path" value="" />
                <input type="hidden" name="isSelected" value="" />
                <input type="hidden" name="selectedResource" value="" />
                 
        </form>
        
        <form id="FlowResourceAllSelection" 
        	th:action="@{/checkout/edit/allSelection}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckOutRequestEdit" /> <input type="hidden"
                name="forward" value="CheckOutRequestEdit" /> <input
                type="hidden" name="submitMode" value="" /> <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="requestOption" value="" /> <input
                type="hidden" name="path" value="" />
                <input type="hidden" name="isSelected" value="" />
                <input type="hidden" name="selectedPath" value="" />
        </form>
        
        <form id="FlowResourceListDisplay" 
        	th:action="@{/checkout/edit/listfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckOutRequestEdit" /> <input type="hidden"
                name="forward" value="CheckinOutRequestList" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="startIndex" value="" /> <input
                type="hidden" name="endIndex" value="" /> 
                
        </form>
        
        <form class="form-horizontal"
            id="FlowCheckoutRequestEditService"
            th:action="@{/checkout/edit}" method="POST">
            <input type="hidden" name="referer"
                value="CheckOutRequestEdit" /> <input type="hidden"
                name="referer" value="CheckOutRequestEdit" /> <input
                type="hidden" name="submitMode" value="" /> <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="requestOption" value="" /> <input
                type="hidden" name="path" value="" />
            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ChkOutReqEdit.basicInfo.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckOutRequestEdit.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                        th:text="#{ChkOutReqEdit.lotID.text}">ロット番号</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"
                            th:text="${result.detailsView.lotId}">LOT-1511020001</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> <span
                        class="required"
                        th:if="${result.detailsView.isDraft() == true}">*</span>
                        <span
                        th:text="#{ChkOutReqEdit.changeProperty.text}">変更管理番号</span>
                    </label>
                    <div class="col-sm-10"
                        th:unless="${result.detailsView.isDraft() == true}">
                        <p class="form-control-static"
                            th:text="${result.param.inputInfo.pjtId}">PJT-11111</p>
                    </div>
                    <div class="col-sm-10"
                        th:if="${result.detailsView.isDraft() == true}">
                        <div class="input-group">
                            <select class="form-control validation"
                                id="pjtId" name="pjtId" required="required">
                                <option value="" disabled="disabled"><span
                                        th:text="#{ChkOutReqEdit.pleaseSelect.text}">------</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.pjtViews}"
                                    th:text="${res.label + ' (' + res.subValue + ')'}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.param.inputInfo.pjtId}"></option>
                            </select>
                            <div class="formError"
                                style="display: none;">
                                <span
                                    th:text="#{ChkOutReqEdit.changeProperty.text}">変更管理番号</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{ChkOutReqEdit.submitter.text}">申請者</span></label>
                    <div class="col-sm-3">
                        <p class="form-control-static"
                            th:text="${result.detailsView.submitterNm}">人の名前</p>
                    </div>
                </div>
                <div class="form-group">

                    <label class="col-sm-2 control-label"> <span
                        class="required"
                        th:if="${result.detailsView.isDraft() == true}">*</span>
                        <span
                        th:text="#{ChkOutReqEdit.submitterGroup.text}">申請のグループ</span>
                    </label>
                    <div class="col-sm-4"
                        th:unless="${result.detailsView.isDraft() == true}">
                        <p class="form-control-static"
                            th:text="${result.detailsView.groupNm}">1</p>
                    </div>
                    <div class="col-sm-4"
                        th:if="${result.detailsView.isDraft() == true}">
                        <div class="input-group">
                            <select class="form-control validation"
                                id="group" name="groupId"
                                required="required">
                                <option value=""><span
                                        th:text="#{ChkOutReqCreate.pleaseSelect.text}">------</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.groupViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value} == ${result.param.inputInfo.groupId}"></option>
                            </select>
                            <div class="formError"
                                style="display: none;">
                                <span
                                    th:text="#{ChkOutReqEdit.submitterGroup.text}">申請のグループ</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label"><span
                        th:text="#{ChkOutReqEdit.assignee.text}">担当者</span></label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <select class="form-control" id="assignee"
                                name="assigneeId">
                                <option value=""><span
                                        th:text="#{ChkOutReqEdit.pleaseSelect.text}">---Please
                                        Select---</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.assigneeViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.param.inputInfo.assigneeId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span> <span
                        th:text="#{ChkOutReqEdit.subject.text}">申請件名</span></label>
                    <div class="col-sm-10">
                        <input type="text"
                            class="form-control validation" id="subject"
                            name="subject"
                            th:value="${result.param.inputInfo.subject}"
                            required="required" />
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ChkOutReqEdit.subject.text}">申請件名</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span> <span
                        th:text="#{ChkOutReqEdit.contents.text}">申請内容</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control validation"
                            rows="3" id="contents" name="contents"
                            th:text="${result.param.inputInfo.contents}"
                            required="required"></textarea>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ChkOutReqEdit.contents.text}">申請内容</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{ChkOutReqEdit.chkInDueDate.text}">返却予定日</span></label>
                    <div class="col-sm-10 form-inline">
                        <span class="date datePicker"> <input
                            type="text"
                            class="form-control inputSmallDate filterField"
                            name="checkinDueDate" id="checkinDueDate"
                            value="" placeholder="yyyy/mm/dd"
                            th:value="${result.param.inputInfo.checkinDueDate}" />
                            <input type="hidden" name="forward"
                            value="LotSettingsMilestoneEdit" /> <span
                            class="input-group-addon datePickerIconWapper"
                            style="border: 0; background: none; padding: 0; position: relative; top: 6px; width: 24px; height: 24px; vertical-align: middle;">
                                <img
                                src="../../images/trinity/common/icon_calender_mini.png"
                                th:src="@{/resources/images/common/icon_calender_mini_28px.png}"
                                class="datePickerIcon2" />
                        </span> <span
                            th:text="#{ChkOutReqEdit.selectFromCalendar.text}">カレンダーから入力</span>
                        </span>
                    </div>



                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{ChkOutReqEdit.category.text}">カテゴリー</span></label>
                    <div class="col-sm-10 form-inline">

                        <div class="input-group">
                            <select class="form-control" id="ctgId"
                                name="ctgId">
                                <option value=""><span
                                        th:text="#{ChkOutReqEdit.pleaseSelect.text}">------</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.categoryViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.param.inputInfo.ctgId}">
                                </option>
                            </select>
                            <div class="input-group-btn"
                                id="addCategory">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>

                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{ChkOutReqEdit.addCategory.text}">カテゴリーを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="categorySubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addCategory('FlowCheckoutRequestEditService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="ctgButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{ChkOutReqEdit.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="categoryList">
                                                <dt
                                                    th:text="#{ChkOutReqEdit.categoryDesc.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.categoryViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>

                                    </div> </span>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{ChkOutReqEdit.milestone.text}">マイルストーン</span></label>
                    <div class="col-sm-10 form-inline">
                        <div class="input-group">
                            <select class="form-control" id="mstoneId"
                                name="mstoneId">
                                <option value=""><span
                                        th:text="#{ChkOutReqEdit.pleaseSelect.text}">------</span></option>
                                <option
                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.param.inputInfo.mstoneId}">
                                </option>
                            </select>
                            <div class="input-group-btn"
                                id="addMilestone">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>
                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{ChkOutReqEdit.addMilestone.text}">マイルストーンを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="milestoneSubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addMilestone('FlowCheckoutRequestEditService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="mstoneButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{ChkOutReqEdit.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="mstoneList">
                                                <dt
                                                    th:text="#{ChkOutReqEdit.categoryDesc.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ChkOutReqEdit.fileInfo.text}">貸出ファイル情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckOutRequestEdit.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <div class="attachedFiles">
                    <div id="preview-template" style="display: none;">
                    	<div class="uploadedFile">
                        	<span class="icon">
                        		<i class="fa fa-file-o"></i></span>
                        	<span class="filename" data-dz-name="data-dz-name"></span>
                            <span class="label label-auto labelRed"
                                        data-dz-errormessage="data-dz-errormessage"></span>
                           </div>
                       	</div>
					</div>
                    	<div class="form-group">
	                        <input type="file"
	                            name="checkOutRequestFile"
	                            id="checkOutRequestFile"
	                            class="col-sm-6" />
                        </div>

                        <div class="form-group">
                            <div class="attachmentDragArea"
                                id="dzUpload"
                                style="margin: 0; margin-top: 16px;">
                                <p class="title">
                                    <br /> <span
                                        th:text="#{ChkOutReqEdit.dragDrop1.text}">または</span>
                                </p>
                                <p class="dragAreaText">
                                    <span
                                        th:text="#{ChkOutReqEdit.dragDrop2.text}">ファイルをドラッグ＆ドロップしてください<br />（添付するファイルは
                                        10MByte 以内でお願いします）
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="hiddenJsonForm">
                    <input type="hidden" id="hiddenJson"
                        name="hiddenJson" th:value="${json}" /> <input
                        type="hidden" id="hiddenSelectedPath"
                        name="hiddenSelectedPath"
                        th:value="${result.resourceSelectionFolderView.selectedPath}" />
                </form>
                <div class="fileListUnit" id="fileListUnit">
                    <div class="fileListUnitLeft">
                        <h3>
                            <span
                                th:text="#{ChkOutReqEdit.treeFolder.text}">フォルダ</span>
                        </h3>
                        <div id="treeview" class="treeview">
                            <ul class="treeviewContainer"
                                th:remove="all">
                                <li><span
                                    class="treeviewBtn fa fa-caret-right"></span><span
                                    class="treeviewIcon fa fa-folder-o"></span><span
                                    class="treeviewTitle">Folder
                                        1</span>
                                    <ul>
                                        <li><span
                                            class="treeviewCount"></span><span
                                            class="treeviewExpander"></span><span
                                            class="treeviewExpander"></span><span
                                            class="treeviewIcon fa fa-folder-o"></span><span
                                            class="treeviewTitle">Folder
                                                1.1</span></li>
                                        <li><span
                                            class="treeviewExpander"></span><span
                                            class="treeviewBtn fa fa-caret-right"></span><span
                                            class="treeviewIcon fa fa-folder-o"></span><span
                                            class="treeviewTitle">Folder
                                                1.2</span>
                                            <ul>
                                                <li><span
                                                    class="treeviewCount">2</span><span
                                                    class="treeviewExpander"></span><span
                                                    class="treeviewExpander"></span><span
                                                    class="treeviewExpander"></span><span
                                                    class="treeviewIcon fa fa-folder-o"></span><span
                                                    class="treeviewTitle">Folder
                                                        1.1.1</span></li>
                                                <li class="select"><span
                                                    class="treeviewCount">5</span><span
                                                    class="treeviewExpander"></span><span
                                                    class="treeviewExpander"></span><span
                                                    class="treeviewExpander"></span><span
                                                    class="treeviewIcon fa fa-folder-o"></span><span
                                                    class="treeviewTitle">Folder
                                                        1.1.2
                                                        文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト</span></li>
                                            </ul></li>
                                    </ul></li>
                            </ul>
                        </div>
                    </div>
                    <div class="fileListUnitRight" id="fileUnit" style="max-height: 400px; overflow: scroll;">
                        <table id="fileViewTable"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th class="checkboxHead"><input
                                        type="checkbox"
                                        data-check="checkAll"
                                        name="checkAll" id="checkAll" 
                                        class="allCheckCheckout" 
                                        th:value="${result.resourceSelectionFolderView.selectedPath}" /></th>
                                    <th><span
                                        th:text="#{ChkOutReqEdit.treeFilename.text}">名前</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqEdit.treeFilesize.text}">サイズ</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqEdit.treeChkOutStatus.text}">貸出状況</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqEdit.treeChkOutUser.text}">貸出者</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqEdit.treeChkOutDate.text}">貸出日</span></th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr
                                    th:each="res : ${requestViewList}">
                                    <th scope="row"><input
                                    	class="selectedFile"
                                        th:if="${res.isFile() and (res.isSelected() or not res.isLocked())}"
                                        th:attr="data-lock=${res.isLocked()}"
                                        type="checkbox"
                                        name="selectedFiles"
                                        th:value="${res.path}"
                                        th:checked="${res.isSelected()} ? 'checked'" />
                                    </th>
                                    <td><span class="fileTreeIcon">
                                            <i
                                            th:if="${res.isDirectory()}"
                                            class="fa fa-folder-o"></i>
                                            <i th:if="${res.isFile()}"
                                            class="fa fa-file-o"></i>
                                    </span> <a th:if="${res.isDirectory()}"
                                        href="javascript:void(0);"
                                        th:onClick="'submitFormSelectFolder(url, formId, \'' + ${res.path} + '\'); return false;'">
                                            <span th:text="${res.name}">Folder_1</span>
                                    </a> <span th:if="${res.isFile()}"
                                        th:text="${res.name}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span></td>
                                    <td th:if="${!res.isFile()}"></td>
                                    
                                    <td th:if="${res.isFile()}">
                                       <span th:if="${res.isLocked()}">
                                          <span th:if="${res.isCheckoutRequest()}"
                                                th:text="#{ChkOutReqEdit.treeCheckOutRequested.text}"
                                                class="label label-justify labelGreen">
                                          </span>
                                            
                                          <span th:if="${res.isCheckinRequest()}"
                                                th:text="#{ChkOutReqEdit.treeCheckOutRequested.text}"
                                                class="label label-justify labelGreen">
                                          </span>
                                            
                                          <span th:if="${res.isRemovalRequest()}"
                                                th:text="#{ChkOutReqEdit.treeRemovalRequested.text}"
                                                class="label label-justify labelRed">
                                          </span>
                                       </span>
                                       
                                       <span th:if="${!res.isLocked()}" class="label label-justify labelBlue"
                                             th:text="#{ChkOutReqEdit.treeChkOutPossible.text}">
                                       </span>
                                    </td>
                                    
                                    <td>
                                       <span th:if="${res.isLocked()}" th:text="${res.submitterNm}"></span>
                                    </td>
                                    
                                    <td>
                                       <span th:if="${res.isLocked()}" th:text="${res.getLockedDate()}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0)"
                            class="btn btn-default"
                            th:onClick="'submitSaveChange(); return false;'"
                            th:text="#{ChkOutReqDraft.saveDraft.text}">変更を保存する
                        </a></li>
                        <li
                            th:if="${result.detailsView.isDraft() == true}">
                            <a href="" class="btn btn-default"
                            th:onClick="'submitReasonDialog(\'FlowCheckoutRequestRemovalService\', \'' 
   									+ #{RemovalReqEdit.confirmRemoval.text} 
   									+ '\', \'' + #{RemovalReqEdit.submitRemoval.text} 
   									+ '\', \'' + #{RemovalReqEdit.cancel.text} 
   									+ '\' ); return false;'"
                            th:text="#{ChkOutReqDraft.removeDraft.text}">下書きを削除する
                        </a>
                        </li>
                        <li
                            th:if="${result.detailsView.isDraft() == true}">
                            <a href="" class="btn btn-default strong"
                            th:onClick="'submitRequest(); return false;'"
                            th:text="#{ChkOutReqDraft.submitChkOutReq.text}">貸出申請をする
                        </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </form>

    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>

    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	
	var url = /*[[ @{/checkout/edit} ]]*/ '/checkout/edit';
	var sortUrl = /*[[ @{/checkout/edit/sortfile} ]]*/ '/checkout/edit/sortfile';
	var singleResourceUrl = /*[[ @{/checkout/edit/singleResource} ]]*/ '/checkout/create/singleResource';
    var formId = 'FlowCheckoutRequestEditService';
    var formSingleId = 'FlowResourceSingleSelection';
    var formAllId = 'FlowResourceAllSelection';
    var formSortFile = 'FlowResourceListSort';
    var lastSortName = 'undefined';
	$(document).ready(function () {
		makeFolderTreeView(url, formId);
		$("#fileViewTable").bind("sortEnd",function(sorter) {
		    var currentSort = sorter.target.config.sortList;
	        console.log(currentSort);
            columnNum = currentSort[0][0],
            columnName = $(sorter.target.config.headerList[columnNum]).text().toLowerCase();
            var column = $(sorter.target.config.headerList[columnNum]);
			if ( columnName != null){
				var index=column.index();
				var sortUp=column.is('.headerSortUp');
				var sortDown=column.is('.headerSortDown');
				var sortColumn = '';
				
				if (sortUp || sortDown){
				if(sortUp == true){
					var sortDir = "descending"
				}else if(sortDown == true){
					var sortDir = "ascending"
				}
				if ( lastSortName === (columnName + sortDir) ){
					return false;
				}
				
				if ( columnName == "name" || columnName == "名前" ){
					sortColumn = 'name';
				}
				if ( columnName == "size" || columnName == "サイズ" ){
					sortColumn = 'size';
				}
				if ( columnName == "change status" || columnName == "変更状況" ){
					sortColumn = 'status';
				}
				
				if ( columnName == "request date" || columnName == "申請日" ){
					sortColumn = 'date';
				}
				
				
				if ( columnName == "request user" || columnName == "申請者" ){
					sortColumn = 'user';
				}
				
				console.log(columnName)
				form = document.getElementById(formSortFile);
				form.columnName.value = sortColumn;
				form.sortOrder.value = sortDir;
				getTriLayer("mask").startWaiting('fileListUnit');
				appendWindowId(form);
				
				lastSortName = columnName + sortDir;
				
				$.ajax({
		            type: "POST",
		            url: sortUrl,
		            global: true,
		            data: $(form).serialize(),
		            success: function(data) {
		            	 $("#fileViewTable tbody").html($(data).find("tbody").html());
		                 updateHeadCheckbox('allCheckCheckout','selectedFile');
		                 $("#fileViewTable").tablesorter({headers: {0: { sorter: false}}});
		                 $('#fileViewTable').trigger('update');
		                 startIndex = 30;
		                 scrollMore = true;
		                 getTriLayer("mask").endWaiting('fileListUnit');
		            },
		        });
				
				return false;
			  }
			}
	});
	
	});

	$(function() {
		getTriLayer("flashMessage").show();
		
	});
	
	function submitSaveChange() {
		getTriLayer("mask").startWaiting('fileListUnit');
		form = document.getElementById('FlowCheckoutRequestEditService');
        form.submitMode.value = 'changes';
		form.RequestType.value = 'submitChanges';
		$(form.selectedFiles).remove();
		updateHeadCheckbox('allCheckCheckout','selectedFile');
        safeSubmit('FlowCheckoutRequestEditService', {'validation' : false});
	}
	
	function submitRequest() {
		if ( !validateOnSubmit() ) return;
		getTriLayer("mask").startWaiting('fileListUnit');
		form = document.getElementById('FlowCheckoutRequestEditService');
        form.submitMode.value = 'request';
		form.RequestType.value = 'submitChanges';
		$(form.selectedFiles).remove();
		updateHeadCheckbox('allCheckCheckout','selectedFile');
        safeSubmit('FlowCheckoutRequestEditService');
	}
	
	$("#fileUnit").on("scroll", function(event) {
		  var translate = "translate(1px,"+this.scrollTop+"px)";
		  var headElement = this.querySelector("thead");
		  var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
		  if(isIE11){
			  $(headElement).find('th').css('transform',translate);
			  $(headElement).find('th').css('background-color','#666666');
		  }else{
			  headElement.style.transform = translate;  
		  }
		  var $elem = $(event.target);
		  if($elem.scrollTop() >= ($("#fileUnit")[0].scrollHeight - 385) - 100 ) {
			  initScrollTable(url);
		  }
		});
    
	$("input[data-check='checkAll']").change(function () {
		$('input[type="checkbox"]').prop("checked", this.checked);
	});

	$("div.attachmentDragArea").on("dragover",function(e){
		e.preventDefault();
		$(this).addClass("dropping");
	});
	
	
	$("div.attachmentDragArea").on("dragleave",function(e){
		e.preventDefault();
		$(this).removeClass("dropping");
	});
	
	$("div.attachmentDragArea").on("drop", function(_e){
		var e = _e;
		if( _e.originalEvent ){
			e = _e.originalEvent;
		}
		e.stopPropagation();
		e.preventDefault();
		
		$(this).removeClass("dropping");
	});

	var uploadDropzone;
    Dropzone.autoDiscover = false;
    
    $(document).ready(function () {
    	
	    var urlUpload = /*[[ @{/checkout/edit/upload} ]]*/'/trinity/checkout/edit/upload';

		uploadDropzone = new Dropzone("#dzUpload", {
			previewsContainer: ".attachedFiles",
			paramName: "userFile",
			url: urlUpload,
			params: { "RequestType" : "onChange", "requestOption" : "fileUpload", "WindowsId" : $('#windowId').val() },
	        maxFilesize: 10,
	        uploadmultiple: false,
	        parallelUploads: 1,
	        previewTemplate: document.getElementById('preview-template').innerHTML,
	        autoProcessQueue: true,
	        clickable: "#checkOutRequestFile",
	        dictFileTooBig: /*[[#{ChkOutReqEdit.attachedSize.text}]]*/,
		});

		uploadDropzone.on("success", function(file, response) {
			$("#message").html("");
			var message = $(response).find("#message").html();
			
			if (message.trim()) {
				$("#message").html(message);
			} else {
				var selectedCheckbox = [];
				$("input[name=selectedFiles]:checked").each(function(e, val) { 
					selectedCheckbox.push( $(this).val() );
				});
				
				var selectedFiles = [];
				$("#selectedFileList li", $(response)).each(function(e, val) {
					selectedFiles.push( $(this).attr("value") );
				});
				
				for(var i = 0; i < selectedFiles.length; i++) {
					var path = selectedFiles[i];
					if( $.inArray(path, selectedCheckbox) < 0 ) {
						if( $("input[value = '" + path + "']").length ) {
							$("input[value = '" + path + "']").prop('checked', true);
						}
					}
				}
				$(".folderItem.select").find(".treeviewTitle").trigger("click");
			}
		});
	});

    // to prevent double open dialogue window when use Dropzone.clickable with input[type=file].
	$("#checkOutRequestFile").on("click", function(e) {
		e.preventDefault();
		e.stopPropagation();
	});

	 /* ]]> */
	</script>
</body>
</html>
