<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ChkOutReqDetails.title.text}" th:fragment="titleHtml">trinity
    | Checkout Request - Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="img/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/img/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="img/common/icon_bell.png"
                        th:src="@{/resources/img/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="img/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img src="img/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="ThemeView.html">ロット設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="">ロット</a></li>
                <li><a href="CheckRequestViewList.html"
                    class="select">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckRequestViewList.html"
                    class="select">資産の貸出と返却</a></li>
                <li><a href="">資産の削除</a></li>
                <li><a href="">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_request_info.png"
                    th:src="@{/resources/images/common/icon_request_info.png}"
                    alt="" /></span><span
                    th:text="#{ChkOutReqDetails.header.text}">貸出申請の詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{CheckOutRequestDetails.help.url}"
                   target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowCheckoutRequestDetailsService\');return false;'"
                    th:text="#{ChkOutReqDetails.newWindow.text}">別ウインドウに複製</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printCheckoutRequestDetails();return false;'"
                    th:text="#{ChangePropertyDetails.printablePage.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <form id="FlowCheckoutRequestEditService" method="POST"
            th:action="@{/checkout/edit}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId" value="" />
        </form>

        <form id="FlowPrintCheckoutRequestDetailsService" method="POST"
            th:action="@{/checkout/details/print}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" />
        </form>
        
           <form id="FlowResourceListSort" 
        	th:action="@{/checkout/details/sortfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckOutRequestDetails" /> <input type="hidden"
                name="forward" value="CheckOutRequestDetails" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="columnName" value="" /> <input
                type="hidden" name="sortOrder" value="" /> 
                
        </form>
        
        <form id="FlowResourceListDisplay" 
        	th:action="@{/checkout/details/listfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckOutRequestDetails" /> <input type="hidden"
                name="forward" value="CheckinOutRequestList" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="startIndex" value="" /> <input
                type="hidden" name="endIndex" value="" /> 
                
        </form>
        <form class="form-horizontal"
            id="FlowCheckoutRequestDetailsService"
            th:action="@{/checkout/details}" method="POST"
            target="CloneWindow">
            <input type="hidden" name="referer"
                value="CheckOutRequestDetails" /> <input type="hidden"
                name="submitMode" value="" /> <input type="hidden"
                name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" /> <input
                type="hidden" name="requestOption" value="none" /> <input
                type="hidden" name="categorySubject" value="" /> <input
                type="hidden" name="path" value="" /> <input
                type="hidden" name="viewMode" value="" />

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ChkOutReqDetails.basicInfo.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckOutRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>

                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{ChkOutReqDetails.lotID.text}">ロット番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.lotId}">LOT-1511020001</span>&nbsp;<span
                            class="label labelLightblue"
                            th:text="${result.detailsView.lotStatus}">ロット進行中</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkOutReqDetails.changeID.text}">変更管理番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.pjtId}">PJT-15110400011</span>&nbsp;<span
                            class="label labelLightblue"
                            th:text="${result.detailsView.pjtStatus}">変更進行中</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkOutReqDetails.referenceID.text}">変更要因番号</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.referenceId}">RFC-12345</span>
                    </dd>
                    <dt class="userLabel">
                        <span
                             th:text="#{ChkOutReqDetails.submitter.text}">申請者</span>
                    </dt>
                    <dd class="user">
                        <img class = "userImg" src="img/common/icon_obake.png"
                            th:src="${result.detailsView.submitterIconPath}"
                            alt="Tommy Robinson" /><span
                            th:text="${result.detailsView.submitterNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkOutReqDetails.group.text}">申請のグループ</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.groupNm}">グループ1</span>
                    </dd>
                    <dt class="userLabel">
                        <span
                            th:text="#{ChkOutReqDetails.assignee.text}">担当者</span>
                    </dt>
                    <dd class="user">
                        <img src="img/common/icon_obake.png" class = "userImg" 
                            th:if="${not #strings.isEmpty(result.detailsView.assigneeIconPath)}"
                            th:src="${result.detailsView.assigneeIconPath}"
                            alt="Tommy Robinson"/><span
                            th:text="${result.detailsView.assigneeNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkOutReqDetails.subject.text}">申請件名</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.subject}">なぜそんな無闇をしたと聞く人があるかも知れぬ</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkOutReqDetails.contents.text}">申請内容</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.contents}">別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkOutReqDetails.chkInDueDate.text}">(*)
                            返却予定日</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.checkinDueDate}">2015/11/24</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkOutReqDetails.category.text}">カテゴリー</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.ctgNm}">テスト</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkOutReqDetails.milestone.text}">マイルストーン</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                    </dd>
                </dl>
            </section>




            <section class="section sectionRadius" id="treeviewFileTable">
                <h2>
                    <span th:text="#{ChkOutReqDetails.fileInfo.text}">ファイル情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckOutRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <nav class="sectionNav">
	                <ul class="sectionNavLeft" style="float:left;">
	                    <li>
	                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'submitFormOpenAllFolderListView(url, formId); return false;'"
	                         class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
	                    </li>
	                </ul>
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkout" th:title="#{ChkOutReqDetails.messageMouseoverChkOut.text}"
                                src="images/common/icon_copy_lending.png"
                                th:src="@{/resources/images/common/icon_copy_lending.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkoutPath}" /></a></li>
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkin" th:title="#{ChkOutReqDetails.messageMouseoverChkIn.text}"
                                src="images/common/icon_copy_return.png"
                                th:src="@{/resources/images/common/icon_copy_return.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkinPath}" /></a></li>
                    </ul>
                </nav>




                <form id="hiddenJsonForm">
                    <input type="hidden" id="hiddenJson"
                        name="hiddenJson" th:value="${json}" /> <input
                        type="hidden" id="hiddenSelectedPath"
                        name="hiddenSelectedPath"
                        th:value="${result.resourceSelectionFolderView.selectedPath}" />
                </form>

                <div class="fileListUnit" id="fileListUnit">
                    <div class="fileListUnitLeft matchHeight">
                        <h3>
                            <span
                                th:text="#{ChkOutReqDetails.treeFolder.text}">フォルダツリー</span>
                        </h3>
                        <div id="treeview" class="treeview">
                            <ul class="treeviewContainer"
                                th:remove="all">
                                <li><span
                                    class="treeviewBtn fa fa-caret-right"></span>
                                    <span
                                    class="treeviewIcon fa fa-folder-o"></span>
                                    <span class="treeviewTitle">Folder
                                        1</span>
                                    <ul>
                                        <li><span
                                            class="treeviewCount">3</span>
                                            <span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewIcon fa fa-folder-o"></span>
                                            <span class="treeviewTitle">Folder
                                                1.1</span></li>
                                        <li><span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewBtn fa fa-caret-right"></span>
                                            <span
                                            class="treeviewIcon fa fa-folder-o"></span>
                                            <span class="treeviewTitle">Folder
                                                1.2</span>
                                            <ul>
                                                <li><span
                                                    class="treeviewCount">2</span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewIcon fa fa-folder-o"></span>
                                                    <span
                                                    class="treeviewTitle">Folder
                                                        1.1.1</span></li>
                                                <li class="select"><span
                                                    class="treeviewCount">5</span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewIcon fa fa-folder-o"></span>
                                                    <span
                                                    class="treeviewTitle">Folder
                                                        1.1.2
                                                        文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト</span></li>
                                            </ul></li>
                                    </ul></li>
                            </ul>
                        </div>

                    </div>
                    <div class="fileListUnitRight matchHeight" id="fileUnit" style="max-height: 400px; overflow: scroll;">
                        <table id="fileViewTable"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeFilename.text}">名前</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeFilesize.text}">サイズ</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeSubmitter.text}">申請者</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeChkOutDate.text}">貸出日</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeChkInDueDate.text}">返却予定日</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeChangeProperty.text}">変更管理情報</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeRequestID.text}">申請情報番号</span></th>
                                </tr>
                            </thead>
                            <tbody id="result_checkout">
                                <tr
                                    th:each="res : ${requestViewList}">
                                    <td><span class="fileTreeIcon">
                                            <i
                                            th:if="${res.isDirectory()}"
                                            class="fa fa-folder-o"></i>
                                            <i th:if="${res.isFile()}"
                                            class="fa fa-file-o"></i>
                                    </span> <a th:if="${res.isDirectory()}"
                                        href="javascript:void(0);"
                                        th:onClick="'submitFormSelectFolder(url, formId, \'' + ${res.path} + '\'); return false;'">
                                            <span th:text="${res.name}">Folder_1</span>
                                    </a> <span th:if="${res.isFile()}"
                                        th:text="${res.name}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span></td>
                                    <td><span
                                        th:text="${result.detailsView.submitterNm}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.checkoutTime}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.checkinDueDate}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.pjtId}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.areqId}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </section>
            
            <section class="section sectionRadius" id="listViewFileTable" style="display:none;">
                <h2>
                    <span th:text="#{ChkOutReqDetails.fileInfo.text}">ファイル情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckOutRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                 <nav class="sectionNav">
                    <ul class="sectionNavLeft" style="float:left;">
                    <li>
                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'displayTreeFileTable(); return false;'"
                         class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
                    </li>
                </ul>
                   <ul class="sectionNavRight">
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkout" th:title="#{ChkOutReqDetails.messageMouseoverChkOut.text}"
                                src="images/common/icon_copy_lending.png"
                                th:src="@{/resources/images/common/icon_copy_lending.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkoutPath}" /></a></li>
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkin" th:title="#{ChkOutReqDetails.messageMouseoverChkIn.text}"
                                src="images/common/icon_copy_return.png"
                                th:src="@{/resources/images/common/icon_copy_return.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkinPath}" /></a></li>
                    </ul>
                </nav>
                
                <div class="fileListUnitRight matchHeight">
                        <table id="fileViewTableListView"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeFilename.text}">名前</span></th>
                                    <th><span
                                        th:text="#{ChkOutReqDetails.treeFilesize.text}">サイズ</span></th>
                                    <th class="sorter-false"><span
                                        th:text="#{ChkOutReqDetails.treeSubmitter.text}">申請者</span></th>
                                    <th class="sorter-false"><span
                                        th:text="#{ChkOutReqDetails.treeChkOutDate.text}">貸出日</span></th>
                                    <th class="sorter-false"><span
                                        th:text="#{ChkOutReqDetails.treeChkInDueDate.text}">返却予定日</span></th>
                                    <th class="sorter-false"><span
                                        th:text="#{ChkOutReqDetails.treeChangeProperty.text}">変更管理情報</span></th>
                                    <th class="sorter-false"><span
                                        th:text="#{ChkOutReqDetails.treeRequestID.text}">申請情報番号</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="res : ${result.resourceSelectionFolderView.requestViews}">
                                    <td>
                                    
                                    <span th:if="${res.isFile() and !result.getParam().getInputInfo().isFolderTreeFormat()}"
                                        th:text="${res.path}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span></td>
                                    <td><span
                                        th:text="${result.detailsView.submitterNm}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.checkoutTime}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.checkinDueDate}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.pjtId}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.areqId}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
             </section>
        </form>
        <form id="FlowCheckinRequestCreateService"
            th:action="@{/checkin/create}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="CheckinOutRequestList" /> <input type="hidden"
                name="areqId" th:value="${result.detailsView.areqId}" />
        </form>

        <form id="FlowCheckoutRequestRemovalService"
            th:action="@{/checkout/remove}" method="POST">
            <input type="hidden" name="RequestType" value="submitChange" />
            <input type="hidden" name="referer"
                value="CheckinOutRequestList" /> <input type="hidden"
                name="forward" value="CheckinOutRequestList" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" />
        </form>

        <section class="section sectionRadiusWidth" th:if="${result.header.selectedLot.enabled}">
            <nav class="sectionNav">
                <ul class="sectionNavRight">
                    <li><a href="javascript:void(0)"
                        class="btn btn-default"
                        th:onClick="'submitEditingService(\'' + ${result.detailsView.areqId} + '\');return false;'"
                        th:text="#{ChkOutReqDetails.buttonEdit.text}">編集する</a></li>
                    <li><a href="javascript:void(0)"
                        th:attr="data-value=${result.detailsView.areqId}"
                        class="btn btn-default"
                        onClick="submitRemovalService();return false;"
                        th:text="#{ChkOutReqDetails.removeChkOutReq.text}">貸出申請を削除する</a></li>
                    <li th:if="${result.detailsView.isCheckinEnabled()}">
                      <a href="#" class="btn btn-default strong"
                        onClick="javascript:safeSubmit('FlowCheckinRequestCreateService', {'validation':false}); return false;"
                        th:text="#{ChkOutReqDetails.submitChkInRequest.text}">返却申請する
                      </a>
                    </li>
                </ul>
            </nav>
        </section>




    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="img/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="img/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	
	var url = /*[[ @{/checkout/details} ]]*/ '/checkout/details';
	var sortUrl = /*[[ @{/checkout/details/sortfile} ]]*/ '/checkout/details/sortfile';
    var formId = 'FlowCheckoutRequestDetailsService';
    var formSortFile = 'FlowResourceListSort';
    var lastSortName = 'undefined';
	$(document).ready(function () {
		makeFolderTreeView(url, formId);
		$("#fileViewTable").bind("sortEnd",function(sorter) {
		    var currentSort = sorter.target.config.sortList;
	        console.log(currentSort);
            columnNum = currentSort[0][0],
            columnName = $(sorter.target.config.headerList[columnNum]).text().toLowerCase();
            var column = $(sorter.target.config.headerList[columnNum]);
			if ( columnName != null){
				var index=column.index();
				var sortUp=column.is('.headerSortUp');
				var sortDown=column.is('.headerSortDown');
				var sortColumn = '';
				
				if (sortUp || sortDown){
				if(sortUp == true){
					var sortDir = "descending"
				}else if(sortDown == true){
					var sortDir = "ascending"
				}
				if ( lastSortName === (columnName + sortDir) ){
					return false;
				}
				
				if ( columnName == "name" || columnName == "名前" ){
					sortColumn = 'name';
				}
				if ( columnName == "size" || columnName == "サイズ" ){
					sortColumn = 'size';
				}
				if ( columnName == "change status" || columnName == "変更状況" ){
					sortColumn = 'status';
				}
				
				if ( columnName == "request date" || columnName == "申請日" ){
					sortColumn = 'date';
				}
				
				
				if ( columnName == "request user" || columnName == "申請者" ){
					sortColumn = 'user';
				}
				
				console.log(columnName)
				form = document.getElementById(formSortFile);
				form.columnName.value = sortColumn;
				form.sortOrder.value = sortDir;
				getTriLayer("mask").startWaiting('fileListUnit');
				appendWindowId(form);
				
				lastSortName = columnName + sortDir;
				
				$.ajax({
		            type: "POST",
		            url: sortUrl,
		            global: true,
		            data: $(form).serialize(),
		            success: function(data) {
		            	 $("#fileViewTable tbody").html($(data).find("tbody").html());
		                 updateHeadCheckbox('allCheckCheckout','selectedFile');
		                 $("#fileViewTable").tablesorter({headers: {0: { sorter: false}}});
		                 $('#fileViewTable').trigger('update');
		                 startIndex = 30;
		                 scrollMore = true;
		                 getTriLayer("mask").endWaiting('fileListUnit');
		            },
		        });
				
				return false;
			  }
			}
	});
	
	});
	
	$(function() {
		var clipboard_checkout = new Clipboard('.clipboard_checkout');
		var clipboard_checkin = new Clipboard('.clipboard_checkin');
		
		clipboard_checkout.on('success', function(e) {
			openBandPopup({
				message:/*[[#{ChkInOutReqList.messageCopypathChkOut.text}]]*/ "貸出フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});
		clipboard_checkin.on('success', function(e) {
			openBandPopup({
				message:/*[[#{ChkInOutReqList.messageCopypathChkIn.text}]]*/ "返却フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});

		getTriLayer("flashMessage").show();
		
	});
		
	function submitRemovalService() {
   		openBandPopup({
			message :messageReplace([[#{ChkOutReqDetails.confirmRemoval.text}]], [[${result.detailsView.areqId}]]),
			btn1Text :[[#{ChkOutReqDetails.submitRemoval.text}]],
			btn2Text :[[#{ChkOutReqDetails.cancel.text}]],
			
			btn1Func :function(){
						safeSubmit('FlowCheckoutRequestRemovalService');
					  },
			btn2Func :function(){}
		});
  	}
		
	function submitCheckinRequestCreateService(areqId) {
		form = document.getElementById('FlowCheckinRequestCreateService');
		form.areqId.value = areqId;
		safeSubmit('FlowCheckinRequestCreateService', {'validation':false});
	}

	function submitEditingService(areqId) {
        form = document.getElementById('FlowCheckoutRequestEditService');
        form.areqId.value = areqId;
        safeSubmit('FlowCheckoutRequestEditService', {'validation':false});
    }
	
	$("#fileUnit").on("scroll", function(event) {
		  var translate = "translate(1px,"+this.scrollTop+"px)";
		  var headElement = this.querySelector("thead");
		  var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
		  if(isIE11){
			  $(headElement).find('th').css('transform',translate);
			  $(headElement).find('th').css('background-color','#666666');
		  }else{
			  headElement.style.transform = translate;  
		  }
		  var $elem = $(event.target);
		  if($elem.scrollTop() >= ($("#fileUnit")[0].scrollHeight - 385) - 100 ) {
			  initScrollTable(url);
		  }
		});

	$(document).ready(function(){
		$('#FlowPrintCheckoutRequestDetailsService').submit(function() {
		    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    this.target = 'Popup_Window';
		});
	})
	
	function printCheckoutRequestDetails() {
		submit("FlowPrintCheckoutRequestDetailsService");
    }
	/* ]]> */
	</script>

</body>
</html>
