<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ChkInReqDetails.title.text}" th:fragment="titleHtml">trinity
    | Checkout Request - Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html"
                    class="select">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <article class="contents fullWidth" th:fragment="innerHtml">
    
        <form id="FlowCheckinRequestApprovalPendingCancellationService"
		     			method="POST" th:action="@{/checkin/cancel}">
		    <input type="hidden" name="RequestType" value="submitChanges" />
		    <input type="hidden" name="referer" value="CheckinRequestDetails" />
		    <input type="hidden" name="forward" value="CheckInOutRequestList" />
		    <input type="hidden" name="areqId" th:value="${result.param.selectedAreqId}" />
		</form>
        
         <form
            id="FlowCheckinRequestApprovalPendingRemovalCommentService"
            method="POST" th:action="@{/checkin/remove/validate}">
            <input type="hidden" name="RequestType" value="validate" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" />
        </form>
        
		

        <form id="FlowPrintCheckinRequestDetailsService" method="POST"
            th:action="@{/checkin/details/print}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" />
        </form>
        
          <form id="FlowResourceListSort" 
        	th:action="@{/checkin/details/sortfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckInRequestDetails" /> <input type="hidden"
                name="forward" value="CheckInRequestDetails" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="columnName" value="" /> <input
                type="hidden" name="sortOrder" value="" /> 
                
        </form>

        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_request_info.png"
                    th:src="@{/resources/images/common/icon_request_info.png}"
                    alt="" /></span> <span
                    th:text="#{ChkInReqDetails.header.text}">申請済みの返却申請</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{CheckInRequestDetails.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowCheckinRequestDetailsService\');return false;'"
                    th:text="#{ChkInReqDetails.newWindow.text}">別ウインドウに複製</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printCheckinRequestDetails();return false;'"
                    th:text="#{ChkInReqDetails.print.text}">印刷用ページ</a></li>
            </ul>

        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <form class="form-horizontal"
            id="FlowCheckinRequestDetailsService"
            th:action="@{/checkin/details}" method="POST"
            target="CloneWindow">
            <input type="hidden" name="referer"
                value="CheckInRequestDetails" /> <input type="hidden"
                name="submitMode" value="" /> <input type="hidden"
                name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" /> <input
                type="hidden" name="requestOption" value="none" /> <input
                type="hidden" name="categorySubject" value="" /> <input
                type="hidden" name="path" value="" /><input
                type="hidden" name="viewMode" value="" />

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ChkInReqDetails.basicInfo.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckInRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>

                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{ChkInReqDetails.lotID.text}">ロット番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.lotId}">LOT-1511020001</span>
                        &nbsp; <span class="label labelBlue"
                            th:text="${result.detailsView.lotStatus}">ロット進行中</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqDetails.requestID.text}">申請番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.areqId}">LND-15110400011</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqDetails.changeID.text}">変更管理番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.pjtId}">PJT-15110400011</span>&nbsp;<span
                            class="label labelBlue"
                            th:text="${result.detailsView.pjtStatus}">変更進行中</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqDetails.referenceID.text}">変更要因番号</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.referenceId}">RFC-12345</span>
                    </dd>
                </dl>
                <br />
                <div class="row">
                    <div class="col-sm-5">
                        <dl class="dl-horizontal">
                            <dt class="userLabel">
                                <span
                                    th:text="#{ChkInReqDetails.submitter.text}">申請者</span>
                            </dt>
                            <dd class="user">
                                <img
                                    th:src="${result.detailsView.submitterIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${result.detailsView.submitterNm}">Tommy
                                    Robinson</span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-sm-7">
                        <dl class="dl-horizontal">
                            <dt>
                                <span
                                    th:text="#{ChkInReqDetails.group.text}">申請のグループ</span>
                            </dt>
                            <dd>
                                <span
                                    th:text="${result.detailsView.groupNm}">グループ1</span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-5">
                        <dl class="dl-horizontal">
                            <dt class="userLabel">
                                <span
                                    th:text="#{ChkInReqDetails.assignee.text}">担当者</span>
                            </dt>
                            <dd class="user">
                                <img
                                    th:if="not ${#strings.isEmpty(result.detailsView.assigneeIconPath)}"
                                    th:src="${result.detailsView.assigneeIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${result.detailsView.assigneeNm}">Tommy
                                    Robinson</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-7"></div>
                </div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{ChkInReqDetails.subject.text}">申請件名</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.subject}">なぜそんな無闇をしたと聞く人があるかも知れぬ</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqDetails.contents.text}">申請内容</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.contents}">別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqDetails.chkInDueDate.text}">(*)
                            返却予定日</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.checkinDueDate}">2015/11/24</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqDetails.category.text}">カテゴリー</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.ctgNm}">テスト</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqDetails.milestone.text}">マイルストーン</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                    </dd>
                </dl>
            </section>
            <section class="section sectionRadius">

                <h2>
                    <span th:text="#{ChkInReqDetails.attachment.text}">添付ファイル</span><span
                        class="helpBtn inline"><a th:href="#{CheckInRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{ChkInReqDetails.attached.text}">添付ファイル</span>
                    </dt>
                    <dd>
                        <ul
                            th:each="res : ${result.detailsView.attachmentFileNms}">
                            <li><span><i
                                    class="fa fa-file-o fa-2x"></i></span>&nbsp;
                                <a href="javascript:void(0)"
                                class="underline"
                                th:value="${res.seqNo}"
                                th:text="${res.fileNm}"
                                th:onclick="'javascript:submitCheckinReqestAttachmentDownloadService(this);return false'">book1.xlsx</a>
                            </li>
                            <li th:remove="all"><span><i
                                    class="fa fa-file-excel-o fa-2x"></i></span>&nbsp;<a
                                href="" class="underline">book1.xlsx&nbsp;</a></li>
                            <li th:remove="all"><span><i
                                    class="fa fa-file-excel-o fa-2x"></i></span>&nbsp;<a
                                href="" class="underline">book2.xlsx&nbsp;</a></li>
                            <li th:remove="all"><span><i
                                    class="fa fa-file-pdf-o fa-2x"></i></span>&nbsp;<a
                                href="" class="underline">somefile.pdf&nbsp;</a></li>
                        </ul>
                    </dd>
                </dl>

            </section>

            <section class="section sectionRadius"  id="treeviewFileTable">
                <h2>
                    <span th:text="#{ChkInReqDetails.fileInfo.text}">返却ファイル情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckInRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>

                <nav class="sectionNav">
                  	<ul class="sectionNavLeft" style="float:left;">
	                    <li>
	                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'submitFormOpenAllFolderListView(url, formId); return false;'"
	                        class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
	                    </li>
	                </ul>
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkout" th:title="#{ChkInReqDetails.messageMouseoverChkOut.text}"
                                src="images/common/icon_copy_lending.png"
                                th:src="@{/resources/images/common/icon_copy_lending.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkoutPath}" /></a></li>
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkin" th:title="#{ChkInReqDetails.messageMouseoverChkIn.text}"
                                src="images/common/icon_copy_return.png"
                                th:src="@{/resources/images/common/icon_copy_return.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkinPath}" /></a></li>
                    </ul>
                </nav>

                <form id="hiddenJsonForm">
                    <input type="hidden" id="hiddenJson"
                        name="hiddenJson" th:value="${json}" /> <input
                        type="hidden" id="hiddenSelectedPath"
                        name="hiddenSelectedPath"
                        th:value="${result.resourceSelectionFolderView.selectedPath}" />
                </form>
                <div class="fileListUnit" id="fileListUnit">
                    <div class="fileListUnitLeft matchHeight">
                        <h3>
                            <span
                                th:text="#{ChkOutReqDetails.treeFolder.text}">フォルダ</span>
                        </h3>
                        <div id="treeview" class="treeview">
                            <ul class="treeviewContainer"
                                th:remove="all">
                                <li><span
                                    class="treeviewBtn fa fa-caret-right"></span>
                                    <span
                                    class="treeviewIcon fa fa-folder-o"></span>
                                    <span class="treeviewTitle">Folder
                                        1</span>
                                    <ul>
                                        <li><span
                                            class="treeviewCount">3</span>
                                            <span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewIcon fa fa-folder-o"></span>
                                            <span class="treeviewTitle">Folder
                                                1.1</span></li>
                                        <li><span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewBtn fa fa-caret-right"></span>
                                            <span
                                            class="treeviewIcon fa fa-folder-o"></span>
                                            <span class="treeviewTitle">Folder
                                                1.2</span>
                                            <ul>
                                                <li><span
                                                    class="treeviewCount">2</span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewIcon fa fa-folder-o"></span>
                                                    <span
                                                    class="treeviewTitle">Folder
                                                        1.1.1</span></li>
                                                <li class="select"><span
                                                    class="treeviewCount">5</span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewIcon fa fa-folder-o"></span>
                                                    <span
                                                    class="treeviewTitle">Folder
                                                        1.1.2
                                                        文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト</span></li>
                                            </ul></li>
                                    </ul></li>
                            </ul>
                        </div>

                    </div>

                    <div class="fileListUnitRight matchHeight" id="fileUnit" style="max-height: 400px; overflow: scroll;">
                        <table id="fileViewTable"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{ChkInReqDetails.treeStatus.text}">ステータス</span></th>
                                    <th><span
                                        th:text="#{ChkInReqDetails.treeFilename.text}">名前</span></th>
                                    <th><span
                                        th:text="#{ChkInReqDetails.treeFilesize.text}">サイズ</span></th>
                                    <th class="sorter-false"><span
                                        th:text="#{ChkInReqDetails.treeDiff.text}">差分</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="res : ${requestViewList}">
                                    <td class="labels"
                                        th:switch="${res.stsId}"><span
                                        th:case="EQUAL"
                                        class="label labelNotChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.equal.text}">未変更</span>
                                        <span th:case="ADD"
                                        class="label labelAdded label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.add.text}">新規</span>
                                        <span th:case="EDIT"
                                        class="label labelChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.edit.text}">変更</span>
                                        <span th:case="DELETE"
                                        class="label labelDeleted label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.delete.text}">削除</span>
                                    </td>
                                    <td><span class="fileTreeIcon">
                                            <i
                                            th:if="${res.isDirectory()}"
                                            class="fa fa-folder-o"></i>
                                            <i th:if="${res.isFile()}"
                                            class="fa fa-file-o"></i>
                                    </span> <a th:if="${res.isDirectory()}"
                                        href="javascript:void(0);"
                                        th:onClick="'submitFormSelectFolder(url, formId, \'' + ${res.path} + '\'); return false;'">
                                            <span th:text="${res.name}">Folder_1</span>
                                    </a> <span th:if="${res.isFile()}"
                                        th:text="${res.name}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span>
                                    </td>
                                    <td class="text-center"><a
                                        th:if="${res.isDiff()}"
                                        href="javascript:void(0)"
                                        class="btn btn-default btn-cramped"
                                        th:onclick="'submitCheckInFileDifferences(\'' + ${res.path} + '\'); return false;'">
                                            <span
                                            th:text="#{ChkInReqDetails.viewDiff.text}">差分をみる</span>
                                    </a></td>
                                </tr>
                            </tbody>
                            <tbody th:remove="all">
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-folder-open-o"></i></span>Folder_1</td>
                                    <td class="text-right">12500MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><em
                                            class="fa fa-file-o"></em></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </section>
             <section class="section sectionRadius" id="listViewFileTable" style="display:none;">
                <h2>
                    <span th:text="#{ChkInReqDetails.fileInfo.text}">返却ファイル情報</span><span
                        class="helpBtn inline"><a th:href="#{CheckInRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                 <nav class="sectionNav">
                    <ul class="sectionNavLeft" style="float:left;">
                    <li>
                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'displayTreeFileTable(); return false;'"
                         class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
                    </li>
                </ul>
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkout" th:title="#{ChkInReqDetails.messageMouseoverChkOut.text}"
                                src="images/common/icon_copy_lending.png"
                                th:src="@{/resources/images/common/icon_copy_lending.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkoutPath}" /></a></li>
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkin" th:title="#{ChkInReqDetails.messageMouseoverChkIn.text}"
                                src="images/common/icon_copy_return.png"
                                th:src="@{/resources/images/common/icon_copy_return.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkinPath}" /></a></li>
                    </ul>
                </nav>
                
                <div class="fileListUnitRight matchHeight">
                        <table id="fileViewTableListView"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeStatus.text}">ステータス</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeFilename.text}">名前</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeFilesize.text}">サイズ</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeDiff.text}">差分</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="res : ${result.resourceSelectionFolderView.requestViews}">
                                    <td class="labels"
                                        th:switch="${res.stsId}"><span
                                        th:case="EQUAL"
                                        class="label labelNotChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.equal.text}">未変更</span>
                                        <span th:case="ADD"
                                        class="label labelAdded label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.add.text}">新規</span>
                                        <span th:case="EDIT"
                                        class="label labelChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.edit.text}">変更</span>
                                        <span th:case="DELETE"
                                        class="label labelDeleted label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.delete.text}">削除</span>
                                    </td>
                                    <td> <span th:if="${res.isFile() and !result.getParam().getInputInfo().isFolderTreeFormat()}"
                                        th:text="${res.path}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span>
                                    </td>
                                    <td class="text-center"><a
                                        th:if="${res.isDiff()}"
                                        href="javascript:void(0)"
                                        class="btn btn-default btn-cramped"
                                        th:onclick="'submitCheckInFileDifferences(\'' + ${res.path} + '\'); return false;'">
                                            <span
                                            th:text="#{ChkInReqDetails.viewDiff.text}">差分をみる</span>
                                    </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
             </section>
            
        </form>

        <form id="FlowCheckinReqestAttachmentDownloadService"
            th:action="@{/checkin/download/attachment}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId"
                th:value="${result.getParam().getSelectedAreqId()}" />
            <input type="hidden" name="fileNm" value="" /> <input
                type="hidden" name="seqNo" value="" />
        </form>

        <form id="FlowCheckInFileDifferencesService"
            th:action="@{/checkin/diff}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="CheckinRequestDetails" /> <input type="hidden"
                name="forward" value="CheckinRequestDetails" /> <input
                type="hidden" name="areqId"
                th:value="${result.getParam().getSelectedAreqId()}" />
            <input type="hidden" name="resourcePath" value="" />
              <input type="hidden" name="hiddenJson" value="" />
        </form>
        
        <form id="FlowResourceListDisplay" 
        	th:action="@{/checkin/details/listfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckinRequestDetails" /> <input type="hidden"
                name="forward" value="CheckinOutRequestList" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="startIndex" value="" /> <input
                type="hidden" name="endIndex" value="" /> 
                
        </form>

        <section class="section sectionRadiusWidth" th:if="${result.header.selectedLot.enabled}">
            <nav class="sectionNav">
                <dl class="sectionNavRight">
                    <dd>
                        <span
                            th:text="#{ChkInReqDetails.thisRequest.text}">この返却申請を</span>
                    </dd>
                    <dd>
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowCheckinRequestApprovalPendingRemovalCommentService', 'removal');">
                            <span class="commentButtonWaiting"
                            id="removalCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{ChkInReqDetails.removeChkInReq.text}">削除する</span>
                             <div class="fukidashiHeader"
                                id="removalFukidashiHeader"
                                style="display: none;"></div></a>
                    </dd>
                    <dd class="commentButtons">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            th:onClick="'submitReasonDialog(\'FlowCheckinRequestApprovalPendingCancellationService\', \'' 
									+ #{ChkInReqDetails.confirmCancellation.text} 
									+ '\', \'' + #{ChkInReqDetails.yes.text} 
									+ '\', \'' + #{ChkInReqDetails.no.text} 
									+ '\' ); return false;'">
                            <span class="commentButtonWaiting"
                            id="cancellationCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{ChkInReqDetails.cancelChkInReq.text}">取り下げる</span>
                            <div class="fukidashiHeader"
                                id="cancellationCommentFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                    </dd>
                </dl>
            </nav>

            <div id="replace_reason"></div>
        </section>

    </article>

    <!-- フッター -->

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	var url = /*[[ @{/checkin/details} ]]*/ '/checkin/details';
	var sortUrl = /*[[ @{/checkin/details/sortfile} ]]*/ '/checkin/details/sortfile';
    var formId = 'FlowCheckinRequestDetailsService';
    var formSortFile = 'FlowResourceListSort';
    var lastSortName = 'undefined';
	$(document).ready(function () {
		makeFolderTreeView(url, formId);

		$('#FlowPrintCheckinRequestDetailsService').submit(function() {
			var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
			this.target = 'Popup_Window';
		});
		
		if ( $('.folderItem.select').length > 0 ) {
			$('.folderItem.select').first().find('.treeviewTitle').trigger( "click" );
		}
		$("#fileViewTable").bind("sortEnd",function(sorter) {
		    var currentSort = sorter.target.config.sortList;
	        console.log(currentSort);
            columnNum = currentSort[0][0],
            columnName = $(sorter.target.config.headerList[columnNum]).text().toLowerCase();
            var column = $(sorter.target.config.headerList[columnNum]);
			if ( columnName != null){
				var index=column.index();
				var sortUp=column.is('.headerSortUp');
				var sortDown=column.is('.headerSortDown');
				var sortColumn = '';
				
				if (sortUp || sortDown){
				if(sortUp == true){
					var sortDir = "descending"
				}else if(sortDown == true){
					var sortDir = "ascending"
				}
				if ( lastSortName === (columnName + sortDir) ){
					return false;
				}
				
				if ( columnName == "name" || columnName == "名前" ){
					sortColumn = 'name';
				}
				if ( columnName == "size" || columnName == "サイズ" ){
					sortColumn = 'size';
				}
				if ( columnName == "change status" || columnName == "変更状況" ){
					sortColumn = 'status';
				}
				
				if ( columnName == "request date" || columnName == "申請日" ){
					sortColumn = 'date';
				}
				
				
				if ( columnName == "request user" || columnName == "申請者" ){
					sortColumn = 'user';
				}
				
				console.log(columnName)
				form = document.getElementById(formSortFile);
				form.columnName.value = sortColumn;
				form.sortOrder.value = sortDir;
				getTriLayer("mask").startWaiting('fileListUnit');
				appendWindowId(form);
				
				lastSortName = columnName + sortDir;
				
				$.ajax({
		            type: "POST",
		            url: sortUrl,
		            global: true,
		            data: $(form).serialize(),
		            success: function(data) {
		            	 $("#fileViewTable tbody").html($(data).find("tbody").html());
		                 updateHeadCheckbox('allCheckCheckout','selectedFile');
		                 $("#fileViewTable").tablesorter({headers: {0: { sorter: false}}});
		                 $('#fileViewTable').trigger('update');
		                 startIndex = 30;
		                 scrollMore = true;
		                 getTriLayer("mask").endWaiting('fileListUnit');
		            },
		        });
				
				return false;
			  }
			}
	});
	
		
	});

	function printCheckinRequestDetails() {
		submit("FlowPrintCheckinRequestDetailsService");
	}	
	
	$(function() {
		var clipboard_checkout = new Clipboard('.clipboard_checkout');
		var clipboard_checkin = new Clipboard('.clipboard_checkin');
		
		clipboard_checkout.on('success', function(e) {
			openBandPopup({
				message:/*[[#{ChkInOutReqList.messageCopypathChkOut.text}]]*/ "貸出フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});
		clipboard_checkin.on('success', function(e) {
			openBandPopup({
				message:/*[[#{ChkInOutReqList.messageCopypathChkIn.text}]]*/ "返却フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});
	});
	
	
	$("#fileUnit").on("scroll", function(event) {
		  var translate = "translate(1px,"+this.scrollTop+"px)";
		  var headElement = this.querySelector("thead");
		  var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
		  if(isIE11){
			  $(headElement).find('th').css('transform',translate);
			  $(headElement).find('th').css('background-color','#666666');
		  }else{
			  headElement.style.transform = translate;  
		  }
		  var $elem = $(event.target);
		  if($elem.scrollTop() >= ($("#fileUnit")[0].scrollHeight - 385) - 100 ) {
			  initScrollTable(url);
		  }
		});

	function submitCheckinReqestAttachmentDownloadService(thisObj){
	    var validateURL = /*[[ @{/checkin/download/attachment/validate} ]]*/ '/checkin/download/attachment/validate';
        var $windowId = $('#windowId').val();

        $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
            $("#message").html($(data).find("#message").html());
            if(!$("#message").html().trim()) {
                var form = document.getElementById('FlowCheckinReqestAttachmentDownloadService');
                form.fileNm.value = $(thisObj).text();
                form.seqNo.value = $(thisObj).attr("value");

                safeSubmit("FlowCheckinReqestAttachmentDownloadService");
                clearSubmitFlag();
            }
        });
	}

	function submitCheckInFileDifferences(resourcePath){

		var form = document.getElementById('FlowCheckInFileDifferencesService');
		form.resourcePath.value = resourcePath;
		form.hiddenJson.value = sourceTreeStructure;
		safeSubmit("FlowCheckInFileDifferencesService", {"validation":false});
	}
	  $(document).ready(function () {    
      	reloadSourceTree();
      });
	  
	
	/* ]]> */
	</script>

</body>
</html>
