<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ChkInReqCreate.title.text}" th:fragment="titleHtml">trinity
    | Check-in Request - Create New</title>
<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html"
                    class="select">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_request_add.png"
                    th:src="@{/resources/images/common/icon_request_add.png}"
                    alt="" /></span> <span
                    th:text="#{ChkInReqCreate.header.text}">返却申請の新規申請</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{CheckInRequestCreation.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>


        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>




        <form class="form-horizontal" id="FlowCheckinRequestService"
            th:action="@{/checkin/create}" method="POST">
            <input type="hidden" name="referer"
                value="CheckInRequestCreation" /> <input type="hidden"
                name="forward" value="CheckInRequestProcessingStatus" />
            <input type="hidden" name="submitMode" value="" /> <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" /> <input
                type="hidden" name="requestOption" value="none" /> <input
                type="hidden" name="categorySubject" value="" /> <input
                type="hidden" name="path" value="" /><input
                type="hidden" name="closeAtPath" value="" /><input
                type="hidden" name="url" value="" /><input
                type="hidden" name="viewMode" value="" />
            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ChkInReqCreate.basicInfo.text}">基本情報</span>
                    <span class="helpBtn inline"><a th:href="#{CheckInRequestCreation.help.url}"
                                                    target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>

                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{ChkInReqCreate.lotID.text}">ロット番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.lotId}">LOT-1511020001</span>
                        &nbsp;<span class="label labelLightblue">ロット進行中</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqCreate.requestID.text}">申請番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.areqId}">LND-15110400011</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqCreate.changeID.text}">変更管理番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.pjtId}">PJT-15110400011</span>&nbsp;<span
                            class="label labelLightblue">変更進行中</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqCreate.referenceID.text}">変更要因番号</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.referenceId}">RFC-12345</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqCreate.referenceCategory.text}">変更要因分類</span>
                    </dt>
                    <dd >
	                    <span
	                            th:text="#{Constants.referenceId.__${result.detailsView.referenceCategoryNm}__.text}">RFC-12345</span>
	               </dd>
	               <dt class="userLabel">
                        <span
                            th:text="#{ChkInReqCreate.submitter.text}">申請者</span>
                    </dt>
                    <dd class="user">
                        <img class="userImg" src="img/common/icon_obake.png"
                            th:src="${result.detailsView.submitterIconPath}"
                            alt="Tommy Robinson" /><span
                            th:text="${result.detailsView.submitterNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqCreate.group.text}">申請のグループ</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.groupNm}">グループ1</span>
                    </dd>
                    <dt class="userLabel">
                        <span
                            th:text="#{ChkInReqCreate.assignee.text}">担当者</span>
                    </dt>
                    <dd class="user">
                        <img src="img/common/icon_obake.png" class="userImg"
                            th:if="not ${#strings.isEmpty(result.detailsView.assigneeIconPath)}"
                            th:src="${result.detailsView.assigneeIconPath}"
                            alt="Tommy Robinson"/><span
                            th:text="${result.detailsView.assigneeNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqCreate.subject.text}">申請件名</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.subject}">なぜそんな無闇をしたと聞く人があるかも知れぬ</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqCreate.contents.text}">申請内容</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.contents}">別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{ChkInReqCreate.chkInDueDate.text}">返却予定日</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.checkinDueDate}">2015/11/24</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqCreate.category.text}">カテゴリー</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.ctgNm}">テスト</span>
                    </dd>
                    <dt>
                        <span th:text="#{ChkInReqCreate.milestone.text}">マイルストーン</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                    </dd>
                </dl>
            </section>

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ChkInReqCreate.attachment.text}">添付ファイル</span>
                    <span class="helpBtn inline"><a th:href="#{CheckInRequestCreation.help.url}"
                                                    target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{ChkInReqCreate.addAttachment.text}">添付ファイルの追加</span></label>

                    <div class="col-sm-9">
                        <div class="attachedFiles">
                            <div id="preview-template"
                                style="display: none;">
                                <div class="uploadedFile">
                                    <span class="icon"><i
                                        class="fa fa-file-o"></i></span> <span
                                        class="filename"
                                        data-dz-name="data-dz-name"></span>
                                    <span class="filesize"
                                        data-dz-size="data-dz-size"></span>
                                    <div class="progress">
                                        <div
                                            class="progress-bar progress-bar-striped active"
                                            role="progressbar"
                                            aria-valuenow="0"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            style="width: 0%"
                                            data-dz-uploadprogress="data-dz-uploadprogress"></div>
                                    </div>
                                    <span class="label label-auto labelRed"
                                        data-dz-errormessage="data-dz-errormessage"></span>
                                    <span
                                        class="stopUploadAttachmentFormBtn"
                                        data-dz-remove="data-dz-remove"><i
                                        class="fa fa-stop-circle-o"></i></span>
                                </div>
                            </div>

                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[0][file]"
                                    class="uploadfile"
                                    style="display: none;"
                                    multiple="multiple" /> <span
                                    class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">hoge.txt</span> <span
                                    class="filesize">(8.2MB)</span>
                                <div class="progress">
                                    <div
                                        class="progress-bar progress-bar-striped active"
                                        role="progressbar"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 60%">60%</div>
                                </div>
                                <span
                                    class="stopUploadAttachmentFormBtn"><i
                                    class="fa fa-stop-circle-o"></i></span>
                            </div>
                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[1][file]"
                                    class="uploadfile"
                                    style="display: none;"
                                    multiple="multiple" /> <span
                                    class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">abc.txt</span> <span
                                    class="filesize">(15.9KB)</span>
                                <div class="progress">
                                    <div class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%">添付されました</div>
                                </div>
                                <span class="removeAttachmentFormBtn"><i
                                    class="fa fa-times-circle"></i></span>
                            </div>
                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[1][file]"
                                    class="uploadfile"
                                    style="display: none;"
                                    multiple="multiple" /> <span
                                    class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">very-ling-file-name-very-ling-file-name-very-ling-file-name.txt</span>
                                <span class="filesize">(15.9KB)</span>
                                <div class="progress">
                                    <div class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%">添付されました</div>
                                </div>
                                <span class="removeAttachmentFormBtn"><i
                                    class="fa fa-times-circle"></i></span>
                            </div>
                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[2][file]"
                                    class="uploadfile"
                                    style="display: none;"
                                    multiple="multiple" /> <span
                                    class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">hoge.txt</span> <span
                                    class="filesize">(0.0KB)</span> <span
                                    class="label label-auto labelRed">サイズがゼロのファイルはアップロードできません</span>
                                <span class="removeAttachmentFormBtn"></span>
                            </div>
                        </div>
                        <div class="form-group form-inline"
                            style="padding-left: 15px;">
                            <button id="selectFiles"
                                class="btn btn-default btn-sm"
                                type="button"
                                style="font-size: 11px; min-width: 48px;"
                                th:text="#{ChkInReqCreate.selectFileButton.text}">ファイルを選択...</button>
                            <span
                                th:text="#{ChkInReqCreate.multipleSelectionDesc.text}">Shiftキーを押しながらファイルを複数選択可能</span>
                        </div>
                        <div class="form-group">
                            <div class="attachmentDragArea"
                                id="dzUpload">
                                <span class="dz-message"></span>
                                <p class="title">
                                    <span
                                        th:text="#{ChkInReqCreate.dragDrop1.text}">または</span>
                                </p>
                                <p class="dragAreaText">
                                    <span
                                        th:text="#{ChkInReqCreate.dragDrop2.text}">ファイルをドラッグ＆ドロップしてください<br />（添付するファイルは
                                        10MByte 以内でお願いします）
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="section sectionRadius" id="treeviewFileTable">
                <h2>
                    <span th:text="#{ChkInReqDetails.fileInfo.text}">返却ファイル一覧</span><span
                        class="helpBtn inline"><a th:href="#{CheckInRequestCreation.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <nav class="sectionNav">
                
	                <ul class="sectionNavLeft" style="float:left;">
	                    <li>
	                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'submitFormOpenAllFolderListView(url, formId); return false;'"
	                        class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
	                    </li>
	                </ul>
                
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkout"
                                src="images/common/icon_copy_lending.png"
                                th:src="@{/resources/images/common/icon_copy_lending.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkoutPath}" /></a></li>
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkin"
                                src="images/common/icon_copy_return.png"
                                th:src="@{/resources/images/common/icon_copy_return.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkinPath}" /></a></li>
                        <li><a href="javascript:void(0);"
                            onClick="javascript:submitFormRefreshFolder(url, formId); refreshFolderTreeView( url, formId ) ;return false;"><img
                                src="img/common/icon_folder_update.png"
                                th:src="@{/resources/images/common/icon_folder_update.png}"
                                height="24px" /></a></li>
                    </ul>
                </nav>

                <form id="hiddenJsonForm">
                    <input type="hidden" id="hiddenJson"
                        name="hiddenJson" th:value="${json}" /> <input
                        type="hidden" id="hiddenSelectedPath"
                        name="hiddenSelectedPath"
                        th:value="${result.resourceSelectionFolderView.selectedPath}" />
                         <input type="hidden" id="hiddenJsonListView"
                        name="hiddenJsonListView" />
                </form>
                <div class="fileListUnit" id="fileListUnit">
                    <div class="fileListUnitLeft matchHeight">
                        <h3>
                            <span
                                th:text="#{ChkInReqCreate.treeFolder.text}">フォルダ</span>
                        </h3>

                        <div id="treeview" class="treeview">
                            <ul class="treeviewContainer"
                                th:remove="all">
                                <li><span
                                    class="treeviewBtn fa fa-caret-right"></span>
                                    <span
                                    class="treeviewIcon fa fa-folder-o"></span>
                                    <span class="treeviewTitle">Folder
                                        1</span>
                                    <ul>
                                        <li><span
                                            class="treeviewCount">3</span>
                                            <span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewIcon fa fa-folder-o"></span>
                                            <span class="treeviewTitle">Folder
                                                1.1</span></li>
                                        <li><span
                                            class="treeviewExpander"></span>
                                            <span
                                            class="treeviewBtn fa fa-caret-right"></span>
                                            <span
                                            class="treeviewIcon fa fa-folder-o"></span>
                                            <span class="treeviewTitle">Folder
                                                1.2</span>
                                            <ul>
                                                <li><span
                                                    class="treeviewCount">2</span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewIcon fa fa-folder-o"></span>
                                                    <span
                                                    class="treeviewTitle">Folder
                                                        1.1.1</span></li>
                                                <li class="select"><span
                                                    class="treeviewCount">5</span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewExpander"></span>
                                                    <span
                                                    class="treeviewIcon fa fa-folder-o"></span>
                                                    <span
                                                    class="treeviewTitle">Folder
                                                        1.1.2
                                                        文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト文字数オーバーテスト</span></li>
                                            </ul></li>
                                    </ul></li>
                            </ul>
                        </div>
                    </div>

                    <div class="fileListUnitRight matchHeight" id="fileUnit" style="max-height: 400px; overflow: scroll;">
                        <table id="fileViewTable"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeStatus.text}">ステータス</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeFilename.text}">名前</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeFilesize.text}">サイズ</span></th>
                                    <th class="sorter-false"><span
                                        th:text="#{ChkInReqCreate.treeDiff.text}">差分</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="res : ${requestViewList}">
                                    <td class="labels"
                                        th:switch="${res.stsId}"><span
                                        th:case="EQUAL"
                                        class="label labelNotChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.equal.text}">未変更</span>
                                        <span th:case="ADD"
                                        class="label labelAdded label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.add.text}">新規</span>
                                        <span th:case="EDIT"
                                        class="label labelChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.edit.text}">変更</span>
                                        <span th:case="DELETE"
                                        class="label labelDeleted label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.delete.text}">削除</span>
                                    </td>
                                    <td><span class="fileTreeIcon">
                                            <i
                                            th:if="${res.isDirectory()}"
                                            class="fa fa-folder-o"></i>
                                            <i th:if="${res.isFile()}"
                                            class="fa fa-file-o"></i>
                                    </span> <a th:if="${res.isDirectory()}"
                                        href="javascript:void(0);"
                                        th:onClick="'submitFormSelectFolder(url, formId, \'' + ${res.path} + '\'); return false;'"
                                        oncontextmenu="javascript:void(0);return false;">
                                            <span th:text="${res.name}">Folder_1</span>
                                    </a> <span th:if="${res.isFile()}"
                                        th:text="${res.name}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span>
                                    </td>
                                    <td class="text-center"><a
                                        th:if="${res.isDiff()}"
                                        href="javascript:void(0)"
                                        class="btn btn-default btn-cramped"
                                        th:onclick="'submitCheckInFileDifferences(\'' + ${res.path} + '\'); return false;'">
                                            <span
                                            th:text="#{ChkInReqDetails.viewDiff.text}">差分をみる</span>
                                    </a></td>
                                </tr>
                            </tbody>
                            <tbody th:remove="all">
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-folder-open-o"></i></span>Folder_1</td>
                                    <td class="text-right">12500MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><em
                                            class="fa fa-file-o"></em></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelAdded label-short">新規</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                                <tr>
                                    <td class="labels"><span
                                        class="label labelChanged label-short">変更</span></td>
                                    <td><span class="fileTreeIcon"><i
                                            class="fa fa-file-o"></i></span>file.txt</td>
                                    <td class="text-right">12.5MB</td>
                                    <td class="text-center"><a
                                        href="CheckInFileDifferences.html"
                                        class="btn btn-default btn-cramped">差分をみる</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </section>
            <section class="section sectionRadius" id="listViewFileTable" style="display:none;">
                <h2>
                    <span th:text="#{ChkInReqDetails.fileInfo.text}">返却ファイル一覧</span><span
                        class="helpBtn inline"><a th:href="#{CheckInRequestCreation.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                 <nav class="sectionNav">
                    <ul class="sectionNavLeft" style="float:left;">
                    <li>
                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'displayTreeFileTable(); return false;'"
                         class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
                    </li>
                </ul>
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkout"
                                src="images/common/icon_copy_lending.png"
                                th:src="@{/resources/images/common/icon_copy_lending.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkoutPath}" /></a></li>
                        <li><a href="javascript:void(0);"><img
                                class="clipboard_checkin"
                                src="images/common/icon_copy_return.png"
                                th:src="@{/resources/images/common/icon_copy_return.png}"
                                style="height: 24px;"
                                th:attr="data-clipboard-text=${result.detailsView.checkinPath}" /></a></li>
                        <li><a href="javascript:void(0);"
                            onClick="javascript:submitFormRefreshFolder(url, formId); refreshFolderTreeView( url, formId ) ;return false;"><img
                                src="img/common/icon_folder_update.png"
                                th:src="@{/resources/images/common/icon_folder_update.png}"
                                height="24px" /></a></li>
                    </ul>
                </nav>
                
                <div class="fileListUnitRight matchHeight">
                        <table id="fileViewTableListView"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeStatus.text}">ステータス</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeFilename.text}">名前</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeFilesize.text}">サイズ</span></th>
                                    <th><span
                                        th:text="#{ChkInReqCreate.treeDiff.text}">差分</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr
                                    th:each="res : ${result.resourceSelectionFolderView.requestViews}">
                                    <td class="labels"
                                        th:switch="${res.stsId}"><span
                                        th:case="EQUAL"
                                        class="label labelNotChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.equal.text}">未変更</span>
                                        <span th:case="ADD"
                                        class="label labelAdded label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.add.text}">新規</span>
                                        <span th:case="EDIT"
                                        class="label labelChanged label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.edit.text}">変更</span>
                                        <span th:case="DELETE"
                                        class="label labelDeleted label-short"
                                        style="width: auto;"
                                        th:text="#{FileStatus.delete.text}">削除</span>
                                    </td>
                                    <td>
                                    <span th:if="${res.isFile() and !result.getParam().getInputInfo().isFolderTreeFormat()}"
                                        th:text="${res.path}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span>
                                    </td>
                                    <td class="text-center"><a
                                        th:if="${res.isDiff()}"
                                        href="javascript:void(0)"
                                        class="btn btn-default btn-cramped"
                                        th:onclick="'submitCheckInFileDifferences(\'' + ${res.path} + '\'); return false;'">
                                            <span
                                            th:text="#{ChkInReqDetails.viewDiff.text}">差分をみる</span>
                                    </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
             </section>
        </form>
        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <ul class="sectionNavRight">
                    <li><a href="javascript:void(0);"
                        class="btn btn-default strong"
                        th:onClick="'javascript:submitCreationService(\''+${result.detailsView.areqId}+ '\' );return false;'"><span
                            th:text="#{ChkInReqCreate.submitChkOutReq.text}">返却申請する</span></a></li>
                </ul>
            </nav>
        </section>

        <form id="FlowCheckInFileDifferencesService"
            th:action="@{/checkin/diff}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="referer"
                value="CheckinRequestCreation" /> <input type="hidden"
                name="forward" value="CheckinRequestCreation" /> <input
                type="hidden" name="areqId"
                th:value="${result.getParam().getSelectedAreqId()}" />
            <input type="hidden" name="resourcePath" value="" />
              <input type="hidden" name="hiddenJson" value="" />
        </form>
        
        <form id="FlowResourceListDisplay" 
        	th:action="@{/checkin/create/listfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckInRequestCreation" /> <input type="hidden"
                name="forward" value="CheckinOutRequestList" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="startIndex" value="" /> <input
                type="hidden" name="endIndex" value="" /> 
                
        </form>
        
         <form id="FlowResourceListSort" 
        	th:action="@{/checkin/create/sortfile}" method="POST">
        	 <input type="hidden" name="referer"
                value="CheckInRequestCreation" /> <input type="hidden"
                name="forward" value="CheckInRequestCreation" />  <input
                type="hidden" name="resourceRequestType" value="" /> <input
                type="hidden" name="RequestType" value="onChange" /> <input
                type="hidden" name="columnName" value="" /> <input
                type="hidden" name="sortOrder" value="" /> 
                
        </form>

    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script src="../../js/_lib/dropzone.js"
        th:src="@{/resources/js/_lib/dropzone.js}" th:fragment="js"></script>

    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	
	var url = /*[[ @{/checkin/create} ]]*/ '/checkin/create';
	var sortUrl = /*[[ @{/checkin/create/sortfile} ]]*/ '/checkin/create/sortfile';
    var formId = 'FlowCheckinRequestService';
    var formSortFile = 'FlowResourceListSort';
    var lastSortName = 'undefined';
	$(document).ready(function () {
		makeFolderTreeView(url, formId);
		
		if ( $('.folderItem.select').length > 0 ) {
			isTreeviewTitle_TriggerOnLoad = true;
			$('.folderItem.select').first().find('.treeviewTitle').trigger( "click" );
		}
		$("#fileViewTable").bind("sortEnd",function(sorter) {
		    var currentSort = sorter.target.config.sortList;
	        console.log(currentSort);
            columnNum = currentSort[0][0],
            columnName = $(sorter.target.config.headerList[columnNum]).text().toLowerCase();
            var column = $(sorter.target.config.headerList[columnNum]);
			if ( columnName != null){
				var index=column.index();
				var sortUp=column.is('.headerSortUp');
				var sortDown=column.is('.headerSortDown');
				var sortColumn = '';
				
				if (sortUp || sortDown){
				if(sortUp == true){
					var sortDir = "descending"
				}else if(sortDown == true){
					var sortDir = "ascending"
				}
				if ( lastSortName === (columnName + sortDir) ){
					return false;
				}
				
				if ( columnName == "name" || columnName == "名前" ){
					sortColumn = 'name';
				}
				if ( columnName == "size" || columnName == "サイズ" ){
					sortColumn = 'size';
				}
				if ( columnName == "change status" || columnName == "変更状況" ){
					sortColumn = 'status';
				}
				
				if ( columnName == "request date" || columnName == "申請日" ){
					sortColumn = 'date';
				}
				
				
				if ( columnName == "request user" || columnName == "申請者" ){
					sortColumn = 'user';
				}
				
				console.log(columnName)
				form = document.getElementById(formSortFile);
				form.columnName.value = sortColumn;
				form.sortOrder.value = sortDir;
				getTriLayer("mask").startWaiting('fileListUnit');
				appendWindowId(form);
				
				lastSortName = columnName + sortDir;
				
				$.ajax({
		            type: "POST",
		            url: sortUrl,
		            global: true,
		            data: $(form).serialize(),
		            success: function(data) {
		            	 $("#fileViewTable tbody").html($(data).find("tbody").html());
		                 updateHeadCheckbox('allCheckCheckout','selectedFile');
		                 $("#fileViewTable").tablesorter({headers: {0: { sorter: false}}});
		                 $('#fileViewTable').trigger('update');
		                 startIndex = 30;
		                 scrollMore = true;
		                 getTriLayer("mask").endWaiting('fileListUnit');
		            },
		        });
				
				return false;
			  }
			}
	});
	
		
		
	});
	
	$(function() {
		var clipboard_checkout = new Clipboard('.clipboard_checkout');
		var clipboard_checkin = new Clipboard('.clipboard_checkin');
		
		clipboard_checkout.on('success', function(e) {
			openBandPopup({
				message:/*[[#{ChkInOutReqList.messageCopypathChkOut.text}]]*/ "貸出フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});
		clipboard_checkin.on('success', function(e) {
			openBandPopup({
				message:/*[[#{ChkInOutReqList.messageCopypathChkIn.text}]]*/ "返却フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});
	});
	
	$("#fileUnit").on("scroll", function(event) {
		  var translate = "translate(1px,"+this.scrollTop+"px)";
		  var headElement = this.querySelector("thead");
		  var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
		  if(isIE11){
			  $(headElement).find('th').css('transform',translate);
			  $(headElement).find('th').css('background-color','#666666');
		  }else{
			  headElement.style.transform = translate;  
		  }
		  var $elem = $(event.target);
		  if($elem.scrollTop() >= ($("#fileUnit")[0].scrollHeight - 385) - 100 ) {
			  initScrollTable(url);
		  }
		});

	
        
        function submitCreationService(areqId){
			form = document.getElementById('FlowCheckinRequestService');
			form.areqId.value = areqId;
			form.RequestType.value = "submitChanges";
			console.log(form);
			safeSubmit('FlowCheckinRequestService', {'validation':false});
		}


		function submitAttachedFileRemoveService(areqId, fileId){
			form = document.getElementById('FlowCheckinRequestAttachedFileRemoveService');
			form.areqId.value = areqId;
			form.fileId.valie = fileId;
			alert("todo: attachedFileRemove\n\nareqId:"+areqId+"\nfileId:"+fileId);
		}

		function submitCheckInFileDifferences(resourcePath){

			var form = document.getElementById('FlowCheckInFileDifferencesService');
			form.resourcePath.value = resourcePath;
			form.hiddenJson.value = sourceTreeStructure;

			safeSubmit("FlowCheckInFileDifferencesService", {"validation":false});
		}

		
        $('.confirmBtn').click(function(){
            openBandPopup({
                displayTime : 5000,
                message : [[#{ChkOutReqCreate.messageChkOutReqCreated.text}]],              
                btnFunc    :function(){
                				$('.bandPopup').fadeOut(popupFadeTime);
                             }
            });
        });

     
     
            $("input[data-check='checkAll']").change(function () {
            $('input[type="checkbox"]').prop("checked", this.checked);
           });
            
            $("div.attachmentDragArea").on("dragover",function(e){
                e.preventDefault();
                $(this).addClass("dropping");
            });

            $("div.attachmentDragArea").on("dragleave",function(e){
                e.preventDefault();
                $(this).removeClass("dropping");
            });

           	$("div.attachmentDragArea").on("drop", function(_e){
                var e = _e;
                if( _e.originalEvent ){
                    e = _e.originalEvent;
                }
                e.stopPropagation();
                e.preventDefault();

                $(this).removeClass("dropping");
            });

            var uploadDropzone;
            
            $(document).ready(function () {
            	
        	    Dropzone.autoDiscover = false;
        	    var urlUpload = /*[[ @{/checkin/create/upload} ]]*/'/checkin/create/upload';

        		uploadDropzone = new Dropzone("#dzUpload", {
        			previewsContainer: ".attachedFiles",
        			paramName: "userFile",
        			url: urlUpload,
        			params: { "RequestType" : "onChange", "requestOption" : "fileUpload", "WindowsId" : $('#windowId').val() },
        	        maxFilesize: 10,
        	        accept: function(file,  done) {
        	        	if(file.size == 0) {
        	        		done(/*[[#{ReleaseRequestCreation.emptyFile.text}]]*/);
        	        	} else {
        	        		done();
        	        	}
        	        },
        	        uploadmultiple: false,
        	        parallelUploads: 1,
        	        previewTemplate: document.getElementById('preview-template').innerHTML,
        	        autoProcessQueue: true,
        	        clickable: "#selectFiles",
        	        dictFileTooBig: /*[[#{ChkInReqCreate.attachedSize.text}]]*/,
        	        dictRemoveFileConfirmation: /*[[#{ChkInReqCreate.confirmAttachedFileRemoval.text}]]*/,
                	dictYes: /*[[#{ChkInReqCreate.yes.text}]]*/,
                    dictNo: /*[[#{ChkInReqCreate.no.text}]]*/
        		});

        		uploadDropzone.on("success", function(file, response) {
            		if (file.size > 0) {
	            		var attachedText = /*[[#{ChkInReqCreate.uploadAttached.text}]]*/;
	        			$(".progress-bar", file.previewElement).text(attachedText);
	        			$(".progress-bar", file.previewElement).removeClass("progress-bar-striped active");
	        			file.seqNo = response.seqNo;
               		}
        			$(".stopUploadAttachmentFormBtn", file.previewElement).addClass("removeAttachmentFormBtn").removeClass("stopUploadAttachmentFormBtn");
        			$(".fa.fa-stop-circle-o", file.previewElement).addClass("fa-times-circle").removeClass("fa-stop-circle-o");
        		});

        		uploadDropzone.on("error", function(file, errorMessage, xhr) {
        			$(".progress", file.previewElement).hide();
        			$(".stopUploadAttachmentFormBtn", file.previewElement).addClass("removeAttachmentFormBtn").removeClass("stopUploadAttachmentFormBtn");
        			$(".fa.fa-stop-circle-o", file.previewElement).addClass("fa-times-circle").removeClass("fa-stop-circle-o");
        		});
        		
        		uploadDropzone.on("removedfile", function(file) {
					//Check have we already uploaded this file on server
            		if(file.size > 0 && file.accepted) {
	        			deleteFile(file);
               		}
        		});

        		uploadDropzone.on("uploadprogress", function(file, progress, byteSent) {
        			$(".progress-bar", file.previewElement).text(Math.floor(progress) + '%');
           		});
        	});

            function deleteFile(file) {
        		var url = /*[[ @{/checkin/create/upload/delete} ]]*/'/trinity/checkin/create/upload/delete';
        		var timeOut = null;
        		var fileNm = file.name;
        		var seqNo = file.seqNo;
        		var $windowId = $('#windowId').val();
        		timeOut = setTimeout(function() {
            		$.post(url, $.param({'RequestType' : 'onChange', 'requestOption' : 'deleteFile', 'deletedFileNm' : fileNm, 'seqNo' : seqNo, 'WindowsId' : $windowId})).done(function(data, status, xhr) {
                			console.log(data);
                		}).fail(function(data, status, xhr) {
                    		console.log("deleteFile fail");
                   		});
            	}, 500);
        	}
        
            
            
            
	/* ]]> */
	</script>

</body>
</html>
