<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{ChkInOutReqList.title.text}">trinity
    | Check-in/Checkout Request - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/jquery-ui.css"
    th:href="@{/resources/css/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html"
                    class="select">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <section style="display: none">
            <table class="table tableSearchResults table-bordered"
                id="issues_table" th:fragment="resultTable">
                <thead>
                    <th data-column="title"
                        th:text="#{ChkInOutReqList.changeID.text}">件名</th>
                    <th data-column="status"
                        th:utext="#{ChkInOutReqList.chkOutReqID.text}">ステータス</th>
                    <th data-column="contact"
                        th:text="#{ChkInOutReqList.subject.text}">担当者</th>
                    <th data-column="group"
                        th:text="#{ChkInOutReqList.submitter.text}">担当グループ</th>
                    <th data-column="dateStart"
                        th:text="#{ChkInOutReqList.assignee.text}">最終更新日</th>
                    <th data-column="attachment"
                        th:utext="#{ChkInOutReqList.chkOutDate.text}">開始日</th>
                    <th data-column="attachment"
                        th:utext="#{ChkInOutReqList.chkInDueDate.text}">開始日</th>
                    <th data-column="attachment"
                        th:text="#{ChkInOutReqList.updatedDate.text}">開始日</th>
                    <th data-column="attachment"
                        th:text="#{ChkInOutReqList.status.text}">開始日</th>
                </thead>
                <tbody>
                    <tr th:each="res : ${result.areqViews}">
                        <td data-column="lot" th:text="${res.pjtId}">Aロット(LOT-1512310001)</td>
                        <td data-column="trinityNum"
                            th:text="${res.areqId}"></td>
                        <td data-column="title" th:text="${res.subject}">
                            が0に戻る</td>
                        <td data-column="status"
                            th:text="${res.submitterNm}">マージ済み</td>
                        <td data-column="contact"
                            th:text="${res.assigneeNm}">Tommy
                            Robinson</td>
                        <td data-column="group"
                            th:text="${res.checkoutDate}">運用保守グループ</td>
                        <td data-column="group"
                            th:text="${res.checkinDueDate}">運用保守グループ</td>
                        <td data-column="group" th:text="${res.updDate}">運用保守グループ</td>
                        <td data-column="group" th:text="${res.stsId}">運用保守グループ</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered no-margin-top"
                id="result_draftexport" th:fragment="resultDraftTable">
                <thead>
                    <tr>
                        <th
                            th:text="#{ChkInOutReqList.AdvSearch.type.text}">種別</th>
                        <th th:utext="#{ChkInOutReqList.changeID.text}">変更管理番号</th>
                        <th
                            th:utext="#{ChkInOutReqList.chkOutReqID.text}">申請番号</th>
                        <th th:text="#{ChkInOutReqList.subject.text}">申請件名</th>
                        <th th:text="#{ChkInOutReqList.submitter.text}">申請者</th>
                        <th th:text="#{ChkInOutReqList.assignee.text}">担当者</th>
                        <th
                            th:utext="#{ChkInOutReqList.chkOutDate.text}">貸出日</th>
                        <th
                            th:utext="#{ChkInOutReqList.chkInDueDate.text}">返却予定日</th>
                        <th
                            th:text="#{ChkInOutReqList.updatedDate.text}">更新日</th>

                    </tr>
                </thead>
                <tbody>

                    <tr th:each="res : ${result.draftAreqViews}">
                        <td data-column="lot" th:text="${res.stsId}">Aロット(LOT-1512310001)</td>
                        <td data-column="trinityNum"
                            th:text="${res.pjtId}"></td>
                        <td data-column="group" th:text="${res.areqId}">運用保守グループ</td>
                        <td data-column="title" th:text="${res.subject}">
                            が0に戻る</td>
                        <td data-column="status"
                            th:text="${res.submitterNm}">マージ済み</td>
                        <td data-column="contact"
                            th:text="${res.assigneeNm}">Tommy
                            Robinson</td>
                        <td data-column="group"
                            th:text="${res.checkoutDate}">運用保守グループ</td>
                        <td data-column="group"
                            th:text="${res.checkinDueDate}">運用保守グループ</td>
                        <td data-column="group" th:text="${res.updDate}">運用保守グループ</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_request.png"
                    th:src="@{/resources/images/common/icon_request.png}"
                    alt="" /></span><span
                    th:text="#{ChkInOutReqList.header.text}">貸出/返却申請の一覧</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{CheckInOutRequestList.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>>
            </div>
            <ul class="contentsHeaderMenu" id="exportFile">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0);"
                    onclick="exportToFile('csv');return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0);"
                    onclick="exportToFile('xls');return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0);"
                    th:onClick="'javascript:submitPrintCheckinOutRequestList(\'' + 'false' + '\');return false;'"
                    th:text="#{ChkInOutReqList.print.text}">印刷用ページ</a></li>
            </ul>

            <ul class="contentsHeaderMenu" id="exportDraft"
                style="display: none;">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0);"
                    onclick="exportToFile('csv', true);return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0);"
                    onclick="exportToFile('xls', true);return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0);"
                    th:onClick="'javascript:submitPrintCheckinOutRequestList(\'' + 'true' + '\');return false;'"
                    th:text="#{ChkInOutReqList.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <div class="modal fade saveFilterDialog" tabindex="-1"
            role="dialog" id="saveFilterDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchFilter.saveFilterTitle.text}">検索フィルタ</h4>
                    </div>
                    <form class="form-horizontal searchFilterForm">
                        <div class="modal-body">
                            <div
                                class="modal-error searchFilterNameError"
                                style="display: none;"
                                th:text="#{SearchFilter.saveFilterError.text}">フィルタ名を入力してください</div>
                            <div class="form-group">
                                <label for="searchFilterName"
                                    class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterName.text}">フィルタ名</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control input-sm searchFilterName"
                                        id="searchFilterName"
                                        placeholder="" />
                                </div>
                            </div>

                            <div class="form-group"
                                style="min-height: 100px;">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterCond.text}">検索条件</label>
                                <div class="col-sm-10">
                                    <table class="searchQueryInfoTable">
                                        <thead>
                                            <tr>
                                                <td
                                                    style="min-width: 100px;"></td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody
                                            id="searchQueryInfoTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <input type="submit"
                                class="btn btn-default btn-xs"
                                value="検索条件を保存"
                                th:value="#{SearchFilter.saveFilterSubmit.text}"
                                th:onClick="'saveSearchFilter( \'' + @{/checkinout/filter/save} + '\', formId ); return false;'" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <section class="section searchSection" id="view_searchCondition">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{ChkInOutReqList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"><span
                            th:text="#{ChkInOutReqList.saveSearchFilter.text}">検索条件を保存</span></a></li>
                </ul>
            </div>

            <form th:action="@{/checkinout/export/file}" method="post"
                id="downloadFile">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="table" /> <input type="hidden"
                    name="submitOption" />
            </form>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table>
                        <tr>
                            <th
                                th:text="#{ChkInOutReqList.condTarget.text}">対象</th>
                            <td><ul class="searchCond"
                                    id="condTarget">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condTarget"
                                        data-value=""> <span
                                            th:text="#{ChkInOutReqList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.targetViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condTarget"
                                        th:attr="data-value=${res}">
                                            <span
                                            th:text="#{ChkInOutReqList.condType.__${res}__.text}"></span>
                                    </a>
                                    </li>
                                </ul></td>
                        </tr>

                        <tr>
                            <th
                                th:text="#{ChkInOutReqList.condStatus.text}">ステータス</th>
                            <td><ul class="searchCond"
                                    id="condStatus">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condStatus"
                                        data-value=""> <span
                                            th:text="#{ChkInOutReqList.condAll.text}">すべて</span></a></li>

                                    <li
                                        th:each="res : ${result.param.searchCondition.statusViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condStatus"
                                        th:attr="data-value=${res.value}">
                                            <span
                                            th:text="#{Constants.amStatus.__${res.value}__.text}">ステータス</span>
                                    </a>
                                    </li>
                                </ul></td>
                        </tr>

                        <tr>
                            <th
                                th:text="#{ChkInOutReqList.condCategory.text}">カテゴリー</th>
                            <td><ul class="searchCond"
                                    id="condCategory">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condCategory"
                                        data-value=""><span
                                            th:text="#{ChkInOutReqList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.ctgViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condCategory"
                                        th:attr="data-value=${res.value}">
                                            <span th:text="${res.label}">未設定</span>
                                    </a>
                                    </li>
                                </ul></td>
                        </tr>

                        <tr>
                            <th
                                th:text="#{ChkInOutReqList.condMilestone.text}">マイルストーン</th>
                            <td><ul class="searchCond"
                                    id="condMilestone">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condMilestone"
                                        data-value=""> <span
                                            th:text="#{ChkInOutReqList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condMilestone"
                                        th:attr="data-value=${res.value}">
                                            <span th:text="${res.label}">未設定</span>
                                    </a>
                                    </li>
                                </ul></td>
                        </tr>

                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{ChkInOutReqList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">
                                <form id="FlowCheckinOutRequestList"
                                    th:action="@{/checkinout/search}"
                                    method="POST">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="onChange" />
                                    <input
                                        type="hidden"
                                        name="draft" value="false" />
                                    <input
                                        type="hidden"
                                        name="condTarget"
                                        th:value="${result.param.searchCondition.areqCtgCd}" />
                                    <input type="hidden"
                                        name="condStatus"
                                        th:value="${result.param.searchCondition.stsId}" />
                                    <input type="hidden"
                                        name="condCategory"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden"
                                        name="condMilestone"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden"
                                        name="selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                id="searchKeyword"
                                                value=""
                                                th:value="${result.param.searchCondition.keyword}"
                                                name="searchKeyword"
                                                th:placeholder="#{ChkInOutReqList.keyword.text}" />
                                        </dt>
                                        <dd>
                                            <input
                                                class="btn btn-default"
                                                type="hidden"
                                                id="btn-searching"
                                                th:value="#{ChkInOutReqList.search.text}"
                                                disabled="disabled" /> <input
                                                class="btn btn-default"
                                                type="submit"
                                                id="btn-search"
                                                th:value="#{ChkInOutReqList.search.text}" />
                                        </dd>
                                    </dl>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>

        <section class="section searchSection"
            id="draft_searchCondition" style="display: none;">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{ChkInOutReqList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"><span
                            th:text="#{ChkInOutReqList.saveSearchFilter.text}">検索条件を保存</span></a></li>
                </ul>
            </div>



            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table style="min-width: 550px;">
                        <tr>
                            <th
                                th:text="#{ChkInOutReqList.condCategory.text}">カテゴリー</th>
                            <td><ul class="searchDraftCond">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchDraftCondItem select"
                                        data-key="draft_condCategory"
                                        data-value=""><span
                                            th:text="#{ChkInOutReqList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchDraftCondition.ctgViews}"><a
                                        href="javascript:void(0);"
                                        class="searchDraftCondItem"
                                        data-key="draft_condCategory"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">未設定</span></a></li>
                                </ul></td>
                        </tr>

                        <tr>
                            <th
                                th:text="#{ChkInOutReqList.condMilestone.text}">マイルストーン</th>
                            <td><ul class="searchDraftCond"
                                    id="draft_condMilestone">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchDraftCondItem select"
                                        data-key="draft_condMilestone"
                                        data-value=""> <span
                                            th:text="#{ChkInOutReqList.condAll.text}">すべて</span></a></li>
                                    <li
                                        th:each="res : ${result.param.searchDraftCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchDraftCondItem"
                                        data-key="draft_condMilestone"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="${res.label}">未設定</span></a>
                                    </li>
                                </ul></td>
                        </tr>

                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{ChkInOutReqList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">
                                <form
                                    id="FlowCheckinOutDraftRequestList"
                                    th:action="@{/checkinout/search}"
                                    method="POST">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="onChange" />
                                    <input
                                        type="hidden"
                                        name="draft" value="true" />
                                    <input
                                        type="hidden"
                                        name="draft_condTarget"
                                        th:value="${result.param.searchDraftCondition.areqCtgCd}" />
                                    <input type="hidden"
                                        name="draft_condCategory"
                                        th:value="${result.param.searchDraftCondition.ctgId}" />
                                    <input type="hidden"
                                        name="draft_condMilestone"
                                        th:value="${result.param.searchDraftCondition.mstoneId}" />
                                    <input type="hidden"
                                        name="draft_pageNo"
                                        th:value="${result.param.searchDraftCondition.selectedPageNo}" />
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                id="draft_searchKeyword"
                                                value=""
                                                th:value="${result.param.searchDraftCondition.keyword}"
                                                name="draft_searchKeyword"
                                                th:placeholder="#{ChkInOutReqList.keyword.text}" />
                                        </dt>
                                        <dd>
                                            <input
                                                class="btn btn-default"
                                                type="hidden"
                                                id="draftBtn-searching"
                                                th:value="#{ChkInOutReqList.search.text}"
                                                disabled="disabled" /> <input
                                                class="btn btn-default"
                                                type="submit"
                                                id="draftBtn-search"
                                                th:value="#{ChkInOutReqList.search.text}" />
                                        </dd>
                                    </dl>


                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>

        <section class="section tableSection">
            <div id="tabs">
                <nav class="sectionNav sectionNavTab">
                    <dl class="sectionNavPager">
                        <ul>
                            <li><a href="#tabs-1"
                                id="listTab"><span
                                    th:text="#{ChkInOutReqList.requestList.text}">申請一覧</span></a></li>
                            <li><a href="#tabs-2"
                                id="draftTab"><span
                                    th:text="#{ChkInOutReqList.draft.text}">下書き</span></a></li>
                        </ul>
                    </dl>

                    <ul class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                        <form id="FlowCheckoutRequestCreateService"
                            th:action="@{/checkout/create}"
                            method="POST">
                            <input type="hidden" name="RequestType"
                                value="init" /> <input type="hidden"
                                name="referer"
                                value="CheckInOutRequestList" /> <input
                                type="hidden" name="forward"
                                value="CheckOutRequestCreation" /> <input
                                type="hidden" name="lotId" value="" />
                        </form>
                        <li><a href="javascript:void(0);"
                            th:onClick="'submitCheckoutRequestCreateService(\'' + ${result.param.selectedLotId} + '\'); return false;'">
                                <span><img
                                    src="../../images/trinity/common/icon_request_add.png"
                                    th:src="@{/resources/images/common/icon_request_add.png}"
                                    alt="" /></span> <span
                                th:text="#{ChkInOutReqList.createNewChkOutReq.text}">新規貸出申請をする</span>
                        </a></li>
                    </ul>
                </nav>
				<div id="switchTabLoading">
	                <div id="tabs-1">
	                    <nav class="sectionNav requestPage"
	                        id="requestPageTop">
	                        <div th:replace="common/Pagination::Top"></div>
	                    </nav>
	
	                    <form id="FlowCheckinRequestCreateService"
	                        th:action="@{/checkin/create}" method="POST">
	                        <input type="hidden" name="RequestType"
	                            value="init" /> <input type="hidden"
	                            name="referer" value="CheckInOutRequestList" />
	                        <input type="hidden" name="areqId" value="" />
	                    </form>
	
	                    <form id="FlowCheckoutRequestDetailsService"
	                        th:action="@{/checkout/details}" method="POST">
	                        <input type="hidden" name="RequestType"
	                            value="init" /> <input type="hidden"
	                            name="referer" value="CheckInOutRequestList" />
	                        <input type="hidden" name="areqId" value="" />
	                    </form>
	
	                    <form id="FlowCheckinRequestDetailsService"
	                        th:action="@{/checkin/details}" method="POST">
	                        <input type="hidden" name="RequestType"
	                            value="init" /> <input type="hidden"
	                            name="referer" value="CheckInOutRequestList" />
	                        <input type="hidden" name="areqId" value="" />
	                    </form>
	
	                    <form id="FlowChangePropertyOverviewService"
	                        th:action="@{/chgproperty/overview}"
	                        method="POST">
	                        <input type="hidden" name="RequestType"
	                            value="init" /> <input type="hidden"
	                            name="pjtId" value="" />
	                    </form>
	
	                    <table class="table table-bordered no-margin-top"
	                        id="result_checkinout">
	                        <thead>
	                            <tr>
	                                <th id="no_sort"><span
	                                    th:text="#{ChkInOutReqList.changeID.text}">変更管理番号</span></th>
	                                <th><span
	                                    th:utext="#{ChkInOutReqList.chkOutReqID.text}">申請番号</span></th>
	                                <th
	                                    th:text="#{ChkInOutReqList.subject.text}">申請件名</th>
	                                <th
	                                    th:text="#{ChkInOutReqList.submitter.text}">申請者</th>
	                                <th
	                                    th:text="#{ChkInOutReqList.assignee.text}">担当者</th>
	                                <th
	                                    th:utext="#{ChkInOutReqList.chkOutDate.text}">貸出日</th>
	                                <th
	                                    th:utext="#{ChkInOutReqList.chkInDueDate.text}">返却予定日</th>
	                                <th
	                                    th:text="#{ChkInOutReqList.updatedDate.text}">更新日</th>
	                                <th><span
	                                    th:text="#{ChkInOutReqList.status.text}">ステータス</span></th>
	                                <th
	                                    th:if="${result.header.selectedLot.enabled}"
	                                    th:text="#{ChkInOutReqList.action.text}">アクション</th>
	                            </tr>
	                        </thead>
	
	                        <tbody>
	                            <tr th:each="res : ${result.areqViews}"
	                                th:id="${res.pjtId}"
	                                th:fragment="CheckinOutList">
	                                <td><span th:text="${res.pjtId}"
	                                    class="changePropertyOverview"></span>
		                                    <a href="javascript:void(0);" 
		                                    	th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${res.pjtId} + '\'}); return false;'">
		                                        <i class="fa fa-clone"></i>
		                                	</a>
	                                	<span class="overviewPopup"></span>
	                                </td>
	                                <td th:switch="${res.areqType.value()}">
	                                    <a th:case="'40'"
	                                    href="javascript:void(0);"
	                                    th:text="${res.areqId}"
	                                    th:onClick="'javascript:submitCheckoutRequestDetailsService(\''+${res.areqId}+'\');return false;'">LND-1511040001asdsadsa</a>
	                                    <a th:case="'50'"
	                                    href="javascript:void(0);"
	                                    th:text="${res.areqId}"
	                                    th:onClick="'javascript:submitCheckinRequestDetailsService(\''+${res.areqId}+'\');return false;'">LND-1511040001asdsadsa</a>
	                                </td>
	
	                                <td class="ellipsis"
	                                    th:text="${res.subject}">つれづれなるまゝに</td>
	                                <td class="user"><img
	                                        th:src="${res.submitterIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.submitterNm}">Tommy
	                                            Robinson</span></td>
	                                <td class="user"><img
	                                        th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
	                                        th:src="${res.assigneeIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.assigneeNm}">Tommy
	                                            Robinson</span></td>
	                                <td th:text="${res.checkoutDate}">2015/11/12</td>
	                                <td th:text="${res.checkinDueDate}">2015/11/12</td>
	                                <td th:text="${res.updDate}">2015/11/12</td>
	                                <td class="labels"><span
	                                    class="label label-justify"
	                                    th:classappend="'amStatus'+'__${res.stsId}__'"
	                                    th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span>
	                                </td>
	                                <td class="btns" th:if="${result.header.selectedLot.enabled}">
	                                <a th:if="!${res.isCheckinEnabled()}"
	                                    href="javascript:void(0);"
	                                    class="delete"
	                                    th:onClick="'javascript:deleteFunctionOfCheckinReq(\'' + ${res.areqId} + '\', false); return false;'">
	                                        <i class="fa fa-times-circle"></i>
	                                </a>
	                                <a th:if="${res.isCheckinEnabled()}"
	                                    href="javascript:void(0);"
	                                    class="delete"
	                                    th:onClick="'javascript:deleteFunctionOfCheckoutReq(\'' + ${res.areqId} + '\', false); return false;'">
	                                        <i class="fa fa-times-circle"></i>
	                                </a>
	                                <a href="javascript:void(0);"> 
	                                    <img
	                                        class="clipboard_checkout" th:title="#{ChkInOutReqList.messageMouseoverChkOut.text}"
	                                        src="images/common/icon_copy_lending.png"
	                                        th:src="@{/resources/images/common/icon_copy_lending.png}"
	                                        style="height: 24px;"
	                                        th:attr="data-clipboard-text=${res.checkoutPath}" />
	                                </a> <a href="javascript:void(0);"> <img
	                                        class="clipboard_checkin" th:title="#{ChkInOutReqList.messageMouseoverChkIn.text}"
	                                        src="images/common/icon_copy_return.png"
	                                        th:src="@{/resources/images/common/icon_copy_return.png}"
	                                        style="height: 24px;"
	                                        th:attr="data-clipboard-text=${res.checkinPath}" />
	                                </a> <a th:if="${res.isCheckinEnabled()}"
	                                    href="javascript:void(0);"
	                                    th:onClick="'submitCheckinRequestCreateService(\'' + ${res.areqId} + '\'); return false;'">
	                                        <i class="fa fa-check-circle-o"></i>
	                                </a>
	                                <i th:if="!${res.isCheckinEnabled()}" class="fa fa-fw" ></i>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    
	                    <div
			                th:style="${result.areqViews.size()}== 0 ? 'display:block;' : 'display:none;'"
			                class="emptySearchResults" id="emptyResultsMessage">
			                <i class="fa fa-warning"></i> <span
			                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
			            </div>
			            
	                    <nav class="sectionNav requestPage"
	                        id="requestPageBottom">
	                        <dl class="sectionNavPager">
	                            <div th:replace="common/Pagination::Bottom"></div>
	                        </dl>
	                    </nav>
	                </div>
	
	                <div id="tabs-2">
	                    <form id="FlowCheckoutRequestEditService"
	                        method="POST" th:action="@{/checkout/edit}">
	                        <input type="hidden" name="RequestType"
	                            value="init" /> <input type="hidden"
	                            name="areqId" value="" />
	                    </form>
	                    <nav class="sectionNav draftPage" id="draftPageTop">
	                        <dl class="sectionNavPager">
	                            <div th:replace="common/Pagination::Top"></div>
	                        </dl>
	                    </nav>
	                    <table class="table table-bordered no-margin-top"
	                        id="draft_checkinout">
	                        <thead>
	                            <tr>
	                                <th
	                                    th:text="#{ChkInOutReqList.AdvSearch.type.text}">種別</th>
	                                <th
	                                    th:utext="#{ChkInOutReqList.changeID.text}">変更管理番号</th>
	                                <th
	                                    th:utext="#{ChkInOutReqList.chkOutReqID.text}">申請番号</th>
	                                <th
	                                    th:text="#{ChkInOutReqList.subject.text}">申請件名</th>
	                                <th
	                                    th:text="#{ChkInOutReqList.submitter.text}">申請者</th>
	                                <th
	                                    th:text="#{ChkInOutReqList.assignee.text}">担当者</th>
	                                <th
	                                    th:utext="#{ChkInOutReqList.chkOutDate.text}">貸出日</th>
	                                <th
	                                    th:utext="#{ChkInOutReqList.chkInDueDate.text}">返却予定日</th>
	                                <th
	                                    th:text="#{ChkInOutReqList.updatedDate.text}">更新日</th>
	                                <th
	                                    th:if="${result.header.selectedLot.enabled}"
	                                    th:text="#{ChkInOutReqList.removeDraft.text}">削除</th>
	                            </tr>
	                        </thead>
	
	                        <tbody>
	                            <tr th:each="res : ${result.draftAreqViews}"
	                                th:id="${res.pjtId}">
	                                <td class="labels"><span
	                                    class="label label-justify"
	                                    th:classappend="'amStatus'+'__${res.stsId}__'"
	                                    th:text="#{Constants.amStatus.__${res.stsId}__.text}">貸出申請</span>
	                                </td>
	                                <!-- td class="labels"><span class="label labelGreen label-justify" th:text="${res.status}">貸出申請</span></td -->
	                                <td><span th:text="${res.pjtId}"
	                                    class="changePropertyOverview"></span>
	                                    <a href="javascript:void(0);"
	                                    th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${res.pjtId} + '\'}); return false;'">
	                                        <i class="fa fa-clone"></i>
	                                </a> <span class="overviewPopup"></span></td>
	                                <td><a href="javascript:void(0);"
	                                    th:text="${res.areqId}"
	                                    th:onClick="'javascript:submitEditingService(\''+${res.areqId}+'\');return false;'">TMP-1511040001</a></td>
	                                <td class="ellipsis"
	                                    th:text="${res.subject}">つれづれなるまゝに</td>
	                                <td class="user"><img
	                                        th:src="${res.submitterIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.submitterNm}">Tommy
	                                            Robinson</span></td>
	                                <td class="user"><img
	                                        th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
	                                        th:src="${res.assigneeIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.assigneeNm}">Tommy
	                                            Robinson</span></td>
	                                <td th:text="${res.checkoutDate}">2015/11/12</td>
	                                <td th:text="${res.checkinDueDate}">2015/11/12</td>
	                                <td th:text="${res.updDate}">2015/11/12</td>
	                                <td class="btns" th:if="${result.header.selectedLot.enabled}"><a
	                                    href="javascript:void(0);"
	                                    class="delete"
	                                    th:onClick="'javascript:deleteFunctionOfCheckoutReq(\'' + ${res.areqId} + '\', true); return false;'"><i
	                                        class="fa fa-times-circle"></i></a></td>
	                            </tr>
	
	                        </tbody>
	                    </table>
	                    
	                    <div
			                th:style="${result.draftAreqViews.size()}== 0 ? 'display:block;' : 'display:none;'"
			                class="emptySearchResults" id="emptyResultsDraftMessage">
			                <i class="fa fa-warning"></i> <span
			                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
			            </div>
	
	                    <nav class="sectionNav" id="draftPageBottom">
	                        <dl class="sectionNavPager draftPage">
	                            <div th:replace="common/Pagination::Bottom"></div>
	                        </dl>
	                    </nav>
	                </div>
                
                </div>
                <form id="FlowCheckinRequestRemovalService"
                    th:action="@{/checkin/remove}" action="/checkin/remove" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChange" /> <input type="hidden"
                        name="referer" value="CheckInOutRequestList" />
                    <input type="hidden" name="forward"
                        value="CheckInOutRequestList" /> <input
                        type="hidden" name="areqId" value="" />
                </form>
                <form id="FlowCheckoutRequestRemovalService"
                    th:action="@{/checkout/remove}" action="/checkout/remove" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChange" /> <input type="hidden"
                        name="referer" value="CheckInOutRequestList" />
                    <input type="hidden" name="forward"
                        value="CheckInOutRequestList" /> <input
                        type="hidden" name="areqId" value="" />
                </form>

                <form id="FlowPrintCheckinOutRequestList"
                    th:action="@{/checkinout/list/print}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="draft" value="" /> <input
                        type="hidden" name="condTarget"
                        th:value="${result.param.searchCondition.areqCtgCd}" />
                    <input type="hidden" name="condStatus"
                        th:value="${result.param.searchCondition.stsId}" />
                    <input type="hidden" name="condCategory"
                        th:value="${result.param.searchCondition.ctgId}" />
                    <input type="hidden" name="condMilestone"
                        th:value="${result.param.searchCondition.mstoneId}" />
                    <input type="hidden" name="searchKeyword"
                        th:value="${result.param.searchCondition.keyword}" />

                    <input type="hidden" name="draft_condTarget"
                        th:value="${result.param.searchDraftCondition.areqCtgCd}" />
                    <input type="hidden" name="draft_condCategory"
                        th:value="${result.param.searchDraftCondition.ctgId}" />
                    <input type="hidden" name="draft_condMilestone"
                        th:value="${result.param.searchDraftCondition.mstoneId}" />
                    <input type="hidden" name="draft_searchKeyword"
                        th:value="${result.param.searchDraftCondition.keyword}" />
                </form>
            </div>
        </section>
    </article>

    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
		
		var formId = 'FlowCheckinOutRequestList';
		$(document).ready(function(){

			$( "#tabs" ).tabs();
			
			var selectedTabId = /*[[${selectedTabId}]]*/null;
			if(selectedTabId != null && selectedTabId > 0){
                $( "#tabs" ).tabs({'active':selectedTabId});
				$("#view_searchCondition").css("display","none");
                $("#draft_searchCondition").css("display","block");
                $("#exportFile").css("display","none");
                $("#exportDraft").css("display","block");
                formId = 'FlowCheckinOutDraftRequestList';
			}
			
 			updateSearchFilterQuery(formId);
 			updateSearchConditionView(formId);
			
			
			getTriLayer("flashMessage").show();
			
		});
		
		//send ajax
		function ajaxSearch( key, val ){
			var resultTable = 'result_checkinout';
			if(!key) {
        		resultTable = 'switchTabLoading';	
        	}
			getTriLayer("mask").startWaiting(resultTable);
			var timeOut = null;
			var url = /*[[ @{/checkinout/search} ]]*/'/checkinout/search';
			form = document.getElementById('FlowCheckinOutRequestList');
			
			//debug
			console.log($('form[id="FlowCheckinOutRequestList"]').serialize());

			$('#FlowCheckinOutRequestList input[name="'+key+'"]').val( val );
			updateSearchFilterQuery(formId);
			$("#result_checkinout").html("");
			//send
			timeOut = setTimeout(function() {
				 $.post(url, serializeWindowId('FlowCheckinOutRequestList')).done(
					function(data, status, xhr) {
						$("#result_checkinout").html($(data).find("#result_checkinout").html());
						$("#requestPageTop #pageTop").html($(data).find("#requestPageTop #pageTop").html());
						$("#requestPageBottom #pageBottom").html($(data).find("#requestPageBottom #pageBottom").html());
						$("#FlowCheckinOutRequestList").html($(data).find("#FlowCheckinOutRequestList").html());
						$("#FlowPrintCheckinOutRequestList").html($(data).find("#FlowPrintCheckinOutRequestList").html());
						$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
						if ( $(data).find("#message").html().trim() ) {
							$("#message").html($(data).find("#message").html());	
						}

						getTriLayer("mask").endWaiting(resultTable);
					}).fail(function(XMLHttpRequest, status, errorThrown) {
						console.log("fail");
						getTriLayer("mask").endWaiting(resultTable);
					});
					
			 }, 500);
			updateSearchConditionView(formId);
		}

		//send ajax
		function ajaxDraftSearch(key, val){
			var resultTable = 'draft_checkinout';
			if(!key) {
        		resultTable = 'switchTabLoading';	
        	}
			getTriLayer("mask").startWaiting(resultTable);

			var timeOut = null;
			var url = /*[[ @{/checkinout/search} ]]*/'checkinout/search';
			form = document.getElementById('FlowCheckinOutDraftRequestList');
			//debug
			console.log($('form[id="FlowCheckinOutDraftRequestList"]').serialize());
			
			$('#FlowCheckinOutDraftRequestList input[name="'+key+'"]').val( val );
			updateSearchFilterQuery(formId);
			$("#draft_checkinout").html("");
			//send
			timeOut = setTimeout(function() {
				 $.post(url, serializeWindowId('FlowCheckinOutDraftRequestList')).done(
					function(data, status, xhr) {
						$("#draft_checkinout").html($(data).find("#draft_checkinout").html());
						$("#result_draftexport").html($(data).find("#result_draftexport").html());
						$("#draftPageTop #pageTop").html($(data).find("#draftPageTop #pageTop").html());
						$("#draftPageBottom #pageBottom").html($(data).find("#draftPageBottom #pageBottom").html());
						$("#FlowCheckinOutDraftRequestList").html($(data).find("#FlowCheckinOutDraftRequestList").html());
						$("#FlowPrintCheckinOutRequestList").html($(data).find("#FlowPrintCheckinOutRequestList").html());
						$("#message").html($(data).find("#message").html());
						$("#emptyResultsDraftMessage").replaceWith($(data).find("#emptyResultsDraftMessage"));
						
						getTriLayer("mask").endWaiting(resultTable);
						
					}).fail(function(XMLHttpRequest, status, errorThrown) {
						console.log("fail");
						getTriLayer("mask").endWaiting(resultTable);
					});
					
			 }, 500);
			updateSearchConditionView(formId);
			
		}
		
		//checkout removal
		function ajax_delete(areqId, isDraft, isCheckinReq) {
	    	var formId = isCheckinReq? 'FlowCheckinRequestRemovalService' : 'FlowCheckoutRequestRemovalService';
	    	var maskId = isDraft ? 'draft_checkinout' : 'result_checkinout';
            getTriLayer("mask").startWaiting(maskId);

			form = document.getElementById(formId);
			form.areqId.value	= areqId;

            var url = form.action;

            $.post(url, serializeWindowId(formId)).done(function(data, status, xhr) {

                $("#infoDialog").html($(data).find("#infoDialog").html());
                getTriLayer("flashMessage").show();


                $("#message").html($(data).find("#message").html());
                if (!isDraft) {
                    $("#result_checkinout").html($(data).find("#result_checkinout").html());
                    $("#requestPageTop #pageTop").html($(data).find("#requestPageTop #pageTop").html());
                    $("#requestPageBottom #pageBottom").html($(data).find("#requestPageBottom #pageBottom").html());
                } else {
                    $("#draft_checkinout").html($(data).find("#draft_checkinout").html());
                    $("#draftPageTop").html($(data).find("#draftPageTop").html());
                    $("#draftPageBottom").html($(data).find("#draftPageBottom").html());
                }
                getTriLayer("mask").endWaiting(maskId);

            }).fail(function(XMLHttpRequest, status, errorThrown) {
            });
			}
			
			function deleteFunctionOfCheckinReq(areqId, isDraft) {
	    		openBandPopup({
					message :messageReplace([[#{ChkInReqDetails.confirmRemove.text}]], areqId),
					btn1Text :[[#{ChkInReqDetails.yes.text}]],
					btn2Text :[[#{ChkInReqDetails.no.text}]],
					
					btn1Func :function(){
	    							ajax_delete(areqId, isDraft, true);
							  },
					btn2Func :function(){}
				});
	        }

			function deleteFunctionOfCheckoutReq(areqId, isDraft) {
	    		openBandPopup({
					message :messageReplace([[#{ChkOutReqDetails.confirmRemoval.text}]], areqId),
					btn1Text :[[#{ChkOutReqDetails.submitRemoval.text}]],
					btn2Text :[[#{ChkOutReqDetails.cancel.text}]],
					
					btn1Func :function(){
	    							ajax_delete(areqId, isDraft, false);
							  },
					btn2Func :function(){}
				});
	        }
	    	
		function ajaxPageSearch() {
		var timeOut = null;
		var url = /*[[ @{/checkinout/search} ]]*/'checkinout/search';
		timeOut = setTimeout(function() {
			$.post(url, serializeWindowId('FlowCheckinOutDraftRequestSort')).done(
					function(data, status, xhr) {
						$("#draft_checkinout").html($(data).find("#draft_checkinout").html());
						$("#pageTop").html($(data).find("#pageTop").html());
						$("#pageBottom").html($(data).find("#pageBottom").html());
						$("#message").html($(data).find("#message").html());
					}).fail(function(XMLHttpRequest, status, errorThrown) {

			});
		}, 500);
		
		updateSearchConditionView(formId);
	}

		
		function submitCheckinRequestCreateService(areqId) {
			form = document.getElementById('FlowCheckinRequestCreateService');
			form.areqId.value = areqId;
			safeSubmit('FlowCheckinRequestCreateService', {'validation':false});
		}

		function submitCheckoutRequestCreateService(lotId) {
		    form = document.getElementById('FlowCheckoutRequestCreateService');
		    form.lotId.value = lotId;
		    safeSubmit('FlowCheckoutRequestCreateService', {'validation':false});
		}
       
		function submitCheckoutRequestDetailsService(areqId) {
			form = document.getElementById('FlowCheckoutRequestDetailsService');
			form.areqId.value = areqId;
			safeSubmit('FlowCheckoutRequestDetailsService', {'validation':false});
		}

		function submitCheckinRequestDetailsService(areqId) {
			form = document.getElementById('FlowCheckinRequestDetailsService');
			form.areqId.value = areqId;
			safeSubmit('FlowCheckinRequestDetailsService', {'validation':false});
		}

		function submitPrintCheckinOutRequestList(isDraft) {
			form = document.getElementById('FlowPrintCheckinOutRequestList');
			form.draft.value = isDraft;
			submit('FlowPrintCheckinOutRequestList');
		}
		
		//$(".tableSorter").tablesorter({headers:{0:{sorter:!1},1:{sorter:!1},2:{sorter:!1},3:{sorter:!1}}});
		$("#draftTab").on("click",function(){
			$("#view_searchCondition").css("display","none");
			$("#draft_searchCondition").css("display","block");
			$("#exportFile").css("display","none");
			$("#exportDraft").css("display","block");
			ajaxDraftSearch();
			formId = 'FlowCheckinOutDraftRequestList';
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
		});
		
		$("#listTab").on("click",function(){
			$("#view_searchCondition").css("display","block");
			$("#draft_searchCondition").css("display","none");
			$("#exportFile").css("display","block");
			$("#exportDraft").css("display","none");
			ajaxSearch();
			formId = 'FlowCheckinOutRequestList';
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
		});
			
		//block "enterkey" keypress in input form (searchKeyword)
		$(document).on("keypress", "input#searchKeyword", function(event) {
			return event.which !== 13;
		});

		$(document).on("keypress", "input#draft_searchKeyword", function(event) {
			return event.which !== 13;
		});

		$(document).on("click", ".pageNavi", function(){
			var val = $(this).attr("data-pageNum");
			var pageId = $(this).parents("nav:first").attr("id");
			if (pageId == 'requestPageTop'
				|| pageId == 'requestPageBottom') {
				ajaxSearch("selectedPageNo",val);
			} else if (pageId == 'draftPageTop'
				|| pageId == 'draftPageBottom') {
				ajaxDraftSearch("draft_pageNo", val);
			}
			
		});
			
		//View List Search Condition
		$(document).on("click", ".searchCondItem", function(){

			//switch button
			$("#btn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			//change selected label
			var obj = $(this).parents(".searchCond").children("li").children("a.select");
			obj.removeClass("select");
			$(this).addClass("select");
	
			var key = $(this).attr("data-key");
			var val = $(this).attr("data-value");
			$('input[name='+key+']').val(val);
			//do search
			ajaxSearch(key,val);

			//switch button
			$("#btn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});
		
		//View List keyword search
		$(document).on("click", "input#btn-search", function(){
			//switch button
			$("#btn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			var key = "searchKeyword";
			var val = $("input#searchKeyword").val();
			ajaxSearch(key,val);
			
			$("#btn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});

		//Draft List Search Condition	
		$(document).on("click", ".searchDraftCondItem", function(){
		//switch button
			$("#draftBtn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			//change selected label
			var obj = $(this).parents(".searchDraftCond").children("li").children("a.select");
			obj.removeClass("select");
			$(this).addClass("select");

			var key = $(this).attr("data-key");
			var val = $(this).attr("data-value");
			//do search
			ajaxDraftSearch(key,val);

			//switch button
			$("#draftBtn-search").attr("type","button");
			$("#draftBtn-searching").attr("type","hidden");
		});

		//Draft List keyword search
		$(document).on("click", "input#draftBtn-search", function(){
		
		//switch button
			$("#draftBtn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			var key = "draft_searchKeyword";
			var val = $("input#draft_searchKeyword").val();
			ajaxDraftSearch(key,val);
			
			$("#draftBtn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});

		//copy to clipboard
		var clipboard_checkout = new Clipboard('.clipboard_checkout');
		var clipboard_checkin = new Clipboard('.clipboard_checkin');
		
		clipboard_checkout.on('success', function(e) {
			openBandPopup({
				//message:"貸出フォルダをクリップボードにコピーしました",
				message:/*[[#{ChkInOutReqList.messageCopypathChkOut.text}]]*/ "貸出フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});

		clipboard_checkin.on('success', function(e) {
			openBandPopup({
				message:/*[[#{ChkInOutReqList.messageCopypathChkIn.text}]]*/ "返却フォルダのパスをクリップボードにコピーしました",
				btn1Text:null,
				btn2Text:null,
				displayTime:2500
			});
			e.clearSelection();
		});

		function changePropertyOverviewPopup(pjtId,selector){

	        var timeOut = null;
	    	var url =  /*[[ @{/chgproperty/overview} ]]*/'/chgproperty/overview';

			form = document.getElementById('FlowChangePropertyOverviewService');
			form.pjtId.value = pjtId;

	        timeOut = setTimeout(function() {
	            $.post(url, serializeWindowId('FlowChangePropertyOverviewService')).done(
					function(data, status, xhr) {  

						$("#message").html($(data).find("#message").html());  
						$(selector).parents("td").find(".overviewPopup").html($(data).html());
						$(selector).parents("td").find(".popupWindow").fadeIn(300);
						
					}).fail(function(XMLHttpRequest, status, errorThrown) {
				});
			},200);
		}

		$(document).on({
			'mouseenter':function(){
				var pjtId = $(this).html();
				var selector = this;

				$(".overviewPopup").html("");
				
				sethover = setTimeout(function(){
					changePropertyOverviewPopup(pjtId,selector);
				},300);
			},
			'mouseleave':function(){
				$(".overviewPopup").html("");
				clearTimeout(sethover);
			}
		},'.changePropertyOverview');

		function exportToFile(extension, isDraft) {
		    var validateURL = /*[[ @{/checkinout/export/validate} ]]*/ '/checkinout/export/validate';
			var $windowId = $('#windowId').val();

		    $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                $("#message").html($(data).find("#message").html());
                if(!$("#message").html().trim()) {
                    var _url = /*[[@{/checkinout/export}]]*/'/checkinout/export';
                    var formName = "FlowCheckinOutRequestList";
                    if(isDraft) formName = "FlowCheckinOutDraftRequestList";
                    var form = document.getElementById(formName);
                    appendWindowId(form);
                    var _data = $(form).serialize()
                    $.ajax({
                        type: "POST",
                        url: _url,
                        data: _data,
                        global: false,
                        success: function(data) {
                            downloadFile($(data).html(), extension);
                        },
                    });
                }
            });
		}

		function downloadFile(table, extension) {
			var form = document.getElementById('downloadFile');
			if (extension == 'xls') {
				form.submitOption.value = "ExportToExcel";
			} else if (extension == 'csv') {
				form.submitOption.value = "ExportToCsv";
			}
			form.table.value = encodeURI(table);
			appendWindowId(form);
			form.submit();
			return;
		}

		/*
		clipboard_checkout.on('error', function(e) {
		});
		*/
		function submitEditingService(areqId) {
	        form = document.getElementById('FlowCheckoutRequestEditService');
	        form.areqId.value = areqId;
	        safeSubmit('FlowCheckoutRequestEditService', {'validation':false});
	    }

		$(document).ready(function(){
			$('#FlowPrintCheckinOutRequestList').submit(function() {
				var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
				this.target = 'Popup_Window';
			});
		});

	/* ]]> */
        </script>

</body>
</html>