<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ChkInReqDiff.title.text}" th:fragment="titleHtml">trinity
    | Resource File - View Differences</title>

<!-- CSS -->
<link href="../../css/trinity/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/trinity/font-awesome.min.css" rel="stylesheet" />
<link href="../../css/trinity/trinity.css" rel="stylesheet" />


<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js"></script>
<script src="../../js/trinity/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html"
                    class="select">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_status_inquiry.png"
                    th:src="@{/resources/images/common/icon_status_inquiry.png}"
                    alt="" /></span><span
                    th:text="#{ChkInReqDiff.header.text}">返却申請時の差分比較</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{CheckInFileDifferences.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>>
            </div>
            <ul class="contentsHeaderMenu">

                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowRequestResourceFileComparisonService\');return false;'"
                    th:text="#{ChkInReqDiff.newWindow.text}">別ウインドウに複製</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0);"
                    onClick="javascript:safeSubmit('FlowPrintRequestResourceFileComparisonService', {'validation':false});return false;"><span
                        th:text="#{ChkInReqDiff.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>

        <div th:replace="common/Messages::message">Messages</div>

        <nav class="contentsHeaderNav"
            th:if="${result.getReferer()} == 'CheckinRequestDetails'">
            <a href="javascript:void(0)" class="contentsHeaderNavLeft"
                onclick="javascript:returnToCheckinDetail() ; safeSubmit('FlowCheckInRequestDetailsService', {'validation':false});return false">
                <span><i class="fa fa-arrow-left"></i></span><span
                th:text="#{ChkInReqDiff.returnDetails.text}">返却申請の詳細へ戻る</span>
            </a>
        </nav>

        <nav class="contentsHeaderNav"
            th:if="${result.getReferer()} == 'CheckinRequestCreation'">
            <a href="javascript:void(0)" class="contentsHeaderNavLeft"
                onclick="javascript:returnToCheckinCreation(); safeSubmit('FlowCheckInRequestCreationService', {'validation':false});return false">
                <span><i class="fa fa-arrow-left"></i></span><span
                th:text="#{ChkInReqDiff.returnCreation.text}">返却申請の新規申請へ戻る</span>
            </a>
        </nav>


        <section class="section sectionDiff">
            <div class="sectionDiffHeader">
                <div class="sectionDiffHeaderLeft">
                    <ul class="statusList">
                        <li class="deleted"><span
                            th:text="#{ChkInReqDiff.removal.text}">削除</span></li>
                        <li class="added"><span
                            th:text="#{ChkInReqDiff.addition.text}">追加</span></li>
                        <li class="changed"><span
                            th:text="#{ChkInReqDiff.modification.text}">変更</span></li>
                    </ul>
                </div>

            </div>
            <div class="sectionDiffBody">
                <div class="sectionDiffBodyLeft matchHeight">
                    <div class="codeHead">
                        <h2>
                            <span
                                th:text="#{ChkInReqDiff.lotResource.text}">ロット資産</span>
                        </h2>
                        <ul>
                            <li><span
                                th:text="${result.getResourceComparisonView().getSrcResource().getResourcePath()}">/lib/src/main/abc.sh</span>(
                                <span
                                th:text="${result.getResourceComparisonView().getSrcResource().getResourceUpdTime()}">（2016/1/5
                                    12:30）</span>)</li>
                            <li class="user"><a
                                href="javascript:void(0)"
                                th:text="${result.getResourceComparisonView().getSrcResource().getSubmitterNm()}">
                                    <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    alt="Tommy Robinson" class="userImg" />Tommy
                                    Robinson
                            </a></li>
                        </ul>
                    </div>

                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.getResourceComparisonView().getLine()}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}"
                                    class="deleted">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="sectionDiffBodyCenter matchHeight">
                    <span><i class="fa fa-chevron-right"></i></span>
                </div>
                <div class="sectionDiffBodyRight matchHeight">
                    <div class="codeHead">
                        <h2>
                            <span
                                th:text="#{ChkInReqDiff.chkInResource.text}">HEAD資産</span>
                        </h2>
                        <ul>
                            <li><span
                                th:text="${result.getResourceComparisonView().getDestResource().getResourcePath()}">/lib/src/main/abc.sh</span>(
                                <span
                                th:text="${result.getResourceComparisonView().getDestResource().getResourceUpdTime()}">（2016/1/5
                                    12:30）</span>)</li>
                            <li class="user"><a
                                href="javascript:void(0)"
                                th:text="${result.getResourceComparisonView().getDestResource().getSubmitterNm()}">
                                    <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    alt="Tommy Robinson" class="userImg" />Tommy
                                    Robinson
                            </a></li>
                        </ul>
                    </div>
                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.getResourceComparisonView().getLine()}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}"
                                    class="added">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important" ><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <form id="FlowCheckInRequestDetailsService"
                th:action="@{/checkin/details}" method="POST">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="areqId"
                    th:value="${result.getParam().getSelectedAreqId()}" />
            </form>
            <form id="FlowCheckInRequestCreationService"
                th:action="@{/checkin/create}" method="POST">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="areqId"
                    th:value="${result.getParam().getSelectedAreqId()}" />
            </form>
            <form id="FlowRequestResourceFileComparisonService"
                th:action="@{/checkin/diff}" method="POST"
                target="CloneWindow">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="areqId"
                    th:value="${result.getParam().getSelectedAreqId()}" />
                <input type="hidden" name="referer"
                    value="CheckInFileDifferences" /> <input
                    type="hidden" name="resourcePath"
                    th:value="${result.getParam().getSelectedResourcePath()}" />
            </form>

            <form id="FlowPrintRequestResourceFileComparisonService"
                th:action="@{/checkin/diff/print}" method="POST">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="areqId"
                    th:value="${result.getParam().getSelectedAreqId()}" />
                <input type="hidden" name="resourcePath"
                    th:value="${result.getParam().getSelectedResourcePath()}" />
            </form>

        </section>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>

    <script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
		$(document).ready(function(){
			$('#FlowPrintRequestResourceFileComparisonService').submit(function() {
				var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
				this.target = 'Popup_Window';
			});
		});
		
		function returnToCheckinCreation(){
			var jsonFormData = [[${hiddenJson}]];
			if ( jsonFormData ) {
				$('#FlowCheckInRequestCreationService input').remove();
				fromJsonToForm($('#FlowCheckInRequestCreationService'),jsonFormData);
				$('#FlowCheckInRequestCreationService input[name=WindowsId]').remove();
			}
			
		}
		
		
		function returnToCheckinDetail(){
			var jsonFormData = [[${hiddenJson}]];
			if ( jsonFormData ) {
				$('#FlowCheckInRequestDetailsService input').remove();
				fromJsonToForm($('#FlowCheckInRequestDetailsService'),jsonFormData);
				$('#FlowCheckInRequestDetailsService input[name=WindowsId]').remove();
			}
			
		}
	
	/* ]]> */
</script>

</body>
</html>