<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* theseConflictCheck.baselineSelection.textConflictCheck.baselineSelection.text tags -->
<title th:text="#{ConflictCheck.title.text}" th:fragment="titleHtml">trinity |
    Conflict Check</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
                <li><a href="ChangeRequestApprovalList.html"
                    class="select">マージ</a></li>
            </ul>
        </nav>
    </header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowConflictCheckCommentService" method="POST"
            th:action="@{/merge/conflictcheck/validate}">
            <input type="hidden" name="RequestType" value="validate" />
            <input type="hidden" name="selectedLotVerTag" value="" />
        </form>
        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_conflict_check2.png"
                    th:src="@{/resources/images/common/icon_conflict_check2.png}"
                    alt="" />
                </span><span th:text="#{ConflictCheck.header.text}">コンフリクトチェックの実行</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ConflictCheck.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
        </div>

        <nav class="sectionNav sectionConfigContentsNav">
            <ul class="sectionNavLeft">
                <li>
                    <div th:replace="common/Messages::message">Messages</div>
                </li>
            </ul>
        </nav>

        <form id="FlowBuildPackageOverviewService"
            th:action="@{/build/overview}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="bpId" value="" />
        </form>

        <form id="FlowBuildPackageDetails" th:action="@{/build/details}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="BpId" value="" />
        </form>
        <form id="FlowConflictCheckService" method="POST"
            th:action="@{/merge/conflictcheck/validate}">
            <input type="hidden" name="RequestType" value="validate" />
            <input type="hidden" name="referer" value="ConflictCheck" />
            <input type="hidden" name="forward" value="MergeLotList" />
            <input type="hidden" name="selectedLotVerTag" value="" />


            <section class="section sectionRadius">
                <h2>
                    <span class="required">*</span>
                    <span
                        th:text="#{ConflictCheck.baselineSelection.text}">ベースライン選択</span><span
                        class="helpBtn inline"><a th:href="#{ConflictCheck.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <table class="table table-bordered" id="baselineTable">
                    <thead id="baselineSelection_validationMessagePosition">
                        <tr>
                            <th></th>
                            <th
                                th:text="#{ConflictCheck.baseline.text}">ベースライン</th>
                            <th th:text="#{ConflictCheck.bldPkgID.text}">ビルドパッケージ</th>
                            <th th:text="#{ConflictCheck.relPkgID.text}">リリースパッケージ</th>
                            <th
                                th:text="#{ConflictCheck.submitter.text}">クローズ担当者名</th>
                            <th
                                th:text="#{ConflictCheck.closeDate.text}">クローズ日時</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="baselineView : ${result.baselineViews}">
                            <td><input type="radio" name="selectedLotVerTag"
                                       class="validation validationMessageId validationMessagePosition validationCustomPattern"
                                       data-validationMessageId="formError_baselineSelection"
                                       data-validationMessagePosition="baselineSelection_validationMessagePosition"
                                       data-validationCustomPattern="radio_selectOne"
                                th:value="${baselineView.lotVerTag}" /></td>
                            <td >
							<span th:text="${baselineView.lotBlTag}"/>
							<br/>
							<span th:text="'(' + ${baselineView.lotVerTag} + ')'"/>
							</td>
                            <td>
                            	<a th:each="bpId : ${baselineView.bpIds}"
                            	 	style="display:block" class="buildPackageOverview"
	                                th:text="${bpId}"
	                                th:href="@{/dispatch(dataAttribute='BuildPackage',dataId=${bpId})}"
	                                target="_blank">
                            	</a>
	                            <span class="overviewPopup"></span>
                           </td>
                            <td><p
                                    th:each="rpId : ${baselineView.rpIds}"
                                    th:text="${rpId}"></p></td>
                            <td class="user"><img
                                th:src="${baselineView.lotCheckinSubmitterIconPath}"
                                class="userImg" /><span
                                th:text="${baselineView.lotCheckinSubmitterNm}"></span></td>
                            <td th:text="${baselineView.lotCheckinTime}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="formError" id="formError_baselineSelection"
                     style="display: none;">
                    <span th:text="#{ConflictCheck.baselineSelection.text}">ビルド環境設定</span>
                    <span th:text="#{Validation.isRequired.text}">is
                        required.</span>
                </div>
            </section>

            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <dl class="sectionNavRight">
                        <dd class="commentButtons">
                            <a href="javascript:void(0)" th:if="${#lists.isEmpty(result.baselineViews)}"
                               class="btn btn-default" th:styleappend=" 'cursor: not-allowed;' "><span
                                    th:text="#{ConflictCheck.conflictCheckCreation.text}">コンフリクトチェックを実行する</span></a>
                            <a href="javascript:void(0);" th:if="not ${#lists.isEmpty(result.baselineViews)}"
                                class="btn btn-default"
                                onClick="validateConflictCheck()">
                                <span class="commentButtonWaiting"
                                id="conflictCheckCommentButtonWaiting"
                                style="display: none;"><i
                                    class="fa fa-circle-o-notch fa-spin"
                                    aria-hidden="true"></i></span> <span
                                th:text="#{ConflictCheck.conflictCheckCreation.text}">コンフリクトチェックを実行する</span>
                                <div class="fukidashiHeader"
                                    id="conflictCheckFukidashiHeader"
                                    style="display: none;"></div>
                            </a>
                        </dd>
                    </dl>
                </nav>
                <div id="replace_reason"></div>
            </section>
        </form>
    </article>

    <!-- フッター -->


    <div class="footerPageTop">
        <a href="" th:text="#{}">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
        	/*<![CDATA[*/
            $(document).on("change", '#baselineTable input[type="radio"]', function(){
                /*var obj = $('#baselineTable input[type="radio"]');
                $('#baselineTable tbody tr').removeClass("select");
                $('input[name=baseline]:checked').parent().parent().addClass("select");*/
                var obj = $('#baselineTable input[type="radio"]');
                var clickedIndex = obj.index(this);
                var baselineCount = obj.length;
                
                $('#baselineTable tbody tr').removeClass("select");
                for(var i=clickedIndex; i<baselineCount; i++){
                    $('#baselineTable tbody tr').eq(i).addClass("select");
                    
                }
            });

            $(function() {
                console.log([[${result.baselineViews}]]);
                getTriLayer("flashMessage").show();
                
            });

            $(document).on({
    			'mouseenter':function(){
    				var bpId = $(this).html();
    				var selector = this;

    				$(".overviewPopup").html("");
    				
    				sethover = setTimeout(function(){
    					buildPackageOverviewPopup(bpId,selector);
    				},300);
    			},
    			'mouseleave':function(){
    				$(".overviewPopup").html("");
    				clearTimeout(sethover);
    			}
    		},'.buildPackageOverview');

            function buildPackageOverviewPopup(bpId,selector){

    	        var timeOut = null;
    	    	var url =  /*[[ @{/build/overview} ]]*/'/build/overview';

    			form = document.getElementById('FlowBuildPackageOverviewService');
    			form.bpId.value = bpId;

    	        timeOut = setTimeout(function() {
    	            $.post(url, serializeWindowId('FlowBuildPackageOverviewService')).done(
    					function(data, status, xhr) {  

    						$("#message").html($(data).find("#message").html());  
    						$(selector).parents("td").find(".overviewPopup").html($(data).html());
    						$(selector).parents("td").find(".popupWindow").fadeIn(300);
    						
    					}).fail(function(XMLHttpRequest, status, errorThrown) {
        					console.log("buildPackageOverviewPopup fail");
    				});
    			},200);
    		}

            function buildPackageDetails(eventTarget) {
                var form = document.getElementById('FlowBuildPackageDetails');
                form.BpId.value = $(eventTarget).prev(".buildPackageOverview").html();
                safeSubmit('FlowBuildPackageDetails', {'validation':false});
            }

            function validateConflictCheck() {
                if ( !validateOnSubmit() ) return;
            	setParamsToForm('FlowConflictCheckCommentService', {'selectedLotVerTag' : $('input[name=selectedLotVerTag]:checked').val() });
            	toggleComment('FlowConflictCheckCommentService', 'conflictCheck');	
				
            }
            /* ]]> */
        </script>
</body>
</html>
