<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ConflictCheckDifferences.title.text}"
    th:fragment="titleHtml">trinity | Conflict Check - View
    Differences</title>

<!-- CSS -->
<link href="../../css/trinity/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/trinity/font-awesome.min.css" rel="stylesheet" />
<link href="../../css/trinity/trinity.css" rel="stylesheet" />


<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js"></script>
<script src="../../js/trinity/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
                <li><a href="" class="select">並行資産管理の統合</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->


    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_conflict_check2.png"
                    th:src="@{/resources/images/common/icon_conflict_check2.png}"
                    alt="" /></span> <span
                    th:text="#{ConflictCheckDifferences.header.text}">コンフリクトチェック時の差分比較</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ConflictCheckDifferences.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    onClick="javascript:cloneConflictWindow();return false;"><span
                        th:text="#{ConflictCheckDifferences.newWindow.text}">別ウインドウに複製</span></a></li>
                <li><i class="fa fa-print"></i><a href="javascript:void(0)"
                		onclick="printConflictCheckDifference();return false;"><span
                        th:text="#{ConflictCheckDifferences.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>

        <div th:replace="common/Messages::message">Messages</div>

        <form id="FlowConflictCheckResultService" method="POST"
            th:action="@{/merge/conflictcheck/result}"></form>

        <nav class="contentsHeaderNav">
            <a href="" class="contentsHeaderNavLeft"
                onClick="safeSubmit('FlowConflictCheckResultService');return false;">
                <span><i class="fa fa-arrow-left"></i></span> <span
                th:text="#{ConflictCheckDifferences.return.text}">コンフリクトチェック結果へ戻る</span>
            </a>
        </nav>

        <section class="section sectionDiff">
            <div class="sectionDiffHeader">
                <div class="sectionDiffHeaderLeft">
                    <ul class="statusList">
                        <li class="deleted"><span
                            th:text="#{ConflictCheckDifferences.remove.text}">削除</span></li>
                        <li class="added"><span
                            th:text="#{ConflictCheckDifferences.add.text}">追加</span></li>
                        <li class="changed"><span
                            th:text="#{ConflictCheckDifferences.change.text}">変更</span></li>
                    </ul>
                </div>

                <form id="FlowConflictCheckDifferencesService"
                    class="form-inline sectionDiffHeaderRight"
                    th:action="@{/merge/conflictcheck/result/diff}"
                    method="POST" target="CloneWindow">
                    <input type="hidden" name="RequestType"
                        value="onChange" /> <input type="hidden"
                        name="srcVer" id="srcVer"
                        th:value="${result.getParam().getInputInfo().getSrc().value()}" />
                    <input type="hidden" name="dstVer" id="dstVer"
                        th:value="${result.getParam().getInputInfo().getDest().value()}" />

                    <div class="form-group">
                        <select id="selectBox1"
                            class="form-control input-sm">
                            <option
                                th:each="res : ${result.getParam().getInputInfo().srcViews}"
                                th:value="${res.value()}"
                                th:if="( ${res.value()} != '' )">
                                <span
                                    th:text="#{ConflictCheckDifferences.__${res.value()}__.text}">HEAD資産</span>
                            </option>
                        </select> <span th:text="#{ConflictCheckDifferences.and.text}">  </span>
                    </div>
                    <div class="form-group">
                        <select id="selectBox2"
                            class="form-control input-sm">
                            <option
                                th:each="res : ${result.getParam().getInputInfo().destViews}"
                                th:value="${res.value()}"
                                th:if="( ${res.value()} != '')">
                                <span
                                    th:text="#{ConflictCheckDifferences.__${res.value()}__.text}">HEAD資産</span>
                            </option>
                        </select> <span th:text="#{ConflictCheckDifferences.of.text}"> の </span>
                    </div>
                    <input id="diffSubmitBtn" type="button"
                        class="btn btn-default btn-sm"
                        th:value="#{ConflictCheckDifferences.viewDifference.text}" />
                </form>

                <form id="FlowConflictCheckDifferencesServiceClone"
                      th:action="@{/merge/conflictcheck/result/diff}"
                      method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="resourcePath" th:value="${result.param.selectedResourcePath}" />
                    <input type="hidden" name="pjtId" th:value="${result.param.selectedAreqId}" />
                    <input type="hidden" name="moduleNm" value="" />
                    <input type="hidden" name="conflict" value="true" />
                </form>


            </div>
            <div id="diffResult" class="sectionDiffBody">
                <div class="sectionDiffBodyLeft matchHeight">
                    <div class="codeHead">
                        <h2 th:text="#{ConflictCheckDifferences.__${result.getParam().getInputInfo().getSrc().value()}__.text}">HEAD資産</h2>
                        <ul th:if="${result.resourceComparisonView.srcResource.isVisible()}">
                            <li><span
                                th:text="${result.getResourceComparisonView().getSrcResource().getResourcePath()}">/lib/src/main/abc.sh</span>(
                                <span
                                th:text="${result.getResourceComparisonView().getDestResource().getResourceUpdTime()}">（2016/1/5
                                    12:30）</span>)</li>
                            <li class="user"><a
                                href="javascript:void(0)"
                                th:text="${result.getResourceComparisonView().getSrcResource().getSubmitterNm()}">
                                    <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    alt="Tommy Robinson" class="userImg" />Tommy
                                    Robinson
                            </a></li>
                        </ul>
                        <ul th:unless="${result.resourceComparisonView.srcResource.isVisible()}">
                            <li>&nbsp;</li>
                            <li class="user">&nbsp;</li>
                        </ul>
                    </div>
                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.getResourceComparisonView().getLine()}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}"
                                    class="deleted">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sectionDiffBodyCenter matchHeight">
                    <span><i class="fa fa-chevron-right"></i></span>
                </div>
                <div class="sectionDiffBodyRight matchHeight">
                    <div class="codeHead">
                        <h2 th:text="#{ConflictCheckDifferences.__${result.getParam().getInputInfo().getDest().value()}__.text}">HEAD資産</h2>
                        <ul th:if="${result.resourceComparisonView.destResource.isVisible()}">
                            <li><span
                                th:text="${result.getResourceComparisonView().getDestResource().getResourcePath()}">/lib/src/main/abc.sh</span>(
                                <span
                                th:text="${result.getResourceComparisonView().getDestResource().getResourceUpdTime()}">（2016/1/5
                                    12:30）</span>)</li>
                            <li class="user"><a
                                href="javascript:void(0)"
                                th:text="${result.getResourceComparisonView().getDestResource().getSubmitterNm()}">
                                    <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    alt="Tommy Robinson" class="userImg" />Tommy
                                    Robinson
                            </a></li>
                        </ul>
                        <ul th:unless="${result.resourceComparisonView.destResource.isVisible()}">
                            <li>&nbsp;</li>
                            <li class="user">&nbsp;</li>
                        </ul>
                    </div>
                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.getResourceComparisonView().getLine()}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}"
                                    class="added">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        
        <form id="FlowPrintConflictCheckDifferencesService"
	         th:action="@{/merge/conflictcheck/result/diff/print}" method="POST">
	         <input type="hidden" name="RequestType" value="init" /> <input 
	         type="hidden" id="printSrcVer" name="printSrcVer" value="" /> <input 
	         type="hidden" id="printDstVer" name="printDstVer" value="" /> <input 
	         type="hidden" name="selectedResourcePath" th:value="${result.param.selectedResourcePath}" /> <input 
	         type="hidden" name="pjtId" th:value="${result.param.selectedAreqId}" />
        </form>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>

    <script th:inline="javascript" th:fragment="js">

	function ajaxDeff(srcVer,dstVer){
		var timeOut = null;
		var url = /*[[ @{/merge/conflictcheck/result/diff} ]]*/'/merge/conflictcheck/result/diff';

		var form = document.getElementById('FlowConflictCheckDifferencesService');
		form.srcVer.value = srcVer;
		form.dstVer.value = dstVer;
		
		//send
		timeOut = setTimeout(function() {
			$.post(url, serializeWindowId('FlowConflictCheckDifferencesService')).done(
				function(data, status, xhr) {
					$("#message").html($(data).find("#message").html());
					$("#diffResult").html($(data).find("#diffResult").html());
					
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
				});
		}, 500);
	}


	$(function(){
		
		var selectBox1Length = $('#selectBox1').children().length;
		var selectBox2Length = $('#selectBox2').children().length;

		if(selectBox1Length == 0 || selectBox2Length == 0){
			$("#FlowConflictCheckDifferencesService").css( "display" , "none" );
		}

		var form = document.getElementById('FlowConflictCheckDifferencesService');
		
		$("#selectBox1").val(form.srcVer.value);
		$("#selectBox2").val(form.dstVer.value);
		
		
		$("select").change(function(){
			var selected1 = $("#selectBox1 option:selected").text();
			var selected2 = $("#selectBox2 option:selected").text();
			
			if(selected1 == selected2){
				$("#diffSubmitBtn").prop("disabled", true);

			}else{
				$("#diffSubmitBtn").prop("disabled", false);
			}
		}).change();
		
		
		$(document).on("click","#diffSubmitBtn",function(){

			var srcVer = $("#selectBox1 option:selected").attr("value");
			var dstVer = $("#selectBox2 option:selected").attr("value");

			ajaxDeff(srcVer,dstVer);
		});
	});
	
	$(document).ready(function(){
		$('#FlowPrintConflictCheckDifferencesService').submit(function() {
		    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    this.target = 'Popup_Window';
		});
	});
	
	function printConflictCheckDifference() {
		var formSrc = document.getElementById("FlowConflictCheckDifferencesService");
		var formDest = document.getElementById("FlowPrintConflictCheckDifferencesService");
		
		formDest.printSrcVer.value = formSrc.srcVer.value;
		formDest.printDstVer.value = formSrc.dstVer.value;
		
		submit('FlowPrintConflictCheckDifferencesService');
    }

    function cloneConflictWindow() {
        var form = document.getElementById('FlowConflictCheckDifferencesServiceClone');
        var fullResourcePath = form.resourcePath.value;

        form.moduleNm.value = fullResourcePath.split("/")[0];
        form.resourcePath.value = fullResourcePath.split("/").splice(1).join("/");
        if (document.getElementById("selectBox1").length == 3) {
            form.conflict.value = 'false';
        }
        cloneWindow('FlowConflictCheckDifferencesServiceClone');return false;
    }

</script>

</body>
</html>