<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title th:fragment="titleHtml" th:text="#{Dashboard.title.text}"></title>

<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
		<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
		<![endif]-->

</head>
<body>

    <header th:replace="common/GlobalHeader::globalHeader"></header>

    <header id="lotHeader">
        <div th:replace="common/ProjectHeader::projectHeader"></div>
    </header>


    <header id="settingsHeader"></header>
    <!-- コンテンツ -->
    <article th:fragment="innerHtml" class="contents twoColumn">
        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>
        <div class="twoColumnLeft">

            <div th:replace="DashBoard_Lot :: dashboard_lot"></div>
            <div th:replace="DashBoard_Request::dashboard_request"></div>
        </div>

        <div class="twoColumnRight">
            <section class="twoColumnSectionMenuSpacer"></section>
            <div
                th:replace="DashBoard_NotificationToUser :: dashboard_notificationToUser"></div>
            <div
                th:replace="DashBoard_RecentUpdates :: dashboard_recentUpdates"></div>
        </div>

    </article>
    <!-- フッター -->


    <div class="footerPageTop"
        th:replace="template/Footer::FooterPageTop">
        <a href=""><span th:text="#{Footer.backToTop.text}">このページの先頭へ</span></a>
    </div>

    <footer id="globalFooter" th:replace="template/Footer::Footer">
        <small><span th:text="#{Footer.copyright1.text}">trinity
                V4 Copyright&copy;</span> <i class="fa fa-copyright"></i><span
            th:text="#{Footer.copyright2.text}"> 2016- by
                Blueship. All rights reserved.</span></small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href=""><span
                        th:text="#{Footer.contact.us.text}">お問い合わせ</span></a></li>
                <!--<li><a href=""><span th:text="#{Footer.faq.text}">よくあるご質問FAQ</span></a></li>-->
                <li><a href=""><span
                        th:text="#{Footer.help.text}">ヘルプ</span></a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="resources/js/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/globalnav.js"
        th:src="@{/resources/js/globalnav.js}"></script>
    <script src="resources/js/search.js"
        th:src="@{/resources/js/search.js}"></script>
    <script src="resources/js/profile.js"
        th:src="@{/resources/js/profile.js}"></script>
    <script src="resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
    
   	function dispatch(lotId, serviceId, viewLinkEnabled) {
   	   	if(viewLinkEnabled) {
	   	   	form = document.getElementById('FormDispatch');
			form.lotId.value = lotId;
			form.serviceId.value = serviceId;
			safeSubmit('FormDispatch', {'validation':false});
   	   	}
	}
	function submitService(lotId) {
		form = document.getElementById('FlowLotDetailsServiceBean');
		form.lotId.value = lotId;
		safeSubmit('FlowLotDetailsServiceBean', {'validation':false});
	}
	function showLotAll() {
		form = document.getElementById('searchFormLot');
		form.showAllByLot.value = 'true';
		ajax_lot();
	}

	function showLotBack() {
		form = document.getElementById('searchFormLot');
		form.showAllByLot.value = 'false';
		ajax_lot();
	}
	
	function showLotLinks(lot_detail_div) {
		$(lot_detail_div.querySelector(".lotListContents")).slideDown(150);
        lot_detail_div.style.backgroundColor = "#F7F5B4";
	}
	
	function dismissLotLinks(lot_detail_div) {
		$(lot_detail_div.querySelector(".lotListContents")).slideUp(0);
        lot_detail_div.style.backgroundColor = "white";
	}
	
	function dd() {
		var element = $("dd").size() - 1;
		$("dd:eq(" + element + ")").css("border", "none");
	}

	function ajax_lot() {
		var timeOut = null;
		var url = /*[[ @{/dashboard/lots} ]]*/'dashboard/lots';
		timeOut = setTimeout(function() {
			$.post(url, serializeWindowId('searchFormLot')).done(
					function(data, status, xhr) {
						$("#result_lot").html($(data).find("#result_lot").html());
						$("#message").html($(data).find("#message").html());
						$('.lotList').hover(function() {
							$(this).addClass('select');
						},function(){
							$(this).removeClass('select');
						});
						
					}).fail(function(XMLHttpRequest, status, errorThrown) {

			});
		}, 500);
	}

	function ajax_incrementalSearchLot(){
		var request = new IncrementalSearchRequest()
							.setUrl( /*[[ @{/dashboard/lots} ]]*/'dashboard/lots' )
							.setData( serializeWindowId('searchFormLot') )
							.setCallbackIfDone(function(data, status, xhr) {
								$("#result_lot").html($(data).find("#result_lot").html());

								$('.lotList').hover(function() {
									$(this).addClass('select');
								},function(){
									$(this).removeClass('select');
								});
							});
		IncrementalSearch.search( request );
	}
	
	$(function() {
		dd();
		var timeOut = null;
		$("#search_lotInfo,#search_lot").on('keyup', function(event) {
			ajax_incrementalSearchLot();
		});
		$("#btn_lot_clear").on("click", function() {
			$("#search_lot,#search_lotInfo").val("");
			$("#search_lot,#search_lotInfo").focus();
		});
		
		
		
		$("#open_lot_label").on("click", function(event) {
			$("#open_lot").val("0");
			$("#open_lot_label").addClass("select");
			$("#close_lot_label").removeClass("select");
			$("#FlowLotDetailsServiceBean").attr("action", /*[[ @{/lot} ]]*/'/lot');
			ajax_lot();
		});
		$("#close_lot_label").on("click", function(event) {
			$("#open_lot").val("1");
			$("#open_lot_label").removeClass("select");
			$("#close_lot_label").addClass("select");
			$("#FlowLotDetailsServiceBean").attr("action", /*[[ @{/lot/closed/details} ]]*/'/lot/closed/details');
			ajax_lot();
		});
	});
	$(document).ajaxStop(function() {
		dd();
	});
    
	function clearIconClick(){
		$("#search_lot,#search_lotInfo").val("");
		$("#search_lot,#search_lotInfo").keyup();
		$("#search_lot,#search_lotInfo").focus();
	}
	
	function clearIconRequestClick(){
		$("#search_request").val("");
		$("#search_request").keyup();
		$("#search_request").focus();
	}
	
	function showMoreNotificationToUser() {
		$("#showMoreNotificationToUser").hide();
		$("#showMoreNotificationToUserLoading").show();
	
		var form = document.getElementById("FlowDashboardServiceNotificationToUserService");
		var url = form.action;
		appendWindowId(form);
		$.post(url, $(form).serialize()).done(function(data, status, xhr) {
			$("#notificationViews").html($(data).find("#notificationViews").html());
			$("#notificationViewsShowMore").html($(data).find("#notificationViewsShowMore").html());
			$("#showMoreNotificationToUser").show();
			$("#showMoreNotificationToUserLoading").hide();
			markdownText();
		}).fail(function(XMLHttpRequest, status, errorThrown) {
			console.log("fail");
			$("#showMoreNotificationToUser").show();
			$("#showMoreNotificationToUserLoading").hide();
		});
	}

	$( markdownText() );

	function markdownText() {
		$(".changeText").each(function(index, value) {
			var formattedText = $( Markdown( $(this).text() ) );
			/* if($(this).text() == $($formattedText).text()) {
				return;
			} */
			var firstElement = formattedText[0];
			
			if( $(firstElement).is("p") ) {
				$(firstElement).addClass("cap");
			}
			$(this).html(formattedText);
		});
	}
    
	function showMoreRecentUpdates() {
		$("#showMoreRecentUpdates").hide();
		$("#showMoreRecentUpdatesLoading").show();
	
		var form = document.getElementById("FlowDashboardServiceRecentUpdatesService");
		appendWindowId(form);
		var url = form.action;
		$.post(url, $(form).serialize()).done(function(data, status, xhr) {
			$("#recentUpdateViews").html($(data).find("#recentUpdateViews").html());
			$("#recentUpdateViewsShowMore").html($(data).find("#recentUpdateViewsShowMore").html());
			$("#FlowDashboardServiceRecentUpdatesService").html($(data).find("#FlowDashboardServiceRecentUpdatesService").html());
			$("#showMoreRecentUpdates").show();
			$("#showMoreRecentUpdatesLoading").hide();
		}).fail(function(XMLHttpRequest, status, errorThrown) {
			console.log("fail");
			$("#showMoreRecentUpdates").show();
			$("#showMoreRecentUpdatesLoading").hide();
		});
		
	}

	function submitRecentUpdatesLink(lotId, dataAttribute, dataId , actSts, stsId){

		var lotForm = document.getElementById('FlowLotDetailsServiceBean');
		lotForm.lotId.value = lotId;
		appendWindowId(lotForm);
		var url = lotForm.action;

		var list="";
		if(actSts == "3000"){
			list = "List";
		}
		if (actSts == "1100"){
			
		}
		
		$.post(url, $(lotForm).serialize()).done(function(data, status, xhr) {
			var formId = 'RecentUpdatesService' + dataAttribute + list + 'Link';
			$( '#' + formId + ' #RecentUpdatesDataId').val(dataId);
			if (stsId == '2600') {
				formId = 'RecentUpdatesServiceLotClosedDetailsLink';
				$('#RecentUpdatesServiceLotClosedDetailsLink input[name="lotId"]').val(lotId);
			}
			if (actSts == "1100" && formId == 'RecentUpdatesServiceReleaseRequestLink'){
				formId = 'RecentUpdatesServiceReleaseRequestPendingLink';
				$( '#' + formId + ' #RecentUpdatesDataId').val(dataId);
			}else if (actSts == "4000" && formId == 'RecentUpdatesServiceReleaseRequestLink'){
				formId = 'RecentUpdatesServiceReleaseRequestApprovedLink';
				$( '#' + formId + ' #RecentUpdatesDataId').val(dataId);
			}
			submit(formId);
		}).fail(function(XMLHttpRequest, status, errorThrown) {
			console.log("fail");
		});
		
// 		var html="";
// 		html += '<input type="hidden" name="lotId" value="' + lotId + '" />';
// 		html += '<input type="hidden" name="dataAttribute" value="' + dataAttribute + '" />';
// 		html += '<input type="hidden" name="dataId" value="' + dataId + '" />';

// 		$('<form>', {
// 	        "id": "form",
// 	        "method": "POST",
// 	        "action": url,
// 	        "html": html,
// 	    }).submit();
	}
    
function showReqAll() {
    form = document.getElementById('searchFormRequest');
    form.showAllByRequest.value = 'true';
    ajax_request();
}
           
function showReqBack() {
    form = document.getElementById('searchFormRequest');
    form.showAllByRequest.value = 'false';
    ajax_request();
}

function ajax_request() {
    var timeOut = null;
    var url = /*[[ @{/dashboard/requests} ]]*/ 'dashboard/requests';
    timeOut = setTimeout(function() {
        $.post(url, serializeWindowId('searchFormRequest')).done(
                function(data, status, xhr) {
                    $("#table_request").trigger("update");
                    var sorting = [[0,0]];
                    $("#table_request").trigger("sorton",[sorting]);
                    $("#result_request").html($(data).find("#result_request").html());
                    $("#dashboardRequestListFooter").html($(data).find("#dashboardRequestListFooter").html());
                }).fail(function(XMLHttpRequest, status, errorThrown) {
        });
    }, 500);
}

function ajax_incrementalSearchRequest(){
	var request = new IncrementalSearchRequest()
						.setUrl( /*[[ @{/dashboard/requests} ]]*/'dashboard/requests' )
						.setData( serializeWindowId('searchFormRequest') )
						.setCallbackIfDone(function(data, status, xhr) {
							$("#table_request").trigger("update");
							var sorting = [[0,0]];
							$("#table_request").trigger("sorton",[sorting]);
							$("#result_request").html($(data).find("#result_request").html());
							$("#dashboardRequestListFooter").html($(data).find("#dashboardRequestListFooter").html());
						});
	IncrementalSearch.search( request );
}

$(function() {

    var img_path = /*[[ @{/resources/images/} ]]*/ "../../../image/";
		

    var prj_cnt = 0;
    var areq_cnt = 0;
    var status_cnt = 0;

    var isEven = function(someNumber) {
        return (someNumber % 2 === 0) ? true : false;
    };

    $("#project").on("click", function(event) {
        $("#status_asc").attr("src", img_path+"bg.gif");
        $("#areq_asc").attr("src", img_path+"bg.gif");
        prj_cnt++;
        if (isEven(prj_cnt) === false) {
            $("#prj_asc").attr("src", img_path+"desc.gif");
            $("#prj1").attr("value", "true");
        } else if (isEven(prj_cnt) === true) {
            $("#prj_asc").attr("src", img_path+"asc.gif");
            $("#prj1").attr("value", "false");
        }
        $("#sort_status").val("prj");
         ajax_request();
    });

    $("#areq").on("click", function(event) {
        $("#status_asc").attr("src", img_path+"bg.gif");
        $("#prj_asc").attr("src", img_path+"bg.gif");
        areq_cnt++;
        if (isEven(areq_cnt) === false) {
            $("#areq_asc").attr("src", img_path+"desc.gif");
            $("#prj1").attr("value", "true");
        } else if (isEven(areq_cnt) === true) {
            $("#areq_asc").attr("src",  img_path+"asc.gif");
            $("#prj1").attr("value", "false");
        }
        $("#sort_status").val("areq");
         ajax_request();
    });

    $("#status").on("click", function(event) {
        $("#areq_asc").attr("src", img_path+"bg.gif");
        $("#prj_asc").attr("src", img_path+"bg.gif");
        status_cnt++;
        if (isEven(status_cnt) === false) {
            $("#status_asc").attr("src", img_path+"desc.gif");
            $("#prj1").attr("value", "true");
        } else if (isEven(status_cnt) === true) {
            $("#status_asc").attr("src", img_path+"asc.gif");
            $("#prj1").attr("value", "false");
        }
        $("#sort_status").val("status");
         ajax_request();
    });

    $("#search_request").on('keyup', function(event) {
    	ajax_incrementalSearchRequest();
    });

});
$(document).ajaxStop(function() {

});
    
          $(function() {
              $("input").keydown(function(e) {
                  if (e.which) {
                      if (e.which == 13) {
                          return false;
                      }
                  }
                  if (e.keyCode) {
                      if (e.keyCode == 13) {
                          return false;
                      }
                  }
                  return true;
              });
              $("#inc_clear_btn").on("click", function() {
                  $("#incSearch").val("");
              });
              getTriLayer("flashMessage").show();
              
         });
          function changeLang( lang ) {
              form = document.getElementById('FlowDashBoardService');
              form.lang.value=lang;
              var windowId = $('#windowId').val();
              var input = document.createElement('input');
	      	    input.type = 'hidden';
	      	    input.name = 'WindowsId';
	      	    input.value = windowId;
	      	  form.appendChild(input);
              form.submit()
          }
      /*]]>*/
      </script>
</body>
</html>