<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:fragment="dashboard_request">
    
       <!-- <nav class="top-bar list-bar" data-topbar="navigation"
            role="navigation"> -->
			<section class="twoColumnSection">
				<div class="twoColumnSectionHeader">
                <!-- Left Nav Section -->
					<h1><span th:text="#{Dashboard.requests.title.text}"
						class="list-bar__title">My Checkout Request</span></h1>
					<!-- Right Nav Section -->
					<div class="searchBox">
						<form id="searchFormRequest" name="searchFormRequest" method="get">
						<input type="hidden" name="RequestType" value="onChange" />
						<input type="hidden" id="showAllByRequest"
							name="showAllByRequest" value="false"
							th:value="${result.checkInOutRequestListBean.param.isShowAll()}" />
						<input type="hidden" id="sort_status" name="sortKey" value="prj" />
						<input type="hidden" id="prj1" name="asc" value="true" />
							<dl class="search2">
								<dt><input id="search_request" name="requestSearch"
									class="alert-box round right search_icon dashboard--input list-bar__search-box"
									type="text"
									th:placeholder="#{Dashboard.requests.condition.search.text}" /></dt>
								<dd><button id="clearButtonRequest" th:onclick="'clearIconRequestClick(); return false;'"><span>
								<i class="fa fa-times-circle"><a href="javascript:void(0)" id="btn_request_clear"
									class="btn-close"></a></i></span></button></dd>
							</dl>
						</form>
					</div>
				</div>
            
		<div class="twoColumnSectionBody">
        <table
            class="table twoColumnSectionBodyTable" id="table_request">
            <thead>
	    <tr>
		   <th id="project"><img src="../../images/trinity/bg.gif"
					th:src="@{/resources/images/bg.gif}"
					id="prj_asc" /> <span
					th:text="#{Dashboard.requests.col.changeProperty.text}">Change
					management information</span></th>
		<th id="areq">
			<img src="../../images/trinity/bg.gif"
					th:src="@{/resources/images/bg.gif}"
					id="areq_asc" /> 
			<span th:text="#{Dashboard.requests.col.request.text}">Loan
					asset information</span></th>
		<th id="status" class="labelTh">
			<img src="../../images/trinity/bg.gif"
					th:src="@{/resources/images/bg.gif}"
					id="status_asc" /> 
			<span th:text="#{Dashboard.requests.col.status.text}">Status</span></th>
            </tr>



			</thead>
			<tbody id="result_request">
       
            <tr th:fragment="RequestList" 
                th:each="res : ${result.checkInOutRequestListBean.areqViews}"
                th:unless="${#lists.isEmpty(result.checkInOutRequestListBean.areqViews)}">
                <td><div class="tableIcon"><img
                        src="../../images/trinity/icon_PJT.png"
                        th:src="@{/resources/images/icon_PJT.png}"
                        class="request-list__icon" alt="LDN_icon" /></div>
                        <dl>
							<dt data-toggle="tooltip" data-placement="top">
								<span th:text="${res.pjtSubject}"></span></dt>
							<dd>
							     <a th:href="@{/dispatch(dataAttribute='ChangeProperty',dataId=${res.pjtId})}" th:text="'(' + ${res.pjtId} + ')'"></a>
							</dd>
                        </dl>
                </td>
                <td><div class="tableIcon"> <img
                        src="../../images/trinity/icon_LND.png"
                        th:src="@{/resources/images/icon_LND.png}"
                        alt="LDN_icon" class="request-list__icon" /></div>
                       <dl>
							<dt data-toggle="tooltip" data-placement="top">
                            <span th:text="${res.pjtSubject}"></span></dt>
                            <dd>
                                <a th:href="@{/dispatch(dataAttribute='CheckOutRequest',dataId=${res.areqId})}" th:text="'(' + ${res.areqId} + ')'"></a>
                            </dd>
						</dl>
                </td>
                <td class="labels">
                    <span class="label"
                        th:classappend="'amStatus' + ${res.getStsId()}"
                        th:text="#{Constants.amStatus.__${res.stsId}__.text}">未設定</span>
                </td>
            </tr>
			</tbody>
			</table>
			
			<div id="dashboardRequestListFooter">
	            <div
	                th:if="${result.checkInOutRequestListBean.areqViews.size() == 0}"
	                style="padding: 12px; text-align: center;">
					<i class="fa fa-warning"></i>
	                <span
	                    th:text="#{Dashboard.message.noAssignedResource.text}">ロットが見つかりませんでした</span>
	            </div>
				
	            <div class="twoColumnSectionBodyTabContents">
	                <div class="twoColumnSectionBodyTabContent">
	                    <div class="tabPanel active" style="display: block;">
	                        <div
	                            th:if="${result.checkInOutRequestListBean.page.maxRows gt 5}">
	                            <div th:if="${not result.checkInOutRequestListBean.param.isShowAll()}" 
	                            	class="allAssetBtn" onClick="showReqAll();">
	                                <a href="javascript:void(0)"
	                                    id="reqSearchBtn"
	                                    th:text="#{Dashboard.showAll.text}">Show all</a>
	                            </div>
	                            <div th:if="${result.checkInOutRequestListBean.param.isShowAll()}"
	                            	class="allAssetBtn" onClick="showReqBack();">
	                            	<a href="javascript:void(0)"
	                                    id="lotSearchBtn"
	                                    th:text="#{Dashboard.back.text}">Back</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>


        </div>
    </section>
</div>
</html>