<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title th:fragment="titleHtml" th:text="#{Dashboard.title.text}"></title>
</head>
<body>
    <article th:fragment="innerHtml" class="contents twoColumn">
        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>
        
         <div class="row contentsV3DashboardHeader" th:unless="${result.detailsView.userInAdminSettingsRole}">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <span th:text="#{DashboardV3.welcomeMessage.text}"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row contentsV3DashboardHeader" th:if="${result.detailsView.userInAdminSettingsRole}">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <span th:text="#{DashboardV3.welcomeMessageAdmin.text}"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row contentsV3Dashboard">
          <div class="col-xs-offset-3 col-xs-2 v3DashboardItem">
            <a href="javascript:void(0)" class="thumbnail" th:onclick="'openLink(\'' + @{/index_changec.do} + '\');'">
              <img th:src="@{/resources/images/common/icon_V3Dashboard_changec.png}" alt="trinity_changec"/>
            </a>
            <span>trinity_changec</span>
          </div>
          <div class="col-xs-2 v3DashboardItem">
            <a href="javascript:void(0)" class="thumbnail" th:onclick="'openLink(\'' + @{/index_release.do} + '\');'">
              <img th:src="@{/resources/images/common/icon_V3Dashboard_release.png}" alt="trinity_release"/>
            </a>
            <span>trinity_release</span>
          </div>
          <div class="col-xs-2 v3DashboardItem">
            <a href="javascript:void(0)" class="thumbnail" th:onclick="'openLink(\'' + @{/index_admin.do} + '\');'">
              <img th:src="@{/resources/images/common/icon_V3Dashboard_admin.png}" alt="trinity_admin"/>
            </a>
            <span>trinity_admin</span>
          </div>
        </div>
    </article>

    <script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
        function openLink(url){
            window.open(url, "_self");
        }
    
        function openLink_bk(url){
		    var width = 1024;
		    var height = 900;
		    var left = (screen.width - width) / 2;
		    var top = 0;
		
		    window.open(url, "_blank", 'top=' + top + ',width=' + width + ',height=' + height + ',left=' + left + ',toolbar=no,location=no,directories=no,menubar=no,resizable=yes,scrollbars=yes,status=yes');
		
		    window.opener = null;
		    window.close();
		}
    /*]]>*/
    </script>
</body>
</html>