<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">


<div th:fragment="dashboard_lot" style="margin-bottom: 15px;">
    <form id="FormDispatch" th:action="@{/dispatch}" method="POST">
        <input type="hidden" name="RequestType" value="init" /> 
        <input type="hidden" name="referer" value="DashBoard" /> 
        <input type="hidden" name="forward" value="LotDetails" /> 
        <input type="hidden" name="submitMode" value="list" />
        <input type="hidden" name="lotId" value="" />
        <input type="hidden" name="serviceId" value="" />
    </form>
    <form id="FlowLotDetailsServiceBean" th:action="@{/lot}"
        method="POST">
        <input type="hidden" name="RequestType" value="init" /> <input
            type="hidden" name="referer" value="DashBoard" /> <input
            type="hidden" name="forward" value="LotDetails" /> <input
            type="hidden" name="lotId" value="" /> <input 
            type="hidden" name="isRedirectResources" value="" /> <input 
            type="hidden" name="isRedirectWiki" value="" /> <input 
            type="hidden" name="isRedirectRelease" value=""/> <input
            type="hidden" name="isRedirectReports" value=""/> <input
            type="hidden" name="isRedirectSchedule" value=""/>
    </form>
    <form id="FlowLotCreationService" th:action="@{/lot/create}"
        method="POST">
        <input type="hidden" name="RequestType" value="init" /> <input
            type="hidden" name="referer" value="DashBoard" /> <input
            type="hidden" name="forward" value="LotCreation" />
    </form>
    <section class="twoColumnSectionMenu">
        <ul class="twoColumnSectionHeaderMenu">
            <li><a href="javascript:void(0)"
                onClick="safeSubmit('FlowLotCreationService', {'validation':false});"><span><img
                        class="lot-creation-link"
                        src="../../images/trinity/common/icon_lot_add.png"
                        th:src="@{/resources/images/common/icon_lot_add.png}"
                        alt="add_lot" /></span> <span
                    th:text="#{Dashboard.link.createLot.text}">Create
                        Lot</span></a></li>
        </ul>
    </section>

    <section class="twoColumnSection">
        <div class="twoColumnSectionHeader">
            <!-- Left Nav Section -->
            <h1>
                <span th:text="#{Dashboard.lots.title.text}">Lot</span>
            </h1>

            <div class="searchBox">
                <form id="searchFormLot" name="searchFormLot"
                    method="get">
                    <input type="hidden" name="RequestType"
                        value="onChange" /> <input type="hidden"
                        id="showAllByLot" name="showAllByLot"
                        value="false"
                        th:value="${result.lotListBean.param.isShowAll()}" />
                    <input type="hidden" id="open_lot" name="lotStatus"
                        value="0" />
                    <dl class="search2">
                        <!-- Right Nav Section -->
                        <dt>
                            <input id="search_lot" name="lotSearch"
                                type="text"
                                th:placeholder="#{Dashboard.lots.condition.search.text}" />
                        </dt>
                        <dd>
                            <button id="clearButton" th:onclick="'clearIconClick(); return false;'">
                                <span ><i
                                    class="fa fa-times-circle" ><a
                                        href="javascript:void(0)"
                                        id="btn_lot_clear"
                                        class="btn-close"></a></i></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </div>

        <div class="twoColumnSectionBody">
            <div class="twoColumnSectionBodyTabContents">
                <ul class="twoColumnSectionBodyTab">
                    <li><a id="open_lot_label"
                        class="select open_close--lotlabel faBtn"
                        th:text="#{Dashboard.lots.condition.status.inProgress.text}">In
                            progress</a></li>
                    <li><a class="open_close--lotlabel faBtn"
                        id="close_lot_label"
                        th:text="#{Dashboard.lots.condition.status.closed.text}">Closed</a></li>
                </ul>

                <div class="twoColumnSectionBodyTabContent"
                    id="result_lot">

                    <div class="tabPanel active" th:fragment="LotList"
                        data-equalizer-watch="">
                        <div class="bdd"
                            th:each="res : ${result.lotListBean.lotViews}"
                            th:unless="${#lists.isEmpty(result.lotListBean.lotViews)}"
                            th:styleappend="${res.viewLinkEnabled} ? 'cursor:not-allowed;'">
                            <div class="lotList">
                                <a href="javascript:void(0)"
                                    th:onClick="'javascript:submitService(\'' + ${res.lotId} + '\');return false;'"
                                    th:if="${res.viewLinkEnabled}">
                                    <div class="lot lotListHeader">
                                        <h2>
                                            <span> <img
                                                class="list-bar__icon"
                                                th:src="${res.lotIconPath}"
                                                alt="lot_icon" />
                                            </span> <span
                                                th:text="${res.lotSubject}+ ' (' + ${res.lotId} + ')'"></span>
                                        </h2>
                                    </div>
                                </a>
                                <i th:if="!${res.viewLinkEnabled}">
                                	<div class="lot lotListHeader">
                                        <h2>
                                            <span> <img
                                                class="list-bar__icon"
                                                th:src="${res.lotIconPath}"
                                                alt="lot_icon" />
                                            </span> <span
                                                th:text="${res.lotSubject}+ ' (' + ${res.lotId} + ')'"></span>
                                        </h2>
                                    </div>
                                </i>
                                <ul class="lotListContents" th:if="${result.lotListBean.param.searchCondition.selectedLotInProgress}">
                                    <li><a href="javascript:void(0)"
                                        th:onClick="'dispatch(\'' + ${res.lotId} + '\', \'FlowChangePropertyListService\', ' + ${res.viewLinkEnabled} + ')'"
                                        th:text="#{Dashboard.lots.link.resources.text}"
                                        th:style="!${res.viewLinkEnabled} ? 'cursor:not-allowed'">Manage
                                            Assets</a></li>
                                    <li><a href="javascript:void(0)"
                                        th:onClick="'dispatch(\'' + ${res.lotId} + '\', \'FlowBuildPackageListService\', ' + ${res.viewLinkEnabled} + ')'"
                                        th:text="#{Dashboard.lots.link.releases.text}"
                                        th:style="!${res.viewLinkEnabled} ? 'cursor:not-allowed'">Manage
                                            Releases</a></li>
                                    <li><a href="javascript:void(0)"
                                        th:onClick="'dispatch(\'' + ${res.lotId} + '\', \'FlowReportListService\', ' + ${res.viewLinkEnabled} + ')'"
                                        th:text="#{Dashboard.lots.link.reports.text}"
                                        th:style="!${res.viewLinkEnabled} ? 'cursor:not-allowed'">Output
                                            Report</a></li>
                                    <li><a href="javascript:void(0)"
                                        th:onClick="'dispatch(\'' + ${res.lotId} + '\', \'FlowWikiListService\', ' + ${res.viewLinkEnabled} + ')'"
                                        th:text="#{Dashboard.lots.link.wiki.text}"
                                        th:style="!${res.viewLinkEnabled} ? 'cursor:not-allowed'">Wiki</a></li>
                                    <li><a href="javascript:void(0)"
                                        th:onClick="'dispatch(\'' + ${res.lotId} + '\', \'FlowGanttChartService\', ' + ${res.viewLinkEnabled} + ')'"
                                        th:text="#{Dashboard.lots.link.schedule.text}"
                                        th:style="!${res.viewLinkEnabled} ? 'cursor:not-allowed'">Schedule</a></li>
                                </ul>
                            </div>
                        </div>
                        <div
                            th:if="${result.lotListBean.lotViews.size() gt 4}">
                            <div class="allLotBtn" th:if="${not result.lotListBean.param.isShowAll()}" onClick="showLotAll()">
                                <a href="javascript:void(0)"
                                    id="lotSeeMoreBtn"
                                    th:text="#{Dashboard.showAll.text}">Show all</a>
                            </div>
                            <div class="allLotBtn" th:if="${result.lotListBean.param.isShowAll()}" onClick="showLotBack()">
                            	<a href="javascript:void(0)"
                            		id="lotSearchBtn"
                                    th:text="#{Dashboard.back.text}">Back</a>
                            </div>
                        </div>
                        <div
                            th:if="${result.lotListBean.lotViews.size() == 0}"
                            class="lotList" style="text-align: center">
                            <i class="fa fa-warning"></i> 
                            <span   th:if="${result.lotListBean.param.searchCondition != null and result.lotListBean.param.searchCondition.isSelectedLotClosed()}"
                                th:text="#{Dashboard.lots.noClosedLots.text}">ロットが見つかりませんでした</span>
                            <span th:unless="${result.lotListBean.param.searchCondition != null and result.lotListBean.param.searchCondition.isSelectedLotClosed()}"
                                th:text="#{Dashboard.lots.noLots.text}">ロットが見つかりませんでした</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>

