<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">


<div th:fragment="dashboard_notificationToUser">
    <section class="twoColumnSection">
        <form id="FlowDashboardServiceNotificationToUserService"
            th:action="@{/dashboard/notifications}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="requestOption" value="more" />
        </form>
        <div class="twoColumnSectionHeader">
            <h1 th:text="#{Dashboard.contact.text(${result.userName})}">Tommy
                Robinson さんへの連絡</h1>
        </div>
        <div id="notificationViews" class="twoColumnSectionBody">
            <div
                th:each="res : ${result.notificationToUser.notificationViews}"
                class="twoColumnSectionBodyUnit" th:classappend="${res.isUnread()}? newUnit">
                <h2>
                    <span class="twoColumnSectionBodyUnitDate"
                        th:text="${res.notificationDate}">2016年02月02日</span><span
                        th:text="${res.subject}">Jim Cruz
                        さんから承認待ちの申請があります</span>
                </h2>
                <p th:if="${res.newsFromAdmin}"
                    class="dashboardNotification markdownlive-preview">
                    <span class="changeText" th:utext="${res.message}">ロット
                        A(LOT-1511020001) つれづれなるままに (RFC-12345)</span>
                </p>
                <p th:if="!${res.newsFromAdmin}"
                    class="dashboardNotification markdownlive-preview">
                    <a class="changeText" th:href="@{/dispatch(dataAttribute=${res.dataAttribute.value()},dataId=${res.dataId},submitMode=pendingDetails)}"
                        th:utext="${res.message}">ロット
                        A(LOT-1511020001) つれづれなるままに (RFC-12345)</a>
                </p>
            </div>
            <div
                th:if="${result.notificationToUser.notificationViews.size() == 0}"
                class="twoColumnSectionBodyUnit" style="text-align: center">
                <p class="cap"><span
                        th:text="#{Dashboard.notification.text}">Nothing.</span></p>
            </div>
        </div>
        <div id="notificationViewsShowMore">
            <div th:if="${result.notificationToUser.hasNext()}"
                class="twoColumnSectionShowMore"
                onmouseenter="showMoreNotificationToUser();">
                <span id="showMoreNotificationToUser"
                    th:text="#{Dashboard.showMore.text}">Show
                    more</span>
                <div id="showMoreNotificationToUserLoading"
                    class="globalNavSearchResultLoading"
                    style="display: none;">
                    <div class="globalNavSearchResultLoadingMessage"
                        style="color: #333333;">
                        <p>
                            <i class="fa fa-refresh fa-spin"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>

