<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{DeploymentLatest.title.text}" th:fragment="titleHtml">trinity
    | Deployment Job - View Latest Updates</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

	<!-- グローバルヘッダー -->
	<header th:replace="common/Global::lot"></header>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_status_inquiry.png"
                    th:src="@{/resources/images/common/icon_status_inquiry.png}"
                    alt="" /></span><span
                    th:text="#{DeploymentLatest.header.text}">最新のリリース連携</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{DeploymentJobLatestUpdates.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0);" 
                    th:onClick="'javascript:cloneWindow(\'FlowDeploymentJobLatestUpdatesService\');return false;'">
                        <span
                        th:text="#{DeploymentLatest.newWindow.text}">別ウインドウに複製</span>
                </a></li>
                <li><i class="fa fa-print"></i><a href="javascript:void(0)" th:onClick="'javascript:printDeploymentJobLatestUpdates();return false;'"><span
                        th:text="#{DeploymentLatest.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>
        
        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section">
            <nav class="sectionNav">
                <ul class="sectionNavLeft">
                    <li><a href="javascript:void(0)"
                        class="underline"
                        onclick="javascript:safeSubmit('FlowDeploymentjobListService', {'validation':false});return false">
                            <span><img
                                src="../../images/trinity/common/icon_return.png"
                                th:src="@{/resources/images/common/icon_return.png}"
                                alt="" /></span> <span
                            th:text="#{DeploymentLatest.returnToDeployList.text}">リリース連携の一覧にもどる</span>
                    </a></li>
                </ul>
            </nav>
            <nav class="sectionNav">
                <ul class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                    <li><a href="javascript:void(0)"
                        class="underline"
                        onclick="javascript:safeSubmit('FlowDeploymentjobCreationService', {'validation':false});return false">
                            <span><img
                                src="../../images/trinity/common/icon_Deproyment_add.png"
                                th:src="@{/resources/images/common/icon_Deproyment_add.png}"
                                alt="" /></span> <span
                            th:text="#{DeploymentLatest.createNew.text}">新規リリース連携をする</span>
                    </a></li>
                </ul>
            </nav>
        </section>
        
        <section class="section tableSection searchTableSection" th:if="${result.detailsView.hasWarningMessages()}">
                <div class="emptySearchResults">
                  
                  <div th:each="res, start: ${result.detailsView.warningMessages}">
                    <i class="fa fa-warning" th:if="${start.index == 0}"></i>
                    <span th:text="${res}" ></span>
                  </div>
                </div>
		</section>
        
        <section class="section sectionLatestUpdates"
            th:each="res : ${result.jobViews}">
            <div class="rows">
                <div class="col-sm-12">
                    <div class="sectionLatestUpdatesHeader">
                        <span><i class="fa fa-caret-down"></i></span><img
                            src="../../images/trinity/common/icon_server.png"
                            th:src="@{/resources/images/common/icon_server.png}"
                            alt="" class="" /><span> <span
                            th:text="#{DeploymentLatest.envName.text}">環境名</span>：<span
                            th:text="${res.environmentNm}">本番</span></span>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">

                        <dt>
                            <span
                                th:text="#{DeploymentLatest.deployID.text}">リリース連携番号</span>
                        </dt>
                        <dd>
                            <a href="DeploymentJobEdit.html"
                                class="underline"
                                th:onclick="'submitFlowDeploymentjobDetails(\''+${res.mgtVer}+'\');return false;'">
                                <span th:text="${res.deploymentId}">SEN-1511110001</span>
                            </a>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.releasePackage.text}">連携先管理世代</span>
                        </dt>
                        <dd>
                            <a href="ReleasePackageDetails.html"
                                class="underline"
                                th:onClick="'javascript:submitDetailsService(\''+${res.rpId}+'\');return false;'">
                                <span th:text="${res.rpId}">REL-1511100001</span>
                            </a>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.version.text}">連携先管理世代</span>
                        </dt>
                        <dd>
                           	<span th:text="${res.mgtVer}">1511100001</span>
                        </dd>
                        
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.submitter.text}">担当者</span>
                        </dt>
                        <dd class="user">
                            <img
                                src="../../images/trinity/common/icon_obake.png"
                                th:src="${res.createdByIconPath}"
                                alt="Casey Singleton" class="userImg" /><span
                                th:text="${res.createdBy}">Casey
                                Singleton</span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.reqStatus.text}">依頼ステータス</span>
                        </dt>
                        <dd>
                            <span class="label labelGreen"><span
                                th:text="#{Constants.dmStatus.__${res.stsId}__.text}">タイマー設定済み</span></span>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.createdDate.text}">連携先資源登録日時</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${res.deploymentRegistedTime}">15/11/16
                                10:00</span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.applyDate.text}">適用日時</span>
                        </dt>
                        <dd>
                            <span th:text="${res.deploymentAppliedTime}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.deploymentStatus.text}">連携先ステータス</span>
                        </dt>
                        <dd th:if="${res.deploymentStsId == null}"></dd>
						<dd th:if="${res.deploymentStsId != null}" class="labels">
							<span class="label"
							th:classappend="${res.deploymentStsId == 'APPLY' ? 'labelBlue ' : 'labelYellow'}"> <span
								th:text="#{Constants.deploymentStatus.__${res.deploymentStsId}__.text}">リリース登録済み</span>
						</span></dd>
                    </dl>
                </div>
            </div>
        </section>

        <form id="FlowDeploymentjobCreationService"
            th:action="@{/job/deploy/create}" method="POST">
            <input type="hidden" name="RequestType" value="init" />
            <input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
        </form>

        <form id="FlowDeploymentjobListService"
            th:action="@{/job/deploy}" method="POST">
            <input type="hidden" name="RequestType" value="init" />
        </form>

        <form id="FlowDeploymentjobDetailsService"
            th:action="@{/job/deploy/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="mgtVer" value="" />
            <input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
        </form>

        <form id="submitDetailsService" th:action="@{/release/details}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="RpId" value="" />
        </form>

        <form id="FlowDeploymentJobLatestUpdatesService"
            th:action="@{/job/deploy/latest}" method="POST">
            <input type="hidden" name="RequestType" value="init" />
            <input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
        </form>
        
        <form id="FlowPrintDeploymentJobLatestUpdates"
            th:action="@{/job/deploy/latest/print}" method="POST">
            <input type="hidden" name="RequestType" value="init" />
            <input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
        </form>

    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">

			function submitDetailsService(RpId){
				form = document.getElementById('submitDetailsService');
				form.RpId.value = RpId;
				safeSubmit('submitDetailsService', {'validation':false});
			}
		
			function submitFlowDeploymentjobDetails(mgtVer){
				var form = document.getElementById("FlowDeploymentjobDetailsService");
				form.mgtVer.value = mgtVer;
				safeSubmit("FlowDeploymentjobDetailsService", {"validation":false});
			}
        
            $(function() {
            });
            
            $(document).ready(function(){
                $('#FlowPrintDeploymentJobLatestUpdates').submit(function() {
                    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
                    this.target = 'Popup_Window';
                });
            });

            function printDeploymentJobLatestUpdates() {
                submit("FlowPrintDeploymentJobLatestUpdates");
            }
        </script>
</body>
</html>