<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{DeploymentCreate.title.text}" th:fragment="titleHtml">trinity
    | Deployment Job - Create New</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html" class="select">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="BuildPackageList.html">ビルドパッケージ</a></li>
                <li><a href="ReleaseRequestList.html">リリース申請</a></li>
                <li><a href="ReleasePackageList.html">リリースパッケージ</a></li>
                <li><a href="DeploymentJobList.html" class="select">リリース連携</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <!--  <form id="FlowCategoryCreationService" th:action="@{/lot/settings/category/create}" method="POST">
				<input type="hidden" name="RequestType" value="submitChanges"/> 
				<input type="hidden" name="redirectUrl" value="redirect:/checkout/create/refreshCategory" />
				<input type="hidden" name="categorySubject" value="" />
			</form>
			<form id="FlowMilestoneCreationService" th:action="@{/lot/settings/milestone/create}" method="POST">
				<input type="hidden" name="RequestType" value="submitChanges"/> 
				<input type="hidden" name="redirectUrl" value="redirect:/checkout/create/refreshMilestone" />
				<input type="hidden" name="milestoneSubject" value="" />
			</form>-->
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_Deproyment_add.png"
                    th:src="@{/resources/images/common/icon_Deproyment_add.png}"
                    alt="" /></span> <span
                    th:text="#{DeploymentCreate.header.text}">リリース連携の新規登録</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{DeploymentJobCreation.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>


        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{DeploymentCreate.boxReleaseCreation.text}">リリース登録</span><span
                    class="helpBtn inline"><a th:href="#{DeploymentJobCreation.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>

            <!-- Add hidden fields and action attribute by Long :: START -->
            <form class="form-horizontal"
                id="FlowDeploymentJobCreationService"
                th:action="@{/job/deploy/create}" method="POST">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="summary" value="" /> <input type="hidden"
                    name="contents" value="" /> <input type="hidden"
                    name="relEnvId" value="" /> <input type="hidden"
                    name="catgId" value="" /> <input type="hidden"
                    name="mistoneId" value="" /> <input type="hidden"
                    name="rpId" value="" /> <input type="hidden"
                    name="timerSettings" value="" /> <input
                    type="hidden" name="timerDate" value="" /> <input
                    type="hidden" name="timerHour" value="" /> <input
                    type="hidden" name="timerMinute" value="" /> <input
                    type="hidden" name="manualJob" value="" />
                    <input type="hidden" name="timerSummary" value="" />
                    <input type="hidden" name="timerDetail" value="" />
                <!-- Add hidden fields and action attribute by Long :: END -->

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{DeploymentCreate.summary.text}">リリース登録概要</span></label>
                    <div class="col-sm-9">
                        <input type="text"
                            class="form-control validation"
                            id="inputSummary" placeholder="" required="required"
                            th:value="${result.param.inputInfo.summary}" />
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{DeploymentCreate.summary.text}">リリース登録概要</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{DeploymentCreate.content.text}">リリース登録内容</span></label>
                    <div class="col-sm-9">
                        <textarea class="form-control validation"
                            rows="3" required="required" id="inputContents"
                            th:text="${result.param.inputInfo.contents}"></textarea>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{DeploymentCreate.content.text}">リリース登録内容</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{DeploymentCreate.relEnv.text}">リリース環境</span></label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select class="form-control validation"
                                required="required" id="relEnvSelectBox">
                                <option value=""></option>
                                <option
                                    th:each="res : ${result.getParam().getInputInfo().releaseEnvViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.getParam().getInputInfo().relEnvId}"></option>
                            </select>
                            <div class="formError"
                                style="display: none;">
                                <span
                                    th:text="#{DeploymentCreate.relEnv.text}">リリース環境</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{DeploymentCreate.category.text}">カテゴリー</span></label>
                    <div class="col-sm-9 form-inline">

                        <div class="input-group" id="selectBoxCategory">
                            <select class="form-control" id="ctgId">
                                <option value=""></option>
                                <option
                                    th:each="res : ${result.getParam().getInputInfo().ctgViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.getParam().getInputInfo().ctgId}"></option>
                            </select>
                            <div class="input-group-btn">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>

                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{DeploymentCreate.addCategory.text}">カテゴリーを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                        	th:placeholder="#{DeploymentCreate.keyword.text}"
                                                            type="text"
                                                            name="categorySubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addCategory('FlowDeploymentJobCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="ctgButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{DeploymentCreate.buttonAdd.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="categoryList">
                                                <dt
                                                    th:text="#{DeploymentCreate.existing.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.ctgViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{DeploymentCreate.milestone.text}">マイルストーン</span></label>
                    <div class="col-sm-9 form-inline">
                        <div class="input-group"
                            id="selecteBoxMilestone">
                            <select class="form-control" id="mstoneId">
                                <option value=""></option>
                                <option
                                    th:each="res : ${result.getParam().getInputInfo().mstoneViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}==${result.getParam().getInputInfo().mstoneId}"></option>
                            </select>
                            <div class="input-group-btn">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>
                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{DeploymentCreate.addMilestone.text}">マイルストーンを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                        	th:placeholder="#{DeploymentCreate.keyword.text}"
                                                            type="text"
                                                            name="milestoneSubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addMilestone('FlowDeploymentJobCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="mstoneButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{DeploymentCreate.buttonAdd.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="mstoneList">
                                                <dt
                                                    th:text="#{DeploymentCreate.existing.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span class="required">*</span><span
                    th:text="#{DeploymentCreate.releasePackage.text}">リリースパッケージ</span><span
                    class="helpBtn inline"><a th:href="#{DeploymentJobCreation.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal">
                <div class="fileListUnit">
                    <table class="table table-bordered"
                        id="releasePackageRadioBox_validationMessagePosition">
                        <thead>
                            <tr>
                                <th class="checkboxHead"></th>
                                <th><span
                                    th:text="#{DeploymentCreate.relPkgID.text}">リリースパッケージ番号</span></th>
                                <th><span
                                    th:text="#{DeploymentCreate.bldPkgID.text}">ビルドパッケージ番号</span></th>
                                <th><span
                                    th:text="#{DeploymentCreate.environment.text}">環境</span></th>
                                <th><span
                                    th:text="#{DeploymentCreate.submitter.text}">作成者</span></th>
                                <th><span
                                    th:text="#{DeploymentCreate.tableRPStartTime.text}">作成日</span></th>
                                <th><span
                                    th:text="#{DeploymentCreate.tableRPEndTime.text}"></span></th>
                            </tr>
                        </thead>
                        <tbody id="rpResult">
                            <tr
                                th:each="res : ${result.getParam().getInputInfo().releasePackageViews}">
                                <th scope="row"><input type="radio"
                                    class="validation validationMessageId validationMessagePosition validationCustomPattern"
                                    data-validationMessageId="formError_releasePackageRadioBox"
                                    data-validationMessagePosition="releasePackageRadioBox_validationMessagePosition"
                                    data-validationCustomPattern="radio_selectOne"
                                    name="releasePackageRadioBox"
                                    th:value="${res.rpId}" /></th>
                                <td><span
                                        th:text="${res.rpId}"
                                        >REL-1511240001</span><a href="javascript:void(0);"
	                                    th:onClick="'openOverviewInNewWindow(\'commonFlowReleasePackageDetailsService\', {\'RpId\': \'' + ${res.rpId} + '\'}); return false;'">
	                                        <i class="fa fa-clone"></i>
	                                </a> <span class="overviewPopup"></span></td>
                                <td><span th:text="${res.bpId}"
                                    class="buildPackageOverview"><span
                                        class="overviewPopup"></span>BLD-1511100001</span></td>
                                <td><span
                                    th:text="${res.environmentNm}">開発</span></td>
                                <td class="user"><img
                                    src="../../images/trinity/common/icon_obake.png"
                                    th:src="${res.createdByIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${res.createdBy}">Jim
                                        Cruz</span></td>
                                <td><span
                                    th:text="${res.startTime}">2015/11/24</span></td>
                                <td><span
                                    th:text="${res.endTime}">2015/11/24</span></td>
                            </tr>
                            <tr
                                th:if="${ #lists.isEmpty(result.getParam().getInputInfo().releasePackageViews) }">
                                <td colspan="7"><input type="text"
                                    style="display: none;"
                                    class="validation validationMessageId validationMessagePosition"
                                    data-validationMessageId="formError_releasePackageRadioBox"
                                    data-validationMessagePosition="releasePackageRadioBox_validationMessagePosition"
                                    name="releasePackageRadioBox"
                                    value="" /><div style="text-align: center;"><i class="fa fa-warning"></i> <span
                                        th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="formError"
                        id="formError_releasePackageRadioBox"
                        style="display: none;">
                        <span
                            th:text="#{DeploymentCreate.releasePackage.text}">リリースパッケージ</span>
                        <span th:text="#{Validation.isRequired.text}">is
                            required.</span>
                    </div>
                </div>

            </form>
        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{DeploymentCreate.deployTiming.text}">リリース連携タイミング</span><span
                    class="helpBtn inline"><a th:href="#{DeploymentJobCreation.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{DeploymentCreate.boxDeployTiming.text}">リリース連携タイミング</span></label>
                    <div class="col-sm-9">
                        <label class="radio-inline"> <input
                            type="radio" checked="checked"
                            name="deployTimingRadioBox"
                            class="validationTrigger" value="cancel" /><span
                            th:text="#{DeploymentCreate.setLater.text}">今は登録しない</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <label class="radio-inline"> <input
                            type="radio" name="deployTimingRadioBox"
                            class="validationTrigger"
                            value="immediately" /><span
                            th:text="#{DeploymentCreate.immediately.text}">即時</span>
                        </label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <label class="radio-inline"> <input
                            type="radio" name="deployTimingRadioBox"
                            id="deployTimingRadioBox_setLater"
                            class="validationTrigger"
                            data-validationSwitch="deployTimingRadioBox_setLater"
                            value="timerSettins" /><span
                            th:text="#{DeploymentCreate.date.text}">日時設定</span>
                        </label> <span class="date datePicker"> <input
                            type="text"
                            class="form-control inputSmallDate filterField validation validationSwitch validationMessagePosition validationMessageId"
                            data-validationSwitch="deployTimingRadioBox_setLater"
                            data-validationMessagePosition="date-hour-minute"
                            data-validationMessageId="formError_date-date"
                            id="date-date" name="date"
                            th:value="${result.param.inputInfo.timerDate}"
                            placeholder="YYYY/MM/DD" /> <span
                            class="input-group-addon datePickerIconWapper"
                            style="border: 0; background: none; padding: 0; position: relative; top: 6px; width: 24px; height: 24px; vertical-align: middle;">
                                <img
                                src="../../images/trinity/common/icon_calender_mini.png"
                                th:src="@{/resources/images/common/icon_calender_mini.png}"
                                class="datePickerIcon2" />
                        </span> <span
                            th:text="#{DeploymentCreate.selectFromCalendar.text}"
                            id="date_validationMessagePosition">カレンダーから入力</span>
                        </span>
                    </div>
                    <div class="col-sm-3" id="date-hour-minute">
                        <div class="input-group">
                             <input type="text"
                                class="form-control validation validationSwitch validationMessagePosition validationMessageId validationCustomPattern"
                                data-validationSwitch="deployTimingRadioBox_setLater"
                                data-validationMessagePosition="date-hour-minute"
                                data-validationMessageId="formError_date-hour"
                                data-validationCustomPattern="date-hour"
                                name="deploymentHour"
                                id="date-hour" placeholder="hh" size="4"
                                maxlength="2"
                                onKeyUp="nextField(this, 'date-minute')" />
                            <div class="formError"
                                id="formError_date-hour"
                                style="display: none;">
                                <span
                                    th:text="#{DeploymentCreate.hour.text}">日時設定</span>
                            </div>
                            <div class="input-group-addon">:</div>
                            <input type="text"
                                class="form-control validation validationSwitch validationMessagePosition validationMessageId validationCustomPattern"
                                data-validationSwitch="deployTimingRadioBox_setLater"
                                data-validationMessagePosition="date-hour-minute"
                                data-validationMessageId="formError_date-minute"
                                data-validationCustomPattern="date-hour-minute"
                                name="deploymentMinute"
                                id="date-minute" placeholder="mm"
                                size="4" maxlength="2"
                                onKeyUp="nextField(this, 'date-hour')" />
                            <div class="formError"
                                id="formError_date-minute"
                                style="display: none;">
                                <span
                                    th:text="#{DeploymentCreate.minute.text}">日時設定</span>
                            </div>
                            
                            <div class="formError"
                                id="formError_date-date"
                                style="display: none;">
                                <span
                                    th:text="#{DeploymentCreate.date.text}">日時設定</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                </div>


            
                
                 <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{DeploymentDetails.boxDeployTimerSummary.text}">タイマー登録概要</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" 
                            name="timerSummary" id="timerSummary" placeholder="" required="required"
                            th:value="${result.param.inputInfo.timerSummary}" />
                        </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{DeploymentDetails.boxDeployTimerContent.text}">タイマー登録内容</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" 
                            name="timerDetail" id="timerDetail" rows="3" required="required"
                            th:text="${result.param.inputInfo.timerContents}" ></textarea>
                        </div>
                </div>

            </form>

        </section>


        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <ul class="sectionNavRight">
                    <li><a href="javascript:void(0)"
                        onclick="javascript:if (validateOnSubmit()) submitDeploymentJobCreationService();return false"
                        class="btn btn-default strong"><span
                            th:text="#{DeploymentCreate.buttonSubmit.text}">リリース連携する</span></a></li>
                </ul>
            </nav>
        </section>

        <!-- Removed by Long :: START -->
        <!-- <form id="FlowDeploymentJobCreationService" th:action="@{/job/deploy/create}" method="POST">
        		<input type="hidden" name="RequestType" value="submitChanges" />
        		<input type="hidden" name="summary" value="" />
        		<input type="hidden" name="contents" value="" />
        		<input type="hidden" name="relEnvId" value="" />
        		<input type="hidden" name="ctgId" value="" />
        		<input type="hidden" name="mstoneId" value="" />
        		<input type="hidden" name="rpId" value="" />
        		<input type="hidden" name="timerSettings" value="" />
        		<input type="hidden" name="timerDate" value="" />
        		<input type="hidden" name="timerHour" value="" />
        		<input type="hidden" name="timerMinute" value="" />
        		<input type="hidden" name="autoJob" value="" />
        	</form> -->
        <!-- Removed by Long :: END -->

        <form id="FlowDeploymentJobSelectEnvironmentService"
            th:action="@{/job/deploy/create}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="requestOption" value="selectEnvironment" />
            <input type="hidden" name="relEnvId" value="" />
        </form>

        <form id="FlowCategoryCreationService"
            th:action="@{/lot/settings/category/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/job/deploy/create/refreshCategory" />
            <input type="hidden" name="categorySubject" value="" />
        </form>
        <form id="FlowMilestoneCreationService"
            th:action="@{/lot/settings/milestone/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/job/deploy/create/refreshMilestone" />
            <input type="hidden" name="milestoneSubject" value="" />
        </form>

        <form id="submitDetailsService" th:action="@{/release/details}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="RpId" value="" />
        </form>

        <form id="FlowBuildPackageOverviewService"
            th:action="@{/build/overview}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="bpId" value="" />
        </form>

    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
			var deploymentOption = /*[[${result.getParam().getInputInfo().isManual()}]]*/null;
			function submitDeploymentJobCreationService(){
    			form = document.getElementById('FlowDeploymentJobCreationService');

    			form.summary.value		 = $("#inputSummary").val();
    			form.contents.value		 = $("#inputContents").val();
    			form.relEnvId.value		 = $("#relEnvSelectBox option:selected").val();
    			form.catgId.value		 = $("#ctgId option:selected").val();
    			form.mistoneId.value	 = $("#mstoneId option:selected").val();
    			form.rpId.value			 = $("input[name='releasePackageRadioBox']:checked").val();
    			form.timerSettings.value = $("input[name='deployTimingRadioBox']:checked").val();
    			form.timerDate.value	 = $("#date-date").val();
    			form.timerHour.value	 = $("#date-hour").val();
    			form.timerMinute.value	 = $("#date-minute").val();
    			form.manualJob.value	 = deploymentOption;
    			form.timerSummary.value	 = $("#timerSummary").val();
    			form.timerDetail.value	 = $("#timerDetail").val();
    			
    			
    			//debag
    			/*
				alert( "summary : "			+ form.summary.value		+ "\n"
					  +"contents : "		+ form.contents.value		+ "\n"
					  +"relEnvId : "		+ form.relEnvId.value		+ "\n"
					  +"ctgId : "			+ form.ctgId.value			+ "\n"
					  +"milestoneId : "		+ form.mstoneId.value		+ "\n"
					  +"rpId : "			+ form.rpId.value			+ "\n"
					  +"timerSettings : "	+ form.timerSettings.value	+ "\n"
					  +"timerDate : "		+ form.timerDate.value		+ "\n"
					  +"timerHour : "		+ form.timerHour.value		+ "\n"
					  +"timerMinute : "		+ form.timerMinute.value	+ "\n"
					  +"autoJob : "			+ form.autoJob.value		+ "\n");
    			*/
    			
    			
				safeSubmit("FlowDeploymentJobCreationService");
			}

			
			function submitDetailsService(RpId){
				form = document.getElementById('submitDetailsService');
				form.RpId.value = RpId;
				safeSubmit('submitDetailsService', {'validation':true});
			}

			
			function ajaxSearch(){
				var timeOut = null;
				var url = /*[[ @{/job/deploy/create} ]]*/'/job/deploy/create';

    			form = document.getElementById('FlowDeploymentJobSelectEnvironmentService');
    			form.relEnvId.value		 = $("#relEnvSelectBox option:selected").val();
    			
    			timeOut = setTimeout(function() {
					$.post(url, serializeWindowId('FlowDeploymentJobSelectEnvironmentService')).done(
						function(data, status, xhr) {

							$("#message").html($(data).find("#message").html());
							
							$("#rpResult").html($(data).find("#rpResult").html());
							
						}).fail(function(XMLHttpRequest, status, errorThrown) {
							console.log("fail");
						});
				}, 500);
			}

			function ajaxCreationCategory(){
				var timeOut = null;
				var url = /*[[ @{/lot/settings/category/create} ]]*/'/lot/settings/category/create';

				var subject = $("#categorySubject").val();
				
				form = document.getElementById('FlowCategoryCreationService');
				form.categorySubject.value = subject;
				
				//send
				timeOut = setTimeout(function() {
					$.post(url, serializeWindowId('FlowCategoryCreationService')).done(
						function(data, status, xhr) {
							$("#selectBoxCategory").html($(data).find("#selectBoxCategory").html());

							$("#message").html($(data).find("#message").html());

			            	$("#infoDialog").html($(data).find("#infoDialog").html());
			            	getTriLayer("flashMessage").show();
			                
							
						}).fail(function(XMLHttpRequest, status, errorThrown) {
							console.log("fail");
						});
				}, 500);
			}
			
			function ajaxCreationMilestone(){
				var timeOut = null;
				var url = /*[[ @{/lot/settings/milestone/create} ]]*/'/lot/settings/milestone/create';

				var subject = $("#mstoneSubject").val();
				
				form = document.getElementById('FlowMilestoneCreationService');
				form.milestoneSubject.value = subject;
				
				//send
				timeOut = setTimeout(function() {
					$.post(url, serializeWindowId('FlowMilestoneCreationService')).done(
						function(data, status, xhr) {
							$("#selecteBoxMilestone").html($(data).find("#selecteBoxMilestone").html());

							$("#message").html($(data).find("#message").html());

			            	$("#infoDialog").html($(data).find("#infoDialog").html());
			            	getTriLayer("flashMessage").show();
			                
							
						}).fail(function(XMLHttpRequest, status, errorThrown) {
							console.log("fail");
						});
				}, 500);
			}

			
			function buildPackageOverviewPopup(bpId,selector){

		        var timeOut = null;
		    	var url =  /*[[ @{/build/overview} ]]*/'/build/overview';

				form = document.getElementById('FlowBuildPackageOverviewService');
				form.bpId.value = bpId;

		        timeOut = setTimeout(function() {
		            $.post(url, serializeWindowId('FlowBuildPackageOverviewService')).done(
						function(data, status, xhr) {  

							$("#message").html($(data).find("#message").html());  
							$(selector).parents("td").find(".overviewPopup").html($(data).html());
							$(selector).parents("td").find(".popupWindow").fadeIn(300);
							
						}).fail(function(XMLHttpRequest, status, errorThrown) {
					});
				},200);
			}

			
            function nextField(i, n) {
                if (i.value.length >= 2) {
                    i.form.elements[n].focus();
                }                
            }
            
            function validateddHhMm(date,hour) {
            	var datePartern = /^([0-9]{4})\/([0-9]{2})\/([0-9]{2})$/;
            	var hourPartern = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/;
            	
            	
                var isValid = true;

                if (!datePartern.test(date)) {
                  isValid = false;
                }
                if (!hourPartern.test(hour)) {
                    isValid = false;
                  }

                return isValid;
            }

            
            $(function(){
        		$("#relEnvSelectBox").change(function(){
        			ajaxSearch();
        		});

            	//buildPackageOverview
            	$(document).on({
            		'mouseenter':function(){
            			var bpId = $(this).html();
            			var selector = this;

            			$(".overviewPopup").html("");
            			
            			sethover = setTimeout(function(){
            				buildPackageOverviewPopup(bpId,selector);
            			},300);
            		},
            		'mouseleave':function(){
            			$(".overviewPopup").html("");
            			clearTimeout(sethover);
            		}
            	},'.buildPackageOverview');
            });
            
            
        /* ]]> */
        </script>
</body>
</html>