<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{DeploymentList.title.text}" th:fragment="titleHtml">trinity
	| Deployment Job - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
	th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/jquery-ui.css"
	th:href="@{/resources/css/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
	th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
	href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
	href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
	href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
	href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
	href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
	href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
	href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
	href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-32x32.png"
	th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-194x194.png"
	th:href="@{/resources/images/favicons/favicon-194x194.png}"
	sizes="194x194" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-96x96.png"
	th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/android-chrome-192x192.png"
	th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
	sizes="192x192" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-16x16.png"
	th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
	th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
	href="../../images/trinity/favicons/safari-pinned-tab.svg"
	th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
	color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
	content="../../images/trinity/favicons/mstile-144x144.png"
	th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

	<!-- グローバルヘッダー -->
	<header th:replace="common/Global::lot"></header>

	<!-- コンテンツ -->
	<article class="contents fullWidth" th:fragment="innerHtml">
		<div class="contentsHeader">
			<h1>
				<span> <img
					src="../../images/trinity/common/icon_Release_cooperation.png"
					th:src="@{/resources/images/common/icon_Release_cooperation.png}"
					alt="" />
				</span> <span th:text="#{DeploymentList.header.text}">リリース連携の一覧</span>
			</h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{DeploymentJobList.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
			<ul class="contentsHeaderMenu" id="exportFile">
				<li><i class="fa fa-file-text-o"></i><a
					href="javascript:void(0)"
					onclick="exportToFile('csv');return false;">CSV</a></li>
				<li><i class="fa fa-file-excel-o"></i><a
					href="javascript:void(0)"
					onclick="exportToFile('xls');return false;">Excel</a></li>
				<li><i class="fa fa-print"></i><a href="void(0);" onClick="javascript:printDeploymentJobList();return false;"><span
						th:text="#{DeploymentList.print.text}">印刷用ページ</span></a></li>
			</ul>
		</div>
		<div class="sectionErrorMessage">
			<div th:replace="common/Messages::message">Messages</div>
		</div>

		<!-- 自動登録ON/OFF -->
		<section class="section searchSection">
			<div class="sectionHeader">
				<h2 class="faBtn">
					<i class="fa fa-minus-square"></i> <span
						th:text="#{DeploymentList.sectionDeployConfiguration.text}">連携設定</span>
				</h2>
			</div>
			<div class="sectionContents faBtnContents">
				<div class="sectionContentsUnit">
					<table>
						<tr>
							<th><span class="required">*</span> <span
								th:text="#{DeploymentList.deployConfiguration}">連携時のリリース連携方法</span></th>
							<td>&nbsp;&nbsp;
								<input type="radio" name="requestJob" id="optionsDeploy1" value="automatic"
									th:checked="not ${result.param.inputInfo.isSelectedManual()}"  onClick="changeMode('automatic');" />
								<label for="optionsDeploy1" th:text="#{DeploymentList.deployAuto.text}">自動登録</label>&nbsp;
								<input type="radio" name="requestJob" id="optionsDeploy2" value="manual"
									th:checked="${result.param.inputInfo.isSelectedManual()}" onClick="changeMode('manual');"/>
								<label for="optionsDeploy2" th:text="#{DeploymentList.deployManual.text}">手動登録</label>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<!-- 環境選択 -->
		<section class="section searchSection">
			<div class="sectionHeader">
				<h2 class="faBtn">
					<i class="fa fa-minus-square"></i> <span
						th:text="#{DeploymentList.sectionEnvironment.text}">環境の選択</span>
				</h2>
			</div>
			<div class="sectionContents faBtnContents">
				<div class="sectionContentsUnit">
					<table>
						<tr>
							<div class="row">
								<label class="col-sm-2 control-label" style="line-height: 34px;"> <span
									class="required">*</span> <span
									th:text="#{DeploymentList.condReleaseEnv.text}">リリース先環境の選択</span></label>
								<div class="col-sm-3">
									<select class="form-control" name="envId" id="envId">
										<option th:text="#{DeploymentList.pleaseSelect.text}" value="">--選択してください--</option>
										<option th:each="res : ${result.param.searchCondition.releaseEnvViews}" 
											th:text="${res.label}"
											th:value="${res.value}"
											data-key="envId"
											th:attr="data-value=${res.value}"
											th:selected="${result.param.searchCondition.envId == res.value}"></option>
									</select>
								</div>
							</div>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<!-- 検索条件 -->
		<section class="section searchSection">
			<div class="sectionHeader">
				<h2 class="faBtn">
					<i class="fa fa-minus-square"></i><span
						th:text="#{DeploymentList.searchCond.text}">検索条件</span>
				</h2>
				<ul class="sectionHeaderMenu">
					 <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"><span
                            th:text="#{DeploymentList.saveSearchFilter.text}">検索条件を保存</span></a></li>
				</ul>
			</div>
			
			<div class="modal fade saveFilterDialog" tabindex="-1"
                role="dialog" id="saveFilterDialog">
                <div class="modal-dialog searchDialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"
                                th:text="#{SearchFilter.saveFilterTitle.text}">検索フィルタ</h4>
                        </div>
                        <form class="form-horizontal searchFilterForm">
                            <div class="modal-body">
                                <div
                                    class="modal-error searchFilterNameError"
                                    style="display: none;"
                                    th:text="#{SearchFilter.saveFilterError.text}">フィルタ名を入力してください</div>
                                <div class="form-group">
                                    <label for="searchFilterName"
                                        class="col-sm-2 control-label"
                                        th:text="#{SearchFilter.saveFilterName.text}">フィルタ名</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                            class="form-control input-sm searchFilterName"
                                            id="searchFilterName"
                                            placeholder="" />
                                    </div>
                                </div>

                                <div class="form-group"
                                    style="min-height: 100px;">
                                    <label
                                        class="col-sm-2 control-label"
                                        th:text="#{SearchFilter.saveFilterCond.text}">検索条件</label>
                                    <div class="col-sm-10">
                                        <table
                                            class="searchQueryInfoTable">
                                            <thead>
                                                <tr>
                                                    <td
                                                        style="min-width: 100px;"></td>
                                                    <td></td>
                                                </tr>
                                            </thead>

                                            <tbody
                                                id="searchQueryInfoTableBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <input type="submit"
                                    class="btn btn-default btn-xs"
                                    value="検索条件を保存"
                                    th:value="#{SearchFilter.saveFilterSubmit.text}"
                                    th:onClick="'saveSearchFilter( \'' + @{/job/deploy/filter/save} + '\' ); return false;'" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
			<div class="sectionContents faBtnContents">
				<div class="sectionContentsUnit">
					<table>
						<tr>
							<th><span th:text="#{DeploymentList.condReqStatus.text}">依頼ステータス</span></th>
							<td>
								<ul class="searchCond">
									<li><a href="javascript:void(0)"
										class="searchCondItem select" data-key="stsId" data-value=''><span
											th:text="#{DeploymentList.condAll.text}">すべて</span></a></li>
									<li th:each="res : ${result.param.searchCondition.statusViews}">
										<a href="javascript:void(0)" class="searchCondItem"
										data-key="stsId" th:attr="data-value=${res.value}"> <span
											th:text="#{Constants.dmStatus.__${res.value}__.text}">未設定</span>
									</a>
									</li>
								</ul>
							</td>
						</tr>

						<tr>
							<th><span th:text="#{DeploymentList.condCategory.text}">カテゴリー</span></th>
							<td>
								<ul class="searchCond">
									<li><a href="jaavscript:void(0)"
										class="searchCondItem select" data-key="ctgId" data-value=''><span
											th:text="#{DeploymentList.condAll.text}">すべて</span></a></li>
									<li th:each="res : ${result.param.searchCondition.ctgViews}">
										<a href="javascript:void(0)" class="searchCondItem"
										data-key="ctgId" th:attr="data-value=${res.value}"> <span
											th:text="${res.label}">未設定</span>
									</a>
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th><span th:text="#{DeploymentList.condMilestone.text}">マイルストーン</span></th>
							<td>
								<ul class="searchCond">
									<li><a href="javascript:void(0)"
										class="searchCondItem select" data-key="mstoneId"
										data-value=''><span
											th:text="#{DeploymentList.condAll.text}">すべて</span></a></li>
									<li th:each="res : ${result.param.searchCondition.mstoneViews}">
										<a href="javascript:void(0)" class="searchCondItem"
										data-key="mstoneId" th:attr="data-value=${res.value}"> <span
											th:text="${res.label}">未設定</span>
									</a>
									</li>
								</ul>
							</td>
						</tr>
						<tr class="search">
							<th><i class="fa fa-search"></i><span
								th:text="#{DeploymentList.keyword.text}">キーワード検索</span></th>
							<td class="searchBoxPartsSq">
								<form>
									<dl>
										<dt>
											<input id="searchBox" type="text" name="search" value=""
												th:value="${result.param.searchCondition.keyword}"
												th:placeholder="#{DeploymentList.keywordPlaceHolder.text}" />
										</dt>
										<dd>
											<input class="btn btn-default" type="hidden" value="検索中..." th:value="#{DeploymentList.buttonSearching.text}" disabled="disabled" />
											<input class="btn btn-default" type="button" id="search" th:value="#{DeploymentList.buttonSearch.text}" />
										</dd>
									</dl>
								</form>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<!-- 表 -->
		<section class="section tableSection">
			<nav class="sectionNav sectionNavTab">
				<ul class="sectionNavRight">
					<li><a href="javascript:void(0)" class="underline"
						onclick="javascript:safeSubmit('FlowDeploymentJobLatestUpdatesService', {'validation':false});return false">
							<span><img
								src="../../images/trinity/common/icon_status_inquiry.png"
								th:src="@{/resources/images/common/icon_status_inquiry.png}"
								alt="" /></span> <span th:text="#{DeploymentList.confirmLatest.text}">最新のリリース連携を確認する</span>
					</a></li>
					<li th:if="${result.header.selectedLot.enabled}"><a href="javascript:void(0)" class="underline"
						onclick="javascript:safeSubmit('FlowDeploymentjobCreationService', {'validation':false});return false">
							<span><img
								src="../../images/trinity/common/icon_Deproyment_add.png"
								th:src="@{/resources/images/common/icon_Deproyment_add.png}"
								alt="" /></span> <span th:text="#{DeploymentList.createNew.text}">新規リリース連携をする</span>
					</a></li>
				</ul>
			</nav>
			<nav class="sectionNav">
				<dl class="sectionNavPager" id="pageTop">
					<div th:replace="common/Pagination::Top"></div>
				</dl>
			</nav>
			<table class="table table-bordered" id="tableResult" th:fragment="tableResult">
				<thead>
					<tr>
						<th><span th:text="#{DeploymentList.tableRelDeployID.text}">リリース連携番号</span></th>
						<th><span th:text="#{DeploymentList.tableReleaseEnv.text}">リリース環境</span></th>
						<th><span th:text="#{DeploymentList.releasePackage.text}">リリースパッケージ</span></th>
						<th><span th:text="#{DeploymentList.mgtVer.text}">連携先管理番号</span></th>
						<th><span th:text="#{DeploymentList.tableSubmitter.text}">担当者</span></th>
						<th><span th:text="#{DeploymentList.tableTimer.text}">タイマー設定日時</span></th>
						<th><span th:text="#{DeploymentList.tableReqStatus.text}">依頼ステータス</span></th>
						<th><span th:text="#{DeploymentList.tableCreatedDate.text}">連携先資源登録日時</span></th>
						<th><span th:text="#{DeploymentList.tableApplyDate.text}">適用日時</span></th>
						<th><span th:text="#{DeploymentList.tableDeploymentStatus.text}">連携先ステータス</span></th>
						<th th:if="${result.header.selectedLot.enabled}"><span th:text="#{DeploymentList.tableRemove.text}">削除</span></th>
					</tr>
				</thead>
				<tbody>
					<!-- 自動登録するほう -->
					<tr th:each="res : ${result.jobViews}" th:id="${res.mgtVer}">
						<td><a href="javascript:void(0)" class="underline"
							th:onclick="'javascript:submitFlowDeploymentjobDetails(\''+${res.mgtVer}+'\');return false'">
								<span th:text="${res.deploymentId}">SEN-1511240001</span>
						</a></td>
						<td><span th:text="${res.environmentNm}">ステージング</span></td>
						<td><span th:text="${res.rpId}">REL-1511240001</span></td>
						<td><span th:text="${res.mgtVer}">15112401</span></td>
						<td class="user"><img
							src="../../images/trinity/common/icon_obake.png"
							th:src="${res.createdByIconPath}" alt="Jim Cruz" class="userImg" /><span
							th:text="${res.createdBy}">Jim Cruz</span></td>
						<td><span
							th:text="(${res.timerSettings.value()}=='immediately')? #{DeploymentList.__${res.timerSettings.value()}__.text} : ${res.timerSettingsTime}"></span></td>
						<td class="labels"><span class="label label-justify"
							th:classappend="'dmStatus'+${res.stsId}"> <span
								th:text="#{Constants.dmStatus.__${res.stsId}__.text}">リリース登録済み</span>
						</span></td>
						<td><span th:text="${res.deploymentRegistedTime}">2015/11/24 10:00</span></td>
						<td><span th:text="${res.deploymentAppliedTime}"></span></td>
						<td th:if="${res.deploymentStsId == null}"></td>
						<td th:if="${res.deploymentStsId != null}" class="labels">
							<span class="label label-justify"
							th:classappend="${res.deploymentStsId == 'APPLY' ? 'labelBlue ' : 'labelYellow'}"> <span
								th:text="#{Constants.deploymentStatus.__${res.deploymentStsId}__.text}">リリース登録済み</span>
						</span></td>
						<td class="btns" th:if="${result.header.selectedLot.enabled}"><a
							href="javascript:void(0);" class="delete" th:onClick="'javascript: submitRemoveService(\''+ ${res.mgtVer}+ '\',\'' +  ${res.deploymentId} + '\',' +${res.isJobCancelled()} +');return false;'"><i
								class="fa fa-times-circle"></i></a></td>
					</tr>
				</tbody>
			</table>
			
			<div
                th:style="${result.jobViews.size()}== 0 ? 'display:block;' : 'display:none;'"
                class="emptySearchResults" id="emptyResultsMessage">
                <i class="fa fa-warning"></i> <span
                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
            </div>
            
			<nav class="sectionNav">
				<dl class="sectionNavPager" id="pageBottom">
					<div th:replace="common/Pagination::Bottom"></div>
				</dl>

				<dl class="sectionNavRight" th:style="${result.param.inputInfo.isSelectedManual() ? 'display: none' : '' }" id="btnGetDeploymentResult">
					<dt th:text="#{DeploymentList.getDeploymentResultDesc.text}">連携先情報を</dt>
					<dd>
						<a href="javascript:void(0)" class="btn btn-default strong"  onClick="getDeploymentResult();">
							<span th:text="#{DeploymentList.getDeploymentResult.text}">取得する</span>
						</a>
					</dd>
				</dl>
				<dl class="sectionNavRight" th:style="${result.param.inputInfo.isSelectedManual() ? '' : 'display: none' }" id="btnShellOutput">
					<dd>
						<a href="javascript:void(0)" class="btn btn-default strong"  onClick="outputShell()">
							<span th:text="#{DeploymentList.outputShell.text}">シェル出力する</span>
						</a>
					</dd>
				</dl>
			</nav>
		</section>

		<form id="FlowDeploymentjobRemovalService"
			th:action="@{/job/deploy/remove}" method="POST">
			<input type="hidden" name="RequestType" value="submitChanges" /> <input
				type="hidden" name="mgtVer" value="" />
		</form>

		<form id="FlowDeploymentjobDetailsService"
			th:action="@{/job/deploy/details}" method="POST">
			<input type="hidden" name="RequestType" value="init" /> <input
				type="hidden" name="mgtVer" value="" />
			<input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
		</form>

		<form id="FlowDeploymentjobCreationService"
			th:action="@{/job/deploy/create}" method="POST">
			<input type="hidden" name="RequestType" value="init" />
			<input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
		</form>

		<form id="FlowDeploymentJobLatestUpdatesService"
			th:action="@{/job/deploy/latest}" method="POST">
			<input type="hidden" name="RequestType" value="init" />
			<input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
		</form>

		<form th:action="@{/job/deploy/export/file}" method="post" id="downloadFile">
            <input type="hidden" name="RequestType" value="submitChanges" /> 
            <input type="hidden" name="table" /> 
            <input type="hidden" name="submitOption" />
        </form>

		<form id="FlowDeploymentListService"
			th:action="@{/job/deploy/list/search}" method="POST">
			<input type="hidden" name="RequestType" value="onChange" /> 
			<input type="hidden" name="requestOption" value="none" /> 
			<input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic' }" />
			<input type="hidden" name="envId" th:value="${result.param.searchCondition.envId}" />
			<input type="hidden" name="stsId" th:value="${result.param.searchCondition.stsId}" />
			<input type="hidden" name="deploymentStsId" value="" />
			<input type="hidden" name="ctgId" th:value="${result.param.searchCondition.ctgId}" />
			<input type="hidden" name="mstoneId" th:value="${result.param.searchCondition.mstoneId}" />
			<input type="hidden" name="keyword" th:value="${result.param.searchCondition.keyword}" />
			<input type="hidden" name="selectedPageNo" value="1" />
		</form>
		
		<form id="FlowPrintDeploymentJobList"
            th:action="@{/job/deploy/list/print}" method="POST">
            <input type="hidden" name="requestOption" value="none" /> 
            <input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic' }" />
            <input type="hidden" name="envId" th:value="${result.param.searchCondition.envId}" />
            <input type="hidden" name="stsId" th:value="${result.param.searchCondition.stsId}" />
            <input type="hidden" name="ctgId" th:value="${result.param.searchCondition.ctgId}" />
            <input type="hidden" name="mstoneId" th:value="${result.param.searchCondition.mstoneId}" />
            <input type="hidden" name="keyword" th:value="${result.param.searchCondition.keyword}" />
        </form>
        
        <form id="FlowDeploymentJobListOutputShell"
            th:action="@{/job/deploy/list/output/shell}" method="POST">
            <input type="hidden" name="RequestType" value="submitChanges" /> 
            <input type="hidden" name="envId" th:value="${result.param.searchCondition.envId}" />
        </form>
        
       	<form id="FlowDeploymentJobRemovalCommentService"
            method="POST" th:action="@{/job/deploy/remove/validate}">
            <input type="hidden" name="RequestType" value="validate" />
            <input type="hidden" name="mgtVer" value="" />
            <input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic' }" />
        </form>
		
	</article>

	<!-- JS -->
	<script src="../../js/trinity/jquery-1.12.1.min.js"
		th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
	<script src="../../js/trinity/jquery-ui.min.js"
		th:src="@{/resources/js/jquery-ui.min.js}"></script>
	<script src="../../js/trinity/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../js/trinity/main-min.js"
		th:src="@{/resources/js/main-min.js}"></script>
	<script src="../../js/trinity/trinity.common.js"
		th:src="@{/resources/js/trinity.common.js}"></script>
	<script th:inline="javascript" th:fragment="js">
        /*<![CDATA[*/
			function submitFlowDeploymentjobDetails(mgtVer){
				var form = document.getElementById("FlowDeploymentjobDetailsService");
				form.mgtVer.value = mgtVer;
				safeSubmit("FlowDeploymentjobDetailsService", {"validation":false});
			}

			//prevent enter key
			$(document).on("keypress", "input#searchBox", function(event) {
				return event.which !== 13;
			});

    		var formId = 'FlowDeploymentListService';
    		$(document).ready(function(){
        		
    			updateSearchFilterQuery(formId);
    			updateSearchConditionView(formId);
 
    		});

			function changeMode(mode) {
				if ('automatic' == mode) {
					$("#btnGetDeploymentResult").show();
					$("#btnShellOutput").hide();
				} else {
					$("#btnGetDeploymentResult").hide();
					$("#btnShellOutput").show();
				}
				$('#FlowDeploymentjobCreationService input[name="requestJob"]').val( mode );
				$('#FlowDeploymentListService input[name="requestJob"]').val( mode );
				$('#FlowDeploymentjobDetailsService input[name="requestJob"]').val( mode );
				$('#FlowDeploymentJobLatestUpdatesService input[name="requestJob"]').val( mode );
				$('#FlowDeploymentJobRemovalCommentService input[name="requestJob"]').val( mode );

				//To save stage of requestJob
				var url = /*[[ @{/job/deploy/list/search} ]]*/'/job/deploy/list/search';
				$.post(url, serializeWindowId('FlowDeploymentListService'));
			}

			function outputShell() {
				var url = /*[[ @{/job/deploy/list/output/shell} ]]*/'/job/deploy/list/output/shell';
				var form = document.getElementById('FlowDeploymentJobListOutputShell');
    			form.envId.value	 = $("#envId").val();
    			//clear deployment result in case user get it before
				ajaxSearch('requestOption', 'search');
				$('#FlowDeploymentListService input[name="requestOption"]').val( 'none' );

				//output shell
    			$.ajax({
    			      type: "POST",
    			      url: url,
    			      data: serializeWindowId('FlowDeploymentJobListOutputShell'),
    			      global: false, //disable xhr check for this ajax
    			      success: function(data) {
    			    	  $("#message").html($(data).find("#message").html());
							var text = $(data).find("#infoDialog").find(".bandPopupMessage").text();
							if(text) {
								openBandPopup({
									message     :text,
									btn1Text	:[[#{DeploymentList.ok.text}]],
									btn1Func    :function(){}
								});
							}

    			      },
    			      error: function(XMLHttpRequest, status, errorThrown) {
    			        console.error(errorThrown);
    			      },
    			    });
			}

			function getDeploymentResult() {
				$('#FlowPrintDeploymentJobList input[name="requestOption"]').val( 'getDeploymentInfo' );
				ajaxSearch('requestOption', 'getDeploymentInfo');
				$('#FlowDeploymentListService input[name="requestOption"]').val( 'none' );
			}

			function ajaxSearch(key,val){
				var timeOut = null;
				var url = /*[[ @{/job/deploy/list/search} ]]*/'/job/deploy/list/search';
				$('#FlowDeploymentListService input[name="'+key+'"]').val( val );

				getTriLayer("mask").startWaiting('tableResult');
				updateSearchFilterQuery(formId);
				
			 	 $.post(url, serializeWindowId('FlowDeploymentListService')).done(
					function(data, status, xhr) {

						$("#tableResult").html($(data).find("#tableResult").html());
						
						$("#pageTop").html($(data).find("#pageTop").html());
						$("#pageBottom").html($(data).find("#pageBottom").html());
						
						$("#message").html($(data).find("#message").html());

						$("#FlowPrintDeploymentJobList").html($(data).find("#FlowPrintDeploymentJobList").html());
						$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
						
						getTriLayer("mask").endWaiting('tableResult');
						
					}).fail(function(XMLHttpRequest, status, errorThrown) {
						console.log("fail");
						getTriLayer("mask").endWaiting('tableResult');
					});
				updateSearchConditionView(formId);
			}

			function ajaxRemoval(mgtVer){
				var url = /*[[ @{/job/deploy/remove} ]]*/'/job/deploy/remove';

				form = document.getElementById('FlowDeploymentjobRemovalService');
				form.mgtVer.value = mgtVer;
				getTriLayer("mask").startWaiting('tableResult');
				$.post(url, serializeWindowId('FlowDeploymentjobRemovalService')).done(
					function(data, status, xhr) {
					
						$("#tableResult").html($(data).find("#tableResult").html());
						
						$("#infoDialog").html($(data).find("#infoDialog").html());						
						
						$("#message").html($(data).find("#message").html());  
						getTriLayer("mask").endWaiting('tableResult');
					
					}).fail(function(XMLHttpRequest, status, errorThrown) {
						console.log("fail");
						getTriLayer("mask").endWaiting('tableResult');
				});
			}
			
            $(function() {
        		$(document).on("click", ".pageNavi", function(){
        			var val = $(this).attr("data-pageNum");
        			var pageId = $(this).parents("nav:first").attr("id");
        			
        			ajaxSearch("selectedPageNo", val);
        		});
        		
                
                $(document).on("click", ".searchCondItem", function(){
					var key = $(this).attr("data-key");
					var val = $(this).attr("data-value")
					$('#FlowDeploymentListService input[name=manual]').val( "false" );
					var obj = $(this).parents(".searchCond").children("li").children("a.select");
					obj.removeClass("select");
					$(this).addClass("select");

					$('input[name='+key+']').val(val);
					
					ajaxSearch(key,val);
                });

                $(document).on("click", "#search", function(){
                    var key = "keyword";
                    var val = $("#searchBox").val();

					ajaxSearch(key,val);
				});

                $(document).on("change", "select[name='envId']", function() {
                	ajaxSearch('envId', $(this).val());
                });

        		getTriLayer("flashMessage").show();
				  
            });

            function exportToFile(extension) {
				var validateURL = /*[[ @{/job/deploy/export/validate} ]]*/ '/job/deploy/export/validate';
				var $windowId = $('#windowId').val();

				$.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
					$("#message").html($(data).find("#message").html());
					if(!$("#message").html().trim()) {
						var _url = /*[[@{/job/deploy/export}]]*/'/job/deploy/export';
						var form = document.getElementById("FlowDeploymentListService");
						appendWindowId(form);
						var _data = $(form).serialize()
						$.ajax({
							type: "POST",
							url: _url,
							data: _data,
							global: false,
							success: function(data) {
								downloadFile($(data).html(), extension);
							},
						});
					}
				});
    		}

    		function downloadFile(table, extension) {
    			var form = document.getElementById('downloadFile');
    			if (extension == 'xls') {
    				form.submitOption.value = "ExportToExcel";
    			} else if (extension == 'csv') {
    				form.submitOption.value = "ExportToCsv";
    			}
    			form.table.value = encodeURI(table);
    			appendWindowId(form);
    			form.submit();
    			return;
    		}

    		$(document).ready(function(){
                $('#FlowPrintDeploymentJobList').submit(function() {
                    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
                    this.target = 'Popup_Window';
                });
            });
    		
    		function printDeploymentJobList() {
                submit("FlowPrintDeploymentJobList");
            }

			function submitRemoveService(mgtVer, deploymentId, isCancelled) {
				if (isCancelled) {
					form = document.getElementById('FlowDeploymentjobRemovalService');
					form.mgtVer.value = mgtVer;
					
					openBandPopup({
	                    message     :[[#{DeploymentList.confirmRemove.text}]],
	            		btn1Text	:[[#{DeploymentList.yes.text}]],
	            		btn2Text	:[[#{DeploymentList.no.text}]],               
	                    btn1Func    :function(){
	                                   safeSubmit('FlowDeploymentjobRemovalService');
	                                 },     
	                    btn2Func    :function(){}
	                });
				} else {
					var formId = 'FlowDeploymentJobRemovalCommentService';
	            	setParamsToForm(formId, {"mgtVer" : mgtVer});
	            	removeCommentContainer();
	            	var right = $("#tableResult td:last").width()/2 - 8;
	            	
	            	var html = '<tr id="comment_container_temp">'
	                	+ '<td colspan="11" style="border-left-color: #fff; border-right-color: #fff;'
	                	+ ($( "#tableResult tr:last" ).attr('id') == mgtVer ? ' border-bottom-color: #fff; ' : '')
	                    + 'padding: 0px 0px 10px 0px; background-color:white;color: inherit">'
	        			+ '<div style="position:relative">'
	        			+ '<div class="fukidashiHeader" style="right: '
	        			+ right + 'px; top: -2px; display: none;" id="removalFukidashiHeader"></div></div>'
	       				+ '<div id="replace_reason"></div></td></tr>'
	       				+ '<tr id="comment_container_after"></tr>';
	            	$('#' + mgtVer).after(html);
	            	$('#replace_reason').click(function(event) {
	            		event.stopPropagation();
	            	});
	            	
	            	toggleComment(formId,'removal');
				}
    		}

    		/* ]]> */
            
        </script>
</body>
</html>