<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{DeploymentDetails.title.text}" th:fragment="titleHtml">trinity
    | Deployment Job - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
	<header th:replace="common/Global::lot"></header>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
    	<form id="FlowDeploymentjobRemovalService"
			th:action="@{/job/deploy/remove}" method="POST">
			<input type="hidden" name="RequestType" value="submitChanges" /> <input
				type="hidden" name="mgtVer" th:value="${result.getDetailsView().getMgtVer()}" />
		</form>
    
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_Deployment_detail.png"
                    th:src="@{/resources/images/common/icon_Deployment_detail.png}"
                    alt="" /></span> <span
                    th:text="#{DeploymentDetails.header.text}">リリース連携の詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{DeploymentJobDetails.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)" 
                    th:onClick="'javascript:cloneWindow(\'FlowDeploymentJobDetailsService\');return false;'">
                        <span
                        th:text="#{DeploymentDetails.newWindow.text}">別ウインドウに複製</span>
                </a></li>
                <li><i class="fa fa-print"></i><a href="javascript:void(0)" th:onClick="'javascript:printDeploymentJobDetails();return false;'"><span
                        th:text="#{DeploymentDetails.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        
        <section class="section tableSection searchTableSection" th:if="${result.detailsView.hasWarningMessages()}">
                <div class="emptySearchResults">
                  
                  <div th:each="res, start: ${result.detailsView.warningMessages}">
                    <i class="fa fa-warning" th:if="${start.index == 0}"></i>
                    <span th:text="${res}" ></span>
                  </div>
                </div>
		</section>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{DeploymentDetails.boxReleaseCreation.text}">リリース登録</span><span
                    class="helpBtn inline"><a th:href="#{DeploymentJobDetails.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span th:text="#{DeploymentDetails.deployID.text}">リリース連携番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.deploymentId}">SEN-1511240001</span>&nbsp;
                    <span class="label"
                          th:classappend="'dmStatus'+'__${result.detailsView.stsId}__'"
                          th:text="#{Constants.dmStatus.__${result.detailsView.stsId}__.text}">タイマー設定済み</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.mgtVer.text}">連携先管理番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mgtVer}">1511240001</span>&nbsp;
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.summary.text}">リリース連携概要</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getSummary()}">20151125_開発リリース</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.content.text}">リリース連携内容</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getContents()}">20151125_開発リリース</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.relEnv.text}">リリース環境</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getEnvironmentNm()}">開発</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getCategoryNm()}">テスト</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getMstoneNm()}">○○のバグ修正</span>
                </dd>
            </dl>


        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{DeploymentDetails.releasePackage.text}">リリースパッケージ</span><span
                    class="helpBtn inline"><a th:href="#{DeploymentJobDetails.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{DeploymentDetails.releasePackage.text}">リリースパッケージ</span></label>
                    <div class="col-sm-9">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{DeploymentDetails.relPkgID.text}">リリースパッケージ番号</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.bldPkgID.text}">ビルドパッケージ番号</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.environment.text}">環境</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.submitter.text}">作成者</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.tableRPStartTime.text}">作成日</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.tableRPEndTime.text}">作成日</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a
                                        href="ReleasePackageDetails.html"
                                        class="underline"
                                        th:onClick="'javascript:submitDetailsService(\''+${result.getDetailsView().getReleasePackage().getRpId()}+'\');return false;'">
                                            <span
                                            th:text="${result.getDetailsView().getReleasePackage().getRpId()}">REL-1511240001</span>
                                    </a></td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getBpId()}"
                                        class="buildPackageOverview">BLD-1511100001</span><span
                                        class="overviewPopup"></span></td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getEnvironmentNm()}">開発</span></td>
                                    <td class="user"><img
                                        src="../../images/trinity/common/icon_obake.png"
                                        th:src="${result.getDetailsView().getReleasePackage().getCreatedByIconPath()}"
                                        alt="Jim Cruz" class="userImg" />
                                        <span
                                        th:text="${result.getDetailsView().getReleasePackage().getCreatedBy()}">Jim
                                            Cruz</span></td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getStartTime()}">2015/11/24</span></td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getEndTime()}">2015/11/24</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </form>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{DeploymentDetails.deployTiming.text}">リリース連携タイミング</span><span
                    class="helpBtn inline"><a th:href="#{DeploymentJobDetails.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span
                        th:text="#{DeploymentDetails.boxDeployTiming.text}">リリース連携タイミング</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getTimerSettingsTime()}">2016/03/29
                        10:00</span>
                </dd>
                <dt>
                	<span
                        th:text="#{DeploymentDetails.boxDeployTimerSummary.text}">リリース連携タイミング</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getTimerSummary()}">2016/03/29
                        10:00</span>
                </dd>
                <dt>
                	<span
                        th:text="#{DeploymentDetails.boxDeployTimerContent.text}">リリース連携タイミング</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getTimerContents()}">2016/03/29
                        10:00</span>
                </dd>
            </dl>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{DeploymentDetails.contactReturnInfo.text}">連絡先（戻り値）</span><span
                    class="helpBtn inline"><a th:href="#{DeploymentJobDetails.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span
                        th:text="#{DeploymentDetails.createdDate.text}">連絡先資源登録日時</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getDeploymentRegistedTime()}">2016/3/30
                        10:00</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.applyDate.text}">適用日時</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getDeploymentAppliedTime()}">2016/03/30
                        12:00</span>
                </dd>
                <dt>
                    <span
                        th:text="#{DeploymentDetails.deploymentStatus.text}">連絡先ステータス</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getDeploymentStatus()}">適用</span>
                </dd>
            </dl>
        </section>

        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <dl class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                    <dd><span
                        th:text="#{DeploymentDetails.buttonDesc.text}">このリリース登録を</span></dd>
                    <dd><a href="javascript:void(0);"
                        class="btn btn-default"
                        th:if="${result.getDetailsView().isEditEnabled()}"
                        onclick="javascript:safeSubmit('FlowDeploymentJobEditService', {'validation':false});return false;">
                            <span
                            th:text="#{DeploymentDetails.buttonEdit.text}">編集する</span>
                    </a></dd>
                    <dd><a th:onclick="'submitRemoval('+ ${result.getDetailsView().isJobCancelled()}+')'"
                        href="javascript:void(0);" class="btn btn-default">
                        <span class="commentButtonWaiting"
                            id="removalCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{DeploymentDetails.buttonRemove.text}">削除する</span>
                            <div class="fukidashiHeader"
                                id="removalFukidashiHeader"
                                style="display: none;"></div></a></dd>
                </dl>
            </nav>
			<div id="replace_reason"></div>
        </section>

        <!-- target="CloneWindow" -->
        <form id="FlowDeploymentJobDetailsService"
            th:action="@{/job/deploy/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="mgtVer"
                th:value="${result.getDetailsView().getMgtVer()}" />
         	<input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
        </form>


        <form id="FlowDeploymentJobEditService"
            th:action="@{/job/deploy/edit}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="mgtVer"
                th:value="${result.getDetailsView().getMgtVer()}" />
           	<input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
        </form>

        <form id="submitDetailsService" th:action="@{/release/details}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="RpId" value="" />
        </form>
        
        <form id="FlowDeploymentJobRemovalCommentService"
            method="POST" th:action="@{/job/deploy/remove/validate}">
            <input type="hidden" name="RequestType" value="validate" /> <input
                type="hidden" name="mgtVer"
                th:value="${result.getDetailsView().getMgtVer()}" />
        </form>

        <form id="FlowBuildPackageOverviewService"
            th:action="@{/build/overview}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="bpId" value="" />
        </form>
        
        <form id="FlowPrintDeploymentJobDetails" th:action="@{/job/deploy/details/print}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> 
            <input type="hidden" name="mgtVer" th:value="${result.getDetailsView().getMgtVer()}" />
			<input type="hidden" name="requestJob" th:value="${result.param.inputInfo.isSelectedManual() ? 'manual' : 'automatic'}" />
        </form>

    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
        
			function submitDetailsService(RpId){
				form = document.getElementById('submitDetailsService');
				form.RpId.value = RpId;
				safeSubmit('submitDetailsService', {'validation':false});
			}
			
			function buildPackageOverviewPopup(bpId,selector){

		        var timeOut = null;
		    	var url =  /*[[ @{/build/overview} ]]*/'/build/overview';

				form = document.getElementById('FlowBuildPackageOverviewService');
				form.bpId.value = bpId;

		        timeOut = setTimeout(function() {
		            $.post(url, serializeWindowId('FlowBuildPackageOverviewService')).done(
						function(data, status, xhr) {  

							$("#message").html($(data).find("#message").html());  
							$(selector).parents("td").find(".overviewPopup").html($(data).html());
							$(selector).parents("td").find(".popupWindow").fadeIn(300);
							
						}).fail(function(XMLHttpRequest, status, errorThrown) {
					});
				},200);
			}

			function submitRemoval(isCancelled) {
				if(isCancelled) {
					
					openBandPopup({
	                    message     :[[#{DeploymentDetails.confirmRemove.text}]],
	            		btn1Text	:[[#{DeploymentDetails.yes.text}]],
	            		btn2Text	:[[#{DeploymentDetails.no.text}]],
	                    btn1Func    :function(){
	                                   safeSubmit('FlowDeploymentjobRemovalService');
	                                 },     
	                    btn2Func    :function(){}
	                });
				} else {
					toggleComment('FlowDeploymentJobRemovalCommentService', 'removal');return false;
				}
			}
			
            $(function() {
        		//buildPackageOverview
        		$(document).on({
        			'mouseenter':function(){
        				var bpId = $(this).html();
        				var selector = this;

        				$(".overviewPopup").html("");
        				
        				sethover = setTimeout(function(){
        					buildPackageOverviewPopup(bpId,selector);
        				},300);
        			},
        			'mouseleave':function(){
        				$(".overviewPopup").html("");
        				clearTimeout(sethover);
        			}
        		},'.buildPackageOverview');

        		getTriLayer("flashMessage").show();
				  
            });
            
            $(document).ready(function(){
                $('#FlowPrintDeploymentJobDetails').submit(function() {
                    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
                    this.target = 'Popup_Window';
                });
            });

            function printDeploymentJobDetails() {
                submit("FlowPrintDeploymentJobDetails");
            }
        </script>
</body>
</html>