<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<footer th:fragment="footer">
    <div class="spacer30"></div>
    <div class="center">trinity V3 Copyright(c) 2016 by Blueship.
        All rights reserved.</div>
    <div class="center">
        <a href="#" th:text="#{Footer.contact.us.text}"> Contact Us
        </a>|<!--<a href="#" th:text="#{Footer.faq.text}"> FAQ </a>|--><a href="#"
            th:text="#{Footer.help.text}"> Help </a> <img
            src="../../static/sample/images/icon_blueship.png"
            th:src="@{/resources/images/icon_blueship.png}" alt=""
            width="80" /> <img
            src="../../static/sample/images/icon_trinityV3.png"
            th:src="@{/resources/images/icon_trinityv3.png}" alt=""
            width="80" />
    </div>
</footer>
</html>
