<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>
    <ul id="globalNavSearchResultSwitch"
        class="globalNavSearchResultSwitch clearfix">
        <li data-target="#assetsResults"><span
            th:text="#{GlobalBar.recentlyViewedRequest.text}">変更資産</span><span
            class="num"
            th:text="' (' + ${result.requestViews.size()} + ')'">(10)</span></li>
        <li data-target="#releaseResults"><span
            th:text="#{GlobalBar.recentlyViewedRelease.text}">リリース</span><span
            class="num"
            th:text="' (' + ${result.releaseViews.size()} + ')'">(5)</span></li>
        <li data-target="#wikiResults"><span
            th:text="#{GlobalBar.recentlyViewedWiki.text}">Wiki</span><span
            class="num"
            th:text="' (' + ${result.wikiViews.size()} + ')'">(2)</span></li>
        <!-- <li data-target="#fileResults">ファイル<span class="num">(0)</span></li> -->
        <li data-target="#userResults"><span
            th:text="#{GlobalBar.recentlyViewedUser.text}">ユーザ</span><span
            class="num"
            th:text="' (' + ${result.memberViews.size()} + ')'">(2)</span></li>
    </ul>
    <div class="globalNavSearchResult">
        <ul id="assetsResults" class="globalNavSearchResultContainer"
            style="display: none;">
            <li th:each="view : ${result.requestViews}"
                class="resultItem assetResultItem clearfix"><span
                class="assetIcon resultItemIcon"> <img
                    th:src="@{/resources/images/common/icon_request_add.png}"
                    src="../../images/trinity/common/icon_request_add.png" />
            </span> <span class="resultItemTitle" style="cursor: pointer;"
                th:text="'[ ' + ${view.pjtId} + ' ( ' + ${view.referenceId} + ' )' + '] ' + ${view.subject != null ? view.subject : ''}"
                th:onClick="'app.submitAssetsResults(\'' + ${view.areqId} + '\', \'' + ${view.areqCtgCd.value()} + '\');return false;'"></span>
                <div class="actions" th:if="${view.showClipboardIcon}">
                    <span
                        class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                        data-clipboard-text="copy content"> <img
                        class="clipboard_checkout"
                        src="images/common/icon_copy_lending.png"
                        th:src="@{/resources/images/common/icon_copy_lending.png}"
                        th:attr="data-clipboard-text=${view.checkoutFilePath}" />
                    </span> <span
                        class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                        data-clipboard-text="copy content"> <img
                        class="clipboard_checkin"
                        src="images/common/icon_copy_return.png"
                        th:src="@{/resources/images/common/icon_copy_return.png}"
                        th:attr="data-clipboard-text=${view.checkinFilePath}" />
                    </span>
                </div></li>
        </ul>

        <ul id="releaseResults" class="globalNavSearchResultContainer"
            style="display: none;">
            <li th:each="view : ${result.releaseViews}"
                class="resultItem releaseResultItem clearfix" style="cursor: pointer;"
                th:onClick="'app.submitReleaseResults(\'' + ${view.InternalId} + '\', \'' + ${view.releaseType.value()} + '\');return false;'">
                <span class="releaseIcon resultItemIcon"> <img
                    src="../../images/trinity/common/icon_request.png"
                    th:src="@{/resources/images/common/icon_request.png}" />
            </span> <span class="resultItemTitle"
                th:text="'[' + ${view.InternalId} + '] ' + ${view.subject != null ? view.subject : ''}">[
                    TMP 採番 ][PJT 採番 ( 変更管理番号 )] 申請件名</span>
            </li>
        </ul>

        <ul id="wikiResults" class="globalNavSearchResultContainer"
            style="display: none;">
            <li th:each="view : ${result.wikiViews}"
                class="resultItem wikiResultItem clearfix" style="cursor: pointer;"
                th:onClick="'app.submitWikiDetails(\'' + ${view.lotId} + '\', \'' + ${view.wikiId} + '\');return false;'">
                <span class="wikiIcon resultItemIcon"> <img
                    src="../../images/trinity/common/icon_wiki.png"
                    th:src="@{/resources/images/common/icon_wiki.png}" />
            </span> <span th:text="'(' + ${view.lotId} + ') ' + ${view.wikiNm}"
                class="resultItemTitle"></span>
            </li>
        </ul>

        <ul id="fileResults" class="globalNavSearchResultContainer"
            style="display: none;">
            <!-- //Not Implemented -->
            <li class="resultItem fileResultItem clearfix">
                <span class="fileIcon resultItemIcon"> <img
                    src="../../images/trinity/common/icon_sourcefile.png" />
            </span> <span class="resultItemTitle">ファイル名 . 拡張子</span>
            </li>

            <li class="resultItem fileResultItem clearfix">
                <span class="fileIcon resultItemIcon"> <img
                    src="../../images/trinity/common/icon_sourcefile.png" />
            </span> <span class="resultItemTitle">ファイル名 . 拡張子</span>
            </li>

            <li class="resultItem fileResultItem clearfix">
                <span class="fileIcon resultItemIcon"> <img
                    src="../../images/trinity/common/icon_sourcefile.png" />
            </span> <span class="resultItemTitle">ファイル名 . 拡張子</span>
            </li>
        </ul>

        <ul id="userResults" class="globalNavSearchResultContainer"
            style="display: none;">
            <li th:each="view : ${result.memberViews}"
                class="resultItem userResultItem clearfix" style="cursor: pointer;"
                th:onClick="'app.submitUserEditing(\'' + ${view.userId} + '\');return false;'">
                <span class="userIcon resultItemIcon"> <img
                    src="../../images/trinity/common/icon_obake.png"
                    th:src="${view.iconPath}" />
            </span> <span class="resultItemTitle" th:text="${view.userNm}">Jim
                    Cruz</span>
            </li>
        </ul>

        <form id="globalSearchFlowUserEditingService"
           th:action="@{/project/profile/details}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="memberId" value="" />
                <input type="hidden" id="requestOption" name="requestOption" value="latestActivity"/>
                <input type="hidden" id="latestActivityRequestOption" name="latestActivityRequestOption" value=""/><input
                type="hidden" name="windowId" value="" />
                
        </form>

        <form id="globalSearchFlowBuildPackageDetails"
            th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="dataId" value="" />
            <input type="hidden" name="dataAttribute" value="BuildPackage" />
            <input type="hidden" name="submitMode" value="details" />
        </form>

        <form id="globalSearchFlowReleasePackageDetails"
            th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="dataId" value="" />
            <input type="hidden" name="dataAttribute" value="ReleasePackage" />
            <input type="hidden" name="submitMode" value="details" />
        </form>

        <form id="globalSearchFlowCheckoutRequestDetails"
            th:action="@{/dispatch}" method="POST">
             <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="dataId" value="" />
            <input type="hidden" name="dataAttribute" value="CheckOutRequest" />
            <input type="hidden" name="submitMode" value="details" />
        </form>

        <form id="globalSearchFlowCheckInRequestDetails"
            th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="dataId" value="" />
            <input type="hidden" name="dataAttribute" value="CheckInRequest" />
            <input type="hidden" name="submitMode" value="details" />
        </form>

        <form id="globalSearchFlowRemovalRequestDetails"
            th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="dataId" value="" />
            <input type="hidden" name="dataAttribute" value="RemovalRequest" />
            <input type="hidden" name="submitMode" value="details" />
        </form>

        <form id="globalSearchFlowWikiDetails" th:action="@{/dispatch}"
            method="POST">
              <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="dataId" value="" />
            <input type="hidden" name="dataAttribute" value="Wiki" />
            <input type="hidden" name="submitMode" value="details" />
        </form>
    </div>
</body>
</html>