<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{Calendar.title.text}" th:fragment="titleHtml">trinity
    | Gantt Chart</title>

<!-- CSS -->
<link href="../../css/trinity/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/trinity/font-awesome.min.css" rel="stylesheet" />
<link href="../../css/trinity/trinity.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js"></script>
<script src="../../js/trinity/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="">ロット設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotInfoView.html" class="select">ロット</a></li>
                <li><a href="">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="">ロット情報</a></li>
                <li><a href="" class="select">変更管理情報</a></li>
                <li><a href="">マイルストーン</a></li>
                <li><a href="">カテゴリー</a></li>
            </ul>
        </nav>
    </header>




    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <span class="overviewPopup"
            style="position: absolute; z-index: 500;"></span>
        <form id="FlowChangePropertyOverviewService"
            th:action="@{/chgproperty/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId" id="OverviewServiceDataId"
                value="" />
        </form>

        <form id="FlowCheckInOutRequestOverviewService"
            th:action="@{/checkinout/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId" id="OverviewServiceDataId"
                value="" />
        </form>

        <form id="FlowRemovalRequestOverviewService"
            th:action="@{/removal/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId" id="OverviewServiceDataId"
                value="" />
        </form>

        <form id="FlowBuildPackageOverviewService"
            th:action="@{/build/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="bpId" id="OverviewServiceDataId"
                value="" />
        </form>

        <form id="FlowReleasePackageOverviewService"
            th:action="@{/release/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="rpId" id="OverviewServiceDataId"
                value="" />
        </form>
        
        <form id="FlowReleaseRequestOverviewService"
            th:action="@{/release/request/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="raId" id="OverviewServiceDataId"
                value="" />
        </form>
        
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_calendar.png"
                    th:src="@{/resources/images/common/icon_calendar.png}"
                    alt="カレンダー" th:alt="#{Calendar.header.text}" /></span> <span
                    th:text="#{Calendar.header.text}">カレンダー</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{Calendar.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
        </div>
        
        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section searchSection">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i> <span
                        th:text="#{Calendar.searchConditions.text}">表示条件</span>
                </h2>
            </div>
            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <form id="FlowGanttChartService"
                        th:action="@{/lot/gantt}" method="POST">
                        <input type="hidden" name="RequestType"
                            value="onChange" /> <input type="hidden"
                            name="requestOption" value="refresh" /> <input
                            type="hidden" id="condSpan" name="condSpan"
                            th:value="${result.param.searchCondition.span.value()}" />
                        <input type="hidden" id="condGrouping"
                            name="condGrouping"
                            th:value="${result.param.searchCondition.grouping.value()}" />
                        <input type="hidden" id="condStatus"
                            name="condStatus"
                            th:value="${result.param.searchCondition.status.value()}" />
                        <table>
                            <tbody>
                                <tr>
                                    <th
                                        th:text="#{Calendar.condStartDate.text}">表示開始日</th>
                                    <td
                                        class="datePickerUnit searchBoxPartsSq">
                                        <dl>
                                            <dt>
                                                <div class="form-inline">
                                                    <span
                                                        class="date datePickerGantt"
                                                        id="datePickerGantt">
                                                        <input
                                                        type="text"
                                                        class="inputSmallDate filterField"
                                                        name="startDate"
                                                        id="startDate"
                                                        th:value="${result.param.searchCondition.startDate}"
                                                        style="width: 100px;" />
                                                        <span
                                                        class="input-group-addon datePickerIconWapper">
                                                            <img
                                                            src="../../images/trinity/common/icon_calender_mini.png"
                                                            th:src="@{/resources/images/common/icon_calender_mini.png}"
                                                            class="datePickerIcon"
                                                            alt="" />
                                                    </span>
                                                    </span>
                                                </div>
                                            </dt>
                                            <dd>
                                                <input
                                                    class="btn btn-default btn-short"
                                                    id="btn-change"
                                                    type="button"
                                                    value="変更"
                                                    th:value="#{Calendar.ChangeStartDate.text}"
                                                    style="min-width: 100px;" />
                                                <span>&nbsp;</span> <input
                                                    class="btn btn-default btn-short"
                                                    id="btn-today"
                                                    type="button"
                                                    value="今日"
                                                    th:value="#{Calendar.ApplyToday.text}"
                                                    style="min-width: 100px;" />
                                            </dd>
                                        </dl>
                                    </td>
                                    <th
                                        th:text="#{Calendar.condSpan.text}">表示範囲</th>
                                    <td>
                                        <ul class="searchCond"
                                            id="condSpan">
                                            <li
                                                th:each="res : ${result.param.searchCondition.spanViews}">
                                                <a
                                                href="javascript:void(0);"
                                                class="searchCondItem"
                                                data-key="condSpan"
                                                th:attr="data-value=${res.value()}">
                                                    <span
                                                    th:text="#{Calendar.condSpan.__${res.value()}__.text}"></span>
                                            </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th
                                        th:text="#{Calendar.condGrouping.text}">グルーピング</th>
                                    <td>
                                        <ul class="searchCond"
                                            id="condGrouping">
                                            <li
                                                th:each="res : ${result.param.searchCondition.groupingViews}">
                                                <a
                                                href="javascript:void(0);"
                                                class="searchCondItem"
                                                data-key="condGrouping"
                                                th:attr="data-value=${res.value()}">
                                                    <span
                                                    th:text="#{Calendar.condGrouping.__${res.value()}__.text}"></span>
                                            </a>
                                            </li>
                                        </ul>
                                    </td>
                                    <th
                                        th:text="#{Calendar.condStatus.text}">ステータス</th>
                                    <td>
                                        <ul class="searchCond"
                                            id="condStatus">
                                            <li
                                                th:each="res : ${result.param.searchCondition.statusViews}">
                                                <a
                                                href="javascript:void(0);"
                                                class="searchCondItem"
                                                data-key="condStatus"
                                                th:attr="data-value=${res.value()}">
                                                    <span
                                                    th:text="#{Calendar.condStatus.__${res.value()}__.text}"></span>
                                            </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </section>

        <section class="calendarSection">
            <nav class="calendarSectionHeader">
                <ul class="calendarSectionHeaderLeft">
                    <li><a href="javascript:void(0);"
                        onClick="ajaxSearch('requestOption', 'previous'); return false;"><span
                            th:text="#{Calendar.prevWeek.text}">一週間前</span></a></li>
                    <li
                        th:text="${result.param.searchCondition.startDate}"
                        id="startDatePager">2016/04/29</li>
                    <li><a href="javascript:void(0);"
                        onClick="ajaxSearch('requestOption', 'next'); return false;"><span
                            th:text="#{Calendar.nextWeek.text}">一週間後</span></a></li>
                </ul>
                <dl class="calendarSectionHeaderRight">
                    <dt th:text="#{Calendar.ganttStatus.text}">ステータス</dt>
                    <dd>
                        <span class="labelRed"
                            th:text="#{Calendar.ganttInProgress.text}">処理中</span>
                    </dd>
                    <dd>
                        <span class=" labelBlue"
                            th:text="#{Calendar.ganttCompleted.text}">処理済み</span>
                    </dd>
                    <dd>
                        <span class=" labelGreen"
                            th:text="#{Calendar.ganttClosed.text}">完了</span>
                    </dd>
                </dl>
            </nav>
            <div id="result_replace" class="calendarSectionBody">
                <div class="calendarTableUnit"
                    th:each="groupingView : ${result.groupingViews}">
                    <div
                        th:if="${groupingView.grouping.value()} != 'none'"
                        class="calendarTableUnitHeader">
                        <h2
                            th:if="${groupingView.grouping.value() == 'dataType'}">
                            <span class="caretToggle"></span> <span
                                class="icon"
                                th:switch="${groupingView.groupingNm}">
                                <img th:case="ChangeProperty"
                                th:src="@{/resources/images/common/icon_ChangeManegementInfomation.png}"
                                th:alt="#{Calendar.dataAttribute.ChangeProperty.text}" />
                                <img th:case="CheckOutRequest"
                                th:src="@{/resources/images/common/icon_request.png}"
                                th:alt="#{Calendar.dataAttribute.CheckOutRequest.text}" />
                                <img th:case="CheckInRequest"
                                th:src="@{/resources/images/common/icon_request.png}"
                                th:alt="#{Calendar.dataAttribute.CheckInRequest.text}" />
                                <img th:case="RemovalRequest"
                                th:src="@{/resources/images/common/icon_request.png}"
                                th:alt="#{Calendar.dataAttribute.RemovalRequest.text}" />
                                <img th:case="BuildPackage"
                                th:src="@{/resources/images/common/icon_BP.png}"
                                th:alt="#{Calendar.dataAttribute.BuildPackage.text}" />
                                <img th:case="ReleaseRequest"
                                th:src="@{/resources/images/common/icon_request.png}"
                                th:alt="#{Calendar.dataAttribute.ReleaseRequest.text}" />
                                <img th:case="ReleasePackage"
                                th:src="@{/resources/images/common/icon_RP.png}"
                                th:alt="#{Calendar.dataAttribute.ReleasePackage.text}" />
                                <img th:case="BuildPackageClose"
                                th:src="@{/resources/images/common/icon_BP_close.png}"
                                th:alt="#{Calendar.dataAttribute.BuildPackageClose.text}" />
                                <img th:case="DeploymentJob"
                                th:src="@{/resources/images/common/icon_Release_cooperation.png}"
                                th:alt="#{Calendar.dataAttribute.DeploymentJob.text}" />
                                <img th:case="DeploymentJobTimer"
                                th:src="@{/resources/images/common/icon_timer.png}"
                                th:alt="#{Calendar.dataAttribute.DeploymentJobTimer.text}" />
                                <img th:case="ConflictCheck"
                                th:src="@{/resources/images/common/icon_conflict_check2.png}"
                                th:alt="#{Calendar.dataAttribute.ConflictCheck.text}" />
                                <img th:case="Merge"
                                th:src="@{/resources/images/common/icon_merge.png}"
                                th:alt="#{Calendar.dataAttribute.Merge.text}" />
                            </span> <span
                                th:text="#{Calendar.dataAttribute.__${groupingView.groupingNm}__.text} ">Jim
                                Cruz</span>
                        </h2>
                        <h2
                            th:unless="${groupingView.grouping.value() == 'dataType'}">
                            <span class="caretToggle"></span> <span
                                class="icon"
                                th:switch="${groupingView.grouping.value()}">
                                <img th:case="assignee"
                                th:src="${groupingView.iconPath}" alt="" />
                                <img th:case="milestone"
                                th:src="@{/resources/images/common/icon_milestone_color.png}"
                                alt="" /> <img th:case="category"
                                th:src="@{/resources/images/common/icon_category.png}"
                                alt="" />
                            </span> <span
                                th:text="${groupingView.groupingNm != ''}? ${groupingView.groupingNm} : #{Calendar.notSet.text}">Jim
                                Cruz</span>
                        </h2>
                    </div>
                    <div class="calendarTable">
                        <div
                            class="calendarTableLeft calendarTableHeight"
                            style="height: 260px;"
                            th:style="'height: ' + ${groupingView.contents.size() * 40 + 60} + 'px;'">
                            <div class="calendarTableLeftHeader">
                                <p class="calendarTableLeftHeaderClose">
                                    <a href="javascript:void(0);"><span
                                        th:text="#{Calendar.hide.text}">隠す</span></a>
                                </p>
                                <table
                                    class="calendarTableLeftHeaderList">
                                    <thead>
                                        <th class="calendarTableIcon"
                                            th:text="#{Calendar.kind.text}">種類</th>
                                        <th
                                            th:text="#{Calendar.subject.text}">件名</th>
                                        <th
                                            th:text="#{Calendar.assignee.text}">担当者</th>
                                    </thead>
                                    <tbody>
                                        <tr
                                            th:each="content : ${groupingView.contents}">
                                            <td
                                                class="calendarTableIcon">
                                                <span
                                                th:unless="${groupingView.grouping} == 'assignee'"
                                                th:switch="${content.groupingDataType.value()}">
                                                    <img
                                                    th:case="ChangeProperty"
                                                    th:src="@{/resources/images/common/icon_ChangeManegementInfomation.png}"
                                                    th:alt="#{Calendar.dataAttribute.ChangeProperty.text}" />
                                                    <img
                                                    th:case="CheckOutRequest"
                                                    th:src="@{/resources/images/common/icon_request.png}"
                                                    th:alt="#{Calendar.dataAttribute.CheckOutRequest.text}" />
                                                    <img
                                                    th:case="CheckInRequest"
                                                    th:src="@{/resources/images/common/icon_request.png}"
                                                    th:alt="#{Calendar.dataAttribute.CheckInRequest.text}" />
                                                    <img
                                                    th:case="RemovalRequest"
                                                    th:src="@{/resources/images/common/icon_request.png}"
                                                    th:alt="#{Calendar.dataAttribute.RemovalRequest.text}" />
                                                    <img
                                                    th:case="BuildPackage"
                                                    th:src="@{/resources/images/common/icon_BP.png}"
                                                    th:alt="#{Calendar.dataAttribute.BuildPackage.text}" />
                                                    <img
                                                    th:case="ReleaseRequest"
                                                    th:src="@{/resources/images/common/icon_request.png}"
                                                    th:alt="#{Calendar.dataAttribute.ReleaseRequest.text}" />
                                                    <img
                                                    th:case="ReleasePackage"
                                                    th:src="@{/resources/images/common/icon_RP.png}"
                                                    th:alt="#{Calendar.dataAttribute.ReleasePackage.text}" />
                                                    <img
                                                    th:case="BuildPackageClose"
                                                    th:src="@{/resources/images/common/icon_BP_close.png}"
                                                    th:alt="#{Calendar.dataAttribute.BuildPackageClose.text}" />
                                                    <img
                                                    th:case="DeploymentJob"
                                                    th:src="@{/resources/images/common/icon_Release_cooperation.png}"
                                                    th:alt="#{Calendar.dataAttribute.DeploymentJob.text}" />
                                                    <img
                                                    th:case="DeploymentJobTimer"
                                                    th:src="@{/resources/images/common/icon_timer.png}"
                                                    th:alt="#{Calendar.dataAttribute.DeploymentJobTimer.text}" />
                                                    <img
                                                    th:case="ConflictCheck"
                                                    th:src="@{/resources/images/common/icon_conflict_check2.png}"
                                                    th:alt="#{Calendar.dataAttribute.ConflictCheck.text}" />
                                                    <img th:case="Merge"
                                                    th:src="@{/resources/images/common/icon_merge.png}"
                                                    th:alt="#{Calendar.dataAttribute.Merge.text}" />
                                            </span> <span
                                                th:if="${groupingView.grouping} == 'assignee'">
                                                    <img
                                                    th:src="@{/resources/images/common/placeholder.png}"
                                                    th:alt="${content.assigneeNm}" />
                                            </span>
                                            </td>
                                            <td>
												<a th:href="@{/dispatch(dataAttribute=${content.dataAttribute.value()},dataId=${content.dataId},submitMode=pendingDetails)}" 
                                                   th:text="${content.subject}+'('+${content.dataId}+')'"></a>
											</td>
                                            <td
                                                th:text="${content.assigneeNm}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div
                            class="calendarTableMain calendarTableHeight">
                            <div class="calendarZone"
                                style="width: 1567px;"
                                th:style="'width: ' + ${result.param.searchCondition.span.value() * 31 * 20 + 347} + 'px;' ">
                                <dl
                                    th:each="period : ${groupingView.header.periods}"
                                    class="calendarZoneDl calendarTableHeight"
                                    style="height: 260px;"
                                    th:style="'height: ' + ${groupingView.contents.size() * 40 + 60} + 'px;'">
                                    <dt class="days"
                                        th:text="${period.period}">2016/01</dt>
                                    <div th:each="day : ${period.days}"
                                        th:remove="tag">
                                        <dd
                                            th:classappend="${day.isToday()} ? 'today' : (${day.isHoliday()} ? 'holiday' : (${day.isWeekBeginning()} ? 'beginning'))">
                                            <span th:text="${day.day}"></span>
                                            <div th:if="${day.isFlag()}"
                                                class="milestone">
                                                <span><i
                                                    class="fa fa-flag"
                                                    aria-hidden="true"></i></span>
                                                <p>
                                                    <span
                                                        th:text="${day.flagNm}">本番環境リリース</span>
                                                </p>
                                            </div>
                                        </dd>
                                    </div>
                                </dl>
                                <ul class="calendarStripes"
                                    style="width: 1220px;"
                                    th:style="'width: ' + ${result.param.searchCondition.span.value() * 31 * 20} + 'px;' ">
                                    <li
                                        th:each="content : ${groupingView.contents}">
                                        <div class="chart"
                                            th:classappend="${content.status.value()} == 'inProgress' ? 'labelRed' : (${content.status.value()} == 'closed' ? 'labelGreen' : (${content.status.value()} == 'completed' ? 'labelBlue') ) "
                                            th:style="'left: ' + ${(content.seq - 1) * 20} + 'px; width: ' + ${content.countDays * 20} + 'px;'">
                                            <p class="chartTitle">
                                                <span
                                                    class="overviewSensitive"
                                                    th:text="${content.subject}+'('+${content.dataId}+')'"
                                                    data-key="dataAttribute"
                                                    th:attr="data-dataId=${content.dataId}, data-dataAttribute=${content.dataAttribute.value()}">#1006(PJT-1601030001)</span>
                                                <!-- 											<span class="overviewPopup"></span> -->
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>

    <script
        src="//cdn.jsdelivr.net/angular.gantt/latest/angular-gantt.min.js"></script>
    <script
        src="//cdn.jsdelivr.net/angular.gantt/latest/angular-gantt-plugins.min.js"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	var formId = 'FlowGanttChartService';
	$(document).ready(function(){
		updateSearchFilterQuery(formId);
		updateSearchConditionView(formId);
	});

	$(document).on("click", ".searchCondItem", function(){
		
		//change selected label
		var obj = $(this).parents(".searchCond").children("li").children("a.select");
		obj.removeClass("select");
		$(this).addClass("select");
	
		//collection
		var key = $(this).attr("data-key");
		var val = $(this).attr("data-value");
		$('input[name='+key+']').val(val);

		//do search
		ajaxSearch(key,val);
	});

	//block "enterkey" keypress in input form (searchKeyword)
	$(document).on("keypress", "input#startDate", function(event) {
		return event.which !== 13;
	});

	//search
	$(document).on("click", "input#btn-change", function(){
		//collection
		var key = "startDate";
		var val = $("input#startDate").val();

		//do search
		ajaxSearch(key,val);
	});

	//search
	$(document).on("click", "input#btn-today", function(){
		$("input#startDate").val( $.datepicker.formatDate('yy/mm/dd', new Date()) );
		
		//collection
		var key = "startDate";
		var val = $("input#startDate").val();

		//do search
		ajaxSearch(key,val);
	});

	//send ajax
	function ajaxSearch( key, val ){
		var url = /*[[ @{/lot/gantt} ]]*/'/lot/gantt';
		
		$('#' + formId + ' input[name="'+key+'"]').val( val );
		updateSearchFilterQuery(formId);
		console.log("key: ", key, ", val:", val);
		
		//send
		 $.post(url, serializeWindowId(formId)).done( function(data, status, xhr) {
			$("#result_replace").html($(data).find("#result_replace").html());
			$("#FlowGanttChartService").html($(data).find("#FlowGanttChartService").html());
			$("#startDate").html($(data).find("#startDate").html());
			$("#datePickerGantt").html($(data).find("#datePickerGantt").html());
			$("#startDatePager").html($(data).find("#startDatePager").html());
			$(".datePickerGantt").datepicker({
				format: "yyyy/mm/dd",
				language: "ja",
				autoclose: true,
				todayHighlight: true,
				clearBtn: true
			}).on("show", function(e) {
				$(".datepicker").css("z-index",1000);
			});
			$("#message").html($(data).find("#message").html());
			updateSearchConditionView(formId);
		}).fail(function(XMLHttpRequest, status, errorThrown) {
			console.log("fail");
		});
		
	}
	
	$(".datePickerGantt").datepicker({
		format: "yyyy/mm/dd",
		language: "ja",
		autoclose: true,
		todayHighlight: true,
		clearBtn: true
	}).on("show", function(e) {
		$(".datepicker").css("z-index",1000);
    });
	
	function overviewPopup(dataAttribute, dataId, selector, e) {
		if(dataAttribute == 'CheckOutRequest' || dataAttribute == 'CheckInRequest') {
			dataAttribute = 'CheckInOutRequest';
		}
		var formId = 'Flow' + dataAttribute + 'OverviewService';
		var form = document.getElementById(formId);
		$( '#' + formId + ' #OverviewServiceDataId').val(dataId);
		var url = form.action;

		$.post(url, serializeWindowId(formId)).done(function(data, status, xhr) {  

			$("#message").html($(data).find("#message").html());  
			$(".overviewPopup").html($(data).html());
			var posLeft = e.pageX + 10;
			var posTop = e.pageY - 200;
			$(".overviewPopup .popupWindow").css("left", posLeft);
			$(".overviewPopup .popupWindow").css("top", posTop);
			$(".overviewPopup .popupWindow").fadeIn(300);
			
		}).fail(function(XMLHttpRequest, status, errorThrown) {
			console.log("fail");
		});
	}

	$(document).on(
		{'mouseenter':function(e){
			var dataAttribute = $(this).attr("data-dataAttribute");
			var dataId = $(this).attr("data-dataId");
			var selector = this;
			$(".overviewPopup").html("");
			sethover = setTimeout(function(){
				overviewPopup(dataAttribute, dataId, selector, e);
			},300);
		},
		'mouseleave':function(){
			$(".overviewPopup").html("");
			clearTimeout(sethover);
		}
	},'.overviewSensitive');

	
	/* ]]> */
</script>
</body>
</html>