<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title th:fragment="titleHtml" th:text="#{LotCreate.title.text}">trinity | Lot - Create
    New</title>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
		<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
		<![endif]-->

</head>
<body>

    <header th:replace="common/GlobalHeader::globalHeader"></header>

    <header id="lotHeader">
        <div th:replace="common/ProjectHeader::projectHeader"></div>
    </header>

    <!-- コンテンツ -->
    <header id="settingsHeader"></header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_lot_add.png"
                    th:src="@{/resources/images/common/icon_lot_add.png}"
                    alt="" /></span><span th:text="#{LotCreate.header.text}">ロット新規作成</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{LotCreation.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <form class="form-horizontal" id="FlowLotCreationService"
            th:action="@{/lot/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="referer" value="LotCreation" /> <input
                type="hidden" name="forward" value="LotCreation" />
            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotCreate.basicInformation.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{LotCreation.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>


                <div class="form-group">
                    <label class="col-sm-3 control-label "><span
                        class="required">*</span><span
                        th:text="#{LotCreate.lotName.text}">ロット名</span></label>
                    <div class="col-sm-9">
                        <input type="text" maxlength="140"
                            class="form-control first validation"
                            id="subject" name="subject" placeholder=""
                            th:value="${result.param.inputInfo.lotSubject}" />
                        <div class="formError" style="display: none;">
                            <span th:text="#{LotCreate.lotName.text}">ロット名</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotCreate.lotSummary.text}">ロット概要</span></label>
                    <div class="col-sm-9">
                        <textarea class="form-control validation"
                            rows="3" id="summary" name="summary"
                            placeholder=""
                            th:text="${result.param.inputInfo.lotSummary}"></textarea>
                        <div class="formError" style="display: none;">
                            <span th:text="#{LotCreate.lotSummary.text}">ロット概要</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotCreate.contents.text}">ロット内容</span></label>
                    <div class="col-sm-9">
                        <textarea class="form-control validation"
                            rows="3" id="contents" name="contents"
                            placeholder=""
                            th:text="${result.param.inputInfo.lotContents}"></textarea>
                        <div class="formError" style="display: none;">
                            <span th:text="#{LotCreate.contents.text}">ロット内容</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotCreate.merge.text}">マージ</span></label>
                    <div class="col-sm-9">
                        <label>
                            <input type="checkbox" checked="checked" name="useMerge" onclick="warnNotUseMerge(this);"/>
                            <span th:text="#{LotCreate.useMerge.text(${result.param.inputInfo.useMerge})}" ></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotCreate.baselineTagName.text}">ベースラインタグ名</span></label>
                    <div class="col-sm-9">
                        <input type="text" maxlength="80"
                            class="form-control validation"
                            id="baselineTagName" name="baselineTagName"
                            placeholder=""
                            th:value="${result.param.inputInfo.baselineTag}" />
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{LotCreate.baselineTagName.text}">ベースラインタグ名</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>

                </div>




            </section>
            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotCreate.folderInformation.text}">ディレクトリ情報</span><span
                        class="helpBtn inline"><a th:href="#{LotCreation.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotCreate.publicPath.text}">公開ディレクトリパス</span></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="publicPath" value="" />
                        <input type="text"
                            class="form-control validation"
                            id="txtPublicPath" name="publicPathForm"
                            th:value="${result.param.inputInfo.publicPath}" />
                        <div class="formError" style="display: none;">
                            <span th:text="#{LotCreate.publicPath.text}">公開ディレクトリパス</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                        <input type="checkbox" id="chkPublicPath"
                            name="isUseDefaultPublicPath"
                            th:checked="${result.param.inputInfo.isUseDefaultPublicPath()}" />
                        <label
                            th:text="#{LotCreate.defaultSetting.text(${result.param.inputInfo.defaultPublicPath})}">デフォルト設定を使用する（C:￥user)</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotCreate.privatePath.text}">非公開ディレクトリパス</span></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="privatePath" value="" />
                        <input type="text" id="txtPrivatePath"
                            class="form-control validation"
                            name="privatePathForm"
                            th:value="${result.param.inputInfo.privatePath}" />
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{LotCreate.privatePath.text}">非公開ディレクトリパス</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                        <input style="vertical-align: middle;"
                            type="checkbox" id="chkPrivatePath"
                            name="isUseDefaultPrivatePath"
                            th:checked="${result.param.inputInfo.isUseDefaultPrivatePath()}" />
                        <label
                            th:text="#{LotCreate.defaultSetting.text(${result.param.inputInfo.defaultPrivatePath})}">デフォルト設定を使用する（C:￥sys)</label>
                    </div>
                </div>
            </section>


            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotCreate.authorizedGroup.text}">アクセス許可設定</span><span
                        class="helpBtn inline"><a th:href="#{LotCreation.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <span th:text="#{LotCreate.releaseEnv.message.text}">（※1
                    件も指定しない場合は全環境にアクセス可能）</span>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="checkboxHead"><input
                                id="checkbox1" type="checkbox" class="authorized_group_setting_checkhead"/></th>
                            <th><span
                                th:text="#{LotCreate.groupAllowAccess.text}">アクセスを許可したいグループ</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.authorizedGroups}">
                            <td><input type="checkbox"
                                class="authorized_group_setting"
                                name="selectedAuthorizedGroups"
                                th:value="${res.groupId}"
                                th:checked="${res.selected}" /></td>
                            <td th:text="${res.groupNm}">グループA</td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{LotCreate.lotListViewPermission.text}">一覧表示許可</span></label>
                    <div class="col-sm-8">
                    	<p class="form-control-static">
	                        <input id="checkbox6" type="checkbox"
	                            name="enableUnauthorizedGroup"
	                            th:checked="${result.param.inputInfo.isEnableUnauthorizedGroup()}" />
	                        <span th:text="#{LotCreate.lotListAuthorizeDesc.text}">（※1
	                            件も指定しない場合は全グループにアクセス許可が与えられます）</span>
                        </p>
                    </div>
                </div>

            </section>

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotCreate.emailRecipient.text}">メール送信先設定</span><span
                        class="helpBtn inline"><a th:href="#{LotCreation.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <span th:text="#{LotCreate.email.message.text}">（※1
                    件も指定しない場合はどのグループにも送信されません）</span>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="checkboxHead"><input
                                id="checkbox7" type="checkbox" class="email_group_checkhead"/></th>
                            <th><span
                                th:text="#{LotCreate.groupAllowAccess.text}">メール送信先グループ</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.mailRecipientGroups}">
                            <td><input type="checkbox"
                                class="email_group"
                                name="selectedRecipientGroups"
                                th:value="${res.groupId}"
                                th:checked="${res.selected}" /></td>
                            <td th:text="${res.groupNm}"></td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section class="section sectionRadius">
                <h2>
                    <span class="required">*</span><span
                        th:text="#{LotCreate.moduleSelection.text}">使用モジュール選択</span><span
                        class="helpBtn inline"><a th:href="#{LotCreation.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <!-- 					<span th:text="#{LotCreate.email.message.text}">(※1 件も指定しない場合はどのグループにも送信されません)</span> -->
                <table class="table table-bordered">
                    <thead
                        id="selectedModules_validationMessagePosition">
                        <tr>
                            <th class="checkboxHead"><input
                                id="checkbox12" type="checkbox" class="module_group_checkhead"/></th>
                            <th><span
                                th:text="#{LotCreate.moduleName.text}">モジュール名</span></th>
                            <th><span
                                th:text="#{LotCreate.repository.text}">リポジトリ</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.modules}">
                            <td><input type="checkbox"
                                class="module_group validation validationMessageId validationMessagePosition validationCustomPattern"
                                data-validationMessageId="formError_selectedModules"
                                data-validationMessagePosition="selectedModules_validationMessagePosition"
                                data-validationCustomPattern="checkbox_atLeastOne"
                                name="selectedModules"
                                th:value="${res.moduleNm}"
                                th:checked="${res.isSelected()}" /></td>
                            <td th:text="${res.moduleNm}">モジュール名</td>
                            <td th:text="${res.repository}">リポジトリ</td>
                        </tr>
                    </tbody>
                    <div class="formError"
                        id="formError_selectedModules"
                        style="display: none;">
                        <span
                            th:text="#{LotCreate.moduleSelection.text}">使用モジュール選択</span>
                        <span th:text="#{Validation.isRequired.text}">is
                            required.</span>
                    </div>
                </table>
            </section>

            <section class="section sectionRadius">
                <h2>
                    <span class="required">*</span><span
                        th:text="#{LotCreate.buildEnv.text}">ビルド環境設定</span><span
                        class="helpBtn inline"><a th:href="#{LotCreation.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <table class="table table-bordered">
                    <thead id="buildEnv_validationMessagePosition">
                        <tr>
                            <th><span
                                th:text="#{LotCreate.buildEnvType.text}">ビルド環境割り当て</span></th>
                            <th><span
                                th:text="#{LotCreate.environmentName.text}">環境名(環境番号)</span></th>
                            <th><span
                                th:text="#{LotCreate.summary.text}">概要</span></th>
                            <th><span
                                th:text="#{LotCreate.status.text}">ステータス</span></th>
                            <th><span
                                th:text="#{LotCreate.latestBuildTime.text}">最終更新日時</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.buildEnvs}">
                            <td><input type="radio"
                                class="validation validationMessageId validationMessagePosition validationCustomPattern"
                                data-validationMessageId="formError_buildEnv"
                                data-validationMessagePosition="buildEnv_validationMessagePosition"
                                data-validationCustomPattern="radio_selectOne"
                                name="selectedBuildEnvs"
                                th:id="'selectedBuildEnvs'+${resStat.count}"
                                th:value="${res.envId}"
                                th:checked="${res.isSelectedBuild()}"
                                onClick="javascript:selectEnv($(this), 'next')" />
                                <label
                                th:for="'selectedBuildEnvs'+${resStat.count}"
                                th:text="#{LotDetails.BPDiff.text}"></label>
                                <input type="radio"
                                class="validation validationMessageId validationMessagePosition validationCustomPattern"
                                data-validationMessageId="formError_buildEnv"
                                data-validationMessagePosition="buildEnv_validationMessagePosition"
                                data-validationCustomPattern="radio_selectOne"
                                th:id="'selectedFullBuildEnvs'+${resStat.count}"
                                name="selectedFullBuildEnvs"
                                th:value="${res.envId}"
                                th:checked="${res.isSelectedFullBuild()}"
                                onClick="javascript:selectEnv($(this), 'prev')" />
                                <label
                                th:for="'selectedFullBuildEnvs'+${resStat.count}"
                                th:text="#{LotDetails.BPFull.text}"></label>
                            </td>
                            <td><span
                                th:text="${res.environmentNm}"></span><br />
                                (<span th:text="${res.envId}"></span>)</td>
                            <td th:text="${res.summary}"></td>
                            <td th:text="#{LotCreate.running.text}"><span
                                th:text="#{Constants.bmStatus.__${res.stsId}__.text}">
                                    <!-- class="label" th:classappend="'bmStatus'+'__${res.stsId}__'" -->運用中
                            </span></td>
                            <td th:text="${res.updTime}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="formError" id="formError_buildEnv"
                    style="display: none;">
                    <span th:text="#{LotCreate.buildEnv.text}">ビルド環境設定</span>
                    <span th:text="#{Validation.isRequired.text}">is
                        required.</span>
                </div>
            </section>


            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotCreate.releaseEnv.text}">リリース環境設定</span><span
                        class="helpBtn inline"><a th:href="#{LotCreation.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <span th:text="#{LotCreate.releaseEnv.message.text}">(※1
                    件も指定しない場合は全環境にアクセス可能)</span>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><input id="checkbox16"
                                type="checkbox" class="release_env_checkhead"/><span
                                th:text="#{LotCreate.releaseEnvType.text}">リリース環境割り当て</span></th>
                            <th><span
                                th:text="#{LotCreate.environmentName.text}">環境名(環境番号)</span></th>
                            <th><span
                                th:text="#{LotCreate.summary.text}">概要</span></th>
                            <th><span
                                th:text="#{LotCreate.status.text}">ステータス</span></th>
                            <th><span
                                th:text="#{LotCreate.latestBuildTime.text}">最終更新日時</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.releaseEnvs}">
                            <th><input type="checkbox"
                                class="release_env"
                                name="selectedReleaseEnvs"
                                th:value="${res.envId}"
                                th:checked="${res.selected}"
                                 />
                                <span th:text="#{LotCreate.releaseEnvSelect.text}"></span>
                            </th>
                            <td><span
                                th:text="${res.environmentNm}"></span><span
                                th:text="${res.envId}"></span></td>
                            <td th:text="${res.summary}"></td>
                            <td th:text="#{LotCreate.running.text}"><span
                                th:text="#{Constants.bmStatus.__${res.stsId}__.text}">
                                    <!-- class="label" th:classappend="'bmStatus'+'__${res.stsId}__'" -->運用中
                            </span></td>
                            <td th:text="${res.UpdTime}"></td>
                        </tr>

                    </tbody>
                </table>

            </section>





            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0)" class="btn btn-default strong"
                               onClick="submitLotCreationService('FlowLotCreationService');"
                               th:text="#{LotCreate.create.text}">作成する</a></li>
                    </ul>
                </nav>
            </section>

        </form>
    </article>


    <!-- フッター -->

    <div class="footerPageTop">
        <a href=""><span th:text="#{Footer.backToTop.text}">このページの先頭へ</span></a>
    </div>

    <footer id="globalFooter">
        <small><span th:text="#{Footer.copyright1.text}">trinity
                V4 Copyright&copy;</span> <i class="fa fa-copyright"></i><span
            th:text="#{Footer.copyright2.text}"> 2016- by
                Blueship. All rights reserved.</span></small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href=""><span
                        th:text="#{Footer.contact.us.text}">お問い合わせ</span></a></li>
                <!--<li><a href=""><span th:text="#{Footer.faq.text}">よくあるご質問FAQ</span></a></li>-->
                <li><a href=""><span
                        th:text="#{Footer.help.text}">ヘルプ</span></a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/globalnav.js"
        th:src="@{/resources/js/globalnav.js}"></script>
    <script src="resources/js/search.js"
        th:src="@{/resources/js/search.js}"></script>
    <script src="resources/js/profile.js"
        th:src="@{/resources/js/profile.js}"></script>
    <script src="resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	
	function submitLotCreationService(formId) {
		if ( !validateOnSubmit() ) return;
		openBandPopup({
			message		:[[#{LotCreate.successRequest.text}]],
			btn1Text	:[[#{LotCreate.yes.text}]],
			btn2Text	:[[#{LotCreate.no.text}]],
			btn1Func	:function() {
							lotCreation(formId);
						},
			btn2Func    :function() {
							$('.bandPopup').fadeOut(popupFadeTime);
						},
		});
	}

	function lotCreation(formId){
		//
		$("input[name='publicPath']").val($("input[name='publicPathForm']").val());
		$("input[name='privatePath']").val($("input[name='privatePathForm']").val());
		safeSubmit(formId, {'validation':false});
	}

	function warnNotUseMerge(checkbox) {
		if(!checkbox.checked) {
			openBandPopup({
				message		:[[#{LotCreate.confirmUnmerge.text}]],
				btn1Text	:[[#{LotCreate.yes.text}]],
				btn2Text	:[[#{LotCreate.no.text}]],
				btn1Func	:function() {},
				btn2Func	:function() {
					checkbox.checked = true;
					}
			});
		}
	}

    $(function() {
        var bComplete = /*[[ ${result.result.isCompleted()} ]]*/ 'false';
        var defaultPublicPath = /*[[ ${result.param.inputInfo.defaultPublicPath} ]]*/ 'C:\\user';
        var defaultPrivatePath = /*[[ ${result.param.inputInfo.defaultPrivatePath} ]]*/ 'C:\\sys';

        $("#checkbox1").click(
                function() {
                    $(".authorized_group_setting").prop('checked',
                            $(this).prop("checked"));
                });
    
        $("#checkbox7").change(function() {
            $(".email_group").prop('checked', $(this).prop("checked"));
        });
    
        $("#checkbox12").click(function() {
            $(".module_group").prop('checked', $(this).prop("checked")).change();
        });
    
        $("#checkbox16").change(function() {
            $(".release_env").prop('checked', $(this).prop("checked"));
        });

        $('.authorized_group_setting').change(function() {
            updateHeadCheckbox('authorized_group_setting_checkhead','authorized_group_setting');
        });
        $('.email_group').change(function() {
            updateHeadCheckbox('email_group_checkhead','email_group');
        });

        $('.module_group').change(function() {
            updateHeadCheckbox('module_group_checkhead','module_group');
        });
        $('.release_env').change(function() {
            updateHeadCheckbox('release_env_checkhead','release_env');
        });
        
        if ($('#chkPublicPath').is(':checked') == true) {
            $('#txtPublicPath').prop('disabled', true);
        } else {
            $('#txtPublicPath').prop('disabled', false);
        }

        if ($('#chkPrivatePath').is(':checked') == true) {
            $('#txtPrivatePath').prop('disabled', true);
        } else {
            $('#txtPrivatePath').prop('disabled', false);
        }
    
        $('#chkPublicPath').change(function() {
            if ($('#chkPublicPath').is(':checked') == true) {
            	$('#txtPublicPath').val(defaultPublicPath);
            	$('#txtPublicPath').focusout();
                $('#txtPublicPath').prop('disabled', true);
            } else {
            	$('#txtPublicPath').val(defaultPublicPath);
                $('#txtPublicPath').prop('disabled', false);
            }
        });
        $('#chkPrivatePath').change(function() {
            if ($('#chkPrivatePath').is(':checked') == true) {
                $('#txtPrivatePath').val(defaultPrivatePath);
                $('#txtPrivatePath').focusout();
                $('#txtPrivatePath').prop('disabled', true);
            } else {
                $('#txtPrivatePath').val(defaultPrivatePath).prop('disabled', false);
            }
        });
    });

    function selectEnv(evnElm, nop){
        if (nop == "next") {
        	$(evnElm.parent("td").find("input[type='radio']")[1]).prop("checked", false);
        } else {
        	$(evnElm.parent("td").find("input[type='radio']")[0]).prop("checked", false);
        }
    }
    /* ]]> */
    </script>
</body>
</html>