<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{LotEdit.title.text}">trinity
    | Lot - Edit</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="img/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/trinity/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索"></input>
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/trinity/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/trinity/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/trinity/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>

                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- コンテンツ -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html" class="select">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="LotDetails.html" class="select">ロット情報</a></li>
                <li><a href="ChangePropertyList.html">変更管理情報</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img src="images/common/icon_lot_edit.png"
                    th:src="@{/resources/images/common/icon_lot_edit.png}"
                    alt="" /></span><span th:text="#{LotEdit.header.text}">ロットの編集</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{LotEdit.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
        </div>


        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <form class="form-horizontal" id="FlowLotEditService"
            th:action="@{/lot/edit}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="referer" value="LotEdit" /> <input type="hidden"
                name="forward" value="LotDetails" />

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotEdit.basicInformation.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{LotEdit.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>




                <div class="form-group">
                    <label th:text="#{LotEdit.lotID.text}"
                        class="col-sm-2 control-label">ロット番号</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <span th:text="${result.detailsView.lotId}"></span>&nbsp;<span
                                class="label"
                                th:classappend="'amStatus'+'__${result.detailsView.stsId}__'"
                                th:text="#{Constants.amStatus.__${result.detailsView.stsId}__.text}">ロット進行中</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label th:text="#{LotEdit.createdTime.text}"
                        class="col-sm-2 control-label">作成日時</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <span
                                th:text="${result.detailsView.createdTime}">2015/12/07&nbsp;11:23:45</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotEdit.lotName.text}">ロット名</span></label>
                    <div class="col-sm-10">
                        <input type="text"
                            class="form-control validation"
                            placeholder="" name="subject"
                            th:value="${result.param.inputInfo.lotSubject}"
                            required="required" maxlength="140" />
                        <div class="formError" style="display: none;">
                            <span th:text="#{LotEdit.lotName.text}">ロット名</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotEdit.lotSummary.text}">ロット概要</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control validation"
                            rows="3" name="summary" required="required"
                            th:text="${result.param.inputInfo.lotSummary}">ロット概要12345abcdeあいうえおカキクケコ</textarea>
                        <div class="formError" style="display: none;">
                            <span th:text="#{LotEdit.lotSummary.text}">ロット概要</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span><span
                        th:text="#{LotEdit.lotContents.text}">ロット内容</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control validation"
                            rows="3" name="contents" required="required"
                            th:text="${result.param.inputInfo.lotContents}">aaaaロット内容12345abcdeあいうえおカキクケコ</textarea>
                        <div class="formError" style="display: none;">
                            <span th:text="#{LotEdit.lotContents.text}">ロット内容</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" th:if="!${result.detailsView.useMerge}">
                    <label class="col-sm-2 control-label"> <img
                        src="../../images/trinity/common/icon_write_protect.png"
                        th:src="@{/resources/images/common/icon_write_protect.png}"
                        alt="" height="14px" /> <span
                        th:text="#{LotEdit.merge.text}">マージ</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="checkbox"
                            th:checked="${result.detailsView.useMerge}"
                            name="useMerge" disabled="disabled" /><span
                            th:text="#{LotEdit.mergeItem.text}">マージを使用する</span>
                        <p th:text="#{LotEdit.mergeText.text}">※「使用しない」から「使用する」にすることはできません</p>
                    </div>
                </div>
				<div class="form-group" th:if="${result.detailsView.useMerge}">
                    <label class="col-sm-2 control-label"> <span
                        th:text="#{LotEdit.merge.text}">マージ</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="checkbox"
                            th:checked="${result.detailsView.useMerge}"
                            name="useMerge" onclick="warnNotUseMerge(this);"/><span
                            th:text="#{LotEdit.mergeItem.text}">マージを使用する</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><img
                        src="../../images/trinity/common/icon_write_protect.png"
                        th:src="@{/resources/images/common/icon_write_protect.png}"
                        alt="" height="14px" /><span
                        th:text="#{LotEdit.baselineTagName.text}">ベースラインタグ名</span></label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <span
                                th:text="${result.detailsView.branchBaselineTag}">Version4</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                        th:text="#{LotEdit.latestBaseline.text}">最新ベースライン</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <span
                                th:text="${result.detailsView.latestBaselineTag}">(LOTBEGIN_150923113731)</span>
                        </p>
                    </div>
                </div>

            </section>


            <section class="section sectionRadius">
                <h2>
                    <span><img
                        src="../../images/trinity/common/icon_write_protect.png"
                        th:src="@{/resources/images/common/icon_write_protect.png}"
                        alt="" height="14px" /></span><span
                        th:text="#{LotEdit.folderInformation.text}">ディレクトリ情報</span><span
                        class="helpBtn inline"><a th:href="#{LotEdit.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>

                <div class="col-sm-12">
                    <dl class="dl-horizontal">
                        <dt th:text="#{LotEdit.publicPath.text}">公開ディレクトリパス</dt>
                        <dd th:text="${result.detailsView.publicPath}">C:¥user</dd>
                        <dt th:text="#{LotEdit.privatePath.text}">非公開ディレクトリパス</dt>
                        <dd th:text="${result.detailsView.privatePath}">C:¥sys</dd>
                    </dl>
                </div>
            </section>

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotEdit.authorizedGroup.text}">アクセス許可設定</span><span
                        class="helpBtn inline"><a th:href="#{LotEdit.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>


                <span th:text="#{LotEdit.authorize.message.text}">(※1
                    件も指定しない場合は全グループにアクセス許可が与えられます) </span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="checkboxHead"><input
                                id="checkbox1" type="checkbox" class="authorized_group_setting_checkhead"/></th>
                            <th
                                th:text="#{LotEdit.groupAllowAccess.text}">アクセスを許可したいグループ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.authorizedGroups}">
                            <th scope="row"><input type="checkbox"
                                class="authorized_group_setting"
                                th:value="${res.groupId}"
                                name="selectedAuthorizedGroups"
                                th:checked="${res.selected}" /></th>
                            <td th:text="${res.groupNm}">グループA>システム管理グループ</td>
                        </tr>
                    </tbody>
                </table>
                <dd>
                    <br></br>
                </dd>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><img
                        src="/images/trinity/common/icon_write_protect.png"
                        th:src="@{/resources/images/common/icon_write_protect.png}"
                        alt="" height="14px" /><span
                        th:text="#{LotEdit.listPermission.text}">一覧表示許可</span></label>
                    <div class="col-sm-8">
                        <p class="form-control-static">
                            <input type="checkbox" th:checked="${result.detailsView.enableUnauthorizedGroup}" disabled="disabled" />
                            <span th:text="#{LotEdit.listPermissionDesc.text}">アクセス許可のないグループにはロットを一覧表示しない</span>
                        </p>
                    </div>
                </div>

            </section>

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotEdit.emailGroup.text}">メール送信先設定</span><span
                        class="helpBtn inline"><a th:href="#{LotEdit.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <span th:text="#{LotEdit.email.message.text}">(※1
                    件も指定しない場合はどのグループにも送信されません)</span>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="checkboxHead"><input
                                id="checkbox7" type="checkbox" class="email_group_checkhead" /></th>
                            <th
                                th:text="#{LotEdit.groupAllowAccess.text}">アクセスを許可したいグループ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.mailRecipientGroups}">
                            <th scope="row"><input type="checkbox"
                                class="email_group"
                                th:value="${res.groupId}"
                                name="selectedRecipientGroups"
                                th:checked="${res.selected}" /></th>
                            <td th:text="${res.groupNm}">グループA>システム管理グループ</td>
                        </tr>
                    </tbody>
                </table>

            </section>
            <section class="section sectionRadius">
                <h2>
                    <span><img
                        src="../../images/trinity/common/icon_write_protect.png"
                        th:src="@{/resources/images/common/icon_write_protect.png}"
                        alt="" height="14px" /></span><span
                        th:text="#{LotEdit.moduleSelection.text}">使用モジュール選択</span><span
                        class="helpBtn inline"><a th:href="#{LotEdit.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>

                <div class="form-group">
                    <label class="col-sm-2 control-label"
                        th:text="#{LotEdit.usingServer.text}">使用サーバ</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">Main_Server(BPSV_TRINITY)</p>
                    </div>
                </div>



                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="checkboxHead"></th>
                            <th th:text="#{LotEdit.moduleName.text}">モジュール名</th>
                            <th th:text="#{LotEdit.repository.text}">リポジトリ</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr
                            th:each="res : ${result.param.inputInfo.modules}">
                            <th scope="row"><input type="checkbox"
                                th:checked="${res.selected}" disabled="disabled" /></th>
                            <td th:text="${res.moduleNm}">グループA>システム管理グループ</td>
                            <td th:text="${res.repository}">グループA>システム管理グループ</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotEdit.buildEnv.text}">ビルド環境設定</span><span
                        class="helpBtn inline"><a th:href="#{LotEdit.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th th:text="#{LotEdit.buildEnvSelect.text}">ビルド環境割り当て</th>
                            <th
                                th:text="#{LotEdit.environmentName.text}">環境名(環境番号)</th>
                            <th th:text="#{LotEdit.summary.text}">概要</th>
                            <th th:text="#{LotEdit.status.text}">ステータス</th>
                            <th
                                th:text="#{LotEdit.latestBuildTime.text}">最終更新日時</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.buildEnvs}">
                            <td><input type="radio"
                                name="selectedBuildEnvs"
                                th:value="${res.envId}"
                                th:checked="${res.selectedBuild}" />&nbsp;
                                <span th:text="#{LotEdit.BPDiff.text}">ビルド環境</span>&nbsp;
                                <input type="radio"
                                name="selectedFullBuildEnvs"
                                th:value="${res.envId}"
                                th:checked="${res.selectedFullBuild}" />&nbsp;
                                <span th:text="#{LotEdit.BPFull.text}">フルビルド環境</span>&nbsp;</td>
                            <td
                                th:text="${res.environmentNm + ' (' + res.envId + ')'}">グループA>システム管理グループ</td>
                            <td th:text="${res.summary}">グループA>システム管理グループ</td>
                            <td
                                th:text="#{Constants.bmStatus.__${res.stsId}__.text}">グループA>システム管理グループ</td>
                            <td th:text="${res.updTime}">グループA>システム管理グループ</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{LotEdit.releaseEnv.text}">リリース環境設定</span><span
                        class="helpBtn inline"><a th:href="#{LotEdit.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a></span>
                </h2>
                <span th:text="#{LotEdit.releaseEnv.message.text}">(※1
                    件も指定しない場合は全環境にアクセス可能です)</span>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><input id="checkbox16"
                                type="checkbox" class="release_env_checkhead" />&nbsp;<span
                                th:text="#{LotEdit.releaseEnvSelection.text}">リリース環境割り当て</span></th>
                            <th
                                th:text="#{LotEdit.environmentName.text}">環境名(環境番号)</th>
                            <th th:text="#{LotEdit.summary.text}">概要</th>
                            <th th:text="#{LotEdit.status.text}">ステータス</th>
                            <th
                                th:text="#{LotEdit.latestBuildTime.text}">最終更新日時</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            th:each="res : ${result.param.inputInfo.releaseEnvs}">
                            <td><input type="checkbox"
                                name="selectedReleaseEnvs"
                                class="release_env" id="res.envId"
                                th:value="${res.envId}"
                                th:checked="${res.selected}" /> <span
                                th:text="#{LotEdit.toReleaseEnv.text}">割り当てる
                            </span></td>
                            <td
                                th:text="${res.environmentNm + ' (' + res.envId + ')'}">グループA>システム管理グループ</td>
                            <td th:text="${res.summary}">グループA>システム管理グループ</td>
                            <td
                                th:text="#{Constants.bmStatus.__${res.stsId}__.text}">グループA>システム管理グループ</td>
                            <td th:text="${res.updTime}">グループA>システム管理グループ</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <ul class="sectionNavRight">
                        <li><a href="#" class="btn btn-default"
                            th:text="#{LotEdit.submitChanges.text}"
                            onClick="safeSubmit('FlowLotEditService',{'validation':true}); return false;">変更を保存する</a></li>
                    </ul>
                </nav>
            </section>
        </form>
    </article>
    <!-- フッター -->
    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="img/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity"></img></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
	$("#checkbox1").click(
        function() {
            $(".authorized_group_setting").prop('checked',
                    $(this).prop("checked"));
        });
	$("#checkbox7").change(function() {
            $(".email_group").prop('checked', $(this).prop("checked"));
    });
	$("#checkbox16").change(function() {
            $(".release_env").prop('checked', $(this).prop("checked"));
    });

    $('.authorized_group_setting').change(function() {
        updateHeadCheckbox('authorized_group_setting_checkhead','authorized_group_setting');
    });
    $('.email_group').change(function() {
        updateHeadCheckbox('email_group_checkhead','email_group');
    });
    $('.release_env').change(function() {
        updateHeadCheckbox('release_env_checkhead','release_env');
    });
	function warnNotUseMerge(checkbox) {
		if(!checkbox.disabled) {
			if(!checkbox.checked) {
				openBandPopup({
					message		:[[#{LotEdit.confirmUnmerge.text}]],
					btn1Text	:[[#{LotEdit.yes.text}]],
					btn2Text	:[[#{LotEdit.no.text}]],
					btn1Func	:function() {},
					btn2Func	:function() {
						checkbox.checked = true;
					}
				});
			}
		}
	}
	/* ]]> */
    </script>

</body>
</html>
