<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LotResourceList.title.text}" th:fragment="titleHtml">trinity
	| Lot Resources - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
	th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
	th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
	href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
	href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
	href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
	href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
	href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
	href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
	href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
	href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-32x32.png"
	th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-194x194.png"
	th:href="@{/resources/images/favicons/favicon-194x194.png}"
	sizes="194x194" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-96x96.png"
	th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/android-chrome-192x192.png"
	th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
	sizes="192x192" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-16x16.png"
	th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
	th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
	href="../../images/trinity/favicons/safari-pinned-tab.svg"
	th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
	color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
	content="../../images/trinity/favicons/mstile-144x144.png"
	th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

	<!-- グローバルヘッダー -->
	<header th:replace="common/Global::lot"></header>
	

	<!-- コンテンツ -->
	<article class="contents fullWidth" th:fragment="innerHtml">
		<!-- Forms in here -->
		<form class="form-horizontal" id="FlowLotResourceListService"
			th:action="@{/checkout/create}" method="POST">
			<input type="hidden" name="submitMode" value="" />
			<input type="hidden" name="resourceRequestType" value="" />
			<input type="hidden" name="RequestType" value="onChange" />
			<input type="hidden" name="requestOption" value="" />
			<input type="hidden" name="path" value="" />
		</form>
		<form id="hiddenJsonForm">
	        <input type="hidden" id="hiddenJson" name="hiddenJson" th:value="${json}" />
	        <input type="hidden" id="hiddenSelectedPath" name="hiddenSelectedPath"
	            th:value="${result.resourceFolderView.selectedPath}" />
	    </form>
	    <form id="FlowLotResourceFileHistoryDetailsService"
            th:action="@{/lot/resource/detail}" method="POST">
            <input type="hidden" name="resourcePath" value="" />
        </form>
        <form id="FlowPrintLotResourceListService"
            th:action="@{/lot/resource/list/print}" method="POST">
            <input type="hidden" name="path" value="" />
        </form>
        
		<div class="contentsHeader">
			<h1>
				<span><img
					src="../../images/trinity/common/icon_lot_info.png"
					th:src="@{/resources/images/common/icon_lot_info.png}" alt="" /></span><span
					th:text="#{LotResourceList.header.text}">ロットの詳細</span>
			</h1>
			<div class="contentsHeaderHelp helpBtn">
				<a th:href="#{LotResourceList.help.url}" target="_blank"><i
					class="fa fa-question"></i></a>
			</div>
			<ul class="contentsHeaderMenu">
				<li><i class="fa fa-print"></i><a href="javascript:void(0)"
					onClick="printLotResourceList(); return false;"><span
						th:text="#{LotDetails.print.text}">印刷用ページ</span></a></li>
			</ul>
		</div>
		
		<div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
		
		<section class="section sectionRadius">
			<h2>
				<span th:text="#{LotResourceList.change.summary.section.text}">原本資産情報</span>
				<span class="helpBtn inline"><a th:href="#{LotResourceList.help.url}" target="_blank"><i class="fa fa-question"></i></a></span>
			</h2>

			<div class="col-sm-12">
				<dl class="dl-horizontal">
					<dt th:text="#{LotResourceList.change.total.size.text}">総容量</dt>
					<dd th:text="${result.lotResourceDetailsView.size}">1000GB</dd>
					<dt th:text="#{LotResourceList.change.total.folder.text}">フォルダ数</dt>
					<dd th:text="${result.lotResourceDetailsView.folders}">30</dd>
					<dt th:text="#{LotResourceList.change.total.file.text}">ファイル数</dt>
					<dd th:text="${result.lotResourceDetailsView.files}">500</dd>
				</dl>
			</div>
		</section>

		<section class="section sectionRadius">
			<h2>
				<span th:text="#{LotResourceList.tree.section.text}">原本資産一覧</span>
				<span class="helpBtn inline">
				<a th:href="#{LotResourceList.help.url}" target="_blank"><i class="fa fa-question"></i></a></span>
			</h2>
			
			<nav class="sectionNav">
				<ul class="sectionNavLeft" style="float:left;">
                    <li>
                        <a href="javascript:void(0);" class="underline" 
                        	th:onClick="'submitFormOpenAllFolder(\'' + @{/lot/resource/list} + '\', \'FlowLotResourceListService\')'" >
                        	<i class="fa fa-folder-open fa-lg" aria-hidden="true" style="padding-right:4px;"></i>
                        	<span th:text="#{LotResourceList.tree.openAll.text}">すべて開く</span></a>
                        <span style="padding-left:8px;"></span>
                        <a href="javascript:void(0);"  class="underline" 
                        	th:onClick="'submitFormCloseAllFolder(\'' + @{/lot/resource/list} + '\', \'FlowLotResourceListService\')'">
                        	<i class="fa fa-folder fa-lg" aria-hidden="true" style="padding-right:4px;"></i>
                        	<span th:text="#{LotResourceList.tree.closeAll.text}">すべて閉じる</span></a>
                    </li>
                </ul>
				<ul class="sectionNavRight">
					<li><span>
						<a href="javascript:void(0);" onClick="refreshListView()" >
							<img
							src="../../images/trinity/common/icon_folder_update.png"
							th:src="@{/resources/images/common/icon_folder_update.png}"
							height="24px" /> </a>
					</span></li>
				</ul>
			</nav>

			<form class="form-horizontal">
				<div class="fileListUnit" id="fileListUnit">
					<div class="fileListUnitLeft">
						<h3 th:text="#{LotResourceList.treeFolder.text}">フォルダ</h3>

						<div id="treeview" class="treeview"></div>
					</div>

					<div class="fileListUnitRight">
						<table id="fileViewTable" class="table table-bordered tableSorter">
							<thead>
								<tr>
									<th th:text="#{LotResourceList.treeFilename.text}">名前</th>
									<th th:text="#{LotResourceList.treeFilesize.text}">サイズ</th>
									<th th:text="#{LotResourceList.treeChkOutStatus.text}">変更状況</th>
									<th th:text="#{LotResourceList.treeChkOutUser.text}">申請者</th>
									<th th:text="#{LotResourceList.treeChkOutDate.text}">申請日</th>
								</tr>
							</thead>
							<tbody>
								<tr
                                    th:each="res : ${result.resourceFolderView.requestViews}">
                                    <td>
                                    	<span class="fileTreeIcon">
                                            <i th:if="${res.isDirectory()}"
	                                            class="fa fa-folder-o"></i>
                                            <i th:if="${res.isFile()}"
                                            	class="fa fa-file-o"></i>
                                    	</span> 
                                    	<a th:if="${res.isDirectory()}" th:text="${res.name}" href="javascript:void(0);"
	                                        th:onClick="'submitFormSelectFolder(url, formId, \'' + ${res.path} + '\'); return false;'">
                                    	</a> 
                                    	<a th:if="${res.isFile()}" th:text="${res.name}" href="javascript:void(0);"
                                    		th:onClick="'javascript:submitDetailsService(\''+${res.path}+ '\' );return false;'">
                                    	</a>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}">12500MB</span></td>
                                    <td th:if="${!res.isFile()}"></td>

                                    <td th:if="${res.isFile()}">
                                       <span th:if="${res.isLocked()}">
                                          <span th:if="${res.isCheckoutRequest()}"
                                                th:text="#{LotResourceList.treeCheckOutRequested.text}"
                                                class="label label-justify labelGreen">
                                          </span>
                                            
                                          <span th:if="${res.isCheckinRequest()}"
                                                th:text="#{LotResourceList.treeCheckOutRequested.text}"
                                                class="label label-justify labelGreen">
                                          </span>
                                            
                                          <span th:if="${res.isRemovalRequest()}"
                                                th:text="#{LotResourceList.treeRemovalRequested.text}"
                                                class="label label-justify labelRed">
                                          </span>
                                       </span>
                                       
                                       <span th:if="${!res.isLocked()}" class="label label-justify labelBlue"
                                             th:text="#{LotResourceList.treeChkOutPossible.text}">
                                       </span>
                                    </td>
                                    
                                    <td class="user">
                                    	<img
				                    		th:if="not ${#strings.isEmpty(res.submitterIconPath)}"
				                    		src="../../images/trinity/common/icon_obake.png"
				                            th:src="${res.submitterIconPath}" 
				                            alt="Tommy Robinson" class="userImg" />
                                       <span th:if="${res.isLocked()}" th:text="${res.submitterNm}"></span>
                                    </td>
                                    
                                    <td>
                                       <span th:if="${res.isLocked()}" th:text="${res.getLockedDate()}">test</span>
                                    </td>
                                </tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</section>
	</article>

	<!-- JS -->
	<script src="../../js/trinity/jquery-1.12.1.min.js"></script>
	<script src="../../js/trinity/jquery-ui.min.js"></script>
	<script src="../../js/trinity/bootstrap.min.js"></script>
	<script src="../../js/trinity/main-min.js"></script>
	<script th:inline="javascript" th:fragment="js">
   /* <![CDATA[ */
   
	var url = /*[[ @{/lot/resource/list} ]]*/ '/lot/resource/list';
    var formId = 'FlowLotResourceListService';
	$(document).ready(function () {
		makeFolderTreeView(url, formId);
		
		$("#fileViewTable").bind("sortEnd", function(sorter) {
		    var currentSort = sorter.target.config.sortList;
		    console.log(currentSort);
		});
	});
	

   	function submitDetailsService(resourcePath){
		form = document.getElementById('FlowLotResourceFileHistoryDetailsService');
		form.resourcePath.value = resourcePath;
		safeSubmit('FlowLotResourceFileHistoryDetailsService', {'validation':false});
	}

	function printLotResourceList() {
		var path = $('#hiddenSelectedPath').val();

		var form = document.getElementById('FlowPrintLotResourceListService');
		form.path.value = path;
   	   	
		submit('FlowPrintLotResourceListService');
	}

	function refreshListView() {
		var path = $('#hiddenSelectedPath').val();
		
		submitFormSelectFolder(url, formId, path);
	}

   	$(document).ready(function(){
		$('#FlowPrintLotResourceListService').submit(function() {
		    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    this.target = 'Popup_Window';
		});
	});
   /* ]]> */
</script>
</body>
</html>
