<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{CategoryEditing.title.text}">trinity
    | Lot Settings - Edit Category</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <!-- グローバルヘッダー -->
    <header th:replace="common/Global::lot"></header>

    <!-- コンテンツ -->

    <form id="FlowCategoryEditServiceBean" method="POST"
        th:action="@{/lot/settings/category/edit}"></form>

    <article class="contents">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span><span th:text="#{LotSettings.header.text}">ロット設定</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{LotSettingsCategoryEdit.help.url}"
                        target="_blank"><i
                        class="fa fa-question"></i></a>
            </div>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{LotSettings.configureSettings.text}">このロットに対する設定を行います</p>

        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/lot/settings/category}"></form>
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/lot/settings/milestone}"></form>


        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{LotSettings.projectSettings.text}">
                    <span><i class="fa fa-cog"></i></span>プロジェクト設定
                </h2>
                <ul>
                    <li><a href="#"
                        th:class="( ${selectedSubMenu} == theme )? current"><span
                            th:text="#{LotSettings.theme.text}">Theme</span></a></li>

                    <li><a href="#"
                        onClick="safeSubmit('SubMenuFlowCategoryListService');return false;"
                        th:class="( ${selectedSubMenu} == category )? current"><span
                            th:text="#{LotSettings.category.text}">カテゴリー</span></a></li>

                    <li><a href="#"
                        onClick="safeSubmit('SubMenuFlowMilestoneListService');return false;"
                        th:class="( ${selectedSubMenu} == milestone ) ? current"><span
                            th:text="#{LotSettings.milestone.text}">マイルストーン</span></a></li>
                </ul>
            </nav>


            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2>
                        <span
                            th:text="#{CategoryEditing.editCategory.text}">カテゴリーの一覧</span>
                    </h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{LotSettingsCategoryEdit.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <form id="FlowCategoryListService" method="POST"
                    th:action="@{/lot/settings/category}"></form>

                <div class="sectionErrorMessage">
                    <div th:replace="common/Messages::message">Messages</div>
                </div>

                <form class="form-horizontal"
                    id="FlowCategoryEditService"
                    th:action="@{/lot/settings/category/edit}"
                    method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="referer" value="LotSettingsCategoryEdit" />
                    <input type="hidden" name="forward"
                        value="LotSetiingsCategoryList" /> <input
                        type="hidden" name="categoryId"
                        th:value="${result.param.selectedCategoryId}" />
                    <section class="section sectionRadius">
                        <h2
                            th:text="#{CategoryEditing.editCategory.text}">カテゴリー名</h2>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{CategoryEditing.categoryName.text}">カテゴリー名</span></label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control validation"
                                    name="categorySubject"
                                    th:value="${result.param.inputInfo.subject}" />
                                <div class="formError"
                                    style="display: none;">
                                    <span
                                        th:text="#{CategoryEditing.categoryName.text}">カテゴリー名</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="forward"
                            value="CategoryEditing" />
                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <p class="sectionConfigContentsNavLead"
                                    th:text="#{CategoryEditing.groupTextFirstLine.text}">ロットで汎用的に設定するカテゴリーの名前です。</p>
                                <p class="sectionConfigContentsNav"
                                    th:text="#{CategoryEditing.groupTextSecondLine.text}">ロットごとに自由にカテゴリー分けすることができます。</p>
                                <p class="sectionConfigContentsNav"
                                    th:text="#{CategoryEditing.groupTextThirdLine.text}">例：「サブシステムA」「リサーチ」「デザイン」</p>
                            </div>
                        </div>
                    </section>
                </form>
                <div class="sectionConfigContentsSpacer"></div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="safeSubmit('FlowCategoryEditService',{'validation':true}); return false;">
                            <span
                            th:text="#{CategoryEditing.submit.text}">登録</span>
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js"></script>
</body>
</html>
