<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{MilestoneViewList.title.text}" th:fragment="titleHtml">Milestone
    VIew List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">
                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="ThemeView.html">スペース設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotInfoView.html" class="select">ロット</a></li>
                <li><a href="AsserManagementList.html">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->

    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/lot/settings/milestone}"></form>

    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{LotSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>ロット設定
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{LotSettingsMilestoneList.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{LotSettings.configureSettings.text}">このロットに対する設定を行います</p>

        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/category/list}"></form>
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/milestone/list}"></form>



        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{LotSettings.projectSettings.text}">
                    <span><i class="fa fa-cog"></i></span>プロジェクト設定
                </h2>
                <ul>
                    <li><a href="#"
                        th:class="( ${submenu} == theme )? current"><span
                            th:text="#{LotSettings.theme.text}">Theme</span></a></li>

                    <li><a href="#"
                        onClick="safeSubmit('SubMenuFlowCategoryListService');return false;"
                        th:class="( ${submenu} == category )? current"><span
                            th:text="#{LotSettings.category.text}">カテゴリー</span></a></li>

                    <li><a href="#"
                        onClick="safeSubmit('SubMenuFlowMilestoneListService');return false;"
                        th:class="( ${submenu} == milestone ) ? current"><span
                            th:text="#{LotSettings.milestone.text}">マイルストーン</span></a></li>
                </ul>
            </nav>

            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{MilestoneViewList.header.text}">
                        <span><img
                            src="http://placehold.jp/64x64.png" alt="" /></span>マイルストーンの一覧
                    </h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{LotSettingsMilestoneList.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <form id="FlowMilestoneCreationService" method="POST"
                    th:action="@{/lot/settings/milestone/create}">
                    <input type="hidden" name="referer"
                        value="LotSettingsMilestoneList" /> <input
                        type="hidden" name="forward"
                        value="LotSettingsMilestoneCreation" />
                </form>



                <div class="sectionErrorMessage">
                    <div th:replace="common/Messages::message">Messages</div>
                </div>

                <nav class="sectionNav sectionConfigContentsNav" th:if="${result.header.selectedLot.enabled}">
                    <ul class="sectionNavRight">
                        <li><a href="MilestoneCreate.html"
                            onClick="safeSubmit('FlowMilestoneCreationService', {'validation':false});return false;">
                                <span><img
                                    src="../../images/trinity/common/icon_milestone.png"
                                    th:src="@{/resources/images/common/icon_milestone.png}"
                                    alt="" /></span> <span
                                th:text="#{MilestoneViewList.milestoneCreate.text}">マイルストーン新規作成</span>
                        </a></li>
                    </ul>
                </nav>

                <form id="FlowMilestoneEditingService"
                    th:action="@{/lot/settings/milestone/edit}"
                    method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="milestoneId" value="" />
                </form>

                <form name="milestoneList" method="post"
                    id="FlowMilestoneListService">
                    <input type="hidden" name="oldSortOrder" /> <input
                        type="hidden" name="newSortOrder" /> <input
                        type="hidden" name="selectedMilestoneId" />

                    <table class="table table-bordered sortable"
                        th:fragment="milestoneList"
                        id="result_milestone">
                        <thead>
                            <tr>
                                <th class="checkboxHead" th:if="${result.header.selectedLot.enabled}"></th>
                                <th
                                    th:text="#{MilestoneViewList.milestoneSubject.text}">マイルストーン名</th>
                                <th
                                    th:text="#{MilestoneViewList.startDate.text}">開始日</th>
                                <th
                                    th:text="#{MilestoneViewList.endDate.text}">終了日</th>
                                <th
                                    th:text="#{MilestoneViewList.milestoneDetails.text}">詳細</th>
                                <th
                                    th:if="${result.header.selectedLot.enabled}"
                                    th:text="#{MilestoneViewList.milestoneDelete.text}">削除</th>
                            </tr>
                        </thead>
                        <tbody class="ui-sortable" id="sortable">
                            <tr
                                th:each="res,status  : ${result.milestoneViews}"
                                th:for="${status.index}"
                                th:id="${res.mstoneId}">
                                <th scope="row" th:if="${result.header.selectedLot.enabled}"><i
                                    class="fa fa-bars handle"></i></th>
                                <td><span th:text="${res.subject}"
                                    style="cursor: pointer"
                                    th:onClick="'javascript:submitEditingService(\'' + ${res.mstoneId} + '\');return false;'">マイルストーン名</span>
                                </td>
                                <td th:text="${res.startDate}"></td>
                                <td th:text="${res.dueDate}"></td>
                                <td th:text="${res.description}"></td>
                                <td class="btns" th:if="${result.header.selectedLot.enabled}"><a
                                    href="javascript:void(0)"
                                    class="delete"
                                    th:attr="data-value=${res.subject}"><i
                                        class="fa fa-times-circle"></i></a></td>
                            </tr>


                        </tbody>

                    </table>
                </form>
                <p class="sectionConfigContentsNavLead" th:if="${result.header.selectedLot.enabled}">
                    <span th:text="#{MilestoneViewList.dragDesc1.text}">並び順を変更するには</span>
                    <i class="fa fa-bars"></i> <span
                        th:text="#{MilestoneViewList.dragDesc2.text}">をドラッグしてください。</span>
                </p>


                <form id="FlowMilestoneRemovalService"
                    th:action="@{/lot/settings/milestone/remove}"
                    method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChange" /> <input type="hidden"
                        name="referer" value="CategoryList" /> <input
                        type="hidden" name="forward"
                        value="CategoryList" /> <input type="hidden"
                        name="mstoneId" value="" />
                </form>

            </div>
        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
/*<![CDATA[*/
var oldPosition;
function submitEditingService(milestoneId) {
	form = document.getElementById('FlowMilestoneEditingService');
	form.milestoneId.value = milestoneId;
	safeSubmit('FlowMilestoneEditingService');
}
function ajax_delete(element) {
	var url = /*[[ @{/lot/settings/milestone/remove} ]]*/'/lot/settings/milestone/remove';
	var milestoneId = $(element).attr('id');

	form = document.getElementById('FlowMilestoneRemovalService');
	form.mstoneId.value	= milestoneId;
	
        $.post(url, serializeWindowId('FlowMilestoneRemovalService')).done(
                function(data, status, xhr) {        
        	
        	$("#infoDialog").html($(data).find("#infoDialog").html());
        	getTriLayer("flashMessage").show();
            

			$("#message").html($(data).find("#message").html());  
			$("#result_milestone").html($(data).find("#result_milestone").html());
        }).fail(function(XMLHttpRequest, status, errorThrown) {
        });

}


function ajax_sort(oldPosition, newPosition, selectedMilestoneId) {
	var url = /*[[ @{/lot/settings/milestone/changesort} ]]*/'/lot/settings/milestone/changesort';
	form = document.getElementById('FlowMilestoneListService');
	form.oldSortOrder.value = oldPosition;
	form.newSortOrder.value = newPosition;
	form.selectedMilestoneId.value = selectedMilestoneId;

	 $.post(url, serializeWindowId('FlowMilestoneListService')).done(
		 function(data, status, xhr) {
			 $("#result_milestone").html(data);
			 deleteFunction();
			 sortOrderFunction();
		 }).fail(function(XMLHttpRequest, status, errorThrown) {
	 });
}

function deleteFunction(){
	$(document).on("click",".delete",function(){
		var milestoneName = $(this).attr("data-value");
		var element = $(this).parent().parent();
		
		openBandPopup({
			message		:messageReplace( [[#{MilestoneViewList.confirmRemove.text}]] , milestoneName),
			btn1Text	:[[#{MilestoneViewList.yes.text}]],
			btn2Text	:[[#{MilestoneViewList.no.text}]],
			
			btn1Func	:function(){
							ajax_delete(element);
					 	},
			btn2Func	:function(){}
		});
	});
}

function sortOrderFunction() {
	$( ".sortable tbody" ).sortable({
		start: function(event, ui) {
			oldPosition = ui.item.index() + 1;
		},
		update: function( event , ui ){
			var selectedMilestoneId = ui.item.attr('id');
			var newPosition = ui.item.index() + 1;
			ajax_sort(oldPosition, newPosition, selectedMilestoneId);
		}
	});
}


$(function() {
	deleteFunction();
	sortOrderFunction();

	getTriLayer("flashMessage").show();
    
     
});
/* ]]> */
</script>
</body>
</html>