<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{Themes.title.text}" th:fragment="titleHtml">trinity | Lot Settings -
    Themes</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<!-- meta name="theme-color" content="#ffffff" / -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
		<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
		<![endif]-->
</head>
<body>
    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{LotSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>ロット設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{LotSettings.configureSettings.text}">このロットに対する設定を行います</p>

        <section class="section sectionConfig">
            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{Themes.header.text}">テーマの設定</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a th:href="#{LotSettingsThemes.help.url}" target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>
                
                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>

                <form class="form-horizontal"
                    id="FlowLotSettingThemeColorService" method="POST"
                    th:action="@{/lot/settings/theme/}">
                    <input type="hidden" name="RequestType" id="RequestType" value="submitChanges" />
                    <input type="hidden" name="themeColor" id="themeColor" />
                    <input type="hidden" name="iconPath" 
							th:value="${result.param.inputInfo.iconOption.toString()} == 'CustomImage' ? ${result.param.inputInfo.iconFilePath} : ${result.param.inputInfo.iconPath}" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                            th:text="#{Themes.projectIcon.text}">ロットアイコン</label>

                        <div class="col-sm-2">
                            <img src="http://placehold.jp/60x60.png"
                            	th:src="${result.param.inputInfo.iconOption.toString()} == 'CustomImage' ?  ${result.param.inputInfo.iconFilePath} : ${result.param.inputInfo.iconPath} "
                                id="iconImage"
                                style="width: 60px; height: 60px;" />
                        </div>
                        <div class="col-sm-7 form-inline">
                            <ul th:if="${result.header.selectedLot.enabled}">
                                <li><input type="radio"
                                    name="iconOption"
                                    id="defaultIcon" value="DEFAULT"
                                    th:checked="${result.param.inputInfo.iconOption.toString()} == 'DefaultImage'" />
                                    <span
                                    th:text="#{Themes.defaultIcon.text}">標準の画像</span><br /> 
                                    <a href=""
                                    data-toggle="modal"
                                    data-target="#SaveIcon"
                                    class="underline"
                                    th:text="#{Themes.chooseFromDefaultIcons.text}">ロットアイコン選択画面を開く<i
                                        class="fa fa-clone"></i>
                                </a></li>
                                <br />
                                <li><input type="radio"
                                    name="iconOption" id="customIcon"
                                    value="CUSTOM"
                                    th:checked="${result.param.inputInfo.iconOption.toString()} == 'CustomImage'" />
                                    <span
                                    th:text="#{Themes.uploadOwnIcon.text}">オリジナルの画像</span>
                                    <input type="file"
                                    id="inputIconFile"
                                    accept="image/*" /></li>
                            </ul>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                            th:text="#{Themes.projectTheme.text}">ロットの色</label>

                        <div class="col-sm-3">
                            <div style="widht: 12opx; height: 40px;"
                                id="lot-theme">
                                <div class="blueGradient"
                                    style="width: 100%; height: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <a href="" class="underline"
                                th:if="${result.header.selectedLot.enabled}"
                                th:text="#{Themes.chooseAvailableThemes.text}"
                                data-toggle="modal"
                                data-target="#SaveThemeColor">ロットの色選択画面を開く
                                <i class="fa fa-clone"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sectionConfigContentsSpacer"></div>
                    <div class="row">
                        <div
                            th:if="${result.header.selectedLot.enabled}"
                            class="col-sm-offset-5 col-sm-2 text-center">
                            <a href="javascript:void(0);"
                                onClick="submitSettingThemeColor(); return false;"
                                class="btn btn-default"
                                th:text="#{Themes.submit.text}">登録</a>
                        </div>
                    </div>
                </form>
                <div class="modal fade" tabindex="-1" role="dialog"
                    id="SaveThemeColor">
                    <div class="modal-dialog searchDialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    id="close-theme"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"
                                    th:text="#{Themes.projectTheme.text}">検索フィルタ</h4>
                            </div>
                            <form
                                class="form-horizontal searchFilterForm">
                                <div class="modal-body">
                                    <div
                                        class="modal-error searchFilterNameError"
                                        style="display: none;"
                                        th:text="#{SearchThisLot.saveFilterError.text}">フィルタ名を入力してください</div>
                                    <div class="form-group">
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#e23442, #8e0c1b);"
                                            onClick="selectedThemeColor('skin-red')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#FCC883, #FF9600);"
                                            onClick="selectedThemeColor('skin-orange')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#C0A6C9, #B574CE);"
                                            onClick="selectedThemeColor('skin-purple')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#ffc0c0, #ff84a6);"
                                            onClick="selectedThemeColor('skin-pink')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#526ea0, #092c60);"
                                            onClick="selectedThemeColor('skin-darkblue')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#C6C6C6, #8E8E8E);"
                                            onClick="selectedThemeColor('skin-dark')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#84cab6, #158c6c);"
                                            onClick="selectedThemeColor('skin-green')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                        <div
                                            style="float: left; border: 1px solid; margin: 10px; background: linear-gradient(#20a4e2, #006cb9);"
                                            onClick="selectedThemeColor('')">
                                            <a href="#"><div
                                                    style="height: 40px; width: 100px;"></div></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer ">
                                    <input type="submit"
                                        class="btn btn-default btn-xs"
                                        onClick="closeModal(); return false;"
                                        th:value="#{Themes.selectColor.text}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog"
                    id="SaveIcon">
                    <div class="modal-dialog searchDialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"
                                    th:text="#{Themes.projectIcon.text}"></h4>
                            </div>
                            <form
                                class="form-horizontal searchFilterForm">
                                <div class="modal-body">
                                    <div
                                        class="modal-error searchFilterNameError"
                                        style="display: none;"
                                        th:text="#{SearchThisLot.saveFilterError.text}">フィルタ名を入力してください</div>
                                    <div class="form-group">
                                        <a href="#" th:each="res, iter : ${result.param.inputInfo.iconViews}">
                                            <div class="col-sm-2">
                                                <img th:id="${'icon-' + iter.index}"
                                                    th:onclick="'selectDefaultIcon(\'' + ${'icon-' + iter.index} + '\'); return false;'"
                                                    style="width: 80px; height: 80px; margin: 0px 0px 10px 0px;"
                                                    src="images/lot-icons/icon_Lot_Theme-01.png"
                                                    th:src="${res.value}"
                                                    alt="" />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionConfigContentsSpacer"></div>
        </section>
    </article>
    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script th:inline="javascript" th:fragment="js">
    	/*<![CDATA[*/
    	//Set theme
		var currentTheme;
		var selectedTheme;
		function selectedThemeColor(selectedColor){
			$("html").removeClass(selectedTheme);
			$("body").removeClass(selectedTheme);
			$("html").addClass(selectedColor);
			selectedTheme = selectedColor;
		}

		//Set icon path
        var iconType = /*[[${result.param.inputInfo.iconOption.name()}]]*/;
		var emptyIconPath = /*[[@{/resources/images/common/icon_empty.gif}]]*/'/trinity/resources/images/common/null-20.gif';
		var defaultIconPath = /*[[ ${not #lists.isEmpty(result.param.inputInfo.iconViews)} ?  ${result.param.inputInfo.iconViews.get(0).value}]]*/;
		var customIconPath = "";
		$(function() {
			if(iconType === 'DefaultImage') {
				defaultIconPath = $('input[name=iconPath]').val();
			} else if(iconType === 'CustomImage') {
				customIconPath = $('input[name=iconPath]').val();
			}
		});

		//Disable button to select custom icon if current icon type - default. Show popup.
        $(function() {
            if($("#defaultIcon").prop('checked')) {
           		$('#inputIconFile').prop('disabled', true);
            }

          	//Hide image if icon path is empty.
	        if(! $("#iconImage").attr("src").trim() ) {
	    		$("#iconImage").attr("src", emptyIconPath);
	        }
            
	        getTriLayer("flashMessage").show();
            
       });

       //Change user icon after select(upload) custom/default icon.
       function changeUserIcon(iconPath) {
	       $('input[name=iconPath]').val(iconPath);
	       $("#iconImage").attr("src", iconPath);
	       if( !iconPath.trim() ) {
	    	   $("#iconImage").attr("src", emptyIconPath);
	       }
       }
        
       //Enable to select custom icon after choosing radio button.
       $(function() {
        	$("#customIcon").change(function() {
       			$('#inputIconFile').prop('disabled', false);
	           	changeUserIcon(customIconPath);
           });
       });

       //Upload custom icon.
       $(function() {
           $("#inputIconFile").change(function() {
               ajax_upload();
           });          
       });
        
       $(function() {
           $("#defaultIcon").change(function() {
				$('#inputIconFile').prop('disabled', true);
				changeUserIcon(defaultIconPath);
           });
       });
        
       function selectDefaultIcon(icon) {
			defaultIconPath = $("#" + icon).attr("src");
			$("#defaultIcon").prop("checked", true);
			$('#inputIconFile').prop('disabled', true);
			changeUserIcon(defaultIconPath)
			closeModal();
		}

		function closeModal() {
			$(".modal").modal("hide");
		}
		
		$(document).ready( function(){
			currentTheme = $("html").attr("class");
			selectedTheme = currentTheme;

			$("#close-theme").on("click", function() {
				$("html").removeClass(selectedTheme);
				$("html").addClass(currentTheme);
			});
		});

        function ajax_upload() {
			var urlUpload = /*[[@{/lot/settings/theme/upload}]]*/'/trinity/lot/settings/theme/upload'; 
			
			var formData = new FormData();
			formData.append('icon', $('input[type=file]#inputIconFile')[0].files[0]);
			formData.append("WindowsId", $('#windowId').val());
			formData.append("RequestType", "onChange");
			$.ajax({
			      url: urlUpload,
			      type: "POST",
			      data:  formData,
			      contentType: false,
			      processData: false,
			      success: function(data, textStatus) {
				      customIconPath = data;
				      changeUserIcon(customIconPath);
			      },
			      fail: function(data, textStatus) {
    			      console.log("ajax_upload fail");
   			      }
	      	});
        }		
        
		function submitSettingThemeColor() {
			var form = document.getElementById("FlowLotSettingThemeColorService");
			form.themeColor.value = selectedTheme;
			currentTheme = selectedTheme;
			safeSubmit('FlowLotSettingThemeColorService');
		}
		/* ]]> */
		</script>
</body>
</html>