<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{Member.title.text}" th:fragment="titleHtml">trinity | Member</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />


<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>
    <!-- グローバルヘッダー -->
    <header th:replace="common/GlobalHeader::globalHeader"></header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div th:replace="common/ProjectHeader::projectHeader"></div>
    </header>
	
	<header id="settingsHeader"></header>
	
    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span th:text="#{Member.header.text}">メンバー</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn" style="position: relative; top: -5px;">
                <a th:href="#{Member.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
        </div>
        
        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section">
            <div class="sectionContents memberSectionContents">
                <form class="memberSearchForm form-horizontal"
                    id="FlowMemberListFilterService"
                    th:action="@{/project/member/search}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="onChange" />
                    <div class="form-group">
                        <label class="control-label col-sm-5"
                            style="text-align: right;"> <span
                            th:text="#{Member.narrowDown.text}">メンバーを絞り込む</span></label>
                        <div class="col-sm-4 memberSearchFiledWrapper">
                            <input type="text"
                                class="form-control input-sm"
                                id="searchKeyword" name="searchKeyword"
                                th:placeholder="#{Member.search.text}"
                                th:value="${result.param.searchCondition.keyword}" />
                            <a href="#" class="clearSearchFieldButton">
                                <img
                                src="../../images/trinity/common/btn_close.png"
                                th:src="@{/resources/images/common/btn_close.png}"
                                onClick='javascript:clearSearchKeywordInput()' />
                            </a>
                        </div>
                    </div>
                </form>

                <div class="row memberSearchResults" id="result_member">

                    <div
                        class="memberSearchResultItem col-md-3 col-cs-12 col-sm-4"
                        th:each="res : ${result.memberViews}">
                        <div class="memberSearchResultItemInner">
                            <div class="row memberInfo">
                                <div class="col-xs-2">
                                    <img
                                        src="http://placehold.jp/64x64.png"
                                        th:src="${res.iconPath}"
                                        class="memberAvatar" />
                                </div>
                                <div class="col-xs-10">
                                    <div class="memberName"
                                        th:text="${res.userNm}">
                                        Masaki Sugawara</div>
                                    <div class="memberUpdateTime">
                                        <span
                                            th:text="${res.lastLogInTime}"><time
                                                class="timeago"
                                                datetime="2016-03-16T09:24:17Z">March
                                                16, 2016</time></span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a href="javascript:void(0)" 
                                	th:onclick="'javascript:memberRecentUpdate(\'' + ${res.userId} + '\'); return false;'">
                                	<span th:text="#{Member.recentUpdata.text}">最近の更新</span></a>
                                | <a href="javascript:void(0)"
                                	th:onclick="'javascript:memberCalendar(\'' + ${res.userId} + '\'); return false;'">
                                	<span th:text="#{Member.calendar.text}">カレンダー</span></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

			<form id="FlowMemberRecentUpdate" th:action="@{/project/profile/details}" method="POST">
				<input type="hidden" id="RequestType" name="RequestType" value="init"/>
				<input type="hidden" id="memberId" name="memberId" value=""/>
				<input type="hidden" id="requestOption" name="requestOption" value="latestActivity"/>
				<input type="hidden" id="latestActivityRequestOption" name="latestActivityRequestOption" value=""/>
			</form>
			
			<form id="FlowMemberCalendar" th:action="@{/project/profile/details}" method="POST">
				<input type="hidden" id="RequestType" name="RequestType" value="init"/>
				<input type="hidden" id="memberId" name="memberId" value=""/>
				<input type="hidden" id="requestOption" name="requestOption" value="ganttChart"/>
			</form>
        </section>
		
    </article>

    <div class="footerPageTop">
        <a href="" th:text="#{Footer.backToTop.text}">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small><span th:text="#{Footer.copyright1.text}">trinity
                V4 Copyright&copy;</span> <i class="fa fa-copyright"></i><span
            th:text="#{Footer.copyright2.text}"> 2016- by
                Blueship. All rights reserved.</span></small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href=""><span
                        th:text="#{Footer.contact.us.text}">お問い合わせ</span></a></li>
                <!--<li><a href=""><span th:text="#{Footer.faq.text}">よくあるご質問FAQ</span></a></li>-->
                <li><a href=""><span
                        th:text="#{Footer.help.text}">ヘルプ</span></a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/globalnav.js"
        th:src="@{/resources/js/globalnav.js}"></script>
    <script src="resources/js/search.js"
        th:src="@{/resources/js/search.js}"></script>
    <script src="resources/js/profile.js"
        th:src="@{/resources/js/profile.js}"></script>
    <script src="resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
		function memberRecentUpdate(memberId) {
			form = document.getElementById('FlowMemberRecentUpdate');
			form.memberId.value = memberId;
			safeSubmit('FlowMemberRecentUpdate');
		}   
		
		function memberCalendar(memberId) {
			form = document.getElementById('FlowMemberCalendar');
			form.memberId.value = memberId;
			safeSubmit('FlowMemberCalendar');
		}   
		
	  	function ajaxSearch(key, val){
			var timeOut = null;
			var url = /*[[ @{/project/member/search} ]]*/'/project/member/search';
			form = document.getElementById('FlowMemberListFilterService');
			//debug
			console.log($('form[id="FlowMemberListFilterService"]').serialize());

			//send
			timeOut = setTimeout(function() {
				$.post(url, serializeWindowId('FlowMemberListFilterService')).done(
				function(data, status, xhr) {
					$("#result_member").html($(data).find("#result_member").html());
					$("#message").html($(data).find("#message").html());
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
				});
				
		 	}, 500);
		}
		  
		$(document).on("keypress", "input#searchKeyword", function(event) {
			return event.which !== 13;
 		});
 
		$("#searchKeyword").on('keyup change', function(event) {
			var key = "searchKeyword";
			var val = $("input#searchKeyword").val();
			ajaxSearch();
 		});

 		function clearSearchKeywordInput() {
			$('#searchKeyword').val('');
 	 	}
		  
		/*]]>*/  
        </script>
</body>
</html>
