<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{Merge.title.text}" th:fragment="titleHtml">trinity | Merge</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
                <li><a href="ChangeRequestApprovalList.html"
                    class="select">マージ</a></li>
            </ul>
        </nav>
    </header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowChangePropertyOverviewService"
            th:action="@{/chgproperty/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="pjtId" value="" />
        </form>
        <form id="FlowMergeCommitCommentService" method="POST"
            th:action="@{/merge/commit/validate}">
            <input type="hidden" name="RequestType" value="validate" />
        </form>

        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_merge.png"
                    th:src="@{/resources/images/common/icon_merge.png}"
                    alt="" />
                </span><span th:text="#{Merge.header.text}">マージの実行</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{Merge.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a>
            </div>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section sectionRadius">
            <h2 th:text="#{Merge.lotInformation.text}">ロット情報</h2>
            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt th:text="#{Merge.lotID.text}">ロット番号</dt>
                    <dd>
                        <span th:text="${result.lotDetailsView.lotId}">LOT-201512070001</span>
                        <span class="label label-large"
                            th:classappend="'amStatus'+'__${result.lotDetailsView.stsId}__'"
                            th:text="#{Constants.amStatus.__${result.lotDetailsView.stsId}__.text}">ロット進行中</span>
                    </dd>
                    <dt th:text="#{Merge.createdTime.text}">作成日時</dt>
                    <dd th:text="${result.lotDetailsView.createdTime}">2015/12/07&nbsp;11:23:45</dd>
                    <dt th:text="#{Merge.lotName.text}">ロット名</dt>
                    <dd th:text="${result.lotDetailsView.subject}">ロットA&nbsp;</dd>
                    <dt th:text="#{Merge.lotSummary.text}">ロット概要</dt>
                    <dd th:text="${result.lotDetailsView.summary}">この時傍点の頃そうした自信はあなたごろが比べるたかと大森さんを掴みでです、原因の前うというご区別ないないないて、召使の以上に金力に今までの人に事実尊ぶてならて、そうの前をもってそのためを至極参りますたとしましのないのに</dd>
                    <dt th:text="#{Merge.lotContents.text}">ロット内容</dt>
                    <dd th:text="${result.lotDetailsView.contents}">この時傍点の頃そうした自信はあなたごろが比べるたかと大森さんを掴みでです、原因の前うというご区別ないないないて、召使の以上に金力に今までの人に事実尊ぶてならて、そうの前をもってそのためを至極参りますたとしましのないのに</dd>
                    <dt th:text="#{Merge.module.text}">モジュール</dt>
                    <dd>
                        <p
                            th:each="module : ${result.lotDetailsView.modules}"
                            th:text="${module.moduleNm} + '(' + ${module.repository} + ')'"></p>
                    </dd>
                    <dt th:text="#{Merge.latestBaseline.text}">最新ベースライン</dt>
                    <dd
                        th:text="${result.lotDetailsView.latestBaselineTag}">(LOTBEGIN_150923113731)</dd>

                </dl>
            </div>

        </section>

        <section class="section sectionRadius">
            <h2 th:text="#{Merge.baselineInformation.text}">ベースライン情報</h2>
            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt th:text="#{Merge.baseline.text}">ベースライン</dt>
                    <dd>
                        <span th:text="${result.baselineView.headBlId}">LOT-201512070001</span>
                        <span class="label label-large"
                            th:classappend="'amStatus'+'__${result.baselineView.stsId}__'"
                            th:text="#{Constants.amStatus.__${result.baselineView.stsId}__.text}">ロット進行中</span>
                    </dd>
                    <dt th:text="#{Merge.conflictCheckComment.text}">コンフリクトチェックコメント</dt>
                    <dd
                        th:text="${result.baselineView.conflictCheckComment}">この時傍点の頃そうした自信はあなたごろが比べるたかと大森さんを掴みでです、原因の前うというご区別ないないないて、召使の以上に金力に今までの人に事実尊ぶてならて、そうの前をもってそのためを至極参りますたとしましのないのに</dd>
                    <dt th:text="#{Merge.conflictCheckStartTime.text}">コンフリクトチェック開始日時</dt>
                    <dd th:text="${result.baselineView.startTime}">2015/12/07&nbsp;11:23:45</dd>
                    <dt th:text="#{Merge.conflictCheckEndTime.text}">コンフリクトチェック終了日時</dt>
                    <dd th:text="${result.baselineView.endTime}">2015/12/07&nbsp;11:23:45</dd>
                    <dt th:text="#{Merge.mergeSelect.text}">マージ実行可否</dt>
                    <dd
                        th:text="${result.baselineView.mergeEnabled} ? #{Merge.mergeable.text} : #{Merge.unmergeable.text}">マージ可能です。コンフリクトありません。</dd>
                </dl>
            </div>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{Merge.chgProperty.text}">変更管理情報</span><span
                    class="helpBtn inline"><a th:href="#{Merge.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a></span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th th:text="#{Merge.changeID.text}">変更管理番号</th>
                        <th th:text="#{Merge.referenceID.text}">変更要因番号</th>
                        <th th:text="#{Merge.referenceType.text}">変更要因分類</th>
                        <th th:text="#{Merge.summary.text}">変更概要</th>
                        <th th:text="#{Merge.submitter.text}">登録者</th>
                        <th th:text="#{Merge.assignee.text}">担当者</th>
                        <th th:text="#{Merge.createdDate.text}">登録日</th>
                        <th th:text="#{Merge.updateDate.text}">更新日</th>
                        <th th:text="#{Merge.status.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="view : ${result.changePropertyViews}">
                        <td><span class="changePropertyOverview"
                            th:text="${view.pjtId}"></span> <a
                            href="javascript:void(0)"
                            th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${view.pjtId} + '\'}); return false;'">
                            	<i class="fa fa-clone"></i></a> <span
                            class="overviewPopup"></span></td>
                        <td th:text="${view.referenceId}">RFC-00001</td>
                        <td th:text="#{Constants.referenceId.__${view.referenceCategoryNm}__.text}">開発</td>
                        <td class="ellipsis" th:text="${view.summary}">つれづれなるまゝに</td>
                        <td class="user"><img
                                th:src="${view.submitterIconPath}"
                                alt="Tommy Robinson" class="userImg" /><span
                                th:text="${view.submitterNm}">Tommy
                                    Robinson</span></td>
                        <td class="user"><img
                                th:if="not ${#strings.isEmpty(view.assigneeIconPath)}"
                                th:src="${view.assigneeIconPath}"
                                alt="Tommy Robinson" class="userImg" /><span
                                th:text="${view.assigneeNm}">Tommy
                                    Robinson</span></td>
                        <td th:text="${view.createdTime}">2015/11/12</td>
                        <td th:text="${view.updTime}">2015/11/12</td>
                        <td class="labels"><span
                            class="label label-large"
                            th:text="#{Constants.amStatus.__${view.stsId}__.text}"
                            th:classappend="'amStatus'+'__${view.stsId}__'"></span>
                        </td>
                    </tr>
                    <tr th:remove="all">
                        <td><a href="ChangePropertyDetails.html">PJT-1511040001</a></td>
                        <td>RFC-00001</td>
                        <td>開発</td>
                        <td class="ellipsis">つれづれなるまゝに</td>
                        <td class="user"><a href="#"
                            data-toggle="tooltip" data-placement="top"
                            title="Tommy Robinson"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Tommy Robinson" class="userImg" />Tommy
                                Robinson</a></td>
                        <td class="user"><a href="#"><img
                                src="http://placehold.jp/64x64.png"
                                alt="Tommy Robinson" class="userImg" />Tommy
                                Robinson</a></td>
                        <td>2015/11/12</td>
                        <td>2015/11/12</td>
                        <td class="labels"><span
                            class="label labelBlue">変更進行中</span></td>
                    </tr>
                    <tr th:remove="all">
                        <td>PJT-1511040001</td>
                        <td>RFC-00001</td>
                        <td>テスト</td>
                        <td class="ellipsis">つれづれなるまゝに</td>
                        <td class="user"><a href="#"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Tommy Robinson" class="userImg" />Tommy
                                Robinson</a></td>
                        <td class="user"><a href="#"><img
                                src="http://placehold.jp/64x64.png"
                                alt="Tommy Robinson" class="userImg" />Tommy
                                Robinson</a></td>
                        <td>2015/11/12</td>
                        <td>2015/11/12</td>
                        <td class="labels"><span
                            class="label labelRed">パッケージクローズ</span></td>
                    </tr>
                </tbody>
            </table>

        </section>




        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <dl class="sectionNavRight">
                    <dd class="commentButtons">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowMergeCommitCommentService', 'mergeCommit');">
                            <span class="commentButtonWaiting"
                            id="mergeCommitCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{Merge.mergeCreation.text}">マージを実行する</span>
                            <div class="fukidashiHeader"
                                id="mergeCommitFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                    </dd>
                </dl>
            </nav>
            <div id="replace_reason"></div>
        </section>

        <style>
            .dl-horizontal dt {
			    width: 200px;
			}
			.dl-horizontal dd {
			    margin-left: 220px;
			}
        </style>

    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
        	/*<![CDATA[*/
        	$(document).on({
    			'mouseenter':function(){
    				var bpId = $(this).html();
    				var selector = this;

    				$(".overviewPopup").html("");
    				
    				sethover = setTimeout(function(){
    					changePropertyOverviewPopup(bpId,selector);
    				},300);
    			},
    			'mouseleave':function(){
    				$(".overviewPopup").html("");
    				clearTimeout(sethover);
    			}
    		},'.changePropertyOverview');

            $(function() {
            	getTriLayer("flashMessage").show();
                
            });

            function changePropertyOverviewPopup(pjtId,selector){

    	        var timeOut = null;
    	    	var url =  /*[[ @{/chgproperty/overview} ]]*/'/chgproperty/overview';

    			form = document.getElementById('FlowChangePropertyOverviewService');
    			form.pjtId.value = pjtId;

    	        timeOut = setTimeout(function() {
    	            $.post(url, serializeWindowId('FlowChangePropertyOverviewService')).done(
    					function(data, status, xhr) {  

    						$("#message").html($(data).find("#message").html());  
    						$(selector).parents("td").find(".overviewPopup").html($(data).html());
    						$(selector).parents("td").find(".popupWindow").fadeIn(300);
    						
    					}).fail(function(XMLHttpRequest, status, errorThrown) {
        					console.log("changePropertyOverviewPopup fail");
    				});
    			},200);
    		}

            /* ]]> */
        </script>
</body>
</html>