<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{BaselineList.title.text}">trinity
    | Baseline - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html"
                    class="select">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckInOutRequestList.html">資産の貸出と返却</a></li>
                <li><a href="ResourceRemovalRequestList.html">資産の削除</a></li>
                <li><a href="ChangeRequestApprovalList.html">変更資産の承認</a></li>
                <li><a href="ChangeRequestApprovalList.html"
                    class="select">マージ</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">

        <table class="table table-bordered" th:fragment="resultTable"
            style="display: none;">
            <thead>
                <tr>
                    <th th:text="#{BaselineList.lot.text}">ロット</th>
                    <th th:text="#{BaselineList.mergeNo.text}">マージ件数</th>
                    <th th:text="#{BaselineList.chgPropertyNo.text}">変更管理件数</th>
                    <th th:text="#{BaselineList.startTime.text}">開始日時</th>
                    <th th:text="#{BaselineList.endTime.text}">終了日時</th>
                    <th th:text="#{BaselineList.status.text}">ステータス</th>
                    <th th:text="#{BaselineList.conflict.text}">コンフリクト</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lot : ${result.otherLotViews}"
                    th:value="${lot.lotId}">
                    <td th:text="${lot.lotNm}"></td>
                    <td th:text="${lot.noOfMerges}"></td>
                    <td th:text="${lot.noOfChangePropertys}"></td>
                    <td th:text="${lot.startTime}"></td>
                    <td th:text="${lot.endTime}"></td>
                    <td
                        th:text="#{Constants.amStatus.__${lot.stsId}__.text}"></td>
                    <td th:text="${lot.warningOfConflict}"></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered"
            th:fragment="resultCurrentTable" style="display: none;">
            <thead>
                <tr>
                    <th th:text="#{BaselineList.lot.text}">ロット</th>
                    <th th:text="#{BaselineList.mergeNo.text}">マージ件数</th>
                    <th th:text="#{BaselineList.chgPropertyNo.text}">変更管理件数</th>
                    <th th:text="#{BaselineList.startTime.text}">開始日時</th>
                    <th th:text="#{BaselineList.endTime.text}">終了日時</th>
                    <th th:text="#{BaselineList.status.text}">ステータス</th>
                    <th th:text="#{BaselineList.conflict.text}">コンフリクト</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lot : ${result.currentLotView}">
                    <td th:text="${lot.lotNm}"></td>
                    <td th:text="${lot.noOfMerges}"></td>
                    <td th:text="${lot.noOfChangePropertys}"></td>
                    <td th:text="${lot.startTime}"></td>
                    <td th:text="${lot.endTime}"></td>
                    <td
                        th:text="#{Constants.amStatus.__${lot.stsId}__.text}"></td>
                    <td th:text="${lot.warningOfConflict}"></td>
                </tr>
            </tbody>
        </table>

        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_merge.png"
                    th:src="@{/resources/images/common/icon_merge.png}"
                    alt="" /></span><span
                    th:text="#{BaselineList.header1.text}">このロットのマージ情報</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{MergeLotList.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv', true);return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls', true);return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0);"
                    onClick="submitPrintMergeLotList();return false;"
                    th:text="#{BaselineList.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <form th:action="@{/merge/export/file}" method="post"
            id="downloadFile">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="table" /> <input type="hidden" name="submitOption" />
        </form>

        <form id="FlowPrintMergeLotList" th:action="@{/merge/list/print}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="current" value="false" />
        </form>

        <form id="FlowMergeLotList" th:action="@{/merge}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" id="current" name="current"
                value="false" /> <input type="hidden"
                name="selectedPageNo" id="selectedPageNo"
                th:value="${result.param.searchCondition.selectedPageNo}" />
        </form>

        <form id="FlowConflictCheck" th:action="@{/merge/conflictcheck}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" />
        </form>

        <form id="FlowCommit" th:action="@{/merge/commit}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" />
        </form>
        <form id="FlowCommitHistory" th:action="@{/merge/commit/history}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" />
        </form>

         <form id="FlowMergeResult" th:action="@{/merge/conflictcheck/result}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" />
        </form>

        <nav class="sectionNav sectionConfigContentsNav">
            <ul class="sectionNavLeft">
                <li>
                    <div th:replace="common/Messages::message">Messages</div>
                </li>
            </ul>
        </nav>

        <section class="section tableSection">
            <nav class="sectionNav">
                <ul class="sectionNavRight">
                    <li><a href="javascript:void(0);"
                    			onclick="safeSubmit('FlowCommitHistory', {'validation':false});return false;"><span><img
                                src="../../images/trinity/common/icon_merge_history.png"
                                th:src="@{/resources/images/common/icon_merge_history.png}"
                                alt="" /></span><span
                            th:text="#{BaselineList.mergeHistory.text}">マージ履歴を見る</span></a></li>
                </ul>
                <ul class="sectionNavRight" th:if="!${result.currentLotView.useMerge}">
                    <li><span th:text="#{BaselineList.unmergableLot.text}"></span></li>
                </ul>
                <ul class="sectionNavRight" th:if="${result.currentLotView.useMerge and result.header.selectedLot.enabled}">
                    <li><a href="javascript:void(0);"
                    			onclick="safeSubmit('FlowCommit', {'validation':false});return false;"><span><img
                                src="../../images/trinity/common/icon_merge.png"
                                th:src="@{/resources/images/common/icon_merge.png}"
                                alt="" /></span><span
                            th:text="#{BaselineList.merge.text}">マージする</span></a></li>
                </ul>
                <ul class="sectionNavRight" th:if="${result.currentLotView.useMerge and result.header.selectedLot.enabled}">
                    <li><a href="javascript:void(0);"
                        onclick="safeSubmit('FlowConflictCheck', {'validation':false});return false;"><span><img
                                src="../../images/trinity/common/icon_conflict_check2.png"
                                th:src="@{/resources/images/common/icon_conflict_check2.png}"
                                alt="" /></span><span
                            th:text="#{BaselineList.conflictCheck.text}">コンフリクトチェックする</span></a></li>
                </ul>
            </nav>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th th:text="#{BaselineList.lot.text}">ロット</th>
                        <th th:text="#{BaselineList.mergeNo.text}">マージ件数</th>
                        <th th:text="#{BaselineList.chgPropertyNo.text}">変更管理件数</th>
                        <th th:text="#{BaselineList.startTime.text}">開始日時</th>
                        <th th:text="#{BaselineList.endTime.text}">終了日時</th>
                        <th th:text="#{BaselineList.status.text}">ステータス</th>
                        <th
                            th:text="#{BaselineList.conflictCheckResult.text}">コンフリクトチェック結果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lot : ${result.currentLotView}"
                        th:value="${lot.lotId}">
                        <td th:text="${lot.lotNm}+ ' (' + ${lot.lotId} + ')'"></td>
                        <td th:text="${lot.noOfMerges}"></td>
                        <td th:text="${lot.noOfChangePropertys}"></td>
                        <td th:text="${lot.startTime}"></td>
                        <td th:text="${lot.endTime}"></td>
                        <td class="labels"><span
                            th:if="${lot.stsId}=='9101' or ${lot.stsId}=='9201'"
                            class="label label-large"
                            th:classappend="${lot.warningOfConflict} ? 'labelYellow' : 'labelBlue'"
                            th:text="#{Constants.amStatus.__${lot.stsId}__.text}"></span>
                            <span
                            th:if="${lot.stsId}=='9103' or ${lot.stsId}=='9203'"
                            class="label label-large"
                            th:classappend="'amStatus'+'__${lot.stsId}__'"
                            th:text="#{Constants.amStatus.__${lot.stsId}__.text}"></span>
                            <span
                            th:if="${lot.stsId}=='9100' or ${lot.stsId}=='9200'"
                            class="label label-large"
                            th:classappend="'amStatus'+'__${lot.stsId}__'"><img
                                th:src="${lot.warningOfConflict} ? @{/resources/images/common/icon_conflict.png} : @{/resources/images/common/icon_conflict_none.png}"
                                class="confrict-check" /><span
                                th:text="(${lot.stsId}=='9100') ? #{MergeHistory.merged.text} : ( (${lot.warningOfConflict} ? #{BaselineList.yes.text} : #{BaselineList.no.text}))"></span></span>
                        </td>
                        <td class="text-center"><span
                            th:if="${lot.stsId} == '9201' or ${lot.stsId} == '9203'">-</span>
                           <a
                            th:unless="${lot.stsId} == '9201' or ${lot.stsId} == '9203'"
                            onclick="safeSubmit('FlowMergeResult', {'validation':false});return false;"
                            href="javascript:void(0);"
                            class="btn btn-default btn-cramped"><span th:text="#{BaselineList.viewResult.text}">結果をみる</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <br /> <br /> <br /> <br />
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_merge.png"
                    th:src="@{/resources/images/common/icon_merge.png}"
                    alt="" /></span><span
                    th:text="#{BaselineList.header2.text}">他のロットのマージ情報</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{MergeLotList.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv', false);return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls', false);return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0);"
                    onClick="submitPrintMergeLotList();return false;"
                    th:text="#{BaselineList.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <section class="section tableSection">
            <nav class="sectionNav requestPage" id="requestPageTop">
                <div th:replace="common/Pagination::Top"></div>
            </nav>

            <table class="table table-bordered" id="otherLots">
                <thead>
                    <tr>
                        <th th:text="#{BaselineList.lot.text}">ロット</th>
                        <th th:text="#{BaselineList.mergeNo.text}">マージ件数</th>
                        <th th:text="#{BaselineList.chgPropertyNo.text}">変更管理件数</th>
                        <th th:text="#{BaselineList.startTime.text}">開始日時</th>
                        <th th:text="#{BaselineList.endTime.text}">終了日時</th>
                        <th th:text="#{BaselineList.status.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lot : ${result.otherLotViews}"
                        th:value="${lot.lotId}">
                        <td><span th:text="${lot.lotNm}+ ' (' + ${lot.lotId} + ')'"></span>
                            <img
                             th:if="${lot.warningOfConflict}" 
                             th:src="@{/resources/images/common/icon_conflict.png}"
                            alt="" width="16"
                            style="margin-right: 4px; position: relative; top: 2px;" /></td>
                        <td th:text="${lot.noOfMerges}"></td>
                        <td th:text="${lot.noOfChangePropertys}"></td>
                        <td th:text="${lot.startTime}"></td>
                        <td th:text="${lot.endTime}"></td>
                        <td class="labels"><span
                            th:if="${lot.stsId}=='9101' or ${lot.stsId}=='9201'"
                            class="label label-large"
                            th:classappend="${lot.warningOfConflict} ? 'labelYellow' : 'labelBlue'"
                            th:text="#{Constants.amStatus.__${lot.stsId}__.text}"></span>
                            <span
                            th:if="${lot.stsId}=='9103' or ${lot.stsId}=='9203'"
                            class="label label-large"
                            th:classappend="'amStatus'+'__${lot.stsId}__'"
                            th:text="#{Constants.amStatus.__${lot.stsId}__.text}"></span>
                            <span
                            th:if="${lot.stsId}=='9100' or ${lot.stsId}=='9200'"
                            class="label label-large"
                            th:classappend="'amStatus'+'__${lot.stsId}__'"><img
                                th:src="${lot.warningOfConflict} ? @{/resources/images/common/icon_conflict.png} : @{/resources/images/common/icon_conflict_none.png}"
                                class="confrict-check" /><span
                                th:text="(${lot.stsId}=='9100') ? #{MergeHistory.merged.text} : ((${lot.warningOfConflict} ? #{BaselineList.yes.text} : #{BaselineList.no.text}))"></span></span>
                        </td>

                    </tr>
                </tbody>
            </table>
            
            <div
                th:style="${result.otherLotViews.size()}== 0 ? 'display:block;' : 'display:none;'"
                class="emptySearchResults" id="emptyResultsMessage">
                <i class="fa fa-warning"></i> <span
                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
            </div>

            <nav class="sectionNav requestPage" id="requestPageBottom">
                <dl class="sectionNavPager">
                    <div th:replace="common/Pagination::Bottom"></div>
                </dl>
            </nav>
        </section>

    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="" th:text="#{Footer.backToTop.text}">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>

    <script th:inline="javascript" th:fragment="js">
        /*<![CDATA[*/

        $(function() {
        	getTriLayer("flashMessage").show();
            
        });

        $(document).on("click", ".pageNavi", function() {
            var val = $(this).attr("data-pagenum");
            ajaxPageSearch(val);
        });

        function ajaxPageSearch(pageNum) {
        	var resultTable = 'otherLots';
			if(pageNum) {
				getTriLayer("mask").startWaiting(resultTable);
			}

            var timeout = null;
            var url = /* [[@{/merge}]] */'/trinity/merge';
            var form = document.getElementById('FlowMergeLotList');
            form.selectedPageNo.value = pageNum;
            appendWindowId(form);
            timeout = setTimeout(function() {
                $.post(url, $(form).serialize()).done(
                	function(data, status, xhr) {
                		$("#requestPageTop #pageTop").html($(data).find("#requestPageTop #pageTop").html());
						$("#requestPageBottom #pageBottom").html($(data).find("#requestPageBottom #pageBottom").html());
						$("#message").html($(data).find("#message").html());
						$("#otherLots").html($(data).find("#otherLots").html());

						getTriLayer("mask").endWaiting(resultTable);
						
                   	}).fail(function(XMLHttpRequest, status, errorThrown) {
						console.log("ajaxPageSearch fail");
						getTriLayer("mask").endWaiting(resultTable);
                    });
            }, 500);

        }

        function exportToFile(extension, isCurrent) {

            $('input[name=current]').attr("value","false")
            if(isCurrent) {
                $('input[name=current]').attr("value","true")
            }
            var validateURL = /*[[ @{/merge/export/validate} ]]*/ '/merge/export/validate';
			var $windowId = $('#windowId').val();

		    $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                $("#message").html($(data).find("#message").html());
                if(!$("#message").html().trim()) {
                    var _url =/*[[@{/merge/export}]]*/'/merge/export';
                    var form = document.getElementById("FlowMergeLotList");
                    appendWindowId(form);
                    var _data = $(form).serialize()
                    $.ajax({
                        type: "POST",
                        url: _url,
                        data: _data,
                        global: false,
                        success: function(data) {
                            downloadFile($(data).html(), extension);
                        },
                    });
                }
            });
		}

		function downloadFile(table, extension) {
			var form = document.getElementById('downloadFile');
			if (extension == 'xls') {
				form.submitOption.value = "ExportToExcel";
			} else if (extension == 'csv') {
				form.submitOption.value = "ExportToCsv";
			}
			form.table.value = encodeURI(table);
			appendWindowId(form);
			form.submit();
			return;
		}

		$(document).ready(function(){
			$('#FlowPrintMergeLotList').submit(function() {
				var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
				this.target = 'Popup_Window';
			});
		});

		function submitPrintMergeLotList() {
			submit('FlowPrintMergeLotList');
		}

        /* ]]> */
    </script>
</body>
</html>
