<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LoginPasswordExpired.title.text}">trinity |
    Password Expiry</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body class="loginBody">

    <input type="hidden" id="contextPath" name="contextPath" th:value="@{/}" />

    <!-- ログインヘッダー -->
    <header th:replace="template/LoginHeader::LoginHeader">

    </header>
    <!-- コンテンツ -->

    <article class="contents" id="loginArticle" th:fragment="innerHtml">
        <h1>
            <span class="projectIcon"> <img
                src="../../images/trinity/common/icon_globalHeaderIcon.png"
                th:src="${result.header.projectIconPath}" alt="プロジェクト名" />
            </span> <span
                th:text="${result.header.projectName}">プロジェクト名</span>
        </h1>



        <section class="loginSection">
            <nav class="loginSectionNav">
                <a href="/logout" th:href="@{/logout}"> <i
                    class="fa fa-arrow-left"></i><span
                    th:text="#{LoginPasswordExpired.returnLogin.text}">ログイン画面にもどる</span></a>
            </nav>
            <div class="loginFormUnit">
                <form method="POST"
                    th:action="@{/login/passwordexpiry}"
                    id="FlowLogInServiceChangePassword"
                    autocomplete="off">
                    <input type="hidden" name="passwordCheck" /> <input
                        type="hidden" name="RequestType"
                        value="onChange" /> <input type="hidden"
                        name="referer" value="PasswordExpiry" /> <input
                        type="hidden" name="forward" value="DashBoard" />
                    <div class="loginFormUnitError center" th:if="!result.messages"
                        th:utext="#{LoginPasswordExpired.message.error.expirePassword}">
                        現在お使いのパスワードは有効期限が切れています。<br />
                        続行するには、新しいパスワードを設定してください。
                    </div>
				    <div class="sectionErrorMessage" th:if="result.messages">
				        <div th:replace="common/Messages::message">Messages</div>
				    </div>
                    <input class="loginForm loginFormUser" type="text"
                        th:value="${result.userId}"
                        readonly="readonly" /> <input
                        class="loginForm loginFormPassword"
                        type="password" name="currentPassword"
                        th:placeholder="#{LoginPasswordExpired.currentPassword.text}" />
                    <div class="newPassword">

                        <input
                            class="loginForm loginFormPassword newPasswordPopover"
                            type="password" name="newPassword"
                            th:placeholder="#{LoginPasswordExpired.newPassword.text}"
                            id="newPassword" />

                        <div id="refresh">
                            <div class="newPasswordIndicator"
                                th:classappend="${levelClass}">
                                <span class="bar01"></span> <span
                                    class="bar02"></span> <span
                                    class="bar03"></span>
                            </div>
                            <div class="newPasswordIndicator"
                                th:classappend="${levelClass}">
                                <span class="bar01"></span> <span
                                    class="bar02"></span> <span
                                    class="bar03"></span>
                            </div>
                        </div>

                    </div>

                    <div class="newPassword">
                        <input class="loginForm loginFormPassword"
                            type="password"
                            th:placeholder="#{LoginPasswordExpired.confirmPassword.text}"
                            name="confirmPassword" />
                    </div>
                    <div class="loginFormUnitBtn">
                        <input type="submit"
                            th:value="#{LoginPasswordExpired.btnLogin.text}"
                            id=""
                            th:onClick="'javascript:submitChanges(\'FlowLogInServiceChangePassword\');return false;'"
                            class="btn btn-default strong" />
                    </div>
                </form>
            </div>
            <div class="loginFormForgot">

                    <span class="helpBtn inline"><a th:href="#{PasswordExpiry.help.url}" target="_blank"><i
                            class="fa fa-question"></i></a></span> <span
                    th:text="#{LoginPasswordExpired.forgetPassword.text}">
                <a href="/passwordrecovery"
                   th:href="@{/login/passwordrecovery}" class="underline">パスワードを忘れた場合はこちら</a></span>

            </div>

        </section>


        <div id="popoverContents">

            <h2>
                <span
                    th:text="#{LoginPasswordExpired.passwordConditional.text}">パスワードの条件</span>
            </h2>
            <p>
                <span
                    th:text="#{LoginPasswordExpired.passwordtext.text}">パスワードに指定できる文字は、<br />
                    半角英数(a-z、A-Z、0-9)、 ダッシュ(-)、アンダースコア(_)、ピリオド(.)のみです。
                </span>
            </p>
            <h2>
                <span
                    th:text="#{LoginPasswordExpired.passwordStrength.text}">パスワードの強度</span>
            </h2>
            <div id="refreshCondition">
                <ul class="fa-ul">
                    <li id="capital" class="invalid"
                        th:class="${result.loginDetailsView.password.moreThan8characters}? 'valid'"><i
                        class="fa-li fa fa-check-circle"></i><span
                        th:text="#{LoginPasswordExpired.eightCharacters.text}">8文字以上を含む</span></li>
                    <li id="number" class="invalid"
                        th:class="${result.loginDetailsView.password.containsUppercaseAndLowercase()}? 'valid'"><i
                        class="fa-li fa fa-check-circle"></i><span
                        th:text="#{LoginPasswordExpired.capitalLetter.text}">英大文字と英小文字両方を含む</span></li>

                    <li id="length" class="invalid"
                        th:class="${result.loginDetailsView.password.containsNumerals()}? 'valid'"><i
                        class="fa-li fa fa-check-circle"></i><span
                        th:text="#{LoginPasswordExpired.oneNumber.text}">数字を含む</span></li>

                </ul>
                <div
                    th:style="${result.loginDetailsView.password.isSameCharacterLessThan3Times()}? 'display:block':'display:none;'  ">
                    <p class="popoverAlerts"
                        th:text="#{LoginPasswordExpired.sameCharacter.text}">同じ文字が多数連続して入力されています。</p>
                </div>
            </div>
        </div>

    </article>




    <!-- フッター -->
    <footer id="globalFooter" th:replace="template/Footer::Footer">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity"
                            th:src="@{/resources/images/common/logo_trinity.png}" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/globalnav.js"
        th:src="@{/resources/js/globalnav.js}"></script>
    <script src="resources/js/search.js"
        th:src="@{/resources/js/search.js}"></script>
    <script src="resources/js/profile.js"
        th:src="@{/resources/js/profile.js}"></script>
    <script src="resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script src="resources/js/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
    	/*<![CDATA[*/
    	
		$(document).ready(function() {
			$("#newPassword").on("keyup change paste", validatePassword);
			$("#newPassword").on("click", function() {
				if(!($(".popover.fade.bottom.in").is(":visible"))) {
					validatePassword();
				}
			});
			$("#newPassword").on("blur", function(){
				$(".newPasswordPopover").popover("hide");
			});
		});
		
		function validatePassword() {
			var timeOut = null;
			form = document.getElementById('FlowLogInServiceChangePassword');
			form.RequestType.value = 'onChange';
			var url = /* [[@{/login/passwordexpiry/validate}]] */'/trinity/login/passwordexpiry/validate';
			timeOut = setTimeout(function() {
				$.post(url, serializeWindowId('FlowLogInServiceChangePassword')).done(
					function(data, status, xhr) {
					  $("#refresh").html($(data).find("#refresh").html());
					  $("#refreshCondition").html($(data).find("#refreshCondition").html());
					}).fail(function(XMLHttpRequest, status, errorThrown) {
					});
				}, 500);
		}
		
		/* ]]> */
    </script>
</body>
</html>