<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{Password.title.text}">trinity | Personal
    Settings - Password</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>

    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{PersonalSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>個人設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{PersonalSettings.desc.text}">あなた自身の設定を行います</p>

        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/category/list}"></form>
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/milestone/list}"></form>


        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{PersonalSettings.leftnaviTitle.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_setting_profile}"
                        alt="" /></span>個人設定
                </h2>
                <ul>
                    <li><a href="PersonalSettingsUserProfile.html"
                        th:href="#{Common.anchor}"
                        th:class="( ${submenu} == theme )? current"><span
                            th:text="#{PersonalSettings.userProfile.text}">ユーザ情報</span></a></li>

                    <li><a href="PersonalsettingsPassword.html"
                        th:href="#{Common.anchor}"
                        onClick="safeSubmit('SubMenuFlowCategoryListService');return false;"
                        class="current"
                        th:class="( ${submenu} == category )? current"><span
                            th:text="#{PersonalSettings.password.text}">パスワード</span></a></li>

                    <li><a
                        href="PersonalSettingsLanguageTimezone.html"
                        th:href="#{Common.anchor}"
                        onClick="safeSubmit('SubMenuFlowMilestoneListService');return false;"
                        th:class="( ${submenu} == milestone ) ? current"><span
                            th:text="#{PersonalSettings.languageTimezone.text}">言語とタイムゾーン</span></a></li>
                </ul>
            </nav>


            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{Password.titleBox.text}">パスワードの変更</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{PersonalSettingsPassword.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>

                <form id="FlowMilestoneListService" method="POST"
                    th:action="@{/milestone/list}"></form>

                <form class="form-horizontal"
                    id="FlowPersonalSettingsEditService"
                    th:action="@{/personal/password}"
					method="POST"
					style="padding-right: 128px">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="referer" value="PersonalSettingsEdit" />
                    <input type="hidden" name="forward"
                        value="PersonalSettingsEdit" />

                    <p class="sectionConfigContentsNavLead"
                        th:if="${result.detailsView.password.expirationMsg != null}"
                        th:text="#{Password.passwordExpiryDesc.text(${result.detailsView.password.expirationMsg})}">
                        <font color="#ff0000">現在ご使用のパスワードの有効期限は◯◯◯◯年◯◯月◯◯日までです。</font>
                    </p>
                    <div class="form-group">

                        <div class="col-sm-4"></div>
                        <div class="col-sm-8"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{Password.userID.text}"
                            class="col-sm-5 control-label">ユーザID</label>
                        <div class="col-sm-7">
                            <p th:text="${result.userId}"
                                class="form-control-static">Tommy
                                Robinson</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-5 control-label"><span
                            class="required">*</span><span
                            th:text="#{Password.currentPassword.text}">現在のパスワード</span></label>
                        <div class="col-sm-7">
							<div class="form-group"
                                style="margin-left: 0; margin-right: 10px; padding-right: 20%">
								<div class="currentPassword">
									<input name="currentPassword"
										type="password" class="form-control validation"
										id="" th:placeholder="#{Password.currentPassword.text}" />
									<div class="formError validation"
										style="display: none; margin-left: 50px">
										<span
											th:text="#{Password.currentPassword.text}">現在のパスワード</span>
										<span
										th:text="#{Validation.isRequired.text}">is
										required.</span>
									</div>
								</div>
							</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label"><span
                            class="required">*</span><span
                            th:text="#{Password.newPassword.text}">新しいパスワード</span></label>
                        <div class="col-sm-7">
                            <div class="form-group"
                                style="margin-left: 0; margin-right: 10px; padding-right: 20%" >
                                <div class="newPassword">
                                    <input id="newPassword"
                                        name="newPassword"
                                        class="form-control newPasswordPopover validation"
                                        type="password"
                                        th:placeholder="#{Password.newPassword.text}"
                                        placeholder="新しいパスワード" />
                                    <div class="formError validation"
                               			style="display: none; margin-left: 34px">
                               			<span
                                   			th:text="#{Password.newPassword.text}">現在のパスワード</span>
                               			<span
                                   			th:text="#{Validation.isRequired.text}">is
                                   			required.</span>
                           			</div>
                                    <div id="refresh">
                                        <div
                                            class="newPasswordIndicator"
                                            th:classappend="${levelClass}"
                                            style="padding-top: 0px;">
                                            <span class="bar01"></span>
                                            <span class="bar02"></span>
                                            <span class="bar03"></span>
                                        </div>
                                        <div
                                            class="newPasswordIndicator"
                                            th:classappend="${levelClass}"
                                            style="padding-top: 0px;">
                                            <span class="bar01"></span>
                                            <span class="bar02"></span>
                                            <span class="bar03"></span>
                                        </div>
                                    </div>

                                    <div id="popoverContents">
                                        <h2
                                            th:text="#{LoginPasswordExpired.passwordConditional.text}">パスワードの条件</h2>
                                        <p
                                            th:text="#{LoginPasswordExpired.passwordtext.text}">
                                            パスワードに指定できる文字は、<br />
                                            半角英数(a-z、A-Z、0-9)、
                                            ダッシュ(-)、アンダースコア(_)、ピリオド(.)のみです。
                                        </p>
                                        
                                        
                            			
                                        <h2
                                            th:text="#{LoginPasswordExpired.passwordStrength.text}">パスワードの強度</h2>
                                        <div id="refreshCondition">
                                            <ul class="fa-ul">
                                                <li id="length"
                                                    class="invalid"
                                                    th:class="${result.detailsView.password.moreThan8characters}? 'valid' : 'invalid'"><i
                                                    class="fa-li fa fa-check-circle"></i><span
                                                    th:text="#{LoginPasswordExpired.eightCharacters.text}">文字以上を含む</span></li>
                                                <li id="capital"
                                                    class="invalid"
                                                    th:class="${result.detailsView.password.containsUppercaseAndLowercase()}? 'valid' : 'invalid'"><i
                                                    class="fa-li fa fa-check-circle"></i><span
                                                    th:text="#{LoginPasswordExpired.capitalLetter.text}">英大文字と英小文字両方を含む</span></li>
                                                <li id="number"
                                                    class="invalid"
                                                    th:class="${result.detailsView.password.containsNumerals()}? 'valid' : 'invalid'"><i
                                                    class="fa-li fa fa-check-circle"></i><span
                                                    th:text="#{LoginPasswordExpired.oneNumber.text}">数字を含む</span></li>
                                            </ul>
                                            <div
                                                th:style="${result.detailsView.password.isSameCharacterLessThan3Times()} ? 'display:block':'display:none;'  ">
                                                <p
                                                    th:text="#{LoginPasswordExpired.sameCharacter.text}"
                                                    class="popoverAlerts">同じ文字が多数連続して入力されています。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label class="col-sm-5 control-label"><span
                            class="required">*</span><span
                            th:text="#{Password.confimPassword.text}">新しいパスワード（確認）</span></label>
                        <div class="col-sm-7">
                            <div class="form-group"
                                style="margin-left: 0; margin-right: 10px; padding-right: 20%">
                                <div class="newPassword">
                                    <input name="confirmPassword"
                                        class="form-control validation"
                                        type="password"
                                        th:placeholder="#{Password.confimPassword.text}"
                                        placeholder="新しいパスワード(確認)" />
                                    <div class="formError validation"
                                		style="display: none; margin-left: 34px">
                                	<span
                                    	th:text="#{Password.confimPassword.text}">現在のパスワード</span>
                                	<span
                                    	th:text="#{Validation.isRequired.text}">is
                                    	required.</span>
                            		</div>
                                </div>
                                
                            </div>
                        </div>

                    </div>


                </form>

                <div class="sectionConfigContentsSpacer"></div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="submitChangePassword();return false;"> <span
                            th:text="#{Password.submit.text}">登録</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
		$(function() {
			getTriLayer("flashMessage").show();
			
		});

		function submitChangePassword() {
			var form = document.getElementById("FlowPersonalSettingsEditService");
			form.RequestType.value = "submitChanges";
			safeSubmit("FlowPersonalSettingsEditService",{'validation':true});
		}

		$(document).ready(function() {
			$("#newPassword").on( "keyup change paste", validatePassword);
			$("#newPassword").on("click", function() {
				if(!($(".popover.fade.bottom.in").is(":visible"))) {
					validatePassword();
				}
			});	
			$("#newPassword").on("blur", function(){
				$(".newPasswordPopover").popover("hide");
			});			
		});
		
		function validatePassword() {
			var timeOut = null;
			var form = document.getElementById('FlowPersonalSettingsEditService');
			form.RequestType.value = "onChange";
			var url = /*[[ @{/personal/password/validate} ]]*/'/personal/password/validate'
			timeOut = setTimeout(function() {
				$.post(url, serializeWindowId("FlowPersonalSettingsEditService")).done(
							function(data, status, xhr) {
								$("#refresh").html($(data).find("#refresh").html());
			             	  	$("#refreshCondition").html($(data).find("#refreshCondition").html());
							}).fail(function(XMLHttpRequest, status, errorThrown) {
								console.log("fail ajax_validate");
	       	         	    });
			}, 500);
		}

	/* ]]> */
	</script>
</body>
</html>
