<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{UserProfile.title.text}">trinity | Personal
    Settings - User Profile</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">
                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader" class="separator">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- 設定画面ヘッダー -->
    <header id="settingsHeader"></header>

    <!-- コンテンツ -->

    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>

    <article class="contents">
        <div class="contentsHeader">
            <h1 th:text="#{PersonalSettings.header.text}">
                <span><img
                    src="../../images/trinity/common/logo_trinity.png"
                    th:src="@{/resources/images/common/logo_trinity.png}"
                    alt="" /></span>個人設定
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{PersonalSettings.desc.text}">あなた自身の設定を行います</p>

        <form id="SubMenuFlowCategoryListService" method="POST"
            th:action="@{/category/list}"></form>
        <form id="SubMenuFlowMilestoneListService" method="POST"
            th:action="@{/milestone/list}"></form>


        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{LotSettings.projectSettings.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_setting_profile}"
                        alt="" /></span>個人設定
                </h2>
                <ul>
                    <li><a href="PersonalSettingsUserProfile.html"
                        th:href="#" class="current"
                        th:class="( ${submenu} == theme )? current"><span
                            th:text="#{PersonalSettings.userProfile.text}">ユーザ情報</span></a></li>

                    <li><a href="PersonalsettingsPassword.html"
                        th:href="#"
                        th:onClick="safeSubmit('SubMenuFlowCategoryListService');return false;"
                        th:class="( ${submenu} == category )? current"><span
                            th:text="#{PersonalSettings.password.text}">パスワード</span></a></li>

                    <li><a
                        href="PersonalSettingsLanguageTimezone.html"
                        th:href="#"
                        th:onClick="safeSubmit('SubMenuFlowMilestoneListService');return false;"
                        th:class="( ${submenu} == milestone ) ? current"><span
                            th:text="#{PersonalSettings.languageTimezone.text}">言語とタイムゾーン</span></a></li>
                </ul>
            </nav>


            <div class="sectionConfigContents matchHeight"
                th:fragment="innerHtml"
                id="contentPersonalSettingsUserProfile">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{UserProfile.header.text}">ユーザ情報の変更</h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{PersonalSettingsUserProfile.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>

                <form class="form-horizontal"
                    id="FlowPersonalSettingsEditService"
                    th:action="@{/personal/profile}"
                    enctype="multipart/form-data" method="POST"
                    name="personalSettingsEditService">
                    <input type="hidden" name="RequestType" value="submitChanges" />
                    <input type="hidden" name="referer" value="PersonalSettingsEdit" />
                    <input type="hidden" name="forward" value="PersonalSettingsEdit" /> 
                    <input type="hidden" name="iconPath"
                        th:value="${result.param.userInputInfo.iconOption.toString()} == 'CustomImage' ? ${result.param.userInputInfo.iconFilePath} : ${result.param.userInputInfo.iconPath}" />

                    <section class="section sectionRadius">
                        <h2 th:text="#{UserProfile.boxTitle.text}">ユーザ情報</h2>
                        <!-- <form class="form-horizontal"> -->
                        <div class="form-group">
                            <label th:text="#{UserProfile.userID.text}"
                                class="col-sm-3 control-label">ユーザID</label>
                            <div class="col-sm-9">
                                <p
                                    th:text="${result.detailsView.userId}"
                                    class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserProfile.username.text}">ユーザ名</span></label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control validation"
                                    id="" name="userNm"
                                    th:value="${result.param.userInputInfo.userNm}"
                                    maxlength="80" />
                                <div class="formError"
                                    style="display: none;">
                                    <span
                                        th:text="#{UserProfile.username.text}">ユーザ名</span>
                                    <span
                                        th:text="#{Validation.isRequired.text}">is
                                        required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                th:text="#{UserProfile.email.text}">メールアドレス</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                    id="" name="mailAddress"
                                    th:value="${result.param.userInputInfo.mailAddress}" 
                                    maxlength="128" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{UserProfile.icon.text}">アイコン</span></label>
                            <div class="col-sm-9">
                                <img
                                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                                    th:src="${result.param.userInputInfo.iconOption.toString()} == 'CustomImage' ?  ${result.param.userInputInfo.iconFilePath} : ${result.param.userInputInfo.iconPath} "
                                    alt="" height="32px" id="iconImage" />
                                <div class="radio">
                                    <label> <input
                                        type="radio" id="defaultIcon"
                                        name="iconOption"
                                        value="DEFAULT"
                                        th:checked="${result.param.userInputInfo.iconOption.toString()} == 'DefaultImage'" />
                                        <span
                                        th:text="#{UserProfile.defaultIcon.text}">標準の画像</span><br />
                                        <a href=""
                                        th:text="#{UserProfile.chooseIcon.text}"
                                        data-toggle="modal"
                                        data-target="#SaveIcon"
                                        class="underline">アイコン選択画面を開く<i
                                            class="fa fa-clone"></i>
                                    </a>
                                    </label>
                                    <br />
                                    <br />
                                    <label> <input
                                        type="radio" id="customIcon"
                                        name="iconOption" value="CUSTOM"
                                        th:checked="${result.param.userInputInfo.iconOption.toString()} == 'CustomImage'" />
                                        <span
                                        th:text="#{UserProfile.uploadOwnIcon.text}">オリジナルの画像</span>
                                        <dd>
                                            <input type="file"
                                                style="width: 100%"
                                                id="inputIconFile"
                                                accept="image/*" />
                                        </dd>
                                        <dd
                                            th:text="#{UserProfile.iconDesc.text}">オリジナル画像のサイズが32×32を超える場合は縮小されます</dd>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" tabindex="-1"
                            role="dialog" id="SaveIcon">
                            <div class="modal-dialog searchDialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title"
                                            th:text="#{UserProfile.icon.text}">検索フィルタ</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div
                                            class="modal-error searchFilterNameError"
                                            style="display: none;"
                                            th:text="#{SearchThisLot.saveFilterError.text}">フィルタ名を入力してくた?さい</div>
                                        <div class="form-group">
                                            <a href="#" th:each="res, iter : ${result.param.userInputInfo.iconViews}">
	                                            <div class="col-sm-2">
	                                                <img th:id="${'icon-' + iter.index}"
	                                                    th:onclick="'selectDefaultIcon(\'' + ${'icon-' + iter.index} + '\'); return false;'"
	                                                    style="width: 80px; height: 80px; margin: 0px 0px 10px 0px;"
	                                                    th:src="${res.value}"
	                                                    alt="" />
	                                            </div>
                                        	</a>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                    <section class="section sectionRadius">
                        <h2 th:text="#{UserProfile.biographyTitle.text}">自己紹介</h2>
                        <!-- <form class="form-horizontal"> -->
                        <div class="form-group">
                            <label th:text="#{UserProfile.gender.text}"
                                class="col-sm-3 control-label profileSex">性別</label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label class="col-sm-5"> <input
                                        type="radio" name="profileSex"
                                        value="MALE"
                                        th:checked="${result.param.userInputInfo.genderType} + '' == 'Male'" />
                                        <span
                                        th:text="#{UserProfile.male.text}">男性</span>
                                    </label> <label class="col-sm-4"> <input
                                        type="radio" name="profileSex"
                                        value="FEMALE"
                                        th:checked="${result.param.userInputInfo.genderType} + '' == 'Female'" />
                                        <span
                                        th:text="#{UserProfile.female.text}">女性</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label
                                th:text="#{UserProfile.location.text}"
                                class="col-sm-3 control-label">現在地</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                    name="location"
                                    maxlength="256"
                                    th:value="${result.param.userInputInfo.location}" />
                                <label
                                    th:text="#{UserProfile.locationDesc.text}"
                                    class="control-label">今どこにいらっしゃいますか？（例：渋谷区）</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label
                                th:text="#{UserProfile.biography.text}"
                                class="col-sm-3 control-label">自己紹介</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3"
                                    name="biography"
                                    th:text="${result.param.userInputInfo.biography}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label
                                    th:text="#{UserProfile.biographyDesc.text}"
                                    class="control-label">ロットメンバーに自己紹介しましょう</label>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">URL</label>
                            <div class="col-sm-9 urlFieldWrapper" id="url_invalid_message_location">
                                <input type="text" class="form-control urlField validation validationMessageId validationMessagePosition validationCustomPattern"
                                    name="url" maxlength="256" style="margin-bottom: 10px;"
                                    data-validationMessageId="formError_url"
                       				data-validationMessagePosition="url_invalid_message_location"
                       				data-validationCustomPattern="url"
                                    th:each="urlValue : ${result.param.userInputInfo.url}"
                                    th:value="${urlValue}" />
                                <dd>
                                    <i class="fa fa-plus-square " style="cursor:pointer"></i><span
                                        th:text="#{UserProfile.addItem.text}"
                                        class="">項目追加</span>
                                </dd>
                                <dd
                                    th:text="#{UserProfile.urlDesc.text}">ホームページやブログ、プロフィールページをお持ちの方は入力してください。</dd>
                            	<div class="formError" id="formError_url" style="display: none;">
									<span th:text="#{Profile.invalidURLMessage.text}">Please input valid URL</span>
		                        </div>
                            </div>
                        </div>
                        <!-- </form> -->
                    </section>
                    
                    <div class="sectionConfigContentsSpacer"></div>
	                <div class="row">
	                    <div class="col-sm-offset-5 col-sm-2 text-center">
	                        <button type="submit" class="btn btn-default" onclick="submitFlowPersonalSettingsEditService(); return false;" th:text="#{UserProfile.submit.text}">Submit Changes</button>
	                    </div>
	                </div>
                </form>
            </div>
        </section>
    </article>

    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
        /*<![CDATA[*/
        function submitFlowPersonalSettingsEditService(){
            var form = $("#FlowPersonalSettingsEditService").get(0);
            if (form.checkValidity() == false) return false;
            
            safeSubmit('FlowPersonalSettingsEditService', {'validation':true});
        }
                   
        //Set icon path
        var iconType = /*[[${result.param.userInputInfo.iconOption.name()}]]*/;
		var emptyIconPath = /*[[@{/resources/images/common/icon_empty.gif}]]*/'/trinity/resources/images/common/null-20.gif';
		var defaultIconPath = /*[[ ${not #lists.isEmpty(result.param.userInputInfo.iconViews)} ? ${result.param.userInputInfo.iconViews.get(0).value}]]*/;
		var customIconPath = "";
		$(function() {
			if(iconType === 'DefaultImage') {
				defaultIconPath = $('input[name=iconPath]').val();
			} else if(iconType === 'CustomImage') {
				customIconPath = $('input[name=iconPath]').val();
			}
		});
        
        var numberClicks = 0;

      	//Disable button to select custom icon if current icon type - default. Show popup.
        $(function() {
            if($("#defaultIcon").prop('checked')) {
           		$('#inputIconFile').prop('disabled', true);
            }

          	//Hide image if icon path is empty.
	        if(! $("#iconImage").attr("src").trim() ) {
	    		$("#iconImage").attr("src", emptyIconPath);
	        }
            
	        getTriLayer("flashMessage").show();
            
       });

       //Change user icon after select(upload) custom/default icon.
       function changeUserIcon(iconPath) {
	       $('input[name=iconPath]').val(iconPath);
	       $("#iconImage").attr("src", iconPath);
	       if( !iconPath.trim() ) {
	    	   $("#iconImage").attr("src", emptyIconPath);
	       }
       }
        
       //Enable to select custom icon after choosing radio button.
       $(function() {
        	$("#customIcon").change(function() {
       			$('#inputIconFile').prop('disabled', false);
	           	changeUserIcon(customIconPath);
           });
       });

       //Upload custom icon.
       $(function() {
           $("#inputIconFile").change(function() {
               ajax_upload();
           });          
       });
        
       $(function() {
           $("#defaultIcon").change(function() {
				$('#inputIconFile').prop('disabled', true);
				changeUserIcon(defaultIconPath);
           });
       });
        
       function selectDefaultIcon(icon) {
			defaultIconPath = $("#" + icon).attr("src");
			$("#defaultIcon").prop("checked", true);
			$('#inputIconFile').prop('disabled', true);
			changeUserIcon(defaultIconPath)
			closeModal();
		}
		
        function closeModal() {
			$(".modal").modal("hide");
		}

        $(document).ready(function() {
			$("i.fa.fa-plus-square").click(function() {
				var input = "<input type='text' class='form-control validation validationMessageId validationMessagePosition validationCustomPattern'" +
					 	"name='url' maxlength='256' style='margin-bottom: 10px;' " +
                    	"data-validationMessageId='formError_url'" +
        			 	"data-validationMessagePosition='url_invalid_message_location'" +
        				"data-validationCustomPattern='url' />";
				$(this).parent().before(input);
				numberClicks++;
				document.getElementById('rightMenuPersonalSettings').style.height = 
					document.getElementById('contentPersonalSettingsUserProfile').offsetHeight + 45*numberClicks + "px";
        	});
        });

        function ajax_upload() {
			var urlUpload = /*[[ @{/personal/profile/upload} ]]*/'/personal/profile/upload';
			
			var formData = new FormData();
			formData.append('icon', $('input[type=file]#inputIconFile')[0].files[0]);
			formData.append("WindowsId", $('#windowId').val());
			formData.append("RequestType", "onChange");
			$.ajax({
			      url: urlUpload,
			      type: "POST",
			      data:  formData,
			      contentType: false,
			      processData: false,
			      success: function(data, textStatus) {
				      customIconPath = data;
				      changeUserIcon(customIconPath);
			      },
			      fail: function(data, textStatus) {
    			      console.log("ajax_upload fail");
   			      }
	      	});
        }
        /* ]]> */
        </script>
</body>
</html>
