<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{Personal.LookAndFeel.title.text}" th:fragment="titleHtml"></title>
</head>
<body>
    <article class="contents">
        <section class="section sectionConfig">
            <div class="sectionConfigContents matchHeight" th:fragment="innerHtml">
                <div class="sectionConfigContentsHeader">
                    <h2 th:text="#{Personal.LookAndFeel.header.text}"></h2>
                    <div class="sectionConfigContentsHeaderHelp">
                        <span class="helpBtn inline"><a
                            th:href="#{PersonalSettingsLookAndFeel.help.url}"
                            target="_blank"><i
                                class="fa fa-question"></i></a></span>
                    </div>
                </div>

                <nav class="sectionNav sectionConfigContentsNav">
                    <ul class="sectionNavLeft">
                        <li>
                            <div th:replace="common/Messages::message">Messages</div>
                        </li>
                    </ul>
                </nav>

                <form class="form-horizontal" id="FlowPersonalSettingsEditService" th:action="@{/personal/lookandfeel}" method="POST">
                    <input type="hidden" name="RequestType" value="submitChanges" /> 
                    <input type="hidden" name="referer" value="PersonalSettingsEdit" />
                    <input type="hidden" name="forward" value="PersonalSettingsEdit" />

                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span
                            th:text="#{Personal.LookAndFeel.label.text}"></span></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control" style="width: 400px;" name="lookAndFeel">
                                    <option 
                                    	value=""
                                        th:text="#{Personal.LookAndFeel.AdminOption.text} + ' : ' + #{Admin.LookAndFeel.__${result.detailsView.lookAndFeel.defaultLookAndFeel.label}__.text}">
                                    </option>
                                    <option
                                        th:each="item : ${result.param.lookAndFeelInputInfo.lookAndFeelViews}"
                                        th:text="#{Admin.LookAndFeel.__${item.label}__.text}"
                                        th:value="${item.value}"
                                        th:selected="${item.value} == ${result.param.lookAndFeelInputInfo.lookAndFeel.value()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="sectionConfigContentsSpacer"></div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-2 text-center">
                        <a href="" class="btn btn-default"
                            onClick="safeSubmit('FlowPersonalSettingsEditService', {'validation':false});return false;">
                            <span
                            th:text="#{Personal.LookAndFeel.submit.text}">登録</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(function() {
				getTriLayer("flashMessage").show();
				
			});
		/* ]]> */
	</script>
</body>
</html>
