<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title th:fragment="titleHtml" th:text="#{ChangeReqApprovalList.title.text}">trinity | Resource Change - Approved - View Approval List</title>

        <!-- CSS -->
        <link rel="stylesheet"
              href="../../css/trinity/bootstrap.min.css"
              th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/font-awesome.min.css"
              th:href="@{/resources/css/font-awesome.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/jquery-ui.css"
              th:href="@{/resources/css/jquery-ui.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/trinity.css"
              th:href="@{/resources/css/trinity.css}" />

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/trinity/favicons/apple-touch-icon-57x57.png" th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/trinity/favicons/apple-touch-icon-60x60.png" th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/trinity/favicons/apple-touch-icon-72x72.png" th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/trinity/favicons/apple-touch-icon-76x76.png" th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/trinity/favicons/apple-touch-icon-114x114.png" th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/trinity/favicons/apple-touch-icon-120x120.png" th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/trinity/favicons/apple-touch-icon-144x144.png" th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/trinity/favicons/apple-touch-icon-152x152.png" th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/trinity/favicons/apple-touch-icon-180x180.png" th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-32x32.png" th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-194x194.png" th:href="@{/resources/images/favicons/favicon-194x194.png}" sizes="194x194" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-96x96.png" th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/android-chrome-192x192.png" th:href="@{/resources/images/favicons/android-chrome-192x192.png}" sizes="192x192" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-16x16.png" th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
        <link rel="manifest" href="../../images/trinity/favicons/manifest.json" th:href="@{../../images/trinity/favicons/manifest.json}" />
        <link rel="mask-icon" href="../../images/trinity/favicons/safari-pinned-tab.svg" th:href="@{/resources/images/favicons/safari-pinned-tab.svg}" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-TileImage" content="../../images/trinity/favicons/mstile-144x144.png" th:content="@{/resources/images/favicons/mstile-144x144.png}" />
        <meta name="theme-color" content="#ffffff" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
    </head>
    <body>

     <!-- コンテンツ -->
        <article class="contents" th:fragment="innerHtml">
            <div class="contentsHeader">
                <h1>
                	<span th:text="#{ChangeReqApprovalList.approvedHeader.text}">変更承認の承認済み一覧</span>
                </h1>
            </div>
            
            <section class="section tableSection">
	            <table class="table table-bordered no-margin-top">
	                <thead>
	                    <tr>
	                        <th>No</th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.changeID.text}">変更管理番号</span></th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.referenceID.text}">変更要因番号</span></th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.requestType.text}">申請区分</span></th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.requestID.text}">申請情報番号</span></th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.submitter.text}">申請者</span></th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.assignee.text}">担当者</span></th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.submittedDate.text}">申請日</span></th>
	                        <th><span
	                			th:text="#{ChangeReqApprovalList.approvedDate.text}">承認日</span></th>
	                    </tr> 
	                </thead>
	                
	                <tbody
	                	th:each="res : ${result.changePropertyViews}"
	                	th:id="${res.pjtId}"
	                	class="multirows changePropertyView">
	                	<tr
	                    	th:each="areq,rowStat : ${res.areqViews}"
	                    	th:id="${areq.areqId}">
	                    	<td scope="row"
                            	th:rowspan="${#lists.size(res.areqViews)}"
                            	th:if="${rowStat.index == 0}"><span
                            	th:text="${result.changePropertyViews.indexOf(res)+1}"></span>
                        	</td>
	                    	<td scope="row"
	                        	th:rowspan="${#lists.size(res.areqViews)}"
	                        	th:if="${rowStat.index == 0}">
	                        	<a href="javascript:void(0)"
	                        	th:text="${res.pjtId}"
	                        	th:onClick="'javascript:submitApprovedDetailsService(\'' + ${res.pjtId} + '\');return false;'"></a>
	                    	</td>
	                    	<td
	                        	th:rowspan="${#lists.size(res.areqViews)}"
	                        	th:if="${rowStat.index == 0}">
	                        	<span th:text="${res.referenceId}"></span>
	                    	</td>
	                    	<td><span
	                    		class="label"
	                    		th:classappend="'kindLabel'+${areq.areqType}"
	                        	th:text="#{Constant.requestType.__${areq.areqType}__.text}"></span></td>
	                    	<td><span th:text="${areq.areqId}"
	                        	class="checkinoutOverview"></span><span
	                        	class="overviewPopup"></span></td>
	                    	<td class="user"><img
	                        	th:src="${areq.submitterIconPath}"
	                        	alt="Jim Cruz" class="userImg" /> <span
	                        	th:text="${areq.submitterNm}"></span>
	                    	</td>
	                    	<td class="user"><img
		                        th:if="not ${#strings.isEmpty(areq.assigneeIconPath)}"
		                        th:src="${areq.assigneeIconPath}"
		                        alt="Jim Cruz" class="userImg" /> <span
		                        th:text="${areq.assigneeNm}"></span>
		                    </td>
	                    	<td><span
	                        	th:text="${areq.requestDate}"></span></td>
	                        <td><span
	                        	th:text="${areq.approvedDate}"></span></td>
	                	</tr>
	            	</tbody>
	            </table>
            </section>
        </article>

        <!-- JS -->
        <script src="../../js/trinity/jquery-1.12.1.min.js"
                th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
        <script src="../../js/trinity/jquery-ui.min.js"
                th:src="@{/resources/js/jquery-ui.min.js}"></script>
        <script src="../../js/trinity/bootstrap.min.js"
                th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../js/trinity/main-min.js"
                th:src="@{/resources/js/main-min.js}"></script>
        <script src="../../js/trinity/trinity.common.js"
                th:src="@{/resources/js/trinity.common.js}"></script>
        <script th:inline="javascript" th:fragment="js">
			/*<![CDATA[*/
				$(document).ready(function(){
					window.print();
				});
			/* ]]> */
		</script>
    </body>
</html>