<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LotDetails.title.text}" th:fragment="titleHtml">trinity | Lot - View
    Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap.min.deploy.print.css"
    th:href="@{/resources/css/print.css}" media="print" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{ChangePropertyDetails.header.text}">変更管理情報の詳細</h1>
        </div>

        <section class="section sectionRadius">
            <h2 th:text="#{ChangePropertyDetails.titleBox.text}">基本情報</h2>

            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt th:text="#{ChangePropertyDetails.changeID.text}">変更管理番号</dt>
                    <dd>
                        <span
                            th:text="${result.changePropertyDetailsView.pjtId}">PJT-1604150003</span>&nbsp;
                        <span class="label label-auto"
                            th:classappend="'amStatus'+${result.changePropertyDetailsView.stsId}"
                            th:text="#{Constants.amStatus.__${result.changePropertyDetailsView.stsId}__.text}">変更進行中</span>
                    </dd>
                    <dt
                        th:text="#{ChangePropertyDetails.referenceID.text}">変更要因番号</dt>
                    <dd>
                        <span
                            th:text="${result.changePropertyDetailsView.referenceId}">PJT-1511020001</span>
                    </dd>
                    <dt
                        th:text="#{ChangePropertyDetails.referenceCategory.text}">変更要因分類</dt>
                    <dd
                        th:text="#{Constants.referenceId.__${result.changePropertyDetailsView.referenceCategoryId}__.text}">開発</dd>
                    <dt th:text="#{ChangePropertyDetails.summary.text}">変更概要</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.summary}">この時傍点の頃そうした自信はあなたごろが比べるたかと大森さんを掴みでです、原因の前うというご区別ないないないて、召使の以上に金力に今までの人に事実尊ぶてならて、そうの前をもってそのためを至極参りますたとしましのないのに</dd>
                    <dt th:text="#{ChangePropertyDetails.contents.text}">変更内容</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.contents}">この時傍点の頃そうした自信はあなたごろが比べるたかと大森さんを掴みでです、原因の前うというご区別ないないないて、召使の以上に金力に今までの人に事実尊ぶてならて、そうの前をもってそのためを至極参りますたとしましのないのに</dd>
                    <dt class="userLabel"
                        th:text="#{ChangePropertyDetails.submitter.text}">申請者</dt>
                    <dd class="user">
                        <img
                            th:src="${result.changePropertyDetailsView.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${result.changePropertyDetailsView.submitterNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt class="userLabel" th:text="#{ChangePropertyDetails.assignee.text}">担当者</dt>
                    <dd class="user">
                        <img
                            th:if="not ${#strings.isEmpty(result.changePropertyDetailsView.assigneeIconPath)}"
                            th:src="${result.changePropertyDetailsView.assigneeIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${result.changePropertyDetailsView.assigneeNm}">Tommy
                            Robinson</span>
                    </dd>
                    <dt th:text="#{ChangePropertyDetails.category.text}">カテゴリー</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.categoryNm}">Tommy
                        Robinson</dd>
                    <dt
                        th:text="#{ChangePropertyDetails.milestone.text}">マイルストーン</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.mstoneNm}">Tommy
                        Robinson</dd>
                    <dt th:text="#{ChangePropertyDetails.created.text}">登録日</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.createdTime}">yyyy/mm/dd/hh/mm/ss</dd>
                    <dt th:text="#{ChangePropertyDetails.updated.text}">変更日</dt>
                    <dd
                        th:text="${result.changePropertyDetailsView.updTime}">yyyy/mm/dd/hh/mm/ss</dd>
                </dl>
            </div>
        </section>
    </article>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
		$(document).ready(function(){
			window.print();
		});
	/* ]]> */
	</script>
</body>
</html>