<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LotDetails.title.text}" th:fragment="titleHtml">trinity | Lot - View
    Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap.min.deploy.print.css"
    th:href="@{/resources/css/print.css}" media="print" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{ConflictCheckResult.header.text}">コンフリクトチェックの結果</h1>
        </div>

        <section class="section tableSection">
            <h2>
                <span
                    th:text="#{ConflictCheckResult.checkResource.text}">チェック資産情報</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th
                            th:text="#{ConflictCheckResult.resourceName.text}">資産名</th>
                        <th
                            th:text="#{ConflictCheckResult.chgProperty.text}">変更管理情報</th>
                        <th
                            th:text="#{ConflictCheckResult.referenceID.text}">変更要因番号</th>
                        <th
                            th:text="#{ConflictCheckResult.moduleName.text}">モジュール名</th>
                        <th th:text="#{ConflictCheckResult.status.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        th:each="conflictView : ${result.conflictCheckResultViews}">
                        <td><span
                            th:text="${result.conflictCheckResultViews.indexOf(conflictView)+1}"></span>
                        </td>
                        <td><img
                            th:src="${conflictView.isWarningOfConflict()} ? @{/resources/images/common/icon_conflict.png} : @{/resources/images/common/icon_conflict_none.png}"
                            alt="" width="16"
                            style="margin-right: 4px; position: relative; top: 2px;" />
                            <span th:text="${conflictView.resourcePath}"></span>
                        </td>
                        <td><span class="changePropertyOverview"
                            th:each="changePropertie : ${conflictView.changeProperties}"
                            th:text="${changePropertie.pjtId}"></span> <span
                            class="overviewPopup"></span></td>
                        <td><p
                                th:each="changePropertie : ${conflictView.changeProperties}"
                                th:text="${changePropertie.referenceId}"></p></td>
                        <td th:text="${conflictView.moduleNm}"></td>
                        <td class="labels"
                            th:switch="${conflictView.mergeStatus.toString()}">
                            <span th:case="'Added'"
                            class="label label-medium labelAdded"
                            th:text="#{ConflictCheckResult.statusNew.text}"></span>
                            <span th:case="'Modified'"
                            class="label label-medium labelChanged"
                            th:text="#{ConflictCheckResult.statusChange.text}"></span>
                            <span th:case="'Deleted'"
                            class="label label-medium labelDeleted"
                            th:text="#{ConflictCheckResult.statusRemove.text}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
</body>
</html>
