<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LotResourceList.title.text}" th:fragment="titleHtml">trinity
	| Lot Resources - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
	th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
	th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
	href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
	href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
	href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
	href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
	href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
	href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
	href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
	href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
	th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-32x32.png"
	th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-194x194.png"
	th:href="@{/resources/images/favicons/favicon-194x194.png}"
	sizes="194x194" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-96x96.png"
	th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/android-chrome-192x192.png"
	th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
	sizes="192x192" />
<link rel="icon" type="image/png"
	href="../../images/trinity/favicons/favicon-16x16.png"
	th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
	th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
	href="../../images/trinity/favicons/safari-pinned-tab.svg"
	th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
	color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
	content="../../images/trinity/favicons/mstile-144x144.png"
	th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

	<!-- グローバルヘッダー -->
	<header th:replace="common/Global::lot"></header>
	

	<!-- コンテンツ -->
	<article class="contents" th:fragment="innerHtml">
		<div class="contentsHeader">
			<h1>
				<span th:text="#{LotResourceList.header.text}">ロットの詳細</span>
			</h1>
		</div>
		<section class="section sectionRadius">
			<h2>
				<span th:text="#{LotResourceList.change.summary.section.text}">原本資産情報</span>
			</h2>

			<div class="col-sm-12">
				<dl class="dl-horizontal">
					<dt th:text="#{LotResourceList.change.total.size.text}">総容量</dt>
					<dd th:text="${result.lotResourceDetailsView.size}">1000GB</dd>
					<dt th:text="#{LotResourceList.change.total.folder.text}">フォルダ数</dt>
					<dd th:text="${result.lotResourceDetailsView.folders}">30</dd>
					<dt th:text="#{LotResourceList.change.total.file.text}">ファイル数</dt>
					<dd th:text="${result.lotResourceDetailsView.files}">500</dd>
				</dl>
			</div>
		</section>

		<section class="section sectionRadius">
			<h2>
				<span th:text="#{LotResourceList.tree.section.text}">原本資産一覧</span>
			</h2>
			
			<table id="fileViewTable" class="table table-bordered">
				<thead>
					<tr>
						<th th:text="#{LotResourceList.treeFilename.text}">名前</th>
						<th th:text="#{LotResourceList.treeFilesize.text}">サイズ</th>
						<th th:text="#{LotResourceList.treeChkOutStatus.text}">変更状況</th>
						<th th:text="#{LotResourceList.treeChkOutUser.text}">申請者</th>
						<th th:text="#{LotResourceList.treeChkOutDate.text}">申請日</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="res : ${result.resourceFolderView.requestViews}">
	                    <td>
	                    	<span class="fileTreeIcon">
	                            <i th:if="${res.isDirectory()}"
	                             class="fa fa-folder-o"></i>
	                            <i th:if="${res.isFile()}"
	                            	class="fa fa-file-o"></i>
	                    	</span>
	                    	<span th:text="${res.path}"></span>
	                    </td>
	                    <td class="text-right"><span
	                        th:text="${res.size}">12500MB</span></td>
	                    <td th:if="${!res.isFile()}"></td>
	
	                    <td th:if="${res.isFile()}">
	                       <span th:if="${res.isLocked()}">
	                          <span th:if="${res.isCheckoutRequest()}"
	                                th:text="#{LotResourceList.treeCheckOutRequested.text}"
	                                class="label label-justify labelGreen">
	                          </span>
	                            
	                          <span th:if="${res.isCheckinRequest()}"
	                                th:text="#{LotResourceList.treeCheckOutRequested.text}"
	                                class="label label-justify labelGreen">
	                          </span>
	                            
	                          <span th:if="${res.isRemovalRequest()}"
	                                th:text="#{LotResourceList.treeRemovalRequested.text}"
	                                class="label label-justify labelRed">
	                          </span>
	                       </span>
	                       
	                       <span th:if="${!res.isLocked()}" class="label label-justify labelBlue"
	                             th:text="#{LotResourceList.treeChkOutPossible.text}">
	                       </span>
	                    </td>
	                    
	                    <td>
	                       <span th:if="${res.isLocked()}" th:text="${res.submitterNm}"></span>
	                    </td>
	                    
	                    <td>
	                       <span th:if="${res.isLocked()}" th:text="${res.getLockedDate()}"></span>
	                    </td>
	                </tr>
				</tbody>
			</table>
		</section>
	</article>

	<!-- JS -->
	<script src="../../js/trinity/jquery-1.12.1.min.js"></script>
	<script src="../../js/trinity/jquery-ui.min.js"></script>
	<script src="../../js/trinity/bootstrap.min.js"></script>
	<script src="../../js/trinity/main-min.js"></script>
	<script th:inline="javascript" th:fragment="js">
   /* <![CDATA[ */
   		$(document).ready(function(){
			window.print();
		});
		
   /* ]]> */
</script>
</body>
</html>
