<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{DeploymentLatest.title.text}" th:fragment="titleHtml"></title>
</head>
<body>
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span th:text="#{DeploymentLatest.header.text}">最新のリリース連携</span>
            </h1>
        </div>
        
        <section class="section sectionLatestUpdates"
            th:each="res : ${result.jobViews}">
            <div class="rows">
                <div class="col-sm-12">
                    <div class="sectionLatestUpdatesHeader">
                        <span> <span
                            th:text="#{DeploymentLatest.envName.text}">環境名</span>：<span
                            th:text="${res.environmentNm}">本番</span></span>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">

                        <dt>
                            <span
                                th:text="#{DeploymentLatest.deployID.text}">リリース連携番号</span>
                        </dt>
                        <dd>
                            <span th:text="${res.deploymentId}">SEN-1511110001</span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.releasePackage.text}">連携先管理世代</span>
                        </dt>
                        <dd>
                            <span th:text="${res.rpId}">REL-1511100001</span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.version.text}">連携先管理世代</span>
                        </dt>
                        <dd>
                           	<span th:text="${res.mgtVer}">1511100001</span>
                        </dd>
                        
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.assignee.text}">担当者</span>
                        </dt>
                        <dd class="user">
                            <span
                                th:text="${res.createdBy}">Casey
                                Singleton</span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.reqStatus.text}">依頼ステータス</span>
                        </dt>
                        <dd>
                            <span class="label labelGreen"><span
                                th:text="#{Constants.dmStatus.__${res.stsId}__.text}">タイマー設定済み</span></span>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.createdDate.text}">連携先資源登録日時</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${res.deploymentRegistedTime}">15/11/16
                                10:00</span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.applyDate.text}">適用日時</span>
                        </dt>
                        <dd>
                            <span th:text="${res.deploymentAppliedTime}"></span>
                        </dd>
                        <dt>
                            <span
                                th:text="#{DeploymentLatest.deploymentStatus.text}">連携先ステータス</span>
                        </dt>
                        <dd>
                            <span th:text="${res.deploymentStatus}"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </section>
    </article>
    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
</body>
</html>