<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title th:text="#{LotResourceFileHistoryDetails.title.text}" th:fragment="titleHtml">trinity | Lot　Resources - View Details</title>

        <!-- CSS -->
        <link rel="stylesheet"
              href="../../css/trinity/bootstrap.min.css"
              th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/font-awesome.min.css"
              th:href="@{/resources/css/font-awesome.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/trinity.css"
              th:href="@{/resources/css/trinity.css}" />

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/trinity/favicons/apple-touch-icon-57x57.png" th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/trinity/favicons/apple-touch-icon-60x60.png" th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/trinity/favicons/apple-touch-icon-72x72.png" th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/trinity/favicons/apple-touch-icon-76x76.png" th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/trinity/favicons/apple-touch-icon-114x114.png" th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/trinity/favicons/apple-touch-icon-120x120.png" th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/trinity/favicons/apple-touch-icon-144x144.png" th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/trinity/favicons/apple-touch-icon-152x152.png" th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/trinity/favicons/apple-touch-icon-180x180.png" th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-32x32.png" th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-194x194.png" th:href="@{/resources/images/favicons/favicon-194x194.png}" sizes="194x194" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-96x96.png" th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/android-chrome-192x192.png" th:href="@{/resources/images/favicons/android-chrome-192x192.png}" sizes="192x192" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-16x16.png" th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
        <link rel="manifest" href="../../images/trinity/favicons/manifest.json" th:href="@{../../images/trinity/favicons/manifest.json}" />
        <link rel="mask-icon" href="../../images/trinity/favicons/safari-pinned-tab.svg" th:href="@{/resources/images/favicons/safari-pinned-tab.svg}" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-TileImage" content="../../images/trinity/favicons/mstile-144x144.png" th:content="@{/resources/images/favicons/mstile-144x144.png}" />
        <meta name="theme-color" content="#ffffff" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
		<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
		<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
		<![endif]-->
    </head>
    <body>

        <!-- グローバルヘッダー -->

        <article class="contents" th:fragment="innerHtml">
            <div class="contentsHeader">
                <h1>
                    <span th:text="#{LotResourceFileHistoryDetails.header.text}">原本資産情報の詳細</span>
                </h1>
            </div>

            <section class="section sectionRadius">
                <h2>
                	<span th:text="#{LotResourceFileHistoryDetails.fileInfo.section.text}">ファイル情報</span>
                </h2>

                <dl class="dl-horizontal">
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.fileName.text}">ファイル名</dt>
                    <dd th:text="${result.detailsView.name}">org.eclipse.core.resources.prefs</dd>
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.extension.text}">拡張子</dt>
                    <dd th:text="${result.detailsView.extension}">txt</dd>
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.fileSize.text}">サイズ</dt>
                    <dd th:text="${result.detailsView.size}">123KB</dd>
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.createdDate.text}">作成日時</dt>
                    <dd th:text="${result.detailsView.createdTime}">2015/5/10 12:00</dd>
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.lastModify.text}">最終更新日時</dt>
                    <dd th:text="${result.detailsView.latestUpdTime}">2016/12/10 15:30</dd>
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.changeStatus.text}">変更状況</dt>
                    <dd>
                        <span th:if="${result.detailsView.isLocked()}">
	                        <span th:if="${result.detailsView.isCheckoutRequest()}"
	                              th:text="#{LotResourceFileHistoryDetails.fileInfo.treeCheckOutRequested.text}"
	                              class="label labelGreen">
	                        </span>
	                          
	                        <span th:if="${result.detailsView.isCheckinRequest()}"
	                              th:text="#{LotResourceFileHistoryDetails.fileInfo.treeCheckOutRequested.text}"
	                              class="label labelGreen">
	                        </span>
	                          
	                        <span th:if="${result.detailsView.isRemovalRequest()}"
	                              th:text="#{LotResourceFileHistoryDetails.fileInfo.treeRemovalRequested.text}"
	                              class="label labelRed">
	                        </span>
	                     </span>
                     
	                     <span th:if="${!result.detailsView.isLocked()}" class="label labelBlue"
	                           th:text="#{LotResourceFileHistoryDetails.fileInfo.treeChkOutPossible.text}">
	                     </span>
                    </dd>
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.submitter.text}">申請者</dt>
                    <dd class="user">
                    	<img
                    		th:if="not ${#strings.isEmpty(result.detailsView.submitterIconPath)}"
                    		src="../../images/trinity/common/icon_obake.png"
                            th:src="${result.detailsView.submitterIconPath}" 
                            alt="Tommy Robinson" class="userImg" />
                         <span th:text="${result.detailsView.submitterNm}">Tommy Robinson</span>
                    </dd>
                    <dt th:text="#{LotResourceFileHistoryDetails.fileInfo.lockedDate.text}">申請日</dt>
                    <dd th:text="${result.detailsView.lockedDate}">2016/12/20</dd>
                </dl>
            </section>
            
            <section class="section sectionRadius">
                <h2>
                	<span th:text="#{LotResourceFileHistoryDetails.changeHistory.section.text}">変更履歴情報</span>
                </h2>
                
                <table class="table table-bordered">
	                <thead>
	                    <tr> 
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableChangeID.text}">変更管理番号</th>
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableSubject.text}">変更要因番号</th>
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableRequestType.text}">申請区分</th>
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableRequestID.text}">申請情報番号</th>
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableSubmitter.text}">申請者</th>
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableAssignee.text}">担当者</th>
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableCheckoutDate.text}">申請日</th>
	                        <th th:text="#{LotResourceFileHistoryDetails.changeHistory.tableApprovalDate.text}">承認日</th>
	                    </tr> 
	                </thead>
                    <tbody>
	                    <tr th:each="areq,rowStat : ${result.areqViews}">
	                        <td>
	                            <span th:text="${areq.pjtId}"></span>
                            </td>
	                        <td th:text="${areq.referenceId}"></td>
	                        <td class="labels"><span
                                  class="label"
                                  th:classappend="'kindLabel'+${areq.areqType}"
                                      th:text="#{Constant.requestType.__${areq.areqType}__.text}"></span></td>
	                        <td th:text="${areq.areqId}"></td>
	                        <td class="user">
	                        	<img
                                      	th:src="${areq.submitterIconPath}"
                                      	alt="Jim Cruz" class="userImg" />
                                      <span th:text="${areq.submitterNm}"></span>
                                  </td>
                                  <td class="user"><img
                                      th:if="not ${#strings.isEmpty(areq.assigneeIconPath)}"
                                      th:src="${areq.assigneeIconPath}"
                                      alt="Jim Cruz" class="userImg" />
                                      <span
                                      th:text="${areq.assigneeNm}"></span>
                                  </td>
	                        <td th:text="${areq.requestDate}"></td>
							<td th:text="${areq.approvedDate}"></td>
	                    </tr>
	                </tbody>
            	</table>
            </section>
        </article>

        <!-- JS -->
        <script src="../../js/trinity/jquery-1.12.1.min.js"
                th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
        <script src="../../js/trinity/jquery-ui.min.js"
                th:src="@{/resources/js/jquery-ui.min.js}"></script>
        <script src="../../js/trinity/bootstrap.min.js"
                th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../js/trinity/main-min.js"
                th:src="@{/resources/js/main-min.js}"></script>
        <script src="../../js/trinity/trinity.common.js"
                th:src="@{/resources/js/trinity.common.js}"></script>
        <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
    </body>
</html>
