<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{BaselineList.title.text}" th:fragment="titleHtml">trinity
    | Baseline - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{BaselineList.header1.text}">このロットのマージ情報</h1>
        </div>

        <section class="section tableSection">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th th:text="#{BaselineList.lot.text}">ロット</th>
                        <th th:text="#{BaselineList.mergeNo.text}">マージ件数</th>
                        <th th:text="#{BaselineList.chgPropertyNo.text}">変更管理件数</th>
                        <th th:text="#{BaselineList.startTime.text}">開始日時</th>
                        <th th:text="#{BaselineList.endTime.text}">終了日時</th>
                        <th th:text="#{BaselineList.status.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${result.currentLotView.lotNm}">LOT-1511040001</td>
                        <td
                            th:text="${result.currentLotView.noOfMerges}">10件</td>
                        <td
                            th:text="${result.currentLotView.noOfChangePropertys}">30件</td>
                        <td th:text="${result.currentLotView.startTime}">2016/03/25
                            13:00</td>
                        <td th:text="${result.currentLotView.endTime}">2016/03/25
                            13:00</td>
                        <td
                            th:text="#{Constants.amStatus.__${result.currentLotView.stsId}__.text}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <br></br> <br></br> <br></br> <br></br>
        <div class="contentsHeader">
            <h1 th:text="#{BaselineList.header2.text}">他のロットのマージ情報</h1>
        </div>
        <section class="section tableSection">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th th:text="#{BaselineList.lot.text}">ロット</th>
                        <th th:text="#{BaselineList.mergeNo.text}">マージ件数</th>
                        <th th:text="#{BaselineList.chgPropertyNo.text}">変更管理件数</th>
                        <th th:text="#{BaselineList.startTime.text}">開始日時</th>
                        <th th:text="#{BaselineList.endTime.text}">終了日時</th>
                        <th th:text="#{BaselineList.status.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lot, start : ${result.otherLotViews}"
                        th:value="${lot.lotId}">
                        <td th:text="${start.count}">1</td>
                        <td th:text="${lot.lotNm}">LOT-1511040001</td>
                        <td th:text="${lot.noOfMerges}">10件</td>
                        <td th:text="${lot.noOfChangePropertys}">30件</td>
                        <td th:text="${lot.startTime}">2016/03/25
                            13:00</td>
                        <td th:text="${lot.endTime}">2016/03/25
                            13:00</td>
                        <td
                            th:text="#{Constants.amStatus.__${lot.stsId}__.text}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>

    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>

</body>
</html>