<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title th:text="#{DeploymentDetails.title.text}" th:fragment="titleHtml"></title>
</head>
<body>
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span th:text="#{DeploymentDetails.header.text}"></span>
            </h1>
        </div>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{DeploymentDetails.boxReleaseCreation.text}">リリース登録</span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span th:text="#{DeploymentDetails.deployID.text}">リリース連携番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.deploymentId}">SEN-1511240001</span>&nbsp;
                    <span class="label"
                          th:classappend="'dmStatus'+'__${result.detailsView.stsId}__'"
                          th:text="#{Constants.dmStatus.__${result.detailsView.stsId}__.text}">タイマー設定済み</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.mgtVer.text}">連携先管理番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mgtVer}">1511240001</span>&nbsp;
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.summary.text}">リリース連携概要</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getSummary()}">20151125_開発リリース</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.content.text}">リリース連携内容</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getContents()}">20151125_開発リリース</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.relEnv.text}">リリース環境</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getEnvironmentNm()}">開発</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getCategoryNm()}">テスト</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getMstoneNm()}">○○のバグ修正</span>
                </dd>
            </dl>
        </section>
        
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{DeploymentDetails.releasePackage.text}">リリースパッケージ</span>
            </h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{DeploymentDetails.releasePackage.text}">リリースパッケージ</span></label>
                    <div class="col-sm-9">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{DeploymentDetails.relPkgID.text}">リリースパッケージ番号</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.bldPkgID.text}">ビルドパッケージ番号</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.environment.text}">環境</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.submitter.text}">作成者</span></th>
                                   	<th><span
                                        th:text="#{DeploymentDetails.tableRPStartTime.text}">作成日</span></th>
                                    <th><span
                                        th:text="#{DeploymentDetails.tableRPEndTime.text}">作成日</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span th:text="${result.getDetailsView().getReleasePackage().getRpId()}">REL-1511240001</span>
                                    </td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getBpId()}"
                                        class="buildPackageOverview">BLD-1511100001</span><span
                                        class="overviewPopup"></span></td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getEnvironmentNm()}">開発</span></td>
                                    <td class="user"><img
                                        src="../../images/trinity/common/icon_obake.png"
                                        th:src="${result.getDetailsView().getReleasePackage().getCreatedByIconPath()}"
                                        alt="Jim Cruz" class="userImg" />
                                        <span
                                        th:text="${result.getDetailsView().getReleasePackage().getCreatedBy()}">Jim
                                            Cruz</span></td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getStartTime()}">2015/11/24</span></td>
                                    <td><span
                                        th:text="${result.getDetailsView().getReleasePackage().getEndTime()}">2015/11/24</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{DeploymentDetails.deployTiming.text}">リリース連携タイミング</span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span
                        th:text="#{DeploymentDetails.boxDeployTiming.text}">リリース連携タイミング</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getTimerSettingsTime()}">2016/03/29
                        10:00</span>
                </dd>
                <dt>
                	<span
                        th:text="#{DeploymentDetails.boxDeployTimerSummary.text}">リリース連携タイミング</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getTimerSummary()}">2016/03/29
                        10:00</span>
                </dd>
                <dt>
                	<span
                        th:text="#{DeploymentDetails.boxDeployTimerContent.text}">リリース連携タイミング</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getTimerContents()}">2016/03/29
                        10:00</span>
                </dd>
            </dl>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{DeploymentDetails.contactReturnInfo.text}">連絡先（戻り値）</span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span
                        th:text="#{DeploymentDetails.createdDate.text}">連絡先資源登録日時</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getDeploymentRegistedTime()}">2016/3/30
                        10:00</span>
                </dd>
                <dt>
                    <span th:text="#{DeploymentDetails.applyDate.text}">適用日時</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getDeploymentAppliedTime()}">2016/03/30
                        12:00</span>
                </dd>
                <dt>
                    <span
                        th:text="#{DeploymentDetails.deploymentStatus.text}">連絡先ステータス</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.getDetailsView().getDeploymentStatus()}">適用</span>
                </dd>
            </dl>
        </section>

    </article>
    
    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
</body>
</html>