<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LotDetails.title.text}" th:fragment="titleHtml">trinity | Lot - View
    Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap.min.deploy.print.css"
    th:href="@{/resources/css/print.css}" media="print" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{LotDetails.basicInformation.text}">基本情報</span>
            </h2>
            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{LotDetails.lotID.text}">ロット番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.lotId}"></span>&nbsp;<span
                            class="label"
                            th:classappend="'amStatus'+'__${result.detailsView.stsId}__'"
                            th:text="#{Constants.amStatus.__${result.detailsView.stsId}__.text}">ロット進行中</span>
                    </dd>
                    <dt>
                        <span th:text="#{LotDetails.createdTime.text}">作成日時</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.createdTime}"></span>
                    </dd>
                    <dt>
                        <span th:text="#{LotDetails.lotName.text}">ロット名</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.lotSubject}"></span>
                    </dd>
                    <dt>
                        <span th:text="#{LotDetails.lotSummary.text}">ロット概要</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.lotSummary}"></span>
                    </dd>
                    <dt>
                        <span th:text="#{LotDetails.lotContents.text}">ロット内容</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.lotContents}"></span>
                    </dd>
                    <dt>
                        <span th:text="#{LotDetails.merge.text}">マージ</span>
                    </dt>
                    <dd
                        th:text="${result.detailsView.useMerge} == true? #{LotDetails.mergeable.text} : #{LotDetails.unmerge.text}"></dd>
                    <dt>
                        <span th:text="#{LotDetails.baselinetag.text}">ベースラインタグ名</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.latestVerTag}"></span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{LotDetails.latestBaseline.text}">最新ベースライン</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.latestBaselineTag}"></span>
                    </dd>
                </dl>
            </div>
        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{LotDetails.folderInformation.text}">ディレクトリ情報</span>
            </h2>

            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{LotDetails.publicPath.text}">Public
                            Path</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.publicPath}"></span>
                    </dd>
                    <dt>
                        <span th:text="#{LotDetails.privatePath.text}">Private
                            Path</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.privatePath}"></span>
                    </dd>
                </dl>
            </div>
        </section>
        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{LotDetails.authorizedGroupSettings.text}">アクセス許可設定</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th th:text="#{LotDetails.authorizedGroup.text}">アクセス許可グループ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        th:each="res : ${result.detailsView.authorizedGroups}">
                        <td th:text="${res.groupNm}">Group A</td>
                    </tr>
                </tbody>
            </table>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{LotDetails.listPermission.text}">一覧表示許可</span></label>
                    <div class="col-sm-8">
                        <p class="form-control-static"
                            th:text="${result.detailsView.enableUnauthorizedGroup} == true ? #{LotDetails.listAuthorized.text} : #{LotDetails.listUnauthorized.text}"></p>
                    </div>
                </div>
            </form>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{LotDetails.emailRecipient.text}">メール送信設定</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th th:text="#{LotDetails.emailGroup.text}">メール送信先グループ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        th:if="${result.detailsView.mailRecipientGroups.size() eq 0}">
                        <td th:text="#{LotDetails.noGroupSet.text}">送信先に設定しているグループはありません</td>
                    </tr>
                    <tr
                        th:each="res : ${result.detailsView.mailRecipientGroups}">
                        <td th:text="${res.groupNm}"></td>
                    </tr>


                </tbody>
            </table>
        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{LotDetails.moduleSelection.text}">使用モジュール選択</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{LotDetails.moduleName.text}">使用モジュール名</span></th>
                        <th><span
                            th:text="#{LotDetails.repository.text}">リポジトリ</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="res : ${result.detailsView.modules}">
                        <td th:text="${res.moduleNm}">lib</td>
                        <td th:text="${res.repository}">file:///C:/csvn/data/repositories/repos/</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{LotDetails.buildEnv.text}">ビルド環境設定</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{LotDetails.buildEnvSelect.text}">ビルド環境割り当て</span></th>
                        <th><span
                            th:text="#{LotDetails.environmentName.text}">環境名(環境番号)</span></th>
                        <th><span
                            th:text="#{LotDetails.summary.text}">概要</span></th>
                        <th><span
                            th:text="#{LotDetails.status.text}">ステータス</span></th>
                        <th><span
                            th:text="#{LotDetails.latestBuildTime.text}">最終更新日時</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="res : ${result.detailsView.buildEnvs}">
                        <td><span
                            th:if="${res.selectedBuild} == true"
                            th:text="#{LotDetails.BPDiff.text}">Env
                                A</span><span
                            th:if="${res.selectedFullBuild} == true"
                            th:text="#{LotDetails.BPFull.text}">Env
                                A</span></td>
                        <td><span th:text="${res.environmentNm}">環境名</span>
                            (<span th:text="${res.envId}">環境番号</span>)</td>
                        <td th:text="${res.summary}">AAA</td>
                        <td th:text="#{LotDetails.processing.text}"><span
                            th:text="#{Constants.bmStatus.__${res.statusId}__.text}">
                                <!--  class="label" th:classappend="'bmStatus'+'__${res.statusId}__'"  -->運用中
                        </span></td>
                        <td th:text="${res.updTime}">2015/12/03
                            14:20</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{LotDetails.releaseEnv.text}">リリース環境設定</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{LotDetails.releaseEnvSelect.text}">リリース環境割り当て</span></th>
                        <th><span
                            th:text="#{LotDetails.environmentName.text}">環境名(環境番号)</span></th>
                        <th><span
                            th:text="#{LotDetails.summary.text}">概要</span></th>
                        <th><span
                            th:text="#{LotDetails.status.text}">ステータス</span></th>
                        <th><span
                            th:text="#{LotDetails.latestBuildTime.text}">最終更新日時</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        th:each="res : ${result.detailsView.releaseEnvs}">
                        <td th:text="#{LotDetails.RPEnv.text}">Env
                            A</td>
                        <td><span th:text="${res.environmentNm}">環境名</span>
                            (<span th:text="${res.envId}">環境番号</span>)</td>
                        <td th:text="${res.summary}">AAA</td>
                        <td th:text="#{LotDetails.processing.text}">運用中</td>
                        <td th:text="${res.updTime}">2015/12/03
                            14:20</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{LotDetails.buildPackageProgress.text}">リリースパッケージ作成状況</span>
            </h2>


            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt>
                        <span
                            th:text="#{LotDetails.buildPackage.text}">リリースパッケージ作成</span>
                    </dt>
                    <dd>
                        <span
                            th:text="#{LotDetails.successCount.text (${result.buildResult.Successful}, ${result.buildResult.Failed})}">成功&nbsp;0回、失敗&nbsp;0回</span>
                    </dd>
                </dl>
            </div>
        </section>
    </article>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
/*<![CDATA[*/
	$(document).ready(function(){
		window.print();
	});
/* ]]> */
</script>
</body>
</html>