<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{LotDetails.title.text}" th:fragment="titleHtml">trinity | Lot - View
    Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap.min.deploy.print.css"
    th:href="@{/resources/css/print.css}" media="print" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span th:text="#{BPDetails.header.text}">ビルドパッケージの詳細</span>
            </h1>
        </div>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.basicInfo.text}">基本情報</span>
            </h2>
            <dl class="dl-horizontal">
                <dt th:text="#{BPDetails.bldPkgID.text}">ビルドパッケージ番号</dt>
                <dd>
                    <span th:text="${result.detailsView.bpId}">BLD-1511240001</span>
                    <span class="label labelGreen"
                        th:text="#{Constants.rmStatus.__${result.detailsView.stsId}__.text}">作成完了</span>
                </dd>
                <dt th:text="#{BPDetails.pkgName.text}">パッケージ名</dt>
                <dd th:text="${result.detailsView.subject}">20151120_リリース</dd>
                <dt th:text="#{BPDetails.pkgCreator.text}">パッケージ作成者</dt>
                <dd th:text="${result.detailsView.createdBy}">Tommy
                    Robinson</dd>
                <dt th:text="#{BPDetails.startTime.text}">パッケージ作成開始日時</dt>
                <dd th:text="${result.detailsView.startTime}">2016/04/01
                    12:00</dd>
                <dt th:text="#{BPDetails.endTime.text}">パッケージ作成終了日時</dt>
                <dd th:text="${result.detailsView.endTime}">2016/04/01
                    14:00</dd>
                <dt th:text="#{BPDetails.summary.text}">パッケージ概要</dt>
                <dd th:text="${result.detailsView.summary}">0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース</dd>
                <dt th:text="#{BPDetails.bldType.text}">ビルド分類</dt>
                <dd>
                    <span
                        th:if="${result.detailsView.buildDiff == true}">
                        <span th:text="#{BPDetails.diffBuild.text}"></span>
                    </span> <span
                        th:if="${result.detailsView.buildFull == true}">
                        <span th:text="#{BPDetails.fullBuild.text}"></span>
                    </span>
                </dd>
                <dt th:text="#{BPDetails.category.text}">カテゴリー</dt>
                <dd th:text="${result.detailsView.ctgNm}">テスト</dd>
                <dt th:text="#{BPDetails.milestone.text}">マイルストーン</dt>
                <dd th:text="${result.detailsView.mstoneNm}">○○のバグ修正</dd>
            </dl>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.totalResources.text}">総資産数</span>
            </h2>
            <form class="form-horizontal">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span
                                th:text="#{BPDetails.tableChkOut.text}">貸出資産数</span></th>
                            <th><span
                                th:text="#{BPDetails.tableChkInChanged.text}">返却資産数（変更）</span></th>
                            <th><span
                                th:text="#{BPDetails.tableChkInRemoved.text}">返却資産数（削除）</span></th>
                            <th><span
                                th:text="#{BPDetails.tableChkInCreated.text}">返却資産数（新規）</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td
                                th:text="${result.detailsView.totalResources.checkoutResources}">2</td>
                            <td
                                th:text="${result.detailsView.totalResources.changedResources}">2</td>
                            <td><span
                                th:text="#{BPDetails.ascii.text}">（資産）</span>
                                <span
                                th:text="${result.detailsView.totalResources.deletedAsciiResources}">1</span>
                                <br /> <span
                                th:text="#{BPDetails.binary.text}">>（バイナリ）</span>
                                <span
                                th:text="${result.detailsView.totalResources.deletedBinaryResources}">1</span>
                            </td>
                            <td
                                th:text="${result.detailsView.totalResources.addedResources}">2</td>
                        </tr>

                    </tbody>
                </table>

            </form>
        </section>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.changeProperty.text}">変更管理情報</span>
            </h2>
            <div id="changepropertyloop"
                th:each="CP : ${result.detailsView.changeProperties}">
                <span> <span th:text="${CP.pjtId}">PJT-15110400011</span>
                    （<span th:text="#{BPDetails.referenceID.text}">変更要因番号</span>
                    <span th:text="${CP.referenceId}">RFC−00000000</span>）
                </span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th
                                th:text="#{BPDetails.tableRequestType.text}">申請区分</th>
                            <th
                                th:text="#{BPDetails.tableRequestID.text}">申請情報番号</th>
                            <th th:text="#{BPDetails.tableChkOut.text}">貸出資産数</th>
                            <th
                                th:text="#{BPDetails.tableChkInChanged.text}">返却資産数（変更）</th>
                            <th
                                th:text="#{BPDetails.tableChkInRemoved.text}">返却資産数（削除）</th>
                            <th
                                th:text="#{BPDetails.tableChkInCreated.text}">返却資産数（新規）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="request : ${CP.resources}">
                            <td class="labels"><span
                                class="label"
                                th:classappend="'kindLabel'+${request.areqType}"
                                th:text="#{Constant.requestType.__${request.areqType}__.text}">返却</span></td>
                            <td><a
                                href="CheckInRequestDetails.html"
                                class="underline"
                                th:onClick="'javascript:JumpToCheckinRequestDetails(\''+${request.areqId}+'\');return false;'"
                                th:text="${request.areqId}">LND-15110400011</a></td>
                            <td th:text="${request.checkoutResources}">2</td>
                            <td th:text="${request.changedResources}">2</td>
                            <td
                                th:text="${request.deletedAsciiResources}">0</td>
                            <td th:text="${request.addedResources}">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{BPDetails.tableProcResult.text}">処理結果（概要）</span>
            </h2>
            <h2>
                <span th:text="#{BPDetails.tableProcResult.text}">処理結果（概要）</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th th:text="#{BPDetails.tableSequence.text}">処理順序</th>
                        <th th:text="#{BPDetails.tableProcessName.text}">処理名</th>
                        <th th:text="#{BPDetails.tableResults.text}">処理結果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        th:each="process : ${result.detailsView.processResults}">
                        <td th:text="${process.sequenceNo}">000100</td>
                        <td th:text="${process.processNm}">初期処理</td>
                        <th scope="row"><span
                            th:if="${process.active == true}"> <i
                                class="fa fa-check"></i>
                        </span> <span th:if="${process.completed == true}">
                                <i class="fa fa-check"></i>
                        </span> <span th:if="${process.error == true}">
                                <i class="fa fa-check"></i>
                        </span></th>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
</body>
</html>