<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ChkInOutReqList.title.text}" th:fragment="titleHtml">trinity
    | Check-in/Checkout Request - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/jquery-ui.css"
    th:href="@{/resources/css/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{ChkInOutReqList.header.text}" th:if="${!result.getParam().isSelectedDraft()}">貸出/返却申請の一覧</h1>
            <h1 th:text="#{ChkInOutReqList.draftHeader.text}" th:if="${result.getParam().isSelectedDraft()}">貸出/返却申請の一覧</h1>
        </div>

        <section class="section tableSection"
            th:if="!${result.getParam().isSelectedDraft()}">
            <table class="table table-bordered no-margin-top">
                <thead>
                    <tr>
                        <th>No</th>
                        <th th:text="#{ChkInOutReqList.changeID.text}">変更管理番号</th>
                        <th th:utext="#{ChkInOutReqList.chkOutReqID.text}">申請番号</th>
                        <th th:text="#{ChkInOutReqList.subject.text}">申請件名</th>
                        <th th:text="#{ChkInOutReqList.submitter.text}">申請者</th>
                        <th th:text="#{ChkInOutReqList.assignee.text}">担当者</th>
                        <th th:utext="#{ChkInOutReqList.chkOutDate.text}">貸出日</th>
                        <th th:utext="#{ChkInOutReqList.chkInDueDate.text}">返却予定日</th>
                        <th th:text="#{ChkInOutReqList.updatedDate.text}">更新日</th>
                        <th th:text="#{ChkInOutReqList.status.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="res,start : ${result.areqViews}">
                        <th th:text="${start.count}">1</th>
                        <td th:text="${res.pjtId}">PJT-1511040001<br />(RFC-12345)
                        </td>
                        <td th:text="${res.areqId}">LND-1511040001</td>
                        <td th:text="${res.subject}">つれづれなるまゝに</td>
                        <td class="user"><img
                            th:src="${res.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /> <span
                            th:text="${res.submitterNm}"></span></td>
                        <td class="user"><img
                            th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
                            th:src="${res.assigneeIconPath}"
                            alt="Jim Cruz" class="userImg" /> <span
                            th:text="${res.assigneeNm}"></span></td>
                        <td th:text="${res.checkoutDate}">2015/11/12</td>
                        <td th:text="${res.checkinDueDate}">2015/11/12</td>
                        <td th:text="${res.updDate}">2015/11/12</td>
                        <td class="labels"><span
                            class="label label-justify"
                            th:classappend="'amStatus'+'__${res.stsId}__'"
                            th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="section tableSection"
            th:if="${result.getParam().isSelectedDraft()}">
            <table class="table table-bordered no-margin-top">
                <thead>
                    <tr>
                        <th>No</th>
                        <th th:text="#{ChkInOutReqList.changeID.text}">変更管理番号</th>
                        <th th:utext="#{ChkInOutReqList.chkOutReqID.text}">申請番号</th>
                        <th th:text="#{ChkInOutReqList.subject.text}">申請件名</th>
                        <th th:text="#{ChkInOutReqList.submitter.text}">申請者</th>
                        <th th:text="#{ChkInOutReqList.assignee.text}">担当者</th>
                        <th th:utext="#{ChkInOutReqList.chkOutDate.text}">貸出日</th>
                        <th th:utext="#{ChkInOutReqList.chkInDueDate.text}">返却予定日</th>
                        <th
                            th:text="#{ChkInOutReqList.updatedDate.text}">更新日</th>
                        <th th:text="#{ChkInOutReqList.status.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="res,start : ${result.draftAreqViews}">
                        <th th:text="${start.count}">1</th>
                        <td th:text="${res.pjtId}">PJT-1511040001<br />(RFC-12345)
                        </td>
                        <td th:text="${res.areqId}">LND-1511040001</td>
                        <td th:text="${res.subject}">つれづれなるまゝに</td>
                        <td class="user"><img
                            th:src="${res.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /> <span
                            th:text="${res.submitterNm}"></span></td>
                        <td class="user"><img
                            th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
                            th:src="${res.assigneeIconPath}"
                            alt="Jim Cruz" class="userImg" /> <span
                            th:text="${res.assigneeNm}"></span></td>
                        <td th:text="${res.checkoutDate}">2015/11/12</td>
                        <td th:text="${res.checkinDueDate}">2015/11/12</td>
                        <td th:text="${res.updDate}">2015/11/12</td>
                        <td class="labels"><span
                            class="label label-justify"
                            th:classappend="'amStatus'+'__${res.stsId}__'"
                            th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>

</body>
</html>