<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ReportList.title.text}" th:fragment="titleHtml">trinity | Reports -
    View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html" class="select">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_report.png"
                    th:src="@{/resources/images/common/icon_report.png}"
                    alt="" />
                </span><span th:text="#{ReportList.header.text}">レポートの一覧</span>
            </h1>
        </div>
        <!-- 表 -->
        <section class="section tableSection searchTableSection">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th th:text="#{ReportList.tableReportID.text}">レポート番号</th>
                        <th th:text="#{ReportList.tableReportType.text}">レポート区分</th>
                        <th th:text="#{ReportList.tableSubmitter.text}">作成者</th>
                        <th th:text="#{ReportList.createdDate.text}">作成日</th>
                        <th th:text="#{ReportList.tableStatus.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody id="reports_result">
                    <tr th:each="report : ${result.reportViews}">
                        <td th:text="${report.reportId}">RP-1512310001</td>
                        <td
                            th:text="#{Constants.dcmReport.__${report.type.value()}__.text}">ビルドパッケージレポート</td>
                        <td class="user"><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="${report.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${report.submitterNm}">Jim
                                Cruz</span></td>
                        <td th:text="${report.createdDate}">2015/11/24</td>
                        <td class="labels"><span
                            class="label label-large"
                            th:text="#{Constants.dcmStatus.__${report.stsId}__.text}"
                            th:classappend="'dcmStatus'+'__${report.stsId}__'">作成処理中</span></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
        /* ]]> */
        </script>
</body>
</html>