<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{RPDetails.title.text}" th:fragment="titleHtml">trinity | Lot - View
    Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap.min.deploy.print.css"
    th:href="@{/resources/css/print.css}" media="print" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{RPDetails.header.text}">リリースパッケージの詳細</h1>
        </div>

        <section class="section sectionRadius">
            <h2 th:text="#{RPDetails.basicInfo.text}">基本情報</h2>
            <dl class="dl-horizontal">
                <dt th:text="#{RPDetails.relPkgID.text}">リリースパッケージ番号</dt>
                <dd>
                    <span th:text="${result.detailsView.rpId}">REL-1511240001</span>
                    <span class="label labelGreen"
                        th:text="#{Constants.rmStatus.__${result.detailsView.stsId}__.text}">作成</span>
                </dd>
                <dt th:text="#{RPDetails.pkgName.text}">パッケージ名</dt>
                <dd th:text="${result.detailsView.subject}">20151120_リリース</dd>
                
                <dt th:text="#{RPDetails.startTime.text}"></dt>
                <dd th:text="${result.detailsView.startTime}"></dd>
                
                <dt th:text="#{RPDetails.endTime.text}"></dt>
                <dd th:text="${result.detailsView.endTime}"></dd>
                
                <dt th:text="#{RPDetails.summary.text}">パッケージ概要</dt>
                <dd th:text="${result.detailsView.summary}">0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース0151120_リリース</dd>
                
                <dt th:text="#{RPDetails.releaseReq.text}">リリース申請</dt>
                <dd th:text="${result.detailsView.raId}">-</dd>
                <dt th:text="#{RPDetails.releaseEnv.text}">リリース環境</dt>
                <dd th:text="${result.detailsView.envNm}">開発環境</dd>
                <dt th:text="#{RPDetails.buildPackage.text}">ビルドパッケージ</dt>
                <dd>
                    <span th:text="${result.detailsView.bpId}">BLD-1511100001</span>
                </dd>
                <dt th:text="#{RPDetails.category.text}">カテゴリー</dt>
                <dd th:text="${result.detailsView.ctgNm}">テスト</dd>
                <dt th:text="#{RPDetails.milestone.text}">マイルストーン</dt>
                <dd th:text="${result.detailsView.mstoneNm}">○○のバグ修正</dd>
            </dl>
        </section>
    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
</body>
</html>