<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{SearchThisLot.title.text}" th:fragment="titleHtml">trinity | Search
    this Lot</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>
    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="#">ダッシュボード</a></li>
                <li data-role="dropdown"><a href="#">最近見たロット</a>
                    <div id="globalNavLotContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div id="globalNavLotContainerJoint"
                                class="globalNavJoint"></div>
                        </div>

                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <form>
                                <dl>
                                    <dt>
                                        <input type="text"
                                            class="globalNavDropdownSearchField"
                                            name="search" value="" />
                                    </dt>
                                    <dd>
                                        <button
                                            class="clearFilterButton">
                                            <span></span>
                                        </button>
                                    </dd>
                                </dl>
                            </form>
                        </div>

                        <div class="globalNavSearchResult">
                            <ul class="globalNavSearchResultContainer">
                                <li
                                    class="resultItem lotResultItem clearfix">
                                    <span class="lotIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_lot.png" />
                                </span> <span class="resultItemTitle"> <a
                                        href="#">ロット
                                            A(LOT-1601200001)</a> <br /> <span
                                        class="lotLinks"> <a
                                            href="#" class="lotLink">資産管理</a>
                                            | <a href="#"
                                            class="lotLink">リリース管理</a> |
                                            <a href="#" class="lotLink">レポート出力</a>
                                            | <a href="#"
                                            class="lotLink">Wiki</a> | <a
                                            href="#" class="lotLink">ファイル</a>
                                            | <a href="#"
                                            class="lotLink">カレンダー</a>
                                    </span>
                                </span>
                                    <div class="actions"></div>
                                </li>

                                <li
                                    class="resultItem lotResultItem clearfix">
                                    <span class="lotIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_lot.png" />
                                </span> <span class="resultItemTitle"> <a
                                        href="#">ロット
                                            A(LOT-1601200001)</a> <br /> <span
                                        class="lotLinks"> <a
                                            href="#" class="lotLink">資産管理</a>
                                            | <a href="#"
                                            class="lotLink">リリース管理</a> |
                                            <a href="#" class="lotLink">レポート出力</a>
                                            | <a href="#"
                                            class="lotLink">Wiki</a> | <a
                                            href="#" class="lotLink">ファイル</a>
                                            | <a href="#"
                                            class="lotLink">カレンダー</a>
                                    </span>
                                </span>
                                    <div class="actions"></div>
                                </li>
                            </ul>
                        </div>
                    </div></li>

                <li data-role="dropdown"><a href="#">最近見た変更資産</a>
                    <div id="globalNavAssetContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div id="globalNavAssetContainerJoint"
                                class="globalNavJoint"></div>
                        </div>

                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <form>
                                <dl>
                                    <dt>
                                        <input type="text"
                                            class="globalNavDropdownSearchField"
                                            name="search" value="" />
                                    </dt>
                                    <dd>
                                        <button
                                            class="clearFilterButton">
                                            <span></span>
                                        </button>
                                    </dd>
                                </dl>
                            </form>
                        </div>

                        <div class="globalNavSearchResult">
                            <ul class="globalNavSearchResultContainer">
                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_add.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Long title
                                        long title 申請件名 申請件名 申請件名 申請件名
                                        申請件名</span>
                                    <div class="actions">
                                        <span
                                            class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_lending.png" />
                                        </span> <span
                                            class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_return.png" />
                                        </span>
                                    </div></li>

                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_remove.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Really long
                                        title here should truncate Long
                                        title long title 申請件名 申請件名 申請件名
                                        申請件名 申請件名</span>
                                    <div class="actions"></div></li>

                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_add.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Long title
                                        long title 申請件名 申請件名 申請件名 申請件名
                                        申請件名</span>
                                    <div class="actions">
                                        <span
                                            class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_lending.png" />
                                        </span> <span
                                            class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_return.png" />
                                        </span>
                                    </div></li>

                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_add.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Long title
                                        long title 申請件名 申請件名 申請件名 申請件名
                                        申請件名</span>
                                    <div class="actions">
                                        <span
                                            class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_lending.png" />
                                        </span> <span
                                            class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_return.png" />
                                        </span>
                                    </div></li>

                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_add.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Long title
                                        long title 申請件名 申請件名 申請件名 申請件名
                                        申請件名</span>
                                    <div class="actions">
                                        <span
                                            class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_lending.png" />
                                        </span> <span
                                            class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_return.png" />
                                        </span>
                                    </div></li>

                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_add.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Long title
                                        long title 申請件名 申請件名 申請件名 申請件名
                                        申請件名</span>
                                    <div class="actions">
                                        <span
                                            class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_lending.png" />
                                        </span> <span
                                            class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_return.png" />
                                        </span>
                                    </div></li>

                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_add.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Long title
                                        long title 申請件名 申請件名 申請件名 申請件名
                                        申請件名</span>
                                    <div class="actions">
                                        <span
                                            class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_lending.png" />
                                        </span> <span
                                            class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_return.png" />
                                        </span>
                                    </div></li>

                                <li class="resultItem assetResultItem clearfix"><span
                                    class="assetIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_request_add.png" />
                                </span> <span class="resultItemTitle">[
                                        PJT 採番 ( 変更管理番号 )] Long title
                                        long title 申請件名 申請件名 申請件名 申請件名
                                        申請件名</span>
                                    <div class="actions">
                                        <span
                                            class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_lending.png" />
                                        </span> <span
                                            class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                            data-clipboard-text="copy content">
                                            <img
                                            src="../../images/trinity/common/icon_copy_return.png" />
                                        </span>
                                    </div></li>
                            </ul>

                            <div class="globalNavDropdownPagination">
                                <span class="paginationPrevious">
                                    <a href="#"> <img
                                        src="../../images/trinity/common/icon_pagination_previous.png" />
                                        前へ
                                </a>
                                </span> <span class="paginationnNext"> <a
                                    href="#"> 次へ <img
                                        src="../../images/trinity/common/icon_pagination_next.png" />
                                </a>
                                </span>
                            </div>
                        </div>
                    </div></li>

                <li data-role="dropdown"><a href="#">最近見たWiki</a>
                    <div id="globalNavWikiContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div id="globalNavWikiContainerJoint"
                                class="globalNavJoint"></div>
                        </div>

                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <form>
                                <dl>
                                    <dt>
                                        <input type="text"
                                            class="globalNavDropdownSearchField"
                                            name="search" value="" />
                                    </dt>
                                    <dd>
                                        <button
                                            class="clearFilterButton">
                                            <span></span>
                                        </button>
                                    </dd>
                                </dl>
                            </form>
                        </div>

                        <div class="globalNavSearchResult">
                            <ul class="globalNavSearchResultContainer">
                                <li class="resultItem wikiResultItem clearfix"><span
                                    class="wikiIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_wiki.png" />
                                </span> <span class="resultItemTitle">ページタイトル</span>
                                </li>

                                <li class="resultItem wikiResultItem clearfix"><span
                                    class="wikiIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_wiki.png" />
                                </span> <span class="resultItemTitle">ページタイトル</span>
                                </li>
                            </ul>
                        </div>
                    </div></li>

                <li data-role="dropdown"><a href="#">検索フィルタ</a>
                    <div id="globalNavSearchFilterContainer"
                        class="globalNavDropdownContainer"
                        style="display: none;">
                        <div class="globalNavJointWrap">
                            <div
                                id="globalNavSearchFilterContainerJoint"
                                class="globalNavJoint"></div>
                        </div>

                        <div
                            class="globalNavDropdownSearchBox searchBox">
                            <form>
                                <dl>
                                    <dt>
                                        <input type="text"
                                            class="globalNavDropdownSearchField"
                                            name="search" value="" />
                                    </dt>
                                    <dd>
                                        <button
                                            class="clearFilterButton">
                                            <span></span>
                                        </button>
                                    </dd>
                                </dl>
                            </form>
                        </div>

                        <div class="globalNavSearchResult">
                            <!-- No results -->
                            <div class="globalNavSearchNoResultMessage">
                                <p>保存している検索フィルタはありません</p>
                                <p>検索で保存したフィルタの一覧がここに表示されます</p>
                            </div>

                            <!-- Results -->
                            <ul class="globalNavSearchResultContainer">
                                <li
                                    class="resultItem searchFilterResultItem clearfix">
                                    <span
                                    class="searchFilterIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_lot.png" />
                                </span> <span class="resultItemTitle"> <span
                                        class="resultItemTitleText">
                                            Cum sociis natoque penatibus
                                            et magnis dis parturient
                                            montes </span>
                                        <form class="resultItemEditForm"
                                            style="display: none">
                                            <input type="text"
                                                value="Cum sociis natoque penatibus et magnis dis parturient montes"
                                                class="searchFilterEditField input-sm form-control" />
                                            <input type="button"
                                                value="保存"
                                                class="saveButton btn btn-xs" />
                                        </form>
                                </span>
                                    <div class="actions deleteActions"
                                        style="display: none">
                                        <input
                                            class="realDeleteButton btn btn-xs"
                                            type="button" value="削除実行" />
                                    </div>
                                    <div class="actions defaultActions">
                                        <a class="editButton" href="#">編集</a>
                                        | <a class="deleteButton"
                                            href="#">削除</a>
                                    </div>
                                    <div class="actions cancelActions"
                                        style="display: none">
                                        <a class="cancelButton" href="#">キャンセル</a>
                                    </div>
                                </li>

                                <li
                                    class="resultItem searchFilterResultItem clearfix">
                                    <span
                                    class="searchFilterIcon resultItemIcon">
                                        <img
                                        src="../../images/trinity/common/icon_lot.png" />
                                </span> <span class="resultItemTitle"> <span
                                        class="resultItemTitleText">
                                            Cum sociis natoque penatibus
                                            et magnis dis parturient
                                            montes </span>
                                        <form class="resultItemEditForm"
                                            style="display: none">
                                            <input type="text"
                                                value="Cum sociis natoque penatibus et magnis dis parturient montes"
                                                class="searchFilterEditField input-sm form-control" />
                                            <input type="button"
                                                value="保存"
                                                class="saveButton btn btn-xs" />
                                        </form>
                                </span>
                                    <div class="actions deleteActions"
                                        style="display: none">
                                        <input
                                            class="realDeleteButton btn btn-xs"
                                            type="button" value="削除実行" />
                                    </div>
                                    <div class="actions defaultActions">
                                        <a class="editButton" href="#">編集</a>
                                        | <a class="deleteButton"
                                            href="#">削除</a>
                                    </div>
                                    <div class="actions cancelActions"
                                        style="display: none">
                                        <a class="cancelButton" href="#">キャンセル</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div></li>
            </ul>

            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text"
                                class="globalNavSearchField"
                                name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button class="clearSearchButton">
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>

                <div id="globalNavSearchContainer"
                    class="globalNavDropdownContainer"
                    style="display: none;">
                    <div class="globalNavJointWrap">
                        <div id="globalNavSearchContainerJoint"
                            class="globalNavJoint"></div>
                    </div>
                    <ul class="globalNavSearchResultSwitch clearfix">
                        <li data-target="#assetsResults">変更資産<span
                            class="num">(10)</span></li>
                        <li data-target="#releaseResults">リリース<span
                            class="num">(5)</span></li>
                        <li data-target="#wikiResults">Wiki<span
                            class="num">(2)</span></li>
                        <li data-target="#fileResults">ファイル<span
                            class="num">(0)</span></li>
                        <li data-target="#userResults">ユーザ<span
                            class="num">(2)</span></li>
                    </ul>
                    <div class="globalNavSearchResult">
                        <ul id="assetsResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem assetResultItem clearfix"><span
                                class="assetIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request_add.png" />
                            </span> <span class="resultItemTitle">[ PJT
                                    採番 ( 変更管理番号 )] Long title long title
                                    申請件名 申請件名 申請件名 申請件名 申請件名</span>
                                <div class="actions">
                                    <span
                                        class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_lending.png" />
                                    </span> <span
                                        class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_return.png" />
                                    </span>
                                </div></li>

                            <li class="resultItem assetResultItem clearfix"><span
                                class="assetIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request_remove.png" />
                            </span> <span class="resultItemTitle">[ PJT
                                    採番 ( 変更管理番号 )] Long title long title
                                    申請件名 申請件名 申請件名 申請件名 申請件名</span>
                                <div class="actions"></div></li>

                            <li class="resultItem assetResultItem clearfix"><span
                                class="assetIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request_add.png" />
                            </span> <span class="resultItemTitle">[ PJT
                                    採番 ( 変更管理番号 )] Really long title
                                    here should truncate Long title long
                                    title 申請件名 申請件名 申請件名 申請件名 申請件名</span>
                                <div class="actions">
                                    <span
                                        class="lendingCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_lending.png" />
                                    </span> <span
                                        class="returnCopyIcon assetResultItem resultItemIcon copyButton"
                                        data-clipboard-text="copy content">
                                        <img
                                        src="../../images/trinity/common/icon_copy_return.png" />
                                    </span>
                                </div></li>
                        </ul>

                        <ul id="releaseResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem releaseResultItem clearfix"><span
                                class="releaseIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request.png" />
                            </span> <span class="resultItemTitle">[ TMP
                                    採番 ][PJT 採番 ( 変更管理番号 )] 申請件名</span></li>

                            <li class="resultItem releaseResultItem clearfix"><span
                                class="releaseIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request.png" />
                            </span> <span class="resultItemTitle">[ TMP
                                    採番 ][PJT 採番 ( 変更管理番号 )] 申請件名</span></li>

                            <li class="resultItem releaseResultItem clearfix"><span
                                class="releaseIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_request.png" />
                            </span> <span class="resultItemTitle">[ TMP
                                    採番 ][PJT 採番 ( 変更管理番号 )] 申請件名</span></li>
                        </ul>

                        <ul id="wikiResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem wikiResultItem clearfix"><span
                                class="wikiIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_wiki.png" />
                            </span> <span class="resultItemTitle">ページタイトル</span>
                            </li>

                            <li class="resultItem wikiResultItem clearfix"><span
                                class="wikiIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_wiki.png" />
                            </span> <span class="resultItemTitle">ページタイトル</span>
                            </li>
                        </ul>

                        <ul id="fileResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem fileResultItem clearfix"><span
                                class="fileIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_sourcefile.png" />
                            </span> <span class="resultItemTitle">ファイル名
                                    . 拡張子</span></li>

                            <li class="resultItem fileResultItem clearfix"><span
                                class="fileIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_sourcefile.png" />
                            </span> <span class="resultItemTitle">ファイル名
                                    . 拡張子</span></li>

                            <li class="resultItem fileResultItem clearfix"><span
                                class="fileIcon resultItemIcon">
                                    <img
                                    src="../../images/trinity/common/icon_sourcefile.png" />
                            </span> <span class="resultItemTitle">ファイル名
                                    . 拡張子</span></li>
                        </ul>

                        <ul id="userResults"
                            class="globalNavSearchResultContainer"
                            style="display: none;">
                            <li class="resultItem userResultItem clearfix"><span
                                class="userIcon resultItemIcon"><img
                                    src="../../images/trinity/common/icon_obake.png" /></span>
                                <span class="resultItemTitle">Jim
                                    Cruz</span></li>

                            <li class="resultItem userResultItem clearfix"><span
                                class="userIcon resultItemIcon"><img
                                    src="../../images/trinity/common/icon_obake.png" /></span>
                                <span class="resultItemTitle">Jakie
                                    Singleton</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html" class="select">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>


    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{SearchThisLot.header.text}">ロット内検索</h1>
        </div>

        <section class="section tableSection searchTableSection">
            <div id="resultBody">
                <table class="table table-bordered tableSearchResults"
                    id="issues_table" th:fragment="resultTable">
                    <thead>
                        <th data-column="processing"
                            th:text="#{SearchThisLot.process.text}">処理</th>
                        <th data-column="trinityNum"
                            th:text="#{SearchThisLot.tableInternalID.text}">trinityによる採番</th>
                        <th data-column="title"
                            th:text="#{SearchThisLot.tableSubject.text}">件名</th>
                        <th data-column="status"
                            th:text="#{SearchThisLot.tableStatus.text}">ステータス</th>
                        <th data-column="contact"
                            th:text="#{SearchThisLot.tableAssignee.text}">担当者</th>
                        <th data-column="group"
                            th:text="#{SearchThisLot.tableAssigneeGroup.text}">担当グループ</th>
                        <th data-column="dateStart"
                            th:text="#{SearchThisLot.tableStartTime.text}">最終更新日</th>
                        <th data-column="attachment"
                            th:text="#{SearchThisLot.tableAttached.text}">添付</th>
                    </thead>
                    <tbody>
                        <tr th:each="view : ${result.searchSiteViews}">
                            <td data-column="processing"
                                th:text="${view.dataAttribute.value()}">変更管理情報</td>
                            <td data-column="trinityNum"><a
                                href="#" th:text="${view.id}">PJT-1512100001</a></td>
                            <td data-column="title"
                                th:text="${view.subject}">#1006
                                24時間を超えると表示 が0に戻る</td>
                            <td data-column="status" class="labels"><span
                                class="label label-medium"
                                th:classappend="'amStatus'+'__${view.stsId}__'"
                                th:text="#{Constants.amStatus.__${view.stsId}__.text}">マージ済み</span></td>
                            <td data-column="contact" class="user"><img
                                    th:if="not ${#strings.isEmpty(view.assigneeIconPath)}"
                                    th:src="${view.assigneeIconPath}"
                                    class="userImg" /> <span
                                    th:text="${view.assigneeNm}">Tommy
                                        Robinson</span></td>
                            <td data-column="group"
                                th:text="${view.assigneeGroup}">運用保守グループ</td>
                            <td data-column="dateStart"
                                th:text="${view.latestUpdDate}">2015/11/12</td>
                            <td data-column="attachment"><i
                                th:classappend="${view.attachedFile} ? 'fa fa-paperclip'"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>

    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
        	/*<![CDATA[*/
				$(document).ready(function(){
					window.print();
				});
          	/* ]]> */
        </script>
</body>
</html>
