
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}" lang="ja">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml"
    th:text="#{ChangePropertyList.title.text}">trinity | Change
    Property - View List</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <!-- 帯ポップアップ/bandPopup-->
        <div id="confirmDialog">
            <div class="bandPopup">
                <div class="bandPopupMessage"></div>
                <div class="bandPopupButton"></div>
            </div>
        </div>

        <div id="infoDialog">
            <div
                th:if="!${result.getMessageInfo().isEmptyFlashMessages()}">
                <div class="bandPopup">
                    <div class="bandPopupMessage"
                        th:text="${result.getMessageInfo().getFlashMessages()}"></div>
                </div>
            </div>
        </div>
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="images/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索"></input>
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell">
                        <img src="images/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" />
                </span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="images/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="images/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="ThemeView.html">ロット設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotInfoView.html" class="select">ロット</a></li>
                <li><a href="AssetManagementList.html">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索"></input>
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="LotInfoView.html">ロット情報</a></li>
                <li><a href="ChangeManagementList.html"
                    class="select">変更管理情報</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_ChangeManegementInfomation.png"
                    th:src="@{/resources/images/common/icon_ChangeManegementInfomation.png}"
                    alt="" /></span><span
                    th:text="#{ChangePropertyList.header.text}">変更管理情報の一覧</span>
            </h1>
        </div>

        <section class="section tableSection" id="refreshSection">
            <table class="table table-bordered"
                id="changePropertyListTable">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{ChangePropertyList.changePropertyID.text}">変更管理番号</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.referenceID.text}">変更要因番号</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.referenceCategory.text}">変更要因分類</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.summary.text}">変更概要</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.submitter.text}">登録者</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.assignee.text}">担当者</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.created.text}">登録日</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.updated.text}">更新日</span></th>
                        <th><span
                            th:text="#{ChangePropertyList.status.text}">ステータス</span></th>
                    </tr>
                </thead>
                <tbody id="result_list">
                    <tr th:each="res : ${result.changePropertyViews}"
                        th:id="${res.pjtId}">
                        <td><a href="javascript:void(0)"
                            th:text="${res.pjtId}"
                            th:onClick="'javascript:submitDetailsService(\''+${res.pjtId}+ '\' );return false;'">aaa</a></td>
                        <td><span th:text="${res.referenceId}"></span></td>
                        <td><span
                            th:text="#{Constants.referenceId.__${res.referenceCategoryNm}__.text}"></span></td>
                        <td><span th:text="${res.summary}"></span></td>
                        <td class="user"><img
                            th:src="${res.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${res.submitterNm}"></span></td>
                        <td class="user"><img
                            th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
                            th:src="${res.assigneeIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${res.assigneeNm}"></span></td>
                        <td><span th:text="${res.createdDate}"></span></td>
                        <td><span th:text="${res.updDate}"></span></td>
                        <td><span
                            th:text="#{Constants.amStatus.__${res.stsId}__.text}"></span></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>

    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="resources/js/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
	</script>
</body>
</html>