<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title th:fragment="titleHtml" th:text="#{ReleaseRequestList.title.text}">trinity | Release Request - View List</title>

        <!-- CSS -->
        <link rel="stylesheet"
              href="../../css/trinity/bootstrap.min.css"
              th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/font-awesome.min.css"
              th:href="@{/resources/css/font-awesome.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/jquery-ui.css"
              th:href="@{/resources/css/jquery-ui.css}" />
        <link rel="stylesheet"
              href="../../css/trinity/trinity.css"
              th:href="@{/resources/css/trinity.css}" />

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/trinity/favicons/apple-touch-icon-57x57.png" th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/trinity/favicons/apple-touch-icon-60x60.png" th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/trinity/favicons/apple-touch-icon-72x72.png" th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/trinity/favicons/apple-touch-icon-76x76.png" th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/trinity/favicons/apple-touch-icon-114x114.png" th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/trinity/favicons/apple-touch-icon-120x120.png" th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/trinity/favicons/apple-touch-icon-144x144.png" th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/trinity/favicons/apple-touch-icon-152x152.png" th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/trinity/favicons/apple-touch-icon-180x180.png" th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-32x32.png" th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-194x194.png" th:href="@{/resources/images/favicons/favicon-194x194.png}" sizes="194x194" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-96x96.png" th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/android-chrome-192x192.png" th:href="@{/resources/images/favicons/android-chrome-192x192.png}" sizes="192x192" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-16x16.png" th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
        <link rel="manifest" href="../../images/trinity/favicons/manifest.json" th:href="@{../../images/trinity/favicons/manifest.json}" />
        <link rel="mask-icon" href="../../images/trinity/favicons/safari-pinned-tab.svg" th:href="@{/resources/images/favicons/safari-pinned-tab.svg}" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-TileImage" content="../../images/trinity/favicons/mstile-144x144.png" th:content="@{/resources/images/favicons/mstile-144x144.png}" />
        <meta name="theme-color" content="#ffffff" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
    </head>
    <body>

        <!-- コンテンツ -->
        <article class="contents" th:fragment="innerHtml">
            <div class="contentsHeader">
                <h1 th:text="#{ReleaseRequestList.header.text}" th:if="${printTabName == 'List' AND !result.param.selectedDraft}">リリース申請の一覧</h1>
                <h1 th:text="#{ReleaseRequestList.draftHeader.text}" th:if="${printTabName == 'List' AND result.param.selectedDraft}">リリース申請の一覧</h1>
                <h1 th:text="#{ReleaseRequestList.pendingHeader.text}" th:if="${printTabName == 'Pending'}">リリース申請の一覧</h1>
                <h1 th:text="#{ReleaseRequestList.approvedHeader.text}" th:if="${printTabName == 'Approved'}">リリース申請の一覧</h1>
            </div>
            
			<table class="table tableSearchResults table-bordered" id="listPrint"  th:if="${printTabName == 'List' AND result.param.selectedDraft == false}">
                <thead>
                	<th>No</th>
                    <th th:text="#{ReleaseRequestList.tableReleaseRequestID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableBuildPackageID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableReleaseEnvironment.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableSubmitter.text}"></th>
                    <th th:utext="#{ReleaseRequestList.tableRequestDate.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableStatus.text}"></th>
                </thead>

                <tbody>
                    <tr th:each="res,start : ${result.releaseRequestViews}">
                    	<th th:text="${start.count}">1</th>
                        <td th:text="${res.raId}"></td>
                        <td th:text="${res.bpId}"></td>
                        <td th:text="${res.envNm}"></td>
                        <td th:text="${res.submitterNm}"></td>
                        <td th:text="${res.requestDate}"></td>
                        <td class="labels"><span
                            class="label label-justify"
                            th:classappend="'rmStatus'+'__${res.stsId}__'"
                            th:text="#{Constants.rmStatus.__${res.stsId}__.text}"></span></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered no-margin-top" id="draftPrint"  th:if="${printTabName == 'List' AND result.param.selectedDraft == true}">
                <thead>
                	<th>No</th>
                    <th th:text="#{ReleaseRequestList.tableReleaseRequestID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableBuildPackageID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableReleaseEnvironment.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableSubmitter.text}"></th>
                    <th th:utext="#{ReleaseRequestList.tableReleaseDate.text}"></th>
                    <th th:utext="#{ReleaseRequestList.tableSaveDate.text}"></th>
                </thead>

                <tbody>
                    <tr th:each="res,start : ${result.draftReleaseRequestViews}">
                    	<th th:text="${start.count}">1</th>
                        <td th:text="${res.raId}"></td>
                        <td th:text="${res.bpId}"></td>
                        <td th:text="${res.envNm}"></td>
                        <td th:text="${res.submitterNm}"></td>
                        <td th:text="${res.preferredDate}"></td>
                        <td th:text="${res.savedDateTime}"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered no-margin-top" id="pendingPrint" th:if="${printTabName == 'Pending'}">
                <thead>
                	<th>No</th>
                    <th th:text="#{ReleaseRequestList.tableReleaseRequestID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableBuildPackageID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableReleaseEnvironment.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableSubmitter.text}"></th>
                    <th th:utext="#{ReleaseRequestList.tableReleaseDate.text}"></th>
                </thead>

                <tbody>
                    <tr th:each="res,start : ${result.releaseRequestViews}">
                    	<th th:text="${start.count}">1</th>
                        <td th:text="${res.raId}"></td>
                        <td th:text="${res.bpId}"></td>
                        <td th:text="${res.envNm}"></td>
                        <td th:text="${res.submitterNm}"></td>
                        <td th:text="${res.preferredDate}"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered no-margin-top" id="approvedPrint" th:if="${printTabName == 'Approved'}">
                <thead>
                	<th>No</th>
                    <th th:text="#{ReleaseRequestList.tableReleaseRequestID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableBuildPackageID.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableReleaseEnvironment.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableSubmitter.text}"></th>
                    <th th:utext="#{ReleaseRequestList.tableReleaseDate.text}"></th>
                    <th th:text="#{ReleaseRequestList.tableStatus.text}"></th>
                </thead>

                <tbody>
                    <tr th:each="res,start : ${result.releaseRequestViews}">
                    	<th th:text="${start.count}">1</th>
                        <td th:text="${res.raId}"></td>
                        <td th:text="${res.bpId}"></td>
                        <td th:text="${res.envNm}"></td>
                        <td th:text="${res.submitterNm}"></td>
                        <td th:text="${res.preferredDate}"></td>
                        <td class="labels"><span
                            class="label label-justify"
                            th:classappend="'rmStatus'+'__${res.stsId}__'"
                            th:text="#{Constants.rmStatus.__${res.stsId}__.text}"></span></td>
                        
                    </tr>
                </tbody>
            </table>
        </article>

        <!-- JS -->
        <script src="../../js/trinity/jquery-1.12.1.min.js"
                th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
        <script src="../../js/trinity/jquery-ui.min.js"
                th:src="@{/resources/js/jquery-ui.min.js}"></script>
        <script src="../../js/trinity/bootstrap.min.js"
                th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../js/trinity/main-min.js"
                th:src="@{/resources/js/main-min.js}"></script>
        <script src="../../js/trinity/trinity.common.js"
                th:src="@{/resources/js/trinity.common.js}"></script>
    	<script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
    </body>
</html>