<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{RemovalReqDetails.title.text}" th:fragment="titleHtml">trinity | Lot - View
    Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap.min.deploy.print.css"
    th:href="@{/resources/css/print.css}" media="print" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{ChkInReqDetails.header.text}">返却申請の詳細</h1>
        </div>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{RemovalReqDetails.basicInfo.text}">基本情報</span>
            </h2>

            <dl class="dl-horizontal">
                <dt>
                    <span th:text="#{RemovalReqDetails.lotID.text}">ロット番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.lotId}">LOT-1511020001</span>&nbsp;
                    <span class="label"
                        th:classappend="'amStatus'+${result.detailsView.lotStsId}"
                        th:text="#{Constants.amStatus.__${result.detailsView.lotStsId}__.text}">ロット進行中</span>
                </dd>
                <dt>
                    <span th:text="#{RemovalReqDetails.approvalID.text}"></span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.areqId}"></span>
                </dd>
                <dt>
                    <span th:text="#{RemovalReqDetails.changeID.text}">変更管理番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.pjtId}">PJT-15110400011</span>&nbsp;
                    <span class="label label-medium"
                        th:classappend="'amStatus'+${result.detailsView.pjtStsId}"
                        th:text="#{Constants.amStatus.__${result.detailsView.pjtStsId}__.text}">変更進行中</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RemovalReqDetails.referenceID.text}">変更要因番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.referenceId}">RFC-12345</span>
                </dd>
            </dl>
            <br />
            <div class="row">
                <div class="col-sm-5">
                    <dl class="dl-horizontal">
                        <dt class="userLabel">
                            <span
                                th:text="#{RemovalReqDetails.submitter.text}">申請者</span>
                        </dt>
                        <dd class="user">
                            <img src="img/common/icon_obake.png"
                                th:src="${result.detailsView.submitterIconPath}"
                                alt="Tommy Robinson" class="userImg"
                                height="13px" /> <span
                                th:text="${result.detailsView.submitterNm}">Tommy
                                Robinson</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <br />
            <div class="row">
            	<div class="col-sm-5">
                    <dl class="dl-horizontal">
                        <dt>
                            <span
                                th:text="#{RemovalReqDetails.submitterGroup.text}">申請のグループ</span>
                        </dt>
                        <dd>
                            <span
                                th:text="${result.detailsView.groupNm}">グループ1</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-5">
                    <dl class="dl-horizontal">
                        <dt class="userLabel">
                            <span
                                th:text="#{RemovalReqDetails.assignee.text}">担当者</span>
                        </dt>
                        <dd class="user">
                            <img
                                th:if="not ${#strings.isEmpty(result.detailsView.assigneeIconPath)}"
                                src="img/common/icon_obake.png"
                                th:src="${result.detailsView.assigneeIconPath}"
                                alt="Tommy Robinson" class="userImg"
                                height="13px" /> <span
                                th:text="${result.detailsView.assigneeNm}">Tommy
                                Robinson</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <br />
            <dl class="dl-horizontal">
                <dt>
                    <span th:text="#{RemovalReqDetails.subject.text}">申請件名</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.subject}">なぜそんな無闇をしたと聞く人があるかも知れぬ</span>
                </dd>
                <dt>
                    <span th:text="#{RemovalReqDetails.contents.text}">申請内容</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.contents}">別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RemovalReqDetails.removalDate.text}">削除日</span>
                </dt>
                <dd>
                    <span
                        th:text="${result.detailsView.removalRequestTime}">2015/11/24</span>
                </dd>
                <dt>
                    <span th:text="#{RemovalReqDetails.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.ctgNm}">テスト</span>
                </dd>
                <dt>
                    <span th:text="#{RemovalReqDetails.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                </dd>
            </dl>
        </section>

        <section class="section sectionRadius">
            <h2 th:text="#{RemovalReqDetails.fileInfo.text}">返却ファイル情報</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{RemovalReqDetails.treeFilename.text}"></span></th>
                        <th><span
                            th:text="#{RemovalReqDetails.treeFilesize.text}"></span></th>
                        <th><span
                            th:text="#{RemovalReqDetails.treeSubmitter.text}"></span></th>
                        <th><span
                            th:text="#{RemovalReqDetails.treeRemovalDate.text}"></span></th>
                        <th><span
                            th:text="#{RemovalReqDetails.treeStatus.text}"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="res : ${result.cacheAreqFileEntities}">
                        <td th:text="${res.filePath}">trinity/lib/Blueship/groupA/build.xml</td>
                        <td th:text="${res.fileByteSize}">12500MB</td>
                        <td><span
                            th:text="${result.detailsView.submitterNm}"></span></td>
                        <td><span
                            th:text="${result.detailsView.removalRequestTime}"></span></td>
                        <!--                             <td class="labels" th:switch="${res.fileStsId}"> -->
                        <!-- 								<span th:case="EQUAL" -->
                        <!-- 								class="label labelNotChanged label-short" th:text="#{FileStatus.equal.text}">未変更</span> -->
                        <!-- 								<span th:case="ADD" -->
                        <!-- 								class="label labelAdded label-short" th:text="#{FileStatus.equal.text}">新規</span> -->
                        <!-- 								<span th:case="EDIT" -->
                        <!-- 								class="label labelChanged label-short"  th:text="#{FileStatus.equal.text}">変更</span> -->
                        <!-- 								<span th:case="DELETE" -->
                        <!-- 								class="label labelDeleted label-short" th:text="#{FileStatus.delete.text}">削除</span> -->
                        <!-- 							</td> -->
                        <td><span class="label label-medium"
                            th:classappend="'amStatus'+${result.detailsView.stsId}"
                            th:text="#{Constants.amStatus.__${result.detailsView.stsId}__.text}">
                        </span></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
/* ]]> */
</script>
</body>
</html>
