<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{ChangeReqApproved.title.text}">trinity
    | Change Request - Pending Approval - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>


    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span th:text="#{ChangeReqApproved.header.text}">変更承認の詳細</span>
            </h1>
        </div>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{ChangeReqApproved.basicInfo.text}">基本情報</span>
            </h2>

            <dl class="dl-horizontal">
                <dt>
                    <span th:text="#{ChangeReqApproved.changeID.text}">変更管理番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.pjtId}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqApproved.referenceID.text}">変更要因番号</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.referenceId}"></span>&nbsp;
                    <span class="label"
                        th:classappend="'amStatus'+${result.detailsView.stsId}"
                        th:text="#{Constants.amStatus.__${result.detailsView.stsId}__.text}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqApproved.referenceCategory.text}">変更要因分類</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.chgFactorId}"></span>
                </dd>
                <dt class="userLabel">
                    <span th:text="#{ChangeReqApproved.submitter.text}">申請者</span>
                </dt>
                <dd class="user">
                    <img
                        th:src="${result.detailsView.submitterIconPath}"
                        alt="Jim Cruz" class="userImg" /> <span
                        th:text="${result.detailsView.submitterNm}"></span>
                </dd>
                <dt class="userLabel">
                    <span th:text="#{ChangeReqApproved.assignee.text}">担当者</span>
                </dt>
                <dd class="user">
                    <img
                        th:if="not ${#strings.isEmpty(result.detailsView.assigneeIconPath)}"
                        th:src="${result.detailsView.assigneeIconPath}"
                        alt="Jim Cruz" class="userImg" /> <span
                        th:text="${result.detailsView.assigneeNm}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{ChangeReqApproved.submittedDate.text}">登録日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.createdTime}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.updated.text}">変更日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.updTime}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.subject.text}">変更概要</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.summary}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.contents.text}">変更内容</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.contents}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.categoryNm}"></span>
                </dd>
                <dt>
                    <span th:text="#{ChangeReqApproved.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mstoneNm}"></span>
                </dd>
            </dl>
        </section>

        <section class="section sectionRadius">
            <h2>
                <span th:text="#{ChangeReqApproved.requestInfo.text}">申請情報</span>
            </h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{ChangeReqApproved.tableRequestType.text}">申請区分</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableRequestID.text}">申請情報番号</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubject.text}">申請件名</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubmittedTime.text}">申請日時</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubmitter.text}">申請者</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableSubmitterGroup.text}">申請グループ</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableStatus.text}">ステータス</span></th>
                    </tr>
                </thead>
                <tbody th:each="res : ${result.approvedRequestViews}">
                    <tr>
                        <td class="labels"><span
                            class="label"
                            th:classappend="'kindLabel'+${res.areqType}"
                            th:text="#{Constant.requestType.__${res.areqType}__.text}"></span></td>
                        <td><span th:text="${res.areqId}"></span></td>
                        <td><span th:text="${res.subject}"></span></td>
                        <td><span th:text="${res.requestTime}"></span></td>
                        <td class="user"><img
                            th:src="${res.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /> <span
                            th:text="${res.submitterNm}"></span></td>
                        <td><span th:text="${res.groupNm}"></span></td>
                        <td class="labels"><span
                            class="label label-justify"
                            th:classappend="'amStatus'+'__${res.stsId}__'"
                            th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{ChangeReqApproved.tableDate.text}">日時</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableApprovalType.text}">承認の種別</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableApprover.text}">申請/取消者</span></th>
                        <th><span
                            th:text="#{ChangeReqApproved.tableComments.text}">コメント</span></th>
                    </tr>
                </thead>
                <tbody th:each="res : ${result.approvedHistoryViews}">
                    <tr>
                        <td><span th:text="${res.updTime}"></span></td>
                        <td><span class="label label-justify"
                            th:classappend="'amStatus'+${res.stsId}"
                            th:text="#{Constants.amStatus.__${res.stsId}__.text}"></span></td>
                        <td class="user"><img
                            th:src="${result.detailsView.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /> <span
                            th:text="${res.submitterNm}"></span></td>
                        <td><span th:text="${res.comment}"></span></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
</body>
</html>
