<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ConflictCheckDifferences.title.text}"
    th:fragment="titleHtml">trinity | Conflict Check - View Differences</title>

<!-- CSS -->
<link href="../../css/trinity/bootstrap.min.css" rel="stylesheet"/>
<link href="../../css/trinity/font-awesome.min.css" rel="stylesheet"/>
<link href="../../css/trinity/trinity.css" rel="stylesheet"/>
    
    
 <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/trinity/favicons/apple-touch-icon-57x57.png" th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/trinity/favicons/apple-touch-icon-60x60.png" th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/trinity/favicons/apple-touch-icon-72x72.png" th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/trinity/favicons/apple-touch-icon-76x76.png" th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/trinity/favicons/apple-touch-icon-114x114.png" th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/trinity/favicons/apple-touch-icon-120x120.png" th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/trinity/favicons/apple-touch-icon-144x144.png" th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/trinity/favicons/apple-touch-icon-152x152.png" th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/trinity/favicons/apple-touch-icon-180x180.png" th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-32x32.png" th:href="@{/resources/images/favicons/favicon-32x32.png}" sizes="32x32" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-194x194.png" th:href="@{/resources/images/favicons/favicon-194x194.png}" sizes="194x194" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-96x96.png" th:href="@{/resources/images/favicons/favicon-96x96.png}" sizes="96x96" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/android-chrome-192x192.png" th:href="@{/resources/images/favicons/android-chrome-192x192.png}" sizes="192x192" />
        <link rel="icon" type="image/png" href="../../images/trinity/favicons/favicon-16x16.png" th:href="@{/resources/images/favicons/favicon-16x16.png}" sizes="16x16" />
        <link rel="manifest" href="../../images/trinity/favicons/manifest.json" th:href="@{../../images/trinity/favicons/manifest.json}" />
        <link rel="mask-icon" href="../../images/trinity/favicons/safari-pinned-tab.svg" th:href="@{/resources/images/favicons/safari-pinned-tab.svg}" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-TileImage" content="../../images/trinity/favicons/mstile-144x144.png" th:content="@{/resources/images/favicons/mstile-144x144.png}" />
        <meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js"></script>
<script src="../../js/trinity/respond.min.js"></script>
<![endif]-->
</head>
<body>

<!-- コンテンツ -->

	<article class="contents" th:fragment="innerHtml">
		<div class="contentsHeader">
			<h1>
        		<span th:text="#{ConflictCheckDifferences.header.text}">コンフリクトチェック時の差分比較</span>
    		</h1>
		</div>

		<section class="section sectionDiff">
            <div class="sectionDiffHeader">
                <div class="sectionDiffHeaderLeft">
                    <ul class="statusList">
                        <li class="deleted"><span
                            th:text="#{ConflictCheckDifferences.remove.text}">削除</span></li>
                        <li class="added"><span
                            th:text="#{ConflictCheckDifferences.add.text}">追加</span></li>
                        <li class="changed"><span
                            th:text="#{ConflictCheckDifferences.change.text}">変更</span></li>
                    </ul>
                </div>

                <form id="FlowConflictCheckDifferencesService"
                    class="form-inline sectionDiffHeaderRight"
                    th:action="@{/merge/conflictcheck/result/diff}"
                    method="POST" target="CloneWindow">
                    <input type="hidden" name="RequestType"
                        value="onChange" /> <input type="hidden"
                        name="srcVer"
                        th:value="${result.getParam().getInputInfo().getSrc().value()}" />
                    <input type="hidden" name="dstVer"
                        th:value="${result.getParam().getInputInfo().getDest().value()}" />

	           </form>
            </div>
            
            <div id="diffResult" class="sectionDiffBody">
                <div class="sectionDiffBodyLeft matchHeight">
                    <div class="codeHead">
                        <!--<h2 th:text="#{ConflictCheckDifferences.__${result.getParam().getInputInfo().getSrc().value()}__.text}">HEAD資産</h2>-->
                        <h2
                            th:text="#{ConflictCheckDifferences.boxHeadResources.text}">HEAD資産</h2>
                        <ul>
                            <li><span
                                th:text="${result.getResourceComparisonView().getSrcResource().getResourcePath()}">/lib/src/main/abc.sh</span>(
                                <span
                                th:text="${result.getResourceComparisonView().getSrcResource().getResourceUpdTime()}">（2016/1/5
                                    12:30）</span>)</li>
                            <li class="user"><a
                                href="javascript:void(0)"
                                th:text="${result.getResourceComparisonView().getSrcResource().getSubmitterNm()}">
                                    <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    alt="Tommy Robinson" class="userImg" />Tommy
                                    Robinson
                            </a></li>
                        </ul>
                    </div>
                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.getResourceComparisonView().getLine()}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}"
                                    class="deleted">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sectionDiffBodyCenter matchHeight">
                    <span><i class="fa fa-chevron-right"></i></span>
                </div>
                <div class="sectionDiffBodyRight matchHeight">
                    <div class="codeHead">
                        <!--<h2 th:text="#{ConflictCheckDifferences.__${result.getParam().getInputInfo().getSrc().value()}__.text}">HEAD資産</h2>-->
                        <h2
                            th:text="#{ConflictCheckDifferences.boxHeadResources.text}">HEAD資産</h2>
                        <ul>
                            <li><span
                                th:text="${result.getResourceComparisonView().getDestResource().getResourcePath()}">/lib/src/main/abc.sh</span>(
                                <span
                                th:text="${result.getResourceComparisonView().getDestResource().getResourceUpdTime()}">（2016/1/5
                                    12:30）</span>)</li>
                            <li class="user"><a
                                href="javascript:void(0)"
                                th:text="${result.getResourceComparisonView().getDestResource().getSubmitterNm()}">
                                    <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    alt="Tommy Robinson" class="userImg" />Tommy
                                    Robinson
                            </a></li>
                        </ul>
                    </div>
                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.getResourceComparisonView().getLine()}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}"
                                    class="added">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
</article>


<!-- JS -->
<script src="../../js/trinity/jquery-1.12.1.min.js"></script>
<script src="../../js/trinity/jquery-ui.min.js"></script>
<script src="../../js/trinity/bootstrap.min.js"></script>
<script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
	</script>
</body>
</html>