<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml"
    th:text="#{RRApprovalPendingApprovalDetails.title.text}">
    trinity | Release Request - Pending Approval - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span
                    th:text="#{RRApprovalPendingApprovalDetails.header.text}">リリース申請の詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <i class="fa fa-question"></i>
            </div>
        </div>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{RRApprovalPendingApprovalDetails.infomation.text}">基本情報</span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.requestID.text}">申請番号</span>
                </dt>
                <dd>
                    <span th:text="${result.param.selectedRaId}">RA-1511240001</span>
                </dd>
                <dt class="userLabel">
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.submitter.text}">申請者</span>
                </dt>
                <dd class="user">
                    <img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="${result.detailsView.submitterIconPath}"
                        alt="Tommy Robinson" height="13px"
                        class="userImg" /> <span
                        th:text="${result.detailsView.submitterNm}">Tommy
                        Robinson</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.group.text}">申請グループ</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.submitterGroup}">運用保守T</span>
                </dd>
                <dt class="userLabel">
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.supervisor.text}">申請責任者</span>
                </dt>
                <dd class="user">
                    <img
                        th:if="${not #strings.isEmpty(result.detailsView.supervisorIcon)}"
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="${result.detailsView.supervisorIcon}"
                        alt="Jim Cruz" height="13px" class="userImg" />
                    <span th:text="${result.detailsView.supervisor}">Jim
                        Cruz</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.releseEnv.text}">リリース環境</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.relEnvNm}">開発</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.PreferredDate.text}">リリース希望日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.preferredDate}">2015/11/25</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.package.text}">ビルドパッケージ</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.bpId}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.Remarks.text}">備考</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.remarks}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.attached.text}">添付ファイル</span>
                </dt>
                <dd>
                    <ul
                        th:each="res : ${result.detailsView.attachmentFileNms}">
                        <li><span><i
                                class="fa fa-file-o fa-2x"></i></span>&nbsp; <span
                            th:text="${res}"></span></li>
                    </ul>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.ctgNm}">テスト</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalPendingApprovalDetails.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                </dd>
            </dl>
        </section>
    </article>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			$(document).ready(function(){
				window.print();
			});
		/* ]]> */
		</script>
</body>
</html>