<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ProductLicenseRegistration.title.text}">trinity
    | Product License Registration</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/SourceCodePro.css"
    th:href="@{/resources/css/SourceCodePro.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body class="loginBody">
     <!-- 帯ポップアップ/bandPopup-->
     <div th:replace="common/BandPopup::bandPopup">BandPopup</div>

     <input type="hidden" id="windowId" name="windowId"
            th:value="${result.header.windowsId}" />
     
     <input type="hidden" id="contextPath" name="contextPath" th:value="@{/}" />

     <form id="FlowDashboardService" method="post" th:action="@{/dashboard}">
     	<input type="hidden" name="RequestType" value="init" />
     </form>

     <form id="FlowDashboardV3Service" method="post" th:action="@{/dashboardV3}">
         <input type="hidden" name="RequestType" value="init" />
     </form>

    <!-- ログインヘッダー -->
    <header th:replace="template/LoginHeader::LoginHeader">

    </header>

    <!-- コンテンツ -->

    <article class="contents" id="loginArticle">
        <h1>
            <span class="projectIcon"><img
                src="../../images/trinity/common/icon_globalHeaderIcon.png"
                th:src="${result.header.projectIconPath}" /></span>
                <span>trinity</span>
        </h1>

        <section class="loginSection wide">
            <nav class="loginSectionNav">
                <a th:href="@{/logout}" class="underline"><span><i
                        class="fa fa-arrow-left"></i></span><span
                    th:text="#{ProductLicenseRegistration.returnLogin.text}">ログイン画面にもどる</span></a>
            </nav>
            <div class="loginFormUnit2">
                <form class="form-horizontal" id="FlowLoginProductLicenseService"
                    th:action="@{/login/license}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" />

                    <div id="lookAndFeel" th:text="${result.lookAndFeel.trinityClassic}" style="display:none;" ></div>
                    <!-- if error -->
                    <nav class="sectionConfigContentsNav">
                        <ul class="sectionNavLeft">
                            <li>
                                <div th:replace="common/Messages::message">Messages</div>
                            </li>
                        </ul>
                    </nav>

                    <div th:each="productId : ${result.detailsViewBeans.keySet()}"
                              th:with="detailsView = ${result.detailsViewBeans.get(productId)},
                                         inputInfo = ${result.param.inputBeans.get(productId)}"
                              th:id="|${productId}Block|"
                              th:style="${inputInfo.submit} ? 'display:block' : 'display:none'">
                    <input type="hidden"
                           th:name="|${productId}Submit|"
                           th:value="true"
                           th:disabled="${!inputInfo.submit}"/>
                    <div class="loginFormUnitInfo"
                         th:utext="#{ProductLicenseRegistration.__${detailsView.productId}__.info.text}">
                        trinityのご利用ありがとうございます。<br />
                        この製品を利用するにはプロダクトキーとAgentライセンスが必要です。<br />
                        プロダクトキーとAgentライセンスを発行するにはtrinityサポートまで「シリアルナンバー」と「使用するAgent
                        数」をお伝えください。
                    </div>
                    <div class="loginFormUnitContents">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                th:text="#{ProductLicenseRegistration.serialNumber.text}">シリアルナンバー</label>
                            <div class="col-sm-9">
                                <p class="form-control-static"
                                    style="font-family: 'Source Code Pro';"
                                    th:text="${detailsView.serialNumber}">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span
                                class="required">*</span><span
                                th:text="#{ProductLicenseRegistration.productKey.text}">プロダクトキー</span></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}ProductKey1|"
                                        th:name="|${productId}ProductKey1|"
                                        size="8"
                                        onKeyUp="nextField(this)"
                                        th:value="${inputInfo.productKey.key1}" />
                                    <span class="input-group-addon"
                                        style="padding: 0 4px;">-</span>
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}ProductKey2|"
                                        th:name="|${productId}ProductKey2|"
                                        size="8"
                                        onKeyUp="nextField(this)"
                                       	th:value="${inputInfo.productKey.key2}" />
                                    <span class="input-group-addon"
                                        style="padding: 0 4px;">-</span>
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}ProductKey3|"
                                        th:name="|${productId}ProductKey3|"
                                        size="8"
                                        onKeyUp="nextField(this)"
                                        th:value="${inputInfo.productKey.key3}" />
                                    <span class="input-group-addon"
                                        style="padding: 0 4px;">-</span>
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}ProductKey4|"
                                        th:name="|${productId}ProductKey4|"
                                        size="8"
                                        onKeyUp="nextField(this)"
                                        th:value="${inputInfo.productKey.key4}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" th:if="${inputInfo.rm}">
                            <label class="col-sm-3 control-label"><span
                                th:text="#{ProductLicenseRegistration.agentKey.text}">Agentキー</span></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}AgentKey1|"
                                        th:name="|${productId}AgentKey1|"
                                        size="8"
                                        onKeyUp="nextField(this)"
                                       	th:value="${inputInfo.agentKey.key1}" />
                                    <span class="input-group-addon"
                                        style="padding: 0 4px;">-</span>
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}AgentKey2|"
                                        th:name="|${productId}AgentKey2|"
                                        size="8"
                                        onKeyUp="nextField(this)"
                                        th:value="${inputInfo.agentKey.key2}" />
                                    <span class="input-group-addon"
                                        style="padding: 0 4px;">-</span>
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}AgentKey3|"
                                        th:name="|${productId}AgentKey3|"
                                        size="8"
                                        onKeyUp="nextField(this)"
                                        th:value="${inputInfo.agentKey.key3}" />
                                    <span class="input-group-addon"
                                        style="padding: 0 4px;">-</span>
                                    <input type="text"
                                        style="text-transform: uppercase; font-family: 'Source Code Pro';"
                                        class="form-control input-sm"
                                        th:id="|${productId}AgentKey4|"
                                        th:name="|${productId}AgentKey4|"
                                        size="8"
                                        th:value="${inputInfo.agentKey.key4}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="loginFormUnitBtn">
                        <input type="button"
                        	onclick="submitLicenseEdit()"
                            th:value="#{ProductLicenseRegistration.register.text}"
                            class="btn btn-default strong" />
                    </div>
                    <div class="loginFormRememberForgot">
                        <label>
                            <input type="checkbox" id="trinityDeploymentOptionToggle"/>
                            <span th:text="#{ProductLicenseRegistration.trinityDeploymentOption.purchased.text}">DeploymentOptionをご購入の方</span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="loginFormForgot">
                <span class="helpBtn inline"><a th:href="#{ProductLicenseRegistration.help.url}" target="_blank" class="underline"><i
                        class="fa fa-question"></i></a></span><span th:text="#{ProductLicenseRegistration.help.text}">ライセンス登録方法はこちら</span>
            </div>
        </section>

    </article>





    <!-- フッター -->

    <footer id="globalFooter" th:replace="template/Footer::Footer">
        <small><span th:text="#{Footer.copyright1.text}">trinity
                V4 Copyright&copy;</span> <i class="fa fa-copyright"></i><span
            th:text="#{Footer.copyright2.text}"> 2016- by
                Blueship. All rights reserved.</span></small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href=""><span
                        th:text="#{Footer.contact.us.text}">お問い合わせ</span></a></li>
                <!--<li><a href=""><span th:text="#{Footer.faq.text}">よくあるご質問FAQ</span></a></li>-->
                <li><a href=""><span
                        th:text="#{Footer.help.text}">ヘルプ</span></a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_blueship.svg"
                            th:src="@{/resources/images/common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="images/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="resources/js/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
    /* <![CDATA[ */
        var inputKeySel = 'input[type=text][name*=Key]';
        $(inputKeySel).on('focus', function () {
            this.select();
        }).on('input', function () {
            var inputs = $(this).closest('form').find(inputKeySel);
            var next = inputs.eq(inputs.index(this) + 1);
            if (this.value.length >= 8) {
                next.focus();
                if (this.value.length > 8) {
                    next.val(this.value.substring(8)).trigger('input');
                    this.value = this.value.substring(0, 8);
                }
            }
        });

        $('#trinityDeploymentOptionToggle')
        .prop("checked", !$('[name=trinityDeploymentOptionSubmit]').prop("disabled"))
        .change(function () {
            $('#trinityDeploymentOptionBlock').toggle();
            $('[name=trinityDeploymentOptionSubmit]').prop('disabled', function (i, v) {
                return !v;
            });
        });

	    function submitLicenseEdit() {
			var timeOut = null
			var url = /*[[ @{/login/license} ]]*/'/trinity/login/license';
			var form = document.getElementById('FlowLoginProductLicenseService');
			appendWindowId(form);

            $.post(url, $(form).serialize()).done(
                function(data, status, xhr) {
                	$("#message").replaceWith($(data).find("#message"));
                	$("#message")[0].scrollIntoView();
                    if($("#message").children().size() === 0) {
                        $("#infoDialog").html($(data).find("#infoDialog").html());
                        var messageTxt = $("#infoDialog .bandPopupMessage").html()
                        var doc = new DOMParser().parseFromString(data, 'text/html');
                        var classicLookAndFeel = doc.getElementById("lookAndFeel").innerHTML;
                        var formName = 'FlowDashboardService';
                        if (classicLookAndFeel == 'true') {
                            formName = 'FlowDashboardV3Service'
                        }
                        submitRedirectToDashboard(messageTxt, formName);
                    }
                }).fail(function() {
                    console.log("submitLicenseEdit fail");
                }).always(function() {
                });
	    }

	    function submitRedirectToDashboard(messageTxt, formName) {
	    	openBandPopup({
				message		: messageTxt,
				btn1Text	: /*[[#{ProductLicense.ok.text}]]*/'OK',
				btn1Func	: function() {
								safeSubmit(formName);
							 },
			});
	    }
    /* ]]> */
    </script>

    <!-- this is dummy for design -->
    <script>
            /* $('#FlowLoginProductLicenseService').submit(function(){
                //とりあえず文言すべて（３種類）入れたが、実際にはどれか１つ。
                $(".bandPopup .bandPopupMessage").html('<span>プロダクトキー・Agent ライセンスを登録しました。trinity は使用可能です。</span>');
                $(".bandPopup .bandPopupMessage").html('<span>プロダクトキー・Agent ライセンスを登録しました。2016 年3 月31 日までtrinity は使用可能です。</span>');
                $(".bandPopup .bandPopupMessage").html('<span>プロダクトキー・Agent ライセンスを登録しました。2016 年3 月31 日までtrinity は使用可能です。<br />Agent 機能を使うためには機能数分のライセンスが必要です。（必要なライセンス数4/ 購入済みライセンス数2）</span>');
                $(".bandPopup .bandPopupButton").html('<span><a href="Dashboard.html" class="btn btn-default" onClick="" >OK</a></span>');
                $(".bandPopup").fadeIn("500");
                return false;
            }) */
        </script>

</body>
</html>