<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title th:text="#{ProfileDetails.title.text}" th:fragment="titleHtml"></title>

<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/jquery-ui.css"
    th:href="@{/resources/css/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
		<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
		<![endif]-->

</head>
<body>
    

    <header th:replace="common/GlobalHeader::globalHeader"></header>

    <header id="lotHeader">
        <div th:replace="common/ProjectHeader::projectHeader"></div>
    </header>

    <header id="settingsHeader"></header>
    <article class="contents fullWidth" th:fragment="innerHtml">
    
    <span class="overviewPopup"
        style="position: absolute; z-index: 500;"></span>
        
        <div class="contentsHeader">
            <h1 th:text="#{ProfileDetails.header.text}">プロフィール</h1>
            <div class="contentsHeaderHelp helpBtn" style="position: relative; top: -5px;">
                <a th:href="#{Profile.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
        </div>
        
        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section">
            <div class="sectionContents profileSectionContents">
                <div class="row">
                    <div class="profileSidebar col-md-3">
                        <div class="text-center">
                            <img src="http://placehold.jp/128x128.png"
                                alt="" class="profileLargeAvatar" 
                                th:src="${result.detailsView.iconPath}"/>
                            <div class="profileName">
                                <span
                                    th:text="${result.detailsView.userNm}"></span>
                            </div>
                        </div>

                        <form class="profileEditForm form-inline"
                            th:action="@{/project/profile/edit}" method="POST"
                            id="FlowProfileEditService">
                            <input type="hidden" name="RequestType"
                                value="submitChanges" />
                            <div class="profileIntro">
                                <div class="profileIntroArrow"></div>
                                <div class="reader profileIntroText">
                                    <p
                                        th:text="${result.detailsView.biography}">
                                        Biography introduction</p>
                                </div>
                                <div class="editor form-group">
                                    <textarea rows="5"
                                        class="form-control"
                                        name="biography"
                                        th:text="${result.detailsView.biography}"></textarea>
                                    <p class="help-block"
                                        th:text="#{ProfileEdit.biography.help.text}">プロジェクトメンバーに自己紹介をしましょう</p>
                                </div>
                            </div>

                            <div class="profileInfo profileFormBlock">
                                <h3
                                    th:text="#{ProfileDetails.header.text}">プロフィール</h3>
                                <div class="profileFormBlockInner">
                                    <div class="reader">
                                        <div class="profileRow">
                                            <span
                                                th:text="#{ProfileDetails.gender.text}"></span>:
                                            <span 
                                                th:if="${result.detailsView.genderType + '' == 'Male'}" 
                                                th:text="#{ProfileEdit.gender.male.text}">Male</span>
                                            <span 
                                                th:if="${result.detailsView.genderType + '' == 'Female'}" 
                                                th:text="#{ProfileEdit.gender.female.text}">Female</span>
                                        </div>
                                        <div class="profileRow">
                                            <span
                                                th:text="#{ProfileDetails.location.text}"></span>:
                                            <span
                                                th:text="${result.detailsView.userLocation}"></span>
                                        </div>
                                    </div>

                                    <div class="editor">
                                        <div class="form-group">
                                            <label class=""
                                                th:text="#{ProfileDetails.gender.text}">性別:
                                            </label> <label class="radio-inline"><input
                                                type="radio"
                                                name="gender"
                                                value="MALE"
                                                th:checked="${result.detailsView.genderType + '' == 'Male'}" />
                                                <span
                                                th:text="#{ProfileEdit.gender.male.text}">男性</span>
                                            </label> <label class="radio-inline"><input
                                                type="radio"
                                                name="gender"
                                                value="FEMALE"
                                                th:checked="${result.detailsView.genderType + '' == 'Female'}" />
                                                <span
                                                th:text="#{ProfileEdit.gender.female.text}">女性</span>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label class=""
                                                th:text="#{ProfileDetails.location.text}">現在地:</label>
                                            <input type="text"
                                                class="form-control input-sm"
                                                name="userLocation"
                                                th:value="${result.detailsView.userLocation}" maxlength="256"/>
                                            <p class="help-block"
                                                th:text="#{ProfileEdit.location.help.text}">
                                                今どこにいらっしゃいますか? (例:福岡市)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="profileInfo profileFormBlock" >
                                <h3>Web</h3>
                                <div class="profileFormBlockInner">
                                    <div class="reader">
                                        <div
                                            th:each="url : ${result.detailsView.urls}"
                                            class="profileRow">
                                            <i class="fa fa-link"></i> <a
                                                href="javascript:void(0)"
												th:onclick="'javascript:window.open(\'' + ${url} + '\');return false;'"
                                                th:text="${url}"></a>
                                        </div>
                                    </div>

                                    <div class="editor urlFields form-group" id="url_invalid_message_location" style="position:relative">
                                        <div
                                            th:each="url : ${result.detailsView.urls}"
                                            style="display: block;"
                                            class="form-group urlFieldWrapper">
                                            <input 
                                            	class="form-control input-sm urlField validation validationMessageId validationMessagePosition validationCustomPattern"
                                				data-validationMessageId="formError_url"
                                				data-validationMessagePosition="url_invalid_message_location"
                                				data-validationCustomPattern="url"
                                                name="urls"
                                                th:value="${url}" 
                                                maxlength="256"/>
                                           
                                        </div>
                                        
                                        <div
                                            class="urlFieldsInsertPosition"></div>
										<div class="formError" id="formError_url" style="display: none;">
											<span th:text="#{Profile.invalidURLMessage.text}">Please input valid URL</span>
				                        </div>
                                        <div>
                                            <a href="#"
                                                class="btn btn-default editProfileAddURLButton"><i
                                                class="fa fa-plus"></i></a>
                                        </div>
                                        <p class="help-block"
                                            th:text="#{ProfileEdit.url.help.text}">ホームページやブログ、プロフィールページをお持ちの方は入力してください。</p>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="editor text-center profileFormSubmit">
                                <button type="button"
                                    class="btn btn-default btn-xs"
                                    th:text="#{ProfileEdit.update.button.text}"
                                    onClick="safeSubmit('FlowProfileEditService', {'validation':true});"></button>
                                <a href="javascript:void(0);" class="editProfileLink"
                                    th:text="#{ProfileEdit.cancel.button.text}">キャンセル</a>
                            </div>
                            <div th:if="${result.detailsView.userId} == ${result.userId}"
                                class="text-right reader profileFormAction">
                                <i class="fa fa-gear"></i> <a href="#"
                                    class="editProfileLink" 
                                    th:text="#{ProfileDetails.changeProfile.text}">Change
                                    profile</a>
                            </div>
                        </form>
                    </div>

                    <div class="profileMain col-md-9">
                        <div id="tabs">
                            <nav class="sectionNav sectionNavTab">
                                <dl class="sectionNavPager">
                                    <ul>
                                        <li><a href="#info"
                                        	th:text="#{Profile.latestActivity.text}"
                                            onClick="chnageTabToLatestActivity();">最近の活動</a></li>
                                        <li><a id="jumpGanttChart"
                                            href="#calendar"
                                            th:text="#{Profile.calendar.text}"
                                            onClick="chnageTabToGanttChart();">カレンダー</a></li>
                                    </ul>
                                </dl>
                            </nav>

                            <div id="info">
                                <div id="profileInfoLoadingSpin"
                                    class="profileInfoLoading"
                                    style="display: none">
                                    <i class="fa fa-refresh fa-spin"></i>
                                    <span
                                        th:text="#{Profile.latestActivityDesc.text(${result.detailsView.userNm})}">最近の
                                        さんを読み込み中です。少しお待ちください。</span>
                                </div>

                                <div id="latestActivityResult"
                                    style="display: none">
                                    <table
                                        th:each="day : ${result.latestActivityView.days}"
                                        class="profileUpdate table table-hover" >
                                        <caption>
                                            <span
                                                th:text="${day.dateSubject}">2016
                                                年1月 12 日(火)</span>
                                        </caption>
                                        <tbody>
                                            <tr
                                                th:each="view : ${day.recentUpdateViews}">
                                                <td class="text-center topic">
                                                    <span
                                                    th:utext="#{Profile.latestActivity.header.text(#{Profile.dataAttribute.__${view.dataAttribute.value()}__.text}, #{Constants.umActStatus.__${view.actStsId}__.text}, ${view.dataAttribute.value()} )}"></span>
                                                </td>
                                                <td><img
                                                    src="http://placehold.jp/64x64.png"
                                                   	th:src="${result.detailsView.iconPath}"
                                                    alt=""
                                                    class="profileAvatar" /></td>
                                                <td><a
                                                    href="javascript:void(0);"
                                                    th:onclick="'dispatch(\'' + ${view.lotId} + '\', \'' + ${view.dataAttribute.value()} + '\', \'' + ${view.dataId} + '\'); return false;'">
                                                        <span
                                                        th:text="${view.lotNm} + '(' + ${view.lotId} + ')'">ロット
                                                            A(LOT-1511020001)</span>
                                                        <span>&nbsp;</span>
                                                        <span
                                                        th:if="${view.dataAttribute.value() != 'Report'}"
                                                        th:text="${view.dataSubject} + '(' + ${view.dataId} + ')'">つれづれなるままに
                                                            (RFC-12345)</span>
                                                        <span
                                                        th:if="${view.dataAttribute.value() == 'Report'}"
                                                        th:text="#{__${view.dataSubject}__} + '(' + ${view.dataId} + ')'">つれづれなるままに
                                                            (RFC-12345)</span>
                                                </a> <br /> <span
                                                    th:if="${view.comment != null}"
                                                    th:text="${view.comment}"></span>
                                                    <span
                                                    th:if="${view.mstoneNm != null}"
                                                    th:text="#{Profile.latestActivity.milestone.text(${view.mstoneNm})}"></span>
                                                    <span
                                                    th:if="${view.ctgNm != null}"
                                                    th:text="#{Profile.latestActivity.category.text(${view.ctgNm})}"></span>
                                                </td>
                                                <td><span
                                                    th:text="${view.updTime}">20:13</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="latestActivityShowMore" style="text-align: center; padding-top: 15px;">
                                    <div
                                        th:if="${result.latestActivityView.hasNext()}"
                                        class="twoColumnSectionShowMore"
                                        onmouseenter="showMoreLatestActivity();">
                                        <div
                                            id="showMoreLatestActivityLoading"
                                            class="globalNavSearchResultLoading"
                                            style="display: none;">
                                            <div
                                                class="globalNavSearchResultLoadingMessage"
                                                style="color: #333333;">
                                                <p>
                                                    <i
                                                        class="fa fa-refresh fa-spin"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <span
                                            id="showMoreLatestActivity"
                                            th:text="#{Profile.showMore.text}">Show
                                            more</span>
                                    </div>
                                </div>
                            </div>


                            <div id="calendar">
                                <div id="ganttChartLoadingSpin"
                                    class="profileInfoLoading"
                                    style="display: none">
                                    <i class="fa fa-refresh fa-spin"></i>
                                    <span
                                        th:text="#{Profile.calendarDesc.text(${result.detailsView.userNm})}">最近の
                                        さんを読み込み中です。少しお待ちください。</span>
                                </div>

                                <div id="ganttChartResult"
                                    style="display: none">
                                    <div class="searchSection">
                                        <div class="sectionHeader">
                                            <h2 class="faBtn">
                                                <i
                                                    class="fa fa-minus-square"></i>
                                                <span
                                                    th:text="#{Profile.Calendar.searchConditions.text}">表示条件</span>
                                            </h2>
                                        </div>
                                        <div
                                            class="sectionContents faBtnContents">
                                            <div
                                                class="sectionContentsUnit">
                                                <table
                                                    style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <th
                                                                th:text="#{Profile.Calendar.condStartDate.text}">表示開始日</th>
                                                            <td
                                                                class="datePickerUnit searchBoxPartsSq">
                                                                <dl>
                                                                    <dt>
                                                                        <div
                                                                            class="form-inline">
                                                                            <span
                                                                                class="date datePickerGantt"
                                                                                id="datePickerGantt">
                                                                                <input
                                                                                type="text"
                                                                                class="inputSmallDate filterField"
                                                                                name="startDate"
                                                                                id="startDate"
                                                                                th:value="${result.ganttChartView.searchCondition.startDate}"
                                                                                style="width: 100px;" />
                                                                                <span
                                                                                class="input-group-addon datePickerIconWapper">
                                                                                    <img
                                                                                    src="../../images/trinity/common/icon_calender_mini.png"
                                                                                    th:src="@{/resources/images/common/icon_calender_mini.png}"
                                                                                    class="datePickerIcon"
                                                                                    alt="" />
                                                                            </span>
                                                                            </span>
                                                                        </div>
                                                                    </dt>
                                                                    <dd>
                                                                        <input
                                                                            class="btn btn-default btn-short"
                                                                            id="btn-change"
                                                                            type="button"
                                                                            value="変更"
                                                                            th:value="#{Profile.Calendar.ChangeStartDate.text}"
                                                                            style="min-width: 100px;" />
                                                                        <span>&nbsp;</span>
                                                                        <input
                                                                            class="btn btn-default btn-short"
                                                                            id="btn-today"
                                                                            type="button"
                                                                            value="今日"
                                                                            th:value="#{Profile.Calendar.ApplyToday.text}"
                                                                            style="min-width: 100px;" />
                                                                    </dd>
                                                                </dl>
                                                            </td>
                                                            <th
                                                                th:text="#{Profile.Calendar.condSpan.text}">表示範囲</th>
                                                            <td>
                                                                <ul
                                                                    class="searchCond"
                                                                    id="condSpan">
                                                                    <li
                                                                        th:each="res : ${result.ganttChartView.searchCondition.spanViews}">
                                                                        <a
                                                                        href="javascript:void(0);"
                                                                        class="searchCondItem searchCondItem_span"
                                                                        th:attr="data-value=${res.value()}"
                                                                        th:classappend="(${result.ganttChartView.searchCondition.span.value()} == ${res.value()})? select">
                                                                            <span
                                                                            th:text="#{Profile.Calendar.condSpan.__${res.value()}__.text}"></span>
                                                                    </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th
                                                                th:text="#{Profile.Calendar.condGrouping.text}">グルーピング</th>
                                                            <td>
                                                                <ul
                                                                    class="searchCond"
                                                                    id="condGrouping">
                                                                    <li
                                                                        th:each="res : ${result.ganttChartView.searchCondition.groupingViews}">
                                                                        <a
                                                                        href="javascript:void(0);"
                                                                        class="searchCondItem searchCondItem_grouping"
                                                                        th:attr="data-value=${res.value()}"
                                                                        th:classappend="(${result.ganttChartView.searchCondition.grouping.value()} == ${res.value()})? select">
                                                                            <span
                                                                            th:text="#{Profile.Calendar.condGrouping.__${res.value()}__.text}"></span>
                                                                    </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <th
                                                                th:text="#{Profile.Calendar.condStatus.text}">ステータス</th>
                                                            <td>
                                                                <ul
                                                                    class="searchCond"
                                                                    id="condStatus">
                                                                    <li
                                                                        th:each="res : ${result.ganttChartView.searchCondition.statusViews}">
                                                                        <a
                                                                        href="javascript:void(0);"
                                                                        class="searchCondItem searchCondItem_status"
                                                                        th:attr="data-value=${res.value()}"
                                                                        th:classappend="(${result.ganttChartView.searchCondition.status.value()} == ${res.value()})? select">
                                                                            <span
                                                                            th:text="#{Profile.Calendar.condStatus.__${res.value()}__.text}"></span>
                                                                    </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <section class="calendarSection">
                                        <nav
                                            class="calendarSectionHeader">
                                            <ul
                                                class="calendarSectionHeaderLeft">
                                                <li><a
                                                    href="javascript:void(0);"
                                                    onClick="ganttChartSetRequestOption('previous'); return false;"><span
                                                        th:text="#{Profile.Calendar.prevWeek.text}">一週間前</span></a></li>
                                                <li
                                                    th:text="${result.ganttChartView.searchCondition.startDate}"
                                                    id="startDatePager">2016/04/29</li>
                                                <li><a
                                                    href="javascript:void(0);"
                                                    onClick="ganttChartSetRequestOption('next'); return false;"><span
                                                        th:text="#{Profile.Calendar.nextWeek.text}">一週間後</span></a></li>
                                            </ul>
                                            <dl
                                                class="calendarSectionHeaderRight">
                                                <dt
                                                    th:text="#{Profile.Calendar.ganttStatus.text}">ステータス</dt>
                                                <dd>
                                                    <span
                                                        class="labelRed"
                                                        th:text="#{Profile.Calendar.ganttInProgress.text}">処理中</span>
                                                </dd>
                                                <dd>
                                                    <span
                                                        class=" labelBlue"
                                                        th:text="#{Profile.Calendar.ganttCompleted.text}">処理済み</span>
                                                </dd>
                                                <dd>
                                                    <span
                                                        class=" labelGreen"
                                                        th:text="#{Profile.Calendar.ganttClosed.text}">完了</span>
                                                </dd>
                                            </dl>
                                        </nav>

                                        <div id="result_replace"
                                            class="calendarSectionBody">
                                            <div
                                                class="calendarTableUnit"
                                                th:each="groupingView : ${result.ganttChartView.groupingViews}">
                                                <div
                                                    th:if="${groupingView.grouping.value()} != 'none'"
                                                    class="calendarTableUnitHeader">
                                                    <h2>
                                                        <span
                                                            class="caretToggle"></span>
                                                        <span
                                                            class="icon">
                                                            <img
                                                            th:src="@{/resources/images/common/icon_lot.png}"
                                                            th:alt="#{Profile.Calendar.dataAttribute.ChangeProperty.text}" />
                                                        </span> <span
                                                            th:text="${groupingView.groupingNm != ''}? ${groupingView.groupingNm} : #{Profile.Calendar.notSet.text}">Jim
                                                            Cruz</span>
                                                    </h2>
                                                </div>
                                                <div
                                                    class="calendarTable">
                                                    <div
                                                        class="calendarTableLeft calendarTableHeight"
                                                        style="height: 260px;"
                                                        th:style="'height: ' + ${groupingView.contents.size() * 40 + 60} + 'px;'">
                                                        <div
                                                            class="calendarTableLeftHeader">
                                                            <p
                                                                class="calendarTableLeftHeaderClose">
                                                                <a
                                                                    href="javascript:void(0);"><span
                                                                    th:text="#{Profile.Calendar.hide.text}">隠す</span></a>
                                                            </p>
                                                            <table
                                                                class="calendarTableLeftHeaderList">
                                                                <thead>
                                                                    <th
                                                                        class="calendarTableIcon"
                                                                        th:text="#{Calendar.kind.text}">種類</th>
                                                                    <th
                                                                        th:text="#{Profile.Calendar.subject.text}">件名</th>
                                                                 
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        th:each="content : ${groupingView.contents}">
                                                                        <td
                                                                            class="calendarTableIcon">
                                                                            <span
                                                                            th:unless="${groupingView.grouping} == 'assignee'"
                                                                            th:switch="${content.groupingDataType.value()}">
                                                                                <img
                                                                                th:case="ChangeProperty"
                                                                                th:src="@{/resources/images/common/icon_ChangeManegementInfomation.png}"
                                                                                th:alt="#{Calendar.dataAttribute.ChangeProperty.text}" />
                                                                                <img
                                                                                th:case="CheckOutRequest"
                                                                                th:src="@{/resources/images/common/icon_request.png}"
                                                                                th:alt="#{Calendar.dataAttribute.CheckOutRequest.text}" />
                                                                                <img
                                                                                th:case="CheckInRequest"
                                                                                th:src="@{/resources/images/common/icon_request.png}"
                                                                                th:alt="#{Calendar.dataAttribute.CheckInRequest.text}" />
                                                                                <img
                                                                                th:case="RemovalRequest"
                                                                                th:src="@{/resources/images/common/icon_request.png}"
                                                                                th:alt="#{Calendar.dataAttribute.RemovalRequest.text}" />
                                                                                <img
                                                                                th:case="BuildPackage"
                                                                                th:src="@{/resources/images/common/icon_BP.png}"
                                                                                th:alt="#{Calendar.dataAttribute.BuildPackage.text}" />
                                                                                <img
                                                                                th:case="ReleaseRequest"
                                                                                th:src="@{/resources/images/common/icon_request.png}"
                                                                                th:alt="#{Calendar.dataAttribute.ReleaseRequest.text}" />
                                                                                <img
                                                                                th:case="ReleasePackage"
                                                                                th:src="@{/resources/images/common/icon_RP.png}"
                                                                                th:alt="#{Calendar.dataAttribute.ReleasePackage.text}" />
                                                                                <img
                                                                                th:case="BuildPackageClose"
                                                                                th:src="@{/resources/images/common/icon_BP_close.png}"
                                                                                th:alt="#{Calendar.dataAttribute.BuildPackageClose.text}" />
                                                                                <img
                                                                                th:case="DeploymentJob"
                                                                                th:src="@{/resources/images/common/icon_Release_cooperation.png}"
                                                                                th:alt="#{Calendar.dataAttribute.DeploymentJob.text}" />
                                                                                <img
                                                                                th:case="DeploymentJobTimer"
                                                                                th:src="@{/resources/images/common/icon_timer.png}"
                                                                                th:alt="#{Calendar.dataAttribute.DeploymentJobTimer.text}" />
                                                                                <img
                                                                                th:case="ConflictCheck"
                                                                                th:src="@{/resources/images/common/icon_conflict_check2.png}"
                                                                                th:alt="#{Calendar.dataAttribute.ConflictCheck.text}" />
                                                                                <img
                                                                                th:case="Merge"
                                                                                th:src="@{/resources/images/common/icon_merge.png}"
                                                                                th:alt="#{Calendar.dataAttribute.Merge.text}" />
                                                                        </span>
                                                                            <span
                                                                            th:if="${groupingView.grouping} == 'assignee'">
                                                                                <img
                                                                                th:src="@{/resources/images/common/placeholder.png}"
                                                                                th:alt="${content.assigneeNm}" />
                                                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <a th:href="@{/dispatch(dataAttribute=${content.dataAttribute.value()},dataId=${content.dataId},submitMode=pendingDetails)}" 
                                                                               th:text="${content.subject}+'('+${content.dataId}+')'"></a>
                                                                        </td>
                                                                       
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="calendarTableMain calendarTableHeight"
                                                        style="width: auto; float: none;">
                                                        <div
                                                            class="calendarZone"
                                                            style="width: 1567px;"
                                                            th:style="'width: ' + ${result.ganttChartView.searchCondition.span.value() * 31 * 20 + 347} + 'px;' ">
                                                            <dl
                                                                th:each="period : ${groupingView.header.periods}"
                                                                class="calendarZoneDl calendarTableHeight"
                                                                style="height: 260px;"
                                                                th:style="'height: ' + ${groupingView.contents.size() * 40 + 60} + 'px;'">
                                                                <dt
                                                                    class="days"
                                                                    th:text="${period.period}">2016/01</dt>
                                                                <div
                                                                    th:each="day : ${period.days}"
                                                                    th:remove="tag">
                                                                    <dd
                                                                        th:classappend="${day.isToday()} ? 'today' : (${day.isHoliday()} ? 'holiday' : (${day.isWeekBeginning()} ? 'beginning'))">
                                                                        <span
                                                                            th:text="${day.day}"></span>
                                                                        <div
                                                                            th:if="${day.isFlag()}"
                                                                            class="milestone">
                                                                            <span><i
                                                                                class="fa fa-flag"
                                                                                aria-hidden="true"></i></span>
                                                                            <p>
                                                                                <span
                                                                                    th:text="${day.flagNm}">本番環境リリース</span>
                                                                            </p>
                                                                        </div>
                                                                    </dd>
                                                                </div>
                                                            </dl>
                                                            <ul
                                                                class="calendarStripes"
                                                                style="width: 1220px;"
                                                                th:style="'width: ' + ${result.ganttChartView.searchCondition.span.value() * 31 * 20} + 'px;' ">
                                                                <li
                                                                    th:each="content : ${groupingView.contents}">
                                                                    <div
                                                                        class="chart"
                                                                        th:classappend="${content.status.value()} == 'inProgress' ? 'labelRed' : (${content.status.value()} == 'closed' ? 'labelGreen' : (${content.status.value()} == 'completed' ? 'labelBlue') ) "
                                                                        th:style="'left: ' + ${(content.seq - 1) * 20} + 'px; width: ' + ${content.countDays * 20} + 'px;'">
                                                                        <p
                                                                            class="chartTitle">
                                                                            <span
                                                                                class="overviewSensitive"
                                                                                th:text="${content.subject}+'('+${content.dataId}+')'"
                                                                                data-key="dataAttribute"
                                                                                th:attr="data-dataId=${content.dataId}, data-dataAttribute=${content.dataAttribute.value()}">#1006(PJT-1601030001)</span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FORM -->
        <!-- LatestActivity Link Form -->
        <form id="DispatchForm" th:action="@{/dispatch}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> 
            <input type="hidden" name="dataAttribute" id="dataAttribute" value="" />
            <input type="hidden" name="dataId" id="dataId" value="" />
        </form>
        
        <form id="FlowLotDetailsServiceBean" method="POST"
            th:action="@{/lot}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="lotId" value="" />
        </form>

        <!-- OverViewPopup Form -->
        <form id="FlowCheckInOutRequestOverviewService"
            th:action="@{/checkinout/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId" id="OverviewServiceDataId"
                value="" />
        </form>

        <form id="FlowRemovalRequestOverviewService"
            th:action="@{/removal/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId" id="OverviewServiceDataId"
                value="" />
        </form>

        <form id="FlowBuildPackageOverviewService"
            th:action="@{/build/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="bpId" id="OverviewServiceDataId"
                value="" />
        </form>
        

        <form id="FlowReleasePackageOverviewService"
            th:action="@{/release/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="rpId" id="OverviewServiceDataId"
                value="" />
        </form>
        
        <form id="FlowReleaseRequestOverviewService"
            th:action="@{/release/request/overview}" method="POST">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="raId" id="OverviewServiceDataId"
                value="" />
        </form>

        <!-- onChange Form -->
        <form id="FlowProfileDetailsServiceOnChange"
            th:action="@{/project/profile/details}" method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="requestOption" value="" /> <input
                type="hidden" name="latestActivityRequestOption"
                value="" /> <input type="hidden"
                name="ganttChartRequestOption" value="" />

            <!-- Gantt Chart Search Status -->
            <input type="hidden" name="ganttSts_startDate" value=""
                th:value="${result.ganttChartView.searchCondition.startDate}" />
            <input type="hidden" name="ganttSts_span" value=""
                th:value="${result.ganttChartView.searchCondition.span.value()}" />
            <input type="hidden" name="ganttSts_grouping" value=""
                th:value="${result.ganttChartView.searchCondition.grouping.value()}" />
            <input type="hidden" name="ganttSts_status" value=""
                th:value="${result.ganttChartView.searchCondition.status.value()}" />
        </form>
    </article>

    <!-- JS -->
    <script src="resources/js/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="resources/js/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="resources/js/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="resources/js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"
        th:if="${result.getLanguage()}=='ja'"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="resources/js/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/globalnav.js"
        th:src="@{/resources/js/globalnav.js}"></script>
    <script src="resources/js/search.js"
        th:src="@{/resources/js/search.js}"></script>
    <script src="resources/js/profile.js"
        th:src="@{/resources/js/profile.js}"></script>
    <script src="resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script src="resources/js/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript"
        th:include="DashBoard_Lot :: dashboard_ajaxlot"></script>
    <script th:inline="javascript"
        th:include="DashBoard_Request::dashboard_ajaxrequest"></script>
    <script th:inline="javascript" th:fragment="js">
			/*<![CDATA[*/
			$(function() {
				getTriLayer("flashMessage").show();
				app.profile.prepare();
			});
			$(function() {
				$("input").keydown(function(e) {
					if (e.which) {
						if (e.which == 13) {
							return false;
						}
					}
					if (e.keyCode) {
						if (e.keyCode == 13) {
							return false;
						}
					}
					return true;
				});
				$("#inc_clear_btn").on("click", function() {
					$("#incSearch").val("");
				});
			});

			$(function(){
				if((/*[[${defaultSelectTab}]]*/"") == "ganttChart"){
					$("#jumpGanttChart").click();
					chnageTabToGanttChart();
					
				}else{
					chnageTabToLatestActivity();
				}
			});
			
			function changeLang( lang ) {
			    form = document.getElementById('FlowDashBoardService');
			    form.lang.value=lang;
			    safeSubmit('FlowDashBoardService', {'validation':false})
			}
			
			$(document).ready(function(){
				$('h2.faBtn').unbind('click');
				$('h2.faBtn').click(function () {
	                $("h2.faBtn .fa").toggleClass("fa-minus-square").toggleClass("fa-plus-square");
	                $(this).parents(".searchSection").children(".faBtnContents").slideToggle();
	            });
			});

			function ganttChartSetRequestOption(requestOption){
				document.getElementById("FlowProfileDetailsServiceOnChange").ganttChartRequestOption.value = requestOption;
				updataGanttChart();
			}

			function chnageTabToGanttChart(){
				var form = document.getElementById("FlowProfileDetailsServiceOnChange");
				var url = form.action;

				if(form.requestOption.value == "ganttChart"){
					return;
				}
				$("#ganttChartLoadingSpin").show();
				$("#ganttChartResult").hide();
				
				form.requestOption.value = "ganttChart";
				appendWindowId(form);
				$.post(url, $(form).serialize()).done(function(data, status, xhr) {

					$("#condSpan").html($(data).find("#condSpan").html());
					$("#condGrouping").html($(data).find("#condGrouping").html());
					$("#condStatus").html($(data).find("#condStatus").html());
					
					$("#result_replace").html($(data).find("#result_replace").html());
					//$("#startDate").html($(data).find("#startDate").html());
					$("#startDate").val($(data).find("#startDate").val());
					//$("#datePickerGantt").html($(data).find("#datePickerGantt").html());
					$("#startDatePager").html($(data).find("#startDatePager").html());
					//setTimeout(setDatePicker,500);
					
					$("#ganttChartResult").show();
					$("#result_replace").show();
					$("#ganttChartLoadingSpin").hide();

					document.getElementById("FlowProfileDetailsServiceOnChange").ganttChartRequestOption.value = "";
				
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
					$("#ganttChartResult").show();
					$("#ganttChartLoadingSpin").hide();

					document.getElementById("FlowProfileDetailsServiceOnChange").ganttChartRequestOption.value = "";
				});
			}
			
			function updataGanttChart(){
				var form = document.getElementById("FlowProfileDetailsServiceOnChange");
				var url = form.action;

				form.requestOption.value = "ganttChart";
				
				form.ganttSts_startDate.value	= $("#startDate").val();
				form.ganttSts_span.value		= $(".searchCondItem_span" + ".select").attr("data-value");
				form.ganttSts_grouping.value 	= $(".searchCondItem_grouping" + ".select").attr("data-value");
				form.ganttSts_status.value		= $(".searchCondItem_status" + ".select").attr("data-value");
				appendWindowId(form);
				$.post(url, $(form).serialize()).done(function(data, status, xhr) {

					$("#result_replace").html($(data).find("#result_replace").html());
					//$("#startDate").html($(data).find("#startDate").html());
					$("#startDate").val($(data).find("#startDate").val());
					//$("#datePickerGantt").html($(data).find("#datePickerGantt").html());
					$("#startDatePager").html($(data).find("#startDatePager").html());
					//setTimeout(setDatePicker,500);

					document.getElementById("FlowProfileDetailsServiceOnChange").ganttChartRequestOption.value = "";
					
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
					document.getElementById("FlowProfileDetailsServiceOnChange").ganttChartRequestOption.value = "";
				});
			}

			function chnageTabToLatestActivity(){
				var form = document.getElementById("FlowProfileDetailsServiceOnChange");
				var url = form.action;

				if(form.requestOption.value == "latestActivity"){
					return;
				}
				
				$("#latestActivityResult").hide();
				$("#latestActivityShowMore").hide();
				$("#profileInfoLoadingSpin").show();
				
				form.latestActivityRequestOption.value = "";
				form.requestOption.value = "latestActivity";
				appendWindowId(form);
				$.post(url, $(form).serialize()).done(function(data, status, xhr) {
					$("#latestActivityResult").html($(data).find("#latestActivityResult").html());
					$("#latestActivityShowMore").html($(data).find("#latestActivityShowMore").html());
					$("#latestActivityResult").show();
					$("#latestActivityShowMore").show();
					$("#profileInfoLoadingSpin").hide();
					
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
					$("#latestActivityResult").show();
					$("#latestActivityShowMore").show();
					$("#profileInfoLoadingSpin").hide();
				});
			}
			
			function showMoreLatestActivity(){
				$("#showMoreLatestActivity").hide();
				$("#showMoreLatestActivityLoading").show();
				
				var form = document.getElementById("FlowProfileDetailsServiceOnChange");
				var url = form.action;

				form.latestActivityRequestOption.value = "more";
				form.requestOption.value = "latestActivity";
				appendWindowId(form);
				$.post(url, $(form).serialize()).done(function(data, status, xhr) {
					$("#latestActivityResult").html($(data).find("#latestActivityResult").html());
					$("#latestActivityShowMore").html($(data).find("#latestActivityShowMore").html());
					$("#showMoreLatestActivity").show();
					$("#showMoreLatestActivityLoading").hide();
					
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
					$("#showMoreLatestActivity").show();
					$("#showMoreLatestActivityLoading").hide();
				});
			}
			
			function dispatch(lotId, dataAttribute, dataId){
				$( '#DispatchForm #dataAttribute').val(dataAttribute);
				$( '#DispatchForm #dataId').val(dataId);
				submit("DispatchForm");
			}

			$(document).on("click", ".searchCondItem", function(){
				var obj = $(this).parents(".searchCond").children("li").children("a.select");
				obj.removeClass("select");
				$(this).addClass("select");

				updataGanttChart();
			});
			
			$(document).on("click", "input#btn-today", function(){
				$("input#startDate").val( $.datepicker.formatDate('yy/mm/dd', new Date()) );
				
				updataGanttChart();
			});

			$(document).on("click", "input#btn-change", function(){
				updataGanttChart();
			});
			
			function setDatePicker(){
				$(".datePickerGantt").datepicker({
	                format: "yyyy/mm/dd",
	                language: "ja",
	                autoclose: true,
	                todayHighlight: true,
	                clearBtn: true
	            });
			}
			
			$(document).ready(function(){
				setDatePicker();
			});

			
			function overviewPopup(dataAttribute, dataId, selector, e) {
				if(dataAttribute == 'CheckOutRequest' || dataAttribute == 'CheckInRequest') {
					dataAttribute = 'CheckInOutRequest';
				}
				var formId = 'Flow' + dataAttribute + 'OverviewService';
				var form = document.getElementById(formId);

				if( form == null ){
					return;
				}
				
				$( '#' + formId + ' #OverviewServiceDataId').val(dataId);
				var url = form.action;

				$.post(url, serializeWindowId(formId)).done(function(data, status, xhr) {  

					$("#message").html($(data).find("#message").html());  
					$(".overviewPopup").html($(data).html());
					var posLeft = e.pageX + 10;
					var posTop = e.pageY - 200;
					$(".overviewPopup .popupWindow").css("left", posLeft);
					$(".overviewPopup .popupWindow").css("top", posTop);
					$(".overviewPopup .popupWindow").fadeIn(300);
					
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
				});
			}

			$(document).on(
				{'mouseenter':function(e){
					var dataAttribute = $(this).attr("data-dataAttribute");
					var dataId = $(this).attr("data-dataId");
					var selector = this;
					$(".overviewPopup").html("");
					sethover = setTimeout(function(){
						overviewPopup(dataAttribute, dataId, selector, e);
					},300);
				},
				'mouseleave':function(){
					$(".overviewPopup").html("");
					clearTimeout(sethover);
				}
			},'.overviewSensitive');
			
			
			
			/*]]>*/
      </script>
</body>
</html>
