<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{RRApprovalApprovedDetails.title.text}">trinity
    | Release Request - Approved - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html" class="select">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="BuildPackageList.html">ビルドパッケージ</a></li>
                <li><a href="ReleaseRequestList.html"
                    class="select">リリース申請</a></li>
                <li><a href="ReleasePackageList.html">リリースパッケージ</a></li>
                <li><a href="DeploymentJobList.html">リリース連携</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_request_info.png"
                    th:src="@{/resources/images/common/icon_request_info.png}"
                    alt="" /></span> <span
                    th:text="#{RRApprovalApprovedDetails.header.text}">リリース申請の詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ReleaseRequestDetails.help.url}"
                   target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowReleaseRequestApprovedDetailsService\');return false;'"
                   > <span
                        th:text="#{RRApprovalApprovedDetails.newWindow.text}">別ウインドウに複製</span></a></li>
                <li><span style="vertical-align: middle;"> <img
                        src="../../images/trinity/common/icon_report.png"
                        th:src="@{/resources/images/common/icon_report.png}"
                        alt="" height="14px" /></span><a
                    href="javascript:void(0)"
                    onClick="ajax_create_report()"> <span
                        th:text="#{RRApprovalApprovedDetails.createReport.text}">レポート出力</span></a></li>
                <li><i class="fa fa-print"></i> <a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printReleaseRequestApprovedDetails();return false;'">
                        <span
                        th:text="#{RRApprovalApprovedDetails.print.text}">印刷用ページ</span>
                </a></li>
            </ul>
        </div>

        <form id="FlowReleaseRequestApprovedDetailsService"
            th:action="@{/release/request/approved/details}"
            method="POST" target="CloneWindow">
            <input type="hidden" name="raId"
                th:value="${result.param.selectedRaId}" />
        </form>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message"></div>
            </div>
        </nav>

        <form id="FlowReportCreation" method="post"
            th:action="@{/reports/create/releaseRequest}">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="selectedId" />
        </form>

        <form id="FlowReportsList" method="post" th:action="@{/reports}">
            <input type="hidden" name="RequestType" value="init" />
        </form>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{RRApprovalApprovedDetails.basicInformation.text}">基本情報</span>
                <span class="helpBtn inline"><a th:href="#{ReleaseRequestDetails.help.url}"
                                                target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.requestID.text}">申請番号</span>
                </dt>
                <dd>
                    <span th:text="${result.param.selectedRaId}">RA-1511240001</span>
                    &nbsp;
                    <span class="label"
                          th:classappend="'rmStatus'+'__${result.detailsView.stsId}__'"
                          th:text="#{Constants.rmStatus.__${result.detailsView.stsId}__.text}">承認待ち</span>
                </dd>
                <dt class="userLabel">
                    <span
                        th:text="#{RRApprovalApprovedDetails.submitter.text}">申請者</span>
                </dt>
                <dd class="user">
                    <img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="${result.detailsView.submitterIconPath}"
                        alt="Tommy Robinson" class="userImg" /> <span
                        th:text="${result.detailsView.submitterNm}">Tommy
                        Robinson</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.submitterGroup.text}">申請グループ</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.submitterGroup}">運用保守T</span>
                </dd>
                <dt class="userLabel">
                    <span
                        th:text="#{RRApprovalApprovedDetails.supervisor.text}">申請責任者</span>
                </dt>
                <dd class="user">
                    <img
                        th:if="${not #strings.isEmpty(result.detailsView.supervisorIcon)}"
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="${result.detailsView.supervisorIcon}"
                        alt="Jim Cruz" class="userImg" /> <span
                        th:text="${result.detailsView.supervisor}">Jim
                        Cruz</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.releaseEnv.text}">リリース環境</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.relEnvNm}">開発</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.preferredDate.text}">リリース希望日</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.preferredDate}">2015/11/25</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.buildPackage.text}">ビルドパッケージ</span>
                </dt>
                <dd>
                    <a th:href="@{/dispatch(dataAttribute='BuildPackage',dataId=${result.detailsView.bpId})}"
                        th:text="${result.detailsView.bpId}"></a>
                </dd>
                <dt>
                	<span th:text="#{RRApprovalApprovedDetails.relatedID.text}">関連番号</span>
                </dt>
                <dd>
                	<span th:text="${result.detailsView.relatedId}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.remarks.text}">備考</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.remarks}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.attached.text}">添付ファイル</span>
                </dt>
                <dd>
                    <ul
                        th:each="res : ${result.detailsView.attachmentFileNms}">
                        <li><span><i
                                class="fa fa-file-o fa-2x"></i></span>&nbsp; <a
                            href="javascript:void(0)" class="underline"
                            th:text="${res}"
                            th:onclick="'javascript:submitReleaseRequestAttachmentDownloadService(\'' + ${res} + '\');return false'"></a>
                        </li>
                    </ul>
                </dd>
                <dt>
                    <span th:text="#{RRApprovalApprovedDetails.approvedDate.text}">Approved Date</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.approvedDate}"></span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.category.text}">カテゴリー</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.ctgNm}">テスト</span>
                </dd>
                <dt>
                    <span
                        th:text="#{RRApprovalApprovedDetails.milestone.text}">マイルストーン</span>
                </dt>
                <dd>
                    <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                </dd>
            </dl>
        </section>

        <section class="section sectionRadiusWidth">
            <nav class="sectionNav" th:if="${result.header.selectedLot.enabled}">
                <dl class="sectionNavRight">
                    <dt><span
                        th:text="#{RRApprovalApprovedDetails.thisReleaseRequest.text}">このリリース申請を</span></dt>
                    <dd class="commentButtons">
                    	<a href="javascript:void(0);"
                        	onClick="safeSubmit('FlowReleaseRequestApprovedReturnToPending', {'validation':false});"
                        	class="btn btn-default">
                        	<span class="commentButtonWaiting"
                            	id="cancellationCommentButtonWaiting"
                            	style="display: none;">
                            	<i class="fa fa-circle-o-notch fa-spin"
                            		aria-hidden="true">
                            	</i>
                            </span>
                      	<span th:text="#{RRApprovalApprovedDetails.approvalCancellation.text}">承認を取り消す</span>
                       	<div class="fukidashiHeader"
                                id="cancellationFukidashiHeader"
                                style="display: none;"></div>
                      	</a>
					</dd>
                    <dd class="commentButtons">
                    	<a href="javascript:void(0);"
                        	onClick="toggleComment('FlowReleaseRequestApprovedCloseComment', 'close');"
                        	class="btn btn-default">
                        	<span class="commentButtonWaiting"
                            	id="closeCommentButtonWaiting"
                            	style="display: none;">
                            	<i
		                            class="fa fa-circle-o-notch fa-spin"
		                            aria-hidden="true"></i>
		                    </span>
		                    <span th:text="#{RRApprovalApprovedDetails.close.text}">クローズする</span>
                            <div class="fukidashiHeader"
                                id="closeFukidashiHeader"
                                style="display: none;"></div>
                       	</a>
                 	</dd>
                    
                </dl>
            </nav>
            <div id="replace_reason"></div>
<!--             <div class="actionCheck">
                <div class="actionCheckUnit">
                    <h2>
                        <span
                            th:text="#{RRApprovalApprovedDetails.closeReleaseReq.text}">リリース申請をクローズをする</span>
                        <span class="helpBtn inline"><i
                            class="fa fa-question"></i></span>
                    </h2>
                    <p>
                        <span class="required">*</span> <span
                            th:text="#{RRApprovalApprovedDetails.comment.text}">コメント</span>
                    </p>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <nav class="actionCheckNav">
                    <ul>
                        <li><a href="" class="btn btn-default">
                                <span
                                th:text="#{RRApprovalApprovedDetails.buttonCancel.text}">キャンセル</span>
                        </a></li>
                        <li><a href=""
                            class="btn btn-default strong"> <span
                                th:text="#{RRApprovalApprovedDetails.buttonClose.text}">クローズする</span></a></li>
                    </ul>

                </nav>
            </div>
 -->
        </section>
        
        <form id="FlowReleaseRequestAttachmentDownloadService"
            th:action="@{/release/request/download/attachment}"
            method="POST">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="raId"
                th:value="${result.param.selectedRaId}" /> <input
                type="hidden" name="fileName" value="" />
        </form>

        <form id="FlowReleaseRequestApprovedReturnToPending"
            th:action="@{/release/request/approved/returnToPending}"
            method="POST">
            <input type="hidden" name="RequestType" value="submitChanges" /> 
            <input type="hidden" name="referer" value="ReleaseRequestApprovedDetails" /> 
            <input type="hidden" name="forward" value="ReleaseRequestList" /> 
            <input type="hidden" name="raId" th:value="${result.param.selectedRaId}" />
        </form>
        
          <form id="FlowReleaseRequestApprovedCloseComment"
            th:action="@{/release/request/close/validate}"
            method="POST">
            <input type="hidden" name="RequestType" value="init" />
            <input type="hidden" name="raId"
                th:value="${result.param.selectedRaId}" />
        </form>

        <form id="FlowPrintReleaseRequestApprovedDetailsService"
            th:action="@{/release/request/approved/details/print}"
            method="POST">
            <input type="hidden" name="raId"
                th:value="${result.param.selectedRaId}" />
        </form>
        
        <form id="FlowGetRelEnvAndBpId"
            th:action="123"
            method="POST">
            <input type="hidden" id="selectedBpid" name="bpId"
                th:value="${result.detailsView.bpId}" />
             <input type="hidden" id="selectedEnvId" name="selectedEnvId"
                th:value="${result.detailsView.relEnvNm}" />
        </form>
        
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
        /*<![CDATA[*/
            $(document).ready(function(){
				$('#FlowPrintReleaseRequestApprovedDetailsService').submit(function() {
		    		var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    		this.target = 'Popup_Window';
				});
			});
			
            function printReleaseRequestApprovedDetails() {
        		submit("FlowPrintReleaseRequestApprovedDetailsService");
            }
            
            $(function() {
                $( "#tabs" ).tabs();
            });
            
            $("input#uploadfile").change(function() {
                $("#uploadfileText").val($(this).val());
            });
            
            function submitReleaseRequestAttachmentDownloadService(fileName) {
                var validateURL = /*[[ @{/release/request/download/validate} ]]*/ '/release/request/download/validate';
                var $windowId = $('#windowId').val();

                $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                    $("#message").html($(data).find("#message").html());
                    if(!$("#message").html().trim()) {
                        var form = document.getElementById('FlowReleaseRequestAttachmentDownloadService');
                        form.fileName.value = fileName;

                        safeSubmit('FlowReleaseRequestAttachmentDownloadService', {'validation':false});
                        clearSubmitFlag();
                    }
                });

            }

            function ajax_create_report() {
                var timeout = null;
                var reportId = /*[[${result.param.selectedRaId}]]*/;
            	var form = document.getElementById('FlowReportCreation');
            	form.selectedId.value = reportId;
            	var url = $(form).attr("action");
            	appendWindowId(form);
                    $.post(url, $(form).serialize()).done(function(data, status, xhr) {
                    	$("#infoDialog").html($(data).find("#infoDialog").html());
                    	getTriLayer("flashMessage").show();
    					$("#message").html($(data).find("#message").html());
    					
    					if ($(".errorMessage")[0] != null) {
    						timeOut = setTimeout(function() {
    							$("html, body").animate({scrollTop:$('#message').offset().top-$("nav#globalNav").height()});
    							$(".sectionErrorMessage").show();
    						}, 200);
    					}
                     	}).fail(function(data, status, xhr) {
								console.log("ajax_create_report fail " + url)
                            });
            }
        /* ]]> */
        </script>
</body>
</html>