<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{ReleaseRequestCreation.title.text}">trinity |
    Release Request - Create New</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/jquery-ui.css"
    th:href="@{/resources/css/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
		<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
		<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <form id="FlowCategoryCreationService"
            th:action="@{/lot/settings/category/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/checkout/create/refreshCategory" /> <input
                type="hidden" name="categorySubject" value="" />
                <input type="hidden" name="referer" value="FlowReleaseRequestService" />
        </form>
        <form id="FlowMilestoneCreationService"
            th:action="@{/lot/settings/milestone/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/checkout/create/refreshMilestone" /> <input
                type="hidden" name="milestoneSubject" value="" />
                <input type="hidden" name="referer" value="FlowReleaseRequestService" />
        </form>
        <form id="buildPackageDetailForm" th:action="@{/build/details}" method="POST" target="_blank">
			<input type="hidden" name="requestType" value="init"/>
			<input type="hidden" name="bpId" value=""/>
		</form>
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_request_add.png"
                    th:src="@{/resources/images/common/icon_request_add.png}"
                    alt=""></img></span><span
                    th:text="#{ReleaseRequestCreation.header.text}">リリース申請の新規作成</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ReleaseRequestCreation.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>

        <div th:replace="common/Messages::message">Messages</div>

        <section class="section sectionRadius">
            <h2>
                <span
                    th:text="#{ReleaseRequestCreation.basicInformation.text}">基本情報</span><span
                    class="helpBtn inline"><a th:href="#{ReleaseRequestCreation.help.url}"
                                              target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <!-- <form class="form-horizontal repeater"> -->
            <form class="form-horizontal"
                id="FlowReleaseRequestCreationService"
                th:action="@{/release/request/create}" method="POST"
                target="">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="SubmitMode" value="request" /> <input
                    type="hidden" name="RequestOption" value="" />
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{ReleaseRequestCreation.submitter.text}">申請者</span></label>
                    <div class="col-sm-3">
                        <select class="form-control validation"
                            required="required" name="submitterId"
                            id="submitterId">
	                        <option value=""
		                		th:text="#{ReleaseRequestCreation.pleaseSelect.text}">
		                		-------選択してください-------</option>
                            <option
                                th:each="res : ${result.param.inputInfo.submitterViews}"
                                th:text="${res.label}"
                                th:value="${res.value}"
                                th:selected="${res.value} == ${result.param.inputInfo.submitterId}">
                            </option>
                        </select>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ReleaseRequestCreation.submitter.text}">申請者</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"> <span
                        class="required">*</span> <span
                        th:text="#{ReleaseRequestCreation.submitterGroup.text}">申請グループ</span>
                    </label>
                    <div class="col-sm-3">
                        <select class="form-control validation"
                            required="required" name="groupId" id="groupId">
	                        <option value=""
		                		th:text="#{ReleaseRequestCreation.pleaseSelect.text}">
		                		-------選択してください-------</option>
                            <option
                                th:each="res : ${result.param.inputInfo.groupViews}"
                                th:text="${res.label}"
                                th:value="${res.value}"
                                th:selected="${res.value} == ${result.param.inputInfo.groupId}">
                            </option>
                        </select>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ReleaseRequestCreation.submitterGroup.text}">申請グループ</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{ReleaseRequestCreation.supervisor.text}">申請責任者</span></label>
				<div class="col-sm-3">
                        <input type="text" class="form-control validation invalidStat" 
                            required="required" name="supervisor" id="supervisor" autocomplete="on"
                            th:value="${result.param.inputInfo.supervisor}"
                            maxlength="140"></input>

                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ReleaseRequestCreation.supervisor.text}">申請責任者</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"> <span
                        class="required">*</span> <span
                        th:text="#{ReleaseRequestCreation.releaseEnv.text}">リリース環境</span>
                    </label>
                    <div class="col-sm-3">
                        <select class="form-control validation"
                            name="relEnv" id="relEnv">
	                        <option value=""
		                		th:text="#{ReleaseRequestCreation.pleaseSelect.text}">
		                		-------選択してください-------</option>
                            <option id="relEnvOption"
                                th:each="res : ${result.param.inputInfo.releaseEnvViews}"
                                th:text="${res.label}"
                                th:value="${res.value}"
                                th:selected="${res.value} == ${result.param.inputInfo.relEnv}">
                            </option>
                        </select>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ReleaseRequestCreation.releaseEnv.text}">リリース環境</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group form-inline">
                    <label class="col-sm-3 control-label"> <span
                        class="required">*</span><span
                        th:text="#{ReleaseRequestCreation.preferredDate.text}">リリース希望日</span>
                    </label>
                    <div class="col-sm-9">
                        <span class="date datePicker"> 
                        	<input
                            type="text"
                            class="form-control inputSmallDate filterField validation"
                            name="preferredDate" id="preferredDate"
                            th:value="${result.param.inputInfo.preferredDate}" />
                            <div class="formError"
                                style="display: none;">
                                <span
                                    th:text="#{ReleaseRequestCreation.preferredDate.text}">リリース希望日</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div> <input type="hidden" name="forward"
                            value="MilestoneCreation" /> <span
                            class="input-group-addon datePickerIconWapper"
                            style="border: 0; background: none; padding: 0; position: relative; top: 6px; width: 24px; height: 24px;">
                                <img
                                src="../../images/trinity/common/icon_calender_mini.png"
                                class="datePickerIcon2"
                                th:src="@{/resources/images/common/icon_calender_mini.png}"></img>
                        </span> <span
                            th:text="#{MilestoneCreation.selectFromCalendar.text}">カレンダーから入力</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        class="required">*</span><span
                        th:text="#{ReleaseRequestCreation.buildPackage.text}">ビルドパッケージ</span></label>
                    <div class="col-sm-3">
                        <select class="form-control validation"
                            name="bpId" id="bpId"
                            onChange="selectBpId(); return false;">
	                        <option value=""
		                		th:text="#{ReleaseRequestCreation.pleaseSelect.text}">
		                		-------選択してください-------</option>
                            <option
                                th:each="res : ${result.param.inputInfo.buildPackageViews}"
                                th:text="${res.label}"
                                th:value="${res.value}"
                                th:selected="${res.value} == ${result.param.inputInfo.bpId}">
                            </option>
                        </select>
                        <div class="formError" style="display: none;">
                            <span
                                th:text="#{ReleaseRequestCreation.buildPackage.text}">ビルドパッケージ</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                        <a href="javascript:void(0);" class="underline" id="linkOpenBuildPackageDetail"
                            onClick="javascript:openBuildPackageDetail();return false;"
                            th:text="#{ReleaseRequestCreation.buildpackage.text}">変更管理情報の閲覧</a>
                    </div>
                </div>
				<div class="form-group">
					<label class="col-sm-3 control-label"
							th:text="#{ReleaseRequestCreation.relatedID.text}">関連番号</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="relatedId" name="relatedId" 
							th:value="${result.param.inputInfo.relatedId}"
							maxlength="30"/>
					</div>
				</div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{ReleaseRequestCreation.remarks.text}">備考</span></label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3"
                            required="required" name="remarks" id="remarks"
                            th:text="${result.param.inputInfo.remarks}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{ReleaseRequestCreation.attached.text}">添付ファイル</span></label>

                    <div class="col-sm-9">
                        <div class="attachedFiles">
                            <div id="preview-template"
                                style="display: none;">
                                <div class="uploadedFile">
                                    <span class="icon"><i
                                        class="fa fa-file-o"></i></span> <span
                                        class="filename"
                                        data-dz-name="data-dz-name"></span>
                                    <span class="filesize"
                                        data-dz-size="data-dz-size"></span>
                                    <div class="progress">
                                        <div
                                            class="progress-bar progress-bar-striped active"
                                            role="progressbar"
                                            aria-valuenow="0"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            style="width: 0%"
                                            data-dz-uploadprogress="data-dz-uploadprogress"></div>
                                    </div>
                                    <span class="label label-auto labelRed"
                                        data-dz-errormessage="data-dz-errormessage"></span>
                                    <span
                                        class="stopUploadAttachmentFormBtn"
                                        data-dz-remove="data-dz-remove"><i
                                        class="fa fa-stop-circle-o"></i></span>
                                </div>
                            </div>

                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[0][file]"
                                    class="uploadfile"
                                    style="display: none;" multiple="multiple" />
                                <span class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">hoge.txt</span> <span
                                    class="filesize">(8.2MB)</span>
                                <div class="progress">
                                    <div
                                        class="progress-bar progress-bar-striped active"
                                        role="progressbar"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 60%">60%</div>
                                </div>
                                <span
                                    class="stopUploadAttachmentFormBtn"><i
                                    class="fa fa-stop-circle-o"></i></span>
                            </div>
                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[1][file]"
                                    class="uploadfile"
                                    style="display: none;" multiple="multiple" />
                                <span class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">abc.txt</span> <span
                                    class="filesize">(15.9KB)</span>
                                <div class="progress">
                                    <div class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%">添付されました</div>
                                </div>
                                <span class="removeAttachmentFormBtn"><i
                                    class="fa fa-times-circle"></i></span>
                            </div>
                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[1][file]"
                                    class="uploadfile"
                                    style="display: none;" multiple="multiple" />
                                <span class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">very-ling-file-name-very-ling-file-name-very-ling-file-name.txt</span>
                                <span class="filesize">(15.9KB)</span>
                                <div class="progress">
                                    <div class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="60"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 100%">添付されました</div>
                                </div>
                                <span class="removeAttachmentFormBtn"><i
                                    class="fa fa-times-circle"></i></span>
                            </div>
                            <div class="uploadedFile" th:remove="all">
                                <input type="file"
                                    name="attachment[2][file]"
                                    class="uploadfile"
                                    style="display: none;" multiple="multiple" />
                                <span class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                    class="filename">hoge.txt</span> <span
                                    class="filesize">(0.0KB)</span> <span
                                    class="label label-auto labelRed">サイズがゼロのファイルはアップロードできません</span>
                                <span class="removeAttachmentFormBtn"></span>
                            </div>
                        </div>
                        <div class="form-group form-inline"
                            style="padding-left: 15px;">
                            <button id="selectFiles"
                                class="btn btn-default btn-sm"
                                type="button"
                                style="font-size: 11px; min-width: 48px;"
                                th:text="#{ReleaseRequestCreation.selectFile.text}">ファイルを選択...</button>
                            <span
                                th:text="#{ReleaseRequestCreation.multipleSelectionDesc.text}">Shiftキーを押しながらファイルを複数選択可能</span>
                        </div>
                        <div class="form-group">
                            <div class="attachmentDragArea"
                                id="dzUpload">
                                <p class="title"
                                    th:text="#{ReleaseRequestCreation.dragAndDropFile1.text}">または</p>
                                <p class="dragAreaText"
                                    th:text="#{ReleaseRequestCreation.dragAndDropFile2.text}">
                                    ファイルをドラッグ＆ドロップしてください<br />（添付するファイルは
                                    10MByte 以内でお願いします）
                                </p>
                                <span class="dz-message"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{ReleaseRequestCreation.category.text}">カテゴリー</span></label>
                    <div class="col-sm-9 form-inline">

                        <div class="input-group">
                            <select class="form-control" id="ctgId"
                                name="ctgId">
	                            <option value=""
		                    		th:text="#{ReleaseRequestCreation.pleaseSelect.text}">
		                    		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.ctgViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value} == ${result.param.inputInfo.ctgId}">
                                </option>
                            </select>
                            <div class="input-group-btn">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>

                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader"><span th:text="#{ReleaseRequestCreation.addCategory.text}">カテゴリーを追加します
                                        </span></h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="categorySubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addCategory('FlowReleaseRequestCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="ctgButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{ReleaseRequestCreation.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="categoryList">
                                                <dt
                                                    th:text="#{ChkOutReqCreate.categoryDesc.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.ctgViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span
                        th:text="#{ReleaseRequestCreation.milestone.text}">マイルストーン</span></label>
                    <div class="col-sm-9 form-inline">
                        <div class="input-group">
                            <select class="form-control" id="mstoneId"
                                name="mstoneId">
	                            <option value=""
		                    		th:text="#{ReleaseRequestCreation.pleaseSelect.text}">
		                    		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value} == ${result.param.inputInfo.mstoneId}">
                                </option>
                            </select>
                            <div class="input-group-btn">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>
                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                        <span th:text="#{ReleaseRequestCreation.addMilestone.text}">マイルストーンを追加します</span></h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="milestoneSubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addMilestone('FlowReleaseRequestCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="mstoneButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{ReleaseRequestCreation.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="mstoneList">
                                                <dt
                                                    th:text="#{ChkOutReqCreate.categoryDesc.text}">登録済み</dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                                    th:text="${res.label}">テスト</dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form id="FlowSaveReleaseRequestToDraft"
                th:action="@{/release/request/create}" method="POST">
                <input type="hidden" name="RequestType"
                    value="submitChanges" />
            </form>
        </section>

        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <ul class="sectionNavRight">

                    <li><a href="javascript:void(0)"
                        class="btn btn-default"
                        onClick="setParamsToForm('FlowReleaseRequestCreationService', {'SubmitMode' : 'draft', 'RequestType' : 'submitChanges'}); safeSubmit('FlowReleaseRequestCreationService', {'validation' : false}); return false;"
                        th:text="#{ReleaseRequestCreation.saveToDraft.text}">下書きに保存する</a>
                    </li>
                    <li><a href="javascript:void(0)"
                        class="btn btn-default strong"
                        onClick="setParamsToForm('FlowReleaseRequestCreationService', {'RequestType' : 'submitChanges'}); safeSubmit('FlowReleaseRequestCreationService', {'validation' : true}); return false;"
                        th:text="#{ReleaseRequestCreation.releaseRequest.text}">リリース申請する</a>
                    </li>
                </ul>
            </nav>
        </section>
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship"></img></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity"></img></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
			var mockFileList = /*[[${result.releaseView.attachmentFiles}]]*/;
			var uploadDropzone;
			//Need to avoid remove files with the same names.
			var seqNo = 1;
			
			$(document).ready(function () {
			    'use strict';
			    $( "#tabs" ).tabs();
			});

			$(document).ready(function () {
        	    Dropzone.autoDiscover = false;
        	    var urlUpload = /*[[ @{/release/request/create/upload} ]]*/'/trinity/release/request/create/upload';

        		uploadDropzone = new Dropzone("#dzUpload", {
            		previewsContainer: ".attachedFiles",
        			paramName: "userFile",
        			url: urlUpload,
        			params: { "RequestType" : "onChange", "WindowsId" : $('#windowId').val() },
        	        maxFilesize: 10,
        	        maxFiles: 5,
        	        accept: function(file,  done) {
        	        	if(file.size == 0) {
        	        		done(/*[[#{ReleaseRequestCreation.emptyFile.text}]]*/);
        	        	} else {
        	        		done();
        	        	}
        	        },
        	        uploadmultiple: false,
        	        parallelUploads: 1,
        	        previewTemplate: document.getElementById('preview-template').innerHTML,
        	        autoProcessQueue: true,
        	        clickable: "#selectFiles",
        	        dictFileTooBig: /*[[#{ReleaseRequestCreation.attachedSize.text}]]*/,
        	        dictRemoveFileConfirmation: /*[[#{ReleaseRequestCreation.confirmRemoval.text}]]*/,
                	dictYes: /*[[#{ReleaseRequestCreation.yes.text}]]*/,
                    dictNo: /*[[#{ReleaseRequestCreation.no.text}]]*/
        		});

        		//Add sequence number of file to our request before uploading.
        		uploadDropzone.on("sending", function(file, xhr, formData) {
            		file.seqNo = seqNo;
            		formData.append("seqNo", seqNo++);
           		});
        		
        		uploadDropzone.on("success", function(file) {
            		if (file.size > 0) {
	            		var attachedText = /*[[#{ReleaseRequestCreation.uploadAttached.text}]]*/;
	        			$(".progress-bar", file.previewElement).text(attachedText);
	        			$(".progress-bar", file.previewElement).removeClass("progress-bar-striped active");
               		}
        			$(".stopUploadAttachmentFormBtn", file.previewElement).addClass("removeAttachmentFormBtn").removeClass("stopUploadAttachmentFormBtn");
        			$(".fa.fa-stop-circle-o", file.previewElement).addClass("fa-times-circle").removeClass("fa-stop-circle-o");
        		});

        		for(var i = 0; i < mockFileList.length; i++) {
					var mockFile = mockFileList[i];
					mockFile.accepted = true;
                    mockFile.mock = true;
					uploadDropzone.emit("addedfile", mockFile);
					uploadDropzone.emit("success", mockFile);
					$('.progress-bar').css('width', '100%')
				}
				uploadDropzone.options.maxFiles = uploadDropzone.options.maxFiles - mockFileList.length;
				
        		seqNo = mockFileList.length + 1;

        		uploadDropzone.on("error", function(file, errorMessage, xhr) {
        			$(".progress", file.previewElement).hide();
        			$(".stopUploadAttachmentFormBtn", file.previewElement).addClass("removeAttachmentFormBtn").removeClass("stopUploadAttachmentFormBtn");
        			$(".fa.fa-stop-circle-o", file.previewElement).addClass("fa-times-circle").removeClass("fa-stop-circle-o");
        		});
        		
        		uploadDropzone.on("removedfile", function(file) {
					//Check have we already uploaded this file on server or this listener was called after maxfilesexceeded
            		if(file.size > 0 && file.accepted) {
	        			deleteFile(file);
               		}
        		});

        		uploadDropzone.on("uploadprogress", function(file, progress, byteSent) {
        			$(".progress-bar", file.previewElement).text(Math.floor(progress) + '%');
           		});

           		uploadDropzone.on("maxfilesexceeded", function(file) {
               		this.removeFile(file);
           		});
        	});
        	
        	function deleteFile(file) {
        		var url = /*[[ @{/release/request/create/upload/delete} ]]*/'/trinity/release/request/create/upload/delete';
        		var timeOut = null;
        		var fileNm = file.name;
        		var fileSeqNo = file.seqNo;
        		var $windowId = $('#windowId').val();
        		timeOut = setTimeout(function() {
            		$.post(url, $.param({'RequestType' : 'onChange', 'RequestOption' : 'deleteFile', 'deletedFileNm' : fileNm, 'deletedFileSeqNo' : fileSeqNo, 'WindowsId' : $windowId})).done(function(data, status, xhr) {
                			console.log(data);
                			if(file.mock) {
               					uploadDropzone.options.maxFiles++;
                   			}
                		}).fail(function(data, status, xhr) {
                    		console.log("deleteFile fail");
                   		});
            	}, 500);
        	}

        	$("div.attachmentDragArea").on("dragover",function(e){
                e.preventDefault();
                $(this).addClass("dropping");
            });
            
            $("div.attachmentDragArea").on("dragleave",function(e){
                e.preventDefault();
                $(this).removeClass("dropping");
            });
            
            $("div.attachmentDragArea").on("drop", function(_e){
            	var e = _e;
                if( _e.originalEvent ){
                    e = _e.originalEvent;
                }
                e.stopPropagation();
                e.preventDefault();
                $(this).removeClass("dropping");
            });
			
            function openBuildPackageDetail(){
				if($("#bpId").val()) {
					var f = document.getElementById("buildPackageDetailForm");
					f.bpId.value = $("#bpId").val();
					cloneWindow("buildPackageDetailForm");
				}
			}
			
			function selectBpId(){
				showHideBuildPackageLink();
				
				var buildNo = document.getElementById('bpId').value;
				var form = document.getElementById('FlowReleaseRequestCreationService');
				form.bpId.value = buildNo;
				form.RequestType.value = 'onChange';
				form.RequestOption.value = 'selectBpId';
				form.SubmitMode.value = 'request'
				var timeOut = null;
				var url = /*[[ @{/release/request/create} ]]*/'/release/request/create';
				appendWindowId(form);
				timeOut = setTimeout(function() {
					$.post(url, $(form).serialize()).done(function(data, xhr, status) {
					
					}).fail(function(data, xhr, status) {
						console.log("fail releaseRequestCreation");
					});
				}, 500);
			}
			
			$(document).ready(function(){
				showHideBuildPackageLink();
			});
			
			function showHideBuildPackageLink() {
				if($("#bpId").val()) {
				    $("#linkOpenBuildPackageDetail").css('visibility', 'visible');
				} else {
					$("#linkOpenBuildPackageDetail").css('visibility', 'hidden');
				}
			}
			
			$(function() {
				var availableSupervisors = [[${result.param.inputInfo.supervisorViews}]];
	            $( "#supervisor" ).autocomplete({
	               source: availableSupervisors,
	               select: function( event, ui ) {
			            $( "#supervisor" ).val( ui.item.label); //ui.item is your object from the array
			            return false;
			        }
	            });
	         });
			
			/* ]]> */
        </script>
</body>
</html>