<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{RPCreate.title.text}">trinity
    | Release Package - Create New</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html" class="select">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="BuildPackageList.html">ビルドパッケージ</a></li>
                <li><a href="ReleaseRequestList.html">リリース申請</a></li>
                <li><a href="ReleasePackageList.html"
                    class="select">リリースパッケージ</a></li>
                <li><a href="DeploymentJobList.html">リリース連携</a></li>
            </ul>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_RP_add.png"
                    th:src="@{/resources/images/common/icon_RP_add.png}"
                    alt="" /></span><span th:text="#{RPCreate.header.text}">リリースパッケージの新規作成</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ReleasePackageCreation.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>
        <form id="FlowRaSelection" method="post"
            th:action="@{/release/create}">
            <input type="hidden" name="RequestType"
                value="onChange" /> <input type="hidden"
                name="raId" />
        </form>

        <form id="FlowCategoryCreationService"
            th:action="@{/lot/settings/category/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/chgproperty/create/refreshCategory" />
            <input type="hidden" name="categorySubject" value="" />
        </form>
        <form id="FlowMilestoneCreationService"
            th:action="@{/lot/settings/milestone/create}" method="POST">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="redirectUrl"
                value="redirect:/chgproperty/create/refreshMilestone" />
            <input type="hidden" name="milestoneSubject" value="" />
        </form>
        <form id="buildPackageDetailForm" th:action="@{/build/details}" method="POST" target="_blank">
			<input type="hidden" name="requestType" value="init"/>
			<input type="hidden" name="bpId" value=""/>
		</form>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>
        <section class="section sectionRadius">
            <h2>
                <span th:text="#{RPCreate.basicInfo.text}">基本情報</span><span
                    class="helpBtn inline"><a th:href="#{ReleasePackageCreation.help.url}"
                                              target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal"
                id="FlowReleasePackageCreationService"
                th:action="@{/release/create}" method="POST" target="">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="referer" value="ReleasePackageCreation" /> <input
                    type="hidden" name="forward"
                    value="ReleasePackageList" />

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span> <span
                        th:text="#{RPCreate.pkgName.text}">パッケージ名</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                            class="form-control validation"
                            name="subjectId" id="subjectId"
                            th:value="${result.param.inputInfo.subject}" />
                        <div class="formError" style="display: none;">
                            <span th:text="#{RPCreate.pkgName.text}">パッケージ名</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span> <span
                        th:text="#{RPCreate.summary.text}">パッケージ概要</span>
                    </label>
                    <div class="col-sm-10">
                        <textarea class="form-control validation"
                            rows="3" required="required" name="summaryId"
                            id="summaryId"
                            th:text="${result.param.inputInfo.summary}"></textarea>
                        <div class="formError" style="display: none;">
                            <span th:text="#{RPCreate.summary.text}">パッケージ概要</span>
                            <span
                                th:text="#{Validation.isRequired.text}">is
                                required.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group" th:if="${result.header.releaseRequestEnabled}">
                    <label class="col-sm-2 control-label"> <span
                        th:text="#{RPCreate.releaseRequest.text}">リリース申請</span></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control" id="reqId"
                                name="reqId">
                            	<option value=""
                            		th:text="#{RPCreate.pleaseSelect.text}">
                            		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.releaseRequestViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value} == ${result.param.inputInfo.raId} "></option>
                                <!-- <option>RA-1511240005</option>
                                               <option>RA-1511240004</option>
                                               <option>RA-1511240003</option>
                                               <option>RA-1511240002</option>
                                               <option>RA-1511240001</option>   -->
                            </select>
                        </div>
                        <dd>
                            <span
                                th:text="#{RPCreate.releaseReqDesc.text}">申請済みのリリース申請を選択すると以下の項目が自動入力されます。</span>
                        </dd>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span> <span
                        th:text="#{RPCreate.releaseEnv.text}">リリース環境</span></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control validation"
                                id="envId" name="envId">
	                            <option value=""
		                    		th:text="#{RPCreate.pleaseSelect.text}">
		                    		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.releaseEnvViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}== ${result.param.inputInfo.envId}"></option>
                                <!-- <option>開発環境</option>
                                               <option>テスト環境</option>
                                               <option>リリース環境</option> -->
                            </select>
                            <div class="formError"
                                style="display: none;"
                                id="releaseEnvFormError">
                                <span
                                    th:text="#{RPCreate.releaseEnv.text}">リリース環境</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        class="required">*</span> <span
                        th:text="#{RPCreate.buildPackage.text}">ビルドパッケージ</span></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select class="form-control validation"
                                id="bpId" name="bpId" onChange="selectBpId(); return false;">
	                            <option value=""
		                    		th:text="#{RPCreate.pleaseSelect.text}">
		                    		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.buildPackageViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"
                                    th:selected="${res.value}== ${result.param.inputInfo.bpId}"></option>
                                <!-- <option>BLD-1511240005</option>
                                               <option>BLD-1511240004</option>
                                               <option>BLD-1511240003</option>
                                               <option>BLD-1511240002</option>
                                               <option>BLD-1511240001</option> -->
                            </select>
                            <div class="formError"
                                style="display: none;"
                                id="buildPackageFormError">
                                <span
                                    th:text="#{RPCreate.buildPackage.text}">ビルドパッケージ</span>
                                <span
                                    th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="underline" id="linkOpenBuildPackageDetail"
                            onClick="javascript:openBuildPackageDetail();return false;"><span
                            th:text="#{RPCreate.buildPackage.detail.link.text}">選択したビルドパッッケージの詳細を見る</span></a>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"> <span
                        th:text="#{RPCreate.category.text}">カテゴリー</span></label>
                    <div class="col-sm-10 form-inline">

                        <div class="input-group">
                            <select class="form-control" id="ctgId"
                                name="ctgId">
	                            <option value=""
		                    		th:text="#{RPCreate.pleaseSelect.text}">
		                    		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.ctgViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"></option>

                            </select>
                            <div class="input-group-btn"
                                id="addCategory">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>

                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{RPCreate.addCategory.text}">カテゴリーを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="categorySubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                       	<a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addCategory('FlowReleasePackageCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="ctgButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{RPCreate.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList"
                                                id="categoryList">
                                                <dt>
                                                    <span
                                                        th:text="#{RPCreate.existing.text}">登録済み</span>
                                                </dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.ctgViews}"
                                                    th:text="${res.label}"></dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                        th:text="#{RPCreate.milestone.text}">マイルストーン</span></label>
                    <div class="col-sm-10 form-inline">
                        <div class="input-group">
                            <select class="form-control" id="mstoneId"
                                name="mstoneId">
	                            <option value=""
		                    		th:text="#{RPCreate.pleaseSelect.text}">
		                    		-------選択してください-------</option>
                                <option
                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                    th:text="${res.label}"
                                    th:value="${res.value}"></option>
                            </select>
                            <div class="input-group-btn"
                                id="addMilestone">
                                <span class="windowOpenBtn"><i
                                    class="fa fa-plus-square faBtnChange"></i>
                                    <div class="popupWindow">
                                        <h4 class="popupWindowHeader">
                                            <span
                                                th:text="#{RPCreate.addMilestone.text}">マイルストーンを追加します</span>
                                        </h4>
                                        <div class="popupWindowBody">
                                            <div
                                                class="searchBoxPartsSq">
                                                <dl>
                                                    <dt>
                                                        <input
                                                            type="text"
                                                            name="milestoneSubject"
                                                            value="" />
                                                    </dt>
                                                    <dd>
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="btn btn-default strong"
                                                            onClick="addMilestone('FlowReleasePackageCreationService');">
                                                            <span
                                                            class="buttonWaiting"
                                                            id="mstoneButtonWaiting"
                                                            style="display: none;"><i
                                                                class="fa fa-circle-o-notch fa-spin"
                                                                aria-hidden="true"></i></span>
                                                            <span
                                                            th:text="#{RPCreate.add.text}">Add</span>
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <dl class="registeredList">
                                                <dt>
                                                    <span
                                                        th:text="#{RPCreate.existing.text}">登録済み</span>
                                                </dt>
                                                <dd
                                                    th:each="res : ${result.param.inputInfo.mstoneViews}"
                                                    th:text="${res.label}"></dd>
                                            </dl>
                                        </div>
                                    </div> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="section sectionRadiusWidth">
            <nav class="sectionNav">
                <ul class="sectionNavRight">
                    <li><a href="javascript:void(0);"
                        class="btn btn-default strong"
                        th:onClick="'beforeSubmit(); return false;'">
   						<span th:text="#{RPCreate.submitCreate.text}">作成する</span></a></li>
                </ul>
            </nav>
        </section>



    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
               
            $(function() {
                $( "#tabs" ).tabs(); 
            });
			
            function openBuildPackageDetail(){
				if($("#bpId").val()) {
					var f = document.getElementById("buildPackageDetailForm");
					f.bpId.value = $("#bpId").val();
					cloneWindow("buildPackageDetailForm");
				}
			}
            
            function selectBpId(){
                showHideBuildPackageLink();
            }
            
            $(document).ready(function(){
                showHideBuildPackageLink();
            });
            
            function showHideBuildPackageLink() {
                if($("#bpId").val()) {
                    $("#linkOpenBuildPackageDetail").css('visibility', 'visible');
                } else {
                    $("#linkOpenBuildPackageDetail").css('visibility', 'hidden');
                }
            }

			function beforeSubmit(){
				if ( !validateOnSubmit() ) return;
				submitReasonDialog('FlowReleasePackageCreationService'  
							,[[#{RPCreate.confirmCreate.text}]] 
							,[[#{RPCreate.yes.text}]] 
							,[[#{RPCreate.no.text}]]);
			}
			
			$(document).on("change", "select[name='reqId']", function() {
					if($(this).val() != "" ){
						
						ajax_req_select($(this).val());
					
					}
					if($(this).val() == "" ){
						$('#envId').unbind('mousedown');
						$("#envId").css('background-color', '#FFFFFF');
                        $("#envId").css('cursor', 'auto');
                        
                        $("select#envId option").each(function(){
                        	$(this).removeAttr( "selected" )
                        });
						$('#bpId').unbind('mousedown');
						$("#bpId").css('background-color', '#FFFFFF');
                        $("#bpId").css('cursor', 'auto');
                        
                        $("select#bpId option").each(function(){
                        	$(this).removeAttr( "selected" )
                        });
                        
					}
				});
				
				$(document).on("change", "select[name='envId']", function() {
					if( $(this).val() != "" ){
						$("#reqId").prop('disabled', true);
					}
					if( $(this).val() == "" && $("#bpId").val() == ""){
						$("#reqId").prop('disabled', false);
					}
					
				});
				
				$(document).on("change", "select[name='bpId']", function() {
					if( $(this).val() != "" ){
						$("#reqId").prop('disabled', true);
					}
					if( $(this).val() == "" && $("#envId").val() == ""){
						$("#reqId").prop('disabled', false);
					}
					
				}); 

				$(window).load(function() {
				
					if($('#reqId').val()) {
						diable_bp_re_select();
					} else if( $('#bpId').val() || $('#envId').val() ) {
						console.log("disable reqId")
						$("#reqId").prop('disabled', true);
					}
				})
				
				
				 function ajax_req_select(reqId) {
		                var timeout = null;
		            	var form = document.getElementById('FlowRaSelection');
		            	form.raId.value = reqId;
		            	var url = $(form).attr("action");
		                timeout = setTimeout(function() {
		                    $.post(url, $(form).serialize()).done(function(data, status, xhr) {
		                    	$("#releaseEnvFormError").css('display', 'none');
		                    	$("#buildPackageFormError").css('display', 'none');

		                    	$("#envId").html($(data).find("#envId").html());
		                    	$("#bpId").html($(data).find("#bpId").html());
		                    	
		                    	diable_bp_re_select();
		                        }).fail(function(data, status, xhr) {
										console.log("ajax_create_report fail " + url)
		                            });
		                }, 500);
		            }

	            function diable_bp_re_select() {
	            	$("#envId").css('background-color', '#B8B8B8');
                    $("#envId").css('cursor', 'not-allowed');
                    $('#envId').on('mousedown', function(e) {
                        e.preventDefault();
                        this.blur();
                        window.focus();
                    });
                    $("#bpId").css('background-color', '#B8B8B8');
                    $("#bpId").css('cursor', 'not-allowed');
                    $('#bpId').on('mousedown', function(e) {
                        e.preventDefault();
                        this.blur();
                        window.focus();
                    });
                 }
				
				/* ]]> */			
        </script>
</body>
</html>