<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{RemovalReqList.title.text}">資産削除申請の一覧</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet"
    href="../../../resources/css/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet" href="../../../resources/css/jquery-ui.css"
    th:href="@{/resources/css/jquery-ui.css}" />
<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <!-- 帯ポップアップ/bandPopup-->
    <div class="bandPopup">
        <div class="bandPopupMessage">
            <!--spacer-->
            <span>削除申請を行いました。</span>
        </div>
    </div>

    <!-- グローバルヘッダー -->
    <header th:replace="common/Global::lot"></header>


    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">

        <section style="display: none;">
            <table class="table tableSearchResults table-bordered"
                id="issues_table" th:fragment="resultTable">
                <thead>
                    <th data-column="title"
                        th:text="#{RemovalReqList.changeID.text}">変更管理番号</th>
                    <th data-column="status"
                        th:text="#{RemovalReqList.removalID.text}">削除申請番号</th>
                    <th data-column="contact"
                        th:text="#{RemovalReqList.subject.text}">申請件名</th>
                    <th data-column="group"
                        th:text="#{RemovalReqList.submitter.text}">申請者</th>
                    <th data-column="dateStart"
                        th:text="#{RemovalReqList.assignee.text}">担当者</th>
                    <th data-column="title"
                        th:text="#{RemovalReqList.removalReqDate.text}">削除申請日</th>
                    <th data-column="status"
                        th:text="#{RemovalReqList.updated.text}">更新日</th>
                </thead>
                <tbody>
                    <tr th:each="res : ${result.areqViewList}">
                        <td data-column="lot" th:text="${res.pjtId}">Aロット(LOT-1512310001)</td>
                        <td data-column="trinityNum"
                            th:text="${res.areqId}"></td>
                        <td data-column="title"
                            th:text="${res.subject}">#1006
                            24時間を超えると表示 が0に戻る</td>
                        <td data-column="status"
                            th:text="${res.submitterNm}">マージ済み</td>
                        <td data-column="contact"
                            th:text="${res.assigneeNm}">Tommy
                            Robinso</td>
                        <td data-column="group"
                            th:text="${res.requestDate}">運用保守グループ</td>
                        <td data-column="group" th:text="${res.updDate}">運用保守グループ</td>
                    </tr>

                </tbody>
            </table>

            <table class="table tableSearchResults table-bordered"
                id="issues_table" th:fragment="resultDraftTable">
                <thead>
                    <th data-column="title"
                        th:text="#{RemovalReqList.changeID.text}">変更管理番号</th>
                    <th data-column="status"
                        th:text="#{RemovalReqList.removalID.text}">削除申請番号</th>
                    <th data-column="contact"
                        th:text="#{RemovalReqList.subject.text}">申請件名</th>
                    <th data-column="group"
                        th:text="#{RemovalReqList.submitter.text}">申請者</th>
                    <th data-column="dateStart"
                        th:text="#{RemovalReqList.assignee.text}">担当者</th>
                    <th data-column="title"
                        th:text="#{RemovalReqList.removalReqDate.text}">削除申請日</th>
                    <th data-column="status"
                        th:text="#{RemovalReqList.updated.text}">更新日</th>
                </thead>
                <tbody id="result_exportdraftlist">

                    <tr th:each="res : ${result.draftAreqViewList}">
                        <td data-column="lot" th:text="${res.pjtId}">Aロット(LOT-1512310001)</td>
                        <td data-column="trinityNum"
                            th:text="${res.areqId}"></td>
                        <td data-column="title" th:text="${res.subject}">#1006
                            24時間を超えると表示 が0に戻る</td>
                        <td data-column="status"
                            th:text="${res.submitterNm}">マージ済み</td>
                        <td data-column="contact"
                            th:text="${res.assigneeNm}">Tommy
                            Robinso</td>
                        <td data-column="group"
                            th:text="${res.requestDate}">運用保守グループ</td>
                        <td data-column="group" th:text="${res.updDate}">運用保守グループ</td>
                    </tr>
                </tbody>
            </table>


        </section>

        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_request.png"
                    th:src="@{/resources/images/common/icon_request.png}"
                    alt="" />
                </span><span th:text="#{RemovalReqList.header.text}">資産削除申請の一覧</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ResourceRemovalRequestList.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>>
            </div>
            <ul class="contentsHeaderMenu" id="export_file">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv');return false;"><span
                        th:text="#{RemovalReqList.csv.text}">CSV</span></a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls');return false;"><span
                        th:text="#{RemovalReqList.excel.text}">Excel</span></a></li>
                <li><i class="fa fa-print"></i> <a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printRemovalRequestList();return false;'"
                    th:text="#{RemovalReqList.print.text}">印刷用ページ</a></li>
            </ul>
            <ul class="contentsHeaderMenu" id="export_draft"
                style="display: none;">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv', true);return false;"><span
                        th:text="#{RemovalReqList.csv.text}">CSV</span></a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls', true);return false;"><span
                        th:text="#{RemovalReqList.excel.text}">Excel</span></a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printRemovalRequestList();return false;'"><span
                        th:text="#{RemovalReqList.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <div class="modal fade saveFilterDialog" tabindex="-1"
            role="dialog" id="saveFilterDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchFilter.saveFilterTitle.text}">検索フィルタ</h4>
                    </div>
                    <form class="form-horizontal searchFilterForm">
                        <div class="modal-body">
                            <div
                                class="modal-error searchFilterNameError"
                                style="display: none;"
                                th:text="#{SearchFilter.saveFilterError.text}">フィルタ名を入力してください</div>
                            <div class="form-group">
                                <label for="searchFilterName"
                                    class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterName.text}">フィルタ名</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control input-sm searchFilterName"
                                        id="searchFilterName"
                                        placeholder="" />
                                </div>
                            </div>

                            <div class="form-group"
                                style="min-height: 100px;">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterCond.text}">検索条件</label>
                                <div class="col-sm-10">
                                    <table class="searchQueryInfoTable">
                                        <thead>
                                            <tr>
                                                <td
                                                    style="min-width: 100px;"></td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody
                                            id="searchQueryInfoTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <input type="submit" 
                                class="btn btn-default btn-xs"
                                value="検索条件を保存"
                                th:value="#{SearchFilter.saveFilterSubmit.text}"
                                th:onClick="'saveSearchFilter( \'' + @{/removal/filter/save} + '\' ); return false;'" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <section class="section searchSection" id="view_searchCondition">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{RemovalReqList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"> <span
                            th:text="#{RemovalReqList.saveSearchFilter.text}">検索条件を保存</span></a>
                    </li>
                </ul>
            </div>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table id="tableSearchCondition">
                        <tr>
                            <th
                                th:text="#{RemovalReqList.condStatus.text}">ステータス</th>
                            <td>
                                <ul class="searchCond" id="condStatus">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condStatus"
                                        data-value=""> <span
                                            th:text="#{RemovalReqList.condAll.text}">すべて</span></a></li>

                                    <li
                                        th:each="res : ${result.param.searchCondition.statusViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condStatus"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="#{Constants.amStatus.__${res.value}__.text}">ステータス</span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th
                                th:text="#{RemovalReqList.condCategory.text}">カテゴリー</th>
                            <td>
                                <ul class="searchCond" id="condCategory">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condCategory"
                                        data-value=""> <span
                                            th:text="#{RemovalReqList.condAll.text}">すべて</span>
                                    </a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.ctgViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condCategory"
                                        th:attr="data-value=${res.value}">
                                            <span th:text="${res.label}">未設定</span>
                                    </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th
                                th:text="#{RemovalReqList.condMilestone.text}">マイルストーン</th>
                            <td>
                                <ul class="searchCond"
                                    id="condMilestone">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condMilestone"
                                        data-value=""> <span
                                            th:text="#{RemovalReqList.condAll.text}">すべて</span>
                                    </a></li>
                                    <li
                                        th:each="res : ${result.param.searchCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condMilestone"
                                        th:attr="data-value=${res.value}">
                                            <span th:text="${res.label}">未設定</span>
                                    </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{RemovalReqList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">

                                <form
                                    th:action="@{/removal/export/file}"
                                    method="post" id="downloadFile">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="submitChanges" /> <input
                                        type="hidden" name="table" /> <input
                                        type="hidden"
                                        name="submitOption" />
                                </form>

                                <form id="FlowRemovalRequestSort"
                                    th:action="@{/removal/search}"
                                    method="POST">
                                    <input type="hidden"  name="RequestType" value="onChange" />
                                    <input type="hidden" name="sortKey" value="prj" />
                                    <input type="hidden" name="asc" value="true" />
                                    <input  type="hidden" name="condStatus"
                                        th:value="${result.param.searchCondition.stsId}" />
                                    <input type="hidden" name="condCategory"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden" name="condMilestone"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden" name="draft" value="false" />
                                    <input
                                        type="hidden"
                                        id="selectedPageNo"
                                        name="selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <input type="hidden"
                                        id="selectedNextPageNo"
                                        name="selectedNextPageNo"
                                        value="" />
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                id="searchKeyword"
                                                name="searchKeyword"
                                                value=""
                                                th:value="${result.param.searchCondition.keyword}"
                                                placeholder="全体からキーワード検索"
                                                th:placeholder="#{RemovalReqList.keyword.text}" />
                                        </dt>
                                        <dd>
                                            <input
                                                class="btn btn-default"
                                                type="hidden"
                                                value="検索中..."
                                                th:value="#{RemovalReqList.searching.text}"
                                                disabled="disabled" />
                                            <input
                                                class="btn btn-default"
                                                type="button"
                                                id="btn-search"
                                                value="検索"
                                                th:value="#{RemovalReqList.search.text}" />
                                        </dd>
                                    </dl>
                                </form>

                                <form id="FlowPrintRemovalRequestSort"
                                    th:action="@{/removal/list/print}"
                                    method="POST">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="onChange" />
                                    <input type="hidden" name="sortKey" value="prj" />
                                    <input type="hidden" name="asc" value="true" />
                                    <input type="hidden" name="stsId"
                                        th:value="${result.param.searchCondition.stsId}" />
                                    <input type="hidden" name="ctgId"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden" name="mstoneId"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden" name="keyword"
                                        th:value="${result.param.searchCondition.keyword}" />
                                    <input type="hidden" name="draft" value="false" />
                                    <input type="hidden" name="selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <input type="hidden" name="selectedNextPageNo" value="" />
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="section searchSection"
            id="draft_searchCondition" style="display: none;">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{RemovalReqList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"> <span
                            th:text="#{RemovalReqList.saveSearchFilter.text}">検索条件を保存</span></a></li>
                </ul>
            </div>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table style="min-width: 550px;">
                    <!--  
                        <tr>
                            <th
                                th:text="#{RemovalReqList.condStatus.text}">ステータス</th>
                            <td>
                                <ul class="searchCond">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchDraftCondItem select"
                                        data-key="draft_condStatus"
                                        data-value=""> <span
                                            th:text="#{RemovalReqList.condAll.text}">すべて</span></a></li>

                                    <li
                                        th:each="res : ${result.param.searchDraftCondition.statusViews}">
                                        <a href="javascript:void(0);"
                                        class="searchDraftCondItem"
                                        data-key="draft_condStatus"
                                        th:attr="data-value=${res.value}"><span
                                            th:text="#{Constants.amStatus.__${res.value}__.text}">ステータス</span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    -->
                        <tr>
                            <th
                                th:text="#{RemovalReqList.condCategory.text}">カテゴリー</th>
                            <td>
                                <ul class="searchCond">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchDraftCondItem select"
                                        data-key="draft_condCategory"
                                        data-value=""> <span
                                            th:text="#{RemovalReqList.condAll.text}">すべて</span>
                                    </a></li>
                                    <li
                                        th:each="res : ${result.param.searchDraftCondition.ctgViews}">
                                        <a href="javascript:void(0);"
                                        class="searchDraftCondItem"
                                        data-key="draft_condCategory"
                                        th:attr="data-value=${res.value}">
                                            <span th:text="${res.label}">未設定</span>
                                    </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th
                                th:text="#{RemovalReqList.condMilestone.text}">マイルストーン</th>
                            <td>
                                <ul class="searchCond">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchDraftCondItem select"
                                        data-key="draft_condMilestone"
                                        data-value=""> <span
                                            th:text="#{RemovalReqList.condAll.text}">すべて</span>
                                    </a></li>
                                    <li
                                        th:each="res : ${result.param.searchDraftCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchDraftCondItem"
                                        data-key="draft_condMilestone"
                                        th:attr="data-value=${res.value}">
                                            <span th:text="${res.label}">未設定</span>
                                    </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{RemovalReqList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">
                                <form id="FlowRemovalDraftRequestSort"
                                    th:action="@{/removal/search}"
                                    method="POST">
                                    <input type="hidden" name="RequestType" value="onChange" />
                                    <input type="hidden"
                                        name="sortKey" value="prj" />
                                    <input type="hidden" name="asc" value="true" />
                                    <input type="hidden" name="draft_condStatus"
                                        th:value="${result.param.searchDraftCondition.stsId}" />
                                    <input type="hidden" name="draft_condCategory"
                                        th:value="${result.param.searchDraftCondition.ctgId}" />
                                    <input type="hidden" name="draft_condMilestone"
                                        th:value="${result.param.searchDraftCondition.mstoneId}" />
                                    <input type="hidden" name="draft" value="true" />
                                    <input type="hidden" name="selectedDraftPageNo"
                                        th:value="${result.param.searchDraftCondition.selectedPageNo}" />
                                    <input type="hidden" name="selectedNextDraftPageNo"
                                        value="" />
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                id="draft_searchKeyword"
                                                name="draft_searchKeyword"
                                                value=""
                                                th:value="${result.param.searchDraftCondition.keyword}"
                                                placeholder="全体からキーワード検索"
                                                th:placeholder="#{RemovalReqList.keyword.text}" />
                                        </dt>
                                        <dd>
                                            <input
                                                class="btn btn-default"
                                                type="hidden"
                                                value="検索中..."
                                                th:value="#{RemovalReqList.searching.text}"
                                                disabled="disabled" />
                                            <input
                                                class="btn btn-default"
                                                type="button"
                                                id="draftBtn-search"
                                                value="検索"
                                                th:value="#{RemovalReqList.search.text}" />
                                        </dd>
                                    </dl>
                                </form>

                                <form
                                    id="FlowPrintRemovalDraftRequestSort"
                                    th:action="@{/removal/list/print}"
                                    method="POST">
                                    <input type="hidden" name="RequestType" value="onChange" />
                                    <input type="hidden" name="sortKey" value="prj" />
                                    <input type="hidden" name="asc" value="true" />
                                    <input type="hidden" name="draft_stsId"
                                        th:value="${result.param.searchDraftCondition.stsId}" />
                                    <input type="hidden" name="draft_ctgId"
                                        th:value="${result.param.searchDraftCondition.ctgId}" />
                                    <input type="hidden" name="draft_mstoneId"
                                        th:value="${result.param.searchDraftCondition.mstoneId}" />
                                    <input type="hidden" th:value="${result.param.searchDraftCondition.keyword}" />
                                    <input type="hidden" name="draft" value="true" />
                                    <input type="hidden" name="selectedPageNo"
                                        th:value="${result.param.searchDraftCondition.selectedPageNo}" />
                                    <input type="hidden" name="selectedNextPageNo" value="" />
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="section tableSection">
            <div id="tabs">
                <nav class="sectionNav sectionNavTab">
                    <dl class="sectionNavPager">
                        <ul>
                            <li><a href="#tabs-1" 
                                id="listTab"><span
                                    th:text="#{RemovalReqList.requestList.text}">申請一覧</span></a></li>
                            <li><a href="#tabs-2" 
                                id="draftTab"><span
                                    th:text="#{RemovalReqList.draft.text}">下書き</span></a></li>
                        </ul>
                    </dl>
                    <ul class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                        <li><a href="javascript:void(0);"
                            th:onClick="'javascript:submitRemovalRequestCreationService(\''+${result.param.selectedLotId}+'\');return false;'"><span><img
                                    src="../../images/trinity/common/icon_request_add.png"
                                    th:src="@{/resources/images/common/icon_request_add.png}"
                                    alt="" /></span> <span
                                th:text="#{RemovalReqList.createRemovalReq.text}">新規資産削除申請をする</span></a></li>
                    </ul>
                </nav>

                <form id="FlowChangePropertyDetailsService"
                    th:action="@{/chgproperty/details}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="forward"
                        value="ChangePropertyDetails" /> <input
                        type="hidden" name="pjtId" value="" />
                </form>

                <form id="FlowRemovalRequestDetailsService"
                    th:action="@{/removal/details}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="forward"
                        value="RemovalRequestDetails" /> <input
                        type="hidden" name="areqId" value="" />
                </form>
                <form id="FlowRemovalRequestEditService"
                    th:action="@{/removal/edit}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="forward"
                        value="RemovalRequestEdit" /> <input
                        type="hidden" name="areqId" value="" />
                </form>
				<div id="switchTabLoading">
	                <div id="tabs-1">
	                    <nav class="sectionNav" id="requestPageTop">
	                        <div th:replace="common/Pagination::Top"></div>
	                    </nav>
	
	                    <form id="FlowRemovalRequestCreationService"
	                        th:action="@{/removal/create}" method="POST">
	                        <input type="hidden" name="RequestType"
	                            value="init" /> <input type="hidden"
	                            name="referer" value="RemovalReqList" /> <input
	                            type="hidden" name="areqId" value="" />
	                    </form>
	
	                    <table class="table table-bordered no-margin-top">
	                        <thead>
	                            <tr>
	                                <th id="no_sort"><span
	                                    th:text="#{RemovalReqList.changeID.text}">変更管理番号</span></th>
	                                <th id="areq"><span
	                                    th:text="#{RemovalReqList.removalID.text}">削除申請番号</span></th>
	                                <th
	                                    th:text="#{RemovalReqList.subject.text}">申請件名</th>
	                                <th
	                                    th:text="#{RemovalReqList.submitter.text}">申請者</th>
	                                <th
	                                    th:text="#{RemovalReqList.assignee.text}">担当者</th>
	                                <th
	                                    th:text="#{RemovalReqList.removalReqDate.text}">削除申請日</th>
	                                <th
	                                    th:text="#{RemovalReqList.updated.text}">更新日</th>
	                                <th id="status11"><span
	                                    th:text="#{RemovalReqList.status.text}">ステータス</span></th>
	                                <th
	                                    th:if="${result.header.selectedLot.enabled}"
	                                    th:text="#{RemovalReqList.remove.text}">削除</th>
	                            </tr>
	                        </thead>
	
	                        <tbody id="result_requestlist">
	                            <tr th:each="res : ${result.areqViewList}"
	                                th:id="${res.pjtId}"
	                                th:fragment="RemovalReqList">
	                                <td><span th:text="${res.pjtId}"
	                                    class="changePropertyOverview"></span>
	                                    <a href="javascript:void(0);"
	                                    th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${res.pjtId} + '\'}); return false;'">
	                                        <i class="fa fa-clone"></i>
	                                </a> <span class="overviewPopup"></span></td>
	                                <td><a
	                                    href="javascript:void(0);"
	                                    th:text="${res.areqId}"
	                                    th:onClick="'javascript:submitDispatchRemovalRequest(\''+${res.areqId}+'\');return false;'">MSD-1511040001</a>
	                                </td>
	                                <td class="ellipsis"
	                                    th:text="${res.subject}">あああ</td>
	                                <td class="user"><img
	                                        th:src="${res.submitterIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.submitterNm}">Tommy
	                                            Robinson</span></td>
	                                <td class="user"><img
	                                        th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
	                                        th:src="${res.assigneeIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.assigneeNm}">Tommy
	                                            Robinson</span></td>
	                                <td th:text="${res.requestDate}">2016/01/01</td>
	                                <td th:text="${res.updDate}">2016/01/01</td>
	                                <td class="labels"><span
	                                    class="label"
	                                    th:classappend="'amStatus'+${res.stsId}"
	                                    th:text="#{Constants.amStatus.__${res.stsId}__.text}">承認済み</span></td>
	                                <td class="btns" th:if="${result.header.selectedLot.enabled}"><a
	                                    href="javascript:void(0)"
	                                    class="delete"
	                                    th:attr="data-value=${res.areqId}, draft=false"
	                                    th:onClick="'javascript:deleteFunction(\'' + ${res.areqId} + '\', false); return false;'">
	                                        <i class="fa fa-times-circle"></i>
	                                </a></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    
	                    <div
			                th:style="${result.areqViewList.size()}== 0 ? 'display:block;' : 'display:none;'"
			                class="emptySearchResults" id="emptyResultsMessage">
			                <i class="fa fa-warning"></i> <span
			                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
			            </div>
	
	                    <nav class="sectionNav" id="requestPageBottom">
	                        <dl class="sectionNavPager">
	                            <div th:replace="common/Pagination::Bottom"></div>
	                        </dl>
	                    </nav>
	                </div>
	
	                <div id="tabs-2">
	                    <nav class="sectionNav" id="draftPageTop">
	                        <dl class="sectionNavPager">
	                            <div th:replace="common/Pagination::Top"></div>
	                        </dl>
	                    </nav>
	
	                    <table
	                        class="table table-bordered no-margin-top">
	                        <thead>
	                            <tr>
	                                <th
	                                    th:text="#{RemovalReqList.changeID.text}">変更管理番号</th>
	                                <th
	                                    th:text="#{RemovalReqList.removalID.text}">削除申請番号</th>
	                                <th
	                                    th:text="#{RemovalReqList.subject.text}">申請件名</th>
	                                <th
	                                    th:text="#{RemovalReqList.submitter.text}">申請者</th>
	                                <th
	                                    th:text="#{RemovalReqList.assignee.text}">担当者</th>
	                                <th
	                                    th:text="#{RemovalReqList.removalReqDate.text}">削除申請日</th>
	                                <th
	                                    th:text="#{RemovalReqList.updated.text}">更新日</th>
	                                <th
	                                    th:text="#{RemovalReqList.remove.text}">削除</th>
	                            </tr>
	                        </thead>
	
	                        <tbody id="result_draftList">
	                            <tr
	                                th:each="res : ${result.draftAreqViewList}"
	                                th:id="${res.pjtId}">
	                                <td><span th:text="${res.pjtId}"
	                                    class="changePropertyOverview"></span>
	                                    <a href="javascript:void(0);"
	                                    th:onClick="'openOverviewInNewWindow(\'commonFlowChangePropertyDetailsService\', {\'pjtId\': \'' + ${res.pjtId} + '\'}); return false;'">
	                                        <i class="fa fa-clone"></i>
	                                </a> <span class="overviewPopup"></span></td>
	                                <td><a href="javascript:void(0)"
	                                    th:text="${res.areqId}"
	                                    th:onClick="'submitRemovalRequestEditService(\''+${res.areqId}+ '\' );return false;'"></a></td>
	                                <td class="ellipsis"
	                                    th:text="${res.subject}">つれづれなるまゝに</td>
	                                <td class="user"><img
	                                        th:src="${res.submitterIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.submitterNm}">Tommy
	                                            Robinson</span></td>
	                                <td class="user"><img
	                                        th:if="not ${#strings.isEmpty(res.assigneeIconPath)}"
	                                        th:src="${res.assigneeIconPath}"
	                                        alt="Jim Cruz" class="userImg" />
	                                        <span
	                                        th:text="${res.assigneeNm}">Tommy
	                                            Robinson</span></td>
	                                <td th:text="${res.requestDate}">2016/01/01</td>
	                                <td th:text="${res.updDate}">2016/01/01</td>
	                                <td class="btns"><a
	                                    href="javascript:void(0)"
	                                    class="delete"
	                                    th:attr="data-value=${res.areqId}, draft=true"
	                                    th:onClick="'javascript:deleteFunction(\'' + ${res.areqId} + '\', true); return false;'">
	                                        <i class="fa fa-times-circle"></i>
	                                </a></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    
	                    <div
			                th:style="${result.draftAreqViewList.size()}== 0 ? 'display:block;' : 'display:none;'"
			                class="emptySearchResults" id="emptyResultsDraftMessage">
			                <i class="fa fa-warning"></i> <span
			                    th:text="#{Common.emptyTable.text}">レコードが見つかりません。</span>
			            </div>
	
	
	                    <nav class="sectionNav" id="draftPageBottom">
	                        <dl class="sectionNavPager">
	                            <div th:replace="common/Pagination::Bottom"></div>
	                        </dl>
	                    </nav>
	                </div>
                </div>
                <form id="FlowRemovalRequestRemovalService"
                    th:action="@{/removal/remove}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="referer" value="RemovalRequestList" /> <input
                        type="hidden" name="forward"
                        value="RemovalRequestList" /> <input
                        type="hidden" name="areqId" value="" />
                </form>
                <form id="FlowChangePropertyOverviewService"
                    th:action="@{/chgproperty/overview}" method="POST">
                    <input type="hidden" name="RequestType" value="init" />
                    <input type="hidden" name="pjtId" value="" />
                </form>
                
                <form id="FormDispatchRemovalRequest" th:action="@{/dispatch}" method="POST">
                    <input type="hidden" name="RequestType" value="init" /> 
                    <input type="hidden" name="submitMode" value="details" />
                    <input type="hidden" name="dataId" value="" />
                    <input type="hidden" name="dataAttribute" value="RemovalRequest" />
                </form>
            </div>
        </section>
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:fragment="js">
		
		/*<![CDATA[*/
		//send ajax
		var formId = 'FlowRemovalRequestSort';
		var isDraft = false;
		$(document).ready(function(){

			$( "#tabs" ).tabs();
			
			var selectedTabId = /*[[${selectedTabId}]]*/null;
			if (selectedTabId != null && selectedTabId < 2) {
				$( "#tabs" ).tabs({'active':selectedTabId});
				switch (parseInt(selectedTabId)) {
					case 0:
						showNormal();
						break;
					case 1:
	    				showDraft();
	    				break;
				}
			}
			getTriLayer("flashMessage").show();
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
			
			$('#FlowPrintRemovalRequestSort').submit(function() {
				var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
				this.target = 'Popup_Window';
			});

			$('#FlowPrintRemovalDraftRequestSort').submit(function() {
				var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
				this.target = 'Popup_Window';
			});
			
		});
	
		function showNormal() {
			$("#view_searchCondition").css("display","block");
			$("#draft_searchCondition").css("display","none");
			$("#export_file").css("display","block");
			$("#export_draft").css("display","none");
			ajaxSearch("draft",false);
			formId = 'FlowRemovalRequestSort';
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
			isDraft = false;
		}
		
		function showDraft() {
			$("#view_searchCondition").css("display","none");
			$("#draft_searchCondition").css("display","block");
			$("#export_file").css("display","none");
			$("#export_draft").css("display","block");
			ajaxDraftSearch("draft",true);
			formId = 'FlowRemovalDraftRequestSort';
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
			isDraft = true;
		}
		
		function printRemovalRequestList() {
			if (isDraft) {
	 			submit("FlowPrintRemovalDraftRequestSort");
			} else {
				submit("FlowPrintRemovalRequestSort");
			}
			clearSubmitFlag();
		}
		
		function exportToFile(extension, isDraft) {
			var validateURL = /*[[ @{/removal/export/validate} ]]*/ '/removal/export/validate';
			var $windowId = $('#windowId').val();

		    $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                $("#message").html($(data).find("#message").html());
                if(!$("#message").html().trim()) {
                    var _url = /*[[@{/removal/export}]]*/'/removal/export';
                    var formName = "FlowRemovalRequestSort";
                    if(isDraft) formName = "FlowRemovalDraftRequestSort";
                    var form = document.getElementById(formName);
                    appendWindowId(form);
                    var _data = $(form).serialize()
                    $.ajax({
                        type: "POST",
                        url: _url,
                        data: _data,
                        global: false,
                        success: function(data) {
                            downloadFile($(data).html(), extension);
                        },
                    });
                }
            });
		}

		function downloadFile(table, extension) {
			var form = document.getElementById('downloadFile');
			if (extension == 'xls') {
				form.submitOption.value = "ExportToExcel";
			} else if (extension == 'csv') {
				form.submitOption.value = "ExportToCsv";
			}
			form.table.value = encodeURI(table);
			appendWindowId(form);
			form.submit();
			return;
		}

		function ajaxSearch( key, val ){
			var resultTable = 'result_requestlist';
			if(!key) {
        		resultTable = 'switchTabLoading';	
        	}
			getTriLayer("mask").startWaiting(resultTable);

			var timeOut = null;
			var url = /*[[ @{/removal/search} ]]*/'/removal/search';
			form = document.getElementById('FlowRemovalRequestSort');
		
			//debug
			console.log($('form[id="FlowRemovalRequestSort"]').serialize());

			$('#FlowRemovalRequestSort input[name="'+key+'"]').val( val );
			updateSearchFilterQuery(formId);
			$("#result_requestlist").html("");
			//send
			timeOut = setTimeout(function() {
				 $.post(url, serializeWindowId('FlowRemovalRequestSort')).done(
					function(data, status, xhr) {
						$("#result_requestlist").html($(data).find("#result_requestlist").html());
						$("#requestPageTop #pageTop").html($(data).find("#requestPageTop #pageTop").html());
						$("#requestPageBottom #pageBottom").html($(data).find("#requestPageBottom #pageBottom").html());
						$("#message").html($(data).find("#message").html());
						$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
						
						updateSearchConditionView(formId);
						getTriLayer("mask").endWaiting(resultTable);
						
					}).fail(function(XMLHttpRequest, status, errorThrown) {
						console.log("fail");
						getTriLayer("mask").endWaiting(resultTable);
					});
					
			 }, 500);
		}
		//send ajax
		function ajaxDraftSearch(key, val){
			var resultTable = 'result_draftList';
			if(!key) {
        		resultTable = 'switchTabLoading';	
        	}
			getTriLayer("mask").startWaiting(resultTable);
			
			var timeOut = null;
			var url = /*[[ @{/removal/search} ]]*/'removal/search';
			form = document.getElementById('FlowRemovalDraftRequestSort');
			//debug
			console.log($('form[id="FlowRemovalDraftRequestSort"]').serialize());

			$('#FlowRemovalDraftRequestSort input[name="'+key+'"]').val( val );
			updateSearchFilterQuery(formId);
			$("#result_draftList").html("");
			//send
			timeOut = setTimeout(function() {
				 $.post(url, serializeWindowId('FlowRemovalDraftRequestSort')).done(
					function(data, status, xhr) {
						$("#result_draftList").html($(data).find("#result_draftList").html());
						$("#result_exportdraftlist").html($(data).find("#result_exportdraftlist").html());
						
						$("#draftPageTop #pageTop").html($(data).find("#draftPageTop #pageTop").html());
						$("#draftPageBottom #pageBottom").html($(data).find("#draftPageBottom #pageBottom").html());
						$("#message").html($(data).find("#message").html());
						$("#emptyResultsDraftMessage").replaceWith($(data).find("#emptyResultsDraftMessage"));
						updateSearchConditionView(formId);
						getTriLayer("mask").endWaiting(resultTable);
						
					}).fail(function(XMLHttpRequest, status, errorThrown) {
						console.log("fail");
						getTriLayer("mask").endWaiting(resultTable);
					});
					
			 }, 500);
		}

		function changePropertyOverviewPopup(pjtId,selector){

	        var timeOut = null;
	    	var url =  /*[[ @{/chgproperty/overview} ]]*/'/chgproperty/overview';

			form = document.getElementById('FlowChangePropertyOverviewService');
			form.pjtId.value = pjtId;

	        timeOut = setTimeout(function() {
	            $.post(url, serializeWindowId('FlowChangePropertyOverviewService')).done(
					function(data, status, xhr) {  

						$("#message").html($(data).find("#message").html());  
						$(selector).parents("td").find(".overviewPopup").html($(data).html());
						$(selector).parents("td").find(".popupWindow").fadeIn(300);
						
					}).fail(function(XMLHttpRequest, status, errorThrown) {
				});
			},200);
		}
		
		function ajax_delete(areqId, draft) {
			var formId = 'FlowRemovalRequestRemovalService';
			setParamsToForm(formId, {"areqId" : areqId});
			$("#message").html("");
			var form = $("#" + formId);
			var _url = form.attr("action");
			appendWindowId(form);
			var _data = form.serialize();
			getTriLayer("mask").startWaiting('result_requestlist');
			$.ajax({
				type: "POST",
				url: _url,
				data: _data,
				success: function(data) {

					$("#infoDialog").html($(data).find("#infoDialog").html());
					getTriLayer("flashMessage").show();

					$("#message").html($(data).find("#message").html());  
					if (draft) {
						$("#result_draftList").html($(data).find("#result_draftList").html());
						$("#draftPageTop").html($(data).find("#draftPageTop").html());
						$("#draftPageBottom").html($(data).find("#draftPageBottom").html());
					} else {
						$("#result_requestlist").html($(data).find("#result_requestlist").html());
						$("#requestPageTop #pageTop").html($(data).find("#requestPageTop #pageTop").html());
						$("#requestPageBottom #pageBottom").html($(data).find("#requestPageBottom #pageBottom").html());
					}
					
					getTriLayer("mask").endWaiting('result_requestlist');
					
					if ($(".errorMessage")[0] != null) {
                        $("html, body").animate({scrollTop:$('#message').offset().top-$("nav#globalNav").height()});
                        $(".sectionErrorMessage").show();
					}
				},
				error: function(XMLHttpRequest, status, errorThrown) {
				},
				complete: function() {
				},
			});
		}
		
		function deleteFunction(areqId, draft) {
    		openBandPopup({
				message :messageReplace([[#{RemovalReqList.confirmRemoval.text}]], areqId),
				btn1Text :[[#{RemovalReqList.yes.text}]],
				btn2Text :[[#{RemovalReqList.no.text}]],
				
				btn1Func :function(){
    							ajax_delete(areqId, draft);
						  },
				btn2Func :function(){}
			});
	        
	  }

		function submitDispatchRemovalRequest(areqId) {
			form = document.getElementById('FormDispatchRemovalRequest');
			form.dataId.value = areqId;
			safeSubmit('FormDispatchRemovalRequest', {'validation':false});
		}
		
		function submitRemovalRequestCreationService(areqId) {
			form = document.getElementById('FlowRemovalRequestCreationService');
			form.areqId.value = areqId;
			safeSubmit('FlowRemovalRequestCreationService', {'validation':false});
		}
		
		function submitRemovalRequestDetailsService(areqId){
			form = document.getElementById('FlowRemovalRequestDetailsService');
			form.areqId.value = areqId;
			safeSubmit('FlowRemovalRequestDetailsService', {'validation':false});
		}
		function submitRemovalRequestEditService(areqId){
			form = document.getElementById('FlowRemovalRequestEditService');
			form.areqId.value = areqId;
			safeSubmit('FlowRemovalRequestEditService', {'validation':false});
		}


		//$(".tableSorter").tablesorter({headers:{0:{sorter:!1},1:{sorter:!1},2:{sorter:!1},3:{sorter:!1}}});
		$("#draftTab").on("click",function(){
			$("#view_searchCondition").css("display","none");
			$("#draft_searchCondition").css("display","block");
			$("#export_file").css("display","none");
			$("#export_draft").css("display","block");
			ajaxDraftSearch();
			formId = 'FlowRemovalDraftRequestSort';
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
			isDraft = true;
		});
	
		$("#listTab").on("click",function(){
			$("#view_searchCondition").css("display","block");
			$("#draft_searchCondition").css("display","none");
			$("#export_file").css("display","block");
			$("#export_draft").css("display","none");
			ajaxSearch();
			formId = 'FlowRemovalRequestSort';
			updateSearchFilterQuery(formId);
			updateSearchConditionView(formId);
			isDraft = false;
		});
			
		//block "enterkey" keypress in input form (searchKeyword)
		$(document).on("keypress", "input#searchKeyword", function(event) {
			return event.which !== 13;
		});

        $(document).on("keypress", "input#draft_searchKeyword", function(event) {
			return event.which !== 13;
		});

		$(document).on("click", ".pageNavi", function(){
			var val = $(this).attr("data-pageNum");
			var pageId = $(this).parents("nav:first").attr("id");
			console.log(pageId);
			if (pageId == 'requestPageTop'
				|| pageId == 'requestPageBottom') {
				ajaxSearch("selectedPageNo",val);
			} else if (pageId == 'draftPageTop'
				|| pageId == 'draftPageBottom') {
				ajaxDraftSearch("selectedDraftPageNo", val);
			}
		});
			
		//View List Search Condition
		$(document).on("click", ".searchCondItem", function(){
			//switch button
			$("#btn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			//change selected label
			var obj = $(this).parents(".searchCond").children("li").children("a.select");
			obj.removeClass("select");
			$(this).addClass("select");
	
			var key = $(this).attr("data-key");
			var val = $(this).attr("data-value");
			$('input[name='+key+']').val(val);
			//do search
			ajaxSearch(key,val);

			//switch button
			$("#btn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});
		
		//View List keyword search
		$(document).on("click", "input#btn-search", function(){
		
			//switch button
			$("#btn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			var key = "keyword";
			var val = $("input#keyword").val();
			ajaxSearch(key,val);
			
			$("#btn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});

		//Draft List Search Condition	
		$(document).on("click", ".searchDraftCondItem", function(){
		//switch button
			$("#draftBtn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			//change selected label
			var obj = $(this).parents(".searchCond").children("li").children("a.select");
			obj.removeClass("select");
			$(this).addClass("select");

			var key = $(this).attr("data-key");
			var val = $(this).attr("data-value");
			//do search
			ajaxDraftSearch(key,val);

			//switch button
			$("#draftBtn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});

		//Draft List keyword search
		$(document).on("click", "input#draftBtn-search", function(){
			//switch button
			$("#draftBtn-search").attr("type","hidden");
			$("#btn-searching").attr("type","button");

			var key = "draft_keyword";
			var val = $("input#draft_keyword").val();
			ajaxDraftSearch(key,val);
			
			$("#draftBtn-search").attr("type","button");
			$("#btn-searching").attr("type","hidden");
		});

		//changePropertyOverview
		$(document).on({
			'mouseenter':function(){
				var pjtId = $(this).html();
				var selector = this;

				$(".overviewPopup").html("");
				
				sethover = setTimeout(function(){
					changePropertyOverviewPopup(pjtId,selector);
				},300);
			},
			'mouseleave':function(){
				$(".overviewPopup").html("");
				clearTimeout(sethover);
			}
		},'.changePropertyOverview');
	

	/* ]]> */
		</script>
</body>
</html>