<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{RemovalReqDetails.title.text}" th:fragment="titleHtml">trinity
    | Resource Removal Request - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../resources/css/trinity.css"
    th:href="@{/resources/css/trinity.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <!-- 帯ポップアップ/bandPopup-->
        <div class="bandPopup">
            <div class="bandPopupMessage"></div>

            <div class="bandPopupButton"></div>
        </div>
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="img/common/icon_globalHeaderIcon.png"
                        th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="img/common/icon_bell.png"
                        th:src="@{/resources/images/common/icon_bell.png}"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="img/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/img/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img src="img/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="ThemeView.html">ロット設定</a></li>
                        <li><a href="">管理者設定</a></li>
                        <li><a href="">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotInfoView.html">ロット</a></li>
                <li><a href="CheckRequestViewList.html"
                    class="select">変更管理</a></li>
                <li><a href="">リリース管理</a></li>
                <li><a href="">レポート機能</a></li>
                <li><a href="">Wiki</a></li>
                <li><a href="">ファイル</a></li>
                <li><a href="">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
        <nav id="lotSubNav">
            <ul class="lotSubNavUl">
                <li><a href="CheckRequestViewList.html">資産の貸出と返却</a></li>
                <li><a href="RemovalRequestList.html"
                    class="select">資産の削除</a></li>
                <li><a href="">変更資産の承認</a></li>
            </ul>
        </nav>
    </header>

    <article class="contents fullWidth" th:fragment="innerHtml">
        <form
            id="FlowRemovalRequestApprovalPendingCancellationCommentService"
            method="POST" th:action="@{/removal/cancel/validate}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" />
        </form>

        <form id="FlowRemovalRequestDetailsPrintService" method="POST"
            th:action="@{/removal/details/print}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="areqId"
                th:value="${result.detailsView.areqId}" />
        </form>
        
        <form id="FlowRemovalRequestRemovalService"
                    th:action="@{/removal/remove}" method="POST">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="referer" value="RemovalRequestDetail" /> <input
                        type="hidden" name="forward"
                        value="RemovalRequestList" /> <input
                        type="hidden" name="areqId"  th:value="${result.param.selectedAreqId}" />
                </form>
        <div class="contentsHeader">
            <h1>
                <span><img src="img/common/icon_request_info.png"
                    th:src="@{/resources/images/common/icon_request_info.png}"
                    alt="" /></span> <span
                    th:text="#{RemovalReqDetails.header.text}">資産の削除申請の詳細</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ResourceRemovalRequestDetails.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:cloneWindow(\'FlowRemovalRequestDetailsService\');return false;'"
                    th:text="#{RemovalReqDetails.newWindow.text}">別ウインドウに複製</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    th:onClick="'javascript:printRemovalRequestDetails();return false;'"
                    th:text="#{RemovalReqDetails.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <form class="form-horizontal"
            id="FlowRemovalRequestDetailsService"
            th:action="@{/removal/details}" method="POST"
            target="CloneWindow">
            <input type="hidden" name="referer" value="RemovalRequestDetails" />
            <input type="hidden" name="RequestType" value="onChange" />
			<input type="hidden" name="areqId" th:value="${result.detailsView.areqId}" />
			<input type="hidden" name="path" value="" />
			<input type="hidden" name="resourceRequestType" value="" />
			<input type="hidden" name="requestOption" value="none" />
			<input type="hidden" name="viewMode" value="none" />

            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{RemovalReqDetails.basicInfo.text}">基本情報</span><span
                        class="helpBtn inline"><a th:href="#{ResourceRemovalRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>

                <dl class="dl-horizontal">
                    <dt>
                        <span th:text="#{RemovalReqDetails.lotID.text}">ロット番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.lotId}">LOT-1511020001</span>&nbsp;
                        <span class="label"
                            th:classappend="'amStatus'+${result.detailsView.lotStsId}"
                            th:text="#{Constants.amStatus.__${result.detailsView.lotStsId}__.text}">ロット進行中</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.approvalID.text}"></span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.areqId}"></span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.changeID.text}">変更管理番号</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.pjtId}">PJT-15110400011</span>&nbsp;
                        <span class="label"
                            th:classappend="'amStatus'+${result.detailsView.pjtStsId}"
                            th:text="#{Constants.amStatus.__${result.detailsView.pjtStsId}__.text}">変更進行中</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.referenceID.text}">変更要因番号</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.referenceId}">RFC-12345</span>
                    </dd>
                </dl>
                <br />
                <div class="row">
                    <div class="col-sm-5">
                        <dl class="dl-horizontal">
                            <dt class="userLabel">
                                <span
                                    th:text="#{RemovalReqDetails.submitter.text}">申請者</span>
                            </dt>
                            <dd class="user">
                                <img
                                    th:src="${result.detailsView.submitterIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${result.detailsView.submitterNm}">Tommy
                                    Robinson</span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-sm-7">
                        <dl class="dl-horizontal">
                            <dt>
                                <span
                                    th:text="#{RemovalReqDetails.submitterGroup.text}">申請のグループ</span>
                            </dt>
                            <dd>
                                <span
                                    th:text="${result.detailsView.groupNm}">グループ1</span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-5">
                        <dl class="dl-horizontal">
                            <dt class="userLabel">
                                <span
                                    th:text="#{RemovalReqDetails.assignee.text}">担当者</span>
                            </dt>
                            <dd class="user">
                                <img
                                    th:if="not ${#strings.isEmpty(result.detailsView.assigneeIconPath)}"
                                    th:src="${result.detailsView.assigneeIconPath}"
                                    alt="Jim Cruz" class="userImg" /> <span
                                    th:text="${result.detailsView.assigneeNm}">Tommy
                                    Robinson</span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.subject.text}">申請件名</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.subject}">なぜそんな無闇をしたと聞く人があるかも知れぬ</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.contents.text}">申請内容</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.contents}">別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.removalDate.text}">削除日</span>
                    </dt>
                    <dd>
                        <span
                            th:text="${result.detailsView.removalRequestTime}">2015/11/24</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.category.text}">カテゴリー</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.ctgNm}">テスト</span>
                    </dd>
                    <dt>
                        <span
                            th:text="#{RemovalReqDetails.milestone.text}">マイルストーン</span>
                    </dt>
                    <dd>
                        <span th:text="${result.detailsView.mstoneNm}">○○のバグ修正</span>
                    </dd>
                </dl>
            </section>

            <section class="section sectionRadius" id="treeviewFileTable">
                <h2>
                    <span th:text="#{RemovalReqDetails.fileInfo.text}">ファイル情報</span><span
                        class="helpBtn inline"><a th:href="#{ResourceRemovalRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                
                <nav class="sectionNav">
				<ul class="sectionNavLeft" style="float:left;">
	                    <li>
	                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'submitFormOpenAllFolderListView(url, formId); return false;'"
	                        class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
	                    </li>
	            </ul>
	            </nav>
                <form id="hiddenJsonForm">
                    <input type="hidden" id="hiddenJson"
                        name="hiddenJson" th:value="${json}" /> <input
                        type="hidden" id="hiddenSelectedPath"
                        name="hiddenSelectedPath"
                        th:value="${result.resourceSelectionFolderView.selectedPath}" />
                </form>
                <div class="fileListUnit" id="fileListUnit">
                    <div class="fileListUnitLeft matchHeight">
                        <h3>
                            <span
                                th:text="#{RemovalReqDetails.treeFolder.text}"></span>
                        </h3>
                        <div id="treeview" class="treeview"></div>
                    </div>

                    <div class="fileListUnitRight matchHeight">
                        <table id="fileViewTable"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeFilename.text}"></span></th>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeFilesize.text}"></span></th>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeSubmitter.text}"></span></th>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeRemovalDate.text}"></span></th>
                                    <!-- <th><span
                                        th:text="#{RemovalReqDetails.treeStatus.text}"></span></th> -->

                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="res : ${result.resourceSelectionFolderView.requestViews}">
                                    <td><span class="fileTreeIcon">
                                            <i
                                            th:if="${res.isDirectory()}"
                                            class="fa fa-folder-o"></i>
                                            <i th:if="${res.isFile()}"
                                            class="fa fa-file-o"></i>
                                    </span> <a th:if="${res.isDirectory()}"
                                        href="javascript:void(0);"
                                        th:onClick="'submitFormSelectFolder(url, formId, \'' + ${res.path} + '\'); return false;'">
                                            <span th:text="${res.name}">Folder_1</span>
                                    </a> <span th:if="${res.isFile()}"
                                        th:text="${res.name}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.submitterNm}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.removalRequestTime}"></span></td>
                                    <!-- <td><span
                                        class="label"
                                        th:classappend="'amStatus'+${result.detailsView.stsId}"
                                        th:text="#{Constants.amStatus.__${result.detailsView.stsId}__.text}">
                                    </span></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>
            
            <section class="section sectionRadius" id="listViewFileTable" style="display:none;">
                 <h2>
                    <span th:text="#{RemovalReqDetails.fileInfo.text}">ファイル情報</span><span
                        class="helpBtn inline"><a th:href="#{ResourceRemovalRequestDetails.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                 <nav class="sectionNav">

                    <ul class="sectionNavLeft" style="float:left;">
                    <li>
                        <i class="fa fa-th-list fa-lg" aria-hidden="true" style="padding-right:4px;"></i><a href="javascript:void(0);"  th:onClick="'displayTreeFileTable(); return false;'"
                         class="underline" th:text="#{ChkOutReqDetails.switchDisplayMode.text}">表示形式を切り替える</a>
                    </li>
                </ul>
                </nav>
                
                <div class="fileListUnitRight matchHeight">
                        <table id="fileViewTableListView"
                            class="table table-bordered tableSorter">
                            <thead>
                                <tr>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeFilename.text}">ステータス</span></th>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeFilesize.text}">名前</span></th>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeSubmitter.text}">サイズ</span></th>
                                    <th><span
                                        th:text="#{RemovalReqDetails.treeRemovalDate.text}">差分</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="res : ${result.resourceSelectionFolderView.requestViews}">
                                    <td>
                                    
                                     <span th:if="${res.isFile() and !result.getParam().getInputInfo().isFolderTreeFormat()}"
                                        th:text="${res.path}">Folder_1</span>
                                    </td>
                                    <td class="text-right"><span
                                        th:text="${res.size}"></span></td>
                                    <td><span
                                        th:text="${result.detailsView.submitterNm}"></span>
                                    </td>
                                    
                                    <td><span
                                        th:text="${result.detailsView.removalRequestTime}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
             </section>
        </form>


        <section class="section sectionRadiusWidth" th:if="${result.header.selectedLot.enabled}">
            <nav class="sectionNav">
                <dl class="sectionNavRight">
                    <dd class="commentButtons">
                        <a href="javascript:void(0);"
                            class="btn btn-default"
                            onClick="toggleComment('FlowRemovalRequestApprovalPendingCancellationCommentService', 'cancellation');">
                            <span class="commentButtonWaiting"
                            id="cancellationCommentButtonWaiting"
                            style="display: none;"><i
                                class="fa fa-circle-o-notch fa-spin"
                                aria-hidden="true"></i></span> <span
                            th:text="#{RemovalReqDetails.cancelRemovalReq.text}">削除申請を取り下げる</span>
                            <div class="fukidashiHeader"
                                id="cancellationFukidashiHeader"
                                style="display: none;"></div>
                        </a>
                        
                        <a href="" class="btn btn-default"
	                        th:onClick="'submitReasonDialog(\'FlowRemovalRequestRemovalService\', \'' 
	   									+ #{RemovalReqDetails.confirmRemovalRemove.text} 
	   									+ '\', \'' + #{RemovalReqDetails.yes.text} 
	   									+ '\', \'' + #{RemovalReqDetails.no.text} 
	   									+ '\' ); return false;'"
                             th:text="#{RemovalReqDetails.removalRemovalReq.text}">下書きを削除する
                        </a>
                    </dd>
                </dl>
            </nav>
            <div id="replace_reason"></div>
        </section>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="img/common/logo_blueship.svg"
                            th:src="@{/resources/images//common/logo_blueship.svg}"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="img/common/logo_trinity.png"
                            th:src="@{/resources/images/common/logo_trinity.png}"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:fragment="js">
	/*<![CDATA[*/
	var url = /*[[ @{/removal/details} ]]*/ '/removal/details';
    var formId = 'FlowRemovalRequestDetailsService';

    $(document).ready(function () {
		makeFolderTreeView(url, formId);
		
	});
    
	function submitCancellationService(formId) {
		openBandPopup({
			message		:[[#{RemovalReqDetails.confirmRemovalCancel.text}]],
			btn1Text	:[[#{RemovalReqDetails.yes.text}]],
			btn2Text	:[[#{RemovalReqDetails.no.text}]],
			btn1Func	:function() {
							safeSubmit(formId);
						},
			btn2Func    :function() {
						},
		});
	}

	$(document).ready(function(){
		$('#FlowRemovalRequestDetailsPrintService').submit(function() {
			var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
			this.target = 'Popup_Window';
		});
	});

	function printRemovalRequestDetails() {
		submit("FlowRemovalRequestDetailsPrintService");
	}
	/* ]]>*/
	</script>
</body>
</html>
