<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:fragment="titleHtml" th:text="#{ReportList.title.text}">trinity
    | Reports - View List</title>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html" class="select">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span> <img
                    src="../../images/trinity/common/icon_report.png"
                    th:src="@{/resources/images/common/icon_report.png}"
                    alt="" />
                </span><span th:text="#{ReportList.header.text}">レポートの一覧</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ReportsList.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv');return false;"
                    th:text="#{ReportList.csv.text}">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls');return false;"
                    th:text="#{ReportList.excel.text}">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    onclick="printReportList();return false;"
                    th:text="#{ReportList.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>

        <form id="FlowPrintReportList" th:action="@{/reports/list/print}"
            method="post">
            <input type="hidden" name="RequestType" />
            <input type="hidden" name="condType" />
            <input type="hidden" name="condStatus" />
			<input type="hidden" name="condCategory" />
			<input type="hidden" name="condMilestone" />
			<input type="hidden" name="searchKeyword" />
        </form>

        <form th:action="@{/reports/download}" method="post"
            id="downloadReport">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="reportId" />
        </form>
        
        
        <form th:action="@{/reports/create}" method="post"
            id="createReportLink">
            <input type="hidden" name="RequestType" value="init" />
        </form>

        <form th:action="@{/reports/multipledownload}" method="post"
            id="downloadMultipleReport">
            <input type="hidden" name="RequestType" value="onChange" />
            <input type="hidden" name="reportId[]" />
        </form>

        <div class="modal fade saveFilterDialog" tabindex="-1"
            role="dialog" id="saveFilterDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchFilter.saveFilterTitle.text}">??????</h4>
                    </div>
                    <form class="form-horizontal searchFilterForm">
                        <div class="modal-body">
                            <div
                                class="modal-error searchFilterNameError"
                                style="display: none;"
                                th:text="#{SearchFilter.saveFilterError.text}">???????????????</div>
                            <div class="form-group">
                                <label for="searchFilterName"
                                    class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterName.text}">?????</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control input-sm searchFilterName"
                                        id="searchFilterName"
                                        placeholder="" />
                                </div>
                            </div>

                            <div class="form-group"
                                style="min-height: 100px;">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchFilter.saveFilterCond.text}">????</label>
                                <div class="col-sm-10">
                                    <table class="searchQueryInfoTable">
                                        <thead>
                                            <tr>
                                                <td
                                                    style="min-width: 100px;"></td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody
                                            id="searchQueryInfoTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <input type="submit"
                                class="btn btn-default btn-xs"
                                value="???????"
                                th:value="#{SearchFilter.saveFilterSubmit.text}"
                                th:onClick="'saveSearchFilter( \'' + @{/reports/filter/save} + '\' ); return false;'" />
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- 検索条件 -->
        <section class="section searchSection">
            <div class="sectionHeader">
                <h2 class="faBtn">
                    <i class="fa fa-minus-square"></i><span
                        th:text="#{ReportList.searchCond.text}">検索条件</span>
                </h2>
                <ul class="sectionHeaderMenu">
                    <li><a href="" class="saveFilterButton"
                        data-toggle="modal"
                        data-target="#saveFilterDialog"
                        th:text="#{ReportList.saveSearchFilter.text}">
                            検索条件を保存</a></li>
                </ul>
            </div>
            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <table>
                        <tr>
                            <th th:text="#{ReportList.condType.text}">対象</th>
                            <td>
                                <ul class="searchCond" id="condType">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condType"
                                        data-value=""
                                        th:text="#{ReportList.condAll.text}">すべて</a></li>
                                    <li th:each="type : ${result.param.searchCondition.typeViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condType"
                                        th:attr="data-value=${type.label}"
                                        th:text="#{__${type.value}__}"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{ReportList.condStatus.text}">ステータス</th>
                            <td>
                                <ul class="searchCond" id="condStatus">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condStatus"
                                        data-value=""
                                        th:text="#{ReportList.condAll.text}">すべて</a></li>
                                    <li
                                        th:each="status : ${result.param.searchCondition.statusViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condStatus"
                                        th:attr="data-value=${status.label}"
                                        th:text="#{Constants.dcmStatus.__${status.label}__.text}"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th
                                th:text="#{ReportList.condCategory.text}">カテゴリー</th>
                            <td>
                                <ul class="searchCond" id="condCategory">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condCategory"
                                        data-value=""
                                        th:text="#{ReportList.condAll.text}">すべて</a></li>
                                    <li
                                        th:each="category : ${result.param.searchCondition.ctgViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condCategory"
                                        th:attr="data-value=${category.value}"
                                        th:text="${category.label}"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th
                                th:text="#{ReportList.condMilestone.text}">マイルストーン</th>
                            <td>
                                <ul class="searchCond" id="condMilestone">
                                    <li><a
                                        href="javascript:void(0);"
                                        class="searchCondItem select"
                                        data-key="condMilestone"
                                       	data-value=""
                                        th:text="#{ReportList.condAll.text}">すべて</a></li>
                                    <li
                                        th:each="milestone : ${result.param.searchCondition.mstoneViews}">
                                        <a href="javascript:void(0);"
                                        class="searchCondItem"
                                        data-key="condMilestone"
                                        th:attr="data-value=${milestone.value}"
                                        th:text="${milestone.label}"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="search">
                            <th><i class="fa fa-search"></i><span
                                th:text="#{ReportList.keyword.text}">キーワード検索</span></th>
                            <td class="searchBoxPartsSq">

                                <form th:action="@{/report/export/file}"
                                    method="post" id="downloadFile">
                                    <input type="hidden"
                                        name="RequestType"
                                        value="submitChanges" /> <input
                                        type="hidden" name="table" /> <input
                                        type="hidden"
                                        name="submitOption" />
                                </form>

                                <form id="FlowReportListSearch" th:action="@{/reports/search}" method="post">
                                    <input type="hidden" name="RequestType"
                                        value="onChange" /> 
                                   	<input type="hidden" name="condType"
                                        th:value="${result.param.searchCondition.type.value()}" />
                                    <input type="hidden" name="condStatus"
                                        th:value="${result.param.searchCondition.stsId}" />
                                    <input type="hidden" name="condCategory"
                                        th:value="${result.param.searchCondition.ctgId}" />
                                    <input type="hidden" name="condMilestone"
                                        th:value="${result.param.searchCondition.mstoneId}" />
                                    <input type="hidden" name="selectedPageNo"
                                        th:value="${result.param.searchCondition.selectedPageNo}" />
                                    <dl>
                                        <dt>
                                            <input type="text"
                                                name="searchKeyword"
                                                id="searchKeyword" value=""
                                                th:placeholder="#{ReportList.keyword.text}"
                                                th:value="${result.param.searchCondition.keyword}" />
                                        </dt>
                                        <dd>
                                            <input
                                                class="btn btn-default"
                                                id="btn-search"
                                                type="submit"
                                                th:value="#{ReportList.buttonSearch.text}" />
                                        </dd>
                                    </dl>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section style="display: none">
            <table class="table table-bordered"
                th:fragment="resultTable">
                <thead>
                    <tr>
                        <th th:text="#{ReportList.tableReportID.text}">レポート番号</th>
                        <th th:text="#{ReportList.tableReportType.text}">レポート区分</th>
                        <th th:text="#{ReportList.tableSubmitter.text}">作成者</th>
                        <th th:text="#{ReportList.createdDate.text}">作成日</th>
                        <th th:text="#{ReportList.tableStatus.text}">ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="report : ${result.reportViews}">
                        <td th:text="${report.reportId}">RP-1512310001</td>
                        <td
                            th:text="#{Constants.dcmReport.__${report.type.value()}__.text}">ビルドパッケージレポート</td>
                        <td><span th:text="${report.submitterNm}">Jim
                                Cruz</span></td>
                        <td th:text="${report.createdDate}">2015/11/24</td>
                        <td
                            th:text="#{Constants.dcmStatus.__${report.stsId}__.text}">作成処理</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- 表 -->
        <section class="section tableSection searchTableSection">
            <nav class="sectionNav" id="navTop">
                <dl class="sectionNavPager" id="requestPageTop"
                    th:style="${result.reportViews.size()} > 0 ? 'display:block;' : 'display:none;'">
                    <div th:replace="common/Pagination::Top"></div>
                </dl>
                <ul class="sectionNavRight" th:if="${result.header.selectedLot.enabled}">
                    <li><a href="javascript:void(0)"
                    	onclick="submit('createReportLink')"
                        class="underline"><span><img
                                src="../../images/trinity/common/icon_report_add.png"
                                th:src="@{/resources/images/common/icon_report_add.png}"
                                alt="レポート出力" /></span><span
                            th:text="#{ReportList.createNew.text}">新規レポートの出力</span></a>
                    </li>
                </ul>
            </nav>

            <table class="table table-bordered" id="reports_result">
                <thead>
                    <tr>
                        <th class="checkboxHead"><input
                            class="allCheck" type="checkbox" /></th>
                        <th th:text="#{ReportList.tableReportID.text}">レポート番号</th>
                        <th th:text="#{ReportList.tableReportType.text}">レポート区分</th>
                        <th th:text="#{ReportList.tableSubmitter.text}">作成者</th>
                        <th th:text="#{ReportList.createdDate.text}">作成日</th>
                        <th th:text="#{ReportList.tableStatus.text}">ステータス</th>
                        <th th:text="#{ReportList.tableAction.text}">アクション</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="report : ${result.reportViews}">
                        <th scope="row"><input name="repIds" class="itemCheckbox"
                            th:value="${report.reportId}"
                            th:checked="${report.isSelected()}"
                            type="checkbox" /></th>
                        <td th:text="${report.reportId}">RP-1512310001</td>
                        <td
                            th:text="#{Constants.dcmReport.__${report.type.value()}__.text}">ビルドパッケージレポート</td>
                        <td class="user"><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="${report.submitterIconPath}"
                            alt="Jim Cruz" class="userImg" /><span
                            th:text="${report.submitterNm}">Jim
                                Cruz</span></td>
                        <td th:text="${report.createdDate}">2015/11/24</td>
                        <td class="labels"><span
                            class="label label-large"
                            th:text="#{Constants.dcmStatus.__${report.stsId}__.text}"
                            th:classappend="'dcmStatus'+'__${report.stsId}__'">作成処理中</span></td>
                        <td class="btns"><a
                            th:if="${result.header.selectedLot.enabled}"
                            href="javascript:void(0)"
                            th:onclick="'javascript:removeReport(\'' + ${report.reportId} + '\');return false;'"><i
                                class="fa fa-times-circle"></i></a><span
                            style="margin: 4px;"></span> <span
                            th:if="${report.downloadEnable}"><a
                                href="javascript:void(0)"
                                th:onclick="'javascript:downloadReport(\'' + ${report.reportId} + '\');return false;'"><img
                                    src="../../images/trinity/common/icon_download.png"
                                    th:src="@{/resources/images/common/icon_download.png}"
                                    alt="" height="20px" /></a></span> <span
                            th:if="${not report.downloadEnable}"
                            style="margin: 10px;"></span></td>
                    </tr>
                    <tr th:remove="all">
                        <th scope="row"><input type="checkbox" /></th>
                        <td>RP-1512310001</td>
                        <td>ビルドパッケージレポート</td>
                        <td><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="@{/resources/images/common/icon_obake.png}"
                            alt="Jim Cruz" class="userImg" />Jim Cruz</td>
                        <td>2015/11/24</td>
                        <td class="labels"><span
                            class="label labelBlue">作成処理中</span></td>
                        <td class="btns"><a href="#"
                            class="removeRow"><i
                                class="fa fa-times-circle"></i></a><span
                            style="margin: 4px;"></span></td>
                    </tr>
                    <tr th:remove="all">
                        <th scope="row"><input type="checkbox" /></th>
                        <td>RP-1512310001</td>
                        <td>リリースパッケージレポート</td>
                        <td><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="@{/resources/images/common/icon_obake.png}"
                            alt="Casey Singleton" class="userImg" />Casey
                            Singleton</td>
                        <td>2015/12/11</td>
                        <td class="labels"><span
                            class="label labelGreen">作成完了</span></td>
                        <td class="btns"><a href="#"
                            class="removeRow"><i
                                class="fa fa-times-circle"></i></a><span
                            style="margin: 4px;"></span> <a href="#"><img
                                src="../../images/trinity/common/icon_download.png"
                                th:src="@{/resources/images/common/icon_download.png}"
                                alt="" height="20px" /></a></td>
                    </tr>
                    <tr th:remove="all">
                        <th scope="row"><input type="checkbox" /></th>
                        <td>RP-1511110001</td>
                        <td>リリース申請レポート</td>
                        <td><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="@{/resources/images/common/icon_obake.png}"
                            alt="Jackie Maldonado" class="userImg" />Jackie
                            Maldonado</td>
                        <td>2015/12/11</td>
                        <td class="labels"><span
                            class="label labelYellow">作成エラー</span></td>
                        <td class="btns"><a href="#"
                            class="removeRow"><i
                                class="fa fa-times-circle"></i></a> <span
                            style="margin: 4px;"></span> <a href="#"><img
                                src="../../images/trinity/common/icon_copy_error.png"
                                th:src="@{/resources/images/common/icon_copy_error.png}"
                                alt="" class="" height="20px" /></a></td>
                    </tr>
                    <tr th:remove="all">
                        <th scope="row"><input type="checkbox" /></th>
                        <td>RP-1510110001</td>
                        <td>原本資産レポート</td>
                        <td><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="@{/resources/images/common/icon_obake.png}"
                            alt="Jim Cruz" class="userImg" />Jim Cruz</td>
                        <td>2015/12/11</td>
                        <td class="labels"><span
                            class="label labelGreen">作成完了</span></td>
                        <td class="btns"><a href="#"
                            class="removeRow"><i
                                class="fa fa-times-circle"></i></a><span
                            style="margin: 4px;"></span> <a href="#"><img
                                src="../../images/trinity/common/icon_download.png"
                                th:src="@{/resources/images/common/icon_download.png}"
                                alt="" height="20px" /></a></td>
                    </tr>
                    <tr th:remove="all">
                        <th scope="row"><input type="checkbox" /></th>
                        <td>RP-1506110001</td>
                        <td>原本資産レポート</td>
                        <td><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="@{/resources/images/common/icon_obake.png}"
                            alt="Jackie Maldonado" class="userImg" />Jackie
                            Maldonado</td>
                        <td>2015/12/11</td>
                        <td class="labels"><span
                            class="label labelGreen">作成完了</span></td>
                        <td class="btns"><a href="#"
                            class="removeRow"><i
                                class="fa fa-times-circle"></i></a><span
                            style="margin: 4px;"></span> <a href="#"><img
                                src="../../images/trinity/common/icon_download.png"
                                th:src="@{/resources/images/common/icon_download.png}"
                                alt="" height="20px" /></a></td>
                    </tr>
                </tbody>
            </table>

            <nav class="sectionNav"
                th:style="${result.reportViews.size()} > 0 ? 'display:block;' : 'display:none;'"
                id="navBottom">
                <dl class="sectionNavPager" id="requestPageBottom">
                    <div th:replace="common/Pagination::Bottom"></div>
                </dl>
                <dl class="sectionNavRight">
                    <dt th:text="#{ReportList.buttonDesc.text}">チェックしたレポートを</dt>
                    <dd th:if="${result.header.selectedLot.enabled}">
                        <a id="MultipleRemoveBtn"
                        	href="javascript:void(0);"
                            onclick="multipleRemoveReport()"
                            class="btn btn-default"
                            th:text="#{ReportList.buttonMultipleRemove.text}">一括削除する</a>
                    </dd>
                    <dd>
                        <a id="MultipleDownloadBtn"
                        	href="javascript:void(0);"
                            onclick="multipleDownloadReport()"
                            class="btn btn-default"
                            th:text="#{ReportList.buttonMultipleDownload.text}">一括ダウンロードする</a>
                    </dd>
                </dl>
            </nav>
            <div
                th:style="${result.reportViews.size()} == 0 ? 'display:block;' : 'display:none;'"
                class="emptySearchResults" id="emptyResultsMessage">
                <i class="fa fa-warning"></i> <span
                    th:text="#{ReportList.emptyTable.text}">検索条件に該当するものがありませんでした</span>
            </div>
        </section>
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
		/*<![CDATA[*/
		
			var formId = 'FlowReportListSearch';
			$(document).ready(function(){
				updateSearchFilterQuery(formId);
				updateSearchConditionView(formId);
			});
			
			//Save selected reports
			var selectedReportIds = [];
			
			$(function() {
				selectAllReports();
				selectReport();
				getTriLayer("flashMessage").show();
    			
			});
			
			function selectAllReports() {
				$('.allCheck').change(function(event) {
	            	$('tbody tr th input[type="checkbox"]').prop('checked', $(this).prop('checked'));
	            	$('tbody tr td input[type="checkbox"]').prop('checked', $(this).prop('checked'));
					
					var reports = [];
					$("input[name=repIds]").each(function() {
						var report = {};
						report.repId = $(this).val();
						report.selected = $(this).is(':checked');
						
						reports.push(report);
	                });
					ajax_select(reports);
					event.preventDefault();
				});
			}

			
			function selectReport() {
				$('.itemCheckbox').change(function() {
				    updateHeadCheckbox('allCheck','itemCheckbox');
					var report = {};
					report.repId = $(this).val();
					report.selected = $(this).is(':checked');
					
					var reports = [];
					reports.push(report);
					ajax_select(reports);

				});
			}

			function ajax_select(reports) {
				var url = /*[[ @{/reports/select} ]]*/'/trinity/reports/select';
				var $windowId = $('#windowId').val();
                $.post( url, $.param( {'reportSelect' : JSON.stringify(reports), 'RequestType' : 'onChange', 'WindowsId' : $windowId} ) ).done(function(data, xhr, status) {
                    selectedReportIds = data;
                }).fail(function(data, xhr, status) {
                    console.log("fail ajax_select");
                });
			}

			function ajax_clear_selected_checkbox() {
				var url = /*[[ @{/reports/clear} ]]*/'/triniry/reports/clear';
				var $windowId = $('#windowId').val();
				timeOut = setTimeout(function() {
					$.post( url, $.param( {'RequestType' : 'onChange', 'WindowsId' : $windowId} ) ).done(function(data, xhr, status) {
						$("#reports_result input[type=checkbox]").prop('checked', false);
						selectedReportIds = [];
					}).fail(function(data, xhr, status) {
						console.log("fail ajax_clear");
					});
				}, 500);
			}
			
			//Print report list
			$(document).ready(function(){
				$('#FlowPrintReportList').submit(function() {
				    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
				    this.target = 'Popup_Window';
				});
			});

	        function printReportList() {
				var formSrc = document.getElementById("FlowReportListSearch");
				var formDest = document.getElementById("FlowPrintReportList");
				form2form(formSrc, formDest);
				submit('FlowPrintReportList');
		    }
	
			function form2form(formSrc, formDest) {
			    $(':input[name]', formSrc).each(function() {
			        $('[name=' + $(this).attr('name') +']', formDest).val($(this).val())
			    });
			}
		
			function exportToFile(extension) {

			    var validateURL = /*[[@{/report/export/validate}]]*/'/report/export/validate';
                var $windowId = $('#windowId').val();

                $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                    $("#message").html($(data).find("#message").html());
                    if(!$("#message").html().trim()) {
                        var _url = /*[[@{/report/export}]]*/'/report/export';
                        var form = document.getElementById("FlowReportListSearch");
                        appendWindowId(form);
                        var _data = $(form).serialize()
                        $.ajax({
                            type: "POST",
                            url: _url,
                            data: _data,
                            global: false,
                            success: function(data) {
                                downloadFile($(data).html(), extension);
                            },
                        });
                    }
                });
			}

			function downloadFile(table, extension) {
				var form = document.getElementById('downloadFile');
				if (extension == 'xls') {
					form.submitOption.value = "ExportToExcel";
				} else if (extension == 'csv') {
					form.submitOption.value = "ExportToCsv";
				}
				form.table.value = encodeURI(table);
				appendWindowId(form);
				form.submit();
				return;
			}
			
            $(document).on("click", ".searchCondItem", function() {
            	var obj = $(this).closest("ul").find("a.select");
            	obj.removeClass("select");
            	$(this).addClass("select");
            	
            	var key = $(this).attr("data-key");
            	var val = $(this).attr("data-value");
            	
            	ajax_search(key, val);
            });
		
			//Keyword search
            $(document).on("click", "#btn-search", function(e){
   				var key = "searchKeyword";
   				var val = $("#searchKeyword").val();
   				ajax_search(key,val);
            	e.preventDefault();
   			});
			
            $(document).on("click", ".pageNavi", function(){
				var val = $(this).attr("data-pageNum");
				ajax_search("selectedPageNo",val);
			});
		
			function ajax_search(key, val) {
				getTriLayer("mask").startWaiting('reports_result');
				var timeout = null;
				var url = /*[[ @{/reports/search} ]]*/'/reports/search';
				var form = document.getElementById('FlowReportListSearch');
				$('input[name='+key+']').val(val);
				appendWindowId(form);

				updateSearchFilterQuery(formId);
				//debug
				console.log($(form).serialize());
				
				timeOut = setTimeout(function() {
					$.post(url, $(form).serialize()).done(
						function(data, status, xhr) {
							getTriLayer("mask").endWaiting('reports_result');
							
							$("#reports_result").html($(data).find("#reports_result").html());
							$("#navTop").replaceWith($(data).find("#navTop"));
							$("#navBottom").replaceWith($(data).find("#navBottom"));
							$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
							$("#message").html($(data).find("#message").html());
							selectReport();
							selectAllReports();
							
						}).fail(function() {
							getTriLayer("mask").endWaiting('reports_result');
							console.log("ajax_search fail");
						});
				}, 500);
				updateSearchConditionView(formId);
			}
			
			function downloadReport(reportId) {
				var url = /*[[@{/reports/download/validate}]]*/'/reports/download/validate';
				var $windowId = $('#windowId').val();
				timeOut = setTimeout(function() {
					$.post(url, $.param({'reportId' : reportId, 'RequestType' : 'init', 'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
						var errorMessage = $(data).find("#message").html();
						if(errorMessage.trim()) {
							$("#message").html($(data).find("#message").html());
							console.log("downloadReport data is fail");
						} else {
							var form = document.getElementById('downloadReport');
							form.reportId.value = reportId;
							form.submit();
						}
					}).fail(function() {
						console.log("downloadReport fail")
					});
				}, 500);
				return;
			}
			
			function multipleDownloadReport() {
				var url = /*[[@{/reports/multipledownload/validate}]]*/'/reports/multipledownload/validate';
				var $windowId = $('#windowId').val();
				timeOut = setTimeout(function() {
					$.post(url, $.param({'reportId' : selectedReportIds, 'RequestType' : 'init', 'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
						var errorMessage = $(data).find("#message").html();
						if(errorMessage.trim()) {
							$("#message").html($(data).find("#message").html());
							console.log("downloadMultipleReport data is fail");
						} else {
							var form = document.getElementById('downloadMultipleReport');
							$("input[name='reportId[]']").val(selectedReportIds);
							appendWindowId(form);
							form.submit();
							ajax_clear_selected_checkbox();
						}
					}).fail(function() {
						console.log("downloadMultipleReport fail")
					});
				}, 500);
				return;
			}
			
			$( "#MultipleRemoveBtn" ).mouseover(function() {
				 if ( selectedReportIds.length > 0 ){
				
					 $(this).attr('onclick', "multipleRemoveReport()");
						$(this).css('background-color', '#FFFFFF');
						$(this).css('cursor', 'auto');

					
				  }else {
					  $(this).css('background-color', '#B8B8B8');
					  $(this).css('cursor', 'not-allowed');
					  $(this).prop('onclick',null).off('click');

				  }
					  
			});
			
			
			$( "#MultipleDownloadBtn" ).mouseover(function() {
					  
				 if ( selectedReportIds.length > 0 ){
						
					 $(this).attr('onclick', "multipleDownloadReport()");
						$(this).css('background-color', '#FFFFFF');
						$(this).css('cursor', 'auto');

					
				  }else {
					  $(this).css('background-color', '#B8B8B8');
					  $(this).css('cursor', 'not-allowed');
					  $(this).prop('onclick',null).off('click');

				  }
					  
			});
			
			
			function removeReport(reportId) {
				var repIds = new Array();
				repIds.push(reportId);
				var url = /*[[@{/reports/remove}]]*/'/reports/remove';
				openBandPopup({
    				message		: messageReplace( [[#{ReportList.confirmRemove.text}]] , reportId ),
    				btn1Text	: [[#{ReportList.yes.text}]],
    				btn2Text	: [[#{ReportList.no.text}]],
    				btn1Func	:function() {
    					ajax_remove(repIds, url);
    							 },
    				btn2Func	:function() {}
    			});
				
			}
			
			function multipleRemoveReport() {
				var url = /*[[@{/reports/multipleremove}]]*/'/reports/multipleremove';
				
				openBandPopup({
    				message		: [[#{ReportList.confirmMultipleRemove.text}]],
    				btn1Text	: [[#{ReportList.yes.text}]],
    				btn2Text	: [[#{ReportList.no.text}]],
    				btn1Func	:function() {
    					ajax_remove(selectedReportIds, url);
    							 },
    				btn2Func	:function() {}
    			});
			}
			
			function ajax_remove(reportIds, url) {
				var timeOut = null;
				
				var currentPage = $("li.current > .pageNavi").attr("data-pageNum")
				var $windowId = $('#windowId').val();
				timeOut = setTimeout(function() {
					$.post(url, $.param({'repIds' : reportIds, 'RequestType' : 'init', 'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
						$("#infoDialog").html($(data).find("#infoDialog").html());
						getTriLayer("flashMessage").show();
						
						var errorMessage = $(data).find("#message").html();
						if(errorMessage.trim()) {
							 $("#message").html($(data).find("#message").html());
							console.log("data is fail")
						} else {
							ajax_search("selectedPageNo", currentPage);
						}
					}).fail(function() {
						console.log("removeReport fail")
					});
				}, 500);
			}
        /* ]]> */
        </script>
</body>
</html>