<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ReportCreate.title.text}" th:fragment="titleHtml">trinity | Reports -
    Create New</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html" class="select">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_report_add.png"
                    th:src="@{/resources/images/common/icon_report_add.png}"
                    alt="" /></span><span
                    th:text="#{ReportCreate.header.text}">新規レポートの出力</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ReportsCreationBuildPackage.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>
        
        <form id="FlowReportsCreate" method="post" th:action="@{/reports/create}">
            <input type="hidden" name="RequestType" value="init" />
        </form>
        <form id="FlowReportsBuildPackageCreate" method="post" th:action="@{/reports/create/buildPackage}">
            <input type="hidden" name="ReqeustType" value="init" />
        </form>
        
        <form id="FlowReportsReleasePackageCreate" method="post" th:action="@{/reports/create/releasePackage}">
            <input type="hidden" name="ReqeustType" value="init" />
        </form>
        
        <form id="FlowReportsReleaseRequestCreate" method="post" th:action="@{/reports/create/releaseRequest}">
            <input type="hidden" name="ReqeustType" value="init" />
        </form>


        <section class="section sectionRadius">
            <h2>
                <span th:text="#{ReportCreate.createdReport.text}">出力するレポート</span><span
                    class="helpBtn inline"><a th:href="#{ReportsCreationBuildPackage.help.url}"
                                              target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="radio-inline"
                            onClick="safeSubmit('FlowReportsCreate',{validation : false});">
                            <input
	                            type="radio" class="reportsCreationSection"
	                            name="reportsCreationOptions"
	                            id="reportsCreationRadio1"
	                            th:value="@{/reports/create}" />
	                        <span
	                            th:text="#{ReportCreate.resourceReport.text}">原本資産レポート</span>
                        </label>
                        <label class="radio-inline" 
                        	onClick="safeSubmit('FlowReportsBuildPackageCreate',{'validation' : false});">
	                         <input
	                            type="radio" class="reportsCreationSection"
	                            name="reportsCreationOptions"
	                            id="reportsCreationRadio2"
	                            th:value="@{/reports/create/buildPackage}" 
	                            checked="checked" />
	                         <span
	                            th:text="#{ReportCreate.bldPkgReport.text}"
	                            >ビルドパッケージレポート</span>
                        </label>
                        <label class="radio-inline" 
                        	onClick="safeSubmit('FlowReportsReleasePackageCreate',{'validation' : false});">
	                        <input
	                            type="radio" class="reportsCreationSection"
	                            name="reportsCreationOptions"
	                            id="reportsCreationRadio3"
	                            th:value="@{/reports/create/releasePackage}"/>
	                        <span
	                            th:text="#{ReportCreate.relPkgReport.text}"
	                            >リリースパッケージレポート</span>
                        </label>
                        <label class="radio-inline" th:if="${result.header.releaseRequestEnabled}"
                        	onClick="safeSubmit('FlowReportsReleaseRequestCreate',{'validation' : false});">
							<input
							   type="radio" class="reportsCreationSection"
							   name="reportsCreationOptions"
							   id="reportsCreationRadio4"
							   th:value="@{/reports/create/releaseRequest}" />
							<span
							   th:text="#{ReportCreate.relReqReport.text}" >リリース申請レポート</span>
                        </label>
                    </div>
                </div>
            </form>
        </section>

        <!-- ビルドパッケージレポート -->
        <div class="reportsCreationSection" id="reportSection">
            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ReportCreate.bldPkgSettings.text}">ビルドパッケージの指定</span><span
                        class="helpBtn inline"><a th:href="#{ReportsCreationBuildPackage.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <nav class="sectionNav"
                    th:style="${result.buildPackageViews.size()} > 0 ? 'display:block;' : 'display:none;'"
                    id="navTop">
                    <dl class="sectionNavPager buildPackageCreation"
                        id="requestPageTop">
                        <div th:replace="common/Pagination::Top"></div>
                    </dl>
                </nav>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="checkboxHead"><input
                                class="allCheck" type="checkbox" /></th>
                            <th th:text="#{ReportCreate.bldPkgID.text}">ビルドパッケージ番号</th>
                            <th
                                th:text="#{ReportCreate.packageName.text}">パッケージ名</th>
                            <th th:text="#{ReportCreate.submitter.text}">作成者</th>
                            <th
                                th:text="#{ReportCreate.createdDate.text}">作成日</th>
                            <th th:text="#{ReportCreate.status.text}">ステータス</th>
                        </tr>
                    </thead>
                    <tbody id="builds_result">
                        <tr
                            th:each="build : ${result.buildPackageViews}">
                            <th scope="row"><input name="buildIds"
                                th:value="${build.bpId}"
                                th:checked="${build.isSelected()}"
                                type="checkbox" class="itemCheckbox" /></th>
                            <td><a
                            th:href="@{/dispatch(dataAttribute='BuildPackage',dataId=${build.bpId})}"
                                class="underline"
                                th:text="${build.bpId}"></a></td>
                            <td th:text="${build.bpNm}">20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                th:src="${build.submitterIconPath}"
                                alt="Jim Cruz" class="userImg" /><span
                                th:text="${build.submitterNm}">Jim
                                    Cruz</span></td>
                            <td th:text="${build.createdDate}">2015/11/24</td>
                            <td class="labels"><span
                                class="label label-large"
                                th:classappend="'rmStatus'+'__${build.stsId}__'"
                                th:text="#{Constants.rmStatus.__${build.stsId}__.text}">作成済み</span></td>
                        </tr>

                        <tr
                            th:style="${result.buildPackageViews.size()} > 0 ? 'display:none;'"
                            class="emptySearchResults">
                            <td colspan="6" style="text-align: center;">
                                <i class="fa fa-warning"></i> <span
                                th:text="#{ReportCreate.noBldPkg.text}">検索条件に該当するものがありませんでした</span>
                            </td>
                        </tr>

                        <tr th:remove="all">
                            <td colspan="6" style="text-align: center;"><i
                                class="fa fa-warning"></i>作成されたビルドパッケージがありません</td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row"><input type="checkbox" /></th>
                            <td><a href="BuildPackageDetails.html"
                                class="underline">BLD-1511100001</a></td>
                            <td>20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Jim Cruz" class="userImg" />Jim
                                Cruz</td>
                            <td>2015/11/24</td>
                            <td class="labels"><span
                                class="label labelGreen label-medium">作成済み</span></td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row"><input type="checkbox" /></th>
                            <td><a href="BuildPackageDetails.html"
                                class="underline">BLD-1511100001</a></td>
                            <td>20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Jim Cruz" class="userImg" />Jim
                                Cruz</td>
                            <td>2015/11/24</td>
                            <td class="labels"><span
                                class="label labelGreen label-medium">作成済み</span></td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row"><input type="checkbox" /></th>
                            <td><a href="BuildPackageDetails.html"
                                class="underline">BLD-1511100001</a></td>
                            <td>20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Jim Cruz" class="userImg" />Jim
                                Cruz</td>
                            <td>2015/11/24</td>
                            <td class="labels"><span
                                class="label labelGreen label-medium">作成済み</span></td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row"><input type="checkbox" /></th>
                            <td><a href="BuildPackageDetails.html"
                                class="underline">BLD-1511100001</a></td>
                            <td>20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Jim Cruz" class="userImg" />Jim
                                Cruz</td>
                            <td>2015/11/24</td>
                            <td class="labels"><span
                                class="label labelGreen label-medium">作成済み</span></td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row"><input type="checkbox" /></th>
                            <td><a href="BuildPackageDetails.html"
                                class="underline">BLD-1511100001</a></td>
                            <td>20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Jim Cruz" class="userImg" />Jim
                                Cruz</td>
                            <td>2015/11/24</td>
                            <td class="labels"><span
                                class="label labelGreen label-medium">作成済み</span></td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row"><input type="checkbox" /></th>
                            <td><a href="BuildPackageDetails.html"
                                class="underline">BLD-1511100001</a></td>
                            <td>20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Jim Cruz" class="userImg" />Jim
                                Cruz</td>
                            <td>2015/11/24</td>
                            <td class="labels"><span
                                class="label labelGreen label-medium">作成済み</span></td>
                        </tr>

                        <tr th:remove="all">
                            <th scope="row"><input type="checkbox" /></th>
                            <td><a href="BuildPackageDetails.html"
                                class="underline">BLD-1511100001</a></td>
                            <td>20151124_リリース</td>
                            <td class="user"><img
                                src="../../images/trinity/common/icon_obake.png"
                                alt="Jim Cruz" class="userImg" />Jim
                                Cruz</td>
                            <td>2015/11/24</td>
                            <td class="labels"><span
                                class="label labelGreen label-medium">作成済み</span></td>
                        </tr>

                    </tbody>
                </table>
                <nav class="sectionNav"
                    th:style="${result.buildPackageViews.size()} > 0 ? 'display:block;' : 'display:none;'"
                    id="navBottom">
                    <dl class="sectionNavPager buildPackageCreation"
                        id="requestPageBottom">
                        <div th:replace="common/Pagination::Bottom"></div>
                    </dl>
                </nav>
            </section>
            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0)"
                            onclick="submitBuildPackageReportCreation('FlowReportBuildPackageCreate')"
                            class="btn btn-default strong"
                            th:text="#{ReportCreate.submit.text}">出力する</a></li>
                    </ul>
                </nav>
            </section>

            <form th:action="@{/reports/create/buildPackage}"
                id="FlowReportBuildPackageCreate" method="post">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="selectedId" />
            </form>

            <form th:action="@{/reports/create/buildPackage}"
                id="FlowBuildPackageList" method="post">
                <input type="hidden" name="RequestType" value="onChange" />
                <input type="hidden" name="selectedPageNo"
                    id="selectedPageNo" /> <input type="hidden"
                    name="selectedId" />
            </form>
        </div>
        <!-- end of ビルドパッケージレポート -->
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
        /* <![CDATA[ */
            /*$(function() {
                $("input.reportsCreationSection").click(function () {
                    $("div.reportsCreationSection").hide();
                    var id = $(this).val();
                    //console.log(id);
                    $("div#"+id).show();
                });         
            });*/
            
            $(document).ready(function(){
            	buildPackagePagination();
            });

            $('.itemCheckbox').change(function() {
                updateHeadCheckbox('allCheck','itemCheckbox');
             });

          //Start Report Build Package creation
            function buildPackagePagination() {
	       		$(".buildPackageCreation .pageNavi").click(function() {
	                var pageNum = $(this).attr("data-pagenum");
	                var selected = [];
	                $("input[name=buildIds]:checked").each(function() {
	                    selected.push($(this).attr('value'));
	                });
	                ajax_refresh_build_package(pageNum, selected);
	            });
           	}

            function ajax_refresh_build_package(pageNum, selectedIds) {
				var timeout = null;
				var url = /*[[ @{/reports/create/buildPackage} ]]*/'/reports/create/buildPackage'
				var form = document.getElementById('FlowBuildPackageList');
	            form.selectedPageNo.value = pageNum;
	            form.selectedId.value = selectedIds;
	            appendWindowId(form);
				timeOut = setTimeout(function() {
					$.post(url, $(form).serialize()).done(
						function(data, status, xhr) {
							$("#builds_result").html($(data).find("#builds_result").html());
							$("#navTop").replaceWith($(data).find("#navTop"));
							$("#navBottom").replaceWith($(data).find("#navBottom"));
							$("#message").html($(data).find("#message").html());

							buildPackagePagination();
							$(".checkboxHead .allCheck").prop('checked', false);
						}).fail(function() {
							console.log("ajax_refresh_build_package fail");
						});
				}, 500);
			}

            function submitBuildPackageReportCreation(formId) {
                var form = document.getElementById(formId);
                var selected = [];
                $("input[name=buildIds]:checked").each(function() {
                    selected.push($(this).attr('value'));
                });
                form.selectedId.value = selected;
                safeSubmit(formId, {validation: false});
            }
            //Finish Report Build Package creation
		/* ]]> */
        </script>
</body>
</html>