<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{ReportCreate.title.text}" th:fragment="titleHtml">trinity | Reports -
    Create New</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="Dashboard.html">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div></li>
                <li><a href="Member.html">メンバー</a></li>
                <li><a href="SearchThisProject.html">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"> <img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    th:src="@{/resources/images/common/icon_globalHeaderIcon.png}"
                    alt="プロジェクト名" />
                </span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="@{/resources/images/common/icon_obake.png}"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a> <span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="LogOut.html">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html" class="select">レポート機能</a></li>
                <li><a href="WikiHome.html">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_report_add.png"
                    th:src="@{/resources/images/common/icon_report_add.png}"
                    alt="" /></span><span
                    th:text="#{ReportCreate.header.text}">新規レポートの出力</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{ReportsCreationResources.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
        </div>

        <nav class="section">
            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>
        </nav>
        
        <form id="FlowReportsCreate" method="post" th:action="@{/reports/create}">
            <input type="hidden" name="RequestType" value="init" />
        </form>
        <form id="FlowReportsBuildPackageCreate" method="post" th:action="@{/reports/create/buildPackage}">
            <input type="hidden" name="ReqeustType" value="init" />
        </form>
        
        <form id="FlowReportsReleasePackageCreate" method="post" th:action="@{/reports/create/releasePackage}">
            <input type="hidden" name="ReqeustType" value="init" />
        </form>
        
        <form id="FlowReportsReleaseRequestCreate" method="post" th:action="@{/reports/create/releaseRequest}">
            <input type="hidden" name="ReqeustType" value="init" />
        </form>


        <section class="section sectionRadius">
            <h2>
                <span th:text="#{ReportCreate.createdReport.text}">出力するレポート</span><span
                    class="helpBtn inline"><a th:href="#{ReportsCreationResources.help.url}"
                                              target="_blank"><i class="fa fa-question"></i></a></span>
            </h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="radio-inline"
                            onClick="safeSubmit('FlowReportsCreate',{validation : false});">
                            <input
	                            type="radio" class="reportsCreationSection"
	                            name="reportsCreationOptions"
	                            id="reportsCreationRadio1"
	                            th:value="@{/reports/create}" 
	                            checked="checked" />
	                        <span
	                            th:text="#{ReportCreate.resourceReport.text}">原本資産レポート</span>
                        </label>
                        <label class="radio-inline" 
                        	onClick="safeSubmit('FlowReportsBuildPackageCreate',{'validation' : false});">
	                         <input
	                            type="radio" class="reportsCreationSection"
	                            name="reportsCreationOptions"
	                            id="reportsCreationRadio2"
	                            th:value="@{/reports/create/buildPackage}" />
	                         <span
	                            th:text="#{ReportCreate.bldPkgReport.text}"
	                            >ビルドパッケージレポート</span>
                        </label>
                        <label class="radio-inline" 
                        	onClick="safeSubmit('FlowReportsReleasePackageCreate',{'validation' : false});">
	                        <input
	                            type="radio" class="reportsCreationSection"
	                            name="reportsCreationOptions"
	                            id="reportsCreationRadio3"
	                            th:value="@{/reports/create/releasePackage}"/>
	                        <span
	                            th:text="#{ReportCreate.relPkgReport.text}"
	                            >リリースパッケージレポート</span>
                        </label>
                        <label class="radio-inline" th:if="${result.header.releaseRequestEnabled}"
                        	onClick="safeSubmit('FlowReportsReleaseRequestCreate',{'validation' : false});">
							<input
							   type="radio" class="reportsCreationSection"
							   name="reportsCreationOptions"
							   id="reportsCreationRadio4"
							   th:value="@{/reports/create/releaseRequest}" />
							<span
							   th:text="#{ReportCreate.relReqReport.text}" >リリース申請レポート</span>
                        </label>
                    </div>
                </div>
            </form>
        </section>

        <!-- 原本資産レポート -->
        <div class="reportsCreationSection" id="reportSection">
            <section class="section sectionRadius">
                <h2>
                    <span th:text="#{ReportCreate.contentSettings.text}">出力範囲の指定</span><span
                        class="helpBtn inline"><a th:href="#{ReportsCreationResources.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="radio-inline"> <input
                                type="radio"
                                name="reportsCreationSectionOptions"
                                id="reportsCreationSectionRadio1-1"
                                value="true" checked="checked" /><span
                                th:text="#{ReportCreate.mainResourceAndReqResource.text}">原本資産と申請の資産からリストを作成</span>
                            </label> <label class="radio-inline"> <input
                                type="radio"
                                name="reportsCreationSectionOptions"
                                id="reportsCreationSectionRadio1-2"
                                value="false" /><span
                                th:text="#{ReportCreate.reqResource.text}">申請の資産からリストを作成</span>
                            </label>
                        </div>
                    </div>
                </form>
            </section>
            <section class="section sectionRadius">
                <h2>
                    <span
                        th:text="#{ReportCreate.createConditionSettings.text}">出力条件の指定</span><span
                        class="helpBtn inline"><a th:href="#{ReportsCreationResources.help.url}"
                                                  target="_blank"><i class="fa fa-question"></i></a></span>
                </h2>
                <form class="form-horizontal" method="post"
                    id="FlowReportAssetRegisterCreation">
                    <input type="hidden" name="RequestType"
                        value="submitChanges" /> <input type="hidden"
                        name="targetMW" />

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">

                            <span
                                style="font-size: 85%; text-align: center;"
                                th:text="#{ReportCreate.chooseMultipleCondition.text}">出力条件を複数選択した場合はOR検索となります。</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                            th:text="#{ReportCreate.latestBaseline.text}">最終ベースライン</label>
                        <div class="col-sm-4" style="padding-top: 7px;">
                            <span
                                th:text="${result.detailsView.latestBaselineTag}">base_20160123</span>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <a href="javascript:void(0);"
                                class="underline"
                                style="font-weight: bold;"
                                onclick="magicsuggestClear();"><i
                                class="fa fa-times"></i><span
                                th:text="#{ReportCreate.clearAllCondition.text}">すべての出力条件をクリア</span></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"
                            th:text="#{ReportCreate.changeID.text}">変更管理番号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                id="magicsuggestPjt" />
                        </div>
                        <label for="" class="col-sm-2 control-label"
                            th:text="#{ReportCreate.referenceID.text}">変更要因番号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                id="magicsuggestReference" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"
                            th:text="#{ReportCreate.submitter.text}">申請ユーザー</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                id="magicsuggestUser" />
                        </div>
                        <label for="" class="col-sm-2 control-label"
                            th:text="#{ReportCreate.reqGroup.text}">申請グループ</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                id="magicsuggestGroup" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"
                            th:text="#{ReportCreate.status.text}">ステータス</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                id="magicsuggestStatus" />
                        </div>
                        <label for="" class="col-sm-2 control-label"
                            th:text="#{ReportCreate.processStatus.text}">処理ステータス</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                id="magicsuggestProcStatus" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"
                            th:text="#{ReportCreate.moduleName.text}">モジュール名</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                id="magicsuggestModule" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                            th:text="#{ReportCreate.filePath.text}">ファイルパス</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                id="" name="filePath" /> <span
                                style="font-size: 85%;"
                                th:text="#{ReportCreate.filePathDesc.text}">パスの区切りは”/”を指定してください、なお未記入の場合は出力範囲に含まれる全資産を対象とします。</span>
                        </div>
                    </div>
                </form>
            </section>
            <section class="section sectionRadiusWidth">
                <nav class="sectionNav">
                    <ul class="sectionNavRight">
                        <li><a href="javascript:void(0)"
                            onclick="submitAssetReportCreation('FlowReportAssetRegisterCreation')"
                            class="btn btn-default strong"
                            th:text="#{ReportCreate.submit.text}">出力する</a></li>
                    </ul>
                </nav>
            </section>
        </div>
        <!-- end of 原本資産レポート -->
    </article>


    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
        /* <![CDATA[ */

            //Start Common js
            $(function() {
            	$("input[name=reportsCreationOptions]").change(function() {
                	var url = $(this).val();
                	//ajax_switch_report(url);
               	});

            	initializeMagicSuggest();
            	checkAll();
            });

            /*function ajax_switch_report(url) {
                var timeOut = null;
                var $windowId = $('#windowId').val();
                timeOut = setTimeout(function(){
                    $.post(url, $.param({'RequestType' : 'init', 'WindowsId' : $windowId})).done(function(data, status, xhr) {
                        $("#reportSection").html($(data).find("#reportSection").html());
                    	$("#message").html($(data).find("#message").html());
                    	buildPackagePagination();
                    	releasePagination();
                    	releaseRequestPagination();
                    	checkAll();
                    	initializeMagicSuggest();
               		  }).fail(
                          function(data, status, xhr) {
           					 console.log('ajax_switch_report fail ' + data);
          				  });
                }, 500);
            }*/

            function checkAll() {
            	//check if element exists on this page
                if( $('.allCheck').length ) {
	                $('.allCheck').change(function () {
		            	$('tbody tr th input[type="checkbox"]').prop('checked', $(this).prop('checked'));
		            	$('tbody tr td input[type="checkbox"]').prop('checked', $(this).prop('checked'));
	            	});
                }
            }
            //Finish common js
            
            //Start Report asset register creation
            var magicsuggestPjt, magicsuggestReference, magicsuggestUser, magicsuggestGroup,
            magicsuggestStatus, magicsuggestProcStatus, magicsuggestModule;

            // how to use: http://nicolasbize.com/magicsuggest/doc.html
            var pjtViewsJsonData = /*[[${result.param.searchCondition.pjtViews}]]*/;
            var referenceJsonData = /*[[${result.param.searchCondition.referenceViews}]]*/;
            var submitterJsonData = /*[[${result.param.searchCondition.submitterViews}]]*/;
            var groupJsonData = /*[[${result.param.searchCondition.groupViews}]]*/;
            var statusJsonData = /*[[${result.param.searchCondition.statusViews}]]*/;
            var procStatusJsonData = /*[[${result.param.searchCondition.procStatusViews}]]*/;
            var moduleJsonData = /*[[${result.param.searchCondition.moduleViews}]]*/;
            
            function initializeMagicSuggest(){
				//check if element exists on this page
                if (!$("#magicsuggestPjt").length) {
                    return;
                }
                
            	magicsuggestPjt = $("#magicsuggestPjt").magicSuggest({
                    data: pjtViewsJsonData,
                    useZebraStyle: true,
                    placeholder: [[#{ReportCreate.pleaseSelect.text}]],
                    editable: false,
                    maxSelection: null,
                    isSilent: true,
                    expandOnFocus: true,
                });
            	magicsuggestPjt.setName('pjtId');
            	
            	magicsuggestReference = $("#magicsuggestReference").magicSuggest({
                    data: referenceJsonData,
                    useZebraStyle: true,
                    placeholder: [[#{ReportCreate.pleaseSelect.text}]],
                    editable: false,
                    maxSelection: null,
                    expandOnFocus: true,
                });
            	magicsuggestReference.setName('referenceId');
                
            	magicsuggestUser = $("#magicsuggestUser").magicSuggest({
                    valueField: 'value',
                    data: submitterJsonData,
                    useZebraStyle: true,
                    placeholder: [[#{ReportCreate.pleaseSelect.text}]],
                    editable: false,
                    maxSelection: null,
                    expandOnFocus: true,
                    renderer: function( data )
                    {
                        return '<img src="'+data.subValue+'" height="16px" style="padding-top:5px; margin-right:4px;" />' + data.label;
                    },
                    selectionRenderer: function( data )
                    {
                    	return '<img src="' + data.subValue + '" height="16px" style="padding-top:5px; margin-right:4px;" /><input type="hidden" value="' +data.value +'" name="submitterId[]" />' + data.label;
                    }
                });
                
            	magicsuggestGroup = $("#magicsuggestGroup").magicSuggest({
                    valueField: 'label',
                    data: groupJsonData,
                    useZebraStyle: true,
                    placeholder: [[#{ReportCreate.pleaseSelect.text}]],
                    editable: false,
                    maxSelection: null,
                    expandOnFocus: true,
                    renderer: function( data )
                    {
                        return data.label;
                    },
                    selectionRenderer: function( data )
                    {
                        return data.label;
                    }
                });
            	magicsuggestGroup.setName('groupId');
            	
            	magicsuggestStatus = $("#magicsuggestStatus").magicSuggest({
                    valueField: 'value',
                    displayField: 'label',
                    data: statusJsonData,
                    useZebraStyle: true,
                    placeholder: [[#{ReportCreate.pleaseSelect.text}]],
                    editable: false,
                    expandOnFocus: true
                });
            	magicsuggestStatus.setName('stsId');
            	
            	magicsuggestProcStatus = $("#magicsuggestProcStatus").magicSuggest({
                    valueField: 'value',
                    displayField: 'label',
                    data: procStatusJsonData,
                    useZebraStyle: true,
                    placeholder: [[#{ReportCreate.pleaseSelect.text}]],
                    editable: false,
                    expandOnFocus: true
                });
            	magicsuggestProcStatus.setName('procStsId');
            	
            	magicsuggestModule = $("#magicsuggestModule").magicSuggest({
                    data: moduleJsonData,
                    useZebraStyle: true,
                    placeholder: [[#{ReportCreate.pleaseSelect.text}]],
                    editable: false,
                    maxSelection: null,
                    expandOnFocus: true,
                });
            	magicsuggestModule.setName('moduleNm');
            	
            }

            function magicsuggestClear() {
            	magicsuggestPjt.clear(true);
            	magicsuggestReference.clear(true);
                magicsuggestUser.clear(true);
                magicsuggestGroup.clear(true);
                magicsuggestStatus.clear(true);
                magicsuggestProcStatus.clear(true);
                magicsuggestModule.clear(true);

                magicsuggestPjt.collapse();
            	magicsuggestReference.collapse();
                magicsuggestUser.collapse();
                magicsuggestGroup.collapse();
                magicsuggestStatus.collapse();
                magicsuggestProcStatus.collapse();
                magicsuggestModule.collapse();
            }

            function submitAssetReportCreation(formId) {
                var form = document.getElementById(formId);
                form.targetMW.value = $("input[name=reportsCreationSectionOptions]:checked").val();
                safeSubmit(formId, {validation: false});
            }
            //Finish Report Asset Register creation
            
		/* ]]> */
        </script>
</body>
</html>