<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{SearchThisProject.title.text}">trinity |
    Search this Project</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{SearchThisProject.header.text}">全体検索</h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{SearchThisProject.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv');return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls');return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    onclick="printSearchThisSite();return false;"
                    th:text="#{SearchThisProject.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <nav class="sectionNav sectionConfigContentsNav">
            <ul class="sectionNavLeft">
                <li>
                    <div th:replace="common/Messages::message">Messages</div>
                </li>
            </ul>
        </nav>

        <form id="FlowPrintSearchThisSiteService"
            th:action="@{/project/search/print}" method="POST">
            <input type="hidden" name="RequestType" /> <input
                type="hidden" name="selectedPageNo" /> <input
                type="hidden" name="linesPerPage" /> <input
                type="hidden" name="filterLot" /> <input type="hidden"
                name="dateStart" /> <input type="hidden" name="dateEnd" />
            <input type="hidden" name="dataProcessing" /> <input
                type="hidden" name="status" /> <input type="hidden"
                name="contact" /> <input type="hidden" name="group" /> <input
                type="hidden" name="category" /> <input type="hidden"
                name="milestone" /> <input type="hidden"
                name="attachment" /> <input type="hidden" name="keyword" />
        </form>

        <p class="contentsHeaderLead"
            th:text="#{SearchThisProject.searchAllLot.text}">すべてのロットを対象とした検索を行うことができます</p>

        <section class="section searchSection">
            <div class="sectionHeader">
                <div class="row">
                    <h2 class="faBtn col-md-9">
                        <i class="fa fa-minus-square"></i> <span
                            th:text="#{SearchThisProject.searchConditions.text}">検索条件：</span>
                        <span class="searchQueryDetail"></span>
                    </h2>
                    <ul
                        class="searchSectionHeaderMenu col-md-2 text-right">
                        <li><a href=""
                            class="saveFilterButton btn btn-default btn-xs"
                            data-toggle="modal"
                            data-target="#saveFilterDialog"> <i
                                class="fa fa-save"></i> <span
                                th:text="#{SearchThisProject.saveSearchFilter.text}">検索条件を保存</span>
                        </a></li>
                    </ul>
                </div>
            </div>

            <form th:action="@{/project/search/export/file}" method="post"
                id="downloadFile">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="table" /> <input type="hidden"
                    name="submitOption" />
            </form>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <form class="globalSearchForm"
                        id="FlowSearchThisSite" method="POST"
                        th:action="@{/project/search}">
                        <input type="hidden" name="RequestType"
                            value="onChange" /> <input type="hidden"
                            name="selectedPageNo" value="" /> <input
                            type="hidden" name="linesPerPage" value="" />
                        <div class="searchFormBlock clearfix">
                            <div class="row">
                                <div
                                    class="col-sm-12 col-md-6 globalSearchLotWrapper">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.tableLot.text}">ロット</label>
                                        <select multiple="multiple"
                                            class="form-control filterField searchThisProjectConditions"
                                            size="4" name="filterLot"
                                            th:attr="data-label=#{SearchThisProject.tableLot.text}">
                                            <option value=""></option>
                                            <option
                                                th:each="lot : ${result.param.searchCondition.lotViews}"
                                                th:value="${lot.value}"
                                                th:text="${lot.label}+ ' (' + ${lot.value} + ')'"
                                                th:selected="${result.param.searchCondition.lotIds != null ? #arrays.contains(result.param.searchCondition.lotIds,lot.value) : false}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div
                                    class="col-sm-12 col-md-6 globalSearchDateWrapper">
                                    <div
                                        class="form-group filterFieldGroup"
                                        th:attr="data-label=#{SearchThisProject.period.text}">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.period.text}">期間</label>
                                        <div class="form-inline">
                                            <span
                                                class="date datePicker">
                                                <input type="text"
                                                class="form-control input-sm inputSmallDate filterField searchThisProjectConditions"
                                                name="dateStart"
                                                th:value="${result.param.searchCondition.mstoneStartDate}"/>
                                                <span
                                                class="input-group-addon datePickerIconWapper">
                                                    <img
                                                    src="../../images/trinity/common/icon_calender_mini.png"
                                                    th:src="@{/resources/images/common/icon_calender_mini.png}"
                                                    class="datePickerIcon" />
                                            </span>
                                            </span> <span>~</span> <span
                                                class="date datePicker">
                                                <input type="text"
                                                class="form-control input-sm inputSmallDate filterField searchThisProjectConditions"
                                                name="dateEnd" th:value="${result.param.searchCondition.mstoneDueDate}"/> <span
                                                class="input-group-addon datePickerIconWapper">
                                                    <img
                                                    src="../../images/trinity/common/icon_calender_mini.png"
                                                    th:src="@{/resources/images/common/icon_calender_mini.png}"
                                                    class="datePickerIcon" />
                                            </span>
                                            </span> <span class=""
                                                th:text="#{SearchThisProject.dateCaution.text}">※
                                                YYYY/MM/DDで入力してください。</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.tableProcess.text}">処理</label>
                                        <div class="input-group">
                                            <select
                                                class="form-control filterField"
                                                th:attr="data-label=#{SearchThisProject.process.text}"
                                                name="dataProcessing"
                                                required="required">
                                                <option value=""></option>
                                                <option
                                                    th:each="data : ${result.param.searchCondition.dataViews}"
                                                    th:value="${data.value}"
                                                    th:text="#{Dashboard.recentUpdates.dataAttribute.__${data.value}__.text}"
                                                    th:selected="${data.value == result.param.searchCondition.dataNm}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.tableStatus.text}">ステータス</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="status"
                                            th:attr="data-label=#{SearchThisProject.tableStatus.text}"
                                            onchange="ajax_refresh()"
                                            id="status">
                                            <option value=""></option>
                                            <th:block th:each="status : ${result.param.searchCondition.statusViews}"
                                            		th:switch="${status.subValue}">
                                            	<option
                                            		th:case="'ReleaseRequest'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.rmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                            <option
                                            		th:case="'ReleasePackage'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.rmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                            <option
                                            		th:case="'DeploymentJob'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.dmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                           	<option
                                            		th:case="'BuildPackage'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.rmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                            <option
                                            		th:case="*"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.amStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.assignee.text}">担当者</label>
                                        <a href="#"
                                            class="quickOptionLink"
                                            th:attr="data-values=${result.userId}">
                                            <i class="fa fa-check"></i>
                                            <span
                                            th:text="#{SearchThisProject.selectMe.text}">私を選択</span>
                                        </a> <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="contact"
                                            th:attr="data-label=#{SearchThisProject.assignee.text}"
                                            onchange="ajax_refresh()">
                                            <option value=""></option>
                                            <option
                                                th:each="user : ${result.param.searchCondition.assigneeViews}"
                                                th:value="${user.value}"
                                                th:text="${user.label}"
                                                th:selected="${result.param.searchCondition.assigneeIds != null ? #arrays.contains(result.param.searchCondition.assigneeIds,user.value) :'false'}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.group.text}">担当グループ</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="group"
                                            th:attr="data-label=#{SearchThisProject.group.text}"
                                            onchange="ajax_refresh()">
                                            <option value=""></option>
                                            <option
                                                th:each="group : ${result.param.searchCondition.groupViews}"
                                                th:value="${group.value}"
                                                th:text="${group.label}"
                                                th:selected="${result.param.searchCondition.groupIds != null ? #arrays.contains(result.param.searchCondition.groupIds,group.value) :'false'}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-12 col-md-3"></div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.category.text}">カテゴリ</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="category"
                                            th:attr="data-label=#{SearchThisProject.category.text}"
                                            onchange="ajax_refresh()"
                                            id="category">
                                            <option value=""></option>
                                            <option
                                                th:each="category : ${result.param.searchCondition.ctgViews}"
                                                th:value="${category.value}"
                                                th:text="${category.label}"
                                                th:attr="lotid=${category.subValue}"
                                                th:style="'display:none'"
                                                th:selected="${result.param.searchCondition.ctgIds != null ? #arrays.contains(result.param.searchCondition.ctgIds,category.value) :'false'}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.milestone.text}">マイルストーン</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="milestone"
                                            th:attr="data-label=#{SearchThisProject.milestone.text}"
                                            onchange="ajax_refresh()"
                                            id="milestone">
                                            <option value=""></option>
                                            <option
                                                th:each="milestone : ${result.param.searchCondition.mstoneViews}"
                                                th:value="${milestone.value}"
                                                th:text="${milestone.label}"
                                                th:attr="lotid=${milestone.subValue}"
                                                th:style="'display:none'"
                                                th:selected="${result.param.searchCondition.mstoneIds != null ? #arrays.contains(result.param.searchCondition.mstoneIds,milestone.value) :'false'}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="checkbox" style="margin: 0;">
                                <label> <input type="checkbox"
                                    value="true" class="filterField" name="attachment"
                                    th:attr="data-label=#{SearchThisProject.attached.text}"
                                    onchange="ajax_refresh()" th:checked="${result.param.searchCondition.attachedFile}"/>
                                    <span th:text="#{SearchThisProject.attached.text}" >添付ファイル有</span>
                                </label>
                            </div>
                        </div>

                        <div class="searchFormBlock clearfix">
                            <div class="form-horizontal">
                                <div class="form-group"
                                    style="margin-bottom: 0;">
                                    <label
                                        class="col-sm-1 control-label"
                                        th:text="#{SearchThisProject.keyword.text}">キーワード</label>
                                    <div class="col-sm-11">
                                        <input type="text"
                                            class="form-control filterField"
                                            name="keyword" th:value="${result.param.searchCondition.keyword}"
                                            th:attr="data-label=#{SearchThisProject.keyword.text}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <a href="#" class="clearSearchFormButton"
                                th:text="#{SearchThisProject.clearSearchConditions.text}">検索条件をクリアする</a>
                            <input id="submitSearchCondition"
                                class="btn btn-default btn-xs"
                                type="button"
                                th:value="#{SearchThisProject.search.text}"
                                disabled="disabled"
                                onclick="ajax_refresh()" />
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="section tableSection searchTableSection" id="waitingMask">
            <div
                th:style="${result.searchSiteViews.size()} == 0 ? 'display:block;' : 'display:none;'"
                class="emptySearchResults" id="emptyResultsMessage">
                <i class="fa fa-warning"></i> <span
                    th:text="#{SearchThisProject.notApplicable.text}">検索条件に該当するものがありませんでした</span>
            </div>
            <div id="resultBody"
                th:style="${result.searchSiteViews.size()} != 0 ? 'display:block;' : 'display:none;'">
                <nav class="sectionNav">
                    <nav class="sectionNav requestPage"
                        id="requestPageTop">
                        <div th:replace="common/Pagination::Top"></div>
                    </nav>
                    <ul class="searchSectionNavRight">
                        <li><i class="fa fa-gear"></i> <a href=""
                            class="saveFilterButton" data-toggle="modal"
                            data-target="#resultSettingDialog"
                            th:text="#{SearchThisProject.displaySetting.text}">検索結果の表示設定</a>
                        </li>
                    </ul>
                </nav>

                <table class="table tableSearchResults table-bordered"
                    id="issues_table" th:fragment="resultTable">
                    <thead>
                        <th data-column="lot"
                            th:text="#{SearchThisProject.tableLot.text}">ロット</th>
                        <th data-column="processing"
                            th:text="#{SearchThisProject.tableProcess.text}">処理</th>
                        <th data-column="trinityNum"
                            th:text="#{SearchThisProject.tableInternalID.text}">trinityによる採番</th>
                        <th data-column="subject"
                            th:text="#{SearchThisProject.tableSubject.text}">件名</th>
                        <th data-column="status"
                            th:text="#{SearchThisProject.tableStatus.text}">ステータス</th>
                        <th data-column="contact"
                            th:text="#{SearchThisProject.tableAssignee.text}">担当者</th>
                        <th data-column="group"
                            th:text="#{SearchThisProject.tableAssigneeGroup.text}">担当グループ</th>
                        <th data-column="dateStart"
                            th:text="#{SearchThisProject.tableStartTime.text}">最終更新日</th>
                        <th data-column="attachment"
                            th:text="#{SearchThisProject.tableAttached.text}">開始日</th>
                    </thead>
                    <tbody>
                        <tr th:each="view : ${result.searchSiteViews}">
                            <td data-column="lot"
                                th:text="${view.lotNm} + '(' + ${view.lotId} + ')'">Aロット(LOT-1512310001)</td>
                            <td data-column="processing"
                                th:text="#{Dashboard.recentUpdates.dataAttribute.__${view.dataAttribute.value()}__.text}">変更管理情報</td>
                            <td data-column="trinityNum"><a
                                th:href="@{/dispatch(dataAttribute=${view.dataAttribute.value()},dataId=${view.id})}"
                                th:text="${view.id}">PJT-1512100001</a></td>
                            <td data-column="subject"
                                th:text="${view.subject}">#1006
                                24時間を超えると表示 が0に戻る</td>
                            <th:block th:switch="${view.dataAttribute}">
								<td th:case="${T(jp.co.blueship.tri.fw.um.constants.DataAttribute).ReleaseRequest}"
								data-column="status" class="labels"><span
                                class="label label-medium"
                                th:classappend="'rmStatus'+'__${view.stsId}__'"
                                th:text="#{Constants.rmStatus.__${view.stsId}__.text}">マージ済み</span></td>
								
								<td th:case="${T(jp.co.blueship.tri.fw.um.constants.DataAttribute).ReleasePackage}"
								data-column="status" class="labels"><span
                                class="label label-medium"
                                th:classappend="'rmStatus'+'__${view.stsId}__'"
                                th:text="#{Constants.rmStatus.__${view.stsId}__.text}">マージ済み</span></td>
								
								<td th:case="${T(jp.co.blueship.tri.fw.um.constants.DataAttribute).BuildPackage}"
								data-column="status" class="labels"><span
                                class="label label-medium"
                                th:classappend="'rmStatus'+'__${view.stsId}__'"
                                th:text="#{Constants.rmStatus.__${view.stsId}__.text}">マージ済み</span></td>
								
								<td th:case="${T(jp.co.blueship.tri.fw.um.constants.DataAttribute).DeploymentJob}"
								data-column="status" class="labels"><span
                                class="label label-medium"
                                th:classappend="'dmStatus'+'__${view.stsId}__'"
                                th:text="#{Constants.dmStatus.__${view.stsId}__.text}">マージ済み</span></td>
								
								<td th:case="*"
								data-column="status" class="labels"><span
                                class="label label-medium"
                                th:classappend="'amStatus'+'__${view.stsId}__'"
                                th:text="#{Constants.amStatus.__${view.stsId}__.text}">マージ済み</span></td>
							</th:block>
                            <td data-column="contact" class="user"><img
                                    th:if="not ${#strings.isEmpty(view.assigneeIconPath)}"
                                    th:src="${view.assigneeIconPath}"
                                    class="userImg" /> <span
                                    th:text="${view.assigneeNm}">Tommy
                                        Robinson</span></td>
                            <td data-column="group"
                                th:text="${view.assigneeGroup}">運用保守グループ</td>
                            <td data-column="dateStart"
                                th:text="${view.latestUpdDate}">2015/11/12</td>
                            <td data-column="attachment"><i
                                th:classappend="${view.attachedFile} ? 'fa fa-paperclip'"></i></td>
                        </tr>
                    </tbody>
                </table>

                <nav class="sectionNav requestPage"
                    id="requestPageBottom">
                    <dl class="sectionNavPager">
                        <div th:replace="common/Pagination::Bottom"></div>
                    </dl>
                </nav>
            </div>
        </section>

        <div class="modal fade" tabindex="-1" role="dialog"
            id="saveFilterDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchThisProject.saveFilterTitle.text}">検索フィルタ</h4>
                    </div>
                    <form class="form-horizontal searchFilterForm">
                        <div class="modal-body">
                            <div
                                class="modal-error searchFilterNameError"
                                style="display: none;"
                                th:text="#{SearchThisProject.saveFilterError.text}">フィルタ名を入力してください</div>
                            <div class="form-group">
                                <label for="searchFilterName"
                                    class="col-sm-2 control-label"
                                    th:text="#{SearchThisProject.saveFilterName.text}">フィルタ名</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control input-sm searchFilterName"
                                        id="searchFilterName"
                                        placeholder="" />
                                </div>
                            </div>

                            <div class="form-group"
                                style="min-height: 100px;">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchThisProject.saveFilterCond.text}">検索条件</label>
                                <div class="col-sm-10">
                                    <table class="searchQueryInfoTable">
                                        <thead>
                                            <tr>
                                                <td
                                                    style="min-width: 100px;"></td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <input type="submit"
                                class="btn btn-default btn-xs"
                                th:value="#{SearchThisProject.saveFilterSubmit.text}" 
                                th:onclick="'saveSearchFilter( \'' + @{/project/search/filter/save} + '\', formId ); return false;'" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog"
            id="resultSettingDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchThisProject.customizeTitle.text}">検索結果の表示設定</h4>
                    </div>
                    <form class="form-horizontal resultSettingForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchThisProject.customizeDisplayCount.text}">表示件数:</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="limit"
                                        value="20" class="limitField" />
                                    <input type="hidden" id="maxPageRow"
                                        th:value="${pagination.maxRows}"  />    
                                        
                                    <label class="control-label">
                                        <a href="javascript:void(0)"
                                        id="resultLink20"
                                        class="resultLimitLink current"
                                        data-value="20"
                                        th:text="#{SearchThisProject.customize20.text}">20件</a>
                                        | <a href="javascript:void(0)"
                                        class="resultLimitLink "
                                        data-value="0"
                                       	id="resultLinkAll"
                                        th:text="#{SearchThisProject.customizeAll.text}">全件</a>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchThisProject.customizeItems.text}">表示項目</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1" name="lot" />
                                                    <span
                                                    th:text="#{SearchThisProject.tableLot.text}">ロット</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="processing" />
                                                    <span
                                                    th:text="#{SearchThisProject.tableProcess.text}">処理</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="subject" /> <span
                                                    th:text="#{SearchThisProject.tableSubject.text}">件名</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="contact" /> <span
                                                    th:text="#{SearchThisProject.assignee.text}">担当者</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="dateStart" />
                                                    <span
                                                    th:text="#{SearchThisProject.tableStartTime.text}">開始日</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="trinityNum" />
                                                    <span
                                                    th:text="#{SearchThisProject.tableInternalID.text}">trinityによる採番</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="status" /> <span
                                                    th:text="#{SearchThisProject.tableStatus.text}">ステータス</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="group" /> <span
                                                    th:text="#{SearchThisProject.tableAssigneeGroup.text}">担当グループ</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="attachment" />
                                                    <span
                                                    th:text="#{SearchThisProject.tableAttached.text}">添付</span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </article>

    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script src="../../js/trinity/search.js"></script>

    <script th:inline="javascript" th:fragment="js">
        	/*<![CDATA[*/
        		var formId = "FlowSearchThisSite";
        		$(function() {
	            	app.search.resultLimit = "20";
	            	app.search.resultColumns = [{name: "lot", title: "lot"}, {name: "processing", title: "processing"}, {name: "trinityNum", title: "trinityNum"},
	            	                            {name: "subject", title: "subject"}, {name: "status", title: "status"}, {name: "contact", title: "contact"},
	            	                            {name: "dateStart", title: "dateStart"}, {name: "group", title: "group"}, {name: "attachment", title: "attachment"}];
	            	app.search.prepare();	            	

	            	statusOriginal = $('#status').clone();
					$("#status").children('option').remove();

					categoryOriginal = $('#category').clone();
					$("#category").children('option').remove();

					milestoneOriginal = $('#milestone').clone();
					$("#milestone").children('option').remove();

                    var processingVal =$("select[name=dataProcessing]").val().trim();
                    if( processingVal ) {
                        $("#submitSearchCondition").prop('disabled', false);
                        displayStatus(processingVal,false,false);
                    } else {
                        $("#submitSearchCondition").prop('disabled', true);
                    }

                    var lotIds = $("select[name=filterLot]").val();
                    if (lotIds)
                    displayCategoryMilestone(lotIds, false , false);

                    $(".resultSettingForm input[type=checkbox]").prop("checked", false);
                    for (key in app.search.resultColumns) {
                        column = app.search.resultColumns[key];
                        $(".resultSettingForm input[name=" + column.name + "]").prop("checked", true);
                    }
                    
	            });

        		$(document).ready(function(){
        			$('#FlowPrintSearchThisSiteService').submit(function() {
        			    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
        			    this.target = 'Popup_Window';
        			});
        			$('.filterField').first().change();
        		});

        		function printSearchThisSite() {
        			var formSrc = document.getElementById("FlowSearchThisSite");
        			var formDest = document.getElementById("FlowPrintSearchThisSiteService");
        			form2form(formSrc, formDest);
        			if(!($("input[name=attachment]", formSrc)).prop('checked')) {
            			formDest.attachment.value = 'false';
           			}
        			submit('FlowPrintSearchThisSiteService');
        	    }

        		function form2form(formSrc, formDest) {
        		    $(':input[name]', formSrc).each(function() {
        		        $('[name=' + $(this).attr('name') +']', formDest).val($(this).val())
        		    })
        		}
        	
				$(function() {
					
					
					$("select[name=dataProcessing]").change(function() {
						var processingVal = $(this).val().trim();
						if( processingVal ) {
							$("#submitSearchCondition").prop('disabled', false);
						} else {
							$("#submitSearchCondition").prop('disabled', true);
						}
						displayStatus(processingVal,true,true);
					});

					$("select[name=filterLot]").change(function() {
						var lotIds = $(this).val();
						displayCategoryMilestone(lotIds, true, true);
					});
					
					$(".date.datePicker").datepicker().on('changeDate', ajax_refresh);
				});

				$(document).on("click", ".pageNavi", function() {
		            var pageNum = $(this).attr("data-pagenum");
		            var form = document.getElementById("FlowSearchThisSite");
		            form.selectedPageNo.value = pageNum;
		            ajax_refresh();
		        });
				function displayStatus(processingVal,isUpdate,updateSelected) {
				    $('#status').empty().append($(statusOriginal).html());
					var $statusOption = $("select[name=status] > option");
					var attrName = 'processing';
					displayOption($statusOption, attrName, processingVal, isUpdate , updateSelected);
				}


				function displayCategoryMilestone(lotIds, isUpdate , isSelected ) {
				    var attrName = 'lotId';

				    $('#category').empty().append($(categoryOriginal).html());
					var $categoryOption = $("select[name=category] > option")
					displayOption($categoryOption, attrName, lotIds, isUpdate , isSelected);

                    $('#milestone').empty().append($(milestoneOriginal).html());
					$milestoneOption = $("select[name=milestone] > option");
					displayOption($milestoneOption, attrName, lotIds, isUpdate , isSelected);
				}
				
				function displayOption($option, attrName, attrValues, isUpdate, updateSelected) {
					$option.each(function() {
						
						$(this).prop("selected", false);
						
						if (attrValues instanceof Array) {
							if ( $.inArray($(this).attr(attrName), attrValues) != -1  || $(this).attr('value') == '') {
								$(this).css("display", "block");
							} else {
							    $(this).remove();
							}
						}else {
							if($(this).attr(attrName) == attrValues || $(this).attr('value') == '') {
								$(this).css("display", "block");
							} else {
							    $(this).remove();
							}
						}

						if ( !updateSelected ) {
							if ( $(this).attr("selected") && $(this).attr("selected") == "selected"  )
							$(this).prop("selected", true);
						}
						
					});
				}

				function ajax_refresh() {
					var dataVal = $("select[name=dataProcessing]").val();
					if (dataVal) {
						getTriLayer("mask").startWaiting("waitingMask");
						
						var timeOut = null;
						var url = /*[[@{/project/search}]]*/'/project/search';
						var form = document.getElementById("FlowSearchThisSite");
						appendWindowId(form);
						timeOut = setTimeout(function() {
							$.post(url, $(form).serialize()).done(function(data, xhr, status) {
								$("#resultBody").replaceWith($(data).find("#resultBody"));
								$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
								$("#message").replaceWith($(data).find("#message"));
								$("#resultLinkAll").attr("data-value",$(data).find("#maxPageRow").val());
								$(".resultSettingForm input[name=attachment]").trigger("change");

								getTriLayer("mask").endWaiting("waitingMask");
								
							}).fail(function(data, xhr, status) {
								console.log("fail ajax_refresh");
								getTriLayer("mask").endWaiting("waitingMask");
							});
						}, 500);
					} else {
						$("#resultBody").css("display", "none");
				      	$("#emptyResultsMessage").css("display", "block");
				      	$("#submitSearchCondition").prop('disabled', true);
					}
					
				      
				}

				function exportToFile(extension) {
					var timeOut = null;
					var url = /*[[@{/project/search/export}]]*/'/project/search/export';
					var form = document.getElementById("FlowSearchThisSite");
					appendWindowId(form);
					timeOut = setTimeout(function() {
						$.post(url, $(form).serialize()).done(function(data, xhr, status) {
							//$("#message").replaceWith($(data).find("#message"));
							downloadFile($(data).html(), extension);
						}).fail(function(data, xhr, status) {
							console.log("fail exportToFile");
						});
					}, 500);
				}

				function downloadFile(table, extension) {
					var form = document.getElementById('downloadFile');
					if (extension == 'xls') {
						form.submitOption.value = "ExportToExcel";
					} else if (extension == 'csv') {
						form.submitOption.value = "ExportToCsv";
					}
					form.table.value = encodeURI(table);
					appendWindowId(form);
					form.submit();
					return;
				}
				
			
				
				
          /* ]]> */
        </script>
</body>
</html>
