<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{SearchThisLot.title.text}" th:fragment="titleHtml">trinity | Search
    this Lot</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>
    <!-- コンテンツ -->
    <article class="contents fullWidth" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1 th:text="#{SearchThisLot.header.text}">ロット内検索</h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{SearchThisLot.help.url}" target="_blank"><i
                    class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-file-text-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('csv');return false;">CSV</a></li>
                <li><i class="fa fa-file-excel-o"></i><a
                    href="javascript:void(0)"
                    onclick="exportToFile('xls');return false;">Excel</a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    onclick="printSearchThisLot();return false;"
                    th:text="#{SearchThisLot.print.text}">印刷用ページ</a></li>
            </ul>
        </div>

        <nav class="sectionNav sectionConfigContentsNav">
            <ul class="sectionNavLeft">
                <li>
                    <div th:replace="common/Messages::message">Messages</div>
                </li>
            </ul>
        </nav>

        <form id="FlowPrintSearchThisLot"
            th:action="@{/lot/search/print}" method="POST">
            <input type="hidden" name="RequestType" /> 
            <input type="hidden" name="selectedPageNo" />
            <input type="hidden" name="linesPerPage" /> 
            <input type="hidden" name="dateStart" />
            <input type="hidden" name="dateEnd" />
            <input type="hidden" name="dataProcessing" />
            <input type="hidden" name="status" />
            <input type="hidden" name="contact" />
            <input type="hidden" name="group" /> 
            <input type="hidden" name="category" /> 
            <input type="hidden" name="milestone" />
            <input type="hidden" name="attachment" /> 
            <input type="hidden" name="keyword" />
        </form>
        
        <form id="FlowSubmitDetailsService" method="post">
        	<input type="hidden" name="RequestType" value="init"/>
        	<input type="hidden" id="detailsId" />
        </form>

        <p class="contentsHeaderLead"
            th:text="#{SearchThisLot.searchThisLot.text}">ロット内のすべてを対象とした検索を行うことができます</p>

        <section class="section searchSection">
            <div class="sectionHeader">
                <div class="row">
                    <h2 class="faBtn col-md-9">
                        <i class="fa fa-minus-square"></i> <span
                            th:text="#{SearchThisLot.searchConditions.text}">検索条件：</span>
                        <span class="searchQueryDetail"></span>
                    </h2>
                    <ul
                        class="searchSectionHeaderMenu col-md-2 text-right">
                        <li><a href=""
                            class="saveFilterButton btn btn-default btn-xs"
                            data-toggle="modal"
                            data-target="#saveFilterDialog"> <i
                                class="fa fa-save"></i> <span
                                th:text="#{SearchThisLot.saveSearchFilter.text}">検索条件を保存</span>
                        </a></li>
                    </ul>
                </div>
            </div>

            <form th:action="@{/lot/search/export/file}" method="post"
                id="downloadFile">
                <input type="hidden" name="RequestType"
                    value="submitChanges" /> <input type="hidden"
                    name="table" /> <input type="hidden"
                    name="submitOption" />
            </form>

            <div class="sectionContents faBtnContents">
                <div class="sectionContentsUnit">
                    <form class="globalSearchForm"
                        id="FlowSearchThisLot" method="POST"
                        th:action="@{/lot/search/export}">
                        <input type="hidden" name="RequestType"
                            value="onChange" /> <input type="hidden"
                            name="selectedPageNo" value="" /> <input
                            type="hidden" name="linesPerPage" value="" />
                        <div class="searchFormBlock clearfix">
                            <div class="row">
                                <div
                                    class="col-sm-12 col-md-6 globalSearchDateWrapper">
                                    <div
                                        class="form-group filterFieldGroup"
                                        th:attr="data-label=#{SearchThisLot.period.text}">
                                        <label class="control-label"
                                            th:text="#{SearchThisLot.period.text}">期間</label>
                                        <div class="form-inline">
                                            <span
                                                class="date datePicker">
                                                <input type="text"
                                                class="form-control input-sm inputSmallDate filterField"
                                                th:value="${result.param.searchCondition.mstoneStartDate}"
                                                name="dateStart" /> <span
                                                class="input-group-addon datePickerIconWapper">
                                                    <img
                                                    src="../../images/trinity/common/icon_calender_mini.png"
                                                    th:src="@{/resources/images/common/icon_calender_mini.png}"
                                                    class="datePickerIcon" />
                                            </span>
                                            </span> <span>~</span> <span
                                                class="date datePicker">
                                                <input type="text"
                                                class="form-control input-sm inputSmallDate filterField"
                                                th:value="${result.param.searchCondition.mstoneDueDate}"
                                                name="dateEnd" /> <span
                                                class="input-group-addon datePickerIconWapper">
                                                    <img
                                                    src="../../images/trinity/common/icon_calender_mini.png"
                                                    th:src="@{/resources/images/common/icon_calender_mini.png}"
                                                    class="datePickerIcon" />
                                            </span>
                                            </span> <span class=""
                                                th:text="#{SearchThisLot.dateCaution.text}">※
                                                YYYY/MM/DDで入力してください。</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisLot.process.text}">処理</label>
                                        <div class="input-group">
                                            <select
                                                class="form-control filterField"
                                                th:attr="data-label=#{SearchThisLot.process.text}"
                                                name="dataProcessing"
                                                th:value="${result.param.searchCondition.dataNm}"
                                                required="required">
                                                <option></option>
                                                <option
                                                    th:each="data : ${result.param.searchCondition.dataViews}"
                                                    th:value="${data.value}"
                                                    th:selected="${data.value} == ${result.param.searchCondition.dataNm}"
                                                    th:text="#{Dashboard.recentUpdates.dataAttribute.__${data.value}__.text}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisLot.status.text}">ステータス</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="status" id="status"
                                            th:attr="data-label=#{SearchThisLot.status.text}"
                                            th:value="${result.param.searchCondition.statusIds != null} ? ${#strings.arrayJoin(result.param.searchCondition.statusIds, ',')}"
                                            onchange="ajax_refresh()">
                                            <option value=""></option>
                                               <th:block th:each="status : ${result.param.searchCondition.statusViews}"
                                            		th:switch="${status.subValue}">
                                            	<option
                                            		th:case="'ReleaseRequest'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.rmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                            <option
                                            		th:case="'ReleasePackage'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.rmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                            <option
                                            		th:case="'DeploymentJob'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.dmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                           	<option
                                            		th:case="'BuildPackage'"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.rmStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>
	                                            <option
                                            		th:case="*"
	                                                th:value="${status.value}"
	                                                th:text="#{Constants.amStatus.__${status.value}__.text}"
	                                                th:attr="processing=${status.subValue}"
	                                                th:style="'display:none'"
	                                                th:selected="${result.param.searchCondition.statusIds != null ? #arrays.contains(result.param.searchCondition.statusIds,status.value) :'false'}"></option>                                            
                                            </th:block>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisLot.assignee.text}">担当者</label>
                                        <a href="#"
                                            class="quickOptionLink"
                                            th:attr="data-values=${result.userId}">
                                            <i class="fa fa-check"></i>
                                            <span
                                            th:text="#{SearchThisLot.selectMe.text}">私を選択</span>
                                        </a> <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="contact"
                                            th:attr="data-label=#{SearchThisLot.assignee.text}"
                                            th:value="${result.param.searchCondition.assigneeIds != null} ? ${#strings.arrayJoin(result.param.searchCondition.assigneeIds, ',')}"
                                            onchange="ajax_refresh()">
                                            <option></option>
                                            <option
                                                th:each="user : ${result.param.searchCondition.assigneeViews}"
                                                th:value="${user.value}"
                                                th:text="${user.label}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisLot.tableAssigneeGroup.text}">担当グループ</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="group"
                                            th:attr="data-label=#{SearchThisLot.tableAssigneeGroup.text}"
                                            th:value="${result.param.searchCondition.groupIds != null} ? ${#strings.arrayJoin(result.param.searchCondition.groupIds, ',')}"
                                            onchange="ajax_refresh()">
                                            <option></option>
                                            <option
                                                th:each="group : ${result.param.searchCondition.groupViews}"
                                                th:value="${group.value}"
                                                th:text="${group.label}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-3"></div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisProject.category.text}">カテゴリ</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="category"
                                            th:value="${result.param.searchCondition.ctgIds != null} ? ${#strings.arrayJoin(result.param.searchCondition.ctgIds, ',')}"
                                            th:attr="data-label=#{SearchThisLot.category.text}"
                                            onchange="ajax_refresh()">
                                            <option></option>
                                            <option
                                                th:each="category : ${result.param.searchCondition.ctgViews}"
                                                th:value="${category.value}"
                                                th:text="${category.label}"
                                                th:attr="lotid=${category.subValue}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"
                                            th:text="#{SearchThisLot.milestone.text}">マイルストーン</label>
                                        <select multiple="multiple"
                                            class="form-control filterField"
                                            size="4" name="milestone"
                                            th:attr="data-label=#{SearchThisLot.milestone.text}"
                                            th:value="${result.param.searchCondition.mstoneIds != null} ? ${#strings.arrayJoin(result.param.searchCondition.mstoneIds, ',')}"
                                            onchange="ajax_refresh()">
                                            <option></option>
                                            <option
                                                th:each="milestone : ${result.param.searchCondition.mstoneViews}"
                                                th:value="${milestone.value}"
                                                th:text="${milestone.label}"
                                                th:attr="lotid=${milestone.subValue}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="checkbox" style="margin: 0;">
                                <label> <input type="checkbox"
                                    value="true" class="filterField"
                                    name="attachment"
                                    th:attr="data-label=#{SearchThisLot.attached.text}"
                                    th:checked="${result.param.searchCondition.attachedFile}"
                                    onchange="ajax_refresh()" /> <span
                                    th:text="#{SearchThisLot.attached.text}">添付ファイル有</span>
                                </label>
                            </div>
                        </div>

                        <div class="searchFormBlock clearfix">
                            <div class="form-horizontal">
                                <div class="form-group"
                                    style="margin-bottom: 0;">
                                    <label
                                        class="col-sm-1 control-label"
                                        th:text="#{SearchThisLot.keyword.text}">キーワード</label>
                                    <div class="col-sm-11">
                                        <input type="text"
                                            class="form-control filterField"
                                            name="keyword"
                                            th:value="${result.param.searchCondition.keyword}"
                                            th:attr="data-label=#{SearchThisLot.keyword.text}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <a href="#" class="clearSearchFormButton"
                                th:text="#{SearchThisLot.clearSearchConditions.text}">検索条件をクリアする</a>
                            <input id="submitSearchCondition"
                                class="btn btn-default btn-xs"
                                type="button"
                                th:value="#{SearchThisLot.search.text}"
                                onclick="ajax_refresh()" />
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="section tableSection searchTableSection" id="waitingMask">

            <div
                th:style="${result.searchSiteViews.size()} == 0 ? 'display:block;' : 'display:none;'"
                class="emptySearchResults" id="emptyResultsMessage">
                <i class="fa fa-warning"></i> <span
                    th:text="#{SearchThisLot.notApplicable.text}">検索条件に該当するものがありませんでした</span>
            </div>
            <div id="resultBody"
                th:style="${result.searchSiteViews.size()} != 0 ? 'display:block;' : 'display:none;'">
                <nav class="sectionNav">
                    <nav class="sectionNav requestPage"
                        id="requestPageTop">
                        <div th:replace="common/Pagination::Top"></div>
                    </nav>
                    <ul class="searchSectionNavRight">
                        <li><i class="fa fa-gear"></i> <a href=""
                            class="saveFilterButton" data-toggle="modal"
                            data-target="#resultSettingDialog"
                            th:text="#{SearchThisLot.displaySetting.text}">検索結果の表示設定</a>
                        </li>
                    </ul>
                </nav>

                <table class="table table-bordered tableSearchResults"
                    id="issues_table" th:fragment="resultTable">
                    <thead>
                        <th data-column="processing"
                            th:text="#{SearchThisLot.process.text}">処理</th>
                        <th data-column="trinityNum"
                            th:text="#{SearchThisLot.tableInternalID.text}">trinityによる採番</th>
                        <th data-column="subject"
                            th:text="#{SearchThisLot.tableSubject.text}">件名</th>
                        <th data-column="status"
                            th:text="#{SearchThisLot.tableStatus.text}">ステータス</th>
                        <th data-column="contact"
                            th:text="#{SearchThisLot.tableAssignee.text}">担当者</th>
                        <th data-column="group"
                            th:text="#{SearchThisLot.tableAssigneeGroup.text}">担当グループ</th>
                        <th data-column="dateStart"
                            th:text="#{SearchThisLot.tableStartTime.text}">最終更新日</th>
                        <th data-column="attachment"
                            th:text="#{SearchThisLot.tableAttached.text}">添付</th>
                    </thead>
                    <tbody>
                        <tr th:each="view : ${result.searchSiteViews}">
                            <td data-column="processing"
                                th:text="#{Dashboard.recentUpdates.dataAttribute.__${view.dataAttribute.value()}__.text}">変更管理情報</td>
                            <td data-column="trinityNum"><a
								th:href="@{/dispatch(dataAttribute=${view.dataAttribute.value()},dataId=${view.id})}"								
								th:text="${view.id}">PJT-1512100001</a></td>
                            <td data-column="subject"
                                th:text="${view.subject}">#1006
                                24時間を超えると表示 が0に戻る</td>
                            <td data-column="status" class="labels"><span
                                class="label label-medium"
                                th:classappend="'__${package}__' + '__${view.stsId}__'"
                                th:text="${view.status}">マージ済み</span></td>
                            <td data-column="contact" class="user"><img
                                    th:if="not ${#strings.isEmpty(view.assigneeIconPath)}"
                                    th:src="${view.assigneeIconPath}"
                                    class="userImg" /> <span
                                    th:text="${view.assigneeNm}">Tommy
                                        Robinson</span></td>
                            <td data-column="group"
                                th:text="${view.assigneeGroup}">運用保守グループ</td>
                            <td data-column="dateStart"
                                th:text="${view.latestUpdDate}">2015/11/12</td>
                            <td data-column="attachment"><i
                                th:classappend="${view.attachedFile} ? 'fa fa-paperclip'"></i></td>
                        </tr>
                    </tbody>
                </table>

                <nav class="sectionNav requestPage"
                    id="requestPageBottom">
                    <dl class="sectionNavPager">
                        <div th:replace="common/Pagination::Bottom"></div>
                    </dl>
                </nav>
            </div>
        </section>

        <div class="modal fade" tabindex="-1" role="dialog"
            id="saveFilterDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchThisLot.saveFilterTitle.text}">検索フィルタ</h4>
                    </div>
                    <form class="form-horizontal searchFilterForm">
                        <div class="modal-body">
                            <div
                                class="modal-error searchFilterNameError"
                                style="display: none;"
                                th:text="#{SearchThisLot.saveFilterError.text}">フィルタ名を入力してください</div>
                            <div class="form-group">
                                <label for="searchFilterName"
                                    class="col-sm-2 control-label"
                                    th:text="#{SearchThisLot.saveFilterName.text}">フィルタ名</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                        class="form-control input-sm searchFilterName"
                                        id="searchFilterName"
                                        placeholder="" />
                                </div>
                            </div>

                            <div class="form-group"
                                style="min-height: 100px;">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchThisLot.saveFilterCond.text}">検索条件</label>
                                <div class="col-sm-10">
                                    <table class="searchQueryInfoTable">
                                        <thead>
                                            <tr>
                                                <td
                                                    style="min-width: 100px;"></td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <input type="submit"
                                class="btn btn-default btn-xs"
                                th:value="#{SearchThisLot.saveFilterSubmit.text}" 
                                th:onclick="'saveSearchFilter( \'' + @{/lot/search/filter/save} + '\', formId ); return false;'" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog"
            id="resultSettingDialog">
            <div class="modal-dialog searchDialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            th:text="#{SearchThisLot.customizeTitle.text}">検索結果の表示設定</h4>
                    </div>
                    <form class="form-horizontal resultSettingForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchThisLot.customizeDisplayCount.text}">表示件数:</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="limit"
                                        value="20" class="limitField" />
                                    <input type="hidden" id="maxPageRow"
                                           th:value="${pagination.maxRows}"  />
                                    <label class="control-label">
                                        <a href="#"
                                        class="resultLimitLink current"
                                        data-value="20"
                                        th:text="#{SearchThisLot.customize20.text}">20件</a>
                                        | <a href="#"
                                        class="resultLimitLink"
                                        data-value="0" id="resultLinkAll"
                                        th:text="#{SearchThisLot.customizeAll.text}">全件</a>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                    th:text="#{SearchThisLot.customizeItems.text}">表示項目</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-6"
                                            style="display: none;">
                                            <div class="checkbox">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="processing" />
                                                    <span
                                                    th:text="#{SearchThisLot.tableProcess.text}">処理</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="subject" /> <span
                                                    th:text="#{SearchThisLot.tableSubject.text}">件名</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="contact" /> <span
                                                    th:text="#{SearchThisLot.assignee.text}">担当者</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="dateStart" />
                                                    <span
                                                    th:text="#{SearchThisLot.tableStartTime.text}">開始日</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="trinityNum" />
                                                    <span
                                                    th:text="#{SearchThisLot.tableInternalID.text}">trinityによる採番</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="status" /> <span
                                                    th:text="#{SearchThisLot.tableStatus.text}">ステータス</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="group" /> <span
                                                    th:text="#{SearchThisLot.assigneeGroup.text}">担当グループ</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label> <input
                                                    type="checkbox"
                                                    value="1"
                                                    name="attachment" />
                                                    <span
                                                    th:text="#{SearchThisLot.tableAttached.text}">添付</span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </article>

    <!-- フッター -->
    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
        	/*<![CDATA[*/
        		var formId = "FlowSearchThisLot";
        	
	            $(function() {
	            	app.search.resultLimit = "20";
	            	app.search.resultColumns = [{name: "processing", title: "処理"}, {name: "trinityNum", title: "trinityによる採番"},
	            	                            {name: "subject", title: "件名"}, {name: "status", title: "ステータス"}, {name: "contact", title: "担当者"},
	            	                            {name: "dateStart", title: "開始日"}, {name: "group", title: "担当グループ"}, {name: "attachment", title: "添付"}];
	            	app.search.prepare();
					statusOriginal = $('#status').clone();
					$("#status").children('option').remove();

					var processingVal = $("select[name=dataProcessing]").val().trim();
                    if( processingVal ) {
                        $("#submitSearchCondition").prop('disabled', false);
                    } else {
                        $("#submitSearchCondition").prop('disabled', true);
                    }
                    displayStatus(processingVal);

                    $(".resultSettingForm input[type=checkbox]").prop("checked", false);
                    for (key in app.search.resultColumns) {
                        column = app.search.resultColumns[key];
                        $(".resultSettingForm input[name=" + column.name + "]").prop("checked", true);
                    }
	            });

				// Select search conditions after redirect from filter
	            $(document).ready(function(){
		            //select all select boxes except Status box
					$("select[multiple='multiple'][name!='status']").each(function(key, val) {
						var selectedOptions = $(val).attr("value").split(',');
						for(var i = 0; i < selectedOptions.length; i++) {
							var $option = $("option[value='" + selectedOptions[i] + "']", $(this));
							if($option.length) {
								$option.prop("selected", true);
							}
						}
					});

					var selectedStatuses = $("select[multiple='multiple'][name='status']").attr("value").split(',');
					var $statusOption = $("select[name=status] > option");
					var processingVal = $("select[name=dataProcessing]").attr("value");

					//Select statuses and refresh data
					$statusOption.each(function() {
						$(this).prop("selected", false);
						$(this).css("display", "none");
						if($(this).attr('processing') == processingVal) {
							$(this).css("display", "block");
							if($.inArray( $(this).attr('value'), selectedStatuses ) > -1) {
								$(this).prop("selected", true);
							}
						}
					});
					$( $statusOption[0] ).css('display', "block");
					
					//update result
					$("select[multiple='multiple'][name='status']").change();
				});

	            $(document).ready(function(){
        			$('#FlowPrintSearchThisLot').submit(function() {
        			    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
        			    this.target = 'Popup_Window';
        			});
        		});

	            function printSearchThisLot() {
        			var formSrc = document.getElementById("FlowSearchThisLot");
        			var formDest = document.getElementById("FlowPrintSearchThisLot");
        			form2form(formSrc, formDest);
        			if(!($("input[name=attachment]", formSrc)).prop('checked')) {
            			formDest.attachment.value = 'false';
           			}
        			submit('FlowPrintSearchThisLot');
        	    }

        		function form2form(formSrc, formDest) {
        		    $(':input[name]', formSrc).each(function() {
        		        $('[name=' + $(this).attr('name') +']', formDest).val($(this).val())
        		    })
        		}
		          
				$(function() {
					$("select[name=dataProcessing]").change(function() {
						var processingVal = $(this).val().trim();
						if( processingVal ) {
							$("#submitSearchCondition").prop('disabled', false);
						} else {
							$("#submitSearchCondition").prop('disabled', true);
						}
						displayStatus(processingVal);
					});

					$(".date.datePicker").datepicker().on('changeDate', ajax_refresh);
				});

				$(document).on("click", ".pageNavi", function() {
		            var pageNum = $(this).attr("data-pagenum");
		            var form = document.getElementById("FlowSearchThisLot");
		            form.selectedPageNo.value = pageNum;
		            ajax_refresh();
		        });
				function displayStatus(processingVal) {
					$('#status').empty().append($(statusOriginal).html());
					var $statusOption = $("#status > option");
					var attrName = 'processing';
					displayOption($statusOption, attrName, processingVal);
				}
				
				function displayOption($option, attrName, attrValues) {
					
					$option.each(function() {
						$(this).prop("selected", false);
						if($(this).attr(attrName) != attrValues && this.value) {
							$(this).remove();
						} else {
							$(this).css("display", "block");
						}
					});
					
					var $firstOption = $option[0];
					$($firstOption).prop('selected', true).change();
				}

				function ajax_refresh() {
					var dataVal = $("select[name=dataProcessing]").val();
					if (dataVal) {
                        getTriLayer("mask").startWaiting("waitingMask");
						var url = /*[[@{/lot/search}]]*/'/trinity/lot/search';
						var form = document.getElementById("FlowSearchThisLot");
						appendWindowId(form);
						console.log($(form).serialize());
							$.post(url, $(form).serialize()).done(function(data, xhr, status) {
								$("#resultBody").replaceWith($(data).find("#resultBody"));
								$("#emptyResultsMessage").replaceWith($(data).find("#emptyResultsMessage"));
								$("#message").replaceWith($(data).find("#message"));
                                $("#resultLinkAll").attr("data-value",$(data).find("#maxPageRow").val());
                                $(".resultSettingForm input[name=attachment]").trigger("change");
                                getTriLayer("mask").endWaiting("waitingMask");
							}).fail(function(data, xhr, status) {
								console.log("fail ajax_refresh");
                                getTriLayer("mask").endWaiting("waitingMask");
							});
					} else {
						$("#resultBody").css("display", "none");
				      	$("#emptyResultsMessage").css("display", "block");
				      	$("#submitSearchCondition").prop('disabled', true);
					}
				}

				function exportToFile(extension) {
					var timeOut = null;
					var url = /*[[@{/lot/search/export}]]*/'/lot/search/export';
					var form = document.getElementById("FlowSearchThisLot");
					appendWindowId(form);
					timeOut = setTimeout(function() {
						$.post(url, $(form).serialize()).done(function(data, xhr, status) {
							//$("#message").replaceWith($(data).find("#message"));
							downloadFile($(data).html(), extension);
						}).fail(function(data, xhr, status) {
							console.log("fail exportToFile");
						});
					}, 500);
				}

				function downloadFile(table, extension) {
					var form = document.getElementById('downloadFile');
					if (extension == 'xls') {
						form.submitOption.value = "ExportToExcel";
					} else if (extension == 'csv') {
						form.submitOption.value = "ExportToCsv";
					}
					form.table.value = encodeURI(table);
					appendWindowId(form);
					form.submit();
					return;
				}

				function submitDetailsService(dataNm, id, stsId) {
					var form = document.getElementById("FlowSubmitDetailsService");
					var action = '';
					switch(dataNm) {
						case 'ChangeProperty':
							action = /*[[@{/chgproperty/details}]]*/;
							$("#detailsId").attr("name", "pjtId")
										   .attr("value", id);
							break;
						case 'CheckInRequest':
							action = /*[[@{/checkin/details}]]*/;
							$("#detailsId").attr("name", "areqId")
										   .attr("value", id); 
							break;
						case 'CheckOutRequest':
							if (stsId != '4000') {
								action = /*[[@{/checkout/details}]]*/;
							} else if (stsId == '4000') {
								action = /*[[@{/checkout/edit}]]*/;
							}
							$("#detailsId").attr("name", "areqId")
										   .attr("value", id); 
							break;
						case 'RemovalRequest':
							if (stsId != '6000' && stsId != '6300' && stsId != '6400') {
								action = /*[[@{/removal/details}]]*/;
							} else if (stsId == '6000' || stsId == '6300' || stsId == '6400') {
								action = /*[[@{/removal/edit}]]*/;
							}
							$("#detailsId").attr("name", "areqId")
										   .attr("value", id);  
							break;
						case 'BuildPackage':
							action = /*[[@{/build/details}]]*/;
							$("#detailsId").attr("name", "bpId")
										   .attr("value", id); 
							break; 
						case 'ReleaseRequest':
							if (stsId == '4100') {
								action = /*[[@{/release/request/pending/details}]]*/;
							} else if (stsId == '4200') {
								action = /*[[@{/release/request/approved/details}]]*/;
							} else if (stsId == '4000') {
								action = /*[[@{/release/request/edit/}]]*/;
							}
							$("#detailsId").attr("name", "raId")
										   .attr("value", id); 
							break;
						case 'ReleasePackage': 
							action = /*[[@{/release/details}]]*/;
							$("#detailsId").attr("name", "RpId")
										   .attr("value", id); 
							break;
						case 'DeploymentJob':
							//TODO --> need to implement DeploymentJobService
							break;
					}
					$(form).attr("action", action);
					cloneWindow('FlowSubmitDetailsService');
				}

          /* ]]> */
        </script>
</body>
</html>
