<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml"
    th:text="${result.detailsView.isWikiHome()}? #{WikiHome.title.text} : #{WikiHome.Created.title.text(${result.detailsView.wikiNm})}">trinity
    | Wiki - Home</title>

<!-- CSS -->
<link href="../../css/trinity/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/trinity/font-awesome.min.css" rel="stylesheet" />
<link href="../../css/trinity/trinity.css" rel="stylesheet" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js"></script>
<script src="../../js/trinity/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html" class="select">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents mainSubContents fullWidth" th:fragment="innerHtml">
        <div class="subContentsCloseUnit">
            <span><i class="fa fa-caret-square-o-right"></i></span>
        </div>

        <div class="mainContents">

            <div class="contentsHeader">
                <h1>
                    <span><img
                        src="../../images/trinity/common/icon_wiki.png"
                        alt=""
                        th:src="@{/resources/images/common/icon_wiki.png}" /></span>
                    <span
                        th:text="${result.detailsView.isWikiHome()}? #{WikiHome.header.text} : ${result.detailsView.wikiNm}">Wiki
                        - ホーム</span>
                </h1>
                <div class="contentsHeaderHelp helpBtn">
                    <a th:href="#{WikiHome.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a>
                </div>
            </div>

            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>

            <nav class="mainContentsNav">
                <ul>
                    <li th:if="${result.header.selectedLot.enabled}"><span><i class="fa fa-plus"></i></span> <a
                        href="javascript:void(0)"
                        onClick="safeSubmit('FlowWikiCreationService', {'validation':false});return false;">
                            <span th:text="#{WikiHome.createNew.text}">新規作成</span>
                    </a></li>
                    <li th:if="${result.header.selectedLot.enabled}"><span><i class="fa fa-pencil"></i></span><a
                        href="javascript:void(0);"
                        onClick="safeSubmit('FlowWikiEditService', {'validation':false});return false;"><span
                            th:text="#{WikiHome.edit.text}">編集</span></a></li>
                    <li th:if="${result.header.selectedLot.enabled}" class="fileAddUnitBtn"><span><i
                            class="fa fa-file-o"></i></span><a
                        href="javascript:void(0);"><span
                            th:text="#{WikiHome.attachedToPage.text}">このページにファイルを添付</span></a></li>
                    <li class="subMenuBtn"><span><i
                            class="fa fa-caret-down"></i></span><a
                        href="javascript:void(0);"><span
                            th:text="#{WikiHome.otherOption.text}">その他の操作</span></a>
                    <ul>
                            <li><span><i
                                    class="fa fa-file-pdf-o"></i></span> <a
                                href="javascript:void(0);"
                                onClick="javascript:printWikiDetails(); return false;"><span
                                    th:text="#{WikiHome.print.text}">印刷用ページ</span></a>
                            </li>
                            <li><span><i
                                    class="fa fa-clock-o"></i></span><a
                                href="javascript:void(0);"
                                onClick="safeSubmit('FlowWikiHistoryListService', {'validation':false});return false;"><span
                                    th:text="#{WikiHome.history.text}">履歴を見る</span></a></li>
                            <li th:if="${result.header.selectedLot.enabled}"><span><i
                                    class="fa fa-files-o"></i></span><a
                                href="javascript:void(0);"
                                th:onClick="'submitMakeACopy( \'' + ${result.detailsView.wikiId} + '\'); return false;'"><span
                                    th:text="#{WikiHome.createCopy.text}">コピーを作成</span></a></li>
                        </ul></li>
                </ul>
            </nav>

            <section class="fileAddUnit">
                <h2>
                    <span><i class="fa fa-file-o"></i></span><span
                        th:text="#{WikiHome.attached.text}">ファイルを添付</span>
                </h2>
                <div class="fileAdd">
                    <span class="closeBtn fileAddUnitBtn"><i
                        class="fa fa fa-times-circle"></i></span>
                    <ul class="fileList" id="dzPreviewContainer">
                        <div id="preview-template"
                            style="display: none;">
                            <li class="uploadedFile"><span
                                class="icon"><i
                                    class="fa fa-file-o"></i></span> <span
                                class="filename"
                                data-dz-name="data-dz-name"></span> <span
                                class="filesize"
                                data-dz-size="data-dz-size"></span>
                                <div class="progress">
                                    <div
                                        class="progress-bar progress-bar-striped active"
                                        role="progressbar"
                                        aria-valuenow="0"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 0%"
                                        data-dz-uploadprogress="data-dz-uploadprogress"></div>
                                </div> <span class="label label-auto labelRed"
                                data-dz-errormessage="data-dz-errormessage"></span>
                            </li>
                        </div>
                    </ul>
                    <p class="btnArea">
                        <a href="javascript:void(0)" id="selectFiles"
                            class="btn btn-default"> <span
                            th:text="#{WikiHome.selectFile.text}">ファイルを選択</span>
                        </a> <span th:text="#{WikiHome.addFile.text}">ファイル追加(Shift
                            キーを押しながらファイルを複数選択可能)</span>
                    </p>
                    <div class="dragArea attachmentDragArea"
                        id="dzUpload">
                        <p class="title">
                            <span th:text="#{WikiHome.or.text}">または</span>
                        </p>
                        <p class="dragAreaText">
                            <span th:text="#{WikiHome.dragAndDrop.text}">ファイルをドラッグ＆ドロップしてください</span><br />
                            <span
                                th:text="#{WikiHome.attachedSize.text}">（添付するファイルは
                                10MByte 以内でお願いします）</span>
                        </p>
                    </div>

                </div>
            </section>
            <section class="wikiDisplayUnit">
                <h2 class="title-preview"></h2>

                <textarea style="display: none" data-bar=".editor-bar"
                    data-preview=".editor-preview" id="markDownArea"
                    th:utext="${result.detailsView.content}"></textarea>
                <div class="markdownlive-preview editor-preview"></div>

                <h3>
                    <span th:text="#{WikiHome.attached.text}">添付ファイル</span>
                </h3>
                <ul class="fileList"
                    th:if="${result.detailsView.attachmentFileNms.size() != 0}">
                    <li
                        th:each="res : ${result.detailsView.attachmentFileNms}">
                        <span class="icon"><i
                            class="fa fa-file-o"></i></span><a
                        href="javascript:void(0)" class="underline"
                        onclick="downloadAttachment(this);return false;"
                        th:text="${res.name}" th:value="${res.seqNo}">ABC.png(15.9KB)</a>
                        <span style="color:gray;" th:text="' (' + ${res.size} + ' : ' + '__${res.createdDate}__' + ') '">(1024KB : 2017/07/07)</span>
						<a class="underline" th:if="${result.header.selectedLot.enabled}"
						th:attr="name=${res.name},seqNo=${res.seqNo}"
                        onclick="submitRemoveAttachment(this);return false;"
                        href="javascript:void(0)"
                        th:text="#{WikiHome.uploadRemove.text}">削除</a>
                    </li>
                </ul>

            </section>

            <section>
                <ul class="editorList">
                    <li class="user"><img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="${result.detailsView.createdIconPath}"
                        alt="Hiroumi Keimatsu" class="userImg" /> <span
                        th:text="#{WikiHome.createBy.text(${result.detailsView.createdBy}, ${result.detailsView.createdDate})}">Hiroumi
                            Keimatsu によって 2016/01/15 17:33:33 に作成されました</span></li>
                    <li class="user"
                        th:if="${result.detailsView.updUserNm != null}">
                        <img
                        src="../../images/trinity/common/icon_obake.png"
                        th:src="${result.detailsView.updUserIconPath}"
                        alt="Hiroumi Keimatsu" class="userImg" /> <span
                        th:text="#{WikiHome.updatedBy.text(${result.detailsView.updUserNm}, ${result.detailsView.updDate})}">Hiroumi
                            Keimatsu によって 2016/01/15 17:33:33 に作成されました</span>
                    </li>
                </ul>
            </section>


        </div>
        <div class="subContents">
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span th:text="#{WikiHome.searchWiki.text}">wiki
                            検索</span>
                    </h2>
                </div>
                <div class="subContentsSectionBody text-center">
                    <div class="searchBox" style="display: block; float: none;">
                        <form id="FlowWikiListService" method="POST"
                              th:action="@{/lot/wiki/list}">
                            <input type="hidden" name="RequestType"
                                value="init" /> <input type="hidden"
                                name="tagNm" value="" />
                            <dl class="search2">
                                <dt>
                                    <input type="text" name="keyword" id="wikiSearchBox"
                                        style="width: 100%;"
                                        value="" placeholder="ロット内を検索"
                                        th:placeholder="#{WikiHome.searchInLot.text}" />
                                </dt>
                                <dd>
                                    <button id="clearWikiSearchBox">
                                        <span><i
                                            class="fa fa-times-circle"></i></span>
                                    </button>
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>

            </section>
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span th:text="#{WikiHome.tagList.text}">タグ一覧</span>
                    </h2>
                </div>
                <div class="subContentsSectionBody">
                    <ul class="tagList">
                        <li th:each="res : ${result.tagViews}"><a
                            href="javascript:void(0);"
                            th:onclick="'submitWikiListService(\'' + ${res.tagNm} + '\');return false;'"
                            th:text="${res.tagNm}">議事録</a><span
                            th:text="${res.quantity}">3</span></li>
                    </ul>
                </div>
            </section>
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span th:text="#{WikiHome.pageList.text}">ページ一覧</span>
                    </h2>
                    <div class="searchBox">
                        <form>
                            <input type="text" name="dummy"
                                style="display: none;" />
                            <dl class="search2">
                                <dt>
                                    <input id="wikiPageNmSearchBox"
                                        type="text" name="search"
                                        value="" placeholder="ページ名で絞り込み"
                                        th:placeholder="#{WikiHome.narrowingDown.text}" />
                                </dt>
                                <dd>
                                    <button type="button"
                                        id="clearWikiPageNmSearchBox">
                                        <span><i
                                            class="fa fa-times-circle"></i></span>
                                    </button>
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
                <div class="subContentsSectionBody"
                    id="wikiPageListResult">
                    <ul class="pageList">
                        <li th:each="res : ${result.pageViews}"
                        th:selected="${res.wikiId}==${result.detailsView.wikiId}"><a
                            href="javascript:void(0);"
                            th:onClick="'submitWikiDetails(\'' + ${res.wikiId} + '\');return false;'"><span
                            th:text="${res.wikiNm}">20150901
                                    デザインチーム議事録</span></a></li>
                    </ul>
                </div>
            </section>

            <form id="FlowWikiDetailsService" method="POST"
                th:action="@{/lot/wiki/}">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="wikiId" value="" /> <input
                    type="hidden" name="requestOption" value="" /> <input
                    type="hidden" name="searchPageNm" value="" />
            </form>


            <form id="FlowWikiEditService" method="POST"
                th:action="@{/lot/wiki/edit}">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="wikiId"
                    th:value="${result.detailsView.wikiId}" />
            </form>

            <form id="FlowWikiCreationService" method="POST"
                th:action="@{/lot/wiki/create}">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="copyWikiId" value="" />
            </form>

            <form id="FlowWikiHistoryListService" method="POST"
                th:action="@{/lot/wiki/history}">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="wikiId"
                    th:value="${result.detailsView.wikiId}" />
            </form>

            <form id="FlowWikiAttachmentDownloadService"
                th:action="@{/lot/wiki/download}" method="POST">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="wikiId"
                    th:value="${result.detailsView.wikiId}" /> <input
                    type="hidden" name="fileName" value="" /> <input
                    type="hidden" name="seqNo" value="" />
            </form>

            <form id="FlowPrintWikiDetailsService" method="POST"
                th:action="@{/lot/wiki/details/print/}">
                <input type="hidden" name="RequestType" value="init" />
                <input type="hidden" name="wikiId"
                    th:value="${result.detailsView.wikiId}" /> <input
                    type="hidden" name="requestOption" value="" /> <input
                    type="hidden" name="searchPageNm" value="" />
            </form>
        </div>
    </article>
    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
/*<![CDATA[*/

	var nowWikiPageSearching = false;

	function submitMakeACopy(copyWikiId){
		form = document.getElementById('FlowWikiCreationService');
		form.copyWikiId.value = copyWikiId;
		safeSubmit('FlowWikiCreationService', {'validation':false});
	}

	function submitWikiDetails(wikiId){
		$(this).parent().attr("selected", "true")
		form = document.getElementById('FlowWikiDetailsService');
		form.wikiId.value = wikiId;
		form.RequestType.value = "init";
		form.requestOption.value = "all";
		
		safeSubmit('FlowWikiDetailsService', {'validation':false});
	}

	function submitWikiListService(tagNm){
		form = document.getElementById('FlowWikiListService');
		form.tagNm.value = tagNm;
		$("#FlowWikiListService").attr("action", getContextPath() + "lot/wiki/list");
		safeSubmit('FlowWikiListService', {'validation':false});
	}

	function ajaxSearchWikiPage(){
		var form = document.getElementById("FlowWikiDetailsService");
		var url = form.action;

		form.RequestType.value = "onChange";
		form.wikiId.value = /*[[${result.param.getSelectedWikiId()}]]*/"";
		form.requestOption.value = "wikiPageList";
		form.searchPageNm.value = $("#wikiPageNmSearchBox").val();
		appendWindowId(form);

		var request = new IncrementalSearchRequest()
							.setUrl( url )
							.setData( $(form).serialize() )
							.setCallbackIfDone(function(data, status, xhr) {
								$("#wikiPageListResult").html($(data).find("#wikiPageListResult").html());
							});
		
		IncrementalSearch.search( request );
	}

	$(document).on("keypress", "#wikiPageNmSearchBox", function(){
		ajaxSearchWikiPage();
	});

	$(document).on("keyup", "#wikiPageNmSearchBox", function(e){
		if (e.keyCode == 46 || e.keyCode == 8){
			ajaxSearchWikiPage();
		}
	});

	$(document).on("click", "#clearWikiPageNmSearchBox", function(){
		$("#wikiPageNmSearchBox").val("");
		ajaxSearchWikiPage();
	});

    $(document).on("click", "#clearWikiSearchBox", function(){
        $("#searchWikiKeyWord").val("");
    });

	$(function(){
		getTriLayer("flashMessage").show();
		replaceLineBreak("#markDownArea");
	});

	var uploadDropzone = {};
	$(document).ready(function () {
	    Dropzone.autoDiscover = false;
	    var urlUpload = /*[[ @{/lot/wiki/upload} ]]*/'/trinity/lot/wiki/upload';
	    var wikiId = /*[[${result.detailsView.wikiId}]]*/;

		uploadDropzone = new Dropzone("#dzUpload", {
    		previewsContainer: "#dzPreviewContainer",
			paramName: "userFile",
			url: urlUpload,
			params: { "RequestType" : "init", "wikiId" :  wikiId, 'WindowsId' : $('#windowId').val() },
	        maxFilesize: 10,
	        accept: function(file,  done) {
        	     if(file.size == 0) {
        	        done(/*[[#{WikiHome.emptyFile.text}]]*/);
        	     } else {
        	        done();
        	     }
        	},
	        uploadmultiple: false,
	        parallelUploads: 1,
	        previewTemplate: document.getElementById('preview-template').innerHTML,
	        autoProcessQueue: true,
	        addRemoveLinks: true,
	        clickable: "#selectFiles",
	        dictRemoveFile: /*[[#{WikiHome.uploadRemove.text}]]*/,
        	dictCancelUpload: /*[[#{WikiHome.uploadRemove.text}]]*/,
	        dictFileTooBig: /*[[#{WikiHome.attachedSize.text}]]*/,
	        dictRemoveFileConfirmation: /*[[#{WikiHome.confirmRemoval.text}]]*/,
        	dictYes: /*[[#{WikiHome.yes.text}]]*/,
            dictNo: /*[[#{WikiHome.no.text}]]*/
		});
		
		uploadDropzone.on("success", function(file, response) {
    		if (file.size > 0) {
        		var attachedText = /*[[#{WikiHome.fileAttached.text}]]*/;
    			$(".progress-bar", file.previewElement).text(attachedText);
    			$(".progress-bar", file.previewElement).removeClass("progress-bar-striped active");
    			file.seqNo = response.seqNo;
    			ajaxUpdateAttachedList();
       		}
		});

		uploadDropzone.on("error", function(file, errorMessage, xhr) {
			$(".progress", file.previewElement).hide();
		});
		
		uploadDropzone.on("removedfile", function(file) {
			if(file.size > 0 && file.accepted) {
				deleteFile(file);
			}
		});

		uploadDropzone.on("uploadprogress", function(file, progress, byteSent) {
			$(".progress-bar", file.previewElement).text(Math.floor(progress) + '%');
   		});

		$('#FlowPrintWikiDetailsService').submit(function() {
		    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    this.target = 'Popup_Window';
		});
		
		$('.pageList li[selected=selected]').css("background-color", "#B0CEF5")
	});

	function printWikiDetails() {
       	submit("FlowPrintWikiDetailsService");
    }
		
	function deleteFile(file) {
   		var url = /*[[ @{/lot/wiki/upload/delete} ]]*/'/trinity/lot/wiki/upload/delete';
   		var wikiId = /*[[${result.detailsView.wikiId}]]*/;
   		var timeOut = null;
   		var fileNm = file.name;
   		var seqNo = file.seqNo;
   		var $windowId = $('#windowId').val();
   		timeOut = setTimeout(function() {
       		$.post(url, $.param({ 'RequestType' : 'init', 'deletedFileNm' : fileNm, 'seqNo' : seqNo, 'wikiId' : wikiId, 'WindowsId' : $windowId })).done(function(data, status, xhr) {
           			console.log(data);
           			ajaxUpdateAttachedList();
           		}).fail(function(data, status, xhr) {
               		console.log("deleteFile fail");
              		});
       	}, 500);
   	}

   	function deleteFileFromDropzone(file) {
       	var files = uploadDropzone.files;
       	for(var i = 0; i < files.length; i++) {
           	if(files[i].name == file.name && files[i].seqNo == file.seqNo) {
               	files[i].accepted = false;
               	uploadDropzone.removeFile(files[i]);
           	}
       	}
   	}

   	$("div.attachmentDragArea").on("dragover",function(e){
           e.preventDefault();
           $(this).addClass("dropping");
       });
       
       $("div.attachmentDragArea").on("dragleave",function(e){
           e.preventDefault();
           $(this).removeClass("dropping");
       });
       
       $("div.attachmentDragArea").on("drop", function(_e){
       	var e = _e;
           if( _e.originalEvent ){
               e = _e.originalEvent;
           }
           e.stopPropagation();
           e.preventDefault();
           $(this).removeClass("dropping");
       });

       function submitRemoveAttachment(thisObj) {
    	   openBandPopup({
    		   	message :messageReplace([[#{WikiHome.confirmRemoval.text}]], $(thisObj).attr("name")),
				btn1Text :[[#{WikiHome.yes.text}]],
				btn2Text :[[#{WikiHome.no.text}]],
				btn1Func	:function() {
								removeLink(thisObj);
							 },
				btn2Func	:function() {}
			});
	    }
       
       function removeLink(thisObj) {
        var file = {};
        file.name = $(thisObj).attr("name");
		file.seqNo = $(thisObj).attr("seqNo");
		deleteFileFromDropzone(file);
		deleteFile(file);
       }
       
        function downloadAttachment(thisObj) {
            var validateURL = /*[[ @{/lot/wiki/download/validate} ]]*/ '/lot/wiki/download/validate';
            var $windowId = $('#windowId').val();

            $.post(validateURL, $.param({'WindowsId' : $windowId}), true).done(function(data, status, xhr) {
                $("#message").html($(data).find("#message").html());
                if(!$("#message").html().trim()) {
                    var form = document.getElementById('FlowWikiAttachmentDownloadService');
                    form.fileName.value = $(thisObj).text();
                    form.seqNo.value = $(thisObj).attr("value");

                    submit('FlowWikiAttachmentDownloadService');
                    clearSubmitFlag();
                }
            });
        }

       function ajaxUpdateAttachedList() {
        var form = document.getElementById("FlowWikiDetailsService");
   		var url = form.action;

   		form.RequestType.value = "onChange";
   		form.wikiId.value = /*[[${result.detailsView.wikiId}]]*/"";
   		form.requestOption.value = "all";
   		appendWindowId(form);
   		clearXhrFlag();
   		$.post(url, $(form).serialize()).done(function(data, status, xhr) {
   			$(".wikiDisplayUnit .fileList").html($(data).find(".wikiDisplayUnit .fileList").html());
   		}).fail(function(XMLHttpRequest, status, errorThrown) {
   			console.log("fail");
   		});
       }

    $(document).on("keydown", "#wikiSearchBox", function(e){
        if (e.keyCode === 13){
            e.preventDefault();
            safeSubmit("FlowWikiListService", {"validation":false});
        }
    });

	/* ]]> */	
</script>
</body>
</html>