<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{WikiPageEdit.title.text}">trinity
    | Wiki - Edit Page</title>

<!-- CSS -->
<link href="../../css/trinity/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/trinity/font-awesome.min.css" rel="stylesheet" />
<link href="../../css/trinity/trinity.css" rel="stylesheet" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js"></script>
<script src="../../js/trinity/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html" class="select">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents mainSubContents fullWidth" th:fragment="innerHtml">
        <div class="subContentsCloseUnit">
            <span><i class="fa fa-caret-square-o-right"></i></span>
        </div>


        <div class="mainContents">

            <div class="contentsHeader">
                <h1>
                    <span><img
                        src="../../images/trinity/common/icon_wiki_add.png"
                        th:src="@{/resources/images/common/icon_wiki.png}"
                        alt="" /></span> <span
                        th:text="#{WikiPageEdit.header.text(${result.pageNm})}">ページの編集
                        - 「Wikiページ名」</span>
                </h1>
                <div class="contentsHeaderHelp helpBtn">
                    <a th:href="#{WikiPageEdit.help.url}" target="_blank"><i
                            class="fa fa-question"></i></a>
                </div>
            </div>
            <nav class="contentsHeaderNav">
                <a href="void(0);"
                    onclick="safeSubmit('FlowWikiDetailsService', {'validation':false});return false;"
                    class="contentsHeaderNavLeft"><span><i
                        class="fa fa-arrow-left"></i></span><span
                    th:text="#{WikiPageEdit.cancel.text}">編集をキャンセル</span></a>
            </nav>

            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>

            <section class="mainContentsTabContents">
                <nav class="mainContentsTab">
                    <ul>
                        <li class="select"><span
                            th:text="#{WikiPageEdit.edit.text}">編集</span></li>
                        <li id="contentPreviewSelect" ><span 
                            th:text="#{WikiPageEdit.preview.text}">プレビュー</span></li>
                    </ul>
                    <div class="mainContentsTabBtns">
                        <form class="form-inline">
                            <button type="button"
                                class="btn btn-default editWikiPageButton">
                                <span
                                    th:text="#{WikiPageEdit.submit.text}">登録</span>
                            </button>
                            <!--
                            <div class="checkbox">
                                <label> <input type="checkbox" /><span
                                    th:text="#{WikiPageEdit.notify.text}">更新をメールで通知する</span>
                                </label>
                            </div>
                            -->
                        </form>

                    </div>
                </nav>
                <div class="mainContentsTabContent wikiEditor active">
                    <div class="wikiEditorHeader">
                        <h2><span class="required">*</span>
                            <span
                                th:text="#{WikiPageEdit.pageName.text}">ページ名</span>
                        </h2>
                        <div style="position: relative" >
                            <input type="text" class="validation" placeholder="ページ名"
                                th:placeholder="#{WikiPageEdit.boxPageName.text}"
                                id="markDownTitle"
                                maxLength="140"
                                data-preview=".title-preview"
                                th:value="${result.param.inputInfo.pageNm}"
                                th:disabled="${result.isWikiHome()}" />
                            <div class="formError" style="display: none;">
                                <span th:text="#{WikiPageEdit.pageName.text}">ビルド環境設定</span>
                                <span th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>
                        </div>
                        <dl>
                            <dt>
                                <span
                                    th:text="#{WikiPageEdit.tagList.text}">タグ一覧</span>
                            </dt>
                            <dd th:each="res : ${result.tagViews}"
                                th:if="!${result.isWikiHome()}">
                                <a href="void(0);"
                                    th:onClick="'tagging(\'' + ${res} + '\');return false;'"><span
                                    class="label-short labelBlue"><span
                                        th:text="${res}">議事録</span></span></a>
                            </dd>
                            <dd th:each="res : ${result.tagViews}"
                                th:if="${result.isWikiHome()}">
                                <span class="label-short labelBlue"><span
                                    th:text="${res}">議事録</span></span>
                            </dd>

                        </dl>
                    </div>
                    <div class="wikiEditorBody">
                        <h2>
                        	<span class="required">*</span>
                            <span
                                th:text="#{WikiPageEdit.contents.text}">ページの内容</span>
                        </h2>

                        <div class="bar">
                            <ul class="markdownlive-bar editor-bar">
                                <li title="Bold" data-before="**"
                                    data-after="**"
                                    data-placeholder="some text in bold">
                                    <i class="fa fa-bold"></i>
                                </li>
                                <li title="Italics" data-before="*"
                                    data-after="*"
                                    data-placeholder="some text in italic">
                                    <i class="fa fa-italic"></i>
                                </li>
                                <li title="Link" data-before="[ "
                                    data-after="](http:// &quot;Link title&quot;)"
                                    data-placeholder="link"><i
                                    class="fa fa-link"></i></li>
                                <li title="Image"
                                    data-before="![Alt text]("
                                    data-after=")"
                                    data-placeholder="http://"><i
                                    class="fa fa-picture-o"></i></li>
                                <li title="Unordered list"
                                    data-before="* " data-after=""
                                    data-extendselect="1"><i
                                    class="fa fa-list-ul"></i></li>
                                <li title="Ordered list"
                                    data-before="1. " data-after=""
                                    data-placeholder="Item 1&#13;2. Item 2&#13;3. Item 3&#13;"
                                    data-extendselect="1"><i
                                    class="fa fa-list-ol"></i></li>
                                <li title="Blocks" data-before="    "
                                    data-after=""
                                    data-placeholder="A block content"
                                    data-block="1" data-extendselect="1">
                                    <i class="fa fa-indent"></i>
                                </li>
                                <li title="Table" data-before=""
                                    data-placeholder="First Header  &#124;Second Header &#13;------------- &#124;------------- &#13;Content cell 1 &#124;Content cell 2 &#13;Content cell 3  &#124;Content cell 4 &#13;"
                                    data-after="" data-block="1"><i
                                    class="fa fa-table"></i></li>
                                <li title="Quote" data-before="> "
                                    data-after="" data-extendselect="1"
                                    data-block="1"
                                    data-placeholder="Quoted text">
                                    <i class="fa fa-quote-right"></i>
                                </li>
                                <li title="Horizontal rule"
                                    data-before="***" data-after=""
                                    data-extendselect="1" data-block="1">
                                    <i class="fa fa-ellipsis-h"></i>
                                </li>
                                <li title="Center"
                                    data-before="&lt;center&gt;"
                                    data-after="&lt;center&gt;"
                                    data-extendselect="1"><i
                                    class="fa fa-align-center"></i></li>

                            </ul>
                        </div>
                        <div style="position: relative" >
                            <textarea data-bar=".editor-bar"
                                data-preview=".editor-preview"
                                id="markDownArea"
                                th:utext="${result.param.inputInfo.content}"
                                rows="" cols=""
                                class="validation"></textarea>
                            <div class="formError"
                                style="display: none;">
                                <span th:text="#{WikiPageEdit.contents.text}">ビルド環境設定</span>
                                <span th:text="#{Validation.isRequired.text}">is
                                    required.</span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="mainContentsTabContent wikiPreview">
                    <h2 class="title-preview"></h2>
                    <div class="markdownlive-preview editor-preview"></div>
                </div>
                <nav class="mainContentsBottomNav">
                    <div class="mainContentsTabBtns">
                        <form class="form-inline">
	                        <button type="button"
	                            class="btn btn-default removalWikiPageButton"
	                            th:attr="data-value=${result.pageNm}"
	                            th:if="!${result.isWikiHome()}">
	                            <span th:text="#{WikiPageEdit.remove.text}">削除</span>
	                        </button>
                            <button type="button"
                                class="btn btn-default editWikiPageButton">
                                <span
                                    th:text="#{WikiPageEdit.submit.text}">登録</span>
                            </button>
                            <!--
                            <div class="checkbox">
                                <label> <input type="checkbox" /><span
                                    th:text="#{WikiPageEdit.notify.text}">更新をメールで通知する</span>
                                </label>
                            </div>
                            -->
                        </form>
                    </div>
                </nav>
            </section>
        </div>
        <div class="subContents">
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span th:text="#{WikiPageEdit.rule.text}">テキスト形式のルール</span>
                    </h2>
                </div>
                <div class="subContentsSectionBody">
                    <ul class="list">
                        <li><span
                            th:text="#{WikiPageEdit.bold.text}">''〜''で囲まれた場所は太字になります。</span></li>
                        <li><span
                            th:text="#{WikiPageEdit.italic.text}">%%〜%%で囲まれた場所は打ち消し線になります。</span></li>
                        <li><span
                            th:text="#{WikiPageEdit.link.text}">[[ページ名]]で他のページへのリンクを作成できます。</span></li>
                    </ul>
                </div>

            </section>
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span
                            th:text="#{WikiPageEdit.methodOfTagging.text}">タグの付け方</span>
                    </h2>
                </div>
                <div class="subContentsSectionBody">
                    <ul class="list">
                        <li><span
                            th:text="#{WikiPageEdit.writeTagging.text}">ページ名の先頭に[タグ1][タグ2]を付けることで、ページにタグを設定できます。</span></li>
                        <li><span
                            th:text="#{WikiPageEdit.clickTagging.text}">タグ一覧からクリックしてもページにタグを設定できます。</span></li>
                        <li><span
                            th:text="#{WikiPageEdit.homePage.text}">「Home」ページにはタグを設定できません。</span></li>
                    </ul>

                </div>

            </section>





        </div>

        <form id="FlowWikiEditService" method="POST"
            th:action="@{/lot/wiki/edit}">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="pageNm" value="" /> <input type="hidden"
                name="content" value="" />
        </form>

        <form id="FlowWikiDetailsService" method="POST"
            th:action="@{/lot/wiki/}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="wikiId"
                th:value="${result.param.getSelectedWikiId()}" />
        </form>

        <form id="FlowWikiRemovalService" method="POST"
            th:action="@{/lot/wiki/remove}">
            <input type="hidden" name="RequestType"
                value="submitChanges" /> <input type="hidden"
                name="wikiId"
                th:value="${result.param.getSelectedWikiId()}" />
        </form>

    </article>

    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">
    /*<![CDATA[*/
	function submitWikiCreationService(){
		form = document.getElementById('FlowWikiEditService');
		form.pageNm.value = $("#markDownTitle").val();
		form.content.value = $("#markDownArea").val();
	
		safeSubmit('FlowWikiEditService', {'validation':true});
	}

	$(document).on("click", "#contentPreviewSelect", function(){
		replaceLineBreak("#markDownArea");
	});
	
	$(document).on("click", ".editWikiPageButton", function(){
		submitWikiCreationService();
	});

	$(document).on("click", ".removalWikiPageButton", function(){
		var pageNm =$(this).attr("data-value");

		openBandPopup({
			message :messageReplace([[#{WikiPageEdit.confirmRemove.text}]],pageNm),
			btn1Text :[[#{WikiPageEdit.yes.text}]],
			btn2Text :[[#{WikiPageEdit.no.text}]],
			
			btn1Func :function(){
							safeSubmit("FlowWikiRemovalService", {"validation":false});
					 	},
			btn2Func :function(){}
		});
	});

	function tagging(tagNm){
		var title = "[" + tagNm + "]"+ $("#markDownTitle").val();
		$("#markDownTitle").val(title)
	}
	
	/* ]]> */
</script>
</body>
</html>