<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:fragment="titleHtml" th:text="#{WikiHistory.title.text}">trinity
    | Wiki - View History</title>

<!-- CSS -->
<link href="../../css/trinity/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/trinity/font-awesome.min.css" rel="stylesheet" />
<link href="../../css/trinity/trinity.css" rel="stylesheet" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js"></script>
<script src="../../js/trinity/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <!-- グローバルヘッダー -->
    <header id="globalHeader">
        <nav id="globalNav">
            <ul class="globalNavUl" id="globalNavUl01">
                <li class="globalNavIcon"><a href=""><img
                        src="../../images/trinity/common/icon_globalHeaderIcon.png"
                        alt="" /></a></li>
                <li><a href="">ダッシュボード</a></li>
                <li><a href="">最近見たロット</a></li>
                <li><a href="">最近見た変更資産</a></li>
                <li><a href="">最近見たWiki</a></li>
                <li><a href="">検索フィルタ</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="全体からキーワード検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
            <ul class="globalNavUl" id="globalNavUl02">
                <li class="globalNavIcon count"><span
                    class="countNumber">10</span><span class="countBell"><img
                        src="../../images/trinity/common/icon_bell.png"
                        alt="" /></span>
                    <div class="popupWindow">
                        <h4 class="popupWindowHeader">通知</h4>
                        <div class="popupWindowBody">

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active wait"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">wait
                                                    ...</span>
                                            </div>
                                        </div>
                                        <p class="status">処理を開始しています...</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit inprosess">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20160115_マージコミット</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 65%">
                                                <span class="sr-only">65%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">65%完了 -
                                            約２時間37分</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit finished">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">完了</p>
                                    </div>

                                </div>
                            </div>


                            <div class="popupWindowBodyUnit error">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 45%">
                                                <span class="sr-only">45%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">続行不可能なエラーが発生しました</p>
                                    </div>

                                </div>
                            </div>

                            <div class="popupWindowBodyUnit checkme">
                                <div class="popupWindowBodyUnitHeader">
                                    <h5>コンフリクトチェックを実行しています</h5>
                                    <p class="date">2016/01/15開始</p>
                                </div>
                                <div class="popupWindowBodyUnitBody">
                                    <div
                                        class="popupWindowBodyUnitBodyIcon">
                                        <span><img
                                            src="http://placehold.jp/64x64.png"
                                            alt="" /></span>
                                    </div>
                                    <div
                                        class="popupWindowBodyUnitBodyStatus">
                                        <p class="statusTitle">ロットA
                                            20151125_開発リリース</p>
                                        <div class="progress">
                                            <div class="progress-bar"
                                                role="progressbar"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: 100%">
                                                <span class="sr-only">100%
                                                    Complete</span>
                                            </div>
                                        </div>
                                        <p class="status">コンフリクトが発生しています。確認してください。</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div></li>
                <li><a href="">メンバー</a></li>
                <li><a href="">全体検索</a></li>
            </ul>
        </nav>
    </header>

    <!-- ロットヘッダー -->
    <header id="lotHeader">
        <div id="projectHeader">
            <h1>
                <span class="projectIcon"><img
                    src="../../images/trinity/common/icon_globalHeaderIcon.png"
                    alt="プロジェクト名" /></span>プロジェクト名
            </h1>
            <div id="myProfile">
                <div id="sayHello">
                    <a href="#"><img
                        src="../../images/trinity/common/icon_obake.png"
                        alt="Tommy Robinsonさんのプロフィールへ" /></a><span>Tommy
                        Robinsonさん、こんにちは</span>
                </div>
                <nav id="profileNav">
                    <ul>
                        <li><a href="LotSettingsThemes.html">ロット設定</a></li>
                        <li><a href="AdminSettingsProjectEdit.html">管理者設定</a></li>
                        <li><a
                            href="PersonalSettingsUserProfile.html">個人設定</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">ログアウト</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav id="lotMainNav">
            <ul class="lotMainNavUl">
                <li><a href="LotDetails.html">ロット</a></li>
                <li><a href="CheckInOutRequestList.html">変更管理</a></li>
                <li><a href="BuildPackageList.html">リリース管理</a></li>
                <li><a href="ReportsList.html">レポート機能</a></li>
                <li><a href="WikiHome.html" class="select">Wiki</a></li>
                <li><a href="Files.html">ファイル</a></li>
                <li><a href="Calendar.html">カレンダー</a></li>
            </ul>
            <div class="searchBox">
                <form>
                    <dl class="search2">
                        <dt>
                            <input type="text" name="search" value=""
                                placeholder="ロット内を検索" />
                        </dt>
                        <dd>
                            <button>
                                <span></span>
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </nav>
    </header>

    <!-- コンテンツ -->
    <article class="contents mainSubContents fullWidth" th:fragment="innerHtml">
        <div class="subContentsCloseUnit">
            <span><i class="fa fa-caret-square-o-right"></i></span>
        </div>


        <div class="mainContents">

            <div class="contentsHeader">
                <h1>
                    <span><img
                        src="../../images/trinity/common/icon_wiki.png"
                        th:src="@{/resources/images/common/icon_wiki.png}"
                        alt="" /></span><span
                        th:text="#{WikiHistory.header.text(${result.wikiNm})}">ページの履歴
                        - 「Wikiページ名」</span>
                </h1>
                <div class="contentsHeaderHelp helpBtn">
                    <a th:href="#{WikiHistory.help.url}" target="_blank"><i
                        class="fa fa-question"></i></a>
                </div>
            </div>

            <nav class="contentsHeaderNav">
                <a href="javascript:void(0);"
                    class="contentsHeaderNavLeft"
                    onClick="javascript:goBack();return false;"><span><i
                        class="fa fa-arrow-left"></i></span><span
                    th:text="#{WikiHIstory.back.text}">前のページへ戻る</span></a>
            </nav>

            <div class="sectionErrorMessage">
                <div th:replace="common/Messages::message">Messages</div>
            </div>


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><span
                            th:text="#{WikiHistory.version.text}">バージョン</span></th>
                        <th><span
                            th:text="#{WikiHistory.buildTime.text}">更新日時</span></th>
                        <th><span
                            th:text="#{WikiHistory.updater.text}">更新車</span></th>
                        <th><span
                            th:text="#{WikiHistory.differences.text}">差分</span></th>
                    </tr>
                </thead>
                <tbody>
                    <a href=""></a>
                    <tr th:each="res, start : ${result.versionViews}"
                        style="cursor: pointer;" class="historyTr"
                        th:attr="data-value=${res.getWikiVerNo()}">
                        <td><span th:text="${res.getWikiVerNo()}" style="margin: 5px;">5</span><span
                            th:if="${start.count} == 1"
                            class="label labelRed label-short"><span th:text="#{WikiHistory.latest.text}">最新</span></span></td>
                        <td><span th:text="${res.updDate}">1時間前</span></td>
                        <td class="user"><img
                            src="../../images/trinity/common/icon_obake.png"
                            th:src="${res.updUserIconPath}"
                            alt="Jim Cruz" th:alr="${res.updUserNm}"
                            class="userImg" /><span
                            th:text="${res.updUserNm}">Jim Cruz</span></td>
                        <td
                            th:if="${start.count} != ${result.versionViews.size()}">
                            <a href="javasctipt:void(0);"
                            onclick="return false;"
                            th:attr="data-value=${res.wikiVerNo}"
                            class="diffButton"><span
                                th:text="#{WikiHistory.diffPrevious.text}">1つ前のバージョンとの差分を見る</span></a>
                        </td>
                        <td
                            th:if="${start.count} == ${result.versionViews.size()}">
                            <span
                            th:text="#{WikiHistory.oldestVersion.text}">一番古いバージョンです</span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="subContents">
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span th:text="#{WikiHistory.searchWiki.text}">wiki
                            検索</span>
                    </h2>
                </div>
                <div class="subContentsSectionBody text-center">
                    <div class="searchBox">
                        <form id="FlowWikiListService" method="POST"
                            th:action="@{/lot/wiki/list}">
                            <input type="hidden" name="RequestType"
                                value="init" /> <input type="hidden"
                                name="tagNm" value="" />
                            <dl class="search2">
                                <dt>
                                    <input id="wikiSearchBox"
                                        type="text" name="keyword"
                                        value="" placeholder="ロット内を検索"
                                        th:placeholder="#{WikiHome.searchInLot.text}" />
                                </dt>
                                <dd>
                                    <button type="button"
                                        id="clearWikiSearchBox">
                                        <span><i
                                            class="fa fa-times-circle"></i></span>
                                    </button>
                                </dd>
                            </dl>
                        </form>
                    </div>

                </div>

            </section>
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span th:text="#{WikiHistory.tagList.text}">タグ一覧</span>
                    </h2>
                </div>
                <div class="subContentsSectionBody">
                    <ul class="tagList">
                        <li th:each="res : ${result.tagViews}"><a
                            href="javascript:void(0);"
                            th:onclick="'submitWikiListService(\'' + ${res.tagNm} + '\');return false;'"
                            th:text="${res.tagNm}">議事録</a><span
                            th:text="${res.quantity}">3</span></li>
                    </ul>
                </div>
            </section>
            <section class="subContentsSection">
                <div class="subContentsSectionHeader">
                    <h2>
                        <span th:text="#{WikiHistory.pageList.text}">ページ一覧</span>
                    </h2>
                    <div class="searchBox">
                        <form>
                            <input type="text" name="dummy"
                                style="display: none;" />
                            <dl class="search2">
                                <dt>
                                    <input id="wikiPageNmSearchBox"
                                        type="text" name="search"
                                        value="" placeholder="ページ名で絞り込み"
                                        th:placeholder="#{WikiHistory.narrowingDown.text}" />
                                </dt>
                                <dd>
                                    <button type="button"
                                        id="clearWikiPageNmSearchBox">
                                        <span><i
                                            class="fa fa-times-circle"></i></span>
                                    </button>
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
                <div class="subContentsSectionBody"
                    id="wikiPageListResult">
                    <ul class="pageList">
                        <li th:each="res : ${result.pageViews}"><a
                            href="javascript:void(0);"
                            onClick="javascript:goBack();return false;"><span
                                th:text="${res.wikiNm}">20150901
                                    デザインチーム議事録</span></a></li>
                    </ul>
                </div>
            </section>
        </div>

        <form id="FlowWikiHistoryListService" method="POST"
            th:action="@{/lot/wiki/history}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="wikiId" value="" /> <input
                type="hidden" name="requestOption" value="" /> <input
                type="hidden" name="searchPageNm" value="" />
        </form>

        <form id="FlowWikiDetailsService" method="POST"
            th:action="@{/lot/wiki/}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="wikiId" value="" />
        </form>

        <form id="FlowWikiVersionDetailsService" method="POST"
            th:action="@{/lot/wiki/version}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="wikiId" value=""
                th:value="${result.param.getSelectedWikiId()}" /> <input
                type="hidden" name="wikiVerNo" value="" />
        </form>

        <form id="FlowWikiVersionComparisonService" method="POST"
            th:action="@{/lot/wiki/diff}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="wikiId" value=""
                th:value="${result.param.getSelectedWikiId()}" /> <input
                type="hidden" name="srcVerNo" value="" /> <input
                type="hidden" name="destVerNo" value="" />
        </form>
    </article>

    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">

	var nowWikiPageSearching = false;

	function submitWikiDetails(wikiId){
		form = document.getElementById('FlowWikiDetailsService');
		form.wikiId.value = wikiId;
	
		safeSubmit('FlowWikiDetailsService', {'validation':false});
	}

	function submitWikiVersionComparison(verNo){
		form = document.getElementById('FlowWikiVersionComparisonService');
		form.srcVerNo.value = verNo - 1;
		form.destVerNo.value = verNo;
		
		safeSubmit('FlowWikiVersionComparisonService', {'validation':false});
	}

	function submitWikiListService(tagNm){
		form = document.getElementById('FlowWikiListService');
		form.tagNm.value = tagNm;

		safeSubmit('FlowWikiListService', {'validation':false});
	}

	function ajaxSearchWikiPage(){
		var form = document.getElementById("FlowWikiHistoryListService");
		var url = form.action;

		form.RequestType.value = "onChange";
		form.wikiId.value = /*[[${result.param.getSelectedWikiId()}]]*/"";
		form.requestOption.value = "wikiPageList";
		form.searchPageNm.value = $("#wikiPageNmSearchBox").val();
		appendWindowId(form);

		var request = new IncrementalSearchRequest()
							.setUrl( url )
							.setData( $(form).serialize() )
							.setCallbackIfDone(function(data, status, xhr) {
								$("#wikiPageListResult").html($(data).find("#wikiPageListResult").html());
							});

		IncrementalSearch.search( request );
	}

	$(document).on("click", ".historyTr", function(){
		form = document.getElementById('FlowWikiVersionDetailsService');
		form.wikiVerNo.value = $(this).attr("data-value");

		safeSubmit("FlowWikiVersionDetailsService", {"validation":false});
	});

	$(document).on("click", ".diffButton", function(e){
		e.stopPropagation();
		submitWikiVersionComparison($(this).attr("data-value"));
	});

	$(document).on("keypress", "#wikiPageNmSearchBox", function(){
		ajaxSearchWikiPage();
	});

	$(document).on("keyup", "#wikiPageNmSearchBox", function(e){		
		if (e.keyCode == 46 || e.keyCode == 8){
			ajaxSearchWikiPage();
		}
	});

	$(document).on("keydown", "#wikiSearchBox", function(e){
		if (e.keyCode == 13){
            e.preventDefault();
			safeSubmit("FlowWikiListService", {"validation":false});
		}
	});

	$(document).on("click", "#clearWikiPageNmSearchBox", function(){
		$("#wikiPageNmSearchBox").val("")	
		ajaxSearchWikiPage();
	});
	
	$(document).on("click", "#clearWikiSearchBox", function(){
		$("#wikiSearchBox").val("")	
	});
	
</script>
</body>
</html>