<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:text="#{WikiPageDifferences.title.text}" th:fragment="titleHtml">trinity
    | Wiki - View Details</title>

<!-- CSS -->
<link rel="stylesheet" href="../../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" href="../../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
	<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
	<![endif]-->
</head>
<body>
    <article class="contents" th:fragment="innerHtml">
        <div class="contentsHeader">
            <h1>
                <span><img
                    src="../../images/trinity/common/icon_wiki.png"
                    th:src="@{/resources/images/common/icon_wiki.png}"
                    alt="" /></span> 
                    <span id="diffTitle" th:text="#{WikiPageDifferences.header.text(${result.wikiNm},${result.versionComparisonView.srcVersionView.getWikiVerNo()},${result.versionComparisonView.destVersionView.getWikiVerNo()})}">
                    	「Wikiページ名」（バージョン３とバーション２の差分）</span>
            </h1>
            <div class="contentsHeaderHelp helpBtn">
                <a th:href="#{WikiPageDifferences.help.url}"
                    target="_blank"><i class="fa fa-question"></i></a>
            </div>
            <ul class="contentsHeaderMenu">
                <li><i class="fa fa-clone"></i><a href="javascript:void(0)"
                   onclick= "javascript:cloneWikiPage();return false;"><span
                        th:text="#{WikiPageDifferences.openInNewWindow.text}">別ウインドウに複製</span></a></li>
                <li><i class="fa fa-print"></i><a
                    href="javascript:void(0)"
                    onClick="javascript:printWikiPageDifference(); return false;"><span
                        th:text="#{WikiPageDifferences.print.text}">印刷用ページ</span></a></li>
            </ul>
        </div>
        <nav class="contentsHeaderNav">
            <a href="javascript:void(0)"
                onClick="javascript:goBack();return false;"
                class="contentsHeaderNavLeft"><span><i
                    class="fa fa-arrow-left"></i></span><span
                th:text="#{WikiPageDifferences.back.text}">前のページへ戻る</span></a>
        </nav>

        <div class="sectionErrorMessage">
            <div th:replace="common/Messages::message">Messages</div>
        </div>

        <section class="section sectionDiff">
            <div class="sectionDiffHeader">
                <div class="sectionDiffHeaderLeft">
                    <ul class="statusList">
                        <li class="deleted"><span
                            th:text="#{WikiPageDifferences.remove.text}">削除</span></li>
                        <li class="added"><span
                            th:text="#{WikiPageDifferences.add.text}">追加</span></li>
                        <li class="changed"><span
                            th:text="#{WikiPageDifferences.change.text}">変更</span></li>
                    </ul>
                </div>
                <form class="form-inline sectionDiffHeaderRight">
                    <div class="form-group">
                        <select id="srcWikiVerNoSelectBox"
                            class="form-control input-sm">
                            <option
                                th:each="res : ${result.versionViews}"
                                th:text="${res.getWikiVerNo()} + '(' + ${res.updDate} + ')' + ${res.updUserNm} "
                                th:value="${res.wikiVerNo}"
                                th:selected="${result.versionComparisonView.srcVersionView.wikiVerNo == res.wikiVerNo}">３（2016/03/15
                                12:00）Tommy Robinson</option>
                        </select> <span th:text="#{WikiPageDifferences.and.text}"> と </span>
                    </div>
                    <div class="form-group">
                        <select id="destWikiVerNoSelectBox" class="form-control input-sm">
                            <option
                                th:each="res : ${result.versionViews}"
                                th:text="${res.getWikiVerNo()} + '(' + ${res.updDate} + ')' + ${res.updUserNm} "
                                th:value="${res.getWikiVerNo()}"
                                th:selected="${result.versionComparisonView.destVersionView.wikiVerNo == res.wikiVerNo}">３（2016/03/15
                                12:00）Tommy Robinson</option>
                        </select> <span th:text="#{WikiPageDifferences.of.text}"> の </span>
                    </div>
                    <button type="button" id="diffSubmitBtn"
                        class="btn btn-default btn-sm">
                        <span
                            th:text="#{WikiPageDifferences.differences.text}">差分を見る</span>
                    </button>
                </form>



            </div>
            <div id="diffResult" class="sectionDiffBody">
                <div class="sectionDiffBodyLeft matchHeight">
                    <div class="codeHead">
                        <h2>
                            <span
                                th:text="#{WikiPageDifferences.pageNmAndVersion.text(${result.versionComparisonView.srcVersionView.pageNm},${result.versionComparisonView.srcVersionView.getWikiVerNo()})}">Wikiページ名（バーション３）</span>
                        </h2>
                        <ul>
                            <li><span
                                th:text="${result.versionComparisonView.srcVersionView.updDate}">/lib/src/main/abc.sh（2016/03/15
                                    12:00）</span></li>
                            <li class="user"><a href="#"> <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    th:src="${result.versionComparisonView.srcVersionView.updUserIconPath}"
                                    alt="Tommy Robinson" class="userImg" />
                                    <span
                                    th:text="${result.versionComparisonView.srcVersionView.updUserNm}">Tommy
                                        Robinson</span>
                            </a></li>
                        </ul>


                    </div>
                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.versionComparisonView.lines}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}"
                                    class="deleted">
                                    <td class="lineNumber"
                                        th:text="!(${res.srcLineNo} == '0')? ${res.srcLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.src}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sectionDiffBodyCenter matchHeight">
                    <span><i class="fa fa-chevron-right"></i></span>
                </div>
                <div class="sectionDiffBodyRight matchHeight">
                    <div class="codeHead">
                        <h2>
                            <span
                                th:text="#{WikiPageDifferences.pageNmAndVersion.text(${result.versionComparisonView.destVersionView.pageNm},${result.versionComparisonView.destVersionView.getWikiVerNo()})}">Wikiページ名（バーション２）</span>
                        </h2>
                        <ul>
                            <li><span
                                th:text="${result.versionComparisonView.destVersionView.updDate}">/lib/src/main/abc.sh（2016/03/15
                                    12:00）</span></li>
                            <li class="user"><a href="#"> <img
                                    src="../../images/trinity/common/icon_obake.png"
                                    th:src="${result.versionComparisonView.destVersionView.updUserIconPath}"
                                    alt="Tommy Robinson" class="userImg" />
                                    <span
                                    th:text="${result.versionComparisonView.destVersionView.updUserNm}">Tommy
                                        Robinson</span>
                            </a></li>
                        </ul>


                    </div>
                    <div class="codeBody">
                        <table class="codeTable">
                            <tbody
                                th:each="res : ${result.versionComparisonView.lines}">
                                <tr
                                    th:if="${res.getStatus().equals('EQUAL')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('ADD')}"
                                    class="added">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('EDIT')}"
                                    class="changed">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>

                                <tr
                                    th:if="${res.getStatus().equals('DELETE')}">
                                    <td class="lineNumber"
                                        th:text="!(${res.destLineNo} == '0')? ${res.destLineNo}">1</td>
                                    <td><pre style="overflow: hidden; !important"><code th:text="${res.dest}">#!/bin/bash</code>&nbsp;</pre></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>

        <form id="FlowWikiVersionComparisonService" method="POST"
            th:action="@{/lot/wiki/diff}">
            <input type="hidden" name="RequestType" value="init" /> <input
                type="hidden" name="wikiId" value=""
                th:value="${result.param.getSelectedWikiId()}" /> <input
                type="hidden" name="srcVerNo" value="" /> <input
                type="hidden" name="destVerNo" value="" />
        </form>
        <form id="FlowPrintWikiPageDifferenceService"
            th:action="@{/lot/wiki/diff/print}" method="POST">
            <input type="hidden" name="wikiId"
                th:value="${result.param.getSelectedWikiId()}" /> <input
                type="hidden" name="srcVerNo" /> <input type="hidden"
                name="destVerNo" />
        </form>
    </article>


    <!-- フッター -->


    <div class="footerPageTop">
        <a href="">このページの先頭へ</a>
    </div>

    <footer id="globalFooter">
        <small>trinity V4 Copyright&copy; 2016- by Blueship. All
            rights reserved.</small>
        <nav id="globalFooterNav">
            <ul class="globalFooterNavUl" id="globalFooterNavUl01">
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">よくあるご質問FAQ</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <ul class="globalFooterNavUl" id="globalFooterNavUl02">
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_blueship.svg"
                            alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
                <li><a href="" target="_blank"><span><img
                            src="../../images/trinity/common/logo_trinity.png"
                            alt="trinity" class="logo_trinity" /></span></a></li>
            </ul>
        </nav>
    </footer>


    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"></script>
    <script src="../../js/trinity/jquery-ui.min.js"></script>
    <script src="../../js/trinity/bootstrap.min.js"></script>
    <script src="../../js/trinity/main-min.js"></script>
    <script th:inline="javascript" th:fragment="js">

	function ajaxDiff(){
		var timeOut = null;
		var url = /*[[ @{/lot/wiki/diff} ]]*/'/lot/wiki/diff';
	
		var form = document.getElementById('FlowWikiVersionComparisonService');
		form.srcVerNo.value = $("#srcWikiVerNoSelectBox option:selected").val();
		form.destVerNo.value = $("#destWikiVerNoSelectBox option:selected").val();
		
		//send
		timeOut = setTimeout(function() {
			$.post(url, serializeWindowId('FlowWikiVersionComparisonService')).done(
				function(data, status, xhr) {
					$("#message").html($(data).find("#message").html());
					$("#diffResult").html($(data).find("#diffResult").html());
					$("#diffTitle").html($(data).find("#diffTitle").html())
				}).fail(function(XMLHttpRequest, status, errorThrown) {
					console.log("fail");
				});
			}, 500);
	}

	$(document).on("click","#diffSubmitBtn",function(){
		ajaxDiff();
	});

	$("select").change(function(){
		var srcWikiVerNo = $("#srcWikiVerNoSelectBox option:selected").val();
		var destWikiVerNo = $("#destWikiVerNoSelectBox option:selected").val();
		
		if(srcWikiVerNo == destWikiVerNo){
			$("#diffSubmitBtn").prop("disabled", true);
	
		}else{
			$("#diffSubmitBtn").prop("disabled", false);
		}
	}).change();

	$(function(){
		var srcWikiVerNo = $("#srcWikiVerNoSelectBox option:selected").val();
		var destWikiVerNo = $("#destWikiVerNoSelectBox option:selected").val();
		
		if(srcWikiVerNo == destWikiVerNo){
			$("#diffSubmitBtn").prop("disabled", true);
	
		}else{
			$("#diffSubmitBtn").prop("disabled", false);
		}
	});
	
	$(document).ready(function(){
		$('#FlowPrintWikiPageDifferenceService').submit(function() {
		    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=800,height=600,left = 312,top = 234');
		    this.target = 'Popup_Window';
		});
	});
	
	function printWikiPageDifference() {
		var form = document.getElementById("FlowPrintWikiPageDifferenceService");
		form.srcVerNo.value = $("#srcWikiVerNoSelectBox option:selected").val();
		form.destVerNo.value = $("#destWikiVerNoSelectBox option:selected").val();
		submit("FlowPrintWikiPageDifferenceService");
	}
	
	function cloneWikiPage() {
		var form = document.getElementById("FlowWikiVersionComparisonService");
		form.srcVerNo.value = $("#srcWikiVerNoSelectBox option:selected").val();
		form.destVerNo.value = $("#destWikiVerNoSelectBox option:selected").val();
		cloneWindow('FlowWikiVersionComparisonService');
	}
	
</script>
</body>
</html>