<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:replace="__${view}__::titleHtml"></title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/magicsuggest-min.css"
    th:href="@{/resources/css/magicsuggest-min.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<!-- favicon -->
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>

<body>
    <!-- グローバルヘッダー -->
    <header th:replace="common/GlobalHeaderV3::globalHeader"></header>

    <header id="lotHeader">
        <div th:replace="common/ProjectHeaderV3::projectHeader"></div>
         
    </header>

    <!-- 設定画面ヘッダー？ -->
    <header id="settingsHeader"></header>

    <!-- コンテンツ -->
    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>
    <article class="contents">
        <div class="contentsHeader">
            <h1>
                <span th:text="#{AdminSettings.header.text}">管理者設定</span>
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{AdminSettings.desc.text}">管理者設定ではtrinity全体に対する設定を行います</p>

        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight">
                <h2 th:text="#{AdminSettings.globalSettings.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_user.png}"
                        alt="" /></span>全体設定
                </h2>
                <ul>
                    <li><a th:href="@{/admin/lookandfeelV3}"
                        class="current">
                            <span th:text="#{AdminSettings.uiSwitching.text}"></span>
                    </a></li>
                </ul>
            </nav>

            <div th:replace="__${view}__::innerHtml"></div>

        </section>
    </article>

    <!-- フッター -->
    <div class="footerPageTop" th:replace="template/Footer::FooterPageTop"></div>
    <footer id="globalFooter" th:replace="template/Footer::Footer"></footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="resources/js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/globalnav.js"
        th:src="@{/resources/js/globalnav.js}"></script>
    <script src="resources/js/search.js"
        th:src="@{/resources/js/search.js}"></script>
    <script src="resources/js/profile.js"
        th:src="@{/resources/js/profile.js}"></script>
    <script src="resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>

    <script th:inline="javascript" th:replace="__${view}__::js"></script>

</body>
</html>