<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">

<div class="footerPageTop" th:fragment="FooterPageTop">
    <a href="#" onclick="$('html, body').animate({ scrollTop: 0 }); return false;" th:text="#{Footer.backToTop.text}">このページの先頭へ</a>
</div>

<footer id="globalFooter" th:fragment="Footer">
    <small> <span th:text="#{Footer.copyright1.text}">trinity
            V4 Copyright&copy;</span> <i class="fa fa-copyright"></i> <span
        th:text="#{Footer.copyright2.text}"> 2016- by Blueship.
            All rights reserved.</span>
    </small>
    <nav id="globalFooterNav">
        <ul class="globalFooterNavUl" id="globalFooterNavUl01">
            <li><a target="_blank" th:href="#{Header.contactus.url}"><span
                        th:text="#{Footer.contact.us.text}">お問い合わせ</span></a></li>
            <!--<li><a href=""><span th:text="#{Footer.faq.text}">よくあるご質問FAQ</span></a></li>-->
            <li><a target="_blank" th:href="#{Header.help.url}"><span
                        th:text="#{Footer.help.text}">ヘルプ</span></a></li>
        </ul>
        <ul class="globalFooterNavUl" id="globalFooterNavUl02">
            <li><a href="javascript:void(0)" style="cursor: default"><span><img
                        src="images/common/logo_blueship.svg"
                        th:src="@{/resources/images/common/logo_blueship.svg}"
                        alt="株式会社Blueship" class="logo_blueship" /></span></a></li>
            <li><a href="javascript:void(0)" style="cursor: default"><span><img
                        src="images/common/logo_trinity.png"
                        th:src="@{/resources/images/common/logo_trinity.png}"
                        alt="trinity" class="logo_trinity" /></span></a></li>
        </ul>
    </nav>
</footer>

</html>