<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title th:replace="__${view}__::titleHtml">trinity | Personal
    Settings - Language and Timezone</title>

<!-- CSS -->
<link rel="stylesheet" href="../../css/trinity/bootstrap.min.css"
    th:href="@{/resources/css/bootstrap.min.deploy.css}" />
<link rel="stylesheet"
    href="../../css/trinity/bootstrap-datepicker3.css"
    th:href="@{/resources/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" href="../../css/trinity/font-awesome.min.css"
    th:href="@{/resources/css/font-awesome.min.deploy.css}" />
<link rel="stylesheet" href="../../css/trinity/trinity.css"
    th:href="@{/resources/css/trinity.deploy.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
    href="../../images/trinity/favicons/apple-touch-icon-57x57.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="60x60"
    href="../../images/trinity/favicons/apple-touch-icon-60x60.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-60x60.png}" />
<link rel="apple-touch-icon" sizes="72x72"
    href="../../images/trinity/favicons/apple-touch-icon-72x72.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76"
    href="../../images/trinity/favicons/apple-touch-icon-76x76.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114"
    href="../../images/trinity/favicons/apple-touch-icon-114x114.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120"
    href="../../images/trinity/favicons/apple-touch-icon-120x120.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144"
    href="../../images/trinity/favicons/apple-touch-icon-144x144.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152"
    href="../../images/trinity/favicons/apple-touch-icon-152x152.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180"
    href="../../images/trinity/favicons/apple-touch-icon-180x180.png"
    th:href="@{/resources/images/favicons/apple-touch-icon-180x180.png}" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-32x32.png"
    th:href="@{/resources/images/favicons/favicon-32x32.png}"
    sizes="32x32" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-194x194.png"
    th:href="@{/resources/images/favicons/favicon-194x194.png}"
    sizes="194x194" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-96x96.png"
    th:href="@{/resources/images/favicons/favicon-96x96.png}"
    sizes="96x96" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/android-chrome-192x192.png"
    th:href="@{/resources/images/favicons/android-chrome-192x192.png}"
    sizes="192x192" />
<link rel="icon" type="image/png"
    href="../../images/trinity/favicons/favicon-16x16.png"
    th:href="@{/resources/images/favicons/favicon-16x16.png}"
    sizes="16x16" />
<link rel="manifest" href="../../images/trinity/favicons/manifest.json"
    th:href="@{../../images/trinity/favicons/manifest.json}" />
<link rel="mask-icon"
    href="../../images/trinity/favicons/safari-pinned-tab.svg"
    th:href="@{/resources/images/favicons/safari-pinned-tab.svg}"
    color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage"
    content="../../images/trinity/favicons/mstile-144x144.png"
    th:content="@{/resources/images/favicons/mstile-144x144.png}" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../js/trinity/html5shiv.min.js" th:src="@{/resources/js/html5shiv.min.js}"></script>
<script src="../../js/trinity/respond.min.js" th:src="@{/resources/js/respond.min.js}"></script>
<![endif]-->
</head>
<body>

    <header th:replace="common/GlobalHeader::globalHeader"></header>

    <header id="lotHeader">
        <div th:replace="common/ProjectHeader::projectHeader"></div>
    </header>

    <!-- 設定画面ヘッダー -->
    <header id="settingsHeader"></header>

    <!-- コンテンツ -->

    <form id="FlowMilestoneViewListServiceBean" method="POST"
        th:action="@{/milestone/list}"></form>

    <article class="contents">
        <div class="contentsHeader">
            <h1>
                <span th:text="#{PersonalSettings.header.text}">個人設定</span>
            </h1>
        </div>
        <p class="contentsHeaderLead"
            th:text="#{PersonalSettings.desc.text}">あなた自身の設定を行います</p>

        <form id="MenuFlowUserProfileService" method="POST"
            th:action="@{/personal/}"></form>
        <form id="MenuFlowPasswordService" method="POST"
            th:action="@{/personal/password}"></form>
        <form id="MenuFlowLanguageTimezoneService" method="POST"
            th:action="@{/personal/locale}"></form>



        <section class="section sectionConfig">
            <nav class="sectionConfigNav matchHeight"
                id="rightMenuPersonalSettings">
                <h2 th:text="#{PersonalSettings.leftnaviTitle.text}">
                    <span><img
                        src="../../images/trinity/common/icon_setting_profile.png"
                        width="16"
                        th:src="@{/resources/images/common/icon_setting_profile}"
                        alt="" /></span>個人設定
                </h2>
                <ul>
                    <li><a href="javascript:void(0)"
                        onClick="safeSubmit('MenuFlowUserProfileService', {'validation':false});return false;"
                        th:class="( ${selectedMenu} == user )? current">
                            <span
                            th:text="#{PersonalSettings.userProfile.text}">ユーザ情報</span>
                    </a></li>

                    <li><a href="javascript:void(0)"
                        onClick="safeSubmit('MenuFlowPasswordService', {'validation':false});return false;"
                        th:class="( ${selectedMenu} == password )? current"><span
                            th:text="#{PersonalSettings.password.text}">パスワード</span></a></li>

                    <li><a href="javascript:void(0)"
                        onClick="safeSubmit('MenuFlowLanguageTimezoneService', {'validation':false});return false;"
                        th:class="( ${selectedMenu} == langTime ) ? current"><span
                            th:text="#{PersonalSettings.languageTimezone.text}">言語とタイムゾーン</span></a></li>
                            
                    <li><a th:href="@{/personal/lookandfeel}"
                        th:class="( ${selectedMenu} == lookAndFeel ) ? current"><span th:text="#{PersonalSettings.lookAndFeel.text}"></span></a></li>
                </ul>
            </nav>

            <div th:replace="__${view}__::innerHtml"></div>

        </section>
    </article>

    <!-- フッター -->
    <div class="footerPageTop" th:replace="template/Footer::FooterPageTop"></div>
    <footer id="globalFooter" th:replace="template/Footer::Footer"></footer>

    <!-- JS -->
    <script src="../../js/trinity/jquery-1.12.1.min.js"
        th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../js/trinity/jquery-ui.min.js"
        th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../js/trinity/bootstrap.min.js"
        th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../js/trinity/bootstrap-datepicker.ja.min.js"
        th:src="@{/resources/js/bootstrap-datepicker.ja.min.js}"
        th:if="${result.getLanguage()}=='ja'"></script>
    <script src="resources/js/trinity/clipboard.min.js"
        th:src="@{/resources/js/clipboard.min.js}"></script>
    <script src="../../js/trinity/main-min.js"
        th:src="@{/resources/js/main-min.js}"></script>
    <script src="resources/js/globalnav.js"
        th:src="@{/resources/js/globalnav.js}"></script>
    <script src="resources/js/search.js"
        th:src="@{/resources/js/search.js}"></script>
    <script src="resources/js/profile.js"
        th:src="@{/resources/js/profile.js}"></script>
    <script src="resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script src="../../js/trinity/trinity.common.js"
        th:src="@{/resources/js/trinity.common.js}"></script>
    <script th:inline="javascript" th:replace="__${view}__::js"></script>
    
</body>
</html>
