body {
	margin:0px auto;
	padding:0px 0px 0px 0px;
	font-size:10.2pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:#444444;
	background-image:url(../../images/bg.png);
	background-position:center top;
	background-repeat:repeat-y;
}

.tablemenu {
	width:100%;
	height:43px;
	background-position:left top;
	background-image:url(../../images/submenuback.png);
	border-collapse: collapse;
}

A:link { color="#0000FF"; }

A:visited { color="#800080"; }

A:active { color="#FF0000"; }

A:hover { color="#FFCC00"; }


table,th,td {
	margin:0px auto;
	border-spacing:0em;
	border-width:0;
	line-height:175%;
	word-break:break-all;
}

.contentable {
	border-left:solid 1px #c3c2c2;
	border-right:solid 1px #c3c2c2;
	border-collapse:collapse;
	border-spacing:0em;
	width:876;
	height:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-align:center;
	color:;
	background-color:#FFFFFF;
}

.bodytable {
	margin:0px auto;
}

table.datatable {
	border:solid 0px #f2f2f2;
	border-collapse:collapse;
	/* table-layout:fixed; */
}

td.lm {
	padding:3px 9px 3px 9px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

td.lm2 {
	padding:3px 9px 3px 9px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

td.lm3 {
	padding:3px 9px 3px 9px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
}

td.cm {
	padding:3px 9px 3px 9px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

td.cm2 {
	padding:3px 9px 3px 9px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
}

.img_lt-2 {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:#f8f8f8;
}

td.lm2 {
	padding:3px 0px 3px 9px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

td.cm-2 {
	padding:3px 9px 3px 9px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#EEEEEE;
}

.noscript {
	color:#FF0000;
	background-color:#FFFFFF;
}

.corporate_color_lib {
	background-color:#FFFFFF;
}

.header_user {
	padding:3px 0px 0px 0px;
	text-indent:0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:right;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	color:#0033FF;
	background-color:;
}

.txt_p9nlt {
	padding:3px 0px 0px 0px;
	text-indent:0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	color:;
	background-color:;
}

.txt_p9nct {
	padding:3px 0px 0px 0px;
	text-indent:0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	color:;
	background-color:;
}

.title_p10blt {
	padding:3px 0px 0px 0px;
	text-indent:0px;
	font-size:10pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	line-height:200%;
	letter-spacing:0.2em;
	white-space:;
	color:;
	background-color:;
}

.lbl_p9blt {
	padding:3px 0px 0px 50px;
	text-indent:0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	line-height:200%;
	letter-spacing:0.2em;
	white-space:;
	color:;
	background-color:;
}

.message_r {
	padding:3px 6px 0px 6px;
	text-indent:0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	color:#FF0000;
	background-color:;
}

.message_g {
	padding:3px 6px 0px 6px;
	text-indent:0px;
	font-size:11pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	color:#00d500;
	background-color:;
}

img { border:0px; }

.img_lt {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:;
}

.img_lt-2 {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:#f8f8f8;
}

.img_lm {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:;
}

.img_lb {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:bottom;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:;
}

.img_ct {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:;
}

.img_ct-2 {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:#f8f8f8;
}

.img_cm {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:;
}

.img_rt {
	padding:0px 0px 0px 0px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:right;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:;
}

.content {
	padding:0px 11px 0px 11px;
	font-size:10.2pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	color:;
	background-color:;
}

.bodyarea {
	padding:0px 0px 0px 0px;
	font-size:10.2pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:top;
	line-height:175%;
	letter-spacing:0.2em;
	background-image:url(../../images/bg_body2.png);
	background-position:center top;
	background-repeat:repeat-y;
}

.tablelef {
	background-image:url(../../images/tablelef.png);
	background-position:center top;
	background-repeat:repeat-y;
}

.tablerig {
	background-image:url(../../images/tablerig.png);
	background-position:center top;
	background-repeat:repeat-y;
}

.pulldown {
	width:180px;
	padding:0px 6px 0px 6px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	background-color:#f2f2f2;
}

.pulldown-2 {
	width:90px;
	padding:0px 6px 0px 6px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	background-color:#f2f2f2;
}

.login {
	width:300px;
	height:21px;
	border:solid 1px #AAAAAA;
	margin:0px 0px 0px 0px;
	padding:0px 6px 0px 6px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	background-color:#f2f2f2;
}

.typetext {
	width:520px;
	height:21px;
	border:solid 1px #AAAAAA;
	margin:0px 0px 0px 0px;
	padding:0px 6px 0px 6px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	background-color:#FFFFFF;
}

.typefchoice {
	width:450px;
	height:21px;
	border:solid 1px #AAAAAA;
	margin:0px 0px 0px 0px;
	padding:0px 6px 0px 6px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	background-color:#f2f2f2;
	float:left;
}

.textarea {
	width:520px;
	height:120px;
	border:solid 1px #AAAAAA;
	margin:0px 0px 0px 0px;
	padding:0px 6px 0px 6px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	background-color:#FFFFFF;
}



.i_message-2 {
	float:left;
	margin:2px 9px 0px 37px;
}

.line1 {
	background-color:#f2f2f2;
}

td.co_dc {
	color:#FFFFFF;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	/*font-weight:normal;*/
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#191970;
}

td.inc {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

td.inc_notright {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border-top: solid 1px #959595;
	border-bottom: solid 1px #959595;
	border-left: solid 1px #959595;
	border-right: none;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

td.inc_notleft {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border-top: solid 1px #959595;
	border-right: solid 1px #959595;
	border-bottom: solid 1px #959595;
	border-left: none;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

td.bld {
	padding:3px 3px 3px 3px;
	font-size:10pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#FFFFFF;
}

table.pjt {
	margin:0px;
}

td.search_co_r {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:right;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border-collapse:collapse;

}

td.search_co_l {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border-collapse:collapse;

}

td.co_dr {
	color:#FFFFFF;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	/*font-weight:bolder;*/
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#191970;
}

td.co_pl {
	color:#FFFFFF;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#259c3f;
}

td.co_ak {
	color:#FFFFFF;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#ff6347;
}

td.status {
	padding:3px 3px 3px 3px;
	font-size:11pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border-collapse:collapse;

}

td.env {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
}

td.env_r {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:right;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
}

td.ctl_dc {
	color:#FFFFFF;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	/*font-weight:normal;*/
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#ff6347 ;
}

td.bld_dc {
	color:#646464;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	/*font-weight:normal;*/
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#f0e68c ;
	/*background-color:#dec900 ;*/
}

td.bld_dc2 {
	color:#646464;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	/*font-weight:normal;*/
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#fffacd ;
	/*background-color:#dec900 ;*/
}

td.len_dc {
	color:#FFFFFF;
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	/*font-weight:normal;*/
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#b22222;
}

.typetext2 {
	width:300px;
	height:21px;
	border:solid 1px #AAAAAA;
	margin:0px 0px 0px 0px;
	padding:0px 6px 0px 6px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	background-color:#f2f2f2;

}

td.lib_dr {
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#d6d6e6;
	/*	table-layout:fixed; */
	/*background-color:#c8d1f1;*/
	/*background-color:#8b0000 ;*/
}

td.lib_dc {
	padding:5px 3px 1px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	text-align:center;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border:solid 1px #959595;
	border-collapse:collapse;
	background-color:#d6d6e6;
	/*background-color:#c8d1f1;*/
	/*background-color:#8b0000 ;*/
}


#screenTitle{
	position: absolute;
	top:-30px;
	right:0px;
}

td.cmnt_t {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:bolder;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border-collapse:collapse;
	color:#0000cd;
	background-color:#deebec;
}

td.cmnt_c {
	padding:3px 3px 3px 3px;
	font-size:9pt;
	font-family:"MS UI Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	line-height:175%;
	letter-spacing:0.2em;
	white-space:;
	border-collapse:collapse;
	background-color:#deebec;
}